[2021-01-06 22:09] j-towns commented on #16325
Haha yes I wasn’t claiming it was efficient 🙂. Perhaps I should have added an explicit warning.

[2021-01-06 22:43] mborgerding commented on #16325
Here's a numpy-only approach I coded up this morning (to fill the need that lead me here)

I have not profiled it, but it made my simulation acceptably fast.

[code]

[2021-01-07 01:20] BartMassey commented on #16325
Table-driven is probably the best choice for this situation, and this is a nice implementation. Thanks!

That said, still want a `popcount` primitive. :-)

[2021-01-07 06:32] netcaf commented on #17807
For you reference (Macbook M1),
OPENBLAS="$(brew --prefix openblas)" MACOSX_DEPLOYMENT_TARGET=11.1 pip3 install numpy pandas --no-use-pep517

It will install pandas-1.2.0 and numpy-1.19.5 successfully.

[2021-01-07 09:25] mattip commented on #13393
I think we can close this issue and declare the bounty complete. The original bounty says:

We have implemented the infrastructure needed to enable the porting of loops via Universal SIMD, and even ported some of the loops, so the enablement is complete.

[2021-01-07 10:04] DavidePatria opened #18132 "changing the prototype of stack function"
https://github.com/numpy/numpy/blob/92ebe1e9a6aeb47a881a1226b08218175776f9ea/numpy/core/shape_base.py#L358-L434

the doc should be written as the one of the concatenate function, as

np.stack((a1,a2,...),axis=0,out=none))

instead of using "arrays" to mean "(a1,a2,...)"

[2021-01-07 12:52] carlkl commented on #14574
When I read _Hierarchy and abstract classes_ from [NEP 42,](https://numpy.org/neps/nep-0042-new-dtypes.html) I can read out the following. A quadrupole-precision type should be implementing something like this in future:

[code]
@seberg with future numpy-1.21 or higher is what I assume is meant?

[2021-01-07 14:12] amerry commented on #18131
I can confirm that

[code]

doesn't segfault, while omitting the OPENBLAS_CORETYPE env var does.

[2021-01-07 14:15] amerry commented on #18131
It may be relevant that `/sys/devices/system/cpu/cpu0/regs` does not exist on this system.

[2021-01-07 14:42] eric-wieser commented on #18132
Can you elaborate on the change you're suggesting? Are you talking about the `parameters` section? The `examples` section?

[2021-01-07 14:51] seberg commented on #14574
@carlkl I hope 1.21 is what it means, I would have hoped to be closer to having it done, but thats life.  There doesn't need to be an abstract type, Float128 can be a subclass of an abstract Floating, but it doesn't necessarily matter too much to begin with, and those abstract dtypes don't even exist yet.

[2021-01-07 15:19] martin-frbg commented on #18131
While that certainly does not help with cpu detection, it should not cause a crash (and is actually a scenario that I _did_ test) - this is tried only after an unsuccessful getauxval(), and when the fopen() fails the function returns NULL (which is subsequently interpreted as an unknown/generic ARMV8 core)
I _think_ the only thing that could go SIGILL is the get_cpu_ftr() call which does a "mrs %0

[2021-01-07 16:30] maciej-jedynak opened #18134 "Masked array can be saved to file with ```numpy.savez()```, but after loading it, the mask is gone."
To the contrary ```numpy.save()``` seems safe, because when executed on a Masked Array, it raises the NotImplementedError, which is good, because the user does not fall in the trap of unconsciously loosing masks.
Nevertheless, it is possible with ```numpy.savez()```.

### Reproducing code example:
[code]

### NumPy/Python version information:

```In [10]:  import sys, numpy; print(numpy.__version_

[2021-01-07 16:40] amerry commented on #18131
GDB says yes:
[code]

With 1.19.4, that instruction never gets executed, as the tbz instruction just before it causes a jump past it:
[code]

w0 is 255, so bit 11 is zero. So HWCAP_CPUID isn't set.

In the numpy 1.19.5 code, that branch instruction is gone, and mrs is executed directly after the getauxval call:

[code]

The compiler seems to have reordered the instructions.

[2021-01-07 17:13] limburgher opened #18135 "numpy wants nonexistent numpy/core/src"
See https://bugzilla.redhat.com/show_bug.cgi?id=1913810, prevents building sympy.

[2021-01-07 17:29] martin-frbg commented on #18131
Thank you. I had actually looked at this (in the context of the PR that changed the keyword to `__asm__`) and wondered why this particular instance had not been labeled as volatile, but fooled myself with the argument that it "appeared" to have worked just fine for so long. (Could be the version included in 1.19.5 was built with a newer gcc or just subtly different options than before) OTOH, now t

[2021-01-07 18:07] amerry commented on #18131
I think the restructuring of the code you did caused the optimiser to make different decisions.

That's not good. The only thing I can think of that would definitely work is to pass the result of getauxval() into the asm, and do some branching within the asm.

[2021-01-07 18:34] charris commented on #18135
Wasn't there a fix for this? See #18100.

[2021-01-07 18:38] limburgher commented on #18135
So it'll be fixed in rc3?

[2021-01-07 18:49] charris commented on #18135
Hopefully. We are currently waiting on pyarrow, so I might put one out in a week or two, especially if the OpenBLAS compiler problems currently reported on AARCH64 get addressed.

[2021-01-07 18:50] limburgher commented on #18135
Ok, I'll keep an eye out.

[2021-01-07 18:56] mattip commented on #18131
We got around this in NumPy in [npy_get_floatstatus_barrier](https://github.com/numpy/numpy/blob/5cae51e794d69dd553104099305e9f92db237c53/numpy/core/src/npymath/ieee754.c.src#L594) by passing a dummy parameter into the function, which prevented reordering even with `-O3`

[2021-01-07 19:27] richwiss commented on #17807
This worked! I had to jump through a few hoops to get some packages installed and I'm not sure how many times the OPENBLAS argument was actually needed, but this got me through the installation of all the packages I wanted installed:

$ brew install python@3.9
$ brew install openblas
$ OPENBLAS="$(brew --prefix openblas)" MACOSX_DEPLOYMENT_TARGET=11.1 python3 -m pip install cython --no-use-pep517

[2021-01-07 20:49] rmwenzel commented on #18129
I see, thanks for clarifying, didn't know Python's built-in s`.any()` and `.all()`. Since this isn't a bug, I think it makes sense to close issue.

[2021-01-07 20:49] #18129 closed

[2021-01-07 23:43] ryanolf commented on #17807
Question for folks following this issue that's slightly off topic. I've installed scipy as above and am getting a segfault when I import scipy.integrate. I've filed a bug report [here](https://github.com/scipy/scipy/issues/13364#issue-781683689). Any one here able to import scipy.integrate after installing per above on M1? I figured I'd ask here as a bunch of folks here probably already have the s

[2021-01-07 23:47] richwiss commented on #17807
segfault here too.

[2021-01-08 01:17] edelsohn commented on #13393
I completely agree.  Sayed and the NumPy core developers have done an amazing job!

Do you want me to close the issue? I have been deferring to the NumPy developers.

[2021-01-08 06:14] mattip commented on #13393
Thanks @edelsohn. Agreed that the solution exceeded expectations. I will close it then.

[2021-01-08 06:14] #13393 closed

[2021-01-08 09:24] rgommers commented on #13393
Awesome, thanks everyone for the excellent work!

[2021-01-08 10:46] DystopianLphant commented on #18132
I'm talking about
`def stack(arrays, axis=0, out=None): `

the definition is not consistent with other numpy functions like concatenate. It took me a few minutes to realise the use was the same. not a big deal of course, if I looked at the examples I would have realised it, but I think it would be better if it were consistent over all functions

[2021-01-08 10:49] eric-wieser commented on #18132
What are you suggesting that line should be instead?

[2021-01-08 11:02] DystopianLphant commented on #18132
`numpy.concatenate((a1, a2, ...), axis=0, out=None)`
like this one

[2021-01-08 11:04] eric-wieser commented on #18132
Sorry, but we have to use legal python syntax:
[code]

[2021-01-08 11:30] oneiro-naut commented on #18112
`>>> np.lcm(219060189739591200, 43, dtype=object)
9419588158802421600

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OverflowError: Python int too large to convert to C long
`
It produced the following outputs @eric-wieser .

[2021-01-08 11:40] eric-wieser commented on #18112
Then the behavior is as expected. It is impossible for your original example to produce a correct result because the correct result cannot be stored in the return type.

[2021-01-08 13:33] samfux84 opened #18138 "Available Cython dependency ignored for numpy 1.19.5"
I created a venv in Python 3.7.4 and installed Cython 0.29.21 and then tried to compile numpy 1.19.5 from source, which always fails, claiming that the Cython 0.29.21 or newer is required. How can I convince numpy 1.19.5 to use Cython 0.29.21 that is present in the venv?

### Reproducing code example:
[code]

### Error message:

[code]

### NumPy/Python version information:

I try to install numpy

[2021-01-08 13:56] mattip commented on #18138
What happens if you replace
[code]

with
[code]

?

[2021-01-08 13:57] mattip commented on #18138
(also note OpenBLAS has released version 0.3.13 ...)

[2021-01-08 14:28] samfux84 commented on #18138
Same issue with a newer OpenBLAS version (0.3.7) and "python -m pip"

[code]

[2021-01-08 15:29] seberg commented on #18132
The concatenate docstring is a bit weird, because its signature line comes from C and is just  a string, but actually does include the invalid syntax. I admit it is probably nicer to read, so I am not sure we have to change it.

[2021-01-08 15:35] kennyfrc opened #18139 "Unable to pip install with Big Sur 11.1"
I recently upgraded to Big Sur 11.1, and I have tried to install numpy through the use of these two ways:

[code]
and
[code]
I used this as an [earlier reference](https://github.com/luxonis/depthai/issues/298) to no avail.

### Error message:

[code]

### NumPy/Python version information:

I tried to install numpy-1.19.5.

My python version is Python 3.9.0

[2021-01-08 15:42] kennyfrc commented on #18139
Apologies, this is a duplicate issue #17784

[2021-01-08 15:42] #18139 closed

[2021-01-08 15:53] kennyfrc commented on #17784
I'm using python3.9 on a Big Sur 11.1 and I can confirm that the following has worked for me:

[code]

[2021-01-08 16:16] cbrnr commented on #17784
The problem has been fixed in Homebrew, so with the latest `python` installed a simple `pip install numpy` works.

[2021-01-08 16:39] Muthsera opened #18140 "Docstring for return value of numpy.trapz"
The current docstring of the `trapz` function specifies the result to be a `float`.
In the case of integrating an nd-array along a single axis however, the result will also be an array (of a dimension smaller by 1).
This wouldn't be a problem at all, if it didn't mess up the static type checking of tooling such as IDEs (PyCharm in my case).

[2021-01-08 18:45] semion2019 commented on #17784
@kennyfrc The wheel is for intel chips. It doesn't work for M1 chips. I couldn't find a whl for M1 chips (arm64).
@cbrnr Didn't solve the issue. I just updated brew, brew install python and pip3 install numpy didn't work.
Big Sur 11.0.1
Apple M1 chip
python 3.9.1
pip3 20.3.3

[2021-01-08 18:56] cbrnr commented on #17784
You are right, the problem was only solved for x86.

[2021-01-09 05:01] whitty opened #18141 "Large memory overhead change in numpy==1.19.5 vs 1.19.4 on ubuntu 20.04"
### Background

We run our compile runs with daemontools to lock virtual memory usage to around 1GB per process (important when running very very parallel builds).  During update from 1.19.4 -> 1.19.5 our nightlies trip over code that uses numpy.

Fine with numpy==1.19.4 (1GB):

[code]

Needed to build with numpy==1.19.5 (1.7GB):

[code]

I've whittled it down to the smallest possible reproduction

[2021-01-09 06:41] seiko2plus commented on #13393
Thank you for everything <3

[2021-01-09 07:21] seiko2plus commented on #18058
@mattip, please be aware that `__cpu_features__` affected by the environment variable `NPY_DISABLE_CPU_FEATURES` which allows the user to disable certain features in runtime.

[2021-01-09 09:04] seiko2plus commented on #18135
Thank you for your report.
This bug has been reported by #18092, and already resolved by #18100 as @charris mentioned.

[2021-01-09 09:07] #18135 closed

[2021-01-09 09:33] ArefAz commented on #18131
I had the same issue. Had to Reinstall **NumPy version 1.19.4** manually to fix the error.

[2021-01-09 10:52] picn0113 commented on #18138
You are using pip version 19.0.3, however version 20.3.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

[2021-01-09 11:38] cifkao opened #18142 "random.Generator.shuffle() warns about ragged nested sequences"
With a "ragged nested sequence", `Generator.shuffle()` triggers a warning in `asarray()`. This is unexpected, since I'm only trying to shuffle the sequence, not convert it to a NumPy array.

This only happens with `Generator` and not with `random.shuffle()`.

It is unclear how to call `shuffle()` without triggering this warning.

### Reproducing code example:

[code]

### Error message:

/ldaphome

[2021-01-09 11:47] cifkao commented on #18142
This actually seems to be triggered by `np.ndim`. This is called by `Generator.shuffle` in order to support the `axis` parameter.

It seems like `len()` should be used instead for non-NumPy sequences when `axis == 0`.

[2021-01-09 12:01] ronaldoussoren opened #18143 "Please provide universal2 wheels on macOS"
## Feature

The binary wheels for macOS on PyPI are currently for x86_64. Please also provide a universal2 wheel (x86_64 and arm64) for use with the (currently experimental) universal2 Python 3.9.1 installer on Python.org.

[2021-01-09 13:39] charris commented on #18141
OpenBLAS is more memory greedy by default. The short history of this difficulty is:

- 1.19.3 uses newer OpenBLAS to work around fmod problem, uses more memory by default https://github.com/xianyi/OpenBLAS/issues/2970
- 1.19.4 uses older OpenBLAS, has fmod problem
- 1.19.5 uses even newer OpenBLAS to work around fmod problem, tries to use less memory

These memory problems seem docker specific, I

[2021-01-09 14:01] martin-frbg commented on #18141
Hm, I thought numpy had settled for building OpenBLAS with `BUFFERSIZE=22` to keep the "old" memory footprint with 32MB GEMM buffers (at the expense of risking segfaults with large matrix sizes) ?

[2021-01-09 14:28] charris commented on #18141
@martin-frbg It is actually `BUFFERSIZE=20`. This may be a different problem, but it looks the same at first glance.

[2021-01-09 16:29] seberg commented on #18142
Since the function is documented to support sequences, I agree that this was an oversight. Technically a regression in 1.18 (the API was new in 1.17 though).

[2021-01-09 18:47] Shaurya2525 commented on #18112
Thanks @oneiro-naut and @eric-wieser
Is this true then:

In Python 3, "int" is an arbitrary precision type but numpy still uses "int" to represent the C type "long"?

[2021-01-09 18:55] mattip commented on #18141
@whitty what is the lower bound of the `softlimit` for 1.19.3 (and if it is not too much trouble 1.19.2)?

[2021-01-09 18:57] #18106 closed

[2021-01-09 19:23] eric-wieser commented on #18112
Yes

`np.dtype(int)` is the C long type - but `np.array(2**62)` will always pick np.int64 which is sometimes "long long".

[2021-01-09 20:48] rgommers commented on #18040
Don't worry about the warning.

No issue to fix in NumPy, Matti already gave the correct workaround, so I'll close this now.

[2021-01-09 20:48] #18040 closed

[2021-01-09 21:10] rgommers commented on #18143
Thanks @ronaldoussoren, we hope to do so when it's feasible (in addition to thin `arm64` installers, which seem preferable long-term). One blocker is that we build all our wheels on CI services, and none of them support MacOS ARM64 yet. And none of us have the hardware at the moment.

We also still have some issues, in particular this build issue: gh-17807. And this performance issue: gh-17989.

I

[2021-01-09 21:15] rgommers commented on #17987
This should be picking up a `1.19.x` wheel though - maybe `pip` too old?

[2021-01-09 23:37] whitty commented on #18141
Updated table in original:

| version | approx minimum import limit |
| ------- | -----------------|
| 1.19.4  |  `softlimit -a 400000000 python3` |
| 1.19.5  |  `softlimit -a 1200000000 python3` |
| 1.20.0rc2  |  `softlimit -a 1200000000 python3` |
| 1.19.3  |  `softlimit -a 1200000000 python3` |
| 1.19.2 |  `softlimit -a 400000000 python3` |

[2021-01-10 00:07] whitty commented on #18141
For reference I get get numpy==1.19.5 loaded in a limit of 400000000 (some as 1.19.4) using `OPENBLAS_NUM_THREADS=3`.

Relating this to number of threads changes my view of this somewhat - `softlimit -a` is restricting all process _mappings_ - not actual memory usage.  It sounds like the culprit here is threads reserving their stacks, which doesn't seem like a risk to us for limiting concurrent me

[2021-01-10 01:02] charris commented on #18141
No :) I'm just spitballing. Someone who knows more about how OpenBLAS preallocates memory will need to address that. I find it curious that the memory usage didn't change between 1.19.3 and 1.19.5, my understanding is that it should have gone down, although I suppose that it is possible that the number of threads allocated increased in 1.19.5.

[2021-01-10 01:19] znmeb commented on #18131
I'm running into this on an NVIDIA Jetson (aarch64) - took me a while to isolate it. Funny thing is that it fails in a virtualenv but seems to be working if you install it at the system level. The NVIDIA NGC containers from https://github.com/dusty-nv/jetson-containers install `numpy` directly into the system libraries and they don't have this issue.

[2021-01-10 04:55] rmwenzel commented on #18129
There's open issue already #4352

[2021-01-10 09:17] ronaldoussoren commented on #18143
I ran into gh-17807 myself, my crude workaround was to remove the code adding "-faltivec" from setup.py. That worked for me, but is not a proper solution.  I'm a very light user of numpy through pandas at best, I'm basically only using pandas to create graphs from a couple of CSV files with some light calculations.

That said, I can't promise quick responses but feel free to let me know if there's

[2021-01-10 09:50] mattip commented on #18143
Accelerate should be avoided for NumPy as it has bugs. NumPy doesn't use gfortran, SciPy does. But there currently no arm64-darwin OpenBLAS build on https://anaconda.org/multibuild-wheels-staging/openblas-libs/files. I am not sure how we would build that without support for arm64-darwin from a CI system.

[2021-01-10 09:54] mattip commented on #18143
I opened MacPython/openblas-libs#49 about building OpenBLAS for Allple M1 silicon.

[2021-01-10 10:20] ronaldoussoren commented on #18143
For *building* you only need a CI system that provides macOS 11 hosts, or with some effort macOS 10.15 hosts with Xcode 12.2.   For *testing* you actually need M1 systems in the CI system, which will likely be a blocker for you and could take some time (I have no idea how constrained the supply of M1 systems is, but I expect that a CI provider like Azure Pipelines will require a lot of M1 systems)

[2021-01-10 10:22] ronaldoussoren commented on #18143
Have you (the numpy project) files bugs about this in Apple's tracker? Or are these bugs in numpy's use of Accelerate?

[2021-01-10 10:43] rgommers commented on #18143
Yes, multiple. Also other scientific projects - Apple basically doesn't care and hasn't been serious about maintaining Accelerate in a long time. Not enough value in it for them I guess.

SciPy has more linear algebra functionality than NumPy, and dropped Accelerate earlier than NumPy.

We have two good options for BLAS/LAPACK - OpenBLAS (our default for wheels) and Intel MKL. So we'd rather spend

[2021-01-10 10:47] rgommers commented on #18143
Yes, I'd be very nervous about releasing something that we can't test. Our stance for other platforms (e.g. Linux on ARM64) is that CI services need to be available; in the absence of that we merge fixes but don't release wheels.

Thanks!

In addition to what @mattip said, here is the actual wheel build machinery: https://github.com/MacPython/numpy-wheels

[2021-01-10 10:48] ronaldoussoren commented on #18143
I feel your pain, I'm hearing similar experiences from app developers and most issues I've filed with them have gone completely unanswered :-(

[2021-01-10 12:05] martin-frbg commented on #18141
Nope, OpenBLAS does not currently do resource detection beyond counting the number of available cores.Is that number constant for all entries in your table of minimum softrlimits above ? (In a way it would make me happy if the problem turned out to stem from something entirely different than the GEMM buffer, but I do not remember anybody creating huge sinkholes elsewhere in the code)

[2021-01-10 13:03] jvansanten opened #18145 "Indexing a 1D array with a boolean tuple of length > 32 raises SIGABRT"
Indexing an array with a boolean tuple of length >= 33 causes a stack overflow, whereas tuples of length <= 32 do not. I ran into this with some [contributed] code that expected list-like masks and got tuples instead. While there are probably few situations where you would want to index like this, it's probably better to check the input and raise an exception than to take down the whole process.

[2021-01-10 13:54] lseongjoo commented on #17807
Works flawlessly. Data science full stack is possible without too much trouble with Apple Silicon. Much appreciate for all the hard work.

[2021-01-10 14:45] seberg commented on #18145
While the error comes from a potentially unexpected place on linux, I can't reproduce it. Just to be sure, you are not running on a apple silicon M1?

[2021-01-10 15:01] seberg commented on #18145
Nevermind, as the traceback reads, its a stack issue so just can be hard to reproduce.

[2021-01-10 18:50] jvansanten commented on #18145
It appears that I simplified the test case too far on my local machine. In the Linux environment where I encountered this first (`1.19.2 3.8.6 | packaged by conda-forge | (default, Oct  7 2020, 19:08:05)
[GCC 7.5.0])`, the 33-element tuple raises an exception, as it is probably supposed to:

[code]

If I increase the length of the tuple to 34, however, I get a segfault with the following backtrace

[2021-01-10 20:54] seberg commented on #18145
Thanks!  Increasing the number makes it reproducible easily (anything between 32 and 64 probably is technically broken), I already found the underlying issue and know the fix. I will fix it in the next few days, unless someone has interest in digging into it. (It is likely that this was unreachable code for a good time – although even then it has been around for many years.)

[2021-01-11 04:32] jrfiedler opened #18147 "Issues with np.unique when dtype="object""
There are issues with `numpy.unique` when an array has dtype "object"
1. when there are incomparable types in the array, an exception is raised
2. when the types are all numeric, but the array contains `NaN`, the result is incorrect.

Both of those issues seem to be caused by issues with `sort`.

Are `unique` and `sort` known to not work when the dtype is "object"? I didn't see any indication in t

[2021-01-11 07:11] samfux84 commented on #18138
I could find another solution, which does not require numpy 1.19.5. I am therefore closing this issue. Thank you for your help.

[2021-01-11 07:11] #18138 closed

[2021-01-11 08:27] whitty commented on #18141
Yes the only difference between the runs are the installed version of numpy

[2021-01-11 09:45] eric-wieser commented on #18147
Both of these are expected behavior, and match the behavior of the builtin `sorted` function on lists.
We should probably update the documentation for `sort` to clarify that nans are sorted to the end _only for arrays of subtypes of `np.inexact`_.

[2021-01-11 14:46] BvB93 commented on #18096
@rgommers If the plan is to expose them then I'd definitely agree with you.

The current aliases are IMO too useful to remove in their entirety, so instead I'd propose to just give them a more apropiate. Perhaps something along the lines of `_IntLike_co` and `_FloatLike_co` (the same holds for [`_ArrayLike<X>`](https://github.com/numpy/numpy/blob/master/numpy/typing/_array_like.py))?

[2021-01-11 15:42] rgommers commented on #18096
`_co` sounds good to me.

[2021-01-11 18:36] cosama opened #18151 "Add support for more complex signatures to ufunc"
## Feature

This feature request is a follow up of https://github.com/numba/numba/issues/6617.

I am not familiar enough with `ufunc` to understand the feasibility or even if this is already possible when implementing "pure" `ufunc`s. However, a similar use case is the `numpy.vectorize` class which takes a `signature` argument.

What I would like to do is to perform simple arithmetic operations in

[2021-01-11 19:28] cserpell commented on #17937
It is happening for me, using python 3.9 in a completely clean new virtualenv. It seems, as mentioned, it is because the change from `tp_print` to `tp_vectorcall_offset`. I cannot install numpy. I am using cython version 0.29.21.

[2021-01-11 19:35] seberg commented on #17937
I am still confused by this. Are you installing from source? In that case, maybe try a `git clean -xdf` (make sure to have no code changes applied or custom `site.cfg`). Also just to be sure `python3.9 -mcython -V` (assuming the python executable you are using is `python3.9`) is the right version and the `pip` you are using is right, by using `python3.9 -mpip` instead of pip directly, just in case

[2021-01-11 19:58] seberg commented on #18151
Hmmm, this is an interesting problem. If we go down this road, I am wondering if this should actually go one step further:
Instead of allowing a more complex mini-language, expose a "transform" hook/function that returns the shape and axes mapping that we need to set up the iteration.  (I have to carefully think how it fits with [NEP 43](https://numpy.org/neps/nep-0043-extensible-ufuncs.html), but

[2021-01-11 20:28] mhvk commented on #18151
I like the idea very much! But implementing it directly will not be super easy - as it is, the code is not really set up to deal with relations between dimensions. It would also need some strong use cases (I'm still a bit sad my `n|1` idea for broadcastable core dimensions ended up not accepted, and that was mostly because the use case was considered too weak).

I do really like @seberg's suggesti

[2021-01-11 21:14] Illviljan opened #18153 "Improve performance of tril_indices and triu_indices"
`tril_indices`  and `triu_indices`  uses `nonzero` to get the indices. np.nonzero seems rather slow compared to other methods I've tested.

### Reproducing code example:

[code]

### NumPy/Python version information:

`print(np.__version__, sys.version)`
1.17.5 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]

[2021-01-11 21:39] #18117 closed

[2021-01-11 21:45] cserpell commented on #17937
I am sorry, I was trying to install a previous version of numpy. Current version installs ok with python 3.9. It is ok now.

[2021-01-11 21:49] seberg commented on #17937
Thanks for the followup, will close the issue then.

[2021-01-11 21:49] #17937 closed

[2021-01-12 07:02] jaskij commented on #17620
I only know basics of Python, but can offer some testing under Yocto/OpenEmbedded if it would help.

[2021-01-12 07:05] virtuald commented on #17620
I'm really sorry, but my scheduled got filled up so this set of PRs still has some loose ends. Might be able to do it later this month, I'm still interested in the topic.

[2021-01-12 07:08] jaskij commented on #17620
We've all got our lifes, no problem. I found this series after 12+ hours fighting with SciPy and Yocto and just couldn't pass by. It's great that you haven't abandoned it.

As an additional question - any chance of backporting this to 1.17? That's what's included in Yocto's current LTS.

[2021-01-12 08:22] fievelk commented on #17807
@charris Has the decision been made regarding the 1.20.0 release?

[2021-01-12 08:35] jyang19class commented on #18071
Hmm bit late, not sure if a piecewise function is intended to return more output than input. Could this be done with just pandas by indexing based on your condition  and then using the apply function.

df[condition].apply(function) or using .loc, .iloc

[2021-01-12 08:39] eric-wieser commented on #17620
Numpy only maintains two versions at a time - so the only versions this patch could reach are 1.19 onwards, and it's likely that this won't make 1.19 at all.

[2021-01-12 10:12] v1gnesh commented on #18071
As they say, `apply` is a convenience function & not the one to go for, if performance is important.

[2021-01-12 10:26] touqir14 commented on #17403
I am working on this and I have two questions. Firstly, some of the functions in ```numpy.lib.arraysetops``` return an array of unique values. Should the addition of ```return_index```, as an argument, return indices corresponding to any one of the duplicate values in the input array or will the index array contain all the indices of those values?

For example, should ```numpy.setdiff1d``` do the

[2021-01-12 11:38] Gnoblin44 commented on #8300
@mattip so I was able to sync the fork but now another problem has appeared. I cannot push my local repo to origin.
I've tried ```git push origin master``` and ```git push -u origin master```.
I have also commited the branch

[2021-01-12 11:58] Gnoblin44 commented on #8300
Im using the binary version of VSC

[2021-01-12 12:23] mattip commented on #8300
You cannot push to origin. You need to
- fork this repo (look at the top right corner of this page)
- push your branch to your repo
- issue a pull request

[2021-01-12 13:23] melissawm commented on #17513
It looks like this can be closed - if the newest polynomial documentation is still not sufficient, feel free to re-open.

[2021-01-12 13:23] #17513 closed

[2021-01-12 13:27] #17073 closed

[2021-01-12 13:40] charris commented on #17807
Pyarrow release or end of month, whichever comes first.

[2021-01-12 14:40] melissawm commented on #12294
Is there anything left to do in this issue or can it be closed?

[2021-01-12 14:48] melissawm commented on #12193
Unless we have concrete suggestions for improvements to the current documentation, I'm assuming this issue is no longer relevant. Feel free to re-open.

[2021-01-12 14:48] #12193 closed

[2021-01-12 14:51] melissawm commented on #12100
Closing this as it does seem to be fixed in the [current documentation](https://numpy.org/doc/stable/reference/generated/numpy.gradient.html).

[2021-01-12 14:51] #12100 closed

[2021-01-12 15:10] #12294 closed

[2021-01-12 18:28] cosama commented on #18151
@seberg @mhvk Thanks for the fast reply and all the great links. I am very happy to see that there is actually some interest in this idea. I really like the idea of a "transform" hock/function, that would for sure address my needs.

I suspect it indeed might be hard to argue for this though as direct use cases seem limited (I really only can think of the histogram one right now). I am happy to do

[2021-01-13 01:28] mdhaber opened #18158 "`percentile` and `nanpercentile` taken along axis of zero length behave differently"
I'm working on closing some old issues with `scipy.stats.scoreatpercentile`, and I noticed that when performing `percentile` along an axis of zero length, it raises an `IndexError`, whereas other functions, like `nanpercentile`, `mean`, and `std`, return NaN. I am not personally bothered by inconsistencies in these sorts of edge cases, but it would help if this were fixed here so I don't need to p

[2021-01-13 06:47] AnandShiva commented on #14532
@vishalsharai-trail how did you install sudo apt-get install libatlas-base-dev in lambda function?

[2021-01-13 09:30] ernestum opened #18159 "Documentation is down"
## Documentation

The numpy documentation at https://numpy.org/doc is down (I get an 404 error)

[2021-01-13 09:40] diraniyoussef commented on #17975
I worked after I installed the latest version numpy in PyCharm. I was using sympy.plot
glad it worked.

[2021-01-13 10:01] rgommers commented on #18159
Thanks. We know, working on it in https://github.com/numpy/numpy.github.com/pull/1

[2021-01-13 10:05] ernestum commented on #18159
Oh sorry for the duplicate then

[2021-01-13 10:06] rgommers commented on #18159
no worries, I'll leave this open till it's fixed, or someone else will open a new issue

[2021-01-13 10:55] nfnpmc commented on #16143
The new page " https://numpy.org/devdocs/user/troubleshooting-importerror.html " returns 404! This helps a lot!

[2021-01-13 11:31] rgommers commented on #18143
@ronaldoussoren will the universal2 python.org installer pick up thin arm64 wheels if they are available and Python is started in native mode?

[2021-01-13 12:00] ronaldoussoren commented on #18143
That's more a pip question than python version, but yes pip will use arm64 wheels when running in natively on M1 Macs.

[2021-01-13 12:04] matthew-brett commented on #18143
@ronaldoussoren - sorry - just checking because I was surprised.  You're saying that if I do:

[code]

on an M1 machine, using the Python.org `universal2` Python,  and PyPI only has an `arm64` wheel for Numpy, it will neverthless install that wheel, even though it does not satisfy the `x86_64` part of `universal2`?

[2021-01-13 12:40] ronaldoussoren commented on #18143
That's correct. That's something that surprised me too.

Even worse (IMHO) pip will prefer a native wheel over a universal2 one.  Most users won't care, except for folks like myself that wish to redistribute binaries to other systems (in my case mostly using py2app). I've filed an feature request about that, but the pip team is not convinced yet that preferring universal2 wheels for a universal2 b

[2021-01-13 12:56] matthew-brett commented on #18143
@ronaldoussoren - ouch! - and thanks for working that through, that's very helpful.

[2021-01-13 13:01] rgommers commented on #18143
Interesting. I'm not sure that's a bad thing. There are scientific packages that already exceed the PyPI version limit, so a doubling of wheel size for what (for scientific libraries) is a very niche use case doesn't seem very sustainable.

I didn't have the energy to jump in that packaging discussion, but I suspect scientific libs may prefer thin wheels. We work hard on keeping binary sizes reaso

[2021-01-13 13:02] mattip commented on #18159
Should be working now. Please reopen if something is still not working.

[2021-01-13 13:02] #18159 closed

[2021-01-13 13:59] ronaldoussoren commented on #18143
Yeah, I noticed that some some packages are very large. Those can always choose to not provide universal2 wheels at all, that will work for most users.

At a risk of going completely off-topic, I'd like to have more control on what gets installed than pip is currently giving. When I'm doing something on my local machine only I might prefer a thin wheel (smaller, faster install), but when I intend

[2021-01-13 14:11] rgommers commented on #18143
More control would be nice indeed, if `universal2` stays - perhaps as both a `pip` command line argument and `.rc`-file setting.

I'd actually prefer if it didn't stay, because also for redistribution there isn't much reason to do it as `universal2`. The only good argument I saw was "it's less effort to introduce". There is no other situation where we mix OS and hardware platform support. The old

[2021-01-13 14:15] matthew-brett commented on #18143
Just superficially, wouldn't it be more simple for Python.org to provide separate M1 and x86_64 installers - as it does for Windows 32 and 64 bit?

It's hard to imagine many people using the `universal2` Python.org Python and always / mostly doing:

[code]

And, as Ralf says, I bet that will usually break, when you get to install packages.

[2021-01-13 15:03] ronaldoussoren commented on #18143
Separate installers requires users to understand what kind of machine they have.  With a universal2 installer things just work in that regard. The only problem is when projects do no provide wheels with native code for arm64 (either universal wheels or thin arm64 wheels), but that should correct itself in due time (especially once M1 systems are available in cloud CI systems).

I expect that it wi

[2021-01-13 15:10] matthew-brett commented on #18143
I don't think it's much to ask of a user that they know they have an M1 Mac, honestly.  And for now, it would be reasonable to make the x86_64 installer the default, so they have to specifically ask for the M1 build.   I presume an x86_64 build will also work on M1 via Rosetta?

What happens for:

[code]

Does this look for an `x86_64` wheel before a `universal2` wheel?

[2021-01-13 15:11] mattip commented on #18143
I don't understand what problem universal2 pip packages solve. If the package is pure-python, pip will download that. If the package has c-extension modules, pip should choose the proper hardware model.

[2021-01-13 15:19] matthew-brett commented on #18143
I think the problem they solve is where the user sometimes wants to run Python in M1 mode, and sometimes in x86_64 mode.

They can choose their mode with the `arch -x86_64` prefix.

`universal2` wheels should properly install code for M1 and for x86_64, so `python -m pip install numpy` will mean that both of these will work after that single pip install.

[code]

The other problem is the one Ronal

[2021-01-13 15:34] rgommers commented on #18143
That's specifically a general "Mac end user" problem though, and is unrelated to PyPI and wheels. Having thin wheels plus the right `py2app` tooling to glue two thin wheels together in a single `.pkg`/`.dmg` installer would be much better.

[2021-01-13 15:36] rgommers commented on #18143
Agreed, at least 6-7 years I'd think.

[2021-01-13 15:37] seberg commented on #18158
The shape seems clearly a bug.

`nanpercentile` and `percentile` should ideally return the same thing as well. I don't have much of an opinion on error vs NaN. (Percentile does seem a bit less clear than mean, which naturally goes to `0/0`, but especially with axis, a NaN result may be useful).

[2021-01-13 15:38] seberg commented on #16143
There was a brief outage of most of the website.

[2021-01-13 19:25] andfranklin opened #18160 "Troubles installing Numpy 1.19.5 with Python 3.9.1 on macOS BigSur with Apple silicon"
I'm not 100% sure if this is an issue with numpy or with me, so I'm cross-posting [my stackoverflow](https://stackoverflow.com/questions/65708176/troubles-installing-numpy-1-19-5-with-python-3-9-1-on-macos-bigsur) question here.

### NumPy/Python version information:

- Python 3.9.1
- Numpy 1.19.5

### Reproducing code example:

[code]

### Output

[code]

[2021-01-13 19:52] charris commented on #18160
What hardware?

[2021-01-13 19:59] andfranklin commented on #18160
<img width="198" alt="Screen Shot 2021-01-13 at 12 58 44 PM" src="https://user-images.githubusercontent.com/13019685/104504011-74a80580-55a7-11eb-9c47-86db6246ab94.png">

Do you need more info?

[2021-01-13 20:02] charris commented on #18160
No :0 M1 is not supported, we are working on it but we also need hardware testing support that we do not yet have. There are other issues open for this.

[2021-01-13 20:05] andfranklin commented on #18160
Ah, thanks for the info!

[2021-01-13 21:30] martin-frbg commented on #18141
I'm beginning to suspect this is all caused by the BUFFERSIZE=20 workaround not actually getting through to the compiler/preprocessor when building with gmake. (Looks like I dropped a crucial bit of my original patch that would make Makefile.system append the user-supplied BUFFERSIZE declaration to the CCOMMON_OPT). That _is_ a bit embarassing...

[2021-01-14 06:29] leofang commented on #14753
Sorry @seberg that I dropped the ball...

Am I understanding it correctly that these are the two facets of the same problem, so if we fix one we fix them all? What if we make `complex32` a bit more restrictive than other dtypes by, say, making it only safe to cast to/from `complex64` but nothing further? Would it help to maintain the current type hierarchy as is? I don't know if it's even possible

[2021-01-14 06:29] mattip commented on #18141
xref xianyi/OpenBLAS#3066

I added that change as a patch to openblas-libs and triggered a build in MacPython/openblas-libs#50. Once the tarballs are uploaded, I can try to play with the resulting openblas and see if it fixes this issue.

[2021-01-14 08:15] Harmenius opened #18165 "bool_ no longer a dtype in 1.20.rc2"
This is my first bug report so please bear with me if I made a mistake or left out some vital information.
When upgrading from `numpy==1.18.1` to `numpy==1.20.rc2`, one of my unit tests broke. It was running the equivalent of
[code]

I don't know if you are already aware of this issue (searching did not turn up anything) or if the pandas developers are aware of this already and will change their i

[2021-01-14 09:34] mattip commented on #18141
For me the script
[code]

gave these results:
| version | minimum XXX |
| ------- | -----------------|
| 1.19.3  |  34 |
| 1.19.4 |  11 |
| 1.19.5 |  34 |
| with MacPython/openblas-libs#50 | 11 |

so once @martin-frbg makes that fix official we can build new openblas libs.

Aside: building with our openblas in a conda environment with openblas installed is painful: you need to override LDSHARED si

[2021-01-14 12:39] jorisvandenbossche commented on #17965
Late reply, but thanks a lot for the quick follow-up and deprecation!

Justed tested this, and this should work for us. There is still a difference compared to < 1.20: now `__array_interface__` is accessed (and so a return value constructed), while before it was never even accessed at all. But that shouldn't be a problem for us (I only noticed it because for a mock in a test the property did `rais

[2021-01-14 13:32] jaskij opened #18167 "Outdated site.example.cfg OpenBLAS warning"
## Documentation

Both in 1.19.5 and in master `site.example.cfg` reads:

[code]

Given that Python 3.4 is EOL, and OpenBLAS is currently at 03.13, what has changed? Can this warning be disregarded/removed entirely for newer version? Or is there still some precautions to take?

[2021-01-14 14:56] jorisvandenbossche commented on #17965
Actually, I spoke too soon. The latest numpy gives a lot of failures in the geopandas test suite ...
The reason is that Shapely actually *does* raise NotImplementedError in some of the `__array_interface__` properties.

A small example without relying on Shapely, adapted from above:

[code]

So it's not anymore about the direct array creation with `np.array([poly])` (which now raises a deprecation

[2021-01-14 15:02] jorisvandenbossche commented on #17965
In one of the tests added in https://github.com/numpy/numpy/pull/17973, there is a note:

So this doesn't seem to be true in practice? If the result would actually be ignored (or the error catched and ignored), then the issue would be fixed I think?

[2021-01-14 16:09] seberg commented on #14753
Yes, you could hack around the ufunc behaviour by not allowing safe casts that are normally around (as well as promotions).  NumPy currently uses "safe casting" semantics for promotion (in ufuncs mostly), which in my current opinion mixes two concepts that do not really quite fit.

My hesitation is that `float16` is not very limited or special, even though it also is de-facto in the same category.

[2021-01-14 16:19] seberg commented on #17965
Heh, there was another issue with shapely, which lead us to ignore less errors when calling `__array_interface__` (gh-17785), etc. That probably is the reason for this change (i.e. gh-17817).

I am wondering now if I should go the 1.19.x route and only catch clearly "bad" errors (recursion and memory error), or keep it as is here and catch all errors but we add catch `NotImplementedError` explicit

[2021-01-14 16:59] seberg commented on #18165
Seems like a fixed pandas bug, the line `isinstance(np.bool_, type(np.dtype))` did change behaviour, but doesn't make much sense to begin with (if anything, it should be `isinstance(np.bool, np.generic)`).  Unfortunately, the only solution is probably to upgrade pandas as well (I only checked that 1.0 doesn't have the fix yet).

[2021-01-14 17:04] Harmenius commented on #18165
Right, so I was using incompatible version and can fix it by downgrading (which I did) or properly upgrading (which I will do). In the future, I suppose I should check pandas before posting a bug report.
Thanks! Closing.

[2021-01-14 17:04] #18165 closed

[2021-01-14 17:10] hawkinsp opened #18168 "BUG: Crash on array/scalar type equality in debug-mode CPython interpreter"
Comparing a Numpy array against a Numpy scalar type causes an assertion failure in the Python interpreter. To see the assertion failure, Python must be built in debug mode (with assertions enabled).

### Reproducing code example:

[code]

Complete repro, using `pyenv` and `pyenv-virtualenv`:
[code]

### Error message:

Backtrace:
[code]

### NumPy/Python version information:

[code]

(I've also re

[2021-01-14 17:11] seberg commented on #18165
Yeah, frankly, it would be nicer if a year old pandas would work without issues. But yeah, generally it is better if the base package (NumPy) is not (too much) newer than the downstream (pandas).
For NumPy the usual safe bet is that ~1 year newer should be fine (i.e. you may see warnings but everything works), this is an unfortunate exception.

[2021-01-14 18:14] seberg commented on #18168
I am not too surprised that we still have such errors in NumPy. I couldn't reproduce it immediately using the debug version shipped with debian (maybe it doesn't have full asserts).
If you can do it very quickly, does `2 == np.bool_` and/or `np.array([2]) == np.bool_` have the same problem?

[2021-01-14 18:25] seberg commented on #17965
Oh, I didn't fully parse your last comment.  So I guess raising the error may be fine for shapely/you if we ensure there is a special case for `object + last dimension reached` (which is not relevant except for the assignment case).  That special case is probably missing in the dtype discovery code right now. (Note: that would not help with `np.array(..., dtype=object)`, however)

[2021-01-14 18:26] hawkinsp commented on #18168
`2 == np.bool_` is fine.

`np.array([2]) == np.bool_` crashes.

Here's another example:
[code]

I think the key is that `np.bool_` has an `__array_priority__` member but it isn't a function:

[code]

[2021-01-14 18:35] seberg commented on #18168
Thanks, great debugging/tracking down! That explains where the error originates, I was thinking of the wrong place first and couldn't make sense of it.
The issue is here: https://github.com/numpy/numpy/blob/79d23f0bdc6a5e6bcd280cd93f73fabca8e2469f/numpy/core/src/common/binop_override.h#L148 although it is not quite clear of `GetPriority` might suppress the error (I don't like error supression for

[2021-01-14 19:03] seberg commented on #17965
@jorisvandenbossche to decide how to best fix this:
* `np.array(Polygon(), dtype=object)`  → Should not error, or is it allowed to error?
* `np.array([Polygon(), dtype=object])` → Same question

Maybe @eric-wieser will also have a quick opinion.  The question is whether this `NotImplementedError` is expected to never show up, or only show up in certain conditions.  I take it as granted that:
[code

[2021-01-14 22:10] melissawm commented on #9419
If this is still relevant, I'm wondering if the best place to add this discussion on the `@` operator is [this page on linear algebra](https://numpy.org/devdocs/reference/routines.linalg.html). Note that this page is actually a mix of common linear algebra operations and functions in the `np.linalg` module - maybe they should be split up? Finally, the [ndarray](https://numpy.org/devdocs/reference/

[2021-01-14 22:47] melissawm commented on #11052
Is this something we still want to do? I'm guessing since this hasn't been brought up in a while that we don't need the man page, and this issue can be closed.

[2021-01-15 00:53] sandrotosi commented on #11052
i would still like to have a manpage associated with the tool, at least that's what we prefer in Debian to have (but it's definitely not a strong requirement)

[2021-01-15 06:00] beckyhsuuuuu commented on #11451
same problem to me while trying installing pandas under macos big sur 11.1
python is 3.8 and pip is 20.3.3

[2021-01-15 09:44] rgommers commented on #9419
I would say yes to mentioning `@` there and a one line to one paragraph summary of what it does. Not all users know what it is, so that would make it more discoverable. For the rest it should refer to the `matmul` docs I'd say.

I don't think so. The docs are arranged by functionality, not by module. And the split between linear algebra functionality in the main namespace and the `linalg` one is m

[2021-01-15 14:40] jorisvandenbossche commented on #17965
For the first two cases:

I think it would be nice if they don't start erroring *now* (since it works in released numpy). But if numpy would prefer to bubble up the error, maybe something similar could be done as for the case that `__array_interface__` doesn't error: raise a warning that in the *future* this object will be coerced as `np.array(obj)`(and thus in this case will effectively raise the

[2021-01-15 15:06] nschloe opened #18170 "`np.float64(np.nan) % 1` gives warning"
The following operations correctly return `nan` without warning:
[code]
So do
[code]
Taking `%`, however, does give a warning:
[code]
[code]
This inconsistency extends to all numpy float types.

[2021-01-15 15:16] Stigjb opened #18171 "the `equal` ufunc raises an exception where `==` works fine"
### Reproducing code example:

[code]

**Expectation**: all three expressions should return the same value:

[code]

### Error message:

[code]

### NumPy/Python version information:

- Numpy 1.19.4
- Python 3.8.7

---

**EDIT: At this time, string and bytes *are* supported.  Supporting `np.equal` and `np.not_equal` for structured dtypes would be a worthwhile addition.  But possibly somewhat large

[2021-01-15 17:27] HUN-Harlequin opened #18172 "generator.choice producing different results with p=None and p=uniform"
### Reproducing code example:

[code]

### Error message:
[code]
### NumPy/Python version information:

1.18.5 3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019, 20:34:20) [MSC v.1916 64 bit (AMD64)]

[2021-01-15 18:16] rkern commented on #18172
This is expected. `p=None` triggers a (faster, more accurate) codepath for specifically for unweighted sampling. When you give it an explicit `p`, we use a different algorithm for weighted sampling. There is not a good way to test the explicit `p` that it is equivalent to being unweighted because of floating point inaccuracies.

I can understand the desire that these two give the same answers, but

[2021-01-15 18:25] oscarthorn opened #18175 "Illegal instruction"
Hi!

I'm working on a Jetson Xavier NX (arm64) device and I suddenly cannot use numpy installed from pip. Installing numpy 1.19.5 works but importing it gives illegal instruction error. This problem is not present if I instead install python 1.18. I have reproduced this bug on a clean system.

### Reproducing code example:

This works:
`pip install -U numpy`

This does not:
`import numpy`

`Illega

[2021-01-15 18:29] HUN-Harlequin commented on #18172
Thank you for your detailed explanation, I totally understand and agree with you!
I assumed that they are equivalent and so this caused a bit of a headache when I was writing unit tests.
Would it be possible to highlight this behaviour somehow in the documentation?

[2021-01-15 18:49] charris commented on #18175
This is a duplicate of #18131, seems to be due to the compiler rearranging code.

[2021-01-15 18:49] #18175 closed

[2021-01-15 23:19] adamjstewart commented on #15957
FWIW, if I set `NPY_NUM_BUILD_JOBS=4`, build times are actually slightly slower than if I don't set anything.

Would love to see this issue fixed. In https://github.com/spack/spack/pull/20765, I'm working on making Spack build all Python packages in parallel by default.

[2021-01-16 04:26] leofang commented on #14753
Thanks for the evaluation, Sebastian. To me it's fine that both `float16` and `complex32` are on the "odd one out" side as you coined, as I think a fully functional dtype implies it can be used to carry out all kinds of operations it could possibly be permitted to. If in most occasions they need to be upcast first, this would be enough to disqualify them. (So I actually like when you said "at leas

[2021-01-16 18:45] darkfader commented on #17964
I get a segfault from _mac_os_check and I'm not even on ARM. This whole macos/brew/compiler/python3 combination keeps biting me everytime whenever I update something.

[2021-01-16 21:03] samirjabbar7 opened #18177 "linalg.qr returns wrong signs (+ -) in the Q matrix"
### Reproducing code example:

#python
import numpy as np
A=array([ [4,2,1],[2,0,1],[2,0,-1],[1,2,1]])
print(np.linalg.qr(A)[0])

#It returns wrong signs (+ -) in the Q matrix.

### Error message:

### NumPy/Python version information:

[2021-01-16 23:22] rkern commented on #18177
The QR decomposition is not unique all the way down to the signs. One can flip signs in `Q` as long as you flip the corresponding signs in `R`. Some implementations enforce positive diagonals in `R`, but this is just a convention. Since we defer to LAPACK for these linear algebra operations, we follow its conventions, which do not enforce such a requirement.

[2021-01-17 12:12] NekoAlosama commented on #16744
According to the above mention, the NumPy 1.19.5 release uses a workaround for the Windows 2004 bug, instead of waiting for Microsoft to fix it.

[2021-01-17 13:44] seiko2plus commented on #18160
@charris, Why do we still support Darwin/PowerPC? this flag `faltivec` should be removed.

[2021-01-17 17:10] sarpulas commented on #18131
I ran into this with CI breaking on Jetson NX & TX2 and took me a good while to isolate as well.

Serves me right for using `>=` instead of `==` in versioning. As noted, sticking with `1.19.4` works for now.

[2021-01-17 18:49] pearu opened #18179 "TestF77Callback::test_all[t] fails: fatal error: threads.h: No such file or directory"
### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:

[code]

### Additional information

[code]

C11 threads.h appears to be supported starting from glibc 2.28, see [here](https://sourceware.org/bugzilla/show_bug.cgi?id=14092#c10).

Undefining CPP macro F2PY_THREAD_LOCAL_DECL makes the test pass.

A solution is not to define F2PY_THREAD_LOCAL_DE

[2021-01-17 22:35] george-zip commented on #9290
My understanding of this recommendation is that we check the types of `actual` and `desired` inside of `assert_almost_equal.` If they booleans then return `assert_equals` instead, as we do for `ndarray`:

[code]

Is that right?

[2021-01-18 08:28] #17859 closed

[2021-01-18 11:21] Gnoblin44 commented on #8300
@mattip can you tell me what this means and what i'm supposed to do?:

[2021-01-18 12:48] touqir14 commented on #17403
Any thoughts on this @seberg , @rossbar ?

[2021-01-18 12:59] pwoolvett commented on #18131
This has nothing to do with virtualenv nor python. Those images are based on `nvcr.io/nvidia/l4t-base:r32.4.4`, which includes `numpy 1.13.3`, just like the numpy in the system's python for Jetson. Because of this, installing numpy does nothing. If you instead ran `pip install --upgrade numpy` or even `pip install numpy==1.19.5`, then you'll get the same problem.

Confirmed both workarounds
* http

[2021-01-18 18:16] jbrockmendel opened #18186 "ENH: __array_function__ test suite for downstream libraries"
xref https://github.com/pandas-dev/pandas/pull/38068

There are two pain points I've found in implementing `__array_function__`.

1)  AFAICT there is no nice way to implement it piecemeal, i.e. implement only a handful of functions (out of scope for this issue, but I want to make sure this is written down somewhere)

2) There isn't a clear way to test that an implementation is correct.

The propos

[2021-01-18 23:30] VisionaryMind opened #18188 "Unable to compile code using Numpy 1.16+ for Python 2.7"
I am aware that everyone is porting their code over to Python3 and, for the most part, keeping their NumPy dependency at 1.16 and above, however this is causing problems for libraries such as OpenCV 4.5 on Ubuntu 18.04 systems with ROS Melodic. Specifically, this effects NVIDIA edge devices (Xavier, Jetson, etc.), but I presume it will also be relevant for other platforms that, for whatever reason

[2021-01-19 00:35] charris commented on #18188
@VisionaryMind The NumPy 1.16.x series was the last to support Python 2.7 and most of the shims have been stripped out. Is there a problem using 1.16?

[2021-01-19 00:47] VisionaryMind commented on #18188
Using 1.16 is what caused this issue. We then downgraded to 1.13.2, but the issue remains.

[2021-01-19 01:31] charris commented on #18188
The relevant code is
[code]
Looks to me like `NUMPY_IMPORT_ARRAY_RETVAL` is not being correctly defined for Python 2.7 for some reason.

[2021-01-19 01:40] VisionaryMind commented on #18188
Yes, this was my original thought, but putting a NULL after RETVAL for Python 2 does not resolve the issue.

[2021-01-19 02:00] charris commented on #18188
It looks like it _is_ returning NULL, and it shouldn't be. It should just be `return;`, i.e., no return value.

[2021-01-19 10:27] nschloe opened #18189 "np.append([], 0) -> float64"
Appending an int to an empty list returns a float64 array. MWE:
[code]
[code]
Related to https://github.com/numpy/numpy/issues/10405.

[2021-01-19 10:46] eric-wieser commented on #18189
I assume the problem goes away if you use `np.append(np.array([], dtype=int), 0)`

[2021-01-19 11:02] pmav99 opened #18190 "mypy --strict error when importing numpy.typing"
`mypy --strict` disables `implicit_reexport`. Consequently mypy throws an error when trying to import `ArrayLike` and `DTypeLike` from `numpy.typing`.

### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:

[code]

### Possible workarounds

I guess that the reason why this happens is than `__all__` is not set when on `TYPE_CHECKING` mode:
https://

[2021-01-19 13:34] BvB93 commented on #18190
Nice and simple, I feel that this is approach would neatly fix the entire issue.
Would you be willing to submit a PR?

[2021-01-19 13:57] pmav99 commented on #18190
Sure no problem with that. Which style is preferable?

[code]

vs

[code]

[2021-01-19 14:04] BvB93 commented on #18190
Personally I prefer the first one.
Feel free to use a (parenthesized) multi-line import if the statement becomes too long.

[2021-01-19 14:32] #18189 closed

[2021-01-19 15:53] #18096 closed

[2021-01-19 16:00] #18190 closed

[2021-01-19 16:58] jaskij commented on #18167
After more research, the [bug report](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60035) is still marked as `UNCONFIRMED`.

[2021-01-19 18:52] #18179 closed

[2021-01-19 21:07] pearu commented on #17620
My first reaction to this enhancement was that this is a bad idea, mostly because of YAGNI and being Pandora's box of bugs.

**OT Warning START**: my interpretation of this enhancement includes a possible longer-term wish to maintain numpy, numpy_distutils, f2py, and numpy_testing as separate projects.

In general, whenever a package is split into many interoperable packages, one increases a maint

[2021-01-19 21:32] #17797 closed

[2021-01-19 22:06] martin-frbg commented on #18131
Unfortunately I cannot reproduce this (the underlying problem with OpenBLAS' cpu detection code) on my hardware, so I cannot confirm that the trivial attempt at fixing it with a `volatile` keyword in the current `develop` branch actually works. Are all failure reports from Nvidia Jetson devices ?

[2021-01-19 22:36] Edward-Knight commented on #18131
My initial report was using a Jetson device, I can try it on a different ARM CPU tomorrow

[2021-01-20 00:48] pwoolvett commented on #18131
raspberry pi 4 (armv7l) has no problems.

[2021-01-20 04:00] stewjb opened #18195 "Cannot pip install numpy on mac M1"
Cannot pip install numpy.

### Reproducing code example:

```python -m pip install numpy```

### Error message:

Collecting numpy
  Using cached numpy-1.19.5.zip (7.3 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... error
    ERROR: Command errored out with exit status 1:
     command: /Users/jeffstewart/maroon-bells/venv/

[2021-01-20 07:10] martin-frbg commented on #18131
OpenBLAS does not provide DYNAMIC_ARCH for ARMV7 (no practical difference between the provided cpu targets), but I could not reproduce the problem on a Pi4 in 64bit ARMV8 mode.

[2021-01-20 07:40] sarpulas commented on #18131
I can't reproduce the issue on AWS Graviton2 either (ARMv8 as far as I know) - but it does definitely occur in Jetson Nano, TX2 and Xavier NX.

[2021-01-20 08:30] pearu commented on #17620
To avoid importing .so modules, I wonder if using the `builtins.__NUMPY_SETUP__ = True` hook would work around this problem? Or at least use the same idea? For instance, consider
[code]

[2021-01-20 08:43] pearu commented on #17620
To continue with the above idea, consider
[code]
which means that while `numpy.distutils` will be readily available for cross-compilation of scipy but numpy.f2py requires some work to remove its dependence on numpy.core and there must be a way to specify the target-specific parameters such as the `intp.itemsize`. I think this approach will be considerably less invasive than the issue proposal.

[2021-01-20 09:53] amerry commented on #18131
My reproduction was not on a Jetson. I'm actually not sure what it is - it's just a (pretty powerful) server I ssh into.

[2021-01-20 09:56] amerry commented on #18131
@martin-frbg if you can disassemble `gotoblas_dynamic_init` and look for the `mrs` instruction and the `bl` instruction before it, you can check the ordering of the `tbz` instruction relative to `mrs` (see [my previous comment](#issuecomment-756230802)).

[2021-01-20 11:05] jaskij commented on #17620
The aim here is the opposite: to have numpy_distutils without importing the whole of numpy, to make cross-builds (ie OpenEmbedded is my use case) of scipy and similar not depend on native build of numpy. It seems that numpy_distutils can be a pure Python module, greatly simplifying things. As @virtuald wrote, numpy has binary dependencies which can be problematic in such an environment.

To reiter

[2021-01-20 11:20] pearu commented on #17620
Thanks, @jaskij for the explanation. Here's a 4-line implementation of numpy_distutils.py module that is pure Python and should provide the required functionality:
[code]

However, as noted above, this will not be sufficient to build scipy: numpy.f2py has to be adjusted to not use numpy.core tools.

[2021-01-20 14:20] Edward-Knight commented on #18131
I just checked and the sever that @amerry reproduced on has a Cavium ThunderX CN8890 CPU (ARMv8.1), notably not a Jetson.

[2021-01-20 17:23] jaskij commented on #17620
@pearu to be honest, I didn't understood OT meant off-topic the first time and stopped reading after the paragraph I quoted from, my bad.

OpenEmbedded, the system I'm using (and which is the Linux Foundation-backed industry standard), is so good about separating host and  target and setting up correct variables I managed to get it building, with the help of [gpanders/meta-scipy](https://github.co

[2021-01-20 17:32] martin-frbg commented on #18131
Interesting, thanks - ThunderX is what the drone.io CI uses, though the OpenBLAS build has been using gcc 7.5 there

[2021-01-20 19:16] pearu commented on #17620
@jaskij , no problem, I realize my "this is bad idea" comment may have sound harsh but I meant it only in a constructive way :)

Another way to make `numpy.{distutils, f2py}` easier for OpenEmbedded to handle is to have two setup.py scripts (actually, one is sufficient but its functionality could be tweaked by some environment variable):
- `setup.py` that packages/installs numpy as it does now,
-

[2021-01-20 19:45] seberg commented on #12345
Closing, this is configurable with `np.errstate` and a deliberate choice.

[2021-01-20 19:45] #12345 closed

[2021-01-20 20:16] #18131 closed

[2021-01-20 20:16] #18141 closed

[2021-01-20 20:24] mattip commented on #18141
@whitty could you confirm that this issue should indeed be closed? You should be able to find wheels in the [weekly builds](https://anaconda.org/scipy-wheels-nightly/numpy/files) in a few days

[2021-01-20 21:35] seberg commented on #17965
OK, just opened a small PR to just revert it. I am very happy to add the deprecation (or even the more complex logic), but it just isn't very important, so doing anything for 1.20 already seems not even worth back porting release note additions :).

[2021-01-20 21:37] Carreau opened #18198 "ENH: Improve object fully qualified names."
## Feature

For reasons related to documentation and showing it in IPython/Jupyter I have some questions/suggestions wrt fully qualified names of object and improvement.

For example if a user does:

[code]

I want to be able to say "view online docs at https://numpy.org/doc/stable/reference/generated/{fully_qual}.html".format(full_qual(x))" with roughly:

[code]

As well as the "inverse" operatio

[2021-01-20 21:40] jaskij commented on #17620
This would work in my environment, but I am not sure about other cross-compilation systems and environments (while industry standard in industrial, OpenEmbedded is by far not the only system). The only issue with this approach would be that then scipy's (and other) setup.py would also need to know to import numpy_nocore, but that probably is easily patched downstream (I'm thinking about current an

[2021-01-20 21:48] eric-wieser commented on #18198
#4952 I think is most of your problem here

[2021-01-20 21:54] zeuschops commented on #17807
Having this issue as well, it shows up with 1.20.0rc2 while testing. Ended up just watching some random YouTube video and took a risk. `arch -86_64 zsh` will push you to an x86_64 instance of zsh, then running `pip3 install opencv-python` seemed to install numpy-1.19.5-cp39-cp39-maxosx_10_9_x86_64.whl without issue.

The solution above mentioning some openblas commands failed on the third install.

[2021-01-20 22:35] seberg commented on #18198
I am happy to add a module and/or qualname to ufuncs, we just need to decide on how...

Currently, the name is basically passed to the C creation function. We could do it like Python's static types and just assume everything before the first `.` is part of the module, that is not ideal (for one some ufuncs couldrequire a `__qualname__` technically), but likely "just works" (have to check if pickle

[2021-01-21 00:57] #17965 closed

[2021-01-21 01:13] seberg opened #18199 "DEP: Deprecate error clearing in array-protocol attribute fetching"
See gh-18197, we currently clear almost all errors that occur when fetching `obj.__array_interface__` or just `obj.__array__`. There is little use for this, since by definition `AttributeError` can be raised if an object actually wants the error to be ignored.  Shapely dependend on this (raising a `NotImplementedError`).

We should deprecate ignoring these errors entirely.  There are more similar

[2021-01-21 09:57] MaduxCaster opened #18202 "overflow during numpy import"
Hello,

I meet the following unpleasant behavior when using numpy version 1.19.2 with anaconda, on linux centos 7.6.
Numpy generate an overflow when it is imported, in core/getlimits.py, line 161:
        huge_f128 = (ld(1) - epsneg_f128) / tiny_f128 * ld(4)

Most of time, it is quiet. But if something has enabling overflow trap before, this can lead to a crash.
So importing depend on what had hap

[2021-01-21 17:13] picn0113 commented on #18195
RuntimeError: Broken toolchain: cannot link a simple C program

[2021-01-21 18:09] arubiales commented on #18170
Hi! I'm new. Can I work on this issue?

[2021-01-21 18:49] charris commented on #18195
Why are you installing from source?

[2021-01-21 19:07] stewjb commented on #18195
Sorry I might not understand this 100%, but we have a requirements.txt file in my repository with numpy being in it. When i run `python -m pip install -r requirements.txt` numpy fails. Is there a better way to install dependencies?

[2021-01-21 19:43] charris commented on #18195
Pip is using a cached zip file, e.g., a file of source code. You can force it to use binary wheels
[code]
But the question where the zip file came from, and if you are on a supported platform. What hardware?

[2021-01-21 19:44] seberg commented on #18170
Unless there is a comment that someone is already busy on it (fairly recently), everything is always up for grabs. We don't really assign issues. So of course, go ahead.

[2021-01-22 01:13] cdluminate opened #18206 "[np.random] shuffle is not compatible with pytorch tensor"
When shuffling a pytorch tensor with `numpy.random.shuffle`, incorrect result will be produced with 100% (so far) chance.

### Reproducing code example:

[code]

### Error message:

[code]

In the shuffled result, `0` and `3` occured twice, which is clearly problematic.

### NumPy/Python version information:

numpy '1.18.5' through anaconda.

See also: https://github.com/pytorch/pytorch/issues/508

[2021-01-22 01:57] rkern commented on #18206
I've added some comments on pytorch/pytorch#50880

I suspect that we'll need input from both communities to properly resolve this, so I apologize to all for the bifurcated discussion.

[2021-01-22 03:21] charris opened #18207 "Wheel builds are failing."
See ~https://travis-ci.com/github/MacPython/numpy-wheels/jobs/474007743~ (restarted)

<details>

[code]
</details>

There are also a bunch complex warnings.

[2021-01-22 05:26] stewjb commented on #18195
It can't find the binary it seems. When i use the command `python -m pip install --only-binary=:all: numpy==1.19.5` i get this error:
`
ERROR: Could not find a version that satisfies the requirement numpy==1.19.5
ERROR: No matching distribution found for numpy==1.19.5
`

Here are my specs:
Numpy version 1.19.5
Python version 3.9.1
pip version 20.3.3
wheel version 0.36.2
macOS Big Sur 11.1 (Apple S

[2021-01-22 06:28] mattip commented on #18195
Duplicate of #18160, #18143. You should have led with the data point that you are using the new Apple Silicon M1 hardware. We don't currently support that hardware until we can run CI on it. You may have more luck with conda, I think they have binary packages for M1. In the meantime you can use the x86_64 Rosetta emulation.

[2021-01-22 06:32] mattip commented on #18207
The aarch64 builds are failing the admittedly complicated test with errorcode -9, which indicates a SIGKILL. Due to the nature of the test, this is probably due to trying to allocate too much memory and causing an OOM error. Maybe the `requires_memory(free_bytes=7e9)` check is not enough anymore?

For completeness, I compared the two log files from  the successful run a week ago to the latest run

[2021-01-22 09:43] MaduxCaster commented on #18202
Perhaps a better solution could be to replace line 157:
    epsneg_f128 = exp2(ld(-113))
by something like:
    if( ld(1)!=ld(1)-exp2(ld(-113)) ):
        epsneg_f128 = exp2(ld(-113))
    elif( ld(1)!=ld(1)-exp2(ld(-64)) ):
        epsneg_f128 = exp2(ld(-64))
    elif( ld(1)!=ld(1)-exp2(ld(-53)) ):
        epsneg_f128 = exp2(ld(-53))
    else:
        raise Exception("Problem with longdouble")

[2021-01-22 10:15] mattip commented on #18202
This is not a problem localized to import, right? If someone uses numpy and happens to get an overflow error, NumPy (or any well-behaved library) internally detect that and converts the value to a `+float('inf')` or `-float('inf')` without a signal handler. We could consider adding a signal handler of our own, but that just seems like an arms race: whoever wants to detect this situation will just

[2021-01-22 10:39] MaduxCaster commented on #18202
I think that what to do with an overflow is user dependant. Some people may want use it as inf, other should stop the code with an error if overflow appears because it must not appear.
The question could be "Is it an expected behaviour that an overflow occurs ?" During an application run, I think it is application (user and/or developer) dependant. During a library importation, I would answer no i

[2021-01-22 10:44] jackmitch opened #18209 "allow get_include to point to a cross-compile compatible sysroot"
## Feature

When compiling programs such as scikit-learn which leverage numpy, quite often you will find them including the numpy include paths by using something similar to:

[code]

This causes a problem when cross compiling as get_include returns the include path for the host system numpy installation which can cause issues specifically around type casting, for example integer pointers when com

[2021-01-22 13:55] elsampsa commented on #9309
this link: https://docs.scipy.org/doc/numpy/reference/c-api.array.html#importing-the-api has disappeared since.. it would sure nice to find that excellent explanation again from somewhere..

[2021-01-22 13:57] MarcoGorelli commented on #17158
As far as I understand, one can sample using the inverse covariance matrix without having to invert it. A colleague of mine has such an implementation:

[code]

As @david-cortes points out, there are situations in which it would be useful to do this, and having to invert the inverse covariance matrix would be more computationally intensive that sampling using it directly.

Would a PR be welcome?

[2021-01-22 14:16] zoj613 commented on #17158
Isn't `solve_triangular` a scipy function? I'm not sure numpy uses scipy as a dependency. Also wouldn't it be better to solve multiple right hands sides at once instead of using a list comprehension, and then use `ravel` to reshape to a 1d array?

That said, there is a [paper](https://arxiv.org/pdf/1607.04751v2.pdf) (Algorithm 4) that shows a fast way to sample from a multivariate normal using a s

[2021-01-22 14:29] bashtage commented on #17158
It is but it is just a call to a LAPACK function DTRTRS so not technically impossible.  I still think it is too specialized for inclusion in NumPy.  Moreover, if a package wants really fast sampling for a particular covariance/precision structure, it is much simpler to write a low-level, high-performance implementation that can be shipped to users of the downstream package.  This said, I do still

[2021-01-22 14:31] bashtage commented on #17158
@zoj613 I see you have done exactly that in your implementation. It is nice to see that this feature is being picked up.

[2021-01-22 16:02] rkern commented on #18206
@rgommers and I have discussed this on the pytorch issue and converged on some recommendations:

- Warn if the object is not an `ndarray` or a `MutableSequence`. Most of the new array types that will be problematic to `shuffle()` won't support `MutableSequence`. And those are more likely than custom objects that would work okay to `shuffle()` but, for whatever reason, don't declare that they are `

[2021-01-22 16:10] rgommers commented on #18206
Thanks @rkern.

@charris would indeed be nice to take this along, the change should not require an RC3 I'd think. I'm happy to submit a PR this weekend - is Sunday in time?

[2021-01-22 17:02] charris commented on #18206
Arrow tagged 3.0.0 Monday, but a new pyarrow isn't up on PyPI yet, so Sunday will be fine. I'm planning on making the 1.20.0 release the weekend after this.

[2021-01-22 18:34] MarcoGorelli commented on #17158
Sure, no worries

Cool, thanks

[2021-01-22 21:21] melissawm commented on #9309
Is this page what you are looking for? https://numpy.org/doc/stable/reference/c-api/array.html#importing-the-api

[2021-01-23 11:31] arubiales commented on #18170
Thank you I'm working on it! If you give me time I can solve it.

I think the problem is with `npy_divmod` function because `remainder` function use `divmod`. I have see the `core/include/numpy/scalarmath.c` and other files, However  the `warning` is not raise there. I'm trying to locate where is raised.

Any guidance is accepted! meanwhile I will continue working on it, this task is helping me to

[2021-01-23 13:26] rgommers commented on #18206
Thanks. Fix in gh-18211.

[2021-01-23 14:34] arubiales commented on #18170
Thank you. I'm working on it! If you give me time I can solve it.

I think the problem is with `npy_divmod` function because `remainder` function use `divmod`. I have see the `core/include/numpy/scalarmath.c` and other files, However  the `warning` is not raise there. I'm trying to locate where is raised.

The warning is raised by the `_error_handler` inside `extobj.c` this function is inside `Han

[2021-01-23 14:48] bernardopacini commented on #17987
Hello,

I am running into an issue downstream of this typeerror. I am using f2py and f90wrap to python wrap a fortran code, but I am no longer able to run f2py successfully. I encounter the following error, which comes from numpy:

[code]

My gcc / gfortran are up to date with the latest Brew versions and I installed numpy 1.20.0rc2.

Thank you in advance for any advice on how to proceed.

[2021-01-23 15:34] vincentwi commented on #17807
+1 the whole point of this new M1 mac is to do ML and numpy is pretty integral..

[2021-01-23 18:19] cedricbellet opened #18212 "numpy.arange() returning np.int64 could be flagged as an additional difference vs. range()"
## Documentation

The [numpy.arange()](https://numpy.org/devdocs/reference/generated/numpy.arange.html?highlight=arange#numpy.arange) documentation states that "for integer arguments the function is equivalent to the Python built-in range function, but returns an ndarray rather than a list.". That is not strictly exact as an additional difference is that numpy.arange() returns np.int64 types with

[2021-01-23 18:32] seberg commented on #18170
@arubiales if the warning is actually manually set, it would be something like `npy_set_floatstatus`. But most likely the opposite is the case: The C code (machine code), sets an error flag (the CPU does this) for a certain operation. And our code would have to avoid taking that code path alltogether.

[2021-01-24 00:32] bashtage commented on #16744
The final fix is nearing release and is now in beta and release channels. Hopefully out next month.

**Windows 10 build 19042.782**

- We fixed an issue that causes the 64-bit fmod() and remainder() functions to damage the Floating Point Unit (FPU) stack.

[2021-01-24 09:19] eoghanf commented on #17158
I disagree that it is "too specialized to be included in Numpy". The precision matrix parametrization of any statistical model is as natural as the covariance matrix parametrization. There is no good reason to consider the covariance matrix as "natural" and the precision matrix as "specialized". Secondly, a key feature of Numpy is speed and (related to this) scalability. Inverting a matrix is neit

[2021-01-24 19:55] #18206 closed

[2021-01-24 22:00] charris opened #18220 "Compiler note in ppc64le CI testing."
See https://travis-ci.com/github/numpy/numpy/jobs/474759559. The ~warning~ note is
[code]
The note shows up for long double types, mostly in the sorting routines. Anyone know why or if it is significant? The tests usually pass.

[2021-01-25 03:21] kigawas opened #18222 "np.pmt documentation is misleading on calculating monthly rate"
## Documentation

To calculate the monthly rate, you should calculate as `(1 + annual_rate) ** (1/12) - 1` rather than simply divide it by 12.

[code]

Should be rephrased to

[code]

though this function is deprecated.

https://github.com/numpy/numpy/blob/v1.19.0/numpy/lib/financial.py#L161-L260

[2021-01-25 03:46] charris commented on #18222
Financial has been removed from NumPy and made a separate project at https://github.com/numpy/numpy-financial. Please open your issue there.

[2021-01-25 03:52] kigawas commented on #18222
@charris

Can you transfer this issue to that repository?

[2021-01-25 10:10] h-vetinari commented on #16193
This was likely closed by #18097, though it's still missing the acceptance.

[2021-01-25 10:20] rgommers commented on #16193
Thanks @h-vetinari, I forgot about this one. I'll close it through the next PR which changes the status to accepted and adds the mailing list links.

[2021-01-25 15:01] #18153 closed

[2021-01-25 15:17] mattip commented on #17207
Closed by updating the theme version to 0.4.2.

[2021-01-25 15:17] #17207 closed

[2021-01-25 15:46] jorisvandenbossche commented on #17207
I don't think this is fixed by 0.4.2 (it's only a tiny bug fix release to fix a xarray display compatibility issue, it was not a release of latest master). It is fixed on master though, for the upcoming 0.5 release (and then you will need to set a `--header-height` variable)

[2021-01-25 15:51] mattip commented on #17207
Something changed. [This page](https://17941-908607-gh.circle-artifacts.com/0/doc/build/html/reference/generated/numpy.geterr.html#numpy.geterr) (from the CI build of the new theme) no longer overlaps for us. For the next few minutes, until CI finishes, you can see the old page [here](https://numpy.org/devdocs/reference/generated/numpy.geterr.html#numpy.geterr)

[2021-01-25 16:05] jorisvandenbossche commented on #17207
Hmm, on my browser (firefox, Ubuntu), both links give the incorrect offset ..

[2021-01-25 16:12] melissawm commented on #17207
On Firefox I can confirm the title is still overlapping for the CI build of the new theme.

[2021-01-25 16:36] seberg commented on #17913
Closing, pyarrow should be fine now (and about to release).

[2021-01-25 16:36] #17913 closed

[2021-01-25 18:20] seiko2plus commented on #18220
According to the mail archive of [gcc/msg00634](https://gcc.gnu.org/legacy-ml/gcc-patches/2014-07/msg00634.html), ABI change affects to:

We can just suppress the ABI warnings through CLI `-Wno-psabi` or `#pragma`. ABI changes cause incompatible binaries with older versions of GCC e.g. `GCC 4.9`.

[2021-01-25 18:22] lina-boljka commented on #10393
still present in version 1.19.2

[2021-01-25 18:25] mattip commented on #17207
Ahh, I see. I chose a page that is quite small. Because of differing zoom betwee the two versions, in one case the whole page fit better and showed the header, on the more-zoomed-in one it did now.

[2021-01-25 19:37] seberg commented on #18005
Hmmm, I thought I would look into this. But I am honestly not sure where we should be adding this flag, or if we actually should (additionally) even prod Python itself to add this flag.  Am I right to think that most clang specific flags currently are inherited from Python itself?

[2021-01-25 20:15] mattip commented on #18207
Last night's wheels built cleanly. Can we close this?

[2021-01-25 20:22] charris commented on #18207
Yes. This was a problem on aarch64, but it seems fixed now. Triggering rebuilds succeeded in 2 out of 3, and the last after the fix went in (showed xfail).

[2021-01-25 23:41] nrasadi commented on #12847
I had the same problem. But I came up with a pretty simple solution.
Please refer to the link below.
https://stackoverflow.com/a/65893798/14411354

**Note:** I think enabling/disabling mmap_mode is not really related to this problem. So in this case, feel free to do whatever you think is better for your particular situations.

[2021-01-26 02:31] #18195 closed

[2021-01-26 03:02] whitty commented on #18141
I've validated I can get basic loading under softlimit 400MB with `numpy-1.21.0.dev0+485.gbec2b07db-cp38-cp38-manylinux2010_x86_64.whl`, and a manually invoked build seems to build OK under 1GB softlimit.

Our formal build processes won't have any change until 1.19.6 or later comes out on pip

Thanks for your help

[2021-01-26 08:47] rgommers commented on #16963
No more follow-up, and indeed looks like a duplicate. I've also changed the title, because this seems unrelated to Alpine.

[2021-01-26 08:47] #16963 closed

[2021-01-26 11:01] mreineck commented on #14277
I have been bitten several times by this problem. Since the docstring says about `shift`
[code]
 it would be great to enforce this in the code and raise an exception if this condition is not fulfilled, rather than carrying out an operation which the documentation clearly declares invalid.

[2021-01-26 16:30] ndevenish commented on #12491
I just hit this through pyupgrade also. The fact that `%.4f`-formatting works but f-strings/`.format` doesn't, seems like a genuine bug.

[2021-01-26 16:36] jorisvandenbossche commented on #17965
I checked that the latest master, and geopandas tests are passing again now (didn't check with the 1.20.x maint branch, but assuming that that will be OK as well since the fix is backported). Thanks!

[2021-01-26 16:59] rossbar commented on #17403
No opinions from me - note that I originally opened the issue only to track a TODO that was removed when some documentation was updated. I personally don't use the setops often, so I'm not sure what the most common use-cases are.

[2021-01-27 00:28] seberg commented on #12847
Yeah, the original issue seems to be about a reference cycle and thousands of opened files, while the memory mapping mode is more relevant to few but large files.  I guess the original issue was largely a bug in the Python garbage collector, but there is likely still a use in cleaning this up, it may well be possible to just resolve the reference cycle (I have not looked into it, but with a weakre

[2021-01-27 03:18] RuRo commented on #14277
I was also recently bitten by this. Given the usual `numpy` semantics, I kinda expected
[code]
To result in
[code]
and
[code]

The intuition here would be that `shift` is broadcasted together with `arr` (sans `axis`) and each "matching" 1-D array is rolled a different amount, specified by `shift`. So something along the lines of (but hopefully more efficient):

[code]

[2021-01-27 10:00] AlsonYang opened #18239 "np.vecterize interaction with max infers wrong otype"
When np.vecterize is used to wrap function that utlize the python default max function, even if the input dtype is 'float', the output dtype is still 'int'. it surprisingly works fine with the min function.

In the code below, df_test['duration'] returns int array by applying compute_delinquent_duration function. The other two implementations using pandas or map both return the right type as float

[2021-01-27 10:25] hdkire opened #18240 "np.max, np.ma.max returns NAT for masked_array with datetime64"
The return value of np.max is always numpy.datetime64('NaT') for masked_array of datetime64 containing masked values.
This can be seen when using np.max, np.argmax and their counterparts from np.ma. It seems that np.min, np.argmin, etc. behaves correctly.

At least np.ma.max should return the largest non-masked value, not NaT.

### Reproducing code example:
[code]

### NumPy/Python version informa

[2021-01-27 14:21] BvB93 commented on #16544
It seems like we now have a (draft) pep for variadic generics,
_i.e._ generics with not one but an arbitrary number of variables (like `typing.Tuple`): [PEP 646](https://www.python.org/dev/peps/pep-0646/).

[2021-01-27 14:29] Naima96 opened #18241 "Numpy import multiarray error"
I'm getting an error while running an exe builded with pyinstaller.
It is related to import multiarray

### Error message:

Error:

ImportError:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and

[2021-01-27 15:55] tomergt45 opened #18242 "Function to create a sliding N by M window over an ndarray"
Given the following ndarray:

[code]

I need a function that would efficiently return a sliding window with size N x M over the array, something like:

[code]

After a lot of time of repeatedly writing a function that does that, I think it will be useful to have a native, efficient function in NumPy that does that exact same thing, I don't mind writing it myself and contribute to the project but I

[2021-01-27 16:11] tomergt45 commented on #18242
Just noticed this function has been added to version 1.20.0, hooray!

Although writing `np.lib.stride_tricks.sliding_window_view` is a mouthful, would be great if this could be moved to the main module and have its name shortened

[2021-01-27 16:16] eric-wieser commented on #18242
Well, you're free to do
[code]

I think @rgommers voiced against putting this in the main namespace on the mailing list, although I may be mistaken.

But yes, `sliding_window_view(arr, window_shape=(2, 2))` should do exactly what this issues asks for, so I think this issue can be closed. If you want to discuss naming, I'd recommend finding and responding to the mailing list thread, or opening a ne

[2021-01-27 16:16] #18242 closed

[2021-01-27 16:47] seberg commented on #14277
Sounds like we should consider this a bug (although when fixing I would probably just go with a `VisibleDeprecationWarning` just in case).

[2021-01-27 16:54] seberg commented on #18239
Seems correct to me, in the sense that `max(..., 0)` *can* (and does in the test run) return an integer and it is entirely possible for you to ensure that it does not.  In many cases defining `otypes` may be a good thing to ensure this in any case.

[2021-01-27 16:54] #18239 closed

[2021-01-27 19:22] seberg commented on #9875
We had discussed this, and we somewhat agreed that this is desireable, and should have `FutureWarnings` (or `VisibleDeprecationWarning`.

A specific issue may be `np.loadtext` and `genfromtxt` since that might be a more common use case for using 0 and 1 as boolean, so that may need some special consideration.

I hope to look at this, hopefully, `FutureWarnings` (and opting in to future behaviour)

[2021-01-27 19:29] zoj613 opened #18243 "TypeError: numpy.random.bit_generator.SeedSequence has no len()"
A `TypeError` exception gets raised when I try to instantiate a new bitgenerator using a spawned child SeedSequence of an existing `Generator._bit_generator_._seed_seq` instance.

### Reproducing code example:

[code]

### Error message:
[code]
Is there a remedy for this? I understand I could just use `np.random.SeedSequence(1)`, but I want this new seed sequence to be directly tied to the old gen

[2021-01-27 20:19] rkern commented on #18243
`SeedSequence.spawn(n)` always returns a list of `n` elements, even when `n==1`. Use `child_seq = old_seed_seq.spawn(1)[0]` to make sure that the `child_seq` is the actual desire `SeedSequence`.

[2021-01-27 20:19] #18243 closed

[2021-01-27 21:43] tomergt45 opened #18244 "Move `sliding_window_view` to the main module and add `step_size`"
1. Writing `np.lib.stride_tricks.sliding_window_view` is a bit of a mouthful, I think it would be better if it was placed inside the main module. (also doing `import from` is a bit inconvenient)
2. I suggest adding a `step_size` parameter to the function, an example of its use would be:

[code]

[2021-01-27 21:53] eric-wieser commented on #18244
I argued against step_size when we designed this function, because you can get that behavior
already with `sliding_window_view(x, 3)[::2]`.

[2021-01-27 22:12] rgommers opened #18246 "Need to remove easy_install usage from doc/Makefile"
There's still an `easy_install` usage in that Makefile, which gets invoked via `make dist`. That is going to break in the near future; `easy_install` was removed from `setuptools` three days ago.

Here's a stab at a fix, not quite right though because we shouldn't be invoking `pip` - it is much smarter now so when you point it at a wheel to install and that wheel provides `numpy`, that messes with

[2021-01-27 23:24] rgommers commented on #18246
On second thought, we should probably just get rid of `make dist` completely, and build all release artifacts via CI. `make dist` is really weird, the `Makefile` for the docs should just build the docs, not jump through weird hoops to build numpy and put it in a nonstandard place.

[2021-01-27 23:38] charris commented on #18246
`runtests` has most of the machinery needed to build docs.

[2021-01-28 03:00] AlsonYang commented on #18239
In the output, the columns 'duration' is the np.vectorize implementation, and 'duration2' and 'duration3' are pd.apply and map implementation. I know specifying otypes is good practice, but I doubt most of the users would not do it.

Without specifying otypes, the np implemention gives diff result than the other implementations, which users might not aware, as in the arrears_months columns = [3, 3

[2021-01-28 03:01] AlsonYang commented on #18239
In the output, the columns 'duration' is the np.vectorize implementation, and 'duration2' and 'duration3' are pd.apply and map implementation. I know specifying otypes is good practice, but I doubt most of the users would not do it.

Without specifying otypes, the np implemention gives diff result than the other implementations, which users might not aware, as in the arrears_months columns = [3, 3

[2021-01-28 05:46] mattip opened #18249 "DOC: better document `__array__`"
## Documentation
The documentation for the [`__array__` function](https://numpy.org/devdocs/reference/arrays.classes.html#numpy.class.__array_priority__) is not very descriptive. It describes what the ufunc *will not* do if `__array__` is present. It should describe what the prospective `__array__` user *is expected to do* with `self` and optional `dtype`.

Copied from [PR 18238](https://github.co

[2021-01-28 16:19] seberg commented on #18239
You return `max(-0.1, 0)` which *is* an integer for the first value, and that is how it is designed to work; maybe that can be changed, but I doubt it, you always have similar issues if the type is fixed at some point.

[2021-01-29 03:22] Qiyu8 commented on #18212
`range()` generate python3 built-in integers that have unlimited precision, while numpy's `arange()` produces numbers are implemented using `int32`/`int64` in C. so there is an implied information that ndarray uses ctypes. If you have a clearer explanation, welcome to submit a document PR.

[2021-01-29 07:10] kurtqq commented on #7973
@btel was this eventually fixed?

[2021-01-29 08:03] btel commented on #7973
apparently not yet

[code]

[2021-01-29 10:08] FerdinandEiteneuer opened #18254 "precision argument of np.set_printoptions can take strings as inputs"
Hello,

I accidentally set the precision in np.set_printoptions to a string, i.e `np.set_printoptions(precision='2')`.

set_printoptions does not complain if I do that. Is this desired behaviour?

When using print(some_array) a TypeError is raised. The traceback reveals the problem with the precision, but I think the problem should have been catched beforehand. The tb is long and maybe hard to rea

[2021-01-29 14:42] norbert-hoppe opened #18256 "incorrect text on web page"
On the web page https://numpy.org/doc/stable/user/basics.types.html,
chapter 'Overflow Errors'
Text           'For example, numpy.power evaluates 100 * 10 ** 8 correctly for 64-bit integers'
should be  'For example, numpy.power evaluates 100 ** 8 correctly for 64-bit integers'
Regards

[2021-01-29 15:30] seberg commented on #7973
Its fixed *and* deprecated in 1.20, you have to use `np.array([1, "a"], dtype="U")`, which will give you the identical result in both cases to begin with. The result is than always length 1, just because that is the more common variant currently.

[2021-01-29 15:30] #7973 closed

[2021-01-29 15:36] seberg commented on #7973
Sorry, its a bit "weirder"... Just to be clear: Right now, its deprecated, but you get `U21` *always*.  If you use `dtype="U"` (which you should and will have to), the result is unchanged and gives you `U1` always.

[2021-01-29 20:03] charris commented on #17977
@seberg Can this be closed?

[2021-01-29 20:07] charris commented on #18005
What is the status of this?

[2021-01-29 20:10] climatebrad commented on #17784
I was having bad errors trying to install numpy from a pyenv install of python3 on my M1 until I used this:

```OPENBLAS="$(brew --prefix openblas)" pip install --force-reinstall --no-cache-dir numpy```

and numpy installed correctly
(I had previously done ```brew install openblas```).

Also was still having problems installing pandas until I **installed cython**.

[2021-01-29 20:14] seberg commented on #18005
I think this is important, but I am not very familiar with distutils, and am not sure where this flag should be inserted correctly. (It probably is also correct for SciPy, but do we want to set it by default for scipy as well?).
I am happy to check for the related code cleanups, but not too fond of digging through distutils to find the right place.

It shouldn't matter too much to push it off to 1

[2021-01-29 20:17] #17977 closed

[2021-01-29 20:31] charris commented on #17825
I kicked this off to the 1.20.1 release as I expect the Windows update will be out before then.

[2021-01-29 21:11] #18145 closed

[2021-01-30 01:15] Bruncky commented on #17807
The same approach worked on my machine (MBP M1) for `scikit-learn`:

[code]

[2021-01-30 16:06] charris commented on #17379
Should we close this?

[2021-01-30 16:08] charris commented on #15472
@eric-wieser @seberg Just thought I'd ping this to check the status.

[2021-01-30 17:17] rp4fx12 opened #18260 "Dictionary with np.nan fails to pickle and unpickle correctly"
I'm not sure if this is the right place to be posting the issue (the issue might be with pickle or something else) but when I create two equivalent dictionaries with a np.nan, they pass a an equality test but when I pickle and unpickle one, the same equality check fails (See below example). I would expect the result to be consistent between both examples but I'm not entirely sure what's going on.

[2021-01-30 17:23] eric-wieser commented on #18260
Your code example doesn't actually use numpy in any meaningful way. You would see exactly the same behavior by defining `nan = float("nan")` and using `nan` instead of `np.nan` - so while I agree this is annoying, I don't think numpy can do anything about it.

[2021-01-30 17:24] #18260 closed

[2021-01-30 18:47] monahan19 opened #18261 "argmax not returning first occurrence of max value in array"
### Reproducing code example:

[code]

### Error message:

Error here is with the result

argmax should return the first occurrence of the max value (20) - which is at data[12], instead it returns the last occurrence of the max value at data[39]

From https://numpy.org/doc/stable/reference/generated/numpy.argmax.html :
_Notes
In case of multiple occurrences of the maximum values, the indices corre

[2021-01-30 19:15] rkern commented on #18261
`data[39] == 27` which is the maximum value in this list.

[2021-01-30 19:17] rkern commented on #18261
If I clip the data such that there are multiple maximum values of 20, we get the `argmax` of 12 as expected:

[code]

I don't think there is a bug here.

[2021-01-30 19:17] #18261 closed

[2021-01-30 22:46] rp4fx12 commented on #18260
I posted an updated version of this issue in the python bug tracker and got back a response that explains why this is expected behavior. Linking it here - in case anyone else runs into the same or a similar issue: https://bugs.python.org/issue43078

[2021-01-31 06:22] mattip commented on #18256
PR welcome

[2021-01-31 06:26] mattip opened #18265 "https://numpy.org/doc/stable/index.html shows version 1.21.0.dev0+279.g5d54729ddc"
Something is a bit off with the 1.20 documentation. The front page https://numpy.org/doc/stable/index.html is showing a non-release version number.

[2021-01-31 06:47] rgommers opened #18266 "Unevaluated markup in 1.20.0 release notes"
See https://github.com/numpy/numpy/releases/v1.20.0, it has random markup like:
- `[numpy.lib.stride_tricks.sliding_window_view]{.title-ref}`
- `[~numpy.broadcast_shapes]{.title-ref}`
- `{.interpreted-text role="ref"}`
- `numpy.bool\_` (backslash shouldn't be there)
- `{.interpreted-text role="func"}`

It works fine in https://numpy.org/doc/1.20/release/1.20.0-notes.html, but I'd much prefer we st

[2021-01-31 09:25] eric-wieser commented on #18266
This is presumably an artefact of a bad rst to Markdown converter?

[2021-01-31 09:34] rgommers commented on #18266
Ah very odd. I didn't even consider that this stuff was not present in `source/release/1.20.0-notes.rst`. Seems to be a new GitHub rendering bug.

Thanks for pointing that out. Closing.

[2021-01-31 09:34] #18266 closed

[2021-01-31 12:18] DrewTNBD opened #18267 "Importing Numpy 1.19.5 does not work for Python 3.7.9 but does for Python3.8.7"
Importing Numpy 1.19.5 does not work for Python 3.7.9 but does for Python3.8.7.

[code]

Under Python 3.7.9 I get:

[code]

I get the same behaviour when trying to use 1.19.5 and Blender's included Python 3.7.7.

But under Python 3.8.4 everything works as expected.

Are there any known compatibility issues?

[2021-01-31 12:36] rgommers commented on #18143
`cibuildwheel` has full support now it looks like. Doesn't help without hardware or fixing the critical bugs we still have for M1 (see my first comment on this issue), but it's a good point of reference.

[2021-01-31 13:05] #16193 closed

[2021-01-31 13:08] #18267 closed

[2021-01-31 13:08] DrewTNBD commented on #18267
Bah! I'm an idiot, fixed it. Was a local installation issue.

[2021-01-31 13:12] matthew-brett commented on #18143
I think multibuild has full support too - thanks to @isuruf.

[2021-01-31 13:24] sam1902 commented on #17807
You would think so, and yeah, `pip` manages to compile sklearn correctly, but after *actually trying to use sklearn*, you'll get hit with a weird `[1]    94284 bus error  python3`:

[code]
The current downstream issue on sklearn[scikit-learn/scikit-learn#19137](https://github.com/scikit-learn/scikit-learn/issues/19137) is waiting for this one to be resolved, but thanks to the above instructions I

[2021-01-31 13:48] rgommers commented on #18265
This looks like a mistake during doc build uploading for 1.20.0. @charris did you do that upload?

[2021-01-31 13:49] rgommers commented on #18249
That makes very little sense. `__array__` is supposed to simply return an `ndarray` with either a view or a copy of the data.

[2021-01-31 13:59] xhochy commented on #17807
`pyarrow` has been released beginning this week and NumPy 1.20 has also been released.

[2021-01-31 14:15] mattip commented on #18249
By "that" I assume you mean the current documentation that states:
[code]

[2021-01-31 14:20] charris commented on #18266
I convert the notes from rst to md for github using pandoc. The conversion often needs a little fixing up and I missed that. The big fixup needed for 1.20.0 was a table. It would be nice if the github window accepted rst files.

[2021-01-31 14:20] mattip commented on #18143
I think all the pieces are in place to build a wheel. The question is if we wish to upload a wheel without testing it.

[2021-01-31 14:22] matthew-brett commented on #18143
Maybe we can do a short delay, while we wait for some set of nominated volunteers to test the wheel, for now.

[2021-01-31 14:29] rgommers commented on #18266
That explains it, thanks.

[2021-01-31 14:30] rgommers commented on #18249
Indeed.

[2021-01-31 14:39] ogrisel commented on #17807
@vincentwi and others, if you want to use the numpy / scipy / scikit-learn stack in native mode on Apple M1 hardware, the only, semi-supported way at the moment, is to install the conda-forge packages using the miniforge installer as explained here:

https://scikit-learn.org/stable/install.html#installing-on-apple-silicon-m1-hardware

Alternatively, you should be able to use pip to install the exi

[2021-01-31 14:47] charris commented on #18266
The main translation problem is folks using back ticks for links in the release notes. That works fine when building the docs, not so well with standalone release notes.

[2021-01-31 15:01] charris commented on #18265
Yes. The problem was that I was unable to build the docs before updating the release branch for further development. I thought that might be a problem but didn't see it after a quick check. I think the fix is to just check out the proper commit before the build and that was already on my list for today, the problem wasn't unexpected :)

[2021-01-31 15:40] charris commented on #18265
The problem is that the documentation was built against my installed NumPy. I thought it was supposed to be built in its own environment. I can fix that, but it either needs fixing or to be in the notes.

[2021-01-31 15:55] rgommers commented on #18265
I'd like to build them in CI together with wheels, much more controlled. And same for the sdist, for SciPy we recently had an issue with that (https://github.com/scipy/scipy/issues/13369), that could easily happen for NumPy as well.

[2021-01-31 15:57] rgommers commented on #18265
`make dist` is indeed supposed to do that. Maybe you had `PYTHONPATH` defined that was overriding it or something.

[2021-01-31 16:04] charris commented on #18265
IIRC, `make dist` has never worked that way for me. I don't have `PYTHONPATH` in my environment. OTOH, NumPy is installed in `~/.local/lib/python3.9/site-packages`, which might be a problem for some reason.

[2021-01-31 16:48] henryiii opened #18270 "typing: numpy.__version__ not visible to mypy"
### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:

Notice that `numpy.__version__` is literally in the issue template! It should be public, typable API:

[code]

[2021-01-31 16:52] henryiii commented on #18270
Appears to have been fixed in master,

https://github.com/numpy/numpy/blob/de8bb00dbf007b65095e858ff2490b8df39b9047/numpy/__init__.pyi#L316

but sadly not backported to the maintenance 1.20 branch. Okay, closing.

[2021-01-31 17:18] bstaletic opened #18271 ""import numpy" leaks - reported by valgrind"
### Reproducing code example:

[code]

### Error message:

The output is fairly long, so I made a gist: https://gist.github.com/bstaletic/061ea8912ed5bc4e238363a120f70a1c
The suppression file is in the gist as well.

### NumPy/Python version information:

Python is 3.9.1, debug version, with assertions
NumPy is 1.20.0, but these leaks were present on 1.19.x as well. I haven't checked previous vers

[2021-01-31 17:50] zeuschops commented on #17807
I was looking around to learn more about BLAS (still new to looking at low-level issues with numpy tbh). Found out that Apple has their own BLAS framework that might be usable. https://developer.apple.com/documentation/accelerate/blas

[2021-01-31 18:09] mattip commented on #17807
@zeuschops: The functions numpy and scipy use from Acclerate are buggy and Apple has not shown an interest engaging with us to fix them, so we blocklisted using it for numpy and scipy.

[2021-01-31 18:18] matthew-brett commented on #17807
On that topic - I suppose that there may be a much larger performance difference for some BLAS routines in Accelerate, on M1, compared to openblas.   Has anyone checked for such differences?  Is there any way we can call into the Accelerate routines that are not buggy, and give good performance?

[2021-01-31 18:30] mattip commented on #17807
If a commercial vendor wants to get their software integrated into an open source project, I think it is incumbent upon that vendor to a) show an interest b) promise long term support with a channel for interacting with the community and c) do most of the work themselves or pay us to maintain it. I think that reflects our current relationship with Intel and MKL, why should Apple and Accelerate be

[2021-01-31 18:42] matthew-brett commented on #17807
Two reasons - Accelerate is more or less an operating system library - and I think that is different from something like MKL, where we have to ship the library ourselves.

And - I suspect the performance differences for MKL are in the order of 10s of percents, almost all the time, but for Accelerate on M1, in particular, the differences may be much larger.

[2021-01-31 19:07] zeuschops commented on #17807
As a supporting argument for Apple's BLAS, it could have potential to avoid this issue, though I'm not sure if the functions that are causing problems are present or not. Otherwise it may be worth looking into accelerate more on my end strictly for the purpose of Machine Learning - which is most of the reason that brings people with an M1 to numpy currently, afaik.

Also, accelerate got updated la

[2021-01-31 19:26] jwischka commented on #17807
@matthew-brett / @zeuschops -

I'm sure the community would be supportive of you guys putting in the effort and energy to explore which numpy functions are compatible with Accelerate, then submitting a pull request that makes the appropriate adjustments to numpy code.

As someone who has an M1 MBA, I'm looking forward to seeing your contributions in the coming weeks and months!

[2021-01-31 19:26] mattip commented on #17807
@zeuschops If Accelerate had fixed the bugs, this issue (and the others about avoiding Accelerate when building from source on M1) would not be open., it simply would have worked out of the box. So if you are using Accelerate for machine learning, I hope you have a very good test suite to verify your results.

[2021-01-31 19:31] seberg commented on #17807
Well, once Apple fixes the issues that caused us to block them, the actual work should be small.  But it is not like we probably even *can* work around those issues reasonably (I did not review them, but they are here: https://github.com/scipy/scipy/wiki/Dropping-support-for-Accelerate).  We cannot sacrifice correct and stable executation for speed in these cases.

NumPy and SciPy have not taken t

[2021-01-31 19:33] mhvk commented on #18249
Note that [in 1.10 at least](https://docs.scipy.org/doc/numpy-1.10.1/reference/arrays.classes.html), the description is different:
[code]

Checking with `git blame`, the change was made last May, in #16130.

[2021-01-31 19:38] seberg commented on #17807
I should say that there is some interest in getting this working, so hopefully these problems will soon not be relevant anymore.

[2021-01-31 19:43] seberg commented on #18271
@bstaletic Yes, NumPy leaks memory on import, but only once.  Can you explain if this is a problem for you? I do check numpy with valgrind, but there are certain things during Python and NumPy import that simply are designed in a way that they must "leak" (exactly once).

[2021-01-31 19:48] rgommers commented on #18249
I'm not sure if the change in gh-16130 is correct or not, but either way that's a very niche detail. The docstring doesn't explain at all what `__array__` is actually for.

It is one of the protocols with which other array-like object can achieve interoperability with numpy. When numpy functions encounter a foreign object, it will try (in order):

1. the buffer protocol
2. `__array_interface__`
3.

[2021-01-31 19:57] bstaletic commented on #18271
It's not exactly a problem, as pybind11 can keep suppressing the valgrind-reported errors. I assumed you weren't aware of these and thus opened the bug report.
What *actually* lead me to open the bug report was https://github.com/pybind/pybind11/pull/2837. By switching to the latest version of NumPy, pybind11 ran into a new leak. This one isn't shown in the gist, but the details are all in that PR

[2021-01-31 20:09] seberg commented on #18271
There were always some leaks that seemed fine, but now I notice that all of these are in Cython code generated for numpy random (and not in NumPy proper).  To be honest, I stopped checking import time leaks, but I suppose there are fewer nowadays (at least few "definite" ones that valgrind notices, there are definitely more leaks :)).

I think you are right, we actually should see if Cython genera

[2021-01-31 20:16] seberg commented on #18271
@bstaletic one small thing, if you this inside one of the many tests. Just in case it helps my little pytest plugin: https://pypistats.org/packages/pytest-valgrind could help with finding which test is failing exactly. (The github repo is in a slightly newer state, but it shouldn't matter much.)

[2021-01-31 20:37] YannickJadoul commented on #18271
Thanks for looking into this, @seberg!

To add to @bstaletic's story: we managed to run Valgrind on pybind11 and clean pybind11 of all reported leaks, a month ago, and suppressed the leaks reported on `import numpy` as "these aren't ours". But now our tests failed after updating NumPy (because of the one extra leak), and we though we should finally take the time to report upstream.

Here's how I r

[2021-01-31 20:41] YannickJadoul commented on #18271
Oh, I should specify one more thing, perhaps: we were holding back on having more general rules (e.g., just the stack up to `fun:tuple_alloc`), because there doesn't seem to be a reference to NumPy in there, and we didn't want to potentially mask leaks not caused by NumPy.

Apart from that, we're perfectly happy. The main goal is to know what to suppress such that we can have Valgrind run in CI fo

[2021-01-31 20:45] seberg commented on #18271
Honestly, I don't use any suppression files at all, so :). The only reason we don't have a CI run in NumPy is that there are some tests that always have to leak, and running most of the test suit with `pytest-valgrind` at least (its slower, because it checks for leaks after every tests and not just at exist), takes about 24 hours...

Its great that you guys do these checks!  I am a little stumped,

[2021-01-31 20:48] seberg commented on #18271
Yeah, same running from the shell directly; no reported leaks with just import (and version printing). Maybe the cython version matters?
[code]

[2021-01-31 20:49] bstaletic commented on #18271
We have actually stumbled across that plugin when we were first setting valgrind up with pybind11. It looked interesting, but so far we decided not to rely on it, because of the inability to report errors that happen at start up or shut down. It would have had certainly come in handy a few times by now, but habits, I guess. I'm used to just commenting out a bunch of tests until I pin point where t

[2021-01-31 20:53] seberg commented on #18271
I did that first, when cleaning out NumPy: manual bisecting (and in the end, once you hit the individual test level, it is often necessary in any case). Then I wrote that, thinking it is a bit better ;).
The plugin just flushes all initial errors right now, I happy to change that if it helps you. Just an offer if you think it might be useful. Aside from narrowing down tests, it doesn't actually do

[2021-01-31 20:56] YannickJadoul commented on #18271
[code]

That seems to be the same?

Besides, I believe I really just installed the wheel from PyPI. I'm also using deadsnakes' `python3.9-dbg` (which I suppose has a bunch of Debian patches), and so is our CI. Can that be a factor playing into this?

[2021-01-31 20:59] YannickJadoul commented on #18271
I must admit I was intrigued by the plugin :-) Given that we're now running on CI, it should be easy enough to spot the test that changed and (probably) causes the leak, but I'd be happy to give that a try!

But yes, as @bstaletic says, pybind11 has a bunch of internals so we should definitely check the first import of a pybind11 module (outside of a `pytest` test function, I'm afraid) and the fin

[2021-01-31 21:04] bstaletic commented on #18271
I can repro with my custom built, non-patched, CPython.

1. `python -m venv v`
2. `. ./v/bin/activate`
3. `which pip` - just to confirm everything's as expected. Virtual environments make me paranoid, after staring at CI so much.
4. `PYTHONMALLOC=malloc valgrind --leak-check=full --show-leak-kinds=definite,indirect python -c import\ numpy`
5. `deactivate`

Here's the summary:

[code]

That include

[2021-01-31 21:08] seberg commented on #18271
Thanks @bstaletic, I can reproduce it with the wheel, did not yet try to check the 1.20.x branch, but master did not diverge a whole lot.
@mattip what cython version did we use for the wheel build? I still feel the cython modules are the most likely cause.

[2021-01-31 21:21] seberg commented on #18271
Nevermind, I *can* reproduce the leak on the 1.20 branch, just not on master branch (I am super surprised, because I would think the cython generation is pretty much unchanged; so maybe have to triple check).

Note sure what relevant change happened in between, but at least I can reproduce it now. I also doubt it is a big issue (since it is on import only probably). But I would like it if you guys

[2021-01-31 21:23] YannickJadoul commented on #18271
That would be amazing! But if you just tell us "these are the leaks you need to live with and you don't need to report similar ones in the future", we're also totally OK with that :-)

[2021-01-31 21:33] seberg commented on #18271
@YannickJadoul, OK: I am very certain, there is no need to worry about them. But I suspect they will go away again (whether due to a cython upgrade or otherwise).

For now, I have figured out that if I compile NumPy with a debug version (which sets some debug paths also in NumPy itself), it doesn't show up. But if I compile with plain `python3.9` it does show up.
So the "difference" between master

[2021-01-31 21:39] YannickJadoul commented on #18271
Thanks for confirming. We'll stick to the current suppression files, then, and hopefully in some future, we try without and find a beautiful world without suppression files ;-)

[2021-01-31 21:40] YannickJadoul commented on #18271
Thanks for all your effort, @seberg!!

[2021-01-31 22:09] ogrisel commented on #17807
According to my quick tests, OpenBLAS with the VORTEX target is still quite competitive vs Accelerate BLAS.

I have been benchmarking an experimental combo of Netlib's LAPACK + Accelerate's BLAS that @isuruf is working on for conda-forge.

https://twitter.com/ogrisel/status/1355998987107487748

When I use threadpoolctl to limit the number of threads for OpenBLAS to 4 (instead of 8 by default) then

[2021-01-31 22:39] tylerjereddy opened #18273 "MAINT: shuffle warning specificity"
gh-18211 Introduced a warning for shuffling all memoryviews in Cython--would it be possible to not issue this warning for 1D C-contiguous memoryviews, for which there is no risk of problems per https://github.com/scipy/scipy/issues/13468? It seems a little broad maybe.

Conversely, the downstream fixes are pretty trivial--just seems to be a bit of extra churn that probably could be avoided.

[2021-02-01 00:03] ogrisel commented on #17807
I did some more benchmarks, and for float32, SGEMM from Accelerate is really impressive ~2s for `(1024, 1024)`-shaped arrays. That's **4x faster than OpenBLAS with 4 threads**. This is close to 1 TFLOP/s in single precision on a machine without a mechanical fan...

I also benchmarked the experimental numpy and tensorflow wheels from Apple that also rely on the macOS libraries (Accelerate / MLCompu

[2021-02-01 00:07] seberg commented on #18271
OK, I had another look.  The reason that I couldn't reproduce it at first is that it is related to cython's `CYTHON_COMPILING_IN_LIMITED_API` (I assume that the debug build disables it – pypy build would also), not compiling it with the that flag, will ensure that valgrind cannot consider it "definitely lost" because the module is never "cleaned up" and a pointer will be kept until the end.
On the

[2021-02-01 00:25] seberg commented on #17807
@ogrisel to play devils advocate here, but is the result correct? Issues with float32 dot products where quite common bug reports when users picked up accelerate (intentionally or not).

[2021-02-01 02:14] charris commented on #18265
Having the `.local` install wasn't a problem, the newly compiled numpy version was properly installed, but could not be found. So this seems like a path problem. I just installed the 1.20.0 release in `.local`  and everything was OK except for an extra compile step.

[2021-02-01 08:16] k1o0 opened #18279 "Lack of guidance on deprecation of datetime64 with timezones"
NB: I'm reporting this under documentation, however it's also an [argument in favour](http://numpy-discussion.10968.n7.nabble.com/datetime64-Remove-deprecation-warning-when-constructing-with-timezone-td48635.html#a48800) of keeping support for constructing a datetime64 with a timezone.
## Documentation
Instantiating datetime64 objects with a timezone has been deprecated since version 1.11.0. There

[2021-02-01 08:39] rgommers commented on #18273
It's possible, it just needs special-casing.

[2021-02-01 11:37] seralouk opened #18280 "Numpy eigh crashes - unexpected results"
I have an adjacency matrix of a graph and then I build the Laplacian matrix of the graph (https://en.wikipedia.org/wiki/Laplacian_matrix) as `L = D - A`, where D is the degree matrix and A is the adjacency matrix of the graph.

**Data:** https://file.io/StnNei0y7vxP

**Code:**

[code]

The `plt.plot(v[:,1])` returns:

![Screenshot 2021-02-01 at 12 30 34](https://user-images.githubusercontent.com/2

[2021-02-01 14:08] charris commented on #18254
Closed by #18263.

[2021-02-01 14:08] #18254 closed

[2021-02-01 14:13] ogrisel commented on #17807
Most of the numpy tests pass for the "Accelerate BLAS + netlib LAPACK combo".

- detailed test results for numpy 1.20 with  "Accelerate BLAS + netlib LAPACK combo": https://gist.github.com/isuruf/aaead06e2b1d801a20910bc44a9ffcdf#gistcomment-3614821
- detailed test results for numpy 1.20 with openblas from conda-forge: https://gist.github.com/ogrisel/be1fd7f9d00f32f3c702a10a9886239d

The same tests

[2021-02-01 14:25] ogrisel commented on #17807
I had previously tried to build numpy against Accelerate for both BLAS and LAPACK using this:

https://github.com/numpy/numpy/compare/master...ogrisel:accelerate-arm64

instead of using this the Accelerate BLAS + netlib combo obtained from:

https://gist.github.com/isuruf/aaead06e2b1d801a20910bc44a9ffcdf

With my patched numpy with Accelerate BLAS+LAPACK I had many tests failing with bad numerical

[2021-02-01 14:36] tylerjereddy commented on #18273
Ok, I'll try to make a PR today if possible--to me it makes sense not to impose the change downstream for the special case if not broken/needed.

[2021-02-01 14:58] jjg-dressipi opened #18281 "1.20 spurious "np.bool deprecated" warning"
I have some code which is tested against CI (pytest) and noticed some warnings occurring once numpy 1.20 was introduced.  A typical warning
[code]
but the lines following do not include `np.bool`, indeed, a git grep confirms that `np.bool` is nowhere mentioned in the repo.

Some example lines reported:
[code]
and in multiple cases (15 in fact), I get a summary of the the error counts in the files:

[2021-02-01 15:01] eric-wieser commented on #18281
Can you list your dependencies? One that comes to mind is numba, which hasn't yet merged my month-old PR to fix these warnings in their code.

[2021-02-01 15:06] jjg-dressipi commented on #18281
Sure: numpy, pyproj, h5py, pykdree, netCDF4, libxml2, pint

[2021-02-01 15:07] eric-wieser commented on #18281
Can you run with warnings as errors, to get the full traceback?

[2021-02-01 15:08] jjg-dressipi commented on #18281
I can do that this evening, I'll update here with the results

[2021-02-01 15:14] rkern commented on #18273
Memoryviews can be detected and converted to `ndarray`s with `asarray`, then passed through the rest of the function just fine.

[2021-02-01 16:14] aleksejs-fomins opened #18283 "Parameter for np.corrcoef to provide p-value"
Currently there is no fast way to compute a matrix of correlation coefficients and the associated p-values using numpy or scipy without writing extensive code oneself. For community discussion see, for example, here

https://stackoverflow.com/questions/24432101/correlation-coefficients-and-p-values-for-all-pairs-of-rows-of-a-matrix

[2021-02-01 16:27] BvB93 commented on #18270
A missing object in the stub files is arguably ground for a backport, especially since
these are rather simple and straightforward annotations.

Are there objections against backporting these 3 lines to 1.20.1? https://github.com/numpy/numpy/blob/d075ba2ce1579138e0fd53a611f88ad18003bbdc/numpy/__init__.pyi#L315-L317

[2021-02-01 16:33] charris commented on #18270
I don't have a problem with backporting this.

[2021-02-01 16:35] charris commented on #18270
@BvB93 Want to make a PR?

[2021-02-01 16:39] BvB93 commented on #18270
Sure, I'll make a PR a bit later this week.
Before that, I'm going to comb through the stub files once more though, to check if we missed any similar cases.

[2021-02-01 16:47] zeuschops commented on #17807
Tested accelerate with Swift, and by far I'm noticing a drastic performance improvement. Trained Apple's test network (just 0-9 as a binary image) with 798 epochs with automatic tuning parameters - since that's a thing in their own test code which is neat imho - in less than a second. Images were 20x20.

I will also start looking into a resolve, but I'm new to numpy's repo so it will likely take m

[2021-02-01 17:53] Hoxbro opened #18286 "assert_allclose stopped working for timedelta64 in version 1.20"
I have an unit test which used `np.testing.assert_allclose` for testing two timedelta64 arrays, but after i updated numpy to version 1.20 it has stopped working. I don't know if it is intended to work this way or it is a bug.

### Reproducing code example:

[code]

### Error message:
[code]

### NumPy/Python version information:

`1.20.0 3.7.9 | packaged by conda-forge | (default, Dec  9 2020, 20:

[2021-02-01 18:05] seberg commented on #18271
I have convinced myself there is nothing actionable in NumPy, so opened a cython issue: https://github.com/cython/cython/issues/3994 just in case.  My hope is that with some new Python or Cython version, this just goes away. I feel this has to do with module cleanup, and I am not even certain Python *itself* is cleaned up in that regard yet.

[2021-02-01 18:05] #18271 closed

[2021-02-01 18:12] bstaletic commented on #18271
@seberg Thanks for investigating!

CPython definitely isn't clean, but there are efforts to clean it up in some future version. Maybe one day...

[2021-02-01 18:13] YannickJadoul commented on #18271
Thanks again, @seberg!

[2021-02-01 18:33] invisiblefunnel opened #18287 "np.unicode aliased to np.compat.long"
It appears a bug was introduced in numpy when deprecating type aliases in #18230. The bug caused `np.unicode` to be aliased to `np.compat.long` which is an alias for `int`. This was quick to track down because of a typo in the deprecation message (unciode).

https://github.com/numpy/numpy/blob/v1.20.0/numpy/__init__.py#L209-L212

### Reproducing code example:

[code]

### Error message:

[code]

#

[2021-02-01 19:02] seberg commented on #18286
Hmmpf, `allclose` isn't really very useful for datetimes probably, but breaking this was not intentional really.

The reason is that previous versions of NumPy were ill defined:
[code]
was assymetric with respect to timedelta promotion.  Since simple math seems unaffected (it never worked), I am not sure we should try to undo this.  Should we make `isclose` work specifically for `timedelta64` mayb

[2021-02-01 19:19] eric-wieser commented on #18287
I'm afraid this one is on you @seberg, it didn't exist before #18230

[2021-02-01 20:08] sam-s opened #18288 "unique does not support None"
### Reproducing code example:

[code]

Note that removing `None` fixes the issue:
[code]
returns
[code]

### Error message:

[code]

### NumPy/Python version information:

numpy `1.20.0`
python
[code]

[2021-02-01 20:28] jjg-dressipi commented on #18281
Took a while to get the backtrace (for info, add
[code]
to `setup.cfg`).  Looks like it routes back to NetCDF:

[2021-02-01 20:39] jjg-dressipi commented on #18281
Actually, looks like this was fixed [a couple of weeks ago](https://github.com/Unidata/netcdf4-python/commit/d50b949ea3982a6281c6bce25d335736ad067b64) in netCDF4 , just not made its way into the package yet.  So please close this.

[2021-02-01 20:53] eric-wieser commented on #18281
Thanks for tracking this down yourself!

[2021-02-01 20:53] #18281 closed

[2021-02-01 21:37] rgommers commented on #11588
I think we can close this as wontfix/invalid, there's nothing actionable here as far as I can tell.

[2021-02-01 21:37] #11588 closed

[2021-02-01 21:49] rgommers commented on #18143
That makes sense. If two or more people confirm the tests pass and it's as fast as or faster than the `x86_64` wheel, it should be safe to upload to PyPI.

[2021-02-02 02:21] ikeboy opened #18294 "BUG: Segfault when trying to access a returned numpy array backed by a buffer of named shared memory"
I'm not 100% sure if this is a numpy or python bug, but the behavior is quite weird. I've narrowed it down to two simple test cases, one which works and one which segfaults.

I can create a SharedMemory object, I can create a numpy array backed by it and read and write to it. I can do the same with a second SharedMemory object referring to the same space, created using the name. But I can't have a

[2021-02-02 03:25] seberg commented on #18294
If you use the memoryviews directly (replace `[:] = 0, 0` with `[0] = 0` and use `shm.buf` directly), you will see that Python complains about the buffer being closed.  I am not sure about shared memory, so did not quite follow it all.

Further, if you use `np.frombuffer(shm.buf)`, it seems that you will get an exception that the shared memory cannot be closed.  `np.ndarray` behaves differently wi

[2021-02-02 03:33] athompson673 commented on #18294
`shm.buf` is basically a `memoryview` of an `mmap.mmap`, which gets closed as soon as shm goes out of scope. my suggestion is to not let shm go out of scope by subclassing ndarray and attaching the `shm` as an attribute. This way, the shm lives as long as the array does.

[code]

[2021-02-02 03:49] athompson673 commented on #18294
this is a duplicate of https://github.com/numpy/numpy/issues/9537

[2021-02-02 03:53] seberg commented on #18294
Yeah, although it highlights a slight variation in `np.ndarray` rather than `np.frombuffer`.  It would be nice if `shared_memory.SharedMemory` implemented the buffer protocol, then numpy could directly pick it as a base.  Right now, I guess the trick with an array subclass is best. You can still call `np.asarray()` on that to get a base-class array if you like.

[2021-02-02 07:07] mattip commented on #18286
Is `timedelta64` the only built-in dtype that will fail [`multiarray.result_type(y, 1.)`](https://github.com/numpy/numpy/blob/872373b030eb6c181ab7f29c0928ccd8b0f74528/numpy/core/numeric.py#L2353)? I think we will need to special-class `datetime64` and what about `S` and `U` (on HEAD).

[2021-02-02 07:13] mattip commented on #18281
Linking to the PR for future reference: Unidata/netcdf4-python#1066, this is marked for release with netCDF4 1.5.6

[2021-02-02 07:15] syncsam opened #18296 "Wrong eigenvector from numpy.linalg.eig()"
Trying to find the eigenvector of the smallest eigenvalue of matrix

A = array([[ 2., -1.,  0.,  0.,  0.,  0.,  0.],
       [-1.,  2., -1.,  0.,  0.,  0.,  0.],
       [ 0., -1.,  2., -1.,  0.,  0.,  0.],
       [ 0.,  0., -1.,  2., -1.,  0.,  0.],
       [ 0.,  0.,  0., -1.,  2., -1.,  0.],
       [ 0.,  0.,  0.,  0., -1.,  2., -1.],
       [ 0.,  0.,  0.,  0.,  0., -1.,  2.]])

using numpy.linal

[2021-02-02 07:20] #18287 closed

[2021-02-02 08:10] WarrenWeckesser commented on #18296
You haven't shown the exact code that you used, so we can't check that you are using `np.linalg.eig` correctly.  I can't reproduce your result:
[code]
We can verify that `evecs[:, 4]` is an eigenvector associated with the eigenvalue `evals[4]`:
[code]

[2021-02-02 08:58] radarhere opened #18297 "Error building in 32-bit PyPy 3.7"
Over at https://github.com/python-pillow/pillow-wheels, I've found a problem when trying to install numpy 1.20.0 in 32-bit PyPy 3.7. The problem doesn't occur with numpy 1.19.5. From the errors, I would think it relates to 'multi-platform SIMD compiler optimizations' in the changelog.

Let me know if this isn't clear enough.

### Reproducing code example:

Here is the failing GitHub Actions job -

[2021-02-02 09:27] ogrisel commented on #17807
Altivec is a PPC vector instruction set (and related C/C++ API). The numpy build system assumes that if it's build for macos also known as darwin on a non-x86_64 machine, then it's a PPC machine (because of the time of early MacOSX that would run on both Intel and PPC CPUs) and therefore numpy passes the altivec flags to the compiler. This is no longer valid since nowadays non-Intel chips for maco

[2021-02-02 09:33] anntzer opened #18298 "median() is slower than partition(..., n//2)[n//2]"
For arrays up to ~1e6 elements, calling median() is slower that calling partition(..., n//2) followed by getting the (n//2)th element.  In fact, there seems to be so much overhead in median() that it's even slower than sorting the whole array and getting the (n//2)th element for arrays up to ~1e3 elements.

### Reproducing code example:

(I cheated a bit and only test odd-size arrays here, but for

[2021-02-02 12:18] eric-wieser commented on #18288
You're seeing two things happening here:

* `unique` requires entries to be sortable. The array `np.array([1, "1"], dtype=object)` is not sortable, and also fails in `unique`. I think there are other issues open about this.
* There's some weird coercion going on that makes `np.array([1, "1"])` a string array but `np.array([1, "1", None])` an object array. This means that `unique` somewhat works wi

[2021-02-02 12:49] mattip commented on #18297
@seiko2plus thoughts?

[2021-02-02 12:51] lh-yw opened #18299 ".whl package has libz.so<1.2.7"
libz.so < 1.2.7 has 4 CVE
1. CVE-2016-9840
2. CVE-2016-9841
3. CVE-2016-9842
4. CVE-2016-9843

install method:
pip install numpy

[2021-02-02 15:01] blancc opened #18300 "Formating remainder"
## Documentation

On [this](https://numpy.org/doc/stable/reference/generated/numpy.expand_dims.html) page of the documentation, the "See also" section contains "doc.indexing" which is not supposed to be there.

[2021-02-02 16:46] WarrenWeckesser commented on #18283
I think computing p-values is  out of scope for NumPy, and this issue would be more appropriate for SciPy.  SciPy has both `scipy.stats.pearsonr` and `scipy.stats.linregress`.  Both of these currently accept just a 1-d array for `x` and `y`, but there are issues on the SciPy github repository related to extending `pearsonr` to handle higher dimensional arrays.

[2021-02-02 16:55] seberg commented on #18288
That code will indeed give a FutureWarning on master, the point is that we actually go to `object` as a fallback, so you will just always get an object array; Of course `"1" > 1` fails in Python, so at the end that will still mean that both will error in the future.

One of these days, maybe we have to think about having a very lightweight hashtable or so to make this type of operations more power

[2021-02-02 16:55] #18288 closed

[2021-02-02 17:12] seberg commented on #18298
`median` has quite a lot of overheads compared to `partition`(I have some work that might significantly reduce those soon – by 50% IIRC). But I think the main difference you are timing is the fact that median adds a check for `NaN` (by partitioning also the `-1` element):
[code]

[2021-02-02 17:16] seberg commented on #18286
@mattip `datetime64` already cannot do any promotions for example (unlike for timedeltas, it never makes sense to convert a number to a date, while it can make sense to convert it to a time difference measured in "seconds" or "milliseconds").

`S` and `U` are supposed to error in `result_type`. The consistent error behaviour seems like the only reasonable thing to me right now.  But we could proba

[2021-02-02 17:30] seberg commented on #18294
Marking as bug, because I think we should add the workaround (which will cause a Python error rather than a segfault).  That won't actually help you @ikeboy but it would at least make it more clear that this pattern is invalid (and maybe why).

We do have `np.memmap`, I wonder if we should consider including an array-from-shared-memory factory in NumPy independently. Although, there are likely goo

[2021-02-02 17:31] BvB93 commented on #18270
I've found a handful of other missing annotations in https://github.com/numpy/numpy/pull/18302; I'll get create a PR to close this issue after it's been merged.

[2021-02-02 18:47] kurtamohler opened #18304 "`linalg.cond` complex dtype is inconsistent depending on `p`"
When `linalg.cond` is given a complex input, the output dtype is either the downgraded value type or the complex type, depending on which order value `p` is given. In contrast, `linalg.norm` always returns the downgraded value type, for all possible order values.

To improve `linalg.cond`'s consistency with itself and with `linalg.norm`, it would probably be best if `linalg.cond` always returns th

[2021-02-02 19:12] bdowning opened #18305 "`np.clip` typing is not as specific as ideal; existing code doesn't type-check"
The typing definition of `np.clip` always seems to return a union of number or ndarray for any array-like input.  Unfortunately this breaks typechecking in existing code we had when we pulled in numpy `1.20.0`.

[code]

It'd be much nicer if it could know when the type returned would be a scalar or a vector based on the input type, which I think should be achievable with the right overloads.

###

[2021-02-02 20:46] sleeplessinseattledev commented on #18256
I'll do this one!

[2021-02-02 21:16] seberg commented on #8969
Just to note, my half plan is that we deprecate `"S"` mostly (which doesn't actually change much). It would still be valid input to some functions like `np.array()` that *do* honor the fact that it can represent any length; and those should be the vast majority of use cases.
For all other cases, we would then force `"S0"` to get the same result without any ambiguity (at least in the long run).

[2021-02-02 21:44] jbblanton commented on #17355
I have also spent the day struggling with this. I tried a few things and, ultimately, ended up reverting my Lambda function to runtime of Python 3.7. Then I used of the AWS layer for SciPy (provides a working numpy) + a shared layer for pandas-gbq (provides a working pandas), found here - https://github.com/mthenw/awesome-layers

[2021-02-02 22:09] BvB93 commented on #18270
Resolved as of https://github.com/numpy/numpy/pull/18306.

[2021-02-02 22:09] #18270 closed

[2021-02-03 01:07] JimBiardVexcel opened #18309 "Please restore the index!"
## Documentation

The new documentation removed the single most useful part for me — the index. I used the index constantly. And no, searching is not the same as having the index. Please restore the index!

[2021-02-03 02:04] charris opened #18312 "test_build_import is failing on windows."
See results [here](https://tinyurl.com/y55txleq). The problem seems to be missing `nm`, I think we have seen that before.

[2021-02-03 07:21] mattip commented on #18312
i think we should move the fast check build to the linux_native build so the flaky mingw does not prevent the rest of the CI from running. We could also mark that test as flaky, but then we will never pay attention to it when it fails

[2021-02-03 07:35] mattip commented on #18309
Huh. It is still here https://numpy.org/doc/stable/genindex.html but not easily accessible with the new theme. I wonder where we should link it. The [theme docs](https://pydata-sphinx-theme.readthedocs.io/en/latest/) which use the theme themselves do not really expose it. I opened an issue with the theme authors to see if we are missing something.

[2021-02-03 08:25] jorisvandenbossche commented on #18309
AFAIK, there is not really any magic here, and a link to the genindex is included in sphinx's default `index.rst` template. See https://github.com/sphinx-doc/sphinx/blob/3.x/sphinx/templates/quickstart/master_doc.rst_t, which has a

[code]

section on the index.rst homepage. Which is probably the reason that many projects have that on the homepage.
So but if you want those links somewhere, you nee

[2021-02-03 08:27] mattip commented on #18309
Upper right corner, there is a blue box "index"

[2021-02-03 08:31] jorisvandenbossche commented on #18309
Ah, I see there was this "index" link in the top right corner, which is what was probably meant?

![image](https://user-images.githubusercontent.com/1020496/106718878-ecdf7500-6601-11eb-87bd-957f70d175b5.png)

That indeed seems to be a feature of the old theme, that's not present in the new theme.

Do you have an idea where you would like to see it in the new layout?

[2021-02-03 08:31] jorisvandenbossche commented on #18309
Yep, found it in the meantime ;)

[2021-02-03 08:51] mathause commented on #16499
This has changed with numpy 1.20 & it now raises a `ValueError`.  Will that behavior stay?

[code]

[code]

[2021-02-03 08:51] liangchen1ceeee opened #18314 "Misleading explanation of input variable for numpy.random.poisson"
The original documentation is: https://numpy.org/doc/stable/reference/random/generated/numpy.random.poisson.html
The references for correction are:
* Weisstein, Eric W. “Poisson Distribution.” From MathWorld–A Wolfram Web Resource. http://mathworld.wolfram.com/PoissonDistribution.html
* Wikipedia, “Poisson distribution”, https://en.wikipedia.org/wiki/Poisson_distribution

The original documentatio

[2021-02-03 14:05] charris commented on #18312
Good idea.

[2021-02-03 14:31] rkern commented on #18314
You are correct.

[2021-02-03 14:56] mattip commented on #18314
PR welcome. As this is a bugfix, I think we should fix both [mtrand.pyx](https://github.com/numpy/numpy/blob/master/numpy/random/mtrand.pyx#L3514) and [_generator.pyx](https://github.com/numpy/numpy/blob/master/numpy/random/_generator.pyx#L3015)

[2021-02-03 15:28] seberg commented on #16499
I expect it will stay, unless this is an issue for you? But if you put in `np.array(np.nan)`, chances are you get the old behaviour, and that difference makes things a bit tricky.

[2021-02-03 16:01] mathause commented on #16499
[code]
Also errors for me. I actually prefer an error over a weird number. I assume this comes back to https://numpy.org/doc/stable/release/1.20.0-notes.html#numpy-scalars-are-cast-when-assigned-to-arrays?

(Honestly, that paragraph is super confusing to me & I cannot reproduce the mentioned changes between 1.19.5 and 1.20.0. Also the paragraph suggest that numpy will error in fewer cases which co

[2021-02-03 16:18] seberg commented on #16499
Ah OK, I was refering to that, but the changes had to go back and forth a bit, so now I am also a bit confused :). An example of actual changed behaviour is:
[code]
But it is in the opposite direction.  The error is nicer though, and I expect we can keep it.  What we really would like is to also give at least a warning for large array casts (if performance permits it), but I am unsure if at that p

[2021-02-03 16:40] JimBiardVexcel commented on #18309
I am not picky, myself. It would be excellent if it was in the sidebar or in the top banner. Even if it was present only in the main panel of the home page, that would be better than the current situation.

[2021-02-03 16:56] seberg opened #18316 "Assignment of invalid floats to signed integers"
In an attempt to not relax the behaviour of certains `np.asarray(np.float64(np.nan), dtype=int)` calls (a NumPy NaN is cast to an integer during coercion), incidentally, this also was turned into an error:
[code]
because I aligned how assignment and array coercion works (at least much more than it used to be).

I actually *like* the error, but it is not super clean:
[code]
succeeds (because castin

[2021-02-03 17:14] #18273 closed

[2021-02-03 17:27] seberg commented on #16499
I opened gh-18316 for the moment. But we may have to make a call what to do about it.  Right now, my first thought is to just roll with it, but it depends a bit on how much this affects you/others.

For the future? I don't quite know... Since I expect everyone prefers the error behaviour, I would expect us to stick with it, at least unless we want `np.array([np.nan], dtype=int)` to be a warning (f

[2021-02-03 19:23] touqir14 opened #18318 "Possible memory leak after deleting both Numpy array and its slice view ?"
So, I allocated an array and then created a slice view of it and then I first deleted the original array and afterwards its slice view. Memory consumption did not change. Also, this isn't happening always. I have seen cases where the memory allocator does not immediately give back memory to the OS and I wanted to double check whether that is whats happening here.

[code]

### NumPy/Python version

[2021-02-03 19:35] seberg commented on #18318
This in itself is normal behaviour, of how the operating system and python reclaim memory. Try allocating `x` again repeatedly and you will see that the memory "settles" around those 800 MB.

[2021-02-03 19:52] touqir14 commented on #18318
Right. I once noticed this behaviour in one of my C extensions where I needed to repeatedly allocate and deallocate memory. It also happens with other memory allocators specially when each deallocation is significantly small compared to the total allocated memory. Memory allocators usually use a threshold on the amount of deallocation for deciding whether to give back that memory to prevent memory

[2021-02-03 19:56] cgohlke commented on #16744
The fix is now available in [KB4598291](https://support.microsoft.com/en-us/topic/february-2-2021-kb4598291-os-builds-19041-789-and-19042-789-preview-6a766199-a4f1-616e-1f5c-58bdc3ca5e3b?ui=en-us&rs=en-us&ad=us).

[2021-02-03 20:25] #18318 closed

[2021-02-03 20:29] jamiebarker0310 opened #18319 "np.histogram_bin_edges not returning expected bin width for argument bin = 'fd'"
Hey,

I was playing about with histogram bin widths recently and was trying to test my method for the Freedman Diaconis Estimator by checking it against the "np.histogram_bin_edges". I spotted that I was getting different values when I calculated the bin width using this method and am suspecting there is some rounding going on - and I just want to check whether it is intentional or not.

This is b

[2021-02-03 21:16] mattip commented on #16744
Thanks @bashtage for the first concise reproducer for this, that made it relatively simple to pinpoint the problem. Closing.

[2021-02-03 21:16] #16744 closed

[2021-02-03 21:19] mattip commented on #17825
Windows update is out. @yaav can you update to get the fix and try to reproduce?

[2021-02-03 21:31] jlucier commented on #15764
Answers / responses to the below statement are welcome, but certainly not expected. I'd just like to document my experience for anyone else unfortunate enough to stumble here, and maybe get some insight into what the hell is going on haha.
____

Long story very very short, a lot of my company's signal processing seems to end up in these "BLAS" functions called by Numpy or Scipy when trying to solv

[2021-02-04 02:41] jinwuxia commented on #16546
I have a look at NumPy repo, and find that not every Python file has a corresponding stub file, and not every function is type-annotated.

Obviously, there is a certain decision or choice to select/decide which Python file or which functions should be added type annotations in priority.

I am curious that what is the selection decision?
Besides the top-level functions listed here, do Numpy conside

[2021-02-04 02:58] jinwuxia commented on #17103
I am not sure whether adding these  `Any` types for silencing `Mypy` errors is a good practice?

[2021-02-04 11:33] BvB93 commented on #16546
Hi @jinwuxia,

Due to the sheer size and complexity of the numpy library, a large number of functions are currently defined (as `Any`-based placeholders) in the main namespace. The general idea is to move them to their own stub file once the annotations are properly implemented.

[2021-02-04 11:39] BvB93 commented on #17103
Considering the typing of numpy is very much a work in progress, I don't see any problem with this:
The `Any`s will naturally disappear as more annotations will be added over the course of time.

Improvements are of course possible and, in fact, would be very much welcome additions.

[2021-02-04 11:42] BvB93 commented on #16546
Removed 7 aliases/classes annotated in https://github.com/numpy/numpy/pull/18284:
* `bool8`
* `bytes0`
* `complex256`
* `float128`
* `object0`
* `string_`
* `void0`

[2021-02-04 12:13] bashtage commented on #17103
I agree that this is the pragmatic approach that allows for improvement when people who rely on these modules have time to invest.

[2021-02-04 14:52] madphysicist opened #18321 "Centering/alignment of heading in documentation seems strange"
## Documentation

Here is an example of a page where the heading is right-aligned:

![image](https://user-images.githubusercontent.com/4617010/106909818-43ae8280-66c6-11eb-88fb-2edc794fb548.png)

If this is a deliberate design choice, please ignore. It just looks really strange to me.

[2021-02-04 15:10] eric-wieser commented on #18321
This style was introduced deliberately in #17382 by @bjnath.

https://github.com/numpy/numpy/blob/9f12028b9453c17b72b26355fd503e512af96a5d/doc/source/_static/numpy.css#L20-L29

I also think it looks a bit odd, and personally would have diverged from the pydata theme only when it came to numpy colors and/or fonts - but I don't feel strongly enough to back those lines out.

[2021-02-04 15:18] madphysicist commented on #18319
The code for the Freedman Diaconis binwidth estimator is here: https://github.com/numpy/numpy/blob/f36e940a4726abb38c4929259e8eaf00d68c3d18/numpy/lib/histograms.py#L199

Aside from cruft, the function is two lines long:

[code]

This is pretty much identical to your method, and yields the same result. However, some additional magic happens under the hood in [`_get_bin_edges`](https://github.com/nu

[2021-02-04 15:35] anntzer commented on #18298
Fair point, but I'd guess partitioning two elements should not take more than twice the time it takes to partition just one element(?), and the overhead is much more than twofold for small arrays.

[2021-02-04 15:54] seberg commented on #18298
Yah, sorry, I guess your focus was really the overheads.  There are many reasons for the fairly large overheads, the main one: `np.median` is written in python, which causes other overheads to pile up over the fairly long and complex function.

One thing, I have been looking at (by now, I am mostly interested in it because it caused me to cleanup ufunc code in the process to be honest), is to gene

[2021-02-04 16:37] charris commented on #18321
Looks odd to me also.

[2021-02-04 16:44] eric-wieser commented on #18321
I brought this up here:

https://github.com/numpy/numpy/pull/17382#discussion_r498226765

[2021-02-04 16:50] seberg commented on #18321
I don't mind the right alignment. But if it trips anyone, lets just undo it? Maybe one thing is that it works best only at the very top of a page and not in the middle of a long text. (Think like a chapter start in a book.)

[2021-02-04 17:46] sradc commented on #5922
Anecdotally I've found it ~6x faster to manually loop rather than use add.at (not a completely elementwise loop)

[2021-02-04 18:02] jamiebarker0310 commented on #18319
Hey, thanks for getting back to me! Your explanation makes a lot of sense.

I see what the code is doing now, and it makes sense. I guess I just find it surprising that if you specify the bin width method, the produced bin width is not what the formula in the documentation. However, if the code is behaving as expected I guess it's best to close the issue.

[2021-02-04 18:38] yaav commented on #17825
@mattip, just checked the `numpy==1.20.0` with both Python 3.8 and 3.9 after today's Windows patches - the issue has gone.

[2021-02-04 18:42] seberg commented on #18286
Nice and subtle: We support `datetime64 + integer`, but not `datetime64 + float` (at this time). But because `assert_allclose` defaults to `atol=0` (as an integer), things do work out in that case (and in that special case are somewhat reasonable, although the integer nature of datetime64 makes it slightly weird, its not all that weird).

The other functions who use this trick (linspace, cov, corr

[2021-02-04 18:45] #17825 closed

[2021-02-04 18:46] charris commented on #17825
@yaav Thanks for the update. I'll close this now. Feel free to reopen if the problem returns.

[2021-02-04 18:49] melissawm commented on #15308
#17373 actually fixed this as well.

[2021-02-04 18:49] #15308 closed

[2021-02-04 19:02] jakirkham opened #18325 "Pickling `type` of `dtype` object fails on NumPy 1.20"
### Reproducing code example:

On NumPy 1.19.5, the following is possible...

[code]

However on NumPy 1.20.0 we see the following error...

[code]

Not sure if this is expected to fail, but we encountered this in our test suite when upgrading to NumPy 1.20

### Error message:

[code]

### NumPy/Python version information:

[code]

cc @madsbk @pentschev @quasiben

[2021-02-04 19:07] seberg commented on #18325
@BvB93 do we have a nice place in `np.typing` to put things like `np.typing.Float64` there? Such a rename would be the simplest solution...

DTypes probably should/could be proper heap-types as well, which would probably allow to fix this more easily, but it a swath to wade through (In some future, we probably want everything to be heap types anyway, because it should make certain things cleaner,

[2021-02-04 19:21] madphysicist commented on #18319
It may be worth documenting this somewhere. A sentence like "The actual number of bins is always chosen to divide the range into an integer number of bins that is at least as large as the estimate.", or something to that effect in `histogram`. Would you like to open a PR to include that, or would you like me to do it?

[2021-02-04 19:24] madphysicist commented on #18321
@seberg Even then, centered would make sense, left-aligned would look good, but right-aligned is weird. I think it's legible either way, but I'll leave the issue open until the maintainers come to a consensus.

[2021-02-04 19:40] jamiebarker0310 commented on #18319
I can give that a go - thanks!

[2021-02-04 20:02] seberg commented on #18321
I honestly think chapter beginning/top of the page is simply artistic freedom. Of the few books I looked into (only 4-5 or so were a bit more fancy styled): one used right alignment (incidentally, one of the most styled ones), one used "weird" alignment (left, but multi-line was heavily indented), one did have at least an exception to left alignment in the index.
Sure most were left alignment, but

[2021-02-04 21:14] seberg commented on #18325
Oops, I just realized that there is actually a simple work around that seems to be sufficient and only rely on the existence of `dtype.type`, which is not a very strong requirement.

[2021-02-04 21:28] seberg commented on #16692
I just realized that there is after all a simple solution to this. Sorry about this, we will have a fix in 1.20.1 I think, and that is currently planned to be released by next week.

[2021-02-04 22:08] seberg commented on #18325
@jakirkham would you be able to check if gh-18332 works for you? It will allow pickling the class, but I am starting to expect the class is just part of a more elaborate scheme, and I am not sure that pans out with the fix?

[2021-02-04 22:59] BvB93 commented on #16692
@seberg just to double check: https://github.com/numpy/numpy/pull/18332 will already resolve the issue, right?

[2021-02-04 23:02] jakirkham commented on #18325
Ofc, thanks for working on this Sebastian 😄

Should I rebuild from source to try or do you think I can just apply that change to an exiting build of NumPy 1.20?

[2021-02-04 23:12] seberg commented on #16692
@BvB93, yeah, thanks for looking.  I had not thought of this approach/realized it works for static "builtin" types.

I am not certain it will solve all issues around this, since joblib (and similar) might do more than just pickle the class (for one try to actually instantiate it with some arguments ;)... outrageous, I know!).

[2021-02-04 23:13] seberg commented on #18325
No need to rebuild, its just a pure python change.  Thanks!

[2021-02-05 05:02] lesteve commented on #16692
Just a FYI in joblib', we decided to change slightly the way our hashing work to avoid the problem: https://github.com/joblib/joblib/pull/1136.

[2021-02-05 05:03] jakirkham commented on #18325
Looks good! Thanks again for the quick fix Sebastian 😄

[code]

[2021-02-05 08:52] TrangOul commented on #13007
For what it's worth, Python itself is inconsistent in that matter as well:

[code]

Why is silently dropping imaginary parts forbidden, whereas silently dropping fractional parts is allowed? Especially if there is a built-in `math.trunc` function. Such behavior seems to be violating The Zen of Python.

[2021-02-05 11:48] raaaaaymond commented on #7726
OK I understand that you won't fix it, but *at least please don't claim in the [documentation](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_allclose.html#numpy.testing.assert_allclose) that they're equivalent!* I know the documentation has a disclaimer that says "note that allclose has different default values", but the sentence "The test is equivalent to allclose(actual,

[2021-02-05 12:51] #18256 closed

[2021-02-05 13:48] 2sn opened #18335 "f2py (1.20) drops definition`typedef signed char signed_char;` for callbacks in some circumstances"
### Reproducing code example:

Unfortunately this is part of a larger project.
And may be tricky to reproduce.
Depending on other definition of callback functions, I get the error message below for the *second* routine.

this causes the error:

[code]
but if I change the *first* routine to

[code]
then the compilation error in the *second* routine does not occur.

### Error message:

[code]

### N

[2021-02-05 13:50] eric-wieser commented on #7726
Can you suggest a less confusing version?

[2021-02-05 13:53] 2sn commented on #18335
The same error also occurs in  `numpy==1.19.5`.
Maybe I am just missing something and there is no bug.

[2021-02-05 13:59] raaaaaymond commented on #7726
Suggestion, maybe something like the following?

"Due to different default parameter values, its behaviour is different to `allclose`, but they are functionally equivalent."

[2021-02-05 14:44] charris commented on #18335
@pearu Thoughts?

[2021-02-05 15:10] alfiopuglisi commented on #14992
This problem also causes the @ operator to fail, since it relies on \_\_matmul__:

[code]

Result:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/opt/anaconda3/envs/xelab/lib/python3.7/site-packages/numpy/ma/core.py", line 3049, in __array_wrap__
        m = reduce(mask_or, [getmaskarray(arg) for arg in input_args])
      File "/opt/anaconda3/envs/xe

[2021-02-05 15:18] pearu commented on #18335
Nit:
[code]
should read
[code]

I cannot reproduce the failure: I pasted the Fortran code to `issue18335.f90` and run
[code]
with success using
[code]

[2021-02-05 15:34] seberg commented on #18325
Oh, thanks for checking. I am/was a bit worried that the original issue was more general and possibly did something like:
[code]
I.e. after unpickling, you would instantiate the dtype again with arguments originally meant for `np.dtype`. But that would break currently (and I am not sure I want it to work generally, since `np.dtype` is a mini-language basically).

[2021-02-05 16:29] jakirkham commented on #18325
No worries. At least in our use case, we created an array first

I know I have written and seen code like `np.dtype(arg).type`. Though that is a bit different than what we have here. Also I don't think I've seen the result be pickled in that case. That said, this case does appear to pickle correctly

[code]

[2021-02-05 16:36] seberg commented on #18325
Yeah, pickling the `dtype.type` is totally fine (in fact, it is the solution here at the moment).  `dtype.type` is the scalar type though which is different from `type(dtype)` its a bit confusing :).

[2021-02-05 16:39] 2sn commented on #18335
@pearu Thanks for looking at this.

Yes, I realised the missing `::`.  My apologies.
But it does not change the outcome for me.  Still getting same error message on compile.

I was trying to grep the f2py code, but could not spot an obvious place where there might be a confusion between `signed_char` and `signed char`.  Even if the statement in `!f2py` had been wrong, it still should not produce C

[2021-02-05 16:48] 2sn commented on #18335
I tried devel version
[code]
but same result.

[2021-02-05 16:50] 2sn commented on #18335
BTW, the reason why I tried this change kin the first place is because with the argument in the callback I get a segfault with numpy 1.20 that does not occur with 1.19.5.  I will file separate report.

[2021-02-05 17:00] pearu commented on #18335
@2sn can you send the full output of the `f2py` process? It is strange that the `code` argument is typed as `signed_char`, could you try a rename `code` -> `foo`?

[2021-02-05 17:03] #18286 closed

[2021-02-05 17:25] 2sn commented on #18335
Yes, I had tried renaming, no change.
What is strange is that when I pass it on to the `endkepler` call it complies (it still causes segfault later in numpy 1.20+)
The output is rather long, as there is a lot more than what I sent.
[code]

[2021-02-05 18:48] 2sn commented on #18335
I may have some clue what seems to be dropping out:
I compiled both, and saved the c files, here the diff (the first-compiled version is that with the extra argument to `endkepler`, which compiles:
[code]
so in the second diff, the first version does a
[code]
that is missing in the second version.  Although it should be there.  Then gcc does not know that `signed_char` actually stands for `signed

[2021-02-05 19:14] pearu commented on #18335
It looks like a f2py bug related to `needs` processing. I wish I could reproduce it..

Can you reproduce it with the Fortran code given in this issue only or does the reproducer require the full set of Fortran source you have?

[2021-02-05 19:40] MarsBarLee commented on #18321
I rather like the right-alignment.

I personally see right aligned headings on websites and brands as a way to purposely and artistically stand out (visually represent going 'against the grain', haha).

For documentation, I would expect it to look professional and not flashy, but the more I compare it to left-aligned, the more I like the little bit of flair, the character it adds.

Here's a previe

[2021-02-05 19:45] 2sn opened #18341 "f2py (1.20) causes segmentation fault when calling callback function"
See also #18335

### Reproducing code example:

For the same code as in #18335, when any callback function is actually called, it causes a segmentation fault.

[code]

[code]

the c code generated is (excerpt, full version in referece)

[code]

Specifically, the seg fault is in line
[code]

This does work, however, in numpy version 1.19.5.
The diff in the generated .c files i huge (due to some oth

[2021-02-05 20:02] 2sn commented on #18335
It is part of a larger code project, so not so easy to tear out.
Linking would not work, but since the issue is at compile time, I may attempt to just selectively uncomment routines.

Here a set files that may suffice for compilation
[xxx.zip](https://github.com/numpy/numpy/files/5934942/xxx.zip)

[2021-02-05 20:10] 2sn commented on #18335
actually, no, for me if I just have
[code]
and all else commented out, I already get the error message
[code]
Is it conceivable that commented-out parts cause issues?

[2021-02-05 20:11] 2sn commented on #18335
No, even removing all the comments still break it.

SInce it works for you, am I use wrong f2c flags?

[2021-02-05 20:44] seberg commented on #18341
Marked for 1.20.1 for now, but I doubt that we should delay the quick release of that, if this isn't a simple and quick thing.

[2021-02-05 20:52] 2sn commented on #18341
No worries.  I very much appreciate the NumPy community looking at my issues.

[2021-02-05 21:01] madphysicist commented on #18321
The more I look at it, the more awkward the right alignment looks. When I read the docs, I do so to get the most information in the shortest amount of time. I read English from left to right. It takes an extra moment to adjust to the weird alignment. My personal feeling is that these docs should be all about utility: form follows function and all that.

[2021-02-05 21:14] pearu commented on #18335
The lines
[code]
are problematic:
- `endkepler` and `ttykepler` are external functions function, they should be specified only by name
- specifying the functions using `intent(callback, hide)` does not make sense. What is the intention here?

[2021-02-05 21:39] eric-wieser commented on #18321
My preference is the slightly different "when in doubt, stick with the default someone else chose". One benefit of doing so is that style arguments like this can be dismissed as an upstream problem.

[2021-02-05 22:33] seberg commented on #18321
One thing I just realized: The original example here is mostly a problem with the docs rather than the styling.  The `np.polynomial` module (just like `np.fft`) should have a title in its *docstring*.
That would make the "Convenience classes" a level 2 instead of level 1 header. And a level 2 header is intentionally styled in a way that it won't "disrupt" the reading flow as much.

So as long as e

[2021-02-06 02:07] 2sn commented on #18335
There are the python callback functions. They are later set

[code]

following the bottom of section
https://numpy.org/devdocs/f2py/python-usage.html#call-back-arguments

(This has been working in f2py for many years, until `1.20+`, see #18341)
Removing the `()` or the`(data)` in the lines you mention does not help/work.

I think there is a mess-up based on callback signatures.

The _compile error

[2021-02-06 17:37] mattip commented on #18140
Closed by #18342

[2021-02-06 17:37] #18140 closed

[2021-02-06 19:24] #16692 closed

[2021-02-06 20:19] #18325 closed

[2021-02-06 21:01] pearu commented on #18335
Heads up, I can now reproduce the compile error.

[2021-02-06 21:10] pearu commented on #18335
A small reproducer:
[code]

[2021-02-06 21:46] #17824 closed

[2021-02-06 21:50] charris commented on #17420
This seems to be fixed.

[2021-02-06 21:50] #17420 closed

[2021-02-06 21:51] #17972 closed

[2021-02-06 21:52] #18207 closed

[2021-02-06 22:19] pearu commented on #18335
@2sn could you change your local copy of numpy/f2py according to (it is one line only change)

https://github.com/numpy/numpy/pull/18350/files#diff-b1639eaf518e24317733541ac7fc4f58cf217666e339b0b9604e85460506a85a

to check if it fixes your use case.

[2021-02-06 23:22] 2sn commented on #18335
I confirm, this fixed that issue for me!  Thank you so much.

[2021-02-06 23:24] 2sn commented on #18335
(this was for the default version 1.20.0, not the current master branch, but I assume it will be the same there.)

[2021-02-06 23:30] 2sn commented on #18335
I confirm it also fixes it for current `numpy-1.21.0.dev0+685.gb666225ca`.

[2021-02-06 23:42] #18335 closed

[2021-02-07 02:36] tlkahn commented on #17807
I exhausted all the approaches above which don't work for me. I have to run everything in Rosetta. Run `arch -x86_64 zsh` and then all the usual `pip install numpy`.

[2021-02-07 03:00] MahendraCherukupalli opened #18355 "TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type"
### Reproducing code example:

[code]

### Error message:

### NumPy/Python version information:

[2021-02-07 06:10] seberg commented on #18355
There is a unfortuate incompatibility with old pandas and 1.20. Updating pandas to a newer version should fix it, see also https://github.com/pandas-dev/pandas/issues/39520#issuecomment-772630011

Updating to `pandas>=1.0.5` should solve it. Supposedly also `pandas==0.25.3` works. If you are stuck with pandas 0.24.x you may not be able to usse numpy 1.20.x though, unfortunaly.

[2021-02-07 09:07] tlkahn commented on #17807
It won't work. Installation finished okay but when import I ran into:
[code]

[2021-02-07 09:38] zeuschops commented on #17807
@tlkahn Try that again with Python 3.8 instead of 3.9.

I’m suspecting there may also be external factors causing problems with one of my builds recently as well, so I’m officially having to look into alternatives to Python entirely (fyi)..

[2021-02-07 10:15] picn0113 commented on #17807
Yes. I think it no longer works now.

[2021-02-07 11:22] fcharras opened #18358 "Large arrays not reusing memory previously used by many small arrays"
### Reproducing code example:
Consider the following sequence of instruction, and execute it in a python interpreter while paying attention to the RAM usage after each one:
[code]
#### Expected result
RAM usage after 5 should be equal to RAM usage after 1.

#### Observed result
RAM usage after 5 is twice the RAM usage after 1.

#### What seems to happen
The memory has most likely been freed after

[2021-02-07 15:23] pearu commented on #18341
I am trying to find a small reproducer, using the current numpy master:
[code]
Run:
[code]
Test script:
[code]
that outputs
[code]

@2sn , does the above example work for you?

[2021-02-07 15:28] AngelGris commented on #17923
I was checking on this but I'm afraid the behavior of `==` over the Numpy array class is defined in it's C++ implementation so the comparison between tuples in the arrays that is failing should also be fixed in that implementation and not on the Python side.

[2021-02-07 15:30] pearu commented on #18341
Also, this works here:
[code]

[2021-02-07 16:04] 2sn commented on #18341
yes, these seem to work for me.
So, something else must be going wrong.
I link with an external fortran code library compiled with -fPIC, a routine form there would be in between the call chain.
Could that cause issues?  Or some compiler flags?
[code]
but same works with 1.19.5.

[2021-02-07 16:07] 2sn commented on #18341
Does the 'pointer' above where the segfault occurs help any at all?
Any way to "inject" code for debugging there?

[2021-02-07 16:17] pearu commented on #18341
From the pointer above, I can only guess that `cb` is `NULL` for some reason. Perhaps there is something wrong with setting the callback. It could be anything. What always helps is providing a complete reproducer.

Yes, f2py has `--debug-capi` option that inserts the various print statement to the generated functions that may help to track down bugs.

[2021-02-07 16:31] seberg commented on #17923
@AngelGris that is not what is going on, the tuple is incorrectly unpacked _before_ the `==` operation (which does nothing strange for `obect`s).  The diff that Tyler posted is good, might need to think about a nicer way, but mostly we need to transform it into a PR with a test.

[2021-02-07 16:32] seberg commented on #17923
Oh, sorry, the `==` operator *does* call `np.asarray(a)` which unpacks.  But I don't think we can change that behviour, so a python side fix similar to the one above is better.

[2021-02-07 16:53] pearu commented on #16357
f2py, in particular, the `create_cb_arglist` C function does not implement arbitrary number arguments (nor keywords arguments) support. So, this issue is a feature request and a very reasonable one.

[2021-02-07 17:01] seberg commented on #18358
NumPy doesn't do anything fancy for arrays, the only thing it does and which *might* make a difference is:

1. It caches "very small" arrays, but even your small ones are too large for that.
2. It uses madvise hugepages for `>=4194304` bytes in an array.  Which can be toggled on newer NumPy versions: https://numpy.org/doc/stable/reference/global_state.html

Everything beyond that is operating syst

[2021-02-07 18:39] arubiales commented on #18170
@seberg I tried to find where the error is originated without success. I have looked for in many files and  change many function some of them are:

* core/src/umath/umathmodule.c -> `initumath`:  I tried to change this function, but always finish with a lot of errors from others sources.
* core/src/common/npy_longsdouble.c -> `npy_longdouble_from_PyLong`: I though maybe `overflow` could lead to th

[2021-02-07 18:58] seberg commented on #18170
Hmmm, I think we may have made a mistake here recently, it might even be a regression (although that would probably 1.20 not 1.19, but I am not sure); and yeah, I did look at those changes also :).  We have the code in `npy_divmod`:
https://github.com/numpy/numpy/blob/f527a570b7ec9b7c26e3a79601ca19cc989de244/numpy/core/src/npymath/npy_math_internal.h.src#L718L721

Which smells wrong, but I might b

[2021-02-07 19:35] syagev opened #18360 "distutils.misc_util.get_info("npymath") returns double backslashes in path when venv is on a network share"
If numpy is installed in a venv which is hosted on a network share on Windows, it seems `distutils.misc_util.get_info.get_info` returns the path with double-backslashes as a path separator. This breaks modules that depend on this output in order to set include and lib paths during compilation (e.g. `hmmlearn`).

### Reproducing code example:

[code]
The correct path for the npymath library is `\\i

[2021-02-07 19:46] AngelGris commented on #17923
I've been doing some more research on this and I find it weird too how the arrays are being built when containing tuples.
Take the following example:
[code]

So when the tuples have the same amount of items the array constructor converts them into arrays and that's what we pass later to `in1d()`. For instance if we want to compare the first 2 arrays (`[(1,), (2, 1)]` and `[[1], [2]]`) and given th

[2021-02-07 19:50] seberg commented on #18170
A bit of digging, this helps a little: https://www.gnu.org/software/libc/manual/html_node/FP-Comparison-Functions.html

The comparison functions are another case where the invalid flag is set (that and functions that create a new NaN), which makes sense, since these functions throw away the information that the input was NaN.

After some annoying gdb stepping through, I found the culprit (the abov

[2021-02-07 19:53] seberg commented on #17923
Yes, that is all problematic, but I guess nobody had the inertia yet to try and go for a big change such as "only unpack lists for `dtype=object`".  If I were to design things from scratch, I would definitely prefer that.

That doesn't mean it cannot be changed, especially since we can limit it to the `dtype=object` path, but it might be a bit painful and it definitely needs a proper deprecation/f

[2021-02-07 20:16] arubiales commented on #18170
Yes of course. It's my first contribution to Numpy and after all the hours I want to finish the job properly. I didn't enter in the `.src ` files because I thought they were for Windows SO...

I have done similar changes to the file to avoid the warning and I get to avoid with NaN as a second input. Right now I will do:

* Think the perfect way to do it.
* Do the same with `np.inf` to avoid also t

[2021-02-07 20:36] eric-wieser commented on #18360
I don't really understand the codepath yet, but these escape calls look very suspicious to me:

https://github.com/numpy/numpy/blob/5cae51e794d69dd553104099305e9f92db237c53/numpy/distutils/npy_pkg_config.py#L130-L136

[2021-02-07 20:39] eric-wieser commented on #18360
It looks like those lines are indeed the cause, and they were introduced by #4451, which was a revert of a previous attempt to fix this, #4421

[2021-02-07 21:46] 2sn commented on #18341
OK, I will try that.  But I may not get to this today.  I should also mention, the code contains three callbacks, each has a different signature, and all of them fail unconditionally with segfault in 1.20.0 and dev0 (master).

[2021-02-07 22:48] 2sn commented on #18341
Hmm, it seems not happy with the extra flag on the callback definitions

Here is what the `f2py` call looks like from my build infrastructure

[code]
and here the error message

[code]

[code]

[2021-02-07 23:21] Joeperdefloep opened #18363 "nanosecond precsion datetime converts to int in stead of datetime"
When converting nanosecond precision `np.datetime64` to `datetime.datetime`, an `int` is returned, whereas a `datetime.datetime` would be desireable/expected.

### Reproducing code example:

from [this SO thread](https://stackoverflow.com/a/58174729/14681457). I also explained it in [this xarray issue](https://github.com/pydata/xarray/issues/4880)

[code]

### Error message:
none,

### NumPy/Pytho

[2021-02-08 00:11] 2sn commented on #18341
OK, this seems to be a generic problem, similar to the one tracked down in #18335
[code]

[2021-02-08 00:43] sleeplessinseattledev commented on #17845
I'll start with step 1.

[2021-02-08 03:18] charris opened #18365 "Versioneer is failing on TravisCI"
Versioneer needs `git describe` to be able to find an annotated tag in the relevant branch and this is failing, [here](https://travis-ci.com/github/numpy/numpy/jobs/481119639). I suspect that the problem is caused by the limited clone depth used by TravisCI (50) but don't quite know how to interpret that as the most recent tag is already 689 commits back and the failures started yesterday.

[2021-02-08 03:34] charris commented on #18365
Or perhaps it has something has change in downloading tags.

[2021-02-08 05:35] pearu commented on #18341
Please apply https://github.com/numpy/numpy/pull/18361/commits/ea557b2c6c681f029cfee1ea3ddf0b6e87f2dab5

[2021-02-08 07:22] 2sn commented on #18341
OK, it complies, but the outputs seem insufficient.
[code]
so the lat lines before the `Segmentation fault ` come from a routine in a python library that calls `pyexit` from the code example, which then calls `endkepler` which causes the `Segmentation fault `.  So the call of `pyexit` is not tracked, nor is there output for the callback call of `endkepler`.

[2021-02-08 10:03] bryanccho commented on #18300
Are we looking to remove the `doc.indexing` and add an explanation for `atleast_1d`... ?

This also appears [here](https://numpy.org/doc/stable/reference/generated/numpy.ma.expand_dims.html?highlight=doc%20indexing)

[2021-02-08 10:07] blancc commented on #18300
I don't know about the explanation du the `doc.indexing` seems to be an artifact or something

[2021-02-08 10:52] rgommers commented on #18365
Copying the failure for future searchability:
[code]

[2021-02-08 10:55] #18365 closed

[2021-02-08 11:44] mattip commented on #18360
While #4421 added some tests, it seems they were insufficient, which led to the revert.

[2021-02-08 12:10] Joeperdefloep commented on #18363
In the [specifications of datetime](https://github.com/numpy/numpy/blob/5cae51e794d69dd553104099305e9f92db237c53/doc/neps/nep-0007-datetime-proposal.rst#compatibility-issues):
it says that conversion to datetime should lose precision or overflow as needed. Not convert to int

[2021-02-08 12:54] 2sn commented on #18341
(the call from `pyexit` to `endkepler` is what causes the segfault)

[2021-02-08 13:39] pearu commented on #18341
Is the segfault triggered when inside the Fortran function? Can you check if `endkepler` is actually set? Say, check its pointer value using gdb.

[2021-02-08 14:19] 2sn commented on #18341
the segfault is triggered exactly in the code generated by f2py from fortran, in when the callback function is called.

I tend to be lazy and use 'print' for debugging fortran code.  so a print before that call still goes out, a print statement at the beginning of the python code is not reached.

(I would not know how to set a breakpoint using gdb)

the function value/point is set in a routine cal

[2021-02-08 14:23] 2sn commented on #18341
Considering the two other instances of code missing after the f2py 1.20 refactor, I am wondering whether it could be that in some circumstances the code needed for the callback might be skipped from being linked in?

[2021-02-08 15:26] pearu commented on #18341
One of the changes in f2py in between 1.19.5 and 1.20 is https://github.com/numpy/numpy/pull/16519 .
@2sn, can you check if the corresponding commit https://github.com/numpy/numpy/commit/581eab37b5d558ba9b8035f3fa82cfa617e70e26 introduced your issue? Just try one commit before and after the commit, for instance.

[2021-02-08 16:16] cooperrc commented on #17845
Awesome, thanks @sleeplessinseattledev. Step 2 is covered in #17889. Now, we just have one step left to close this:

- [x] Step 1: update the landing page #17845
- [x] Step 2: rename NumPy Basics -> NumPy Fundamentals #17889
- [ ]  Step 3: remove the "Explanations" section from the table of contents.

[2021-02-08 16:17] KamaljeetSahoo commented on #17671
I'm a beginner to Open Source Contribution too, I would like to fix the issue if @aryanxk02 and @rpolley are not working in this issue.

[2021-02-08 16:36] rpolley commented on #17671
Just realized I never actually linked back to this issue in my PR https://github.com/numpy/numpy/pull/18085

[2021-02-08 17:01] #16347 closed

[2021-02-08 17:54] AngelGris commented on #17923
@seberg the approach suggested by @tylerjereddy worked fine, just needed to check the dtype for ar2 to use that only on objects. My unit tests were failing because of the problem with the array constructor I mentioned before but I found a work around to make the constructor work as expected and the unit tests, using the failing cases reported in this, are passing now.
Please check my PR at your ea

[2021-02-08 19:13] melissawm commented on #17671
I'm closing this one as resolved by the PR mentioned above, but if you want to start with documentation @KamaljeetSahoo we do have some open issues that you can work on, and you can find them if you search for the DOC prefix or the `04 - Documentation` label. If you find something but need help or have questions feel free to tag me in the issue. Cheers!

[2021-02-08 19:13] #17671 closed

[2021-02-08 19:59] lelayf opened #18370 "Incorrect interpretation of p-value"
https://github.com/numpy/numpy/blob/9f12028b9453c17b72b26355fd503e512af96a5d/numpy/random/mtrand.pyx#L2175

A p-value is not the probability of the null hypothesis being true. I think the wording in the documentation could be improved to read like this:

`The p-value is about 0.009, which says there is about 1% chance of observing values as extreme as those observed in our intake, conditionally on

[2021-02-08 20:14] jessdwitch commented on #18355
@seberg Any idea why someone might be suddenly seeing this error when calling `df.to_csv` with `pandas==0.24.2` and `numpy==1.16.5`? Based on what you're saying above, it seems like those should be in the "OK" range.

[2021-02-08 20:21] seberg commented on #18355
@jessdwitch I am not sure if there are other (likely) ways to get this error, and I doubt it is possible with the above example (or a similar one, such as creating an empty dataframe IIRC).

Can you double check `np.__version__` and `pd.__version__` in your shell to make sure you are running the expected versions?  Sometimes you might get multiple versions or so, which can quickly become very conf

[2021-02-08 20:47] melissawm commented on #18370
Thanks, @lelayf . Would you be up to submitting a PR to do this?

[2021-02-08 20:54] jessdwitch commented on #18355
Thank you for the quick reply! I did check those already, since there _are_ multiple versions installed (`numpy==1.20.0` and `pandas==0.25.3` when conda is deactivated, and the versions noted above when the conda environment the script is running in is activated). I double checked the logs, and while I don't have the specific versions printing to the log, I do see the env activating and confirmed

[2021-02-08 21:04] lelayf commented on #18370
Yes, I actually found the reference example in R, which uses a 2-tailed test. I will tweak it as appropriate and submit a PR.

[2021-02-08 21:12] seberg commented on #18355
Hmm, can you post an example and the full traceback?  I am wondering if I mixed up the issues and this one was not related to 1.20.x at all.

To be honest, if you are not running 1.20.x, then searching/asking on pandas is more likely to be successfull.

[2021-02-08 21:21] jessdwitch commented on #18355
Gotcha. Tbh asking around pandas was my first thought, but this is literally the only google result with this error (well, this and an SO thread Mahendra created). Here's the traceback starting with the `to_csv` call. If that doesn't spark anything, I'll leave you be and pop in over there, but thank you regardless for taking a look.

[code]

[2021-02-08 21:23] 2sn commented on #18341
[code]
This commit already causes the segfault.

It is a merger of two branches.  Which one before should I try?

[2021-02-08 21:40] xgchena opened #18371 "In certain case, v1.20.0 numpy.log returns a slightly different value than v1.19.5"
### Background

Our project uses numpy.log() to calculate [some metrics](https://github.com/aws/amazon-sagemaker-clarify/blob/f7f8d84560c8d491034aa35a5c03e68e373e7ae7/src/smclarify/bias/metrics/pretraining.py#L114). Our last commit to master branch was about a month ago and it built without problem. But lately there is [a build failure due to unit test code got unexpected metric value](https://git

[2021-02-08 22:05] 2sn commented on #18341
@pearu Yes, you nailed it!

When I install
[code]
the segfault goes away.

In my larger framework, I may use all kinds of multiprocessing and multi-threading as well, in principle.
Although the simple test case I ran should not use these, it still loads a bunch of libraries, set mp start method, etc. (e.g., threading,...).  The list of modules loaded at that stage is too long to be useful.
[code]

[2021-02-08 22:23] charris commented on #18371
I don't see this on linux myself, but it may be hardware dependent as NumPy may take advantage of AVX or other vectorizations. Or possibly it is not rounding properly. What hardware do you have?

[2021-02-08 22:27] KamaljeetSahoo commented on #18314
I would like to take a shot at this issue.
@mattip, please help me contributing to this PR, I am a beginner to open source contribution.

[2021-02-08 23:03] seberg commented on #18355
Sorry, do you have a minimal reproducer, preferably printing out the versions?  It does look like this issue, but in that case the pandas code in `contruct_1d_arraylike_from_scalar` would include `isinstance(dtype, (np.dtype, type(np.dtype)))` or so (which is incorrect, because `type(np.dtype)` changed and was always weird).

Long story short, it looks a lot like this issue but I if you are really

[2021-02-08 23:26] xgchena commented on #18371
I'm using a AWS EC2 host of type [m5.4xlarge](https://aws.amazon.com/ec2/instance-types/m5/) for daily development work, here is the CPU info,

[code]

I don't know the hardware configuration of Github Actions runners. We've never seen this problem when using numpy v1.19.5, but our project builds against v1.20 always fail Github Actions or local builds in my EC2 host. Could the issue be correlated

[2021-02-08 23:38] charris commented on #18371
There has been a lot of work implementing SIMD in 1.20, in particular #16605. @xiegengxin Thoughts?

[2021-02-08 23:43] seberg commented on #18371
Yeah, just dug that one out also. Pinging also @Qiyu8.  It might be that the algorithm adopted is slightly less accurate, but I am not sure if that is a deficiency, or simply an expected variation in precision (IIRC things like log should have around <2-3 ULP of error?).  Unless log is defined by IEEE/glibc to be expected to only have 1 ULP?

Note that:
[code]
So the difference you see is a single

[2021-02-09 00:03] charris commented on #18371
I did run in extended precision and got `-0.20067069546215109959`, but wouldn't trust that either :) Note that `0.8181818181818182` needs to be converted to float64 to avoid the problem of conversion accuracy before running the computation in higher precision.

-0.200670695462151139049230881898
--

-0.200670695462151139049230881898
--

[2021-02-09 00:19] seberg commented on #18371
Based on this:
[code]
printing:
[code]
the non AVX result is the more accurate one I guess. But it both is the two nearest float values possible.

Maybe the only irritating thing is that you can get different results for different array lengths, but I guess similiar differences are probably not uncommon.

[2021-02-09 02:02] bryanccho commented on #18300
I can go ahead and fix this.  This is my first time contributing to open source.  Do I clone, branch and then submit a PR?

[2021-02-09 02:42] melissawm commented on #18300
Something like that! Please check out [contributor guide](https://numpy.org/doc/stable/dev/index.html), and let us know if you have questions.

[2021-02-09 08:32] mattip commented on #18371
We have a test for umath accuracy in `numpy/core/tests/test_umath_accuracy.py`. It includes tests for `log`. @xgchena  does your platform pass those tests?
[code]

[2021-02-09 08:38] Qiyu8 commented on #18371
@seberg I agree with you, both `-0.20067069546215110` and `-0.20067069546215108` are the nearest values possible to accurate `-0.20067069546215109`, It's expected result so we shouldn't blame the algorithm in #16605, what I wondered most is AVX512f flag needs to manually enabled in order to triggle that SIMD algorithm, I have not found any evidence that @xgchena did so.

[2021-02-09 09:06] mattip commented on #18314
Welcome. Information about helping with documentation is in our [documentation docs](https://numpy.org/doc/stable/dev/howto-docs.html). There are a few skills you will need to complete this task.
- Being able to use git and github to create a pull request. There are many tutorials for beginners, ours is in the [developer documents](https://numpy.org/doc/stable/dev/index.html). Please notice the PR

[2021-02-09 11:03] pearu commented on #18341
@2sn , what is the output of the following program in your system:
[code]
?

[2021-02-09 11:09] 2sn commented on #18341
I am running current Fedora 33

[code]

[2021-02-09 11:12] pearu commented on #18341
Thanks! Also, could you try using use `-DF2PY_USE_PYTHON_TLS` in the command calling `f2py -c` and see if segfault appears?

[2021-02-09 11:14] 2sn commented on #18341
indeed, reading the diff of the commit you sent to the end, I was wondering about that.

[2021-02-09 11:27] 2sn commented on #18341
Unfortunately I am still at segfault with current dev branch.

[2021-02-09 11:33] pearu commented on #18341
OK. I am not sure if `swap_active_#name#` does the right thing: it swaps the pointers of struct  `#name#_t` but previously the content of the struct was swapped. Let me cook up a patch to test this..

[2021-02-09 11:46] 2sn commented on #18341
very much appreciated.  Curious, though, that it works with the simple example you assembled before (and, presumably, the test cases).  I am still wondering whether I am providing any compile flags I should not, or whether it interacts with some other module.

[code]

[code]
I had a very curious case where a subroutine within fortran was not called - the call was just ignored - after updating to p

[2021-02-09 12:29] BvB93 commented on #17923
For those unaware: a PR is up at https://github.com/numpy/numpy/issues/17923.

[2021-02-09 12:30] pearu commented on #18341
@2sn could try https://github.com/numpy/numpy/pull/18375 ? Use `--debug-capi` and show the debug message prior the segfault.

Also, when building numpy, do the callback tests pass? Run:
[code]
(I have temporarily enabled `--debug-capi` for these tests to increase the debug messages).

[2021-02-09 13:06] 2sn commented on #18341
I use pip to install numpy
[code]
I did clone nump, but not sure how to get to this sha checked out as HEAD.  I had tried `git pull`/`git push`, but no avail.
[code]
on the dev branch I get
[code]

OK, compiling/running I now get
[code]
so this last output `[pyext]' is just before the callback
[code]
another example:
[code]
Does this help?

[2021-02-09 13:11] 2sn commented on #18341
This is what happens with 1.19.5
[code]
(for this and above I had removed the `-DF2PY_USE_PYTHON_TLS` flag)

[2021-02-09 13:18] pearu commented on #18341
Thanks @2sn ! This is useful information as it confirms the crash point: cb is NULL as I suspected. Let me work on this..

[2021-02-09 13:41] pearu commented on #18341
@2sn I have updated the PR, now the program should fail gracefully but the underlying issue is not fixed yet.
Please use the updated PR and send the `debug-capi` output, say, when executing `k = K('xxx', 'z')`.

[2021-02-09 14:03] 2sn commented on #18341
[code]
Yes, graceful stop by exception
[code]
Why does if fail in my application but not in the sample code you created?
Do some of the modules I load interfere with threading?

[2021-02-09 14:19] cubanpit opened #18376 "DLL load failed - Manual installation on Windows"
I am trying to compile NumPy from source on Windows with MSVC linking to Intel MKL.
I am running Windows 10.0.18363 with Microsoft Visual Studio 2019 (16.8.4) and Intel MKL 2017.8.275.

### Steps to reproduce:

1. Download latest Python (3.9.1) and latest NumPy (1.20.1) source.
2. Open a VS command prompt, unpack Python source, build with `PCbuild\build.bat`
3. Run `mklvars.bat intel64` to get the

[2021-02-09 15:42] pearu commented on #18341
Your output does not contain `debug-capi:create_cb_arglist` that ought to be there.

Could you run the following Python script:
[code]
Does it work for you?

[2021-02-09 15:56] seberg commented on #18371
Indeed I think we can close this? The solution to use an approximate check is correct in any case.   Just in case it is helpful, NumPy also has approximate assertion functions, such as `np.testing.assert_array_max_ulp` which allows to specify the number of ULP (unit of least precision, i.e. how many bits), the result is allowed to be off.

To also post it again, this is the GCC table: https://www.

[2021-02-09 16:30] pearu commented on #18341
I have a local reproducer of the issue. The PR #16519 regressed the hidden callback support when two Fortran functions use the same  `external` function but only one of these defines it as `intent(callback, hide)`. I'll cook up a PR with the fix..

[2021-02-09 18:50] pearu commented on #18341
@2sn The PR https://github.com/numpy/numpy/pull/18375 should fix your use case. Can you verify?

[2021-02-09 19:39] anjali411 opened #18378 "Incorrect result when computing 0^{complex number}"
[code]

The correct answer here can be worked out by using limits and comes out to be 0 in the case Re(z)> 0, where z is the complex exponent. Please check out this stack exchange answer: https://math.stackexchange.com/questions/2087100/is-zero-to-the-power-of-an-imaginary-number-still-zero which explains this in detail.

[2021-02-09 19:58] #18341 closed

[2021-02-09 20:24] eric-wieser commented on #18378
For what it's worth, Python simply refuses to compute this,
[code]

[2021-02-09 20:46] eric-wieser commented on #18378
Although `std::pow(std::complex<double>(0), std::complex<double>(1, -1))` does give `0` as you suggest.

[2021-02-09 21:52] 2sn commented on #18341
***[missing output]***
the callbacks are set before the output I sent
I modified the code to see the debug-capi outputs to where this happens
[code]
but the output I get is just
[code]

[2021-02-09 21:55] 2sn commented on #18341
script output
[code]

[2021-02-09 22:22] 2sn commented on #18341
(these above were for the old code)

From the comments in #18375 I gather that this has been merged into _master_ branch.
[code]
I still do not get output for setting the callbacks
[code]
***but the segfault is now resolved***

[code]
the key line being
[code]
It also works for the other callback. (one of them I still have to test)

@pearu ***Thank you very much!***

[2021-02-09 23:19] pearu commented on #18341
@2sn thank you for reporting this and providing all the feedback needed for debugging it.

I am not completely satisfied with how the hidden callbacks work from secondary functions calls: currently, the callback is called with a full argument list only from the primary function but from the secondary functions the argument list is empty. Hence the need to use the keyword argument `code` in `def en

[2021-02-09 23:46] sleeplessinseattledev commented on #17845
Hi! I'm not sure if I did this correctly! I added orphan to the top of the explanations file as well as adding hidden to the toctree. I might be way off, but would be happy to correct it if this isn't right!

I'm not familiar with sphinx but tried to figure it out by reading the documentation.

[2021-02-10 00:39] szsdk opened #18383 "The typing hint for `tofile` should include Path."
According to the document, the `tofile` function accepts a `Path` object. However, the `tofile` interface does not match it.
https://github.com/numpy/numpy/blob/3823775ca779f5470b46c24d141fd483fee931d5/numpy/__init__.pyi#L907

[2021-02-10 01:50] BvB93 commented on #18383
By the looks of it `ndarray.tofile` can in fact accept any path-like object, including implementations
of the `__fspath__` protocol as well as `bytes`: `Union[IO[bytes], str, bytes, os.PathLike[Any]]`.

Would you be willing to submit a PR?

[2021-02-10 02:04] szsdk commented on #18383
Yeah, I am working on it.

[2021-02-10 03:44] 2sn commented on #18341
@pearu I have to admit that I am not quite following your description.  I have just been doing this rather naively and use the python definition of the callback function the same way as I am defining or using any other python function.

It seems I have been stretching the use f2py beyond the current test cases.

I am happy to help with any further testing of updates - obviously, out of own interes

[2021-02-10 04:52] lutzroeder commented on #18143
@rgommers what are specific tests or steps to try to help this along?

Is there some context what the remaining issues are or why these workarounds are needed:
* `export OPENBLAS=$(brew --prefix openblas)`
* `--no-use-pep517`

[2021-02-10 06:09] lbyiuou0329 commented on #15941
perhaps you can try including quotation marks around `metro' in cov_kwds={"groups":metro}?

[2021-02-10 06:31] lbyiuou0329 commented on #15941
In cov_kwds, groups need to be actual data, i.e. data_frame['metro'] in your case

[2021-02-10 08:34] rgommers commented on #17381
Seen on conda-forge as well: https://github.com/conda-forge/numpy-feedstock/pull/225

[2021-02-10 08:57] pearu opened #18385 "ENH: support hidden callbacks from secondary functions"
## Current state

Fortran routines may call user-defined `external` functions that implementations must be given by users, usually in the form of a Fortran source code that is compiled and linked in to the application. When using f2py, users can provide such user-defined external functions as Python functions that will be called from Fortran code. For example, consider

[code]
Notice that when wra

[2021-02-10 08:58] pearu commented on #18341
@2sn, please see https://github.com/numpy/numpy/issues/18385 for a more detailed description of the problem.

[2021-02-10 09:47] mattip commented on #18143
Having a wheel would provide a pre-built binary, which would mean you don't need to build from source, so that would resolve both those.