[2021-07-08 21:41] zw340 commented on #19438
Not sure how flattening the matrix to vector should give the shown result (I would have assumed that it flattens in the same way as ndarray), but thank you, I will avoid using np.matrix class from now on.

[2021-07-08 21:41] #19438 closed

[2021-07-08 21:43] seberg commented on #19438
It doesn't, this should raise an error. The flattening doesn't actually work (matrices can't really be flattened, but they sometimes pretend they can). And the C-code probably just assumes that it did work out and the result is 1-D and not 2-D. Then it operates on the first (length 1) dimension only, giving you 4.

[2021-07-08 21:46] melissawm commented on #19438
Yeah not looking at the code I assumed this was a mishandling of dimensions because of the way matrices are defined.

[2021-07-08 23:19] WarrenWeckesser commented on #19425
The problem is not specifically that the second dimension of `x` is 0.  The problem is that it is not 1. You'll have the same problem if `x.shape` is, say, (1, 3).

In general, in a call such as `broadcast_to(x, shp)`, if `x.ndmin` and `len(shp)` are the same, `broadcast_to` requires that each element of `x.shape` is either 1 or is equal to the corresponding element in `shp`.

In your example, the

[2021-07-08 23:21] WarrenWeckesser commented on #19425
I'm closing the issue, but don't hesitate to ask for clarification if my explanation was confusing.

[2021-07-08 23:21] #19425 closed

[2021-07-08 23:59] brandonwillard commented on #19425
Ah, yes, the _strictness_ of `broadcast_to` makes sense as an explanation.  Is there a non-strict version of `broadcast_to` that will produce a view and provide the same type of broadcasting as multiplication with `ones` (e.g. a `broadcast_like`)?

[2021-07-09 00:34] WarrenWeckesser commented on #19425
I think a combination of `broadcast_shapes` and `broadcast_to` will do what you want, perhaps something like:

[code]
Examples:

[code]

[2021-07-09 00:52] danielg1111 commented on #11569
Any updates on this issue?  It seems like the [pull request for it](https://github.com/numpy/numpy/pull/18368) would help, but there hasn't been any activity on it since March.  I'd be very interested in a faster version of `numpy.nonzero` .

[2021-07-09 01:41] charris commented on #19411
@ogrisel

_graviton2_
[code]

arm64 (80 processors)
[code]

[2021-07-09 03:25] seberg commented on #13903
Two year old issue, that was probably about typical numerical inaccuracy, closing.

[2021-07-09 03:25] #13903 closed

[2021-07-09 03:26] seberg commented on #7567
Closing, we would need a reproducer of this, and it is very very old.  By the looks of it, it seems like it was a Spyder bug at the time (since the last line succeeds).

[2021-07-09 03:26] #7567 closed

[2021-07-09 03:40] seberg commented on #16725
Closing, since this issue is probably about mainly about a correct install, and I guess it was most likely fixed.  If not, please let us know here (or just open a new issue).

[2021-07-09 03:40] #16725 closed

[2021-07-09 06:09] #19376 closed

[2021-07-09 06:51] L-JiaHui opened #19439 "numpy"
System version  :  centos7
Python version  ：3.7.2
pip3      version  :  18.1
numpy  version  :  1.21.0

An error is reported by referring to Numpy ：
    ![image](https://user-images.githubusercontent.com/63582034/125035901-f2674c80-e0c4-11eb-8d6f-d05b39808c6d.png)

perform ldd -r  /usr/local/python3/lib/python3.7/site-packages/numpy/core/_multiarray_umath.cpython-37m-x86_64-linux-gnu.so
![image](h

[2021-07-09 08:02] bashtage commented on #19439
I suspect something is corrupt in your system.  Can you try reinstalling NumPy from pip (and clear the cache to make sure it downloads a new copy).  If this doesn't work, you could also try a vendor provided environment like Anaconda.

[2021-07-09 08:32] L-JiaHui commented on #19439
Hi,Kevin:
I've tried all kinds of versions of Python and Numpy, and I'm working in a new container with no cache

Here are my installation steps：
![image](https://user-images.githubusercontent.com/63582034/125049050-2184ba80-e0d3-11eb-99d5-b1b055330406.png)
@bashtage

[2021-07-09 08:42] bashtage commented on #19439
Since you are building Python from source this increases the likelihood that something is wrong with your Python build.  Do you see that same error with both the system-provided Python and with conda-provided python (and conda-provided NumPy)?

[2021-07-09 09:24] L-JiaHui commented on #19439
I haven't tried Conda yet, but I can use Python3 and NumPy locally, this is a problem on the server, maybe I have a build environment problem

[2021-07-09 10:07] HarshVardhanKumar commented on #14753
In most of the processors (except some of the really recent ones), they don't support the half-precision floating-point for computation. They allow for storage purposes, but if a computation is needed, the half-float is first converted to a full-float, the computation is done and then the results are stored as half-precision.

I was curious how NumPy handles this restriction. Is the numpy.half dat

[2021-07-09 10:32] gmloose opened #19441 "f2py: pyf file mentioned in sources of an Extension is not added to source distribution"
In my project, I have an extension generated from Fortran source code. The generated `pyf` file needed to be tweaked a bit, and must therefore be treated as a source file as well.

Problem is that, although the `pyf` file is mentioned as a source file in the `Extension`, it is not packaged in the source distribution. As, a result, when you try to install from the source tar-ball, the build will fa

[2021-07-09 12:05] pearu commented on #19441
As a workaround, try including the pyf file in `MANIFEST.in` file.

[2021-07-09 12:25] pearu commented on #19437
The underlying issue is explained in
https://github.com/numpy/numpy/blob/b32b72e3d98d784b98d9c38d4f9905574a60707d/numpy/f2py/cfuncs.py#L573-L581
So, to resolve this issue, we'll need to refine the algorithm for defining `F2PY_THREAD_LOCAL_DECL` in the same file.

An option is to enable `F2PY_USE_PYTHON_TLS` define for OpenBSD so that inclusion of threads.h becomes conditionally unnecessary..

[2021-07-09 12:39] dimpase commented on #19437
as far as I know, OpenBSD doesn't use glibc, so that's a totally different story.

[2021-07-09 12:45] pearu commented on #19437
Sure (notice the `(!defined(__GLIBC__)` subexpression). What is the different story?

A workaround would be to use `__has_include` CPP macro that is available in clang but it would be better to have a more strict test for detecting STDC THREADS rather than assuming that underlying system is not broken.

[2021-07-09 12:46] charris commented on #19077
Keeping this open for a while.

[2021-07-09 12:52] pearu commented on #19437
We have `NPY_OS_BSD` from https://github.com/numpy/numpy/blob/main/numpy/core/include/numpy/npy_os.h. So, a possible fix is to include the following line to the `elif`-block shown above:
[code]

[2021-07-09 12:57] charris commented on #14753
NumPy does float16 computations using float32. There is no hardware support used.

[2021-07-09 13:01] gmloose commented on #19441
This solves the issue of having the `pyf` file in the binary distribution. But it is still a workaround. I think the real issue is in the way Numpy's `Extension` handles `pyf` files mentioned as `sources`, which IMHO is a bug

[2021-07-09 13:09] pearu commented on #19441
Yes, it is a bug: the `pyf` files should always be considered source files.

[2021-07-09 14:55] seberg commented on #16405
It is confusing me.  If I go on the codecov website and select the `main` branch and the commit in question, the result looks good.  But the codecov integration always says: `codecov/project — 83.02% (-0.30%) compared to 004ad40`  and 004ad40 is a month old commit... (e.g. here: https://github.com/numpy/numpy/pull/19422)  and if I click on the codecov patch link, I always get an error.

So that is

[2021-07-09 15:10] seberg commented on #16405
The `base` option looks like it may be mildly useful: https://docs.codecov.com/docs/commit-status#base but it says it is deprecated.

The branch rename was a thought.  But honestly, it happened much earlier than the commit codecov is comparing too (or the much too verbose output).  So maybe it has something to do with things, but I don't think it is stuck on master.

[2021-07-09 15:47] seberg commented on #16405
OK, wrapping up my understanding:

* Codecov reports things correctly on commits against the `maintanence/1.21.x` branch, but not against `main` (maybe due to the rename?)
* We do upload the data for the main branch: https://codecov.io/gh/numpy/numpy/branches/main  seems perfectly fine.
* For PRs against main, codecov reports for example: **Changes found in between 004ad40...b32b72e (pseudo...base

[2021-07-09 16:03] seberg commented on #16405
This looks like a similar problem: https://community.codecov.com/t/nearest-pull-request-base-pseudobase-commit-not-chosen-correctly/2249/4

[2021-07-09 16:52] seberg commented on #16405
@thomasrockhu it would be awesome if someone at codecov could look into why the base commit for the PR comparison is always listed as 004ad40.  If we figure out where that commit comes from, it feels like we should know what is going on.

[2021-07-10 16:50] ryan-williams commented on #17807
(Sorry to spam, but this issue seems to have the most info about this problem that can crop up while pip installing pandas, numpy, or scipy on Apple M1's)

In my case:
[code]
was hitting the error:
[code]

However, this worked:
[code]

I already had `numpy` and `pandas` installed; I'm not sure if I needed the `OPENBLAS="$(brew --prefix openblas)"` bit for them (perhaps I previously installed them

[2021-07-10 21:53] thmarwa opened #19448 "Wrong results in computing eigenvectors"
The following matrix results in a wrong eigenvector when computed:
[code]
which results in the output
[code]

The correct values, however, are
[code]
Notice how none of the eigenvectors from the code have all the eigenvector components point up, with the middle one peaking. They are not equivalent wave vectors and there is a very likely bug with the computation.

It's easy to verify, but I put a s

[2021-07-10 22:16] rkern commented on #19448
The columns are the eigenvectors, not the rows, [per the documentation](https://numpy.org/doc/stable/reference/generated/numpy.linalg.eig.html). Once read that way, you will see that they are the expected eigenvectors up to the normalization that we do and the (arbitrary) sign.

[2021-07-10 22:16] #19448 closed

[2021-07-12 02:11] charris opened #19452 "Typing is failing tests on Python 3.9.0"
This shows up on a wheel build at https://tinyurl.com/3475ussr
[code]

[2021-07-12 07:43] vikrapivin opened #19453 "Multiplying int array by nans results in unexpected behavior"
When you multiply a subset of an int array by np.nan, you get unexpected results.

### Reproducing code example:
[code]

### Error message:
No error message, but you see the following output:

I assume this is incorrect behavior, but maybe I am mistaken. If so, sorry for the false report!

### NumPy/Python version information:

1.21.0 3.9.6 (default, Jun 29 2021, 00:00:00)
[GCC 11.1.1 20210531 (Re

[2021-07-12 08:18] gyorokpeter opened #19454 "MAINT: `c.src` file parsing should support utf-8"
I'm just trying "pip install numpy" but it fails with this error.
I have attached the full output of the command.
[output2.txt](https://github.com/numpy/numpy/files/6799731/output2.txt)

[2021-07-12 08:26] lotcher opened #19455 "TypeError: Cannot interpret 'datetime64[ns, tzfile('PRC')]' as a data type"
### Reproducing code example:

[code]

### NumPy/Python version information:

- python3.9  pandas1.2.4  numpy 1.19.3（When I upgrade the numpy version, the problem is solved）

[2021-07-12 08:53] BvB93 commented on #19452
Odd, `__weakref__` was only unavailable to `types.GenericAlias` back in Python 3.9.0.
Was it a deliberate choice to use such an old 3.9 version?

[2021-07-12 10:01] #19452 closed

[2021-07-12 11:41] eric-wieser commented on #19454
I think this should probably add `encoding="utf8"`:

https://github.com/numpy/numpy/blob/c07080f12652b2cced2f6ca2cb3e72e085565047/numpy/distutils/conv_template.py#L265

[2021-07-12 12:39] rossbar commented on #19303
Thanks for your interest @yashasvimisra2798 - off the top of my head I'm not sure what's the best way to handle this. The main sticking point to me is that we don't (AFAIK) host a pdf version of the reference manual or user guide for the development documentation, so any solution would have to take that into account. I'd probably start by trying to modify the doc template with code that toggles sh

[2021-07-12 12:59] Zac-HD opened #19457 "`np.clip()` is inconsistent with the `minimum`/`maximum` equivalent"
[code]

fails with

[code]

This was found using Hypothesis, and @mattip [asked me to open an issue](https://github.com/numpy/numpy/pull/19450#discussion_r667646253).  Because property-based tests make it natural to vary things like this I often find strange small inconsistencies or bugs in the interaction between rarely used features - such as narrow dtypes, nan, structured dtypes, zero-dimension

[2021-07-12 13:23] bashtage commented on #19453
This is because you are forcecasting a float to an integer.  Try

[code]

[code]

Even in your example before you assign it to an integer array, you get

[code]

[code]

[2021-07-12 13:41] seberg commented on #19455
The order of comparisons is probably different, try the operations.  Anyway, I assume this is a duplicate of gh-19187 which was fixed in https://github.com/numpy/numpy/pull/19228 and should be part of 1.21.x

[2021-07-12 13:41] #19455 closed

[2021-07-12 13:48] charris commented on #19452
It is in the docker test image. That's an old docker iand maybe needs to be updated

[2021-07-12 14:17] thomasrockhu commented on #16405
Hi @seberg, apologies I wasn't able to come to any conclusions last week. I will continue to work out why this is happening on our side, and thanks for the patience.

[2021-07-12 14:48] vikrapivin commented on #19453
I agree that it is a solution to convert to a float array before operations, but if you do something like `np.nan*test`, you will get the implicit conversion to a float of test, which makes sense as np.nan is a float. Shouldn't an operation as the one I highlighted here throw an error or a warning? Or alternatively, convert test to a float type under the hood?

[2021-07-12 14:53] seberg commented on #19453
Yes, it should at least be a warning see gh-19248.  Maybe, it should even be an error (a bit of a question how expensive that would be, I guess)... (This invokes undefined behaviour in C99, the result is not always the smallest possible integer, it is just fairly typical).

[2021-07-12 15:18] zoj613 commented on #19291
@seberg Has there been a decision reached regarding the list of functions you mention in your last comment?

[2021-07-12 16:14] seberg commented on #19457
To be honest, this a "logical" fall-out from current value-based casting to me.  `np.maximum(arr, amin).dtype` is float16 and 1-d.

`np.maximum(arr, amin)` gives a 1-d float16 array, which enables value-based casting involving `amx` (which is 0-D).  If the operation is re-ordered, both `amin` and `amax` are 0-D (but trump the integer `arr`), so normal promotion is used and the `float64` wins clear

[2021-07-12 18:07] melissawm commented on #19303
I believe the easiest solution would be to add a link under the blurb in the front page, something like

[code]

[2021-07-12 18:22] yashasvimisra2798 commented on #19303
Thanks @rossbar and @melissawm I'll get working on this :)

[2021-07-12 18:32] melissawm commented on #18280
Hi @seralouk , it's not clear to me that this is a problem. In fact, `v[:, 1]` is an eigenvector of `L` meaning it should **not** be all zeros. Note that if you compute `np.linalg.norm(np.dot(L, v) - l*v)` it returns something very close to zero, as expected. So I think the problem may be in the interpretation of this result rather than a problem with `eigh`.

[2021-07-12 18:41] seralouk commented on #18280
Unfortunately, there is a problem. The first non-negative eigenvector of the graph Laplacian matrix is always a smooth signal. Here the output is textbook example of eigenvector estimation crash. Same goes to the the spikes that can be seen in `plt.plot(np.dot(L, v[:,ii]) - l[ii]*v[:,ii])`

[2021-07-12 18:57] melissawm commented on #18280
By spikes, I assume you mean the variation in the values in the graph. However, the scale of the graph is very small - around 1e-13. So that effectively means that `np.dot(L, v[:,ii]) - l[ii]*v[:,ii]` is 0 (up to floating point precision). In addition, since `v[:, 1]` must be a non-zero vector, it makes sense that one of its entries has value 1. Also, `np.dot(v.T, v)` is effectively the identity m

[2021-07-12 19:46] rkern commented on #18280
Also, we see that the `Ac.mean(axis=0).argmin()` is `89`, the same as `v[:, 1].argmin()`. That node is indeed uniquely picked out by the adjacency data, so it should not be surprising that it is the lone negative in the Fiedler vector.

Given that the eigenvalues and eigenvectors seem to obey the expected properties up to numerical precision, I don't see any evidence of a problem here.

[2021-07-12 20:09] #18280 closed

[2021-07-12 20:34] #19191 closed

[2021-07-12 21:19] seberg commented on #19457
With respect to the test: If you want to test everything, the correct thing is to write `dtype = np.result_type(arr, amin, amax)` and then use `dtype=dtype` in the first `np.maximum` call (or all calls).  That would be the right thing to do, even if we "fix" the value-based casting inanity that makes this so surprising.

[2021-07-13 02:17] lotcher commented on #19455
thanks

[2021-07-13 07:09] kshitij12345 opened #19464 "`np.trunc` is inconsistent with array-api"
As per `array-api`,
[code]

However,
[code]

Ref: https://data-apis.org/array-api/latest/API_specification/elementwise_functions.html#trunc-x

[2021-07-13 10:20] b-kamphorst opened #19465 "Mypy plugin not loading correctly: failed to identify a `ImportFrom` instance"
`numpy/typing/mypy_plugin.py` raises a `ValueError` when running `mypy` with the numpy plugin.

### Reproducing code example:

Configuration file includes the numpy mypy plugin:
[code]

Issue materializes by running the following command (I use a `venv` virtual environment in Windows):
[code]

### Error message:

[code]

### NumPy/Python version information:

`1.21.0 3.9.0 (tags/v3.9.0:9cf6752, Oc

[2021-07-13 11:00] prakashvm opened #19466 "Bug in Numpy in computing CoVariance of a Matrix"
Hello -

I wish to bring to your kind notice a bug in numpy.

Given any matrix X. While trying to compute the CoVariance matrix of that matrix X, numpy in Python does NOT compute the CoVarianceof the given matrix X.

Instead, numpy comptes the CoVariance of the Transpose of the given matrix X.

This appears to be a bug in numpy.

Please refer to the below website for a given matrix and what the re

[2021-07-13 11:25] mattip commented on #19466
`np.cov` has a [`rowvar` kwarg](https://numpy.org/doc/stable/reference/generated/numpy.cov.html) that will get you the behaviour you desire.

For future reference, it is pretty easy to show code snippets directly in an issue using three backticks to enclose text-formatted-as-code:
[code]

This saves you having to create a PDF and us having to open it. You can also use the "<>" tool on the toolbar

[2021-07-13 11:42] mixilchenko opened #19467 "Incorrect dtype-ctypes static typing"
I have some c++ - python compatible features and use ctypes lib for creating dtypes dynamically.
np.dtype typing is incorrect when ctypes type is argument.

### Reproducing code example:

[code]

### Mypy error message:

[code]

### NumPy/Python version information:

[code]

[2021-07-13 12:26] BvB93 commented on #19465
Can you show me which mypy version was used here?

[2021-07-13 13:05] BvB93 commented on #19467
Ah, I though we had a catchall overload for miscellaneous `type`objects, but it seems to have been removed at some point.

In any case, https://github.com/numpy/numpy/pull/19468 should add the necasary overloads for the `ctypes` types.

[2021-07-13 13:30] b-kamphorst commented on #19465
Versions:
mypy 0.812
mypy-extensions 0.4.3

[2021-07-13 13:33] b-kamphorst commented on #19465
I just updated mypy to version 0.910, but the issue persists.

[2021-07-13 13:48] BvB93 commented on #19465
I have to do some more digging here, as it seems to be non-trivial issue.

Currently I can think of one of two possibilities:
* Mypy is somehow trying to analyze a different (older) `numpy` installation.
* Mypy is failing to parse the content of the main `__init__.pyi` file, hence failing to identify the
  relevant import statement involving `numpy.typing._extended_precision`.

As I'm not too fami

[2021-07-13 14:21] rkern commented on #19466
I'm going to close this. This is a matter of convention rather than correctness, both conventions are accessible, and the behavior is documented thoroughly in the docstring.

[2021-07-13 14:21] #19466 closed

[2021-07-13 17:51] BvB93 commented on #19465
A small update: I've been unable to reproduce the issue even with a virtual environment.

[2021-07-13 17:55] BvB93 commented on #19465
As reproducibility is a bit of an issue here, could you provide some help with the debugging?

Namely, could you follow the instructions below:

1. Navigate to `C:\Users\kamphorstb\git\all\secure-learn\.venv-win\lib\site-packages\numpy\typing\mypy_plugin.py`
2. Insert a `print(file.path)` statement just before the `_index` call on line 120.
https://github.com/numpy/numpy/blob/b235f9e701e14ed6f6f6d

[2021-07-13 19:21] b-kamphorst commented on #19465
@BvB93: Thank you for the efforts, they are well-appreciated.

You seem to have pinpointed the issue. It appears that the plugin works perfectly if I make the virtual environment with
[code]
However, it fails if I also include system site packages (I usually do that so that I can leverage global installations of mypy, black, gmpy2, etc.):
[code]
In the latter case, the print statement that you req

[2021-07-13 19:28] BvB93 commented on #19465
I'm afraid I don't have nothing concrete here. It might be worthwhile to look into the mypy installation though,
as it is mypy which is somehow attempting to analyze the wrong numpy directory.

[2021-07-13 19:47] larsoner opened #19469 "BUG: linalg.eigh segfault on Windows with OpenBLAS 0.3.16"
Over in MNE we test against the nightly NumPy builds, and as of the last few hours it looks like we're hitting an `eigh` segfault on Windows Azure on 1.22.0.dev0+442.g89c80ba60 on code that worked on other builds (e.g., [1.22.0.dev0+405.g8eaceff8a](https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=14292&view=logs&j=a017e066-62ca-5289-ad0b-8f57c84a089f&t=bc8f2dee-4ced-573b-f856-43fd

[2021-07-13 20:42] larsoner commented on #19469
Okay looks like the first build with the `OPENBLAS_CORETYPE` at least did not die:

https://github.com/mne-tools/mne-python/pull/9567

I'll go ahead and close and comment over in #16913 that the fix might be problematic now, but feel free to reopen if something actually seems useful to do at the NumPy end!

[2021-07-13 20:42] #19469 closed

[2021-07-13 20:43] larsoner commented on #16913
FYI with OpenBLAS 0.3.16 it seems like the `OPENBLAS_CORETYPE=prescott` workaround I had in place on Azure ended up being probelmatic, so if anyone is using that workaround and sees problems with the latest NumPy pip-pre wheels you might need to remove the workaround!

[2021-07-13 22:04] charris commented on #19469
We are using ILP64 BLAS with the latest wheels, so that might also lead to some issues.

[2021-07-13 22:26] mfkasim1 opened #19470 "Cannot make numpy array with dtype object if elements are numpy array with ndim > 1"
An error is raised when making a numpy array consisting of numpy arrays with ndim > 1 with different sizes.

### Reproducing code example:

[code]

### Error message:

    ValueError: could not broadcast input array from shape (3,1) into shape (3,)

### NumPy/Python version information:

    1.21.0 3.8.5 (default, Sep  4 2020, 07:30:14)
    [GCC 7.3.0]

[2021-07-13 22:45] thomasrockhu commented on #16405
@seberg, just a quick update, I'm not sure what is happening in these cases and why `004ad40` keeps popping up. I've pulled in the product team to help take a look.

[2021-07-14 01:57] ZiqiChai opened #19471 "numpy.argsort() returns odd results (wrong results)"
### Reproducing code example:

[code]

### Error message:
this is what I got:
[code]

why `numpy.argsort()` returns such odd res?
the index for number 27 is 0, which means it's the smallest number in the list.
and the index for 0 is 10, which is obviously wrong as well.

### NumPy/Python version information:

1.19.2 3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

[2021-07-14 02:06] rkern commented on #19471
[Returns the indices that would sort an array.](https://numpy.org/doc/stable/reference/generated/numpy.argsort.html)

The `b[0]` is the index of the smallest number in `a`, i.e. `a[b[0]]`; `b[1]` is the index of the next smallest, etc.. So you want to `print(i, a[ind], ind)`.

[2021-07-14 02:06] #19471 closed

[2021-07-14 02:15] ZiqiChai commented on #19471
sorry, the print function is
`print(i,a[i],ind)`,
which are index for data in a, data in a, and sort index for data in a.
the correct output as I believe should be:

[code]

[2021-07-14 02:31] rkern commented on #19471
That's what you printed, but that's not related to what `argsort()` is documented to do. Please read the examples. `b[i]` is not related to `a[i]` for the same `i`.

[2021-07-14 02:38] rkern commented on #19471
To relate it to how our other `arg*()` functions work, `b[0]` is `argmin(a)` and `b[-1]` is `argmax(a)`.

[2021-07-14 03:04] DAGwood1018 opened #19472 "numpy.linalg.eigh fails to properly diagonalize some matrices while raising no error"
While diagonalizing the blocks of a large matrix I encountered several Hermitian blocks that numpy.linalg.eigh does not appear to be able to handle. By this I mean the eigenvalues it returns do not add up to the trace of the matrix indicating they must be wrong.

### Reproducing code example:

Example of a matrix that causes eigh fails to diagonalize correctly is contained in zip file:
[Matrix.zip

[2021-07-14 03:46] ZiqiChai commented on #19471
got it

[2021-07-14 04:57] mattip commented on #19470
Are you asking how to combine the arguments into a single array? Then you can do something like

[code]

or are you asking about the confusing error message? There was discussion about not allowing this kind of input, search for "ragged arrays" in the issues and see [NEP 34](https://numpy.org/neps/nep-0034-infer-dtype-is-object.html) where we took a first step toward never guessing what to do with

[2021-07-14 05:06] mattip commented on #19469
Thanks for testing against the nightly builds. Using `OPENBLAS_CORETYPE=Prescott` should work since that is meant to use the "lowest common denominator" kernels. @martin-frbg thoughts?

[2021-07-14 06:02] YunChunRui opened #19473 "np.linalg.matrix_rank calculates the rank of the matrix and gives the wrong result"
When I use the numpy function(**np.linalg.matrix_rank**) to calculate the rank of the matrix, the function returns the rank of the matrix as 0, and then when I use matlab to calculate the rank of the same matrix, matlab got the correct result(30). I compared numpy and matlab calculations The source code of the matrix rank, but there seems to be no difference between the two ways.
Sometimes, numpy

[2021-07-14 06:24] huangjin520 opened #19474 "np.array() error ,return 0 after converting a list"
When i convert a list to array with np.array, i meet a mistake because the result is 0. First ,I check my list ,it's not none or zero .Second, i test np.array() with list_small, it work normally, as shows in the code.
[code]
### this is my code and my list:

[code]

### Error message:
my_list comes from  3 dimensions [400,500,0] empty list  by adding elements in special coors. But np.array(my_list

[2021-07-14 06:45] martin-frbg commented on #19469
There have been reports of LAPACK testsuite segfaults on x86_64 with some operating systems (namely OSX), which may be linked to PR 3250 (adding a shortcut in SGEMV/DGEMV for small cases that "should not" need buffer allocation) and AVX512 targets (which is what Azure runs on AFAIK).

[2021-07-14 08:36] b-kamphorst commented on #19465
I'll look into that. I'll close the issue and if I find the solution I'll make sure to share it here.

[2021-07-14 08:36] #19465 closed

[2021-07-14 08:51] b-kamphorst commented on #19465
Found the culprit. Turns out that I also had `data-science-types` installed in the global environment. Mypy was looking into the `numpy-stubs` folder that was created by that library and reached a dead end there.

[2021-07-14 09:04] bashtage commented on #19472
Are you shure `eigh` is appropriate?  M does not appear to be symmetric

[code]

[2021-07-14 09:29] matthew-brett commented on #19473
Interesting - this boils down to:

[code]

The `inf` in the `compute_uv=False` case upsets the default tolerance calculation, hence the calculated rank of 0.

For background, the `mat` array is an array containing 0s and 1s, of shape (98, 98) where 22 columns have a single 1 somewhere, and 8 columns have two 1s.

[2021-07-14 10:25] NdodaEnde commented on #17777
Was this ever solved? I am having the same error.

[2021-07-14 10:28] eric-wieser commented on #19474
NumPy 1.16.0 is no longer maintained - can you see if the problem persists with the latest version?

[2021-07-14 10:32] mfkasim1 commented on #19470
I was asking both actually. I didn't expect the code will raise an error and the error message does not indicate where I should look at.
Anyway, thanks for the workaround.

[2021-07-14 14:14] NectDz commented on #18993
Do you mind telling me the tool that was used to reproduce to get that error message?

[2021-07-14 14:40] seberg commented on #12468
Related to gh-19470 and others.  I am going to close this, 1.13 is pretty old and I expect this is consistent now, if it was inconsistent before.

[2021-07-14 14:40] #12468 closed

[2021-07-14 14:41] seberg commented on #19470
Thanks for raising the issue.  I am going to close it as a duplicate of gh-17224 and gh-19113, though.  There are many issues open on it, `depth=...` or similar has been suggested at some point to allow forcing a 1-D object array here.

[2021-07-14 14:41] #19470 closed

[2021-07-14 14:43] seberg commented on #15044
This issue was specitic to the 1.18 release and seemed to be fixed by revert.  Closing.

[2021-07-14 14:43] #15044 closed

[2021-07-14 14:45] seberg commented on #17964
There are a few PRs linked which are merged, and this is a very early M1 report, so closing. Please open a new issue if it persists.

[2021-07-14 14:45] #17964 closed

[2021-07-14 15:20] NectDz commented on #18993
1. Forked numpy and then cloned it
2. Ran python tests using "python3 runtests.py -v" and the build passed
3. The change I made was the following
diff --git a/numpy/core/src/multiarray/descriptor.c b/numpy/core/src/multiarray/descriptor.c
index 58aa608c3..f6202c7ea 100644
--- a/numpy/core/src/multiarray/descriptor.c
+++ b/numpy/core/src/multiarray/descriptor.c
@@ -1729,7 +1729,7 @@ _convert_from_s

[2021-07-14 15:21] eric-wieser commented on #18993
That change is nonsense, you remove the `==`

[2021-07-14 15:22] seberg commented on #18993
You removed the `== 0`, that would invert the logic.

[2021-07-14 15:25] DAGwood1018 commented on #19472
Yeah, I checked if M was Hermitian/symmetric by

`np.sum(np.subtract(M,M.H))`

which gave 0 as expected for such a matrix. I also tried

`if not np.isclose(M,M.H):
       print('M is not Hermitian')`

which was never triggered.

If it helps I did use scipy.sparse.linalg.eigsh() to check for the magnitudes of a few eigenvalues and this function appeared to work as it gave reasonable eigenvalues. Th

[2021-07-14 16:22] #18170 closed

[2021-07-14 16:57] charris commented on #19469
This is troubling for 1.21.2, I'd like to backport this for the arm64 fixes, but I'd also like it to work for Prescott.

[2021-07-14 17:16] nschloe commented on #18170
Thanks @arubiales and @seberg!

[2021-07-14 17:23] #11741 closed

[2021-07-15 15:08] martin-frbg commented on #19469
0.3.17 released now with the fixes

[2021-07-15 15:10] larsoner commented on #19469
Let me know if NumPy rolls out a wheel with 0.3.17 and I'm happy to put `OPENBLAS_CORETYPE=prescott` back in my Azure build and restart it a few times to make sure it works!

[2021-07-15 15:22] charris commented on #19469
@martin-frbg Great. I note that 64 bit OpenBLAS on arm64 hangs when testing the dot product.
[code]
See https://travis-ci.com/github/MacPython/numpy-wheels/jobs/523962484

[2021-07-15 15:38] martin-frbg commented on #19469
Hm. I don't think anybody hurt dot in recent releases... anything else that test is exercising ?

[2021-07-15 15:45] seberg commented on #19469
Could it be that the test just bails out because it is extremely slow due to swapping?  I am not sure how reliable our `free_bytes=16e9` is.

[2021-07-15 15:47] mattip commented on #19469
It may be a segfault and not a hang

[2021-07-15 16:04] martin-frbg commented on #19469
Hm. Passes all the simple tests including xianyi's BLAS-Tester (ATLAS testsuite) on the MACmini in the gcc compile farm. I do not think I want to try building python there though - can you just restart the travis job to see if it could have been some unrelated fault ?

[2021-07-15 16:07] Davide-sd opened #19484 "Incorrect result when computing complex numbers"
I'm trying to plot the imaginary part of a function. Comparing the results with [wolfram alpha](https://www.wolframalpha.com/input/?i=imag%28sqrt%28-x%29%29), it appears that NumPy has a bug. In the following code example:
* `f2` and `f3` should produce the same result.
* I'm also using SymPy to generate a `mpmath` lambda function, `f1`, which "proves" the point.

### Reproducing code example:

[c

[2021-07-15 16:11] Davide-sd commented on #19484
Note:

[code]

[2021-07-15 16:19] oscarbenjamin commented on #19484
This is because of signed zero in floating point:
[code]
It looks like this is as documented:
https://numpy.org/doc/stable/reference/generated/numpy.arctan2.html

[2021-07-15 16:42] rkern commented on #19484
You're running into the fact that floating point `0.0` and `-0.0` are distinct and can result in different answers when branch cuts are involved, as they are with `sqrt()` along the negative half of the real number line. `-0.0` is finicky, and you don't always get complete control over when you get it (notably, it's hard to get a -0j when building complex numbers with the semi-literal Python synta

[2021-07-15 16:42] #19484 closed

[2021-07-15 17:43] seberg commented on #19464
The reason is that:
1. Trunc is only defined for floating points
2. We default to just upcasting integers to floating-point when a ufunc is only defined for floating points (whether that makes sense for a given ufunc or not)

So data-api's or not, it probably should be changed, there was never a conscience decision here in any case.

[2021-07-15 17:52] oscarbenjamin commented on #19484
Does numpy have an efficient way to flip the sign on negative zeros?

[2021-07-15 18:03] charris commented on #19469
@martin It happened consistently: three tests/push, many pushes.

Hmm, could be, the travis machine may incorrectly report memory. In fact, I don't expect any of the test machines to actually run that test on account of too little memory. In fact `@requires_memory(free_bytes=16e9)` looks too small for that test, that is the size of one of the input vectors.

[2021-07-15 19:10] gtrabanco commented on #17784
In my case I had the same error and because it was a file permission problem I used:

[code]

[2021-07-15 22:36] seberg commented on #18543
Going to close this...  While a few probably have useful work, it doesn't really feel necessary to reopen them or make them easier to find.

[2021-07-15 22:36] #18543 closed

[2021-07-16 00:25] charris commented on #19469
@martin Looks like a test problem, the testing process is oom killed. Default travis-ci memory ranges 2-4 GB, so the test should not normally run.

[2021-07-16 05:04] r-devulap commented on #13515
PR #19485 can hopefully close this issue?

[2021-07-16 05:05] r-devulap commented on #13836
see #19478

[2021-07-16 07:08] mattip commented on #13114
Adding the word nitpicky since that is what the sphinx mode is called so I can find this issue via search.

The status has not changed, there are still ~300 warnings.

[2021-07-16 07:42] #19303 closed

[2021-07-16 11:49] matthew-brett commented on #19473
Further investigation:  the `np.linalg.svd(mat, compute_uv=False)` variant, but not the `compute_uv=True` variant, produces a `np.inf` and 5 `np.nan` singular values, and only for `export OPENBLAS_CORETYPE=haswell` .  I haven't tested on other BLAS libraries.

[2021-07-16 12:39] matthew-brett commented on #19473
OpenBLAS bug report : https://github.com/xianyi/OpenBLAS/issues/3318

[2021-07-16 16:46] ganesh-k13 opened #19494 "DOC: Add some documentation for adding new UFuncs"
### New UFuncs developer documentation

As discussed on newcomers hour, it would be nice to have a developer doc for adding new UFuncs.
Right now a good PR to refer will be LCM&GCD PR (#8774) and perhaps a more in-depth example will be bit_count (#19355)

[2021-07-17 00:18] thomasrockhu commented on #16405
@seberg, apologies, this is really stumping us. I've escalated again to try to figure out why this is happening.

[2021-07-17 00:42] #19467 closed

[2021-07-17 00:42] seberg commented on #16405
Thanks!  Let me know if there is anything we can try in NumPy.

[2021-07-17 01:08] seberg commented on #19457
I guess I can close this as a generic "value based casting/promotion is weird" issue.  gh-19457 is a pretty good one (although it focuses a bit on comparisons, which are arguably particular...

[2021-07-17 01:08] #19457 closed

[2021-07-17 01:20] seberg commented on #19372
I am going to close this, the numerical accuracy issues seem the right answer here.  `sympy` is simply the better/right tool if you need the exact answer. (Happy to be corrected, though.)

[2021-07-17 01:20] #19372 closed

[2021-07-17 01:21] seberg commented on #19439
@L-JiaHui, I am going to close the issue, since it seems a bit like the Python install is off.  If you are still experiencing problems, and think it is NumPy related, please comment/reopen.

[2021-07-17 01:21] #19439 closed

[2021-07-17 01:23] seberg commented on #19474
I am pretty sure we fixed a couple of bugs here since then.  So I am willing to bet this is already fixed.  @huangjin520 it would be awesome if you could check, or make the original list available so others can.

Without further information, there is unfortunately nothing we can do besides recommending trying a newer NumPy version.

Closing the issue, if there is new information, happy to reopen!

[2021-07-17 01:23] #19474 closed

[2021-07-17 09:06] gcaria opened #19504 "DOC: Clarify that `np.array` can be 0-dimensional"
## Documentation

From the docstring of `np.array`, its only positional argument is:

From such a description, it is surprising that one can do things like `np.array(1)` (I guess this is done to support 0D arrays).

[2021-07-17 18:20] yashasvimisra2798 commented on #19504
https://numpy.org/doc/stable/reference/generated/numpy.array.html
So adding a line of explanation along with an example here would do?
I can work on that.

[2021-07-18 08:49] Olegt0rr opened #19507 "Shuffle type-hints reject lists"
Shuffle type-hints reject lists

Argument description from [shuffle docs](https://numpy.org/doc/stable/reference/random/generated/numpy.random.shuffle.html#numpy-random-shuffle):

But it type-hinted as `ndarray or MutableSequence`
Using type hint `ndarray or list or MutableSequence` will fix the problem

### Reproducing code example:

[code]

### Error message:

`shuffle()` call is highlighted wit

[2021-07-18 09:45] makshimik opened #19508 "Division by zero error while registering internal types float_128 and float_80, despite blocking instructions."
On the embeddable version of Python, the file "...\python\Lib\site-packages\numpy\core\getlimits.py", despite blocking, causes a division by zero error when trying to register the types "float_128" and "float_80". It's because "very large number" is generated by dividing by "very small number", which is effectively 0.0. This error manifests itself in very various versions of numpy and python when

[2021-07-18 09:56] Mukulikaa opened #19509 "DOC: NumPy logo and favicon not loading in devdocs"
I had a look in the developer console and it shows the paths for the images as https://numpy.org/devdocs/_static/_static/favicon/favicon.ico and https://numpy.org/devdocs/_static/_static/numpylogo.svg.

There is an extra `_static` in the paths. I am not sure in which file these paths are defined. If someone can guide me to it, I can look into the issue.

[2021-07-18 10:12] BvB93 commented on #19507
Hi @Olegt0rr,

`shuffle` is currently annotated as taking any array-like object, so it seems you currently have a third-party
stub package installed that is overriding the numpy-provided annotations.

https://github.com/numpy/numpy/blob/94de9f7007b9264328dfa16dcf60a8c34a2c8ec0/numpy/random/mtrand.pyi#L521

[2021-07-18 10:25] manasux commented on #19509
I checked the developer console of devdocs. The path mentioned for logo is `_static/_static/numpylogo.svg`, but there is only one _static path inside it, and other than that, the logo image is missing in the whole source code, inside sources of developer console, but after filtering out "logo" in the network section, there is a numpylogo.svg, which is a 404 page svg.

[2021-07-18 10:49] Mukulikaa commented on #19509
Hi @manasux, the files do exist at `doc/source/_static` and you can see them rendered [here](https://numpy.org/devdocs/_static/numpylogo.svg) and [here](https://numpy.org/devdocs/_static/favicon/favicon.ico).

I tried commenting out [this line](https://github.com/numpy/numpy/blob/94de9f7007b9264328dfa16dcf60a8c34a2c8ec0/doc/source/conf.py#L176) in `doc/source/conf.py` and it solves the problem. Bu

[2021-07-18 12:00] charris commented on #19508
What numpy version?

[2021-07-18 12:02] makshimik commented on #19508
I've tried  from 1.19 to 1.21 and Python from 3.7 to 3.9

[2021-07-18 13:20] seberg opened #19511 "ENH: Fix double-double smallest normal number"
See this and the following discussion, we should likely fix the double-double value for `np.finfo(np.longdouble).smallest_normal`. @wkschwartz, lets continue discussion here.

I might be missing some context here, so forgive me if I'm confusing matters. It appears that you are able to compute the smallest positive subnormal 𝜎, and a few lines below you define `macheps`, so I take it you are able t

[2021-07-18 13:23] wkschwartz commented on #19511
Copying my follow up to the OP discussion below. Like I wrote, I'll explain more later with cites (but can't right now).

-------------

Upon further reflection the correct answer is the latter. I can explain more later but for now the basic idea is that the distinction between subnormal and normal is all about guaranteed minimum precision. Subnormals don't satisfy the main axiom of FP in numerica

[2021-07-18 13:26] charris commented on #19508
The reason I ask is that windows doesn't support either float128 or float96, I believe mingw32 supports it, but msvc doesn't. Embedded is also suspicious.

[2021-07-18 14:31] #19136 closed

[2021-07-18 15:23] makshimik commented on #19508
So the point is that when importing a library from the console or from IDE, everything goes well, the error is suppressed, as intended, judging by the code. Namely, when embedding it, for some reason, it arises.

[2021-07-18 17:20] #19427 closed

[2021-07-18 18:16] Olegt0rr commented on #19507
@BvB93, thanks for reply!
It seems my PyCharm didn't use .pyi for numpy and use data from docstring.

It would be nice to update typing in a docstrings too.
E.g. here: https://github.com/numpy/numpy/blob/main/numpy/random/mtrand.pyx#L4438

[2021-07-18 18:52] BvB93 commented on #19507
The docstring is correct though, and `list` should be valid here as it is a subtype of `MutableSequence`.

In fact, when I construct a test example with an `np.ndarray | MutableSequence` annotation, then passing a list
behaves as expected (mypy 0.910). Based on this I suspect that there is something funky going on with PyCharm.

[code]

[2021-07-19 06:29] toslunar opened #19514 "Casting `bool_` to `float16` reads internal representation"
Casting `np.bool_` array to `np.float16` reads internal representation.  For example, `np.float16(1) + np.array(42, np.int8).view(bool)` results 43.0.  Other types are fine.
[code]

Values casted from `bool` are not necessarily 0 or 1 in C/C++, but it looks nice for NumPy to fix them for all dtypes.

### Reproducing code example:

[code]

The issue does not seem to apply to `np.bool_` scalars
[cod

[2021-07-19 08:05] bashtage commented on #19507
There is an issue (you will need to search) where a PyCharm dev described how they use type hints and doc strings.  My recollection is that they need full type hints to use those, and when not available use a crawler they developed.

[2021-07-19 09:10] mofeing commented on #5744
As many in this post, I frequently bump into this issue. In the end, I forked and just increased the maximum number of dimensions to 64. I just had to update some tests but I works flawlessly.

@jcmgray Your code gives me no problem now and I didn't need to change `einsum.c.src`

I want to do a PR but first wanted to ask if there is still any blocking issue.

[2021-07-19 10:07] BvB93 commented on #19507
In any case, this very much sounds like a PyCharm issue.

[2021-07-19 10:07] #19507 closed

[2021-07-19 13:39] hawkinsp opened #19515 "High memory usage when printing arrays with many dimensions"
NumPy has surprisingly high memory usage for printing arrays with many dimensions.

### Reproducing code example:

[code]

On my Mac, this script has a peak memory usage of 9.3GB and it takes 298s to run.

This array takes 268MB in memory, and its printed form as measured by `len(str(x))` is 570MB. So 9.3GB memory usage by NumPy seems... awfully large? Not to mention 300s is a rather long time to

[2021-07-19 14:05] melissawm commented on #19509
Thanks for chasing that down, @Mukulikaa - let's talk about this in the docs meeting.

[2021-07-19 14:14] melissawm commented on #19494
Related: #19516

[2021-07-19 14:19] melissawm commented on #19509
SciPy has solved this in scipy/scipy#14417- we should probably do something similar.

[2021-07-19 15:31] seberg commented on #19508
@makshimik I expect Chuck is right and it has something to do with mingw and msvc using a different long-double,?

Just to get the complete picture, since I don't really know where we could start understanding it better.  Could you paste:
* The exact error?
* `np.nextafter(np.longdouble(0), 1.)`
* `np.geterr()`?
* `np.exp2(np.longdouble(-16382)`
* `np.finfo(np.float64).tiny / 8` (subnormal, create

[2021-07-19 15:48] wkschwartz commented on #19511
The following "standard model" of floating-point (FP) arithmetic in numerical analysis is used in Higham (2002, §2.2) and Trefethen and Bau (1997, Ch. 13):

In other words, the main assumption is a uniform bound _u_ on the **relative error** _ε_ of all FP arithmetic operations _a_ ⊛ _b_ relative to the real operation _a_ ∗ _b_. (This model, mutatis mutandis, also applies to square roots.) The mode

[2021-07-19 16:27] mattip commented on #19420
We discussed this at the latest documentation meeting. Different people want different ways to access information. We would be open to a PR that creates a new page, something like the [scikit learn page](https://scikit-learn.org/stable/modules/classes.html) linked above with the caveats:
- it would have to be generated, not a manually curated, list of API interfaces
- it should only list top-level

[2021-07-19 16:47] seberg commented on #19515
IIRC, numpy does this by going via an object array of Python strings, a Python string will add a *lot* of additional storage space compared to the final string, especially if that final string is stored as `utf-8` (which it is).  The intermediate strings require a much bigger size (E.g. `sys.getsizeof("1.")` is 51-bytes for me, instead of the two bytes it needs if stored as utf-8).

That said, I t

[2021-07-19 17:03] adeak commented on #19420
I assume there'd have to be some preamble explaining the existence of the API dump page. It could be mentioned there that mobile users will probably able to make less use of it. Still, I think it's OK if users have a choice to see it.

[2021-07-19 17:25] Mukulikaa opened #19520 "DOC: No `source` link for some functions in the API reference guide"
Most functions have a `source` link along with their documentation that leads to the source of the docstrings in GitHub. For example, [numpy.ndarray](https://numpy.org/devdocs/reference/generated/numpy.ndarray.html#numpy-ndarray), [numpy.argmax](https://numpy.org/devdocs/reference/generated/numpy.argmax.html#numpy-argmax) etc. It is a feature of the Sphinx theme that NumPy uses. It makes it very e

[2021-07-19 17:53] hhtong opened #19521 "Importing `ArrayLike` or `DTypeLike` raises a `NameError` in numpy 1.21.1"
With python 3.7.9, importing `ArrayLike` or `DTypeLike` raises a `NameError` in `numpy==1.21.1`.

I had expected that the `TypeError` raised with `numpy==1.21.0` would have been resolved with this PR : https://github.com/numpy/numpy/pull/19311, but now a `NameError` comes up instead.

### Reproducing code example:

[code]

### Error message:
[code]

### NumPy/Python version information:
[code]

[2021-07-19 18:30] dimpase commented on #19437
@thierry-FreeBSD - what's the state of affairs on FreeBSD here? It does have `threads.h`, isn't it?
So one has to use something like `NPY_OS_OPENBSD`, not  `NPY_OS_BSD`, right?

[2021-07-19 18:59] seberg commented on #18607
This should have been improved by gh-19316, although I am not certain how much.  I think it is probably not yet quite back to the 1.19.x speed.

In any case, I am going to close the issue.  If it is still much slower, please re-open or comment.  For now, I will consider any big remaining slow-down a failure to optimize correctly in MSVC.

Looking at it in godbolt, it seems to me that `MSVC` fails

[2021-07-19 18:59] #18607 closed

[2021-07-19 19:28] seberg commented on #18607
A reference in case anyone wants to follow-up with MSVC (I am not willing to create an account just to report this): https://developercommunity.visualstudio.com/t/std::isnan-missed-optimization/417076?entry=problem&space=62&q=isnan

It seems to me that they fixed it, but only for C++, and not for C?!  Even on C++, I think they really fixed `isnan` *specifically* instead of getting all of the `is..

[2021-07-19 19:51] thierry-FreeBSD commented on #19437
@dimpase Indeed, on FreeBSD it is located at `/usr/include/threads.h` .

[2021-07-19 20:35] philn128 commented on #10977
Just ran into this issue as well with `PyArray_Empty`. I'm somewhat new to the API but I don't understand why the `Py_DECREF(type)` line exists since it seems that `Py_DECREF(PyArrayObject*)` causes the reference to be decremented again.

Updated documentation would be helpful.

[2021-07-19 20:42] BvB93 opened #19524 "ogrid"

[2021-07-19 20:43] #19524 closed

[2021-07-19 20:44] BvB93 commented on #19524
Miss click, never mind.

[2021-07-19 21:03] makshimik commented on #19508
![image](https://user-images.githubusercontent.com/87600574/126225715-ceadef44-bdcc-47c5-969e-ee4e957008a1.png)
Here is a screenshot from the {python_root}\Lib\site-packages\numpy\getlimits.py file.
On the left you can see the specific line numbers.
The red arrows mark the lines where division by zero occurs, directly throwing an exception. There you can see my "emergency" edits. The green arrows

[2021-07-19 21:12] BvB93 commented on #16546
Removed 9 functions annotated in https://github.com/numpy/numpy/pull/19408:
* `round`
* `round_`
* `max`
* `min`
* `product`
* `cumproduct`
* `sometrue`
* `alltrue`
* `sow_config`

Removed 2 classes annotated in https://github.com/numpy/numpy/pull/19421:
* `iinfo`
* `finfo`

Removed 15 functions annotated in https://github.com/numpy/numpy/pull/19444:
* `row_stack`
* `take_along_axis`
* `put_along_

[2021-07-19 21:20] seberg commented on #19508
What is the exact error you are seeing?

[2021-07-19 21:26] melissawm commented on #10977
Thanks for mentioning this - if you notice any other problems in the C API docs, please make sure you mention it here so we can keep track of the current inconsistencies.

I have another one: In [How to extend](https://numpy.org/devdocs/user/c-info.how-to-extend.html#required-subroutine), the `PyMODINIT_FUNC` method should be called `PyInit_{name}` instead of `init{name}`.

[2021-07-19 21:28] melissawm commented on #19509
Looks like [dependabot fixed this for us](https://github.com/numpy/numpy/pull/19517) - https://numpy.org/devdocs/ is now showing the logo and favicon again.

[2021-07-19 21:28] #19509 closed

[2021-07-19 22:21] dimpase commented on #19437
The test above passes if I add
[code]

[2021-07-20 04:54] makshimik commented on #19508
without my edits of getlimits.py:
![image](https://user-images.githubusercontent.com/87600574/126262689-ed8f0f29-c70f-4eab-bb52-d9bae9b32b41.png)
with edits:
![image](https://user-images.githubusercontent.com/87600574/126263004-5605f959-dcaf-4bdb-99eb-28754cbea0d4.png)
This what I saw. And I found that exactly place that cause that exactly error. What is behind I can't know. And, let's be honest,

[2021-07-20 05:51] mattip commented on #19508
People frequently report issues, so far there have been almost 10,000 issues reported just in this repo. The guidance when opening an issue tries to clearly state what is expected when opening an issue, by following that you might have avoided this "please show us" ping-pong.

The way this works is that we (you and us, together) are  trying to figure out what went wrong. You are part of the soluti

[2021-07-20 08:54] sevas commented on #18607
@seberg  alright, thanks a lot for the updates. I'll see to make a visual studio bugreport with the info you gathered.

[2021-07-20 13:34] seberg commented on #19508
@makshimik the reason I ask, is that I need to be able to follow what you were doing to help you.  And this little piece of information actually allows that...
The point is: From what you told us, it did not really make sense what to look for in NumPy.  The information you gave makes me realize that this was the wrong place to look for an issue in the first place.

NumPy would print:  `FloatingPoi

[2021-07-20 15:38] makshimik commented on #19508
@seberg
You behave as I expected. :D
When you can't realize what to do you saing "See on your side!")))
Of course, it's not a Python error message! Because python is embedded. Thus it throws the error to parent code! But it must not be doing this! This is the point!
My side huh? But why the error apears only on numpy importing? Why it disapears after my "emergency" edits of getlimits.py?
My side,

[2021-07-20 15:38] #19508 closed

[2021-07-20 15:47] seberg commented on #19508
It doesn't, it is just one place where it always happens.  We could probably avoid it there, but we *can't* avoid it in general.  If you want to understand it, this will probably trigger a similar thing and does not even call NumPy (whether this works or not may be system dependend).
[code]

Otherwise, I suggest calculating `1. / 0.` in your program (not with hardcoded values to be sure the compil

[2021-07-20 16:26] TarunSehgal27 opened #19528 "PyCapsule_Import could not import module "datetime""
Python installed from python.org
numpy installed using pip
operating system windows10

[2021-07-20 17:33] makshimik commented on #19508
Oh, I just checked! None of my code, none of even libraries it uses has text 'Floating point division by zero'. But CPython files has:
![image](https://user-images.githubusercontent.com/87600574/126369133-434a1b08-77ca-4348-bd41-db8218ad0495.png)
But yeah! It's my stupid compiler doing weird things.

[2021-07-20 17:38] eric-wieser commented on #19508
"Floating point division by zero" is almost certainly coming from part of your C++ or Delphi runtime, or the operating system itself.

Are you creating the message box in your own code? Or is Delphi doing that?

[2021-07-20 17:39] eric-wieser commented on #19508
None of those files you reference are part of Python or NumPy - they're part of scipy, which your screenshot indicates you are not even using

[2021-07-20 18:34] mattip commented on #19528
Please copy-paste the complete text of the error, along with the versions of python and numpy you are using.

[2021-07-20 18:47] thomasrockhu commented on #16405
@seberg, looks like this uncovered a pretty difficult bug. Thanks for helping us identify! We believe we have found the root cause and are working on a fix.

[2021-07-20 21:32] seberg commented on #19514
I expect the logic here needs to be slightly cleaned up, in case anyone wants to take a look:

https://github.com/numpy/numpy/blob/b5de1ceb1f1707d0539446b3d8883f3f8f80cb69/numpy/core/src/multiarray/lowlevel_strided_loops.c.src#L818-L832

[2021-07-21 04:03] LeeeLiu opened #19530 "DOC: add mentions of linalg accelerators in the documentation of dot and matmul"
I find that  numpy  dot  operation (matrix multiplication )  is implemented  in C.
But,   numpy  dot   is  still  faster than for loops in C.
Why???

[2021-07-21 04:15] TarunSehgal27 commented on #19528
Traceback (most recent call last):
  File "C:\Users\TARUN\AppData\Roaming\Python\Python39\site-packages\numpy\core\__init__.py", line 22, in <module>
    from . import multiarray
  File "C:\Users\TARUN\AppData\Roaming\Python\Python39\site-packages\numpy\core\multiarray.py", line 12, in <module>
    from . import overrides
  File "C:\Users\TARUN\AppData\Roaming\Python\Python39\site-packages\numpy\c

[2021-07-21 06:43] bashtage commented on #19530
NumPy generally leverages hand-written kernels written that use SIMD. These are provided by other projects.  If you install using pip, it uses [OpenBLAS](https://en.wikipedia.org/wiki/OpenBLAS).  If you install using conda, it defaults to [Intel's Math Kernel Library (MKL)](https://en.wikipedia.org/wiki/Math_Kernel_Library).  The only way you end up with C-like performance is if you build NumPy fr

[2021-07-21 06:45] bashtage commented on #19528
[code]

this is the key error.  You should reinstall NumPy.

Can you open a console and run `import numpy as np`?

[2021-07-21 06:53] mattip opened #19531 "DOC: duplicate docstrings in numpy/core/_add_newdocs.py and numpy/core/multiarray.py"
## Documentation

When we transistioned to `__array_function__` we ended up with at least one duplicate docstring: in both [numpy/core/_add_newdocs.py](https://github.com/numpy/numpy/blob/v1.21.1/numpy/core/_add_newdocs.py#L3201) and [numpy/core/multiarray.py](https://github.com/numpy/numpy/blob/df6d2600c51502e1877aac563658d0616a75c5e5/numpy/core/multiarray.py#L737) there is a docstring for `dot`.

[2021-07-21 06:55] mattip commented on #19530
The use of accelerated linear algebra libraries is described in the [linalg](https://numpy.org/devdocs/reference/routines.linalg.html) documentation. The [dot](https://numpy.org/devdocs/reference/generated/numpy.dot.html?highlight=numpy%20dot#numpy.dot) and [matmul](https://numpy.org/devdocs/reference/generated/numpy.matmul.html) documentation could mention that they can use the linalg routines wh

[2021-07-21 06:59] mattip commented on #19528
It may be an issue with the way you set up PyCharm to run Python. Note your python is at `C:\Program Files\Python39\python.exe`, so normally NumPy would be installed in C:\Program Files\Python39\site-packages` but you are using NumPy from `C:\Users\TARUN\AppData\Roaming\Python\Python39`

[2021-07-21 08:05] FiodarM commented on #17686
I seem to run in the same problem also on Ubuntu 20.04 (WSL).

[2021-07-21 09:05] matthew-brett commented on #19530
Only to add that the BLAS libraries that we use are very very highly optimized by using all sorts of tricks to improve performance, and in particular, they work very hard to optimize memory access, so the algorithm can do much of the calculation with values in the CPU cache.  When testing  these algorithms, the authors use metrics like comparing speed to the theoretical optimum, such as the raw to

[2021-07-21 09:07] TarunSehgal27 commented on #19528
Yes, numpy run in console but not in Pycharm.
 I uninstall numpy then reinstall it in the C:\Program Files\Python39\Lib\site-packages. But the problem remains intact.

"C:\Program Files\Python39\python.exe" C:/Users/TARUN/PycharmProjects/Python_Project/lottery_simulation.py
Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\site-packages\numpy\core\__init__.py", line 22, in <

[2021-07-21 09:08] matthew-brett commented on #19530
You'll see some discussion in https://en.wikipedia.org/wiki/Basic_Linear_Algebra_Subprograms

[2021-07-21 09:35] bashtage commented on #19528
I would strongly suggest you install Anaconda and use conda to manage packages.  Unless you ahve develped a lot of expertise in Windows python using python.org, you will be must more productive using Anaconda and conda.

[2021-07-21 11:43] DaveOkpare commented on #19531
take

[2021-07-21 12:20] sourabh69733 commented on #19521
Try to update your python to `3.8+ or 3.9.1`.

It is not throwing an error in `3.9.1`.
[
![numpy_error_image](https://user-images.githubusercontent.com/65488467/126487379-f97856bf-2028-4c74-aee1-6e1a0fba0993.png)
](url)

[2021-07-21 12:22] sourabh69733 commented on #19521
[Check here the documentation reference for the previous version of python](https://github.com/numpy/numpy/blob/c07080f12652b2cced2f6ca2cb3e72e085565047/numpy/typing/__init__.py#L11)

[2021-07-21 12:30] BvB93 commented on #19521
The condition for trigger the exception is as following:
* Python 3.7 is used.
* typing-extensions is not installed.

I'm currently working a fix for the issue. Annoyingly enough the relevant code paths have proven difficult to test,
as typing-extensions is an (indirect) dependency of pytest. https://github.com/numpy/numpy/pull/19525 should help with this though.

[2021-07-21 13:14] sourabh69733 commented on #19528
`Yes, numpy run in console but not in Pycharm.
I uninstall numpy then reinstall it in the C:\Program Files\Python39\Lib\site-packages. But the problem remains intact.
`
try set to your pycharm path also to your `C:\Program Files`.

[2021-07-21 13:43] max3-2 opened #19532 "`np.linalg.inv` with occasional SEGFAULT on macOS"
### Reproducing code example:

This is hard to provide since it seems to depend on the input quite strongly. I try to describe my issue to pinpoint the direction for building a better MWE. FWIW, the included MWE does perform all the basic tasks , the input is however completely random (`x`) - in case of the true code it is a genetic algorithm that modifies a fixed input (`x`) by small tolerances t

[2021-07-21 15:13] matthew-brett commented on #19532
Would you mind running your script and saving the array that generates the
segfault with inv, maybe in `npy` format - then checking you still get the
segfault when loading and doing inv on the saved array, and then attaching
it here?  I've run your script for a bit, but I haven't had a segfault yet.

[2021-07-21 15:23] charris commented on #19532
Out of curiosity, how did you install NumPy?

[2021-07-21 15:58] max3-2 commented on #19532
Python is installed via homebrew and numpy just using `pip install numpy` as one of the first packages.

I will but thats gonna need some time since its quite deep down there. Actually, the core function that runs the example above is called in a `map()` which is started in a  `QThread`. I‘ll give it a try.

As I said this is not crashing with the example - that was just to show what I am doing, l

[2021-07-21 16:17] BvB93 commented on #19515
If I'm not mistaken python will always create a copy when adding two strings, be it either via `+` or `+=`.
And there are _many_ additions:  https://github.com/numpy/numpy/blob/f69c2fae9cc592fe42355b1533bd1a7e32216ace/numpy/core/arrayprint.py#L742-L743
It's easier said then done, but I would expect a performance improvements if we could rewrite `ndarray.__str__`
in terms of `str.join` in combinati

[2021-07-21 17:16] oconnor663 opened #19536 "bytes() doesn't respect as_strided() under PyPy"
Here's a test script:

[code]

I'm using Arch Linux and the current version of Numpy from PyPI (1.21.1). Under CPython 3.9.6, that script prints the following (**correct**):

[code]

However, under PyPy 7.3.5 it prints (**incorrect**):

[code]

In this case `list(strided)` correctly respects the stride, but `bytes(strided)` doesn't.

[2021-07-21 17:18] eric-wieser commented on #19536
What does `bytes(memoryview(strided))` give?

[2021-07-21 17:23] oconnor663 commented on #19536
Thanks for the lightning fast response. If I expand the script to this:

[code]

Then I see this under CPython:

[code]

And this under PyPy:

[code]

Looks like the memoryview addresses are the same in the first case but slightly different in the second case. Anything else I can add to the printout?

[2021-07-21 17:30] eric-wieser commented on #19536
That address isn't interesting, it's just telling you the location of the memoryview object, not the memory it points to.

Can you show `bytes(memoryview(strided))` in your output as I asked? I want to check if there's something special about converting directly between an array and bytes, or if the problem persists if you go through an intermediate memoryview.

This function might help get more i

[2021-07-21 17:43] oconnor663 commented on #19536
Oof silly mistake on my part. I now have:

[code]

Under CPython:

[code]

And under PyPy:

[code]

[2021-07-21 17:46] eric-wieser commented on #19536
It looks to me like the problem is PyPy's implementation of `bytes(m)` when `m` is a strided memoryview then

[2021-07-21 18:01] oconnor663 commented on #19536
Ok cool, I'll file a bug there. Do you know of any way to create a strided memoryview without using NumPy?

[2021-07-21 18:01] #19536 closed

[2021-07-21 18:06] oconnor663 commented on #19536
Filed https://foss.heptapod.net/pypy/pypy/-/issues/3520.

[2021-07-21 19:39] nicholaiTukanov opened #19537 "Adding POWER10 (VSX4) support to the SIMD framework"
I would like to understand how to go about extending the SIMD framework in order to add support for POWER10. Specifically, I would like to add the following instructions: `lxvp` and `stxvp` which loads/stores 256 bits into/from two vectors. I believe that this will be able to give a decent performance boost for those on POWER machines since it can half the amount of loads/stores issued.

Additiona

[2021-07-21 23:03] bashtage commented on #19532
You could just wrap it in a try, except and then in the except path write the npy file using a unique file name (e.g., using the day and time and PID)

[2021-07-21 23:52] seberg commented on #19528
As Matti also mentioned, and our website linked in the error (almost) links to, you should probably double check that the PyCharm settings make sense and use the correct Python, see the PyCharm help: https://www.jetbrains.com/help/pycharm/configuring-python-interpreter.html

The other thought would be to check your `PYTHONPATH`, etc. as we note here: https://numpy.org/devdocs/user/troubleshooting-

[2021-07-22 04:31] TarunSehgal27 commented on #19528
Pycharm path is C:\Program Files\JetBrains\PyCharm Community Edition 2021.1.3
Do you want me to change the path of my Python_project. It is installed in C:\Users\TARUN\PycharmProjects\Python_Project.
Should  I change to C:\Program Files

[2021-07-22 05:24] Liuyubao commented on #9763
Hi @nobuosato, amazing we have exactly the same issue. Very glad that you found the root cause.

Can I ask two quick questions:
1.What's the final sources that caused the memory increasing?
2.What other measuring tools did you use to find the final answer?

Super appreciate it if you can share any hints. Thanks a lot!!

[2021-07-22 07:24] mattip commented on #19537
We have some support for ppc64 in [`numpy/core/src/common/simd/vsx`](https://github.com/numpy/numpy/tree/main. /numpy/core/src/common/simd/vsx) but the [documented](https://numpy.org/devdocs/reference/simd/simd-optimizations.html?highlight=simd#ibm-power-big-endian-cpu-feature-names) support seems quite partial. Contributions to extend it are welcome. Is POWER10 different? Is there documentation f

[2021-07-22 08:01] max3-2 commented on #19532
Since this quits quite ungracefully, this won't work - at least I don't know how. The traceback above is the result of `faulthandler` after the exit.
I managed to just save all matrices just before `inv`. Assuming linear execution, the last one is the one in question. This is however (as expected) not the issue, see below.
Saving actually made the segfault much less likely to occur, currently I fe

[2021-07-22 08:02] mattip commented on #19532
Can you see an OpenBLAS library in `<site-packages>/numpy/.dylibs` ? If not, you may be using the system Accelerate BLAS implementation, which we have suspected in the past is buggy. In PR #18874 we re-enabled it since @Matthew-Badin stated that all known defects have been fixed. You may also be using a brew-installed OpenBLAS. We have no clear way to detect which BLAS acceleration framework is be

[2021-07-22 08:03] bashtage commented on #19532
Ahhh, of course a try except wouldn't work.  Have you tried limiting the maximum number of threads using `OPENBLAS_NUM_THREADS=1`?  Or have you tried changing the OpenBLAS kernel?

[2021-07-22 08:06] max3-2 commented on #19532
I do have (in `.dylibs`)
[code]
which one is linked when NumPy is invoked I cant tell.

How would I do that?

[2021-07-22 08:12] bashtage commented on #19532
`OPENBLAS_CORETYPE` to one of the kernels here https://github.com/xianyi/OpenBLAS/tree/develop/kernel/x86_64

[2021-07-22 08:14] bashtage commented on #19532
Also, have you tried conda+MKL to see if the segfault persists?

[2021-07-22 08:17] max3-2 commented on #19532
I ran an `export OPENBLAS_NUM_THREADS=1` in the shell from where I invoke my main program and this solves the issue (I could not reproduce in a substantial amount of runs which usually are enough to at least segfault once)

I closed the shell, and tried again without the `export` and the issue is back - So this seems to be the most likely case. Does this help to pinpoint it further?

I will try ke

[2021-07-22 10:08] rossbar opened #19541 "PERF: loadtxt default float converter degrades performance for niche case"
`loadtxt` uses a [default converter](https://github.com/numpy/numpy/blob/8365e3ac35fe9c0b4cba8bc707dc1910e0c1f387/numpy/lib/npyio.py#L735-L753) for floating point values to support hexadecimal representations. This default converter has a significant impact on the performance when reading files with a lot of floating point numbers, for example:

[code]

### Current default

[code]

### Relace `flo

[2021-07-22 13:17] seberg commented on #19532
That is a good piece of information.  At least we know it has something to do with OpenBLAS threading.  The coretype export may help pinpoint whether it is in OpenBLAS itself, or for example some interaction between your Qt threads and OpenBLAS threads.

Another thing that may help pin-point is if you can run everything in gdb with `gdb --args ...` (or get a core-dump) I guess.  Then we would know

[2021-07-22 13:54] max3-2 commented on #19532
So so more tests and the results. Just some information in advance: If I use the most high level version, a Qt UI (main thread) starts a computation (optimizer thread) in which a function is run with performs the actual loop.

- I tested some of the kernels (not all) to no avail -> segfaults
- I tested the core function, works!
- I tested the optimization thread, bypassing the UI and invoking it f

[2021-07-22 14:00] max3-2 commented on #19532
I haven't really figured `gdb` out yet. Core dumps are fairly cryptical. The main error is
[code]

And it all points to the `QtThreadedGA` which is the optimization threads that calls the function with `inv`

[code]

[2021-07-22 14:04] bashtage commented on #19532
1. I think you can set with os.environ before NumPy import in your program.
[code]

2. Slower at most ops if the input is moderately large.  But if you are running with many threads/processes, then not much of a concern.

[2021-07-22 14:57] BvB93 commented on #16366
Would there be any objections against deprecating this behavior?

In my opinion this behavior is somewhat dangerous, as the function can unexpectedly return an arbitrary object.
At the very least this behavior should be documented.

[2021-07-22 15:11] seberg commented on #16366
No objections from me.  I guess there may be some logic in wanting to upcast occasionally, but making it only work for builtin NumPy DTypes/scalars would probably be for the better.

The whole "scalar-kind" logic feels a bit "parallel" to normal promotion, unfortunately.

[2021-07-22 15:19] seberg commented on #19532
You could also use [`threadpoolctl`](https://github.com/joblib/threadpoolctl) which may give you a bit more fine-tuned control.

[2021-07-22 16:48] seberg commented on #19398
I had done this in gh-19476, but it turns out that:

* MSVC 19 is incapable to optimize `isnan`, `isfinite`, `isless`, etc. (because they are defined in `math.h`), making them *extremely* slow in general (maybe global, link-time, optimization can safe that a bit, but I am not sure.  But normally they are compiled into a function call, instead the single CPU instruction they should be).
* clang `<1

[2021-07-22 16:53] seberg opened #19544 "MAINT: Post UFunc refactor check-list"
A task-list of possible or necessary post UFunc refactor cleanups:

* The ufunc cache can currently grow indefinitely, in practice it probably doesn't matter, but if someone writes a hypothesis test for a SciPy ufunc with 4 inputs, the explosion of input DType combination could become problematic.
  * Either needs a hard maximum cache size, or a smart caching scheme (or both).

[2021-07-22 20:02] thomasrockhu commented on #16405
@seberg we have deployed the change. Let me know if you see this in any future PRs.

[2021-07-22 20:31] BvB93 commented on #19521
Closed by https://github.com/numpy/numpy/pull/19533.

[2021-07-22 20:31] #19521 closed

[2021-07-22 20:40] seberg commented on #16405
Thanks, hopefully it works, then!  I guess we may also need to have a new commit on the main branch and the PR based off that?  Anyway, I guess we will see, even if that is necessary, I guess things should normalize by Monday then.

[2021-07-22 20:44] seberg commented on #16405
Aha, gh-19547 is correct already, so that is good :). Although the Codcov overview still says "Missing base report": https://app.codecov.io/gh/numpy/numpy/pulls?page=1&state=open&order=-pullid but lets see and wait I guess.

I somewhat expect this was also the problem here: https://community.codecov.com/t/nearest-pull-request-base-pseudobase-commit-not-chosen-correctly/2249/4 just in case you want

[2021-07-22 21:58] thomasrockhu commented on #16405
Ok, please ping back here if it hasn't normalized by then and thanks for your patience!

[2021-07-23 03:38] Snape3058 opened #19548 "Potential memory leak in function `PyUFunc_RegisterLoopForType` (a static analysis report)"
### Reproducing code example:

**Static analysis results, no POC.**
This static analysis report has been manually reviewed to verify its validity.

**This bug report has the same control flow as my previous issue #19336.**

### Error message:

The path provided by the static analyzer is as follows.

1. Memory allocated with `PyArray_malloc`, which is aliased to `PyMem_RawMalloc`. Allocated memory

[2021-07-23 04:19] mattip commented on #19520
Note that at least in the case of [ndarray](), the "[source]" link does not actually point to the docstring, rather to a C file.

[2021-07-23 04:46] czgdp1807 commented on #19515
It seems like `str.join` is significantly faster than `+` and `+=` from [here](https://stackoverflow.com/questions/938733/total-memory-used-by-python-process). Can I investigate this issue further and if `str.join` gives better results then open a PR for it?

[2021-07-23 05:08] mattip commented on #19515
Yes please

[2021-07-23 05:13] mattip commented on #19515
One place to start would be making this line not return a string
https://github.com/numpy/numpy/blob/f69c2fae9cc592fe42355b1533bd1a7e32216ace/numpy/core/arrayprint.py#L1310

[2021-07-23 06:30] henryeleonu commented on #19531
I can take up this issue

[2021-07-23 07:03] eric-wieser commented on #19515
That line doesn't look relevant @mattip, it's only used for unusual structured arrays

[2021-07-23 08:06] max3-2 commented on #19532
Great, thanks!
I use
[code]
at the top level of my threading module to successfully prevent the segfaults.

[2021-07-23 08:22] #19504 closed

[2021-07-23 11:47] sourabh69733 commented on #19528
Have you tried this?

You have probably python path conflict with pycharm. Did you try reinstallation of pycharm?

If you have created your project with virtualenv, then it could be dependency issues, try to run numpy from your project without creating virtualenv.

[2021-07-23 12:42] bashtage commented on #19541
You should use pandas if you care about CSV io.

[code]

[2021-07-23 12:49] MatthieuDartiailh opened #19551 "Typing of nditer: __getattr__ is not sufficient to cover __enter__, __exit___ and __iter__ dunders"
Trying to type check a program using `np.nditer` using mypy 0.812 and 0.910 and numpy 1.21.1 fails complaining about missing dunder methods. Looking at https://github.com/numpy/numpy/blob/main/numpy/__init__.pyi#L767 and https://github.com/numpy/numpy/blob/main/numpy/__init__.pyi#L633 I believe the issue stems from the fact that the presence of `__getattr__` does not automatically cover all dunder

[2021-07-23 13:07] rossbar commented on #19541
Generally I agree for new code, but there is plenty of existing code that uses numpy for I/O from text files. This issue is related to [npreadtext](https://github.com/WarrenWeckesser/npreadtext) which aims to improve performance of file I/O in numpy. Currently `npreadtext` is on par or slightly faster than `pd.read_csv` for parsing floats with full precision w/out supporting hex floats by default.

[2021-07-23 13:10] rossbar commented on #19531
NumPy typically doesn't assign issues --- if there is no PR linked to this issue, it is safe to assume that no one is working on it so you can feel free to take it up.

[2021-07-23 13:24] bashtage commented on #19541
IME/O the most helpful thing for users would be make them aware that there are more performant solutions then NumPy's file I/O in docstrings.  There appear to be much better serialization solutions available for both binary or text formats.

Don't get me wrong -- I regularly use the I/O functions in NumPy when a simple solution is needed and performance is not a key concern. Performance tuning in

[2021-07-23 13:26] bashtage commented on #19541
Do you get much of a bump from avoiding the `lower()` and switching the `in` to `x.startswith("0x") or startswith("0X")"?  The `lower()` will always create a new string, which might be one of the key costs of the check.

[2021-07-23 13:32] charris commented on #19541
We should steal the code from Pandas. That has been a long term intent.

[2021-07-23 13:44] jgerlach93 opened #19552 "bug in np.arange?"
Let me show you the issue directly:

### Reproducing code example:

np.arange(2114.8,2114.8+.05,.05)  produces array([2114.8 , 2114.85])

np.arange(2114.8,2114.8+1.,1.) produces  array([2114.8])

dont understand why they return arrays of different lengths.

[2021-07-23 13:45] rossbar commented on #19541
Not that I see - the (admittedly rudimentary) %timeit benchmarks are slightly worse for various versions. For example, with : `if x.startswith("0x") or x.startswith("0X"):`

[code]

[2021-07-23 13:46] rossbar commented on #19541
I believe @WarrenWeckesser looked into this originally before starting `npreadtxt`, though I don't remember what the conclusions were specifically.

[2021-07-23 13:51] DaveOkpare commented on #19531
Thanks @rossbar

[2021-07-23 14:06] rossbar commented on #19541
Also FWIW a significant amount of the speedup in pandas parsing of floating point values is a result of a [precision tradeoff by default](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html?highlight=float_precision#specifying-method-for-floating-point-conversion). Of course this default value for precision makes a lot of sense, but for the sake of comparison at full precision you shou

[2021-07-23 14:11] rossbar commented on #19552
This is a common "gotcha" with arange - the reasons behind it are addressed in the [docstring](https://numpy.org/devdocs/reference/generated/numpy.arange.html#numpy.arange), particularly in the `Warnings` section. Hopefully that addresses your question and provides guidance re: the preferred alternative (np.linspace). If not, ideas for improvements are welcome

[2021-07-23 15:17] proyan opened #19553 "BUG: `arr.fill()` does not work with `USE_SETITEM` scalars"
### TLDR:
When creating a user-defined data-type using boost-python, np.fill() uses a memory manipulation scheme which doesn't correspond to the PyObject ABI created by boost-python. On the other hand, direct assignment using mat[:] accesses the data using PyArray_Data, and returns the correct pointer.
As a result, there is garbage value assignment in fill(), and sane value assignment in direct ac

[2021-07-23 15:18] proyan commented on #19553
This issue corresponds to the user-type fix https://github.com/stack-of-tasks/eigenpy/pull/240

[2021-07-23 15:46] seberg commented on #19553
I don't understand, that seems correct and continues calculating the right offset, or is that logic wrong?  Can you first check that  `descr.alignment` is actually correct.  You are setting here:
https://github.com/jcarpent/eigenpy/blob/devel/include/eigenpy/user-type.hpp#L238 and that offset looks a lot like it may include the `PyObject *` head, which would be incorrect

Lucky us :)! one less wei

[2021-07-23 16:00] proyan commented on #19553
The memory manipulation that is being carried out is:
[code]
### Our CustomDouble
alignment = 8
sizeof(PyObject) = 16

Input: scalar: `0x7ffff71b8c20`
Output: (void*)memloc: `0x7ffff71b8c30` = (scalar + 16)

### Numpy rational:
alignment = 4
sizeof(PyObject) = 16
Input: scalar: `0x7f9696e45710`
Output: (void*)memloc: `0x7f9696e45720` = (scalar+16)

In both cases, the memory manipulation is working

[2021-07-23 16:09] proyan commented on #19553
Without inheriting from PyGenericArrType_Type, the command np.array([user_type.CustomDouble(10.)]) registers creates an array with `dtype=np.object_` rather than an array with `dtype=CustomDouble`.

However, since the Generic implementation is *not* used in such a case, the `fill` and `[:]` assignments both seem to work!

If you could propose a way to register the new user-type as a scalar, withou

[2021-07-23 16:10] BvB93 commented on #19551
I'd argue this is a mypy bug, but that doesn't make it any less problematic...
In any case, if you're willing to create a PR then that would be much appreciated!

There are a couple of other dunders that would be worth adding based on a quick comparison
between `object` and `np.nditer`. Just as you proposed with `__iter__`, I'd suggest to use `Any`
for the likes of `__getitem__`.

[code]

[2021-07-23 16:23] seberg commented on #19553
Good point, the new API does this correctly, but the old API doesn't have the right hooks.

I don't understand how this is plausible?  That memory location seems completely different, does your object store a pointer to the memory?  `PyArrayGeneric_Type` assumes that the memory address is that of an aligned C-struct starting with the `PyObject`.  If that is not the case you simply can't inherit fr

[2021-07-23 16:29] seberg commented on #19553
@proyan or am I just misunderstanding here: Your dtype actually does set `USE_GETITEM` and `USE_SETITEM` (can you see what `dtype.flags` is, if you are not sure)?  And the problem is that `arr.fill()` does not honor that contract...

[2021-07-23 16:46] MatthieuDartiailh commented on #19551
Will do when I get a couple spare cycles.

[2021-07-23 16:46] proyan commented on #19553
I see. I assumed as much from the addresses that I obtained. The python class is defined using boost::python here:
https://github.com/jcarpent/eigenpy/blob/2edf3ead8931af8401c7637a12ed2d699dedc909/unittest/user_type.cpp#L172
and
and it is being registered as a new dtype here:
https://github.com/jcarpent/eigenpy/blob/devel/include/eigenpy/user-type.hpp#L235

----------------------------------

I ma

[2021-07-23 16:49] proyan commented on #19553
By the way, thanks a lot for the quick responses! It is quite refreshing to see real-time activity on such a giant project.

[2021-07-23 16:53] seberg commented on #19553
The important part here is the flags, and they indicate `NPY_USE_GETITEM` and `NPY_USE_SETITEM`. The typical code paths never call `scalar_value` if the `NPY_USE_SETITEM` and `NPY_USE_GETITEM` are set.  `arr.fill()` and its C-version fails to check this, however.

So it is indeed a bug in `PyArray_FillWithScalar`, which should probably just use the new `PyArray_Pack`, except that might modify some

[2021-07-23 17:04] jgerlach93 commented on #19552
thanks for the response. maybe i am very picky, but i find that it would be more consistent when it works like with 0.05 when i specify 1. (as a float) and the other way when i specify 1 as an int. But maybe this would also cause some other confusion in return.

[2021-07-23 17:09] proyan commented on #19553
Currently, there are two ways forward that I have seen

### Not inheriting from `PyGenericArrType_Type`
[code]
But fill works

### Inheriting from `PyGenericArrType_Type`
[code]
But `fill` doesn't work

--------------------------------------

Do you see a way out in either of the above two lanes? Or perhaps a third workaround that I might use while ensuring compatibility with the existing numpy re

[2021-07-23 17:10] charris commented on #19552
The problem is that `.05` is not equal to `.05` after conversion to (base two) floating point.

[2021-07-23 17:33] bashtage commented on #19552
This is literally the most common question on the issue tracker.  Should ping this or one of the other variants.

[2021-07-23 17:43] seberg commented on #19553
Note that array creation will work as long as you use `dtype=customdtype`.

No, I don't see a way right now.  Aside from making sure the data is stored directly on the scalar in a C-struct manner (because, why not?).  `arr.fill` is simply buggy, you would have to fix NumPy or live with `arr.fill` segfaulting until the bug is fixed.  The current custom dtype API _somewhat_ works, but it has a lot o

[2021-07-23 20:10] proyan commented on #19553
Thanks for the clarification and the quick response @seberg.

[2021-07-24 06:07] iperov opened #19556 "numpy requires 1Gb paging file per process instance which causes MemoryError"
Impossible to do parallel numpy computations using python subprocesses,
because just simple import numpy requires ~1Gb paging file

I have 32Gb ram and 4Gb paging file
this code causes an error
[code]

### Error message:

[code]

OS : Windows 10 64-bit

### NumPy/Python version information:

[code]

[2021-07-24 23:27] bashtage commented on #19556
Most likely due to OpenBLAS.  You might find success by limiting the number of threads to 1 per process using `export OPENBLAS_NUM_THREADS=1`.   Or you can try MKL for BLAS using Anaconda.

[2021-07-25 04:37] JMdoubleU commented on #12579
Ironically, that incorrect implementation highlighted the need for a library function.

[2021-07-25 06:57] mattip commented on #19556
Probably a duplicate of #18141 which was fixed for 1.19.6 and up.

[2021-07-25 17:07] TarunSehgal27 commented on #19528
I have tried all the ways. Now I'm trying to do it in Anaconda and Spyder IDE. But now it's showing an error.
Traceback (most recent call last):

  File "C:\Program Files\Python39\Lib\site-packages\numpy\core\__init__.py", line 22, in <module>
    from . import multiarray

  File "C:\Program Files\Python39\Lib\site-packages\numpy\core\multiarray.py", line 12, in <module>
    from . import override

[2021-07-25 17:12] iperov commented on #19556
fixed by updating to latest numpy

[2021-07-25 17:12] #19556 closed

[2021-07-25 17:15] bashtage commented on #19528
You need to uninstall all versions of Python other than Anaconda. You are having path conflicts.

[2021-07-26 04:17] TarunSehgal27 commented on #19528
I have uninstalled all versions of Python but no change in output. I cannot understand the problem. Please help with path conflicts.

[2021-07-26 05:19] bashtage commented on #19528
Does C:\Program Files\Python39\Lib\site-packages\numpy\core_init_.py exist? If so, then there is a python installed that is not Anaconda. If not, can you post the most recent error?

[2021-07-26 07:25] wqh17101 opened #19562 "how to build whl with numpy.libs"
### Reproducing code example:
i want to build whl from source code
so
i run
[code]
and i got a whl with
![image](https://user-images.githubusercontent.com/26429138/126949127-3feac31e-0e2a-4657-9f89-3e8a0f7f9447.png)

but the one from pypi is
![image](https://user-images.githubusercontent.com/26429138/126949254-b3cfed12-d81b-4277-8f5e-6007cbd8fd14.png)

### Error message:
you can see that no numpy.

[2021-07-26 08:11] mattip commented on #19562
You need to tell the build to package BLAS libraries. The numpy wheel build downloads OpenBLAS and sets the OPENBLAS environment variable. One windows it is more complicated [0], but on macOS/linux this is
[code]

Or you can use a site.cfg file following the [example](https://github.com/numpy/numpy/blob/main/site.cfg.example)

[0] For windows, you need to create an import library for the renamed D

[2021-07-26 08:16] TarunSehgal27 commented on #19528
C:\Program Files\Python39\Lib\site-packages\numpy\__init__.py is present. Does core___init__.py is same as __init__.py. Should I delete Python39 folder from C:\ drive

[2021-07-26 08:33] mattip commented on #19528
Do you have someone who can help you through installing and setting up your system in real-time? This problem is not really NumPy specific and our issue tracker is not really meant for this kind of support. I appreciate that this must be very frustrating, but it seems we are not making progress via this discussion. Something like the [python discord group](discord.gg/python) or the [python slack c

[2021-07-26 09:21] bashtage commented on #19528
I agree with @mattip, but you clearly have Python.org python installed.  You should check again in add remove for anything related to Python and uninstall _except_ Anaconda.  Then if you still have C:\Program Files\Python39, just manually delete this entire directory.

[2021-07-26 11:56] Qiyu8 commented on #19562
AFAIS, The wheel integrated with BLAS is build with [auditwheel](https://github.com/pypa/auditwheel), the command line is `auditwheel repair *.whl`, we recommend using the pre-built manylinux Docker images.

[2021-07-26 12:13] mattip commented on #19562
right, once you have wheels with a BLAS packaged in, if you them to be used on other machines, you should repackage the wheel with `auditwheel repair` on linux.

[2021-07-26 15:11] melissawm commented on #19552
I think this means the documentation is insufficient. Maybe the warning is too far down the docstring and we should mention the gotcha earlier?

[2021-07-26 15:15] eric-wieser commented on #19552
I created https://github.com/numpy/numpy/projects/11 a while ago to track this.

[2021-07-26 16:40] nicholaiTukanov commented on #19537
[POWER ISA 3.1](https://wiki.raptorcs.com/w/images/f/f5/PowerISA_public.v3.1.pdf) details the new features that POWER10 will have (there are hyperlinks on pg 566 to the new 256 bit load/store instructions).

[2021-07-26 16:58] nicholaiTukanov commented on #19537
@seiko2plus and I have had an email thread about this, and we are moving the conversation to this issue.

He has suggested the following workflow for adding VSX4 support:

1. Extend the infrastructure through [ccompiler_opt.py](https://github.com/numpy/numpy/blob/main/numpy/distutils/ccompiler_opt.py)
2. Extend runtime detection support through [npy_cpu_features.c.src](https://github.com/numpy/num

[2021-07-26 18:34] Mukulikaa commented on #19520
Yes, I think there was extra logic added to `conf.py` to handle some of these C-extension module functions. The main purpose of the `source` link I think is to lead to the source code itself instead of the docstrings as I said. For the python source codes, the docstrings happen to reside in the functions themselves so it seems to do both.

[2021-07-26 20:37] seberg commented on #19553
I really would like to apply the diff below.  But it would change two things: First `arr.fill(array)` could in some weird cases behave differently (mainly unpacking object arrays, but that is an easy special case to add).  Some `np.float64(np.nan)` fills and integers will error start erroring out, and that tiny test change with the void dtype shows that there is another small change there...

(Bas

[2021-07-27 06:24] #19531 closed

[2021-07-27 11:42] #19551 closed

[2021-07-27 12:34] proyan commented on #19553
Thanks for the fix @seberg. I agree `PyArray_Pack` should solve the issue. I could validate it on our package once there is a PR.

[2021-07-27 17:04] Lequanghy opened #19569 "Error in running Python script that import Numpy in C program"
I'm trying to run the Python script in the C program, here is the code:
[code]

Here is the code in *example.py*
[code]

When I ran the C code in Visual Studio Community 2019, it returns that it could not find ```numpy.core._multiarray_umath```. This is the error message that I got from the run:
[code]
I tried to uninstall and reinstall Numpy a couple of times but it did not fix the problem.

[2021-07-27 17:07] melissawm commented on #19569
Did you try any of the solutions in the link mentioned in the error message? Did you confirm that you can import NumPy after installing it?

[2021-07-27 17:15] mattip commented on #19569
It seems this is a continuation of the [stackoverflow question](https://stackoverflow.com/questions/68504498/error-in-running-python-script-that-import-numpy-in-c-program?noredirect=1#comment121146067_68504498) from yesterday

Are you linking to the python39.lib in `C:\Users\USER\AppData\Local\Programs\Python\Python39` when you compile your program? What is printed when you add this before importi

[2021-07-27 18:54] cmarmo opened #19570 "Non existent `PyArray_MultiIter_SIZE` function"
## Documentation
The function `PyArray_MultiIter_SIZE` described in the [documentation](https://numpy.org/doc/stable/user/c-info.beyond-basics.html?highlight=pyarray_multiiter_size#broadcasting-over-multiple-arrays) is not defined in the current [ndarraytypes.h](https://github.com/numpy/numpy/commit/41c107dabf740527a4ee18adedd3b750059a4de0) and was never defined since the beginning of numpy.
The a

[2021-07-27 19:35] Lequanghy commented on #19569
Hi mattip, it printed "3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27:52) [MSC v.1928 64 bit (AMD64)]".
When I run the Python script in PyCharm or any Python IDE. It can import Numpy. However, it doesn't work when I run the Python script in a C program.

[2021-07-27 19:39] Lequanghy commented on #19569
Hi melissawm, I have checked the links and tried their solution. I can import and run Numpy in PyCharm, VSCode and Eclipse. But when I import Numpy as a Python code in a C program then it returns that error above.

[2021-07-27 19:51] mattip commented on #19569
1. Can you run `python -c "import numpy"` from a DOS command prompt?
2. How are you running the C program?

[2021-07-27 20:12] mattip commented on #18422
@millettmb could you update this issue after trying the latest release 1.21.1 with OpenBLAS v0.3.17?

[2021-07-27 20:16] Lequanghy commented on #19569
1. The command prompt can run ```python -c "import numpy"``` but returns nothing.
2. I run my C program in Visual Studio Community 2019. I compile it into an executable file and run it.

[2021-07-27 21:43] seberg commented on #19570
Implementation always trumps documentation.  It may be that it was planned at some point to hide the internals of the object away (as an function that returns the `->size` member).

But evn if we want to do that, it is probably easier to just fix the docs for now and update them again when it changes.

[2021-07-27 22:18] mattip commented on #19569
1. That is good, it means there was no error
2. What exactly are you doing to run it? Some example answers: "I am pressing ctrl-f5", "I am running it through the debugger", "I am opening a DOS command prompt just like in (1)". Hint: try the last one.

[2021-07-28 02:45] itscoolvatsa commented on #19570
Hey, if updating the document is the way can I make changes if it is possible.

[2021-07-28 03:39] ganesh-k13 commented on #13694
This is related to #18423, can we add codespell as another non-failing stage to GitHub actions?

[2021-07-28 10:00] ogrisel commented on #19411
So indeed the `arm64 (80 processors)` and `graviton2` look very similar from an lscpu point of view (in particular the CPU part identifier than OpenBLAS relies on to detect the CPU architecture is the same).

What do you mean? Setting the `OPENBLAS_CORETYPE=armv8` environment variable does not work on the `arm64` host used to generate the manylinux wheels? Or using the graviton2 host does not work

[2021-07-28 13:27] Snape3058 opened #19573 "F2PY refcnt leak for API function `PyDict_SetItemString` in file fortranobject.c"
### Reproducing code example:

**Static analysis results, no POC.**
This static analysis report has been manually reviewed to verify its validity.

### Error message:

In Python API documentation, function [`PyDict_SetItemString`](http://192.168.5.61:10010/c-api/dict.html#c.PyDict_SetItemString) will not steal a refcnt for the third argument. This will lead to many refcnt leaks in this file.

* In

[2021-07-28 13:48] anmolschauhan opened #19574 "PyArray_CompareFunc of dtype datetime64 returns incorrect value for 'NaT' objects."
Sort order for `NaT` values got [changed in numpy 1.18.0](https://numpy.org/doc/stable/release/1.18.0-notes.html#nat-now-sorts-to-the-end-of-arrays).

`PyArray_CompareFunc` of dtype `datetime64` returns incorrect as per the updated sort order.

This is present with numpy 1.20.2 and 1.21 too.

This is reproducible via the following extension module.

compare_bug.c
[code]

setup.py
[code]

Running t

[2021-07-28 13:57] Snape3058 opened #19575 "F2PY refcnt leak for API function PySequence_Tuple in file `cb_rules.py`"
### Reproducing code example:

**Static analysis results, no POC.**
This static analysis report has been manually reviewed to verify its validity.

### Error message:

The path provided by the static analyzer is as follows.

1. Function `PyObject_GetAttrString` returns a new reference, assigned to variable `capi_tmp`.
https://github.com/numpy/numpy/blob/04ab04d93d4d7a4d241fe0ceb725436a8b6c8c2e/num

[2021-07-28 16:56] cmarmo commented on #19570
@itscoolvatsa, please do. You might also want to check #19565 for more details. Thanks!

[2021-07-28 17:11] itscoolvatsa commented on #19570
Since this is my first contribution will u just give me some tips so that I came through it.

[2021-07-28 17:21] ganesh-k13 commented on #13694
@mattip I saw the latest triage meeting notes and there was an action item to make the linter non-blocking (In azure I guess as it does not block in actions), I can take it up in the same PR as this.

[2021-07-28 17:43] seberg commented on #13694
Yeah, that would be good. @charris is also looking into switching most of these over to 3.8 (but I guess that should be orthogonal).

[2021-07-28 18:02] charris commented on #13694
Already done in #19576, but it may not be quite right. I believe github/actions was the main problem, not sure if azure-pipelines is fixed.

[2021-07-28 18:28] cmarmo commented on #19570
@itscoolvatsa, the source of the [documentation page](https://numpy.org/doc/stable/user/c-info.beyond-basics.html) is [here](https://github.com/numpy/numpy/blob/main/doc/source/user/c-info.beyond-basics.rst).
References to the function `PyArray_MultiIter_SIZE` should be removed. The example using it should be modified accordingly, finding a different way to retrieve the size of the `PyArrayMultiIt

[2021-07-28 22:13] mikeronayne opened #19579 "Some Python Native int Comparison Fails with np.int64 Max"
### Reproducing code example:

[code]

After searching `9223372036854777343` on the web, I'm thinking maybe one (or both) of the operands are being casted to float behind the scenes?

### NumPy/Python version information:

1.21.1 3.9.4 (tags/v3.9.4:1f2e308, Apr  6 2021, 13:40:21) [MSC v.1928 64 bit (AMD64)]

[2021-07-28 22:14] seberg commented on #19574
Hmm, yeah, it is a bug.

In general, these functions are a bit tricky: They duplicate ufunc machinery logic, which is error prone.  They also live in a place that should eventually be deprecate/delete entirely.  Although, I am not sure if we need single element versions for these, and whether they would live on the `ArrayMethod` in the future.

Another oddity/unclear thing about these functions is

[2021-07-28 22:34] seberg commented on #19579
Yes, that is unfortunately the case currently.  The reason is that this is the "default" promotion: `np.result_type(np.uint64, np.int64)` gives `float64`.  Arguably, that behaviour is often bad (although maybe often OK for math), and even more so for comparisons.

It could be fixed by adding custom comparisons for these types, although I am not certain what should happen in general.  Maybe we shou

[2021-07-29 02:23] wqh17101 commented on #19562
thank you i got the ```numpy.libs```
but more than yours
![image](https://user-images.githubusercontent.com/26429138/127421687-9bac0ef5-01cb-471e-8f39-69e6e6615cc5.png)
what should i do

[2021-07-29 05:01] mattip commented on #19562
Did you run `autowheel repair` ?

[2021-07-29 05:04] wqh17101 commented on #19562
auditwheel repair

[2021-07-29 08:34] ogrisel commented on #19411
It seems that the problem has disappeared magically on the scikit-learn Travis CI (see https://github.com/scikit-learn/scikit-learn/pull/20476 after `a1e1a03`). There is still a failure but it's unrelated to the originally reported `numpy.linalg.LinAlgError: Eigenvalues did not converge` problem.  Here are the CPU info on the arm64 80 cores machine of the last successful run.

[code]

It seems the

[2021-07-29 10:00] MohamedAliRashad opened #19583 "Can cdist be added to numpy ?"
It will be nice addition to not install all of scipy just to use cdist

[2021-07-29 13:08] charris commented on #19411
There was an OpenBLAS fix for the problem in 0.3.16, probably https://github.com/xianyi/OpenBLAS/pull/3278.

[2021-07-29 13:16] bashtage commented on #19583
I suspect not. SciPy has a module for this topic, Also, moving things from scipy to NumPy that aren't about the fundamental array container is a very slippery slope since there is not absolute boundary.

[2021-07-29 13:20] #19411 closed

[2021-07-29 13:55] rkern commented on #19583
I also would not move this to numpy. The general direction of numpy development is to remove and not add to this already-overstuffed API. `cdist()` would also bring in a large menagerie of the distance functions as well. That kind of unbounded collection is exactly what scipy is for.

Everyone has that _one thing_ in scipy that, if added to numpy, they wouldn't need to install all of scipy so ofte

[2021-07-29 16:15] Lequanghy commented on #19569
Hi @mattip, I did all of the solutions you mentioned. I pressed ctrl-f5, ran the C program through the debugger and compiled the program in Command Prompt. However, they returned the same error.

[2021-07-29 17:10] mattip commented on #19569
Sorry, out of ideas.
FWIW, I can successfully run your code on windows10. You may have some luck studying [the new features related to loading DLLs in python3.8](https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew) or looking for tools like [depends.exe](https://dependencywalker.com/)

[2021-07-29 17:28] Lequanghy commented on #19569
Did you run my code on your computer?

[2021-07-29 17:42] tomergt45 commented on #18244
Hi @rgommers, I’m curious to know if there has been any development regarding the mentioned reorganization?

I find myself keep going back to how to implement a sliding window properly, and numpy’s seems to mostly satisfy my needs, I say mostly since it’s location is annoying to remember and the function name is too long, if possible I would suggest renaming it to ‘window’.

[2021-07-29 17:53] tomergt45 opened #19585 "Using `dtype=str` in functions like `arange`"
I think using `str` as a `dtype` value can be beneficial, in some cases.

For example:
[code]

[2021-07-29 18:07] rkern commented on #19585
`np.arange(10).astype(str)` will do this already. I'm not sure there is any significant benefit to supporting it in the `dtype=` keyword.

[2021-07-29 18:21] mattip commented on #19569
Yes, on Windows10. I copied your code to a file `main.c`. created an `example.py` with `import numpy as np; print('ok') and ran
[code]

Then I could run `main.exe` which printed `ok`

[2021-07-29 19:33] rossbar commented on #19583
I'm going to go ahead and close this - the above responses address the original question well. If you would like to continue the discussion, the [numpy-discussion mailing list](https://www.scipy.org/scipylib/mailing-lists.html) is a more appropriate forum.

[2021-07-29 19:33] #19583 closed

[2021-07-29 19:46] Mukulikaa opened #19586 "DOC,DISCUSS: A How-To guide for ndarray indexing"
Hi, all! I'm planning to write a how-to doc for ndarray indexing as per discussion in #19407. I would love to know which use-cases you'd like to see in the doc. These are a few I have in mind (with inspiration from StackOverflow):
- Accessing specific/random rows and columns
- Indexing along a specific axis
- Creating a sub-ndarray from a larger matrix
- Using variables for slicing e.g. having `st

[2021-07-29 20:00] #19585 closed

[2021-07-29 20:04] daskol commented on #19515
As far as I know, the common way in practice is to use builder pattern to construct strings efficiently. So, we should use `io.StringIO` (or `io.BytesIO`) in Python. I guess that all formatting could be done in one pass writing to file-like object not string.

[2021-07-30 06:40] AnjaTRPES commented on #19586
HI Mukulikaa,

[2021-07-30 07:00] ogrisel commented on #19411
It seems unrelated (not the same CPU part: `0xd05` vs `0xd0c` on Travis CI) however it's true that now the new runs are running with OpenBLAS 0.3.17 while the failed run used: 0.3.17.

[2021-07-30 07:27] ogrisel commented on #19411
The fix was probably released in 0.3.16, from the [changelog](https://github.com/xianyi/OpenBLAS/blob/1b6db3dbba672b4f8af935bd43a1ff6cff4d20b7/Changelog.txt#L56-L58):

  for ThunderX2 and Neoverse N1 that could cause spurious failures in e.g.
  DGEEV

[2021-07-30 13:59] Mukulikaa commented on #19586
Hi @AnjaTRPES, I would love to use your help! I'm curious to know if you referred to any specific resources or used special tricks to learn how to index arrays efficiently. I will make a draft PR outlining the doc soon (to make it easier to collaborate) and I'd appreciate your inputs for best practices there.

[2021-07-30 19:04] maryam-se commented on #14148
I have a same problem import numpy regularly through a virtual environment, but I'm facing an issue when I'm importing pandas through a restful api deployed on an Apache server using mod_wsgi. and I got the same error
how I can increase memory of process ?

[2021-07-31 01:47] Qiyu8 opened #19588 "BUG: Incorrect strides calculation after np.delete."
### Reproducing code example:

[code]

### Error message:
No Error message

### NumPy/Python version information:

1.21.1 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

###  Possible solution
add the array order back to the result.

[2021-07-31 03:26] rkern commented on #19588
In _general_, unless if a function documents that it returns an array of a particular contiguity (usually only if one of the _purposes_ of the function is to ensure a particular contiguity), any contiguity is a valid output.

While `np.delete()` _doesn't_ document that it tries to maintain the F- or C-contiguity of the input array, it _does_ take some pains to do so in the other branches. [In this

[2021-07-31 06:53] Qiyu8 commented on #19588
Thanks for your suggestion. A simple solution would be change [this code](https://github.com/numpy/numpy/blob/2c1a34daa024398cdf9c6e1fbeff52b4eb280551/numpy/lib/function_base.py#L4563) to `new = arr[tuple(slobj)].copy(order=arrorder)`, do you think this is a sensibly way?

[2021-07-31 13:21] LeonardoAlchieri commented on #17777
If someone else has the same problem, this actually solved the issue for me.

[2021-07-31 17:22] mcflugen opened #19589 "malloc error when using np.divide with numpy v1.21"
With *numpy* 1.21 I began to see occasional errors when using *np.divide* (I also tried other *ufuncs* like *np.multiply* and saw the same errors). I believe the error only occurs when using both the *where* and *out* keywords and the *out* array has negative strides. Because the error is intermittent, I could be mistaken but that seems to be the case.

Any help would be appreciated! Thanks!

###

[2021-08-01 12:52] rgommers commented on #18244
gh-18447 made some initial steps, but it seems to have stalled.

That's way too generic a name; even in numpy itself we have other "window functions" like `bartlett`, `hanning`, etc.

[2021-08-01 20:44] abhiabhi94 opened #19591 "Stop distributing tests to reduce package size"
## Feature

As of now, if I install the package from PyPI, the tests too are shipped alongside. I think tests are mostly intended to be run in an editable(development) environment.

#### Currently
[code]
Not including them in the source and wheel distribution will reduce the package size.

Adding a line `prune numpy/tests` to `MANIFEST.in` should probably do the trick. I would be glad to make the

[2021-08-01 21:00] rkern commented on #19591
They are also distributed so people can test their installation. The location of the tests is intentional. The issue could be revisited, but it's no accident.

[2021-08-01 21:01] mattip commented on #19591
Shipping the tests allows end users to verify their installation is correct quickly and easily, without installing anything else. This is as easy as `python -c "import numpy as np;np.test()"` for all users of NumPy, not only for developers. How much space would removing this from the wheel save (hint: since the wheel is a zip file, you can use zip tools to remove the tests)?

[2021-08-01 21:01] mattip commented on #19591
hehe, sorry @rkern for cross-posting

[2021-08-01 21:09] abhiabhi94 commented on #19591
As far as I can see, there are other requirements for the tests to run like `pytest`, and other dependencies stated in [`test_requirements.txt`](https://github.com/numpy/numpy/blob/main/test_requirements.txt). As it is, users will have to manually install all the dependencies to test these.

[code]

[2021-08-01 21:11] rkern commented on #19591
Sure, but it's straightforward to install those. A separate test suite would not be.

[2021-08-01 21:27] abhiabhi94 commented on #19591
Okay, this may just be a silly question, but i am curious as to why would you want to run the entire test suite to verify the installation? Wouldn't something like just doing `import numpy` or something else to get the version be enough to verify that the package is present and can be imported?

[2021-08-01 22:02] ksunden commented on #19591
Note that even uncompressed numpy/tests is only 48 KB

[2021-08-01 22:36] rkern commented on #19591
Largely to test that the linked accelerated BLAS/LAPACK library works okay on your system. That's a complicated component, buildwise, that could fail if it were built wrong for your system (e.g. using advanced SSE instruction sets that aren't on your older CPU).

I don't think there will be any appetite for this from the core devs. The gains are too small relative to the amount of change required.

[2021-08-01 22:36] #19591 closed

[2021-08-02 07:49] ForgottenProgramme commented on #19331
@melissawm , that note you linked is actually quite helpful. :)
I'd like to open a PR to solve this issue.

[2021-08-02 08:27] mgorny opened #19592 "numpy/core/tests/test_numeric.py::TestNonzero::test_nonzero_onedim regression on sparc (misaligned access / bus error)"
Our SPARC arch testers have reported a major regression in numpy on SPARC. The test suite reaches `numpy/core/tests/test_numeric.py::TestNonzero::test_nonzero_onedim` and crashes due to a bus error.

### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:
NumPy 1.7.1, Python 3.9.6.

[code]

[2021-08-02 09:13] eric-wieser commented on #19592
NumPy 1.7.1 is ancient and is far beyond the point where we would consider issuing a bugfix release. Can you check if the issue is still present in a more recent version?

[2021-08-02 09:15] mgorny commented on #19592
I'm sorry for the mistake, I've been reporting bugs to SciPy too and I've pasted the SciPy version instead ;-).

[2021-08-02 10:27] mattip commented on #19592
Do you know what version of gcc they are using?

[2021-08-02 10:46] DerDakon commented on #19592
Downstream bug for reference: https://bugs.gentoo.org/805974

gcc 10.3.0

[2021-08-02 10:51] mattip commented on #19592
FWIW: the architecture: unsupported is for the SIMD optimizations. It should fall back to glibc implementations of the inner loop functions. I assume this is a regression from 1.20.0 ?

[2021-08-02 11:04] DerDakon commented on #19592
The last thing I personally tested before was 1.20.3, and that test did not fail there.

[2021-08-02 11:17] DerDakon commented on #11831
Still happens in 1.20.3 on hppa and sparc. Testing again on 1.21 currently blocked by other segfault.

[2021-08-02 14:24] charris commented on #19592
Possibly #18183?

[2021-08-02 14:58] melissawm commented on #19586
Nice @Mukulikaa - it might be useful to ask in the mailing list as well and see if there are any extra suggestions there.

[2021-08-02 17:20] charris commented on #18949
This problem is fixed in gcc 11.2.1 (fedora 34 update).

[2021-08-02 17:39] adeak commented on #19586
I can instantly think of two different patterns that are hard to figure out on your own, and confusing when you see it for the first time, but fairly easy to understand and learn to use if you've seen them before (and an "indexing howto" might be a potential place for this!).

The first pattern that can confound new users while being a fairly basic use case for broadcasting and fancy indexing is "

[2021-08-02 17:42] jrbourbeau opened #19597 "`np.vectorize` doesn't ignore white space in `signature`"
It looks like the `signature=` keyword argument to `np.vectorize` doesn't ignore white space characters (see the reproducer below). Based on the [description of gufunc signatures](https://numpy.org/doc/stable/reference/c-api/generalized-ufuncs.html?#details-of-signature), I would have expected white space to also be ignored in the `signature=` keyword to `np.vectorize`.

This was originally notice

[2021-08-02 17:46] #18949 closed

[2021-08-02 18:21] seberg commented on #19589
I can reproduce this with valgrind:
[code]
(continues writing 24 bytes beyond, I think. Which also for me seems to end up inside the memory Python memory arena or so.  Although, that should be random and in my case does not crash anything, but I did not try to repeat.)

Something must have gone wrong probably in the masked buffer copy :(.

[2021-08-02 18:25] DerDakon commented on #19592
The things that cast the char* to u(16|32|64) for the tail loop look indeed suspicious.

[2021-08-02 20:14] mcflugen commented on #19589
@seberg It looks like you have this fixed in #19600. Thanks so much for getting to this so quickly!

Do you have an idea how long it might be for a new release with the fix? I have workarounds, so it's not super urgent for me—don't mean to be pushy, just wondering.

[2021-08-02 20:50] seberg commented on #19589
Thanks for the good report with a nice minimal reproducer. I am not sure exactly, but at the very most a few weeks, probably faster if this (or that SPARC issue that is also found just now) is painful.

[2021-08-02 21:21] #19589 closed

[2021-08-02 21:53] seberg commented on #19592
The new code should probably just not trigger for unaligned arrays.  Which was not a problem when the fast-path was limited to booleans, since they are always aligned.

[2021-08-02 22:23] vks commented on #9829
I think the biggest problem is that small `a` are very likely to result in an infinite `X`, which is always rejected. Returning `RAND_INT_MAX` instead would fix this issue at the cost of introducing a bias.

[2021-08-02 22:44] charris commented on #9829
Yes.  I note that other versions allow setting the maximum via an argument, which is probably the best way to do it.

[2021-08-03 07:49] rossbar commented on #19586
@Mukulikaa your suggested list of topics in the OP seems like a great start for a how-to. Keep in mind that the document doesn't have to be completely comprehensive, so I would recommend not to worry about getting *all* of the bullets in the first version of the document. I think this will be a very nice addition to the docs!

[2021-08-03 08:27] tbenst commented on #18784
@charris actually pickle4 was added in Python 3.4: https://docs.python.org/3/library/pickle.html

Perhaps is makes sense to reopen this issue & do the bump considering that numpy only supports versions of Python that have pickle4?

[2021-08-03 09:38] mattip opened #19603 "TST: cygwin git is flaky"
[CI is failing](https://github.com/numpy/numpy/pull/19593/checks?check_run_id=3228399509) with
[code]

@DWesl any ideas?

[2021-08-03 11:08] rossbar opened #19604 "MAINT: Wrong exception type raised when `fname` input to `loadtxt` has incorrect type"
If a user passes in an argument for `fname` that is of the wrong type, a `ValueError` is raised instead of a `TypeError`:

[code]

In principle, this should be a `TypeError`. This is a very minor issue though, so it might be best to just mark `wontfix` and close. Only opening here so that this issue doesn't prevent progress on #19593 .

Arguments in favor of changing:
 - technical correctness
 - C

[2021-08-03 12:36] charris commented on #18784
@tbenst You could propose that on the mailing list. We will probably keep Python  3.7 for the 1.22 release but it is a close run thing.

[2021-08-03 13:16] DWesl commented on #19603
It doesn't include the shared library it can't find, so I can't backtrack from there.  My installation doesn't show any missing dependencies.

There are a few recent updates to cygwin packages (in [July](https://cygwin.com/pipermail/cygwin-announce/2021-July/date.html) or [August](https://cygwin.com/pipermail/cygwin-announce/2021-August/date.html)), but none of them seem to be relevant.  I can run

[2021-08-03 14:53] Mukulikaa commented on #19586
Hey @adeak, thanks for your helpful inputs!

And, @rossbar - will definitely keep your point in mind 🙂

[2021-08-03 16:38] DWesl commented on #19603
From experimentation [here](https://github.com/DWesl/setup-cygwin-ci/pull/1/checks), it appears that the recent libidn upgrade obsoleted a package it should not have (effectively replacing `cygidn-11.dll` with `cygidn-12.dll`, or, in Linux terms, `libidn.so.11` with `libidn.so.12`).  Manually creating a link from the file needed to the file present doesn't work (that tends to be why the package st

[2021-08-03 17:22] mattip commented on #19603
Cool, thanks for checking

[2021-08-03 17:24] mattip commented on #19603
It seems the update works and [the CI run](https://github.com/numpy/numpy/runs/3130963678) is now successful. Closing.

[2021-08-03 17:24] #19603 closed

[2021-08-03 18:35] Mukulikaa opened #19606 "DOC,DISCUSS: Reorganizing documentation development and contribution docs"
We have multiple documents for documentation development- [How to contribute to the NumPy documentation](https://numpy.org/devdocs/dev/howto-docs.html), [NumPy’s Documentation](https://numpy.org/devdocs/docs/index.html), [Documentation conventions](https://numpy.org/devdocs/doc_conventions.html). This issue is to discuss ways to merge these documents if possible and figure out where they should li

[2021-08-03 21:07] asmeurer commented on #19574
PR up at https://github.com/numpy/numpy/pull/19607

[2021-08-03 22:00] zoj613 commented on #14147
So, which 1.17.* version is this flag automatically set so 1.17.* build can be platform independent? I am having trouble building numpy 1.17.0 on 3.8 and 3.9 for CI jobs.

[2021-08-03 22:16] sashkab commented on #14147
@zoj613 did you try my [suggestion](https://github.com/numpy/numpy/issues/14147#issuecomment-516897784) above with python 3.8? It worked for me for both 1.16.x and 1.17.x on RHEL/Centos 7.

[2021-08-03 22:20] charris commented on #14147
@zoj613   It isn't automatically set in any 1.17 version, you need 1.18.0+ for that.

[2021-08-03 22:24] zoj613 commented on #14147
Ah, Okay. @sashkab 's suggestion seems to work fine on 1.17.3

[2021-08-03 23:33] charris commented on #19574
I don't know if that was ever decided on, it just happens for NaN because all comparisons are false except `nan != nan` and  NaT copies that. Ufuncs also do that when comparing array elements. AFAICT, `PyArray_CompareFunc` is only available from C and used for sorting objects and user types.

[2021-08-03 23:58] #19574 closed

[2021-08-04 00:03] Esfo opened #19611 "Negated booleans return negative numbers for cumulative sums"
### Reproducing code example:

[code]

Seemed odd in general, but also because the negated values start accumulating at -1 instead of 0. It's counting False values as -1.

 I couldn't find anything that directly describes this behavior being present. Wasn't sure if this was intended or not.

Using 1.20.3

[2021-08-04 00:13] rkern commented on #19611
`~bools.cumsum()` is evaluated by Python as `~(bools.cumsum())`. That is, the cumulative sum is done first, which returns an `int` array, on which `~` is a bitwise operation, not a boolean one. Signed integers are implemented with the so-called [two's complement](https://en.wikipedia.org/wiki/Two%27s_complement) representation, so `~` shows up as the negatives of the positive inputs, but off by on

[2021-08-04 00:13] #19611 closed

[2021-08-04 04:26] anmolschauhan commented on #19574
Thanks for the fix @asmeurer !

[2021-08-04 06:45] ankitdwivedi23 commented on #19597
Hi! Can I work on this issue?

[2021-08-04 11:25] rossbar commented on #19606
**tl;dr - my opinions ordered by strength of opinion:**
 1. Remove the entire [documentation conventions page](https://numpy.org/devdocs/doc_conventions.html)
 2. Move the [User documentation section](https://numpy.org/devdocs/docs/howto_document.html#user-documentation) from the user guide to the [contributor guide](https://numpy.org/devdocs/dev/howto-docs.html)
 3. Remove the entire [Guide to Nu

[2021-08-04 12:27] rossbar commented on #18060
I agree with @eric-wieser here, especially since the hex float repr isn't valid Python syntax: as pointed out above, this is not something that is works with `np.array` either.

[2021-08-04 12:27] #18060 closed

[2021-08-04 16:29] jrbourbeau commented on #19597
Yes, please feel free to! You don't need to ask for permission to work on an issue

[2021-08-05 03:26] mesrp88 commented on #14860
when file name in random.py you will face this issue.. today I faced the same issue.

[2021-08-05 04:24] ChineseBest opened #19614 "Ingest of scanpy cannot work because of problems in numpy in colab platform"
Sorry to disturb, but it seems that the ingest method in scanpy meets some problems caused by pynndescent and numba. Here are the details:
KeyError Traceback (most recent call last)
/usr/local/lib/python3.7/dist-packages/numba/core/caching.py in save(self, key, data)
486 # If key already exists, we will overwrite the file
--> 487 data_name = overloads[key]
488 except KeyError:

KeyError: ((array(i

[2021-08-05 04:25] ChineseBest commented on #19614
For more details, please take a look at:
https://github.com/lmcinnes/pynndescent/issues/133

[2021-08-05 05:12] rkern commented on #19614
It doesn't look like this has anything to do with numpy. Did you mean to post this to the `numba` repo?

[2021-08-05 05:12] #19614 closed

[2021-08-05 13:01] caniko commented on #9992
Why are we still using a mailing list? Aren't there better ways to communicate? Jira, YouTrack, etc...

[2021-08-05 13:04] eric-wieser commented on #9992
Python as a language still uses mailing lists, so it seems sensible for numpy to follow suit. It would be nice if we could provide a web interface to the mailing list like https://mail.python.org/archives/list/python-ideas@python.org/ does.

[2021-08-05 15:39] Mukulikaa commented on #19606
I agree that we could remove the Documentation conventions page since most of it is already covered in other parts of the documentation. If required we could add the line

to the [Reading the example code](https://numpy.org/devdocs/user/absolute_beginners.html#reading-the-example-code) section.

I like this idea too; I think it makes sense.

I was also wondering if we should move the [Building the

[2021-08-05 16:04] rossbar commented on #19606
Good point, this makes sense to me as well, and is nice because it the results in all of these documents being removed from the user guide (where their fit is questionable). I'd be +1 for this change.

[2021-08-05 16:17] limburgher opened #19617 "runtests.py fails, missing .coveragerc"
.coveragerc is present in git but not release tarballs.

[2021-08-05 16:29] charris commented on #19617
Is it needed? It is only used for CI testing.

[2021-08-05 16:34] limburgher commented on #19617
If we want to run the testsuite in the Fedora RPM build, yes. Unless runtests.py can be patched to skip it if not present.

[2021-08-05 16:37] charris commented on #19617
If you are interested, you could make a PR adding it to `MANIFEST.in`.

[2021-08-05 16:42] limburgher commented on #19617
I will, thanks!

[2021-08-05 19:01] neurolabusc commented on #17989
@Developer-Ecosystem-Engineering numpy is a tremendously useful and popular tool.  Extending ARM support for universal intrinsics could have a profound impact.

[2021-08-05 21:37] isabela-pf commented on #18419
Hey there @MarsBarLee! I know this is a delayed comment, but I've been thinking a little about this since you brought it up at the last NumPy docs meeting.

Most of this makes sense to me. My only note is that I find it confusing when the same image is used for different guides (even though they are on different pages). The only one I noticed was that "Getting Started" on the landing page and "Abs

[2021-08-06 03:58] roboserg commented on #18376
Like this?

[code]

[2021-08-06 07:13] #19309 closed

[2021-08-06 16:20] yashasvimisra2798 commented on #18506
I did like to work on this can somebody guide me on this?

[2021-08-06 16:50] yashasvimisra2798 commented on #12204
What needs to be done here exactly?

[2021-08-06 17:40] anntzer opened #19623 "genfromtxt fails when a non-contiguous dtype is requested"
### Reproducing code example:

[code]

### Error message:

[code]

This occurs because genfromtxt handles dtypes by first "flattening" them (lifting nested fields to the toplevel, but also throwing away alignment info), constructing an array with that flattened dtype, and then `.view()`ing it with the original dtype; it is that last step that fails as the view cannot be done as the memory layout c

[2021-08-06 19:13] veprbl opened #19624 "distutils/ccompiler_opt.py: Werror is silently disabled"
The compiler options are specified as three settings
https://github.com/numpy/numpy/blob/261a769dd135c1e4007a6d0bdbed68a8c929497a/numpy/distutils/ccompiler_opt.py#L193-L197

Those string values are then parsed
https://github.com/numpy/numpy/blob/261a769dd135c1e4007a6d0bdbed68a8c929497a/numpy/distutils/ccompiler_opt.py#L985-L998

with the sneaky self.cc_test_flags check that removes flags that comp

[2021-08-06 19:27] mcara opened #19625 "Surprising error when setting dtype"
My apologies if this was already reported or if the bug is in our code but I am getting unexpected (no deprecation warning was issued in previous `numpy` releases) error when running [`drizzlepac`](https://github.com/spacetelescope/drizzlepac). This error or warning was not present in `numpy 1.21.0`.

### Reproducing code example:

First, create a new Python 3.8 environment and install:

[code]

A

[2021-08-06 19:48] seberg commented on #19625
Grrr :(.  This is indeed supposed to be a warning and not an error.

That said, the warning should be valid and you should probably check `bitfield.dtype` actually is.  It must be either something weird, or it is a datetime, or – fairly likely – a byte-swapped dtype.  The last would be OK and more or less fixable right now using `bitfield.dtype.type`  (admittedly, that is theoretically not perfect

[2021-08-06 20:13] mcara commented on #19625
@seberg Thank you! Upon further inspection of the `dtype`, real data is indeed a big-endian: `'>i2'`.
[code]
indeed raises the same exception.

[2021-08-06 20:18] seberg commented on #19625
Thanks for the report and checking.

Since in the code where it fails, `mask` is boolean anyway, I suspect you could just cast to bool rather than `bitfield.dtype` to begin with (I have not quite thought it through)?  To keep it simple and avoid this subtlety (independent from the fact that we have to turn this into a warning in NumPy).

[2021-08-06 22:07] mcara commented on #19625
I am sorry, I am not sure I follow your suggestion. Could you, please, illustrate the idea? (Or make a PR)

The code is designed to create a boolean mask (or integer type with 1s and 0s) based on specific bits being turned on in the input data quality array values.

It has been quite some time since I wrote this code and I truly hope there was a good reason for doing things the way I did them, but

[2021-08-06 22:23] seberg commented on #19625
Sorry, I misread/misunderstood the code...  The `bitfield.dtype.type` workaround is probably the only good option and since you check for `np.integer` already, seems just as well.

The only other solution that might be reasonable is casting `ignore_mask` ahead of time (and do the thing in-place).

[2021-08-07 09:21] Jimut123 opened #19626 "Colour intensity is changing when stacking numpy image arrays"
I am loading an image from [here](https://github.com/Jimut123/simply_junk/blob/main/image.nii.gz?raw=true), which is saved as .nii.gz. The image opens fine (with a dimension of (497x497)), and when displayed using matplotlib, it shows with correct intensities, as shown below:

[![kidney image 1][1]][1]

When we are trying to make it a 3 channel image, by stacking the numpy array, and after plottin

[2021-08-07 09:51] ankitdwivedi23 commented on #19597
I have attempted to fix this issue in this [pull request](https://github.com/numpy/numpy/pull/19627). Would really appreciate any comments or suggestions.

[2021-08-07 10:11] #19626 closed

[2021-08-07 10:11] rossbar commented on #19626
For future reference, the numpy issue tracker is typically for bugs and feature requests in numpy itself and is not really the appropriate forum for a general question like this.

The behavior you are seeing is not a result of a bug in numpy or matplotlib, but a general problem in color mapping. Fortunately, one of the [numpy tutorials has a brief section on rgb<->grayscale mapping](https://numpy.

[2021-08-07 10:15] eric-wieser commented on #19626
In this particular case, `cmap="gray"` means "make the highest value white and the lowest black", whereas the version without it means "use the values as pixel colors".

But indeed, this is not a numpy question at all, but a matplotlib one.

[2021-08-08 05:38] mattip commented on #18506
The question needs an answer. @yashasvimisra2798 what have you tried in order to track down an answer and add it to the documentation? Maybe the current documentation for dot already has an answer. Maybe matmul could provide a clue.

[2021-08-08 17:57] yellowBunnyy opened #19629 "Mistake in discription"
https://github.com/numpy/numpy/blob/b235f9e701e14ed6f6f6dcba885f7986a833743f/numpy/core/fromnumeric.py#L1067
`x = np.array([3, 1, 2])
np.argsort(x)
array([1, 2, 0])`

should be:

`x = np.array([3, 1, 2])
np.argsort(x)
array([1, 2, 3])`

[2021-08-08 23:40] seberg commented on #19629
No, its correct this is argsort, not sort.

[2021-08-08 23:40] #19629 closed

[2021-08-09 00:33] fredwbaker commented on #18926
@seiko2plus Would you be interested in a partner on this one? It would be my first contribution, but I have extensive writing experience, so I think we could make short work of it.  Would need some initial guidance and feedback on what I produced.

[2021-08-09 03:32] eedalong commented on #18124
+1

[2021-08-09 07:50] hrnciar opened #19630 "Python 3.10 manylinux wheels"
Hello.

Could you please release CPython 3.10 manylinux wheels on PyPI?

Python 3.10.0 release candidate 1 was released this week: https://www.python.org/downloads/release/python-3100rc1/

It should be quite safe to release wheels for release candidate. ABI for Python 3.10 should be frozen from now on, even for bugfixes. From release notes:

Thank You.

[2021-08-09 08:55] eric-wieser opened #19631 "can_cast behaves oddly on unusual datetime units"
### Reproducing code example:
I would expect these two to give the same result, since 1000ns = 1us:
[code]

### NumPy/Python version information:

* 1.19.4
* 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:37:50) [MSC v.1916 64 bit (AMD64)]

[2021-08-09 18:28] effigies opened #19634 "ValueError becomes SystemError for in-place exponentiation (nightly build)"
### Reproducing code example:

This issue is breaking tests where we expect to throw `ValueError`s and are now getting `SystemError`s.

[code]

### Error message:

With numpy 1.21.1:

[code]

With nightly build `'1.22.0.dev0+679.g261a769dd'`:

[code]

Full IPython traceback:

[code]

### NumPy/Python version information:

[code]

[2021-08-09 18:47] seberg commented on #19634
Thanks for the report.  I had not realized we had manual error setting in any ufunc that doesn't already use the Python API/work with Python objects...

A bit annoying: the only very straight forward fix right now is to always check for errors again.  But, the proper thing would be to rewrite the power loop(s) as a new-style loop, but that may be a bit more involved, since it would be a first.

[2021-08-09 23:27] seiko2plus commented on #18926
@fredwbaker, Everyone including you of course are absolutely welcome to join in. I initiated a pull request #19581, if you wouldn't mind we can work on it together.

Main topics that should be covered:

- How to use the CPU/build options. Suppose to guide the HPC users, repos maintainers, and package managers.
- The API of the CPU dispatcher. A set of macros are used in the dispatching process. Su

[2021-08-10 00:47] asmeurer commented on #19484
What do you mean by "flip the sign"? `-x` flips a negative to a positive and vice versa, including for 0. There are the functions [copysign](https://numpy.org/doc/stable/reference/generated/numpy.copysign.html) and [signbit](https://numpy.org/doc/stable/reference/generated/numpy.signbit.html), which can be used to more directly manipulate negative 0.

[2021-08-10 02:01] tylerjereddy commented on #19630
Matching issue in SciPy is cross-linked above--I'll keep an eye on what Chuck/the NumPy team decides to do.

[2021-08-10 02:07] charris commented on #19630
To build wheels for 3.10 currently requires that it be available in manylinux2014 (linux), and azure (windows and mac). Last time it was about three weeks after 1.9 was released before we could build the wheels.

[2021-08-10 02:10] charris commented on #19630
Note that rc1 did break a couple of NumPy tests.

[2021-08-10 02:18] charris commented on #19630
Checking manylinux2014, likely the first out the door, they currently support 3.10.0b2. I imagine that will be updated in the next few weeks, maybe when rc2 comes out.

[2021-08-10 02:28] charris commented on #19630
Hmm, it does look like manylinux2014 does support rc1.

ABI is now stable: https://www.python.org/downloads/release/python-3100rc1/

There was no PR for that, it must have just been pushed. I think we can release linux wheels for that.

[2021-08-10 03:16] gpotter2 commented on #19017
I have the same issue with master, just a different function. Tried with 1.21.0 but the issue is similar, I had to use 1.19.5. Not sure how you managed to have it working ax3l ^^'

The setup is the same, except I'm using gcc/7.4.0.

[code]

<details>

<summary>Full error logs</summary>

[code]

</details>

[2021-08-10 04:12] charris commented on #19484
@oscarbenjamin Why do you want to flip the sign?

[2021-08-10 04:51] charris commented on #19630
I can build manylinux2014 Python3.10.0rc1 wheels, but they can't be tested until 3.10 is added to the testing docker images. @matthew-brett @mattip Who does that?

[2021-08-10 05:21] seiko2plus commented on #19537
Sorry for the delayed response, Almost correct except for `lxvp/stxvp`, they are supposed to be used with MMA paired arguments and I don't see any other usage for them.

Along with MMA, VSX4 came with new instructions that support integer mod&division, 64-bit multiply high/low, blend, mask manipulation and extract low/high.

Supporting VSX4 not going to be that hard, except for the MMA part. I can

[2021-08-10 05:26] mattip commented on #19630
Me. The repo is https://github.com/multi-build/docker-images, I will update it.

[2021-08-10 05:31] seiko2plus commented on #19017
@gpotter2, It seems the issue still remains on the old version of gcc-7, as I remember the test passed on GCC 7.5. please could you apply the following patch:
[code]

[2021-08-10 06:25] mattip commented on #19630
I updated the docker images. The version available via `apt get` after adding the deadsnake apt repo is
[code]

I hope that is recent enough? Note these are xenial images, but xenial is EOL. I guess I should update the whole thing to focal (20.04)

[2021-08-10 07:16] hrnciar commented on #19630
This seems quite outdated, the latest released version is `Python 3.10.0rc1`.

[2021-08-10 08:39] mattip commented on #19630
The 3.10rc1 is available in the focal images. But now a new problem: ubuntu has dropped 32-bit i686. How much longer will we ship wheels for that platform?

[2021-08-10 08:54] hroncok commented on #19630
Honestly, I would not bother shipping 32-bit i686 wheels for recent Python versions. Ubuntu has dropped it, so did Fedora...

[2021-08-10 12:49] gpotter2 commented on #19017
@seiko2plus That worked ! Thanks

[2021-08-10 12:51] kk-hiraskar commented on #13248
Still we need to this manual work around :-(

[2021-08-10 13:07] oscarbenjamin commented on #19484
There is an inconsistency here when using SymPy's `lambdify` function:
[code]
Generally `lambdify` is supposed to return a function that evaluates to the same value represented by the sympy expression. The code generated by `lambdify` internally is:
[code]
I'm wondering whether something could be added to that code so that `lambdify` could give the expected result for floating point inputs. It loo

[2021-08-10 13:35] melissawm commented on #2459
I cannot reproduce this on NumPy 1.22 - I can wrap the function

[code]

saving it on `vector.f90` and using `f2py -c -m mymod vector.f90`, I do

[code]
correctly obtaining `array([ 2,  8, 18, 32, 50])`. I'm closing this as outdated - please reopen if necessary.

[2021-08-10 13:35] #2459 closed

[2021-08-10 13:44] charris commented on #19630
@mattip, I'm trying to recall why we use different images for building and testing, something to do with versions?

[2021-08-10 13:48] charris commented on #19630
New error: `undefined symbol: _PyGen_Send`

[2021-08-10 13:59] rkern commented on #19484
There might be room for an `ensure_positive_zeros()` function for such cases. Whether or not sympy will want to use it unconditionally in `lambdify()` to take care of these edge cases is up to sympy. But it can be written to work with scalars, too. I would leave it up to sympy, though.

[2021-08-10 14:20] fredwbaker commented on #18926
@seiko2plus Thanks! I would love to work on this with you. I will send you an email so we can coordinate.

Much appreciated!

[2021-08-10 14:32] jlmeunier opened #19636 "set_printoptions fails when provided with ouput of get_printoptions"
### Reproducing code example:

[code]
### Error message:

[code]
### NumPy/Python version information:

1.21.1 3.9.4 (default, Apr  7 2021, 12:46:00)
[GCC 9.3.1 20200408 (Red Hat 9.3.1-2)]

[2021-08-10 14:52] eric-wieser commented on #19636
You should use `np.set_printoptions(**o)` not `np.set_printoptions(o)`.

Would you like to contribute an example to the documentation for `get_printoptions`?

[2021-08-10 14:56] AndrewC19 opened #19637 "np.random.dirichlet returns np.nan for small alpha"
For small values of alpha, `np.random.dirichlet` returns `np.nan` without any warning. For some small values such as `1e-4`, `np.random.dirichlet` sometimes returns `np.nan` and sometimes returns a sample such as `[1.0, 0.0, 0.0, 0.0]`.

I am using the dirichlet distribution to create a skewed a probability list which is later used with `np.random.choice`. Therefore, if the output of `np.random.di

[2021-08-10 14:59] charris commented on #19630
@mattip The 64 bit wheels on Intel now work, but we need `multibuild/focal_arm64v8` for ARM64.

[2021-08-10 17:23] oscarbenjamin commented on #19484
An expression form for the operation is:
[code]
Perhaps something more efficient is possible: this function takes half as long as `np.arctan2` so using it here would give a 50% slowdown.

I wonder how many other cases there are where this would come up though and I'm unsure about how much of a performance impact it would have.

[2021-08-10 17:28] seberg commented on #16325
@rgommers we can also use https://discuss.scientific-python.org/ as Stéfan pointed out.  That would not be as focused on array-libs, but that may be just as well/better since there are abound to be many interested e.g. in NumPy API and sklearn API...

The big advantage of all of this is that all the tagging in the world on github doesn't really help much: It is hard to get notifications for specif

[2021-08-10 17:29] charris commented on #19630
The Python 3.10 wheels for Intel 64 bit linux should be available from the nightly builds in an hour or so.  You can install them like so:
[code]

[2021-08-10 18:49] melissawm commented on #8730
Confirming - I cannot reproduce on `main` and the parsing of array parameters should be fixed by #15457

[2021-08-10 20:03] melissawm commented on #1733
Is this issue still relevant? If so, can anyone give it a more complete description so the next steps are clearer? Thanks!

[2021-08-10 20:08] melissawm commented on #1599
Can't reproduce this anymore - can this be closed?

[code]

[2021-08-10 20:16] seberg commented on #1599
Yes, thanks for the note! It was fixed with gh-19228 returning NotImplemented rather than raising.

[2021-08-10 20:16] #1599 closed

[2021-08-10 20:17] seberg commented on #1599
To be clear: The discussions about bad hashing, etc. are all still valid, but I do think we have more issues open about that.

[2021-08-10 20:48] BartMassey commented on #16325
The discussion of meta-process for this project has been fascinating. That said, we still would like a `popcount()` function. What's the minimum-friction way to get one in as quickly as reasonably possible?

[2021-08-10 21:00] #19630 closed

[2021-08-10 23:00] #18993 closed

[2021-08-10 23:24] hroncok commented on #19630
I am not sure why this was closed. No 3.10 manylinux wheels are available on PyPI.

[2021-08-10 23:30] charris commented on #19630
@hroncok Because we aren't making an official release with 3.10 wheels until 3.10 is released. The wheel is for testing, in particular for downstream projects who test against the prereleases.

[2021-08-10 23:36] hroncok commented on #19630
I don't understand why not. Could you please explain this? I think that having the wheels on PyPI before the final Python 3.10 release (instead of introducing an arbitrary delay after is is released) is beneficial to everybody. Note that:

 1. The ABI is locked now. No ABI changes will happen before the final release. There is no reason to wait.
 2. Even if the above promise ends up broken, wheels

[2021-08-10 23:37] hroncok commented on #19630
Note that the users will not know about pypi.anaconda.org/scipy-wheels-nightly, they will run `pip install numpy` instead.

[2021-08-10 23:38] hroncok commented on #19630
Clarification: I understand the intention to release the wheels for testing first. However let's not close this issue until the wheels are (tested and) released on PyPI?

[2021-08-10 23:47] davidhewitt commented on #19532
FYI I think we're seeing this (or a variant of it) on Linux, where running `np.linalg.inv` inside a Rust thread other than the main thread causes things to explode unless `OPENBLAS_NUM_THREADS=1`. https://github.com/PyO3/pyo3/issues/1774

[2021-08-10 23:48] hroncok commented on #19630
One more thing that come to my mind after I posted this: Other projects that would like to release their 3.10 wheels [are waiting for this](https://github.com/matplotlib/matplotlib/pull/20819). Waiting after the final release of Python 3.10 only makes the delay chained. The time window between the rc1 and final is exactly the time to figure all this out, so users can enjoy 100% pain-free experienc

[2021-08-10 23:50] davidhewitt commented on #19532
(On that issue is a fairly reliable minimal repro that I can get to segfault every time - might be useful for you folks if you're struggling to get a core dump.)

[2021-08-11 01:52] mwtoews opened #19641 "Feature: avoid unexpected format conversion"
By example, the issue is that NumPy scalars are formatted to strings differently:
[code]
The unexpected outcome is because the 32-bit float value is converted to native Python double precision, and then formatted as a string type. The last three examples with expected outputs use a [format conversion field](https://docs.python.org/3/library/string.html#format-string-syntax), which call (e.g.) `__r

[2021-08-11 02:33] mwtoews commented on #19641
Duplicate of #10645

[2021-08-11 02:33] #19641 closed

[2021-08-11 03:17] seiko2plus commented on #19624
Thank you for the detailed and informative report. Escaping `-Werror` is completely normal since if this wouldn't happen it will lead to fail all other tests. #19642 should fix this issue, could you please verfiy it?

[2021-08-11 03:50] seiko2plus opened #19643 "BUG: build fails with gcc7.4 on ppc64le (VSX logical intrinsics)"
#### Build fails with gcc7 on ppc64le

This bug has been discovered by @gpotter2, the original comment https://github.com/numpy/numpy/issues/19017#issuecomment-895696650.

### Reproducing code example:

[code]

### Error message:
<details>
<summary>build log</summary>

[code]
</details>

### NumPy/Python version information:

    NumPy => 1.21
    Operating System / Platform => ppc64le GNU/Linux

[2021-08-11 03:59] ax3l commented on #19017
@gpotter2 thanks for the report and thanks @seiko2plus for the patch and triage!

I tested only with GCC 6.4 on Summit, for which the patch was already applied. Seems GCC 7 is also affected.

[2021-08-11 04:13] mattip commented on #19532
@davidhewitt what version of NumPy are you using? As per the [comment above](https://github.com/numpy/numpy/issues/19532#issuecomment-884731943) does OpenBLAS add any more information about the version or kernel in play if you add `export OPENBLAS_VERBOSE=1`?

[2021-08-11 04:20] mattip commented on #16325
It will be available when #19355 is merged.

[2021-08-11 04:36] mattip commented on #19630
It [is now available](https://hub.docker.com/r/multibuild/focal_arm64v8).

[2021-08-11 05:28] hilahersz opened #19644 "np.corrcoef rounding issue - e-16"
### Reproducing code example:

[code]

### Error message:
This is a mathematical error. While dimensions locations should not effect the corrcoef calculations, the method rewards later dimensions with highest corrcoef score

### NumPy/Python version information:

1.21.1 3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

### Note:
We could add to the documentation that currently states:
    Du

[2021-08-11 06:51] jlmeunier commented on #19636
oups!
so sorry to have bothered you with this!
Since my code was ok in previous version of numpy (how possible BTW??) I did not think to check the doc.
I would be happy to contribute, but the doc is crystal clear, I must say.
Thank you for the work and sorry again.

[2021-08-11 06:51] #19636 closed

[2021-08-11 08:49] BartMassey commented on #16325
Thanks much!

[2021-08-11 17:13] axil opened #19647 "einsum 6 times slower than matmul"
### Reproducing code example:

[code]

### NumPy/Python version information:

1.21.1 3.7.7 (tags/v3.7.7:d7c567b08f, Mar 10 2020, 10:41:24) [MSC v.1900 64 bit (AMD64)]

[2021-08-11 18:46] brettcannon commented on #19630
As  CPython core dev I would say having projects have the ability to get a 3.10 wheel built for testing during the RC at least -- if not the betas -- would be beneficial to both Python itself and the general community as having dependencies that one can't get built locally means everyone ends up postponing supporting new Python releases for months as dependencies trickle out support.

[2021-08-11 19:09] henryiii opened #19649 "types: missing type information for several common functions"
While there have been improvements to the static types, including a few functions being added, (at least) the following functions now are completely missing types:

* `np.frombuffer`
* `np.histogram2d`
* `np.histogramdd`
* `np.broadcast_arrays`
* `np.meshgrid`
* `np.array_split`

Also these, but I think there's a reason for these:

* `np.min` (should use `np.amin`)
* `np.max` (should use `np.amax`

[2021-08-11 19:10] dgasmith commented on #19647
The operation as written cannot be reformulated to a single BLAS call. `np.einsum` currently doesn't consider looping over a index and calling BLAS as `np.matmul` does. This is detectable, but comes with a larger parsing overhead which was previous undesirable.

[2021-08-11 21:39] charris commented on #19649
What mypy version are you using?

[2021-08-11 21:41] henryiii commented on #19649
0.910

[2021-08-11 21:43] charris commented on #19617
Closed by #19619.

[2021-08-11 21:43] #19617 closed

[2021-08-11 23:49] BvB93 commented on #19649
Per the error message: mypy is not complaining about an undefined function, it's complaining about a function whose arguments are unannotated. The relevant mypy flag, [`disallow-untyped-calls`](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-disallow-untyped-calls), is disabled by default; I'd recommend to keep it that way as it demands a level of type coverage that partiall

[2021-08-12 00:50] BvB93 opened #19653 "BUG: `runtest.py` fails with a `KeyError`"
Since the merging of https://github.com/numpy/numpy/pull/19628 the `python ./runtest.py` fails with a `KeyError`.

Based on the traceback it seems that `sysconfig.get_path('platlib', expand=False)` returns an incorrect formattable string.

### Error message:
[code]

And the content of the offending `site_dir_template` formattable string:

[code]
### NumPy/Python version information:
1.22.0.dev0+69

[2021-08-12 02:41] henryiii commented on #19649
Yes, I thought this was a regression, but it appears it's actually slightly better that before but still partially typed. What is the process for adding types? Is someone adding them in batches, or is it something what would help out if I were to open a PR for the functions I'm interested in? And are the types always in `.pyi` files (looking at the missing `pyi` for `multiarray.py`)?

[2021-08-12 05:32] mattip commented on #19653
I wonder how it passed CI.

[2021-08-12 05:40] mattip commented on #19647
Thanks for taking a look.

[2021-08-12 06:14] mattip commented on #19630
@brettcannon could you comment on the policy not to release wheels on PyPI rather to make wheels available through a secondary index, in this case `pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple numpy` ? What would the PyPA consider as best practice and when should wheels appear on PyPI for a new python version? How should those wheels be labelled to indicate they may not be

[2021-08-12 07:54] #19606 closed

[2021-08-12 08:01] hilahersz commented on #19644
Dear @melissawm,
Thank you for clarifying this.
Proximity is indeed the proper way to go in that case and covers my issue.

Sorry for the hassle.

[2021-08-12 08:01] #19644 closed

[2021-08-12 11:06] dgasmith commented on #19647
Happy to update einsum if we want to pay the cost of discovery. Optimize is in a slightly difficult spot since we tuned the performance to always be on, but then needed to turn it off due to several very small array but popular use cases.

[2021-08-12 11:27] axil commented on #19647
I would appreciate it. Both pytorch and tensorflow have optimized this use case. Maybe looking at the corresponding sources might be useful.

[2021-08-12 12:19] #16924 closed

[2021-08-12 14:02] hdkire opened #19655 "Multiple NaN from np.unique with masked arrays"
The new behavior of np.unique seems inconsistent with masked arrays.
Release notes for 1.2.1 https://numpy.org/devdocs/release/1.21.0-notes.html#np-unique-now-returns-single-nan

### Reproducing code example:

[code]

### NumPy/Python version information:

1.21.0 3.9.5 (default, May 11 2021, 08:20:37)
[GCC 10.3.0]

[2021-08-12 14:19] hdkire commented on #19655
[code]

[2021-08-12 14:28] #19653 closed

[2021-08-12 17:57] bzah commented on #10736
Hello, I read the thread #10736 and #7875 and also had a look at the numpy current implementation and the paper of hyndman&fan.
I don't really understand why it is said that numpy implement the method 7 or an equivalent of it.
The method 7 is described as follow:

But, as far as I understand the numpy code, it does not look like method 7.
Here is a simplified version of the methods involved in the

[2021-08-12 18:27] BvB93 commented on #19649
If you want an up date overview of the current typing progress I'd recommend to keep an eye on https://github.com/numpy/numpy/issues/16546 and this is also a good starting point for if anyone is interested in contributing. The hope is to wrap up introducing some (basic?) annotations for the entire library for the 1.22 release, which I think is very much feasible at the current pace.

Yes, the type

[2021-08-12 19:20] seberg commented on #10736
Since this has not moved for years in big parts due to lack of clear input from someone who can give some clear opinions, lets try pinging the right person ;).

@robjhyndman sorry if you do not have time the time/interest for input, but maybe you can help us unstick the NumPy `quantile` API problem?

The problem NumPy's `quantile` implementation has, is that:
* We always use a method that assumes

[2021-08-12 20:23] nicholaiTukanov commented on #19537
These instructions can be used generally to load and store 256 bits of data. They are not restricted to MMA.

I have extended ccompiler_opt.py, npy_cpu_features.c.src, and npy_cpu_features.h to add support for VSX4. I then install numpy using setup.py, and I get the following at the end of the install process:

[code]

I assume that since I see VSX4 in CPU dispatch, then NumPy will use the VSX4 sp

[2021-08-12 20:26] nicholaiTukanov commented on #19537
Also, assuming that NumPy can detect VSX4 and compile with the right flags, where do I add the new VSX4 instructions?

[2021-08-12 20:28] veprbl commented on #19624
@seiko2plus The fix appears to work, thanks!

[2021-08-12 21:12] brettcannon commented on #19630
@mattip no official PyPA position, but https://snarky.ca/what-to-do-when-you-botch-a-release-on-pypi/ outlines what you can do using wheel build numbers.

[2021-08-12 22:48] #19625 closed

[2021-08-12 23:47] robjhyndman commented on #10736
This is a little ironic because the 1996 paper I wrote with Fan was intended to describe all the methods in use by software at the time and to encourage everyone to standardize on one method (8). Instead, the effect of the paper has been for software to add all the methods they are missing -- and now NumPy has some ones that didn't exist back in 1996!

I coauthored the `quantile()` function in R t

[2021-08-13 01:56] arobrien commented on #14624
We struck this bug today and I agree that it is insidious; if our dev's hadn't been practicing test driven development and expecting a failed test before fixing it then we might not have caught it.

The Masked arrays documentation appears to encourage a few different use cases, so different users (and developers) may have different expectations when it comes to the subtleties of the behaviour. In

[2021-08-13 02:37] seberg commented on #10736
Thanks!  Neither can we change the default (but it is 7, so that is not terrible).  I think what makes me hesitant is mostly how to present the methods (and guide users).  I am still not sure about it.

This opinion is probably enough for me to just accept if anyone does a PR to add `method=...` (or `type=...` with some good argument).  However, I personally would *much* prefer a string based API

[2021-08-13 03:07] robjhyndman commented on #10736
Agreed that the names are better than numbers. Here is an extended list of suggestions.

1. `"inverted-cdf"`
2. `"averaged-inverted-cdf"`
3. `"closest-observation"`
4. `"interpolated-inverted-cdf"`
5. `"midway-interpolated-inverted-cdf"` (too long?)
6. `"exclusive"` (no idea what that means here)
7. `"inclusive"` (ditto)
8. `"median-unbiased"`
9. `"normal-unbiased"`

[2021-08-13 05:32] #18951 closed

[2021-08-13 05:37] mattip commented on #19630
Thanks. So I guess we will have to forge our own path here. @hroncok could you pitch your case on the mailing list for having python pre-release wheels on PyPI and add a suggestion how best to handle a scenario where the pre-release wheels are broken by a newer release candidate or final release? Is it via build numbers or should we add some qualifier to the pre-release wheels and then always add

[2021-08-13 07:46] encukou commented on #19630
The secondary index is problematic because the build mechanisms of dependent projects need to be modified, to pass flags to `pip` depending on the Python version.

CPython's policy for changes between `3.10.0rc1` and `3.10.0 final` is *stricter* than for changes between `3.9.5` and `3.9.6`. (Not much, but stricter – only reviewed bug fixes are allowed.)
How would you to handle the scenario where `

[2021-08-13 09:23] hroncok commented on #19630
Something like this? What mailing list do you want me to share this at, numpy-discussion?

## Why publish Python pre-release wheels of NumPy, SciPy, etc. on PyPI?

### Reason 1: The wheels should be available on PyPI at the time of the Python 3.10 final release

As Python 3.10 final comes out in October, many users will start migrating to it, either by their own choice at their own schedule, or by

[2021-08-13 09:39] rossbar commented on #19655
Related to the post-merge discussion in #19301

[2021-08-13 09:56] mattip commented on #19630
@hroncok thanks, well stated and it convinced me :). In fact, this is so well written that maybe it should become a blog post or added to the PyPA docs somewhere. I will wait for someone else from NumPy to chime in with other thoughts about whether we need to ask the numpy-discussions mailing list.

We are still using Azure pipelines for wheel building on windows, xref MacPython/numpy-wheels#116 t

[2021-08-13 13:55] seberg commented on #10736
Maybe exclusive/inclusive don't fit well enough anyway...  As far as I understand, they refer to "including" the actual population range (i.e. population minimum/maximum).
Maybe `"sample"` could make sense for method 7?  I am not sure about 6, because I don't see that it is in any way an obvious choice for "not sample", which the exclusive/inclusive nomenclature suggests IMO.

`"midway-interpolate

[2021-08-13 13:55] charris commented on #19630
We could  make patch releases with 3.10 wheels as long as it is clear that they are experimental. NumPy 1.21.2 will come out within a week and we could try doing that. It is planned that NumPy 1.21 will support 3.10 in any case, the question is timing and platform coverage.

[2021-08-13 14:04] ricardoV94 commented on #10736
Honestly I don't see the point of including anything other than the current default and `inverted-cdf` (and removing the weird current alternatives). Everything else is probably better fit in `scipy.stats` as it is rather specific.

[2021-08-13 14:06] seberg commented on #18529
This should be fixed now in the next releases of GCC 10 and 11 (whenever those are).  So hopefully, whenever our CI runs into the issue more often, we can skip gcc 9 and jump to one of those fixed versions directly.

[2021-08-13 14:46] charris commented on #18529
`python3.9 runtests.py --gcov` still fails with gcc 11.2, but that may not be recent enough.

[2021-08-13 14:48] seberg commented on #18529
Yeah, it was just now backported, 11.3 and whatever the next 10.x is (if it comes) should be fine.

[2021-08-13 15:02] charris commented on #18529
I also note new `mismatched bound`warnings with ordinary compiles that also seem gcc 11 related.

[2021-08-13 15:03] suuuehgi opened #19664 "floating point issue / inconsistency"
There is a floating point issue / inconsistency (at least) with `numpy.linspace`.

I expect `print` to display whats actually there. So either to print 0.30..04 or linspace containing .3.

### Reproducing code example:

[code]

### Error message:

See above.

### NumPy/Python version information:

1.17.4 3.8.10 (default, Jun  2 2021, 10:49:15)
[GCC 9.4.0]

[2021-08-13 16:16] charris commented on #19664
Use the `np.printoptions` context if you want to see all the digits. In general, comparing floating point numbers for equality is asking for trouble and should be avoided, the numbers are usually approximate due to the inherent limitations of floating point.

[2021-08-13 20:52] adeak commented on #13727
If I understand correctly, [this was implemented in 1.19](https://numpy.org/doc/stable/reference/generated/numpy.array_equal.html), added in https://github.com/numpy/numpy/pull/16128

[2021-08-13 21:07] adeak opened #19669 "array_equal warns about ragged arrays"
When a ragged array is passed to `np.array_equal`, it will emit a `VisibleDeprecationWarning`. Considering the use of this function and earlier issues such as https://github.com/numpy/numpy/issues/9210, we should probably silence any warnings [here](https://github.com/numpy/numpy/blob/887766071724d27431b453b8270f299213b2d189/numpy/core/numeric.py#L2437) (I'll gladly do this if this indeed needs fi

[2021-08-14 00:40] robjhyndman commented on #10736
I didn't realise Wolfram had given them names. Happy to use `"hazen"` and `"weibull"` for 5 and 6. Following that theme, we could use `"gumbel" ` for 7 as it was proposed by Gumbel in 1939. Makes more sense than `"inclusive"`.

[2021-08-14 12:25] srkunze opened #19670 "Compatibility mgrid and linspace"
I recently wanted to use the same way to construct a `linspace` as I did with an `mgrid`, i.e

[code]

[code]

I think that interoperability here would be great.

[2021-08-14 13:10] allefeld commented on #13727
@adeak, great news!

[2021-08-14 13:40] eric-wieser commented on #19670
If you want a function to behave like mgrid, why not just use mgrid? I think `mgrid[T_size]` will do what you want.

[2021-08-14 14:57] srkunze commented on #19670
Wow, okay. That seem to work. In the interim, I used `np.arange`. Thanks for the enlightment.

Is there a reason why there are at least like three implementations for the same thing?

[2021-08-14 17:43] adeak commented on #13727
@allefeld what I mean to say was: this issue can be closed now ;)

[2021-08-14 20:46] mattip commented on #19669
This specific use case is called out in [NEP 34](https://numpy.org/neps/nep-0034-infer-dtype-is-object.html#usage-and-impact). Please adjust your code accordingly.

[2021-08-14 20:54] adeak commented on #19669
Thanks for the tip @mattip, I didn't think to check the NEP.

Unfortunately, unlike with `assert_equal`, neither of my arrays are literals or known-ragged, so this change would be less straightforward. Fortunately, though, the raggedness was a result of a bug, so I don't see this warning after debugging.

Since this is not a bug, then, I'm closing this.

[2021-08-14 20:54] #19669 closed

[2021-08-15 05:40] ishikkkkaaaa commented on #19664
Hey!
You can simply round off the list while iterating through the loop
Here's how
`
list=[0.0, 0.1, 0.2, 0.30000000000000004, 0.4, 0.5, 0.6000000000000001, 0.7000000000000001, 0.8, 0.9, 1.0]
round_off = [round(num, 1) for num in list]
print(round_off)`

[2021-08-15 06:23] kconnour opened #19673 "f2py doesn't finishing compiling"
I have some FORTRAN code that I want to combine into a .so file and import with Python. I wrote a script that does that as part of `setup.py`. This script works on some computers but not others. When it fails, f2py appears to go through the entire compilation process and prints a command-line command, but it seems this command is never executed. If I manually execute this command, the compilation

[2021-08-15 08:21] debnathshoham opened #19674 "Question: dtype of empty arrays"
Not sure if this is a bug, or by design.
The data type of np arrays seems a little strange for empty arrays (should they be float64?).

### Reproducing code example:

[code]

### NumPy/Python version information:
1.21.0 3.8.10 | packaged by conda-forge | (default, May 10 2021, 22:58:09)
[Clang 11.1.0 ]

[2021-08-15 08:31] mattip commented on #19674
By design. See for instance the bottom of [the basic array creation doc](https://numpy.org/devdocs/user/absolute_beginners.html#how-to-create-a-basic-array) section where it says

[2021-08-15 16:48] rkern commented on #19664
I think @suuuehgi wants the array to show what the list shows, not vice versa.

@charris I think the `0.3 in a` test was more of a demonstration that the printed representation was not round-tripping as they expected rather than an operation that they wanted to do in real code.

@suuuehgi If you use `np.set_printoptions(precision=17)` or `with np.printoptions(precision=17):` you will see the full

[2021-08-15 16:48] #19664 closed

[2021-08-16 07:45] rossbar commented on #19674
Closing as resolved by mattip's answer.

[2021-08-16 07:45] #19674 closed

[2021-08-16 13:31] melissawm commented on #19673
Hello, @kconnour - can you give a little more detail? In which systems does the compilation fail?

The message about removing the build directory is expected.

[2021-08-16 13:34] suuuehgi commented on #19664
@rkern Your assumptions are completely correct. And I can see your point - thank you very much for the thorough answer!

[2021-08-16 14:27] #13727 closed

[2021-08-16 14:32] BvB93 opened #19679 "ENH: Allow `np.fromregex` to take `os.PathLike` implementations"
`np.fromregex` is currently the only file-manipulation-function that does not accept path-like objects such as `pathlib.Path`.
The root of this issue stems from the `np.DataSource` class, which it uses for parsing path-like objects, assuming that the passed path is always a string.

[2021-08-16 16:21] kconnour commented on #19673
Yes, I'm happy to provide as much detail as you'd like. Don't hesitate to ask.

If it's helpful, this is [my repo](https://github.com/kconnour/pyDISORT) where the issue is happening (not that I expect anyone to look at it but it'd provide full context if the above code snippet is insufficient).

I encounter this error when attempting to run my code on Github's CI using macos-11 and macos-10.15 run

[2021-08-16 16:22] BvB93 commented on #16546
Removed 10 functions annotated in https://github.com/numpy/numpy/pull/19667:
- `load`
- `save`
- `savez`
- `savez_compressed`
- `loadtxt`
- `savetxt`
- `fromregex`
- `genfromtxt`
- `recfromtxt`
- `recfromcsv`

Removed 3 deprecated functions:
- `loads`
- `ndfromtxt`
- `mafromtxt`

[2021-08-16 19:38] baozzhao opened #19684 "Importing Numpy within Conda throws "double free or corruption (top)" followed by core dump"
After months without using Python, today I needed to implement something in it using Numpy. However, weirdly, whenever I try to import it within any Conda environment, I get a "double free or corruption" error, followed by a core dump:

### Reproducing code example:

I mean, this is a hard issue precisely because the error happens at the import of Numpy, so nothing more than a `import numpy` is ne

[2021-08-16 20:38] mattip commented on #19684
`conda list` should show the versions of everything in your environment. Perhaps valgrind would be a tool to pinpoint what is going on, if you have used it before.

[2021-08-16 21:16] #19679 closed

[2021-08-16 21:22] #19597 closed

[2021-08-16 22:12] BvB93 commented on #16546
Removed 2 functions annotated in https://github.com/numpy/numpy/pull/19683:
* `broadcast_to`
* `broadcast_arrays`

[2021-08-17 09:06] dsaoijhlgfdngfsd opened #19685 "Multiplication of a matrix with its transpose causes segfault for "large" matrices"
Multiplication of a matrix with its transpose causes segfault for "large" matrices. Multiplication works for "small" matrices and also works if transpose is copied (`np.copy()`). Specific examples of large/small matrices below.

I do have sufficient amount of memory (>350GB) on the machine, and I observe the same behavior on EC2 instance (both Ubuntu and Amazon Linux) as well as in a Docker contai

[2021-08-17 14:20] Mukulikaa opened #19688 "DOC: Using `shares_memory` and `may_share_memory` to determine if an array is a view or a copy"
I am writing an explanation document on copies and views based on the points in #15793. To answer the question-"How to tell if NumPy created a view or a copy?", I have written about using the `ndarray.base` attribute.

I found a couple of old answers on StackOverflow that talk about using `shares_memory` and `may_share_memory` to check overlapping memory. So these functions can be used to check fo

[2021-08-17 14:40] Mukulikaa opened #19689 "DOC: Moving NumPy Internals from reference guide to Under the hood docs"
[NumPy internals](https://numpy.org/devdocs/reference/internals.html) is a very detailed and informative set of documents. I feel these docs should be moved to [Under-the-hood Documentation for developers](https://numpy.org/devdocs/dev/underthehood.html#under-the-hood-documentation-for-developers) to make them more visible.

IMO these documents do not belong in NumPy fundamentals because they cont

[2021-08-17 14:42] nschloe opened #19690 "deprecate isscalar, change behavior?"
Right now, `np.isscalar` returns `True` iff the input is a Python scalar:
[code]
However, `np.array`s with `ndim == 0` smell, taste, and behave like Python scalars in almost all situations, so you almost always want to admit ndim-0 arrays when writing `if np.isscalar(a): ...`. Unfortunately, downstream uses `isscalar` far more often (e.g. scipy: 61 `isscalar`, 9 `ndim`). This begs the question if

[2021-08-17 15:20] eric-wieser commented on #19690
#11882 was the first step towards a possible deprecation, which documented the reasons to avoid `isscalar`.

[2021-08-17 15:26] eric-wieser commented on #19688
The idea behind the `shares_memory` APIs is to answer questions like "are `a` and `b` a view of the same array".

For instance, `np.array([1, 2, 3])[:]` is a view, but it's a view of an array that no one else is using so there's no real reason to care that it's a view. `np.frombuffer(b"test", dtype='u1').base` is also a view, but it's not even a view of an array, it's a view of some other object!

[2021-08-17 16:59] adithya-1 commented on #15986
Hey @eric-wieser, I am new to open source and would like to contribute to this project. Can I work on this issue?

[2021-08-17 19:10] groutr opened #19694 "Possible regression with inplace min/max in between 1.20 and 1.21"
There appears to be possible regression in Numpy 1.21 in np.minimum/maximum when operating inplace on an array. Tests conducted with numpy 1.20 on one affected machine produced the expected results. I think it is reasonable to think that other ufuncs might also be affected.

This regression results in a strange banding pattern in the output array. This is best illustrated by @TrevorGrout-NOAA in h

[2021-08-17 19:27] seberg commented on #19694
@groutr thanks for the report. Could you have a quick check with NumPy 1.21.2?  Because we had pretty bad bug when using `where` in combination with certain multi-dimensional outputs.  And frankly, that seems a more likely candidate than SIMD to me.

[2021-08-17 19:40] TrevorGrout-NOAA commented on #19694
Ok, I can confirm that the issue is present in 1.21.1 but appears to be resolved in 1.21.2.
Thanks @groutr and @seberg

[2021-08-17 19:47] seberg commented on #19694
Great, thanks again for the report.  And sorry about this issue, bugs that can silently corrupt data are terrible :(.

[2021-08-17 19:47] #19694 closed

[2021-08-17 19:49] groutr commented on #19694
Thank you for the quick response @seberg.

[2021-08-17 19:49] seberg commented on #19694
For reference: The first bug report (but "just" a crash, so less scary than this one) was: gh-19589, the fix was gh-19600.

[2021-08-17 22:53] anntzer opened #19696 "Fatal floating point exception when constructing an aligned dtype with no fields."
### Reproducing code example:

[code]

### Error message:

[code]

(Admittedly a very edge case, but note that, OTOH `np.dtype([], align=True)` works fine.)

### NumPy/Python version information:

1.21.2 3.9.6 (default, Jun 30 2021, 10:22:16)
[GCC 11.1.0]

[2021-08-18 06:11] czgdp1807 opened #19697 "Test failures on macOS Big Sur (Version 11.4) with Apple M1 chip"
### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:

[code]

I am using macOS Big Sur (Version 11.4) with Apple M1 chip. Though the conda environment is having Intel software and hence using Rosetta to run on the hardware.

[2021-08-18 06:47] cchd0001 commented on #18709
Instead of using pip, I use conda and solved this problem.

[2021-08-18 06:50] ManjunathBharadwaj01 commented on #19077
Hello, can I contribute to this particular issue?
I'm new , and want to learn the GitHub ways, can somebody help me learn?

[2021-08-18 07:50] rossbar commented on #19689
For a bit of background, the internals doc currently resides in the reference guide, which seems like a poor fit according to NEP 44. I think the under-the-hood docs (currently empty) in the user guide is indeed a sensible place for the internals to end up :+1:

[2021-08-18 07:50] lucky-lidong commented on #13365
3q

[2021-08-18 08:37] Abdullah17m opened #19699 "where to find code for mean,std?"
Hello everyone,

I am new to open source and i want to know where can i find code for numpy statistics like mean,std etc

[2021-08-18 09:19] pafonta commented on #5776
Hello,

I confirm that `numpy.ma.allequal(...)` fails when:

1. values are strings,
2. both arrays don't have masked values,
3. `dtype` is different from `"object"`.

Tested on Numpy 1.21.2.

Error:
[code]

Reproduce:
[code]

[2021-08-18 09:32] #19699 closed

[2021-08-18 10:42] pratt3000 commented on #19685
does your 'CPU' have 350+ GB memory? It requires around 52gb to compute that/

[2021-08-18 10:57] dsaoijhlgfdngfsd commented on #19685
I don't really understand your question. CPU caches are of course orders of magnitude smaller. However I fail to understand your logic here, since the multiplication works between two **different** matrices, that take twice as much memory as a matrix and its (numpy) transpose. Or am I missing something?

[2021-08-18 11:57] mattip commented on #19685
The last one is puzzling. We do have an optimization to detect `a @ a.T` (same memory pointer, switched shapes) and use the `*SYRK` routines instead  of the `*GEMM` routines, but I see from your stack trace your are hitting the `*GEMM` routine anyway. That does not explain why it segfaults, but I do wonder why it does not go via the `*SYRK` routines.

[2021-08-18 12:01] dsaoijhlgfdngfsd commented on #19685
If you look at `#4` in the stack trace, there is:
[code]
So i think it goes to the `*SYRK`routine.

If you have any suggestions/tips how to debug that further I can certainly give it a try.

[2021-08-18 12:23] gurudave opened #19703 "Problem building wheel using Intel compilers"
I'm attempting to build numpy 1.21.2 for Python 3.8.11 using the Intel compiler suite (2019 update 5). I am able to build numpy and the wheel successfully using the following commands:

[code]

However, once I install the resulting wheel and try to import numpy, I get an error about the symbol `__intel_sse2_strchr` being undefined when attempting to import `mtrand.cpython-38-x86_64-linux-gnu.so`.

[2021-08-18 12:31] debarun1234 commented on #19703
hey can i have a look to this, i have intel compiler suite (2019) maybe i could be of some help

[2021-08-18 12:52] gurudave commented on #19703
I figured it out. It looks like the build step that tries to detect CPU optimizations was silently failing in the `build` step, so `bdist_wheel` was having another go with gcc instead of Intel. In any case, CPU specific optimizations would probably cause me hassle further down the line, so I've disabled them entirely. The following commands work well for me, maybe they will help someone else.

[co

[2021-08-18 12:52] #19703 closed

[2021-08-18 12:58] KiranHipparagi commented on #19655
Can I work on this issues?

[2021-08-18 13:05] charris commented on #19703
@debarun1234 It would be nice to figure out precisely what is going wrong.

[2021-08-18 13:19] KiranHipparagi commented on #19655
### As of Numpy version 1.21.0, [np.unique now returns single NaN](https://numpy.org/doc/stable/release/1.21.0-notes.html#np-unique-now-returns-single-nan):
`a = np.array([8, 1, np.nan, 3, np.inf, np.nan, -np.inf, -2, np.nan, 3])
np.unique(a)`
`array([-inf,  -2.,   1.,   3.,   8.,  inf,  nan])`

[2021-08-18 13:48] itamarst opened #19704 "take_along_axis alternative implementation doesn't match real implementation"
In the documentation for `np.take_along_axis()`, an alternative implementation is provided: https://github.com/numpy/numpy/blob/623bc1fae1d47df24e7f1e29321d0c0ba2771ce0/numpy/lib/shape_base.py#L90

I am using this alternative implementation to implement a first pass of `take_along_axis()` in Numba.

Turns out, however, that in some cases the output between the two doesn't match.

### Reproducing c

[2021-08-18 14:06] mattip commented on #19685
Thanks. It seems the segfaults are only in the SYRK codepath, which the last variant avoids since it copies the data. I am not familiar with the OpenBLAS internals. Maybe @martin-frbg has a thought? Did you try using fewer threads with `OPENBLAS_NUM_THREADS=1` (which may be significantly slower)?

[2021-08-18 14:13] dsaoijhlgfdngfsd commented on #19685
Oh yeah, I did and clearly forgot to mention that. Yes `OPENBLAS_NUM_THREADS=1` fixes the issue.

[2021-08-18 14:27] eric-wieser commented on #19704
You're right, the sample implementation assumes that no broadcasting occurs.

[2021-08-18 14:34] itamarst commented on #19704
Any hints on how to expand it so broadcasting works? My mental model of all of these operations is very weak, so while I'm sure I can figure it out eventually, probably a lot faster for someone who has it all down intuitively.

[2021-08-18 14:35] eric-wieser commented on #19704
I can't give you an implementation because the numpy python API is very weak when it comes to providing broadcasting primitives, but the rule is "broadcast all the dimensions of `a` and `indices` except `axis` before running that loop"

[2021-08-18 14:36] pankaj-cipher commented on #19690
Talking about the above situation depreciating `np.isscalar()` . I would rather suggest deprecating 0D-arrays because 0D-arrays are no more arrays , they are scalars and obviously a `array(vector)` couldn't be a `scalar` . So, basically rather changing the definition for `np.isscalar()`, it should be changed for `np.array(scalar)`.

[2021-08-18 14:49] nschloe commented on #19690
I agree! I wouldn't vote for their deprecation though because there are many situations where you want scalars to be treated just like arrays, e.g., when evaluating functions ("vectorization").

[2021-08-18 15:00] eric-wieser commented on #19690
I don't think changing the behavior of `isscalar`this late in the game is sensible. Even numpy itself depends on the weirdness of its behavior (it uses it to mean "can I modify this safely in place with `+=`" in some instances); so I would expect many downstream breakages. Yes, we should have defined it that way in the first place, but given we didn't, and that `np.ndim(x) == 0` is only one charac

[2021-08-18 15:15] seberg commented on #19690
It is a common argument to get rid of scalars, but never getting rid of 0-D arrays :).

What is a "scalar" in NumPy depends, there are at least three definitions:
1. A scalar is equivalent to `np.asarray(x, dtype=dtype).ndim == 0`
2. Same as 1., but do not accept anything deemed array-like
3. Same as 2., but only accept "recognized" scalars (i.e. an arbitrary object is not a scalar, we never probe

[2021-08-18 15:34] itamarst commented on #19704
Thank you!

[2021-08-18 15:52] Bhavay192 commented on #19514
hey @seberg , Can I solve this issue if this is not yet solved. Thanks

[2021-08-18 16:00] fredericwaldmann opened #19705 "deprecated: AttributeError: module 'numpy.core' has no attribute 'numerictypes' using version 1.21.2"
Got the following error, just while debugging,
[code]

Had a clean install of Ubuntu 20.04.2 LTS
GNOME Version 3.36.8
On Lenovo Carbon X1 (4Gen)
I did following steps:

- sudo apt update
- sudo apt install python3-pip
- pip3 install numpy
- pip3 install matplotlib
- pip3 install scipy
- added a xxxx.pth to ./.local/bin/python3.8/site-packages/   (this package has a dependency to numpy, matplotlib

[2021-08-18 16:02] seberg commented on #19514
I think @yashasvimisra2798 just started looking into a day or two back so probably should give her a chance to finish.  Otherwise, of course though!

[2021-08-18 16:07] martin-frbg commented on #19685
@mattip Bet it is BUFFERSIZE too small for the multithreaded GEMM routines - remember you build with a custom value to reduce the memory footprint of "everyday small matrix cases" (#18141) but that is bound to go wrong for "large" matrices.

[2021-08-18 16:09] yashasvimisra2798 commented on #19514
Yeah @seberg and @Bhavay192 I am working on this and will update soon on this.

[2021-08-18 16:14] Bhavay192 commented on #19514
Hey @seberg, is there any other issue which can be beginner friendly for me to contribute??

[2021-08-18 16:52] mattip commented on #19685
Ahh thanks, makes sense. Is there a way we can trap this without segfaulting and warn the user to use fewer threads?

[2021-08-18 17:16] Bhavay192 commented on #19039
hey @seberg , could you please help me in resolving this issue? I want to contribute to it.

[2021-08-18 18:20] eric-wieser commented on #14817
It might still be worth adding an explicit 'do not edit the readme' message to this page; we still get meaningless drive-by contributions of the style at the top of this post, and being able to link to a canned explanation of why these contributions are unhelpful would be useful.

[2021-08-18 18:25] charris commented on #14817
@eric-wieser My guess is the start of the school year accounts for this.

[2021-08-18 19:37] #19705 closed

[2021-08-18 20:05] rgommers commented on #19630
While I'm perfectly happy with uploading 3.10 wheels for NumPy and other packages, I do want to point out a few things:
- We are already asking maintainers of packages that depend on NumPy to use https://pypi.anaconda.org/scipy-wheels-nightly/simple/ in their CI to test against NumPy master. And scipy/pandas/etc. wheels are there as well. So it's not that strange a location.
- @charris had already

[2021-08-18 21:20] hroncok commented on #19630
The rc versions of Python do guarantee ABI stability, which was exactly the point why the wheels were requested after rc went out.

[2021-08-18 21:24] anntzer opened #19708 "Include a fast floating point parser"
## Feature

I have recently posted a series of PRs (#19599, #19601, #19608, #19598, #19610, #19620, #19609, #19618, #19687) which altogether speed up loadtxt() by up to 4x when parsing simple but common (specifically, entirely numeric) text files (see benchmarks in #19687, for example) solely by removing a lot of Python overhead, and have yet another patch in the works that should yield a further

[2021-08-18 21:53] rgommers commented on #19630
I understand that, but that's only a 2 month period. It's a very nice improvement, don't get me wrong. However, not all projects are going to do a release (at all, or with Python 3.10 support) in those two months. So it is still going to cause problems if distributors of Python cause beginners to end up with 3.10 straight away on release.

[2021-08-19 01:58] johndpope commented on #9547
[code]

[2021-08-19 05:14] mattip commented on #15986
I think we have gotten about as much mileage as possible from this issue and would like to close it. @eric-wieser what do you think?

[2021-08-19 06:27] vijayan108 opened #19711 "ENH: mention the size of the data like int32 or int64"
## Feature

If you're looking to request a new feature or change in functionality, including
adding or changing the meaning of arguments to an existing function, like  in numpy module we need to mention  the  character so that i need some improve for mentioning that  data structure directly analysis that data and give respective structure
 to explain your
reasoning in addition to opening an issue

[2021-08-19 06:31] shubham11941140 commented on #19631
` ` `
np.can_cast('M8[1000ns]', 'M8[1us]', casting='same_kind')
` ` `  will return True.
` ` `
np.can_cast('M8[1000ns]', 'M8[1us]', casting='unsafe')
` ` ` will also return True.

Both are in the same kind of units of second, so the behaviour should be correct.

Unfortunately, multiplying with 1000 gives the same mathematical value in magnitude but will not change units and size of the value (with

[2021-08-19 07:50] encukou commented on #19630
What other time period would you suggest to use? Your arguments could just as well apply to two years after the freeze.

[2021-08-19 07:51] mattip commented on #19711
Did you mean to request something? The title seems to mention "the size of the data" - could you give an example in code that describes what you would like to see?

[2021-08-19 08:08] rgommers commented on #19630
Eh no, they don't. Most important Python projects are using a 3-9 month release cycle, with the typical spacing for minor releases being 6 months.

@encukou I think you're missing the main point. I do not expect CPython to suddenly become ABI stable between minor releases, and a 2 month window is already a lot nicer than nothing. The problem is the expectation that it's okay to have tons of users

[2021-08-19 08:30] encukou commented on #19630
Ah, so the issue is in *upgrading*? Yes, I guess all Python distributors should either preserve the old version of Python on upgrade, or not make the upgrade automatic.
I thought we're talking more about *new installs* of Python – if we agree that new users should get 3.10 by default when 3.10 comes out, then we do need wheels for 3.10 soon.

Important projects are also tested with alphas/betas. (

[2021-08-19 08:37] Bhavay192 commented on #19039
Hey can anyone please guide me to this issue. Please?

[2021-08-19 09:04] rgommers commented on #19630
We are talking about both upgrades and new installs. New users should not get 3.10 by default on day 1. Unless they understand the tradeoffs and make a conscious choice that they want to be early adopters. But for something like the Windows App Store, that's certainly not the case. The default in Windows App Store should be 3.9.x for some time (1-3 months?) after 3.10 release date.

There just are

[2021-08-19 09:50] eric-wieser commented on #19631
This is irrelevant, as I am not working with string types.

This is untrue, as my unit is `1000ns` not `1ns`.

[2021-08-19 11:05] encukou commented on #19630
A Windows question would be for @brettcannon, I believe?

Can/should we determine who new users are and separate them from old users who are better early adopters? (And should we rather use "early adopter" for users of things like Fedora Rawhide prereleases, which had 3.10 since the alphas?)

AFAICS, the current schedule is the RC period (2 months) for the ecosystem to prepare & test, and the fina

[2021-08-19 14:40] seberg commented on #19039
Honestly, I doubt this is a great issue to work on.  I am sympathetic with the proposal, but it is a pretty big change that sounds like it would break a lot of test suits causing churn downstream.  We could still consider it, but it would need to try it out and see how SciPy and other packages are affected.  (My guess is that even just the NumPy test suite would have a lot of things that need adju

[2021-08-19 14:44] Bhavay192 commented on #19039
Hey @seberg, can't we just make a function which accepts two numpy arrays and return whether their dtype is same or not?? As a true and false ???

[2021-08-19 14:45] Bhavay192 commented on #19039
I'm quite beginner to open source and really don't know about numpy test suits soo please guide me to it or is there any small issue which can be solved??

[2021-08-19 15:00] seberg commented on #19039
@Bhavay192 sure, but all of those discussions would probably take some time, and I am not sure that is what you are looking for.  Also you can also write `assert a.dtype == c.dtype`.

Yes, I understand you are looking for a small issue to solve, which is great.  I would love to just point you at some, but it tends to be tricky in NumPy to point simple issues (the amount of issues in between "not j

[2021-08-19 15:05] Bhavay192 commented on #19039
Hey @seberg , thanks for the reply. As a part of my college curriculum, I need to show them some open source contributions as a part of my summer project. It would be kind of you really if you can point to me at specific issues

[2021-08-19 15:24] mattip commented on #19039
Is there a place where `np.testing.assert_equal(b,c) and b.dtype == c.dtype` would not suffice?

May I suggest you take a look at a documentation issue #13114. I think you can use [gitpod](https://numpy.org/devdocs/dev/development_gitpod.html#development-gitpod) for building the docs.

[2021-08-19 15:27] Bhavay192 commented on #19039
Hey @mattip , thanks for replying. Could you please explain me in detail as what should I look for and how to resolve it??

[2021-08-19 15:35] mattip commented on #19039
4 minutes passsed between the time I made my suggestion and your comment asking for guidance. Please read the issue and follow the links, and then ask more focused questions: "I don't understand where you talked about ..., what did you mean", or "I tried to do ... and got this result ..., what could be wrong"

[2021-08-19 15:47] Bhavay192 commented on #19039
Hey @mattip, sorry for the last comment, as per you guide , I tested a case where the test might fail.
For example if we have 2 numpy arrays both having same value of [1,2,3] and having different data types that is the case where it might fail

[2021-08-19 15:48] Bhavay192 commented on #19039
The np.testing.assert_equal(b,c) will output None where as the b.dtype == c.dtype will output false

[2021-08-19 16:32] mattip commented on #19039
Sorry, I meant:

Is there a place this will not suffice?
[code]

[2021-08-19 16:51] seiko2plus commented on #19537
These instructions can be used generally to load and store 256 bits of data. They are not restricted to MMA.

But I couldn't find a direct way to extract to the lower and higher 128-bit registers, could you please show me an example of it?

And even if that is possible without extra cycles then logically the compiler suppose to optimize out any sequence 128-bit load/stores of contiguous memory acc

[2021-08-19 17:03] eric-wieser commented on #15986
I think I agree @mattip, feel free to close. We can still review any remaining open PRs.

I'm curious if any contributors who contributed for the first time to numpy thanks to this issue ended up making further contributions later, or if they've all just been drive-by one-off contributions.

[2021-08-19 17:35] bhavitvyamalik commented on #19039
Hi @mattip,
My bad I didn't explain my use case properly in the issue above. I was writing a test in which I had this dictionary:
[code]
I had to check if the output dictionary matched the dictionary above which included matching not only the numpy array values but the corresponding dtype as well. Now, `numpy.testing.assert_equal` can be used to compare such dictionaries but it didn't check the co

[2021-08-19 18:28] #15986 closed

[2021-08-19 18:33] mattip commented on #15986
Maybe they are now contributing elsewhere.

[2021-08-19 18:37] Developer-Ecosystem-Engineering commented on #17989
Accelerate support was re-enabled here https://github.com/numpy/numpy/pull/18874, its worth checking with that support

[2021-08-19 22:47] gwerbin opened #19716 "Mypy plugin doesn't understand `ndarray.astype`"
Mypy is not aware that changing the `dtype` of an array changes its annotated type, even if the `dtype` is passed as a literal `np.dtype[np.float64]`, `np.dtype[np.float32]`, etc.

I imagine that this kind of type inference could be very difficult in general, but it would be nice if at least this special case worked.

### Reproducing code example:

[code]

### Error message:

Mypy output:

[code]

[2021-08-20 03:14] Darylgolden opened #19717 "DOC: Explicitly mention a function's aliases in the documentation"
I was trying to find the `round` function in the documentation, but could not find it, making me falsely believe that it was deprecated. It was only after more research that I found that it was [defined as an alias](https://github.com/numpy/numpy/blob/main/numpy/__init__.pyi#L903). I think this should be explicitly mentioned in the documentation (and for all other functions which have aliases too)

[2021-08-20 05:42] ax3l commented on #19017
Good news: the new default compiler for Summit is now g++ 9.1.0

[2021-08-20 07:02] kurchi1205 commented on #19077
https://lgtm.com/projects/g/numpy/numpy/alerts/?mode=list
I want to make my first contribution by fixing version.py .
Can I work on it?

[2021-08-20 08:05] mattip commented on #19077
What would you fix? I am not seeing any [LGTM alerts for `numpy/version.py`](https://lgtm.com/projects/g/numpy/numpy/latest/files/numpy/?sort=name&dir=ASC&mode=heatmap) (last file in the link). Or perhaps you meant the single miniscule [warning in `numpy/_version.py`](https://lgtm.com/projects/g/numpy/numpy/latest/files/numpy/_version.py?sort=name&dir=ASC&mode=heatmap#L501) ?

[2021-08-20 08:11] kurchi1205 commented on #19077
It is listed under error

[2021-08-20 08:52] orsinium opened #19719 "numpy.typing._ufunc is slow when running in mypy"
When running mypy on the code using the new numpy, it takes 30 seconds on my machine to produce a result. When running with `-v` flag, it shows that it freezes when importing `numpy.typing._ufunc`:

[code]

### Reproducing code example:

[code]

### Error message:

not relevant, performance issue

### NumPy/Python version information:

+ mypy 0.910
+ Python 3.9.0
+ numpy 1.21.2

[2021-08-20 09:38] eric-wieser commented on #19077
That file is a generated file. The correct fix will be to tell lgtm to ignore that file. You could fix it upstream in versioneer too if you wanted.

[2021-08-20 14:01] rgommers commented on #12339
Not reproducible and no response, so closing.

[2021-08-20 14:01] #12339 closed

[2021-08-20 14:47] ShreyPatel4 commented on #19684
Have you tried reinstalling the package / or have you just roll back for testing instance?

[2021-08-20 19:23] rishi2019194 commented on #18854
Hye @seberg can I work on this issue??

[2021-08-20 19:26] seberg commented on #18854
Sure, we don't usually assign issues and the sprint is long ago.  So go ahead.

[2021-08-20 19:47] neutrinoceros opened #19721 "REG: inconsistency in masked arrays with boolean array addressing"
Initial discovery: https://github.com/yt-project/yt/issues/3472
Later reported and discussed as https://github.com/matplotlib/matplotlib/issues/20843
Many thanks to @jklymak for contributing a pure-numpy test in comments. This report was edited to feature a slightly modified version of his test instead of the original example which included matplotlib code and was much harder to decipher.

### Rep

[2021-08-21 01:03] Dinkarkumar commented on #19473
is the issue resolved ?

[2021-08-21 01:07] Dinkarkumar commented on #19655
Is the issue still open ? Can i work on this ?

[2021-08-21 01:09] Dinkarkumar commented on #19472
Is the issue still open ? Can I work on this issue ?

[2021-08-21 01:10] Dinkarkumar commented on #19464
Is the issue still open ? Can I work on this issue ?

[2021-08-21 01:25] DAGwood1018 commented on #19472
I believe numpy eigh still doesn't work on the matrix I provided. I did find that scipy's implementation of eigh does work (and have just been using that) so I imagine one can figure out what is going wrong by cross referencing them.

[2021-08-21 02:36] jklymak commented on #19721
A simpler test that doesn't involve matplotlib I think is:

[code]

For 1.21.2:

[code]

For main:
For 1.21.2:

[code]

This bisects to 25042301ae655  https://github.com/numpy/numpy/pull/19244

Note that if we replace `out2[inside] = a[inside]` by `out2[0] = a[0]` then there is no inconsistency, so it only happens when using a boolean array addressing.

[2021-08-21 03:59] Dinkarkumar commented on #19472
I am going through the issue, would seek your insight whenever i need, since i am new to the opensource contribution. Thank you for your reply.

[2021-08-21 04:03] Dinkarkumar commented on #19472
Matrix.npy file is around 7.24GB, is it really that large or the file is corrupted ?

[2021-08-21 08:19] Dinkarkumar commented on #19125
In which file is the cdouble defined ? If anybody knows, please drop the answer. I found several mentions of "cdouble" throughout the codebase but weren't able to find the origin.

[2021-08-21 09:45] matthew-brett commented on #19473
No, not resolved yet.  We need an OpenBLAS build that includes https://github.com/xianyi/OpenBLAS/pull/3320 .

I've just tested with the latest wheel, using:

[code]

I've attached the test files in the zip archive, but the test boils down to:

[code]

Where `svd_check.py` is:

[code]

When the bug is still present, you will see:

[code]

[svd_check.zip](https://github.com/numpy/numpy/files/702526