[2019-02-27 12:30] 365670123 opened #13052 "can not import numpy. NameError: name 'env_added' is not defined"
### Reproducing code example:

[code]

### Error message:

[code]

[2019-02-27 13:50] V-Kh opened #13053 "Numpy 1.16.2 f2py test fail"
### Reproducing code example:

[code]

### Error message:
[code]

### Numpy/Python version information:

[code]
built using icc/MKL

[2019-02-27 13:50] mattip commented on #13052
We do not ship a 1.16.2 [`numpy/core/__init__.py`](https://github.com/numpy/numpy/blob/v1.16.2/numpy/core/__init__.py#L42) with `env_added` in it.

[2019-02-27 13:53] charris commented on #13051
This is probably a duplicate of several other issues but I think the embedded Python is new. See if the discussion at #12977. How did you install NumPy? Are you working with Anaconda?

[2019-02-27 13:54] mattip commented on #13053
Did this build cleanly on a previous version? We do not have access to an Intel compiler.

[2019-02-27 14:00] charris commented on #13053
For reference, the `_selected_real_kind_func` is in `crackfortran.py`. @V-Kh What platform are you on?

[2019-02-27 14:04] RichardEdye commented on #13051
I have installed with pip install numpy. No Anaconda and no other Pythons on the system.

I get the error message with the Python debug DLL. When I use the release DLL, the line "import numpy" immediately causes a crash in the PyRun_SimpleString() call.

[2019-02-27 14:08] RichardEdye commented on #13051
I have also added  site-packages\\numpy\\.libs to the PATH as suggested in the other thread, but to no avail. That folder contains a libopenblas.JKAMQ5EVHIVCPXP2XZJB2RQPIN47S32M.gfortran-win32.dll.

[2019-02-27 14:53] V-Kh commented on #13053
@mattip I've checked 1.16.1 --- same problem.
@charris ArchLinux

[2019-02-27 15:47] mattip commented on #13053
could you go back further through the released versions to try to bisect where the problem started, or has it always been there?

[2019-02-27 16:48] mjbrodzik commented on #12970
Sorry for the delayed response.  Recall that I moved my original miniconda installation to ~/miniconda3_orig/ and re-installed miniconda.  The new installation is in ~/miniconda3/ and I'm trying not to make systematic env names for each new test I run.

Here are my locate outputs:

(base) nsidc-worsley:~ brodzik$ locate libgfortran.3.dylib
/Applications/MATLAB_R2017b.app/sys/os/maci64/libgfortran.

[2019-02-27 17:01] mjbrodzik commented on #12970
And now I have done the conda clean commands you recommended and tried a new env.  This time it worked and I have a working runtime version of numpy:

(base) nsidc-worsley:~ brodzik$ conda clean -i
(base) nsidc-worsley:~ brodzik$ conaa clean --all
-bash: conaa: command not found
(base) nsidc-worsley:~ brodzik$ conda clean --all
Cache location: /Users/brodzik/miniconda3/pkgs
Will remove the followi

[2019-02-27 17:05] beckermr commented on #12970
Something like that. Conda does not change local index data once it is downloaded. This is the data that determines which dependencies are allowed. So some combinations of the actions above got the freshly patched index data downloaded.

[2019-02-27 17:12] mjbrodzik commented on #12970
Thank you very much for the help.  Now back to work!

[2019-02-27 17:26] #13000 closed

[2019-02-27 18:29] rgommers commented on #12976
that isn't a well-defined distinction

then the uninstall was incomplete. uninstall with pip should remove both `site-packages/numpy/` and the corresponding `.dist-info` or `.egg-info` directories.

[2019-02-27 18:46] rgommers commented on #12970
awesome, thanks @mjbrodzik for confirming that things work now, and @beckermr for pointing out the right fix!

[2019-02-27 18:55] eric-wieser commented on #13052
[Don't we?](https://github.com/numpy/numpy/blob/v1.16.2/numpy/core/__init__.py#L72-L77)

[2019-02-27 19:05] rgommers commented on #13052
oops, I didn't double check the assertion. that said, I don't see any way that `env_added` can be undefined and this is not about 1.16.2 (line numbers don't match). so still looks like either a messed up env (2x numpy installed) or a distributor-modified `__init__.py`

[2019-02-27 19:23] mattip commented on #13052
Sorry. The line number change may be due to Anaconda patches. Maybe it would help to see the actual file?

[2019-02-27 19:38] batterseapower commented on #9450
This behaviour of numpy seems to be the cause of this bit of folklore that `take` should be preferred to fancy indexing: http://wesmckinney.com/blog/numpy-indexing-peculiarities/

[2019-02-28 01:58] rgommers commented on #12907
@sanandece installing from source is the way to go I think.

How did you install Python?

[2019-02-28 10:13] euronion commented on #10448
So I ran into (nearly) this problem and it caused me headaches to find out what was causing the unexpected behaviour. It turned out I provided a monotonically increasing (but not strictly) `xp` to `np.interp`:

## MWE
[code]

## Output
[code]

I honestly would have expected to get an error on this from `numpy` before I found the discussion. I had skimmed the documentation beforehand but did assume

[2019-02-28 12:59] seberg commented on #9450
That bit of folk lore is mostly outdated since numpy 1.9 (so for several years). I think all other details are probably in the old comment I made...

[2019-02-28 13:03] FabianIsensee commented on #11826
Hi,
what is the status of this issue? I would very much like to use newer numpy versions but this is a complete blocker as of right now! If some package makes use of multithreading then there must be a way to control the number of threads for the user. numpy really messes up CPU utilization on high CPU count servers!
Best,
Fabian

[2019-02-28 13:29] seberg commented on #11826
@FabianIsensee numpy does not use multithreading on its own for exactly this reason. However, lthere are two exceptions:
 1. Linear algebra/OpenBLAS (which numpy uses internally) can, and also the wheels will do this. You can use `OMP_NUM_THREADS=1` to disable that. Depending on the BLAS you are using, other steps may be necessary (e.g. not sure this is sufficient for MKL).
 2. There are Intel pat

[2019-02-28 14:01] batterseapower commented on #9450
I think you're right: what seems to be slow now is `xs[ixs, :]` if `xs` is Fortran ordered, or `xs[:, ixs]` if `xs` is C ordered. In these two cases, fancy indexing basically transposes `xs` (result will have C/Fortran ordering respectively), so can be 3-4x slower than is necessary. Using `take` can be a workaround because it always returns a C ordered array.

Interestingly, the Pandas internal `t

[2019-02-28 14:40] hmaarrfk opened #13057 "uint64 converted to float when dividing by python integer"
I totally get why it is a cause for concern when adding to an int, but I feel like floor division by a positive should be expected to return an integer "safe".
### Reproducing code example:
[code]

[code]

I guess since I need to divide by 4 I'll just bitshift, but this was kinda unexpected for me.

### Numpy/Python version information:

[code]
installed through conda  / conda-forge

xref: https:/

[2019-02-28 14:54] mhvk commented on #10448
@euronion - it is not surprising the code doesn't know what to do if you try to interpolate through a bi-valued function... Still, since equal-valued is such a corner case, adding "strictly" to the documentation is not a bad idea - could you perhaps make a quick PR? The github interface should suffice for this (relevant file is `numpy/lib/funcion_base.py`)

[2019-02-28 16:38] anton-malakhov commented on #11826
@FabianIsensee I think this is exactly what my threading composability talks are about. Please refer to https://github.com/IntelPython/composability_bench/tree/master/scipy2018_demo
In short, we've implemented two approaches as 'smp' and 'tbb4py' modules, which provide command line interface in order to modify application behavior w.r.t. number of threads or task scheduler used underneath. joblib

[2019-02-28 17:37] euronion commented on #10448
@mhvk - Sure thing. I hope I did not violate to many guidelines for commits and PRs .

Regarding the topic:
I would personally prefer to have `numpy` check for this, even with the performance penalty.

[2019-02-28 18:21] mhvk commented on #10448
THanks, note the PR must be to the numpy branch!

On topic: I quite strongly prefer not checking (the check is not cheap compared to the operation), but can see an argument for at least having an auto-sort option.  Indeed, `period=np.inf` will do that for you (though it gives a warning).

[2019-02-28 18:38] euronion commented on #10448
My mistake, sorry.

Will keep this in mind, thanks for pointing it out.

[2019-02-28 19:39] Syps opened #13059 "1.15.2 Segmentation fault on import numpy in docker on VM"
Importing numpy from a Docker container running on a virtual machine results in a segfault. GDB trace is similar to https://github.com/numpy/numpy/issues/10787 (please see below).

### Reproducing code example:

[code]

### Error message (GDB trace):

[code]

### Numpy/Python version information:
Numpy version: 1.15.2
Python: 3.5.6 |Anaconda, Inc.| [GCC 7.3.0]
CPU: GenuineIntel Intel(R) Xeon(R) CP

[2019-02-28 22:25] charris commented on #13053
What does
[code]
show?

[2019-02-28 22:27] seberg commented on #9450
Well, take "preserves" memory order, by always iterating in C-order even when that is absurdly slow. Advanced indexing tries to iterate in a smart way, but in corner cases (small non-indexed dimension) that is not useful. I frankly do not see why "preserving" on its own should be faster (it may be desirable for other reasons in some cases, sure). "Basically transposing" is of course only true if y

[2019-02-28 22:28] seberg commented on #9450
Your first case is of course right, but it has nothing to do with a comparison to take (or with the *output* memory order).

[2019-02-28 23:17] batterseapower commented on #9450
I think your old comment is perfectly understandable and it accurately describes what is going on in numpy.

That being said, I do find it a _bit_ non-intuitive that indexing can flip ordering. I could understand numpy making this choice if, like you say, this meant the indexing operation was fast. However, in the particular examples I was looking at (simple subsampling from a 2d array, using sort

[2019-03-01 00:05] seberg commented on #9450
What is irritating me a bit is the part blaming it on the output memory order, as you can see in your tests, advanced indexing choses the same order in those cases where pandas appears faster. However, there may be a bit of a performance improvement possible for your `retsc[:, ixs1]`, I do not see why pandas should outperform it, at least not by much. Sure, numpy covers much more ground with other

[2019-03-01 00:54] seberg commented on #9450
So if you wonder, almost all time is spend in this function (which is obvious, and you can see that the fastest possible memory order is used because it is strided to contig and not strided to strided):

[code]
defined by:
[code]

For which I think again almost 85% is spend in a single mov instruction (I guess the one actually copying the data, debug mode though of course). Dunno why pandas is muc

[2019-03-01 01:29] liwt31 commented on #10273
I've run into the same problem and it took me a lot of time to figure out why memory usage is way beyond expectation. I think it might be a good idea to add this kind of behavior to the indexing document as a kindly reminder (I'd be happy to help on this).
FYI, I'm using the following code. Although I totally understand what's happening under the hood and I value the view mechanism, the overall re

[2019-03-01 04:45] high-in-entropy commented on #13013
@mattip I would like to contribute to this issue.

[2019-03-01 06:34] 365670123 commented on #13052
I found the reason, you are right. I download numpy1.16.2+mkl from other distributor from lfd.uci.edu. They made mistakes on __init__.py, and have fixed it before I realized it.

[2019-03-01 06:34] #13052 closed

[2019-03-01 06:47] mattip commented on #13013
Welcome!
Information on how to contribute is in our [devdocs](www.numpy.org/devdocs/dev/gitwash/development_workflow.html). If it is not clear, please issue a PR to help with that too.

[2019-03-01 07:01] eric-wieser opened #13062 "BUG: np.datetime64(2**63, 'D') raises SystemError on windows"
[code]

[2019-03-01 07:06] batterseapower commented on #9450
This is why I think the output order is a relevant thing to worry about:

[code]

Output:
[code]

So in order to get optimal performance you need to both iterate the axes in the right order, and choose output memory layout to match input layout. If you don't then you won't get good data locality, which could account for the `mov` slowness you are seeing.

[2019-03-01 07:11] eric-wieser commented on #7270
I can't reproduce this any more in 1.15.4, despite the fact that nothing seems to have changed upstream.

[2019-03-01 07:11] #7270 closed

[2019-03-01 07:46] batterseapower commented on #9450
#2657 points out that `ndarray.take` can make a cache-unfriendly choice of iteration order. I don't see any mention of the equivalent performance issue with indexing anywhere else on the issue tracker.

[2019-03-01 07:49] zhezh commented on #6860
I find in low level, there is a NPY_DEFAULT_TYPE, maybe numpy can provide a function to modify this Variable value to float32?

It is really a pain to declare np.float32 dtype when creating a new array

https://docs.scipy.org/doc/numpy-1.15.1/reference/c-api.dtype.html?highlight=default_type#c.NPY_DEFAULT_TYPE

[2019-03-01 11:30] seberg commented on #9450
@batterseapower maybe I am not seeing things right but:
 1. obviously take always iterates C-order and is thus very slow by comparison.
 2. Indexing tries to choose the best iteration order, and I think you will have to spoon feed me the case where you see it not doing it here, because for such simple cases I do not believe it can fail.

So the only difference here is the last timing you gave, whi

[2019-03-01 11:38] seberg commented on #9450
To be clear, I wrote that indexing code, obviously there can be performance bugs, there probably are. But I am well aware of the cache friendliness and optimized iteration order arguments and I just cannot possibly see how numpy gets it wrong here (or in fact your observation seem all perfect to me) or how they apply to your observations.

[2019-03-01 12:32] high-in-entropy commented on #13013
@mattip Although this was tagged easy, I am not able to solve the issue. [I am completely new to open source contributions].

[2019-03-01 13:54] antonio-catalano commented on #13017
I will try in 4 days, when i will come back to home.
Thanks

[2019-03-01 15:44] paapu88 opened #13065 "numpy array values are change by if statement"
Hei,
conda environment with;
python                    3.6.8                h0371630_0
numpy                     1.16.0                   pypi_0    pypi
numpy-base                1.15.4           py36hde5b4d6_0

### Reproducing code example:

[code]
---------------------------
(sometime I get zeros as last  row...)
Terveisin Markus

[2019-03-01 15:48] seberg commented on #13065
Of course this happens, you are using the array as an output array to `np.isnan`.

With `np.isnan(data[0, :], data[-1, :])` you explicitly ask numpy to write the result to `data[-1, :]`, so it does it.

[2019-03-01 15:48] #13065 closed

[2019-03-01 16:54] amou080515 opened #13066 "The performance about computing array (A+B) in place and copy"
I want to know why the performance of the two(in place and copy) is so different.
Why copy has a better perforance than inplace.

Thanks.
### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:

numpy version: 1.16.2
python version: 3.6.7

[2019-03-01 21:01] coroa commented on #10448
Note that the result is correct under the assumption that you are trying to interpolate a *right-continuous* function, see also my comment at https://github.com/scipy/scipy/issues/9886#issuecomment-468809786.

[2019-03-01 21:24] seberg commented on #9450
Hmm, sorry, I guess your example does have cache locality along the indexed dimension since it is ordered and not as sparse as I thought. For advanced indexing numpy chooses the optimal iteration order for the case of an indexing which does not have cache locality in the index offsets.

[2019-03-01 22:43] batterseapower commented on #9450
Right. So what I think is happening is that numpy is choosing to iterate as with my `take_ixs1`, writing into an `out` which is Fortran ordered, even if `rets` is C ordered. This means that `take` is making writes with great spatial locality, but making reads with very poor spatial locality, which is bad for performance (this is demonstrated by my `take_ixs1(retsc, ixs0, outf)` benchmark).

So for

[2019-03-01 23:00] grlee77 commented on #13066
I wouldn't expect there to be a benefit to in-place operation for tiny arrays that fit in the processor's cache. I don't know specifically why in-place is slower in this case, but if you use much larger arrays (at least 10s-100s of MB in size) so that they do not fit in the cache you should see a substantial gain for the in-place variant:

For example
[code]

[2019-03-01 23:04] sanandece commented on #12907
@rgommers I installed it using the Python RPM which I downloaded from the IBM AIX ToolBox site

[2019-03-01 23:21] rgommers commented on #12907
Thanks @sanandece, good to know. There are no wheels for that and no plans to create official AIX wheels any time soon (that fundamentally doesn't work with PyPI, there is no standard). However we are actively looking to fix any issues for building from source for the Python provided via the IBM AIX ToolBox.

Since there is nothing specifically actionable in this issue, I will close it. Feel free

[2019-03-01 23:21] #12907 closed

[2019-03-02 04:24] eric-wieser commented on #8780
Worth noting the assignment works just fine if you use custom casting rules
[code]

It's a shame the error message isn't better.

[2019-03-02 13:16] sjadd opened #13070 "ValueError: setting an array element with a sequence. python"
I am trying to solve a differential equation contains complex numbers. These complex numbers are constants A and B.

### Reproducing code example:

[code]

### Error message:
ValueError: setting an array element with a sequence.

Can anyone help me to explain the problem and give a suggestion to solve the problem?

[2019-03-02 13:18] danielplawrence commented on #12130
I've attempted to fix the documentation issue here as my first contribution:
https://github.com/numpy/numpy/pull/13071

[2019-03-02 13:28] seberg commented on #9450
Well, I guess even with randomization almost all of the reads will fit into the cache. I am a bit surprised that the difference is so big, but I do not know how the CPU caches exactly. Could it be that the cache is more thorough if the reads are more ordered (even when there are large gaps). To me it seems that the little data should be within the same cache line/memory read even if you iterate in

[2019-03-02 13:38] seberg commented on #13070
Sorry, but I think it will be instructional for you to figure it out on your own:
  * Check the line that the ValueError points to and read the error message carefully
  * Inspect the code on the line and/or split it up into its components.
  * Inspect all the operands involved, you can use the debugger or simply print statements.

The numpy issue tracker is not a support platform, we do generally

[2019-03-02 13:38] #13070 closed

[2019-03-02 18:13] seberg commented on #13066
It is probably things like simply parsing the `out` kwarg (presence of kwargs at all possibly) that make the difference there.

[2019-03-02 18:13] #13066 closed

[2019-03-02 18:38] sandrotosi commented on #11054
no @charris these issues have gone away AFAICS, for now we only have failures when running tests for f2py, due to the way we test (after setup.py build, and not after installation) and how the tests are structured (calling the interpreter directly). it's down in my todo list to investigate, but for now i think we're good thanks!

[2019-03-02 20:20] rainwoodman opened #13074 "Failed to compile scipy with Anaconda gfortran."
The compilation fails with an error and prints a command it is trying to execute.

If I type the command at the end of the error log manually, it works.

I think this points to a quotation error. The additional fortran flags from the environment shall be added to the command line list after shell-style string split. It will produce this exact problem if the full list of fortran flags are added as

[2019-03-02 20:32] rainwoodman commented on #13074
I found a fix. Will file a PR.

[2019-03-02 20:35] eric-wieser commented on #13074
Great - I couldn't even work out where we are using `FORTRANFLAGS`

[2019-03-02 20:38] eric-wieser commented on #13074
Looks like `distutils.util.split_quoted` needs to be replaced with `distutils._shell_utils.NativeParser.split`

[2019-03-02 20:57] eric-wieser commented on #12659
No, this is caused by the problem identified in #13075

[2019-03-03 15:16] Melevir commented on #13024
Is the issue still in relevant status? Looks like @alexcwatt solved this.

[2019-03-03 15:32] #13024 closed

[2019-03-03 15:43] avawda commented on #12977
This solved my issue, thanks

[2019-03-03 18:25] Whissi opened #13080 "parallel build fails"
Hi,

on Gentoo Linux, we see parallel build issues in all versions (including latest 1.16.x version) for Python 3.x:

Most common failure with lapack (should come close to your defaults):

[build-error_py36_with_lapack.txt](https://github.com/numpy/numpy/files/2923505/build-error_py36_with_lapack.txt)

However, this is not always reproducible.

Most reproducible failure is without lapack:

[build-

[2019-03-03 19:01] charris commented on #13080
What is the Gentoo build infrastructure? I take it that this is from source.

[2019-03-03 19:14] rgommers commented on #13080
Hmm, not entirely clear what is going on. Some warnings about append behavior. Are `FFLAGS` and/or `LDFLAGS` set, and if so to what? And to be sure, it's *only* the parallel builds that are failing?

[code]

[2019-03-03 19:20] Rowing0914 opened #13081 "The `np.dot` resultant computation was automatically rounded"
By the code below, in the highlighted part as `======= Weird Behaviour Part =======`, I was expecting a vector containing not rounded numbers. However, as I tried three different ways in the code followed by the output on my terminal. I was getting the rounded number as the outcome of `np.dot` API.

### Reproducing code example:

[code]

### Error message:
No ERROR

### Numpy/Python version inform

[2019-03-03 20:42] Whissi commented on #13080
Yes, we don't have a centralized build infrastructure. Every Gentoo user is building from source. In my case I provided build.log excerpts from systems with the following specs (of course, different processors but toolchain is identical):
[code]

@rgommers If build system will honor system flags, `FFLAGS` initial value should be set to "-O2 -pipe" and `LDFLAGS` initial value should be set to "-Wl,

[2019-03-03 20:50] rgommers commented on #13080
yes and no - we do use `FFLAGS` and `LDFLAGS`, but the default behavior is to use those as as rather than append them to the defaults. It's unclear from your link to that patch if that's taken into account (probably yes though, since that's how it has always worked). If you want to use append behavior (which is what most users expect), then you need to set `NPY_DISTUTILS_APPEND_FLAGS=1`.

[2019-03-03 21:01] Whissi commented on #13080
Now I think I understand. OK, we will set `NPY_DISTUTILS_APPEND_FLAGS=1` in future but it has no effect on the current problem:

[build-error_py36_without_lapack-with-NPY_DISTUTILS_APPEND_FLAGS.txt](https://github.com/numpy/numpy/files/2923679/build-error_py36_without_lapack-with-NPY_DISTUTILS_APPEND_FLAGS.txt)

[2019-03-03 21:12] rgommers commented on #13080
Hmm, that last build log still doesn't contain `-g` and `-Wall` which should be there (they're gfortran `linker_so` flags defined in https://github.com/numpy/numpy/blob/master/numpy/distutils/fcompiler/gnu.py#L97. So not sure if the append behavior was changed there.

[code]
searching for this error, it's often caused by left-over object files from previous failed builds. Are you sure it's a clean

[2019-03-03 21:13] rgommers commented on #13080
not sure I'm on the right track there though, because the compile flags should not depend on whether parallel build is enabled. but still, it looks wrong

[2019-03-03 21:19] charris commented on #13081
Try
[code]

[2019-03-03 21:32] charris commented on #13081
You are computing the wrong things. `print(np.dot(M, result[-1]))` should be `print(np.dot(M.T, result[-1]))` in order to agree with the other computations. The "manual" computations are not matrix multiplication.

[code]

[2019-03-03 21:41] charris commented on #13080
I was wondering what Portage was doing, how it implements parallel builds, sets paths, etc.

[2019-03-03 23:18] Whissi commented on #13080
Don't focus too much on Gentoo. I can reproduce the same on latest Debian Stretch:

[code]

[build-error_py35_Debian.txt](https://github.com/numpy/numpy/files/2923822/build-error_py35_Debian.txt)

[2019-03-03 23:24] #13074 closed

[2019-03-03 23:25] Whissi commented on #13080
`export CC=...` seems to be enough. You don't even need to mess with FFLAGS or LDFLAGS.

[2019-03-04 00:46] rgommers commented on #12799
That is the correct thing to do; either that or specify *all* the linker flags you need in `LDFLAGS`.

So not a bug, but I'll leave this open because we should fix the docs (https://www.numpy.org/devdocs/reference/distutils.html should have an example with `LDFLAGS` and `NPY_DISTUTILS_APPEND_FLAGS`).

[2019-03-04 01:40] rgommers commented on #11927
Thanks for the report @giuliobenetti, and sorry it took a while to fix. Should be addressed by gh-13086

[2019-03-04 01:47] rgommers commented on #6324
Just came across this issue looking at `lapack_lite` related build issues. I think we should close this as wontfix. Rationale: `numpy.linalg` provides a subset of `scipy.linalg`, and `scipy.linalg.cython_blas/lapack` provides what is needed. Any new functionality should go there. This is hard to maintain functionality with few users, and duplicating it between numpy and scipy is simply not a good

[2019-03-04 02:20] charris commented on #13080
What about smaller number of builds? I run with `-j 4' all the time without problem, at leas installing from the repo.

[2019-03-04 02:21] rgommers commented on #13080
Okay I can reproduce this now, but it took a while. I only can reproduce it on current master for:

- building with `lapack_lite`
- using `export CC/LDFLAGS/FFLAGS`
- parallel build

[2019-03-04 03:54] #12659 closed

[2019-03-04 03:55] eric-wieser commented on #13062
Fixed in the above PR.

[2019-03-04 03:55] #13062 closed

[2019-03-04 03:56] eric-wieser commented on #13059
Looks related to gh-10814

[2019-03-04 03:58] eric-wieser commented on #13059
cc @juliantaylor

It looks to me like `HAVE_XGETBV` is being set incorrectly.

[2019-03-04 08:01] wedoslaw opened #13087 "np.random.choice does not raise the exception when size negative and replace=False"
np.random.choice does not raise the exception when size negative and replace=False

### Reproducing code example:
[code]
return (1999915,)

[code]
raise ValueError:
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "mtrand.pyx", line 1162, in mtrand.RandomState.choice
  File "mtrand.pyx", line 994, in mtrand.RandomState.randint
  File "mtrand.pyx", line 995, in mtrand

[2019-03-04 12:17] nilswagner opened #13088 "hashtag in headerlines"
The following csv file should be imported by genfromtxt.
[code]

### Reproducing code example:
[code]

### Error message:
[code]

### Numpy/Python version information:
Python 3.7.2 (default, Dec 29 2018, 06:19:36)

'1.15.4'

[2019-03-04 12:29] OmerJog commented on #3614
was this fixed?

[2019-03-04 12:48] jenshnielsen opened #13089 "Numpy 1.16 linspace fails for very large start stop values"
### Reproducing code example:
The following corner case works correctly with numpy 1.15.4 but raises an error with numpy 1.16.2
[code]

This was detected in a test with auto generated input using hypothesis to generate the input.

### Error message:

[code]
### Numpy/Python version information:

1.16.2 3.6.8 |Anaconda, Inc.| (default, Feb 21 2019, 18:30:04) [MSC v.1916 64 bit (AMD64)]

### Details

[2019-03-04 13:29] seberg commented on #3614
No, gh-13003 includes this fix, but I was travelling and on a small conference now, so I did not finish it up. I guess we will probably have it fixed soon. Does this affect you much?

[2019-03-04 15:49] ksunden commented on #13088
You can uses the `comments` argument to be something other than the default `"#"`

[2019-03-04 18:41] mhvk commented on #13089
Oops, that's an unexpected one. But fortunately easy to solve...

[2019-03-04 20:25] samuelstjean commented on #6750
I think that this super old thing is fixed now though and can probably be closed.

[2019-03-04 20:43] seberg commented on #6750
Yes, thanks for the note @samuelstjean.

[2019-03-04 20:43] #6750 closed

[2019-03-04 22:09] Rowing0914 commented on #13081
this worked!! thank you!

[2019-03-04 22:20] Rowing0914 commented on #13081
hmm,, I see. this worked as well..
I might have to check the implementation though, I had thought that inside `np.dot` it automatically transposed the given first argument's matrix.

[2019-03-04 22:25] mhvk commented on #6324
Agreed and I'll go ahead and close. I do think eventually it might make sense to more formally expose the generalized ufuncs around the LAPACK functions that we use ourselves. Furthermore, we perhaps could add a pointer to the documentation to those, since they provide nice examples on how best to wrap LAPACK functions inside numpy.

[2019-03-04 22:25] #6324 closed

[2019-03-04 22:28] mhvk commented on #13089
See #13092 for a possible fix.

[2019-03-04 23:28] concretevitamin commented on #5429
I've been hit by this issue as well, and it's a serious issue.

In my case, its manifestation is simpler.  I have a simple `ufunc` that expects a `np.datetime64` or an array thereof.  However, upon invocation, the arguments to the ufunc automatically get casts to its epoch num, something like `1548979200000000000`.

Anyone has a short-term efficient workaround?

[2019-03-05 00:49] charris commented on #13081
`np.dot` is plain old matrix multiplication for 2D matrices. You are probably thinking of the vector dot product, but NumPy only has one type of 1D vector, not Row and Column vectors, so even in that case there is no transpose.

[2019-03-05 01:18] rgommers commented on #13080
This is probably a duplicate of https://github.com/scipy/scipy/issues/7112#issuecomment-369993514. That comment has an explanation (handwaving, `distutils` parallelism bug rather than `numpy.distutils`).

[2019-03-05 03:53] eric-wieser commented on #9612
It looks like LGTM might not have this rule any more? That link seems not to point to anything any more.

[2019-03-05 04:22] Bharat123rox commented on #13087
Managed to reproduce this error in Numpy 1.16.1 as well

[code]
Python version: 3.6.8

[2019-03-05 04:43] tylerjereddy commented on #9612
hmm... I know there was some discussion over in SciPy about eventually adopting the custom checks interface for LGTM, so we may be able to add what we want eventually.

I think Ralf was rightly concerned about maintenance burden for that though--holding off until i.e., LGTM allows the config files to be shared between multiple projects in the Python ecosystem.

[2019-03-05 05:19] eric-wieser commented on #9612
I think this is something that used to be caught by lgtm but no longer is. Perhaps worth summoning a lgtm developer.

[2019-03-05 05:22] UKeyboard commented on #13042
@seberg Sorry for late reply. I tried the following code:
[code]
before noticing your suggestion and it did crash (as you say) at `power = (source - target)**2` due to the same reason.

As you can see, I got this very problem in my pytorch project. I don't need keras. And, the problem is only in my cpu code with numpy.  After I rebuilt all the code with pytorch functions, it works now.

I also try

[2019-03-05 06:13] tylerjereddy commented on #9612
cc @jhelie

[2019-03-05 06:14] tylerjereddy commented on #9612
I think Jean was / is working for LGTM so I've pinged him. I just meant that we could maybe reactive checks we need, eventually, if it is an issue.

[2019-03-05 06:44] toslunar opened #13094 "ndarray.T does not return self as doc says"
`x.T` seems returning *a view of* `x` if `x.ndim < 2`, while the documentation (https://www.numpy.org/devdocs/reference/generated/numpy.ndarray.T.html) says it returns "self".  To me it's not clear what is different between `x.T` and `x.transpose()` except for performance.

### Reproducing code example:

[code]

### Numpy/Python version information:
I checked two sets of versions:
[code]
and
[code

[2019-03-05 08:48] concretevitamin commented on #5610
Just got hit by this bug.  My use case is simple: `np.histogram(ndarray_of_datetime64)`.  Without being able to do this, I basically have no reason to use the datetime64 support.  Please fix!

[2019-03-05 08:51] jenshnielsen commented on #13089
@mhvk thanks looks good

[2019-03-05 09:13] Rowing0914 commented on #13081
Oh, I got it. Because I was not sure by just reading the document,, but now I know! thank you so much for helping me out.

[2019-03-05 09:23] eric-wieser commented on #5610
I think #12988 might address this.

[2019-03-05 09:38] eric-wieser commented on #5610
@concretevitamin: `np.histogram` will work fine as long as you compute the bins for it yourself. There are more thinks blocking that than just nan-checking. `linspace` is another.

[2019-03-05 09:52] andreas-schwab commented on #11831
This is still broken on all big-endian architectures.

[2019-03-05 10:27] seberg commented on #13094
Yes, you are right, the doc is probably outdated and should be updated. There is no difference, it is simply a convenience shorthand.

Want to create a PR?

[2019-03-05 12:42] jamesshapiro commented on #12992
I would also recommend https://serverless.com/blog/serverless-python-packaging/

Note that I had to add:

package:
  exclude:
    - venv/**

... to the end of my serverless.yml file in order to get the .zip file small enough to successfully load in Lambda.

[2019-03-05 14:50] #13081 closed

[2019-03-05 15:21] doanchientrinh opened #13098 "RuntimeWarning: Invalid value encountered in percentile"
I get this error when I run my code. I need your help. Thanks!
[code]

[2019-03-05 16:17] jhelie commented on #9612
I still am, thanks for pinging me :)
I think the query in question is this [one](https://lgtm.com/rules/10030095/). It is run but not displayed by default. As described [here](https://lgtm.com/help/lgtm/lgtm.yml-configuration-file#queries) you can make it visible by adding the following to your .lgtm.yml file:
[code]

Regarding for share-able custom [query packs](https://lgtm.com/help/lgtm/about-q

[2019-03-05 16:46] eric-wieser commented on #9612
Is there an easy way to get a list of all the queries that are disabled by default, so that we can decide which to enable?

[2019-03-05 22:44] eric-wieser commented on #5019
@shadchin: Can you link to an upstream bug?

[2019-03-05 23:37] concretevitamin commented on #5610
@eric-wieser Sure - make ndarray of datetime64 function more like first-class citizen will be welcome!

[2019-03-06 06:17] #13087 closed

[2019-03-06 06:29] mattip commented on #13012
The reports of this error have stopped flowing in. Closing.

[2019-03-06 06:29] #13012 closed

[2019-03-06 06:31] mattip commented on #12667
@ihnorton is there a way to do this from the command line or as a script (like `ldd` on linux)?

[2019-03-06 07:17] shadchin commented on #5019
I can show my mails from internal chanal
[code]
and
[code]

[2019-03-06 07:24] mattip commented on #13051
A couple of things might be happening.
- Something is affecting the [dll search order](https://docs.microsoft.com/en-us/windows/desktop/Dlls/dynamic-link-library-search-order). This might be offset by copying the dll from`'.lib` to `core` next to the `_multiarray_umath.pyd` file.
- Something in your embedded app uses a different runtime library which prevents loading numpy.

Can you use other c-ex

[2019-03-06 07:26] mattip commented on #12736
Closing. We now detect this and emit a better error message.

[2019-03-06 07:26] #12736 closed

[2019-03-06 07:30] mattip commented on #12957
Closing. Anaconda seems to have fixed the issue that caused this.

[2019-03-06 07:30] #12957 closed

[2019-03-06 07:30] mattip commented on #13009
Closing. Anaconda seems to have fixed the issue that caused this.

[2019-03-06 07:30] #13009 closed

[2019-03-06 07:37] mattip commented on #10273
Documentation additions for clarity are always welcome. Perhaps we should have an example with `b = a[:100].copy()` with an explanation why anyone would want to do that.

[2019-03-06 07:40] mattip commented on #13013
Which one of 1-4 is giving you trouble?

[2019-03-06 07:43] mattip commented on #13017
@antonio-catalano any progress?

[2019-03-06 07:59] mattip commented on #13088
using `comments='%'` gets the data parsed, but the `#N` is turned into `N`
[code]

[2019-03-06 08:39] tomerv commented on #10273
I support the suggestion to give b = a[:100].copy() as an example.

On Wed, Mar 6, 2019, 09:37 Matti Picus <notifications@github.com> wrote:

[2019-03-06 09:27] #13094 closed

[2019-03-06 09:29] #11927 closed

[2019-03-06 09:30] RichardEdye commented on #13051
Yes, importing lxml works with my app. And copying the DLL from .libs to core did not help. BTW, the pyd file in core is named "_multiarray_umath.cp36-win32.pyd".

If it helps, I can upload my app for testing.

[2019-03-06 09:36] mattip commented on #13051
a link to the app repo or a pastebin with the code might be helpful, but I don't really use Windows these days so it might take a while to look at.

[2019-03-06 09:43] aibaars commented on #9612
@eric-wieser I'm afraid there is no direct way to get exactly what you want.

You can find all python queries as follows: https://lgtm.com/search?q=language%3Apython&t=rules and check the value of `Displayed by default?` on each of the linked query details pages.

Another approach would be to enable all queries in `.lgtm.yml`:
[code]
That would make all alerts visible on the Alerts tab. You could

[2019-03-06 11:49] ihnorton commented on #12667
@mattip yes, dumpbin is a command line program. To do it from a python script there is a library called (something like) “petools” — you could check what the condabuild verifier uses.

[2019-03-06 12:02] antonio-catalano commented on #13017
I uninstalled Anaconda and then i reinstalled.
I know it's a brutal way but other methods didn't work.

Now it's ok.

[2019-03-06 12:10] mattip commented on #13017
Thanks for the update. Closing.

[2019-03-06 12:10] #13017 closed

[2019-03-06 16:24] jakirkham opened #13100 "ENH: `np.fix`, `np.isposinf`, and `np.isneginf` as ufuncs"
Am interested in using `np.fix`, `np.isposinf`, and `np.isneginf` as ordinary `ufunc`s. Since some of the work was already done by adding some deprecations in PR ( https://github.com/numpy/numpy/pull/8996 ), which landed in NumPy 1.13.0, am wondering if it would be possible to complete the conversion. Any thoughts on this?

cc @eric-wieser (who originated the aforementioned PR)

[2019-03-06 16:38] eric-wieser commented on #13100
It's not clear to me that converting every function to a unfunc is a good idea - they're harder to maintain than to the python functions. Can you summarize why you care whether these are ufuncs?

[2019-03-06 16:48] eric-wieser commented on #9612
Can I make a feature request to allow me to perform such a search? I think it's probably not worth the churn out temporarily committing the all-inclusive yaml to master to answer that question right now, and I imagine other projects feel the same way

[2019-03-06 17:35] aibaars commented on #9612
Yes you may, thanks for the feature request! In the mean time this should be the list of hidden python queries:

ID | Description
-- | --
py/hardcoded-credentials | Credentials are hard coded in the source code of the application.
py/jinja2/autoescape-false | Using jinja2 templates with 'autoescape=False' can cause a cross-site scripting vulnerability.
py/request-without-cert-validation | Making a

[2019-03-06 20:50] jakirkham commented on #13100
Did not know that. Thanks for the info.

The use of `__array_wrap__` with `np.fix` is making it difficult to use Dask ( https://github.com/dask/dask/issues/4496 ) with CuPy ( https://github.com/cupy/cupy/issues/589 ). Converting it to a `ufunc` would make this easier for both libraries to support by leveraging `__array_ufunc__`, which they both already support. AIUI this sort of use case was the [

[2019-03-06 20:55] eric-wieser commented on #13100
Right now, `isposinf(x, out)` is implemented as `nx.logical_and(nx.isinf(x), ~nx.signbit(x), out)` - you should be able to override `__array_ufunc__` for each item in turn.

Arguably we should replace `~` with `nx.logical_not` there.

[2019-03-06 20:59] oleksandr-pavlyk commented on #13053
The test builds a simple fortran extension that calls `SELECTED_REAL_KIND`, a [Fortran function](https://gcc.gnu.org/onlinedocs/gfortran/SELECTED_005fREAL_005fKIND.html) that returns Fortran kind of the real number that can accommodate given precision and range of floating point values.

Gnu Fortran [supports](https://gcc.gnu.org/onlinedocs/gfortran/KIND-Type-Parameters.html) real kinds 4, 8, 10,

[2019-03-06 21:18] jakirkham commented on #13100
Thanks @eric-wieser. Have confirmed these work fine locally with Dask.

Have re-scoped the issue to `np.fix` alone.

[2019-03-06 21:19] mattip commented on #13053
Maybe I don't understand the purpose of the test, but...
If it is important that `SELECTED_REAL_KIND` return 10 when 10 is input, then the test failure is accurate, the intel compiler fails this test. I don't know enough about the subject to say whether this can cause problems. If we can accept the intel behaviour, we should just remove the test altogether.

[2019-03-06 21:33] charris commented on #13053
@mattip That test has been a long term PITA and I've never been able to determine if it matters. If you search the issues you should be able to find other discussions. @pearu Thoughts? If worst comes to worst, we could try compiling and running a small fortran program as part of the compile, essentially doing what the test does as a part of the configuration.

[2019-03-06 21:36] oleksandr-pavlyk commented on #13053
`SELECTED_REAL_KIND` serves the purpose of automatically selecting the kind of real (type) of floating point variable that assuredly accommodates requested precision and range.  It's a convenience feature of the compiler. You can always choose a bigger type, and the only price you may pay in the application is performance and/or space. Intel Fortran compiler eliminated real kind 10 because it does

[2019-03-06 21:46] mattip commented on #13053
After looking through the issues, I don't understand why we need that test at all. It seems to be testing that a built-in function of the compiler works. Surely that is a compiler problem and not on NumPy to verify, especially if, as @oleksandr-pavlyk says, it doesn't really matter. If there is some quirk we need to work around, then I would understand but we have no issues opened due to the compi

[2019-03-06 21:46] charris commented on #13053
@oleksandr-pavlyk I thought is that it could matter in constructing an interface to the C based types supported by NumPy, and for integers that is likely a possibility, but floating point is a whole other can of worms.

[2019-03-06 22:26] oleksandr-pavlyk commented on #13053
@charris Real kind 10 is the [extended](https://stackoverflow.com/questions/11399178/how-to-use-and-verify-quad-precision-in-gfortran) 80-bit precision ([wiki](https://en.wikipedia.org/wiki/Extended_precision#x86_Extended_Precision_Format)). Is the corresponding numpy dtype `numpy.float96`?

[2019-03-06 22:31] pearu commented on #13053
@mattip in short, the test is needed for ensuring that f2py will produce extension modules that will not crash in certain situations. If the test fails, then this indicates that for given platform there exists a situation when the usage of the extension module will crash (with segfault, most probably). I'll skip the longer answer as the fix is simple, see below.

I am not convinced (yet) that this

[2019-03-06 22:36] pearu commented on #13053
@charris this test may fail also in future for platforms that have not been tested before. And the fix will be always the same: modify the `_selected_real_kind_func` in `crackfortran.py` file so that the test will pass.

[2019-03-06 22:40] charris commented on #13053
It is `float96` on 32 bit platforms and `float128` on 64 bit platforms. The different sizes result from different alignment on the two platforms.

[2019-03-06 22:53] oleksandr-pavlyk commented on #13053
@pearu The test is failing because Intel Fortran Compiler is being used, which does not provide for kind 10, using kind 16 instead. The script in crackfortran.py was written with Gnu Fotran compiler in mind.

To me this means that the `_selectedrealkind` needs to be aware that of the compiler as well as the platform.

[2019-03-06 22:53] mhvk commented on #13100
It is not so obvious to me that having very ufunc-like functions in python makes maintaining or using numpy easier...

Certainly, the python implementation of `isposinf` means the function is about 3 times slower than needed. Indeed,
[code]

Not sure whether it matters that much for `isposinf`, but for something a bit more commonly used like `isfinite` it might be worth it.

[2019-03-06 23:01] pearu commented on #13053
@oleksandr-pavlyk `selectedrealkind` output is *not* the subject to be changed. The `_selected_real_kind_func` must be changed to fix this issue. Btw, I wrote the crackfortran.py and I did not have only the Gnu Fortran in my mind.. :)

Note that we don't have information what is the actual output of `platform.machine()` where the test fails. However, it has been indicated that the platform is Arch

[2019-03-06 23:11] oleksandr-pavlyk commented on #13053
@pearu Yes, certainly. We apply the following change to `crackfortran.py` at Intel:

[code]

I realize we do not know the platform, I am just saying that with the current state `_selected_real_kind_func`, the test fails on `platform.machine()` evaluating to `x86_64` if an Intel Fortran Compiler is being used to compile `numpy/f2py/tests/src/kind/foo.f90`.

This happens because for p=17, `SELECTED_

[2019-03-06 23:28] pearu commented on #13053
If KIND 10 was removed from hardware, how GnuFortran compiler would still return 10 on the same hardware? This does not make sense to me.

OK, if the result of `_selected_real_kind_func` has to be also compiler dependent, then this is a more fundamental problem as f2py would need to know the used compiler at the stage of constructing the extension module (currently, f2py does not use the compiler

[2019-03-06 23:58] charris commented on #13053
@oleksandr-pavlyk Does Intel support true IEEE128, or is it IEEE80 stored in 16 bytes? AFAICT, there is no hardware support for quad precision on X86_64. I know it can be done with software support, as SPARC does and that there are libraries for that and some new platforms offer it. Note that currently
[code]
I wonder if maybe we should adjust `p < 19` ? Also, quad precision is something like 32 d

[2019-03-07 02:21] oleksandr-pavlyk commented on #13053
@charris Let me pose this question to more knowledgeable people and get back to you with an answer.

[2019-03-07 05:56] kkonevets opened #13101 "np.nan astype np.int32 gives -2147483648"
Converting nan to int32 succeeds

### Reproducing code example:

[code]
outputs
array([-2147483648], dtype=int32)

### Error message:

### Numpy/Python version information:
np.__version__ == '1.16.1'

[2019-03-07 06:15] shivasaxena23 commented on #10714
I would recommend performing **conda install -c anaconda numpy** which upgraded the previously buggy numpy.

[2019-03-07 06:45] eric-wieser commented on #13101
Emitting a `RuntimeWarning` would probably be a good idea here

[2019-03-07 06:48] eric-wieser commented on #12987
@gowthamcr: Ignoring @seberg's confusion, this is indended behavior, so I'm closing this issue.

You should be using `np.set_printoptions(threshold=sys.maxsize)`, the code you have was never how threshold was intended to be used.

[2019-03-07 06:48] #12987 closed

[2019-03-07 06:49] kkonevets commented on #13101
My suggestion is to convert np.nan to np.nan as with float32
[code]

[2019-03-07 06:59] eric-wieser commented on #12935
A slightly easier to run test:
[code]
Which on my machine (windows 10 x64) gives:
[code]

[2019-03-07 07:10] eric-wieser commented on #13100
@jakirkham: `fix` is once again bitten by the annoying behavior of 0d arrays being unpacked to scalars - that's why that `asanyarray` call is there:
[code]

Perhaps we need to add the following:
* A `decay=True` argument to `ufunc.__call__`, where passing `False` disables this unpacking
* An `__array_decay_to_scalar__` protocol, which implements the current unpacking
* An `np.core.decay_to_scalar(

[2019-03-07 07:13] eric-wieser commented on #13101
Integers can't store `nan` though? That's like saying `np.array(2).astype(bool)` should give 2.

[2019-03-07 09:26] DeltaProg commented on #12374
The similar problem with the follwoing setup: Win10 x64, conda=4.6.7, python=3.6
Example:
[code]
I tried different numpy versions by
`conda install numpy=x.xx.x`
The problem happens when mkl is updated, and disappears when it's downgraded. So np 1.15.4 can work with both mkl packages, but CPU usage is higher with newer mkl:
[code]

On two intel machine (i7-6700k) CPU usage increases from 15% to 52

[2019-03-07 09:41] roelverh opened #13102 "numpy power command has errors with integer input"
when raising an integer to a power and the answer gets large, enourmous errors result.

[code]

### Error message:
this results in output:

1874919424
1e+16

### Numpy/Python version information:

[2019-03-07 09:42] roelverh commented on #13102
Numpy version 1.15.4

[2019-03-07 10:21] zbtong6799 commented on #12987
my English not so good.
Please import sys
then replace “np.set_printoptions(threshold=np.nan)“ with ”np.set_printoptions(threshold=sys.maxsize)”

[2019-03-07 10:26] bmakos commented on #13013
@high-in-entropy do you still want to work on this? If not I'd like to give it a shot, I also never updated the documentation - would be nice to learn.

[2019-03-07 11:02] high-in-entropy commented on #13013
@bmakos  Yes please go on.

[2019-03-07 12:22] seberg commented on #13100
Just so everyone is on the same page, what happens is that ufuncs and many other functions use the `PyArray_Return` function. That converts 0-D arrays to scalars. Just as everything else, ufuncs internally only use arrays, so would otherwise naturally return arrays always.

Not sure I like the name `decay` but exposing a way to circumvent `PyArray_Return` would make life easier/things more consist

[2019-03-07 14:53] seberg commented on #13059
Isn't the issue that `__builtin_cpu_supports` does not return 0? The CPU does seem to support AVX, but if a xgetbv fails is that really an issue with calling xgetbv or an issue of the VM claiming to support AVX when it does not?

[2019-03-07 15:04] mhvk commented on #13100
And there I just spent half an hour [figuring out where this unpacking happens](https://github.com/numpy/numpy/pull/13092#issuecomment-470552955) - if only I had checked all my e-mail! For ufuncs, `__array_wrap__ = None` will prevent the decay. Possibly, this can be generalized?

Though I agree with @seberg that we ideally just get rid of this behaviour (I tried for just the ufuncs, and lots of fa

[2019-03-07 21:00] mspacek commented on #12935
@eric-wieser, the above code on my 64 bit Xubuntu 16.04 (Python 3.5.2, numpy 1.15.4) Thinkpad 6th gen i7 gives:

[code]
I can't pretend to understand what's going on, but it's clearly a different result from your windows machine.

[code]

[2019-03-08 04:33] iabraham commented on #13053
Got the same error on Conda version 4.6.7. Created vanilla python environment using following yaml file to see if the Intel Python was actually better:

[code]
Then just activated environment, imported numpy and ran `numpy.test('full')`.

[code]

[2019-03-08 04:42] iabraham commented on #13053
For comparison I was running a Continuum managed environment, which also spewed another error (which might require opening a new issue because I currently can't find any)":

[code]

[2019-03-08 09:29] stuartarchibald opened #13103 "ediff1d with np.nan in to_begin/to_end, behaviour and error messages"
Making https://github.com/numpy/numpy/pull/12713#issuecomment-470079405 into an issue...

Patch #12713 will cause an exception to be raised in the case of a NaN in the `to_begin/to_end` arrays. Numba unit tests caught this change when updating to support 1.16 series https://github.com/numba/numba/pull/3826.

### Reproducing code example:

[code]
### Error message:
[code]
because of lines like this

[2019-03-08 11:58] pearu commented on #13053
This is *not* the same error, see above the original failure: `selectedrealkind(16): expected 10 but got 16`.

[2019-03-08 12:06] pearu commented on #13053
So, in this case, the KIND 10 exists in Intel compiler. @iabraham , what does
[code]
show in your case?

Can you check if crackfortran.py uses `_selected_real_kind_func_intel`?

[2019-03-08 12:50] iabraham commented on #13053
I am on `x86_64` but I was using Anaconda as package manager, so I don't think I have the source `crackfortran.py` explicitly on my system. I do have a `f2py` binary in the bin folder under the environment.

[2019-03-08 13:23] pearu commented on #13053
@iabraham , try:
[code]

[2019-03-08 15:03] iabraham commented on #13053
Okay that returns:

[code]

[2019-03-08 15:18] pearu commented on #13053
So, this shows that this particular Intel compiler supports KIND 10 and using `_selected_real_kind_func_intel` is wrong for this intel compiler version.

The question now is which version of intel compilers removed KIND 10?

[2019-03-08 16:07] bmakos commented on #13013
@mattip

I am struggling with the link from [c-api.array.rst](http://www.numpy.org/devdocs/reference/c-api.array.html?highlight=pyarray_simplenewfromdata#creating-arrays) to [c-info.how-to-extend.rst](http://www.numpy.org/devdocs/user/c-info.how-to-extend.html#dealing-with-array-objects).

I changed the code of [doc/source/user/c-info.how-to-extend.rst](http://www.numpy.org/devdocs/user/c-info.how

[2019-03-08 16:57] oleksandr-pavlyk commented on #13053
@pearu Sorry about the confusion this may have caused. The change to use `_selected_real_kind_func_intel` in the patches is unconditional, but it should be conditioned on the use of Intel Fortran compiler.  In this case, @iabraham probably has Gnu Fortran installed, and it gets used to build the extension.

Is there a way to confirm this?

[2019-03-08 17:26] oleksandr-pavlyk commented on #13053
I started to doubt myself, so I whipped up a small reproducer, based on `numpy/f2py/tests/src/kind/foo.f90`:

[code]

And compiled it so:

[code]

This is the output:

[code]

Confirming the discrepancy.

[2019-03-08 19:55] oleksandr-pavlyk commented on #13053
@charris Regarding your question, Intel supports true IEEE128 floating point numbers, but most likely emulated via software, at least [it used to be this way some time ago](https://software.intel.com/en-us/forums/intel-fortran-compiler-for-linux-and-mac-os-x/topic/358476).

[2019-03-08 20:43] charris commented on #13053
@oleksandr-pavlyk Hmm, that presents a bit of a problem for the NumPy interface unless Intel C long double is also true IEEE128. That said, quad precision isn't really needed for most applications.

[2019-03-08 21:41] koliza commented on #12744
Hi, have the same problem. Just update all packages.

`Successfully installed PyWavelets-1.0.2 backports.functools-lru-cache-1.5 cloudpickle-0.8.0 cycler-0.10.0 dask-1.1.3 decorator-4.3.2 kiwisolver-1.0.1 matplotlib-2.2.4 networkx-2.2 numpy-1.16.2 pillow-5.4.1 pyparsing-2.3.1 python-dateutil-2.8.0 pytz-2018.9 scikit-image-0.14.2 scipy-1.2.1 setuptools-40.8.0 six-1.12.0 subprocess32-3.5.3 toolz-0.9

[2019-03-09 00:13] stefanv commented on #12744
Please report the output of the following:

[code]

[2019-03-09 05:25] mattip commented on #13013
You need to use backticks around the function name
[code]

[2019-03-09 09:28] koliza commented on #12744
I have this

`ImportError: cannot import name '_validate_lengths' from 'numpy.lib.arraypad' (/home/liza/anaconda3/lib/python3.7/site-packages/numpy/lib/arraypad.py)`

[2019-03-09 10:23] FabianSchuetze commented on #8710
I would be glad about this features. As I was thinking of trying to contribute to numpy for some time, would somebody mind if I simply tried to implement the feature according to the [development workflow](https://docs.scipy.org/doc/numpy-1.15.1/dev/gitwash/development_workflow.html)?

[2019-03-09 12:11] bmakos commented on #13013
Yes, I used the backticks in the source, I used normal ones here for comment because the code segment is between backticks...

[2019-03-09 16:20] mattip commented on #12744
@stefanv would it make sense if he has scikit-image-0.14.2 (in the comment just before yours)?

[2019-03-09 16:24] stefanv commented on #12744
Sorry, my brain was clearly on holiday.

0.14.2 fixed this problem, so I imagine another version of the library is being imported. But I don't know how to show that, given that the previous comment states the opposite.

[2019-03-09 16:24] mattip commented on #13013
Weird. Can you push your branch to your fork of the repo so I can take a look?

[2019-03-09 20:09] koliza commented on #12744
I have already solved this problem, just use `conda install -c conda-forge scikit-image`, not `pip install -U scikit-image`

[2019-03-10 10:04] #13089 closed

[2019-03-10 10:12] #8058 closed

[2019-03-10 18:25] subhrm commented on #13102
The integer data type uses 32 bits , so it can effectively store values in range -2^31 to +2^31. Trying to put a higher value into the int32 field causes overflow. In this case this result is (100^8)%(2^31). See : [Wolfram Alpha Calculator](http://m.wolframalpha.com/input/?i=%28100%5E8%29+mod+%282%5E31%29)

[2019-03-11 01:48] eric-wieser opened #13105 "ENH: Provide a way to disable flattening of 0d arrays to scalars"
If only given 0d inputs, even if they are of type `ndarray`, ufuncs will decay their output to a scalar via `[()]` (as noted in #4563, #5819). While we can't change this behavior now without creating signficant pain downstream, we could add a way to opt out of it.

#13100 raises a case where `np.fix` resorts to calling `np.asanyarray(np.ceil(x, out=out))` in order to ensure that the result is an a

[2019-03-11 01:50] eric-wieser commented on #13100
@mhvk, @seberg: Created a new issue at #13105 with my proposal, rather than having this discussion in a place that no-one will ever find again.

[2019-03-11 02:05] eric-wieser commented on #13103
Based on this bug report, I think #12713 was a mistake - I don't think we can meaningfully detect the different between poorly-casted input that the user wasn't expecting (as in #11490) and deliberately sloppy casting that the user wants to keep working (as in #12711).

I think the best approach here is to revert #12713, and either:
* tell our users to just fix their casting via the existing error

[2019-03-11 02:22] rgommers commented on #13105
This is a pretty ugly workaround for an inconsistency in the current design. An alternative would be to simply make it a breaking change at some point. Possibly in combination with doing something about array scalars?

[2019-03-11 02:40] eric-wieser commented on #13105
I agree it's a workaround, but it has some nice properties:
* It provides a transition strategy - we could:
  * Introduce the argument with a default of `True`
  * Start warning if the argument is not passed explicitly
  * Change the default to `False`
* It allows us to fix the problems with functions like `np.fix` on duck-types sooner, rather than waiting until we have a coherent design for how t

[2019-03-11 05:56] bmakos commented on #13013
I will push it when I get home in a few days. Thank you!

[2019-03-11 09:11] seberg commented on #13105
At least the `unpack_scalars` name sounds much nicer to me ;) (I think it maybe should be singular, but nitting).

I agree it is very ugly, but unless we think we can pull off some incompatible break which fixes this sooner rather than later it may be a practical path. If you really want to be complete we would be adding kwargs all over the python API (possibly even adding inconsistencies with the

[2019-03-11 11:06] mattip commented on #13103
So we have conflicting needs. In 1.14.0 the following all worked:
[code]
If we revert #12713, do we revert #11805?

[2019-03-11 15:07] javidcf opened #13106 "Unexpected result for 32-bit right shift on uint32"
Taken from this StackOverflow question: [Why is (2^31) >> 32 not 0?](https://stackoverflow.com/q/55097508)

A 32-bit right shift applied to a uint32 array with the value 2<sup>31</sup> in it produces an array with the value 2147483648 instead of 0. Interestingly, when the operation is applied to a scalar with the same value the result is 0.

As discussed in the linked question, this probably has t

[2019-03-11 16:03] rgommers commented on #13105
more like, it makes it quite a bit harder to make a change later, since we then have keywords that we'd like to remove again but they now have users

sounds like something to avoid ....

I think the gain for most end users is fairly minimal, however for libraries that implement array-like data structures or ndarray subclasses it would be very nice to fix this. A NEP to give more context here and d

[2019-03-11 16:34] eric-wieser commented on #13105
One possible alternative would be to instead spell it as `out=np.leave_wrapped`, which would reduce the number of argument lists that need changing.

[2019-03-11 16:37] eric-wieser commented on #13106
The scalar behaves differently because the types are promoted to int64. You'll get consistent behavior if you change the this to `<< np.uint32(32)`

[2019-03-11 17:08] javidcf commented on #13106
@eric-wieser Thanks for the answer, I see, you are right. I thought type coercion would work the same for scalars and arrays, but I see it kind of inverts the priorities wrt Python values: with arrays, Python values are converted to NumPy type, and for primitives NumPy values are converted to the bigger Python type (more or less?). It is somewhat confusing/surprising but I can see the reasons for

[2019-03-11 17:15] bersbersbers commented on #13106
Thanks for the explanation. Just to prevent early closing of this issue: regardless of the consistency issue, I feel that the behavior of `np.array([2 ** 31], dtype=np.uint32) >> 32` should be fixed or documented.

[2019-03-11 17:28] rgommers commented on #13105
that doesn't really work. in particular, warning if the argument is not passed in is not a good idea. you would be forcing every single user to specify this argument. that's way worse than a breaking change.

or maybe you meant, only warn if the argument is not passed *and* a 0-d array is passed in? that's better but also tricky, because very few people will be testing with 0-d arrays in the first

[2019-03-11 20:21] kurtqq commented on #2504
Is there intention to fix this?

[2019-03-11 20:48] l0calh05t commented on #13106
While the promotion to `numpy.int64` is not an issue, I agree with @bersbersbers that the leaky abstraction of C shifts should at the very least be documented. But preferably, it should be checked, as allowing undefined behavior through from the Python side is not a good idea.

[2019-03-11 21:10] charris commented on #13106
There are two things involved here: C and promotion, and both have come up before. There is a languishing PR, #7473, for the C side, and it would be nice to avoid the promotion problem when defining the ufunc, giving priority to the value being shifted, but that is a trickier problem.

[2019-03-11 22:38] seberg commented on #13105
@rgommers if out is supplied, it is used. Thus, conversion to scalars does not happen anyway in that case (and things are well behaved in that sense). So, I do think that such an overloading could probably cover all cases, and is thus likely a better hack than a new kwarg everywhere (some functions might still need to have `out` added though!).

[2019-03-11 22:38] charris commented on #13105
Might add this to the breaking changes doc: https://github.com/numpy/numpy/wiki/Backwards-incompatible-ideas-for-a-major-release

[2019-03-12 02:35] Gpwner commented on #11871
I finally figure it out，It is because the numpy version is too low,upgrade numpy to 1.16.2,and everything is fine

[2019-03-12 09:56] hameerabbasi commented on #12130
Can be closed ad #13071 was merged?

[2019-03-12 11:54] ananyaarun commented on #12310
@mhvk , I'd like to work on this issue. I read the thread and got a bit of an idea as to what is expected. Could you elaborate a bit more on where exactly the documentation will be added ? Thanks :)

[2019-03-12 13:51] mhvk commented on #12310
@ananyaarun - help would be appreciated!  But I find it difficult to state exactly where things should be documented, as really it should be wherever people who run into this would look, and I know things too well.  But my overall sense would be that the shift functions gain a `Notes` section which warns generically about types and references the casting documentation. That, in turn, probably shou

[2019-03-12 15:42] #12130 closed

[2019-03-12 18:39] sedefe opened #13110 "Wrong std for implicitly complex input"
Standart deviation formula could give unexpected result (e.g. imaginary values) when input is implicitly complex.

### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:
numpy 1.16.2
python 3.7

res=0.5j, dtype=object
res=0.5, dtype=complex128

[2019-03-12 19:15] eric-wieser commented on #13110
I'd bet this is a somewhat pervasive issue...

[2019-03-12 20:08] ewmoore commented on #13110
I’m not sure that you could make object arrays still useful and prevent this kind of thing.

Types can only help you if you actually use them. Making an object array is opting out of that help.

[2019-03-12 21:45] mhvk commented on #13105
I'm not sure at all I like the new keyword. Perhaps also good to think why we may want it:
1. Here, the scalar fed into `out` is immutable; CPython solves a similar problem by turning cases like `a += 1` into `a = a+1` if `a` is immutable. Might this be a solution? (Probably more of a breaking change, but putting it out there...)
2. In other functions, we count on the output of ufuncs applied to a

[2019-03-13 02:43] qynkws commented on #11871
numpy的卸载再更新升级

[2019-03-13 05:39] karunagoyalk commented on #13013
Hey!
I would like to work on this issue! Can I go ahead?

[2019-03-13 05:48] bmakos commented on #13013
I wanted to send a pr tomorrow for it. I am away from home for a few days without pc, returning today. Did you try to do the changes and the links worked for you?

[2019-03-13 08:31] seberg commented on #13105
@mhvk, I might agree with preserving scalars that were given in (though there are rough edges around non-numpy scalars maybe), and I think that reductions with `None` should return scalars in a "minimal" scenario. Of course all of that is up for a lot of discussion, and the alternative would be that in the long run we want only arrays.
That, however, is at least more difficult in the sense that we

[2019-03-13 08:34] seberg commented on #13105
Sorry, addendum: I think Eric's idea of using a singleton to signal "please return arrays" should be able to replace all occurrences where `out=scalar` would help. I see two possibilities:
  1. You may not actually use `out` otherwise, so not really a point in providing a dummy scalar.
  2.  You were already using `out` (and `out` must be an array), either there is no issue, or you had an issue in

[2019-03-13 09:53] amureki commented on #12736
Just a small update for everyone who is using Travis and struggling with this issue and can't figure out the root cause (as we did).

Travis preinstalls 1.15.2 on Trusty and Precise build environments:
https://docs.travis-ci.com/user/reference/precise
https://docs.travis-ci.com/user/reference/trusty
(search for numpy)

So, as advised above, the next Travis config will help you:
[code]

I cannot sa

[2019-03-13 14:01] mhvk commented on #13105
@seberg - thanks for reminding of @eric-wieser's second suggestion, of using a special singleton for `out` to prevent unwrapping. That idea indeed might work, and feels reasonably logical in that you then use `out` either to provide storage, or to tell something about the type of output you want.

About the special value: currently, the documentation states:
"""
The ‘out’ keyword argument is expec

[2019-03-13 15:21] eric-wieser commented on #13105
That's a really good argument for using the `out` argument to indicate whether to unpack - it allows us to enable it per output for multi-output ufuncs.

[2019-03-13 17:09] anntzer opened #13112 "shape-1 fields in dtypes are collapsed to scalars"
Consider the following example
[code]
This prints
[code]
i.e. the `("c", int, 1)` field is treated as a scalar, but not the `("d", int, (1,))` field.

While a careful reading of https://docs.scipy.org/doc/numpy/reference/arrays.dtypes.html does show that this behavior is documented ("Note that a 3-tuple with a third argument equal to 1 is equivalent to a 2-tuple."), it looks a bit contrary to norm

[2019-03-13 17:27] eric-wieser commented on #13112
I'd be in favor of deprecating this - I introduced a bug internally thanks to this at some point.

[2019-03-13 17:31] anntzer commented on #13112
(The nice thing is that a deprecation path is available: if one passes 1 as shape, emit a warning asking to either use () [or no shape at all] or (1,) depending on what they want).

[2019-03-13 17:52] catrueeb commented on #10714
@bigonez Is this a permanent fix? Or is it only working for the base environment. I feel like adding the environment variable path to the base environment might confuse pycharm etc. when working with other environments, no?

[2019-03-13 19:49] stefanv opened #13113 "Document polynomial submodule"
Currently, the `numpy.polynomial` docstring [does not provide a lot of guidance](https://www.numpy.org/devdocs/reference/routines.polynomials.html) on which functions to use.  As such, users sometimes end up using `numpy.polynomial.polynomial' and other deeper nested functionality.

We could model a docstring after, e.g., https://github.com/scipy/scipy/blob/master/scipy/interpolate/__init__.py, wh

[2019-03-13 20:46] mattip opened #13114 "DOC: missing references when using -n in sphinx-build"
Started in #13104, turned into a tracking issue here.

Turning on -n in sphinx-build results in over 1000 warnings about bad references in docs. Trying to break these down with various grep statements, it seems about 200 are from numpy.ma, about 150 from polynomial and about 150 from c:type. That is under half of the WARNINGS.

~My workflow is to cd to the `doc` directory, modify the `ALLSPHINXOPT

[2019-03-13 21:07] marisbeautypalace commented on #12977
Hello,

I have the same issue and tried it with 3.7 and 3.6 enviroment. But there is still the following error:

 **from keras.models import Sequential**

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'

`!pip uninstall numpy`
d

[2019-03-13 21:21] marisbeautypalace commented on #12977
Okay, sorry guy's I solved the problem. Maybe it will help you:
Update to the latest version of numpy :D
`!pip install --upgrade numpy`

[2019-03-13 21:21] devayanipowar commented on #13114
I would like to contribute to this , I am just confused about what exactly to look upon

[2019-03-13 21:37] mattip commented on #13114
did you try to follow the steps above? Then you should look at the lines of /tmp/build.txt that have the WARNING in them

[2019-03-13 21:45] #11980 closed

[2019-03-14 01:07] Jenniline commented on #13114
I will like to contribute to this

[2019-03-14 06:35] escorciav commented on #8317
Similar to [leachim](https://github.com/numpy/numpy/issues/8317#issuecomment-436718241) I faced this bug recently. Is there a way to get this fixed?

[2019-03-14 07:52] pol690 commented on #12744
That solved it for me

[2019-03-14 09:12] #7485 closed

[2019-03-14 10:04] bmakos commented on #13013
I re-did the changes and now linking seems to work. Should I try to merge the descriptions?

[2019-03-14 10:09] mattip commented on #13013
+1. The general idea in my opinion is that we need a concise and accurate technical description of the functions and their parameters, (those should be in `c-api.array.rst`), and a higher level, wordier first-user description (those should stay in `c-info.how-to-extend.rst`

[2019-03-14 14:22] iago-lito opened #13120 "Multivariate Legendre polynomials"
As found on the help pages for [Legendre](https://docs.scipy.org/doc/numpy-1.16.0/reference/routines.polynomials.legendre.html) module:

function | description
-- | --
legval(x, c[, tensor]) | Evaluate a Legendre series at points x.
legval2d(x, y, c) | Evaluate a 2-D Legendre series at points (x, y).
legval3d(x, y, z, c) | Evaluate a 3-D Legendre series at points (x, y, z).
leggrid2d(x, y, c) | Ev

[2019-03-14 15:45] clbarnes opened #13121 "ENH: RandomState should expose an API as similar as possible to numpy.random"
As far as possible, an instance of `RandomState` should be a drop-in replacement for the `numpy.random` module, so that they can be passed transparently into a randomising procedure without having to make sure which methods the procedure is calling.

There exist a number of aliases for `np.random.random_sample` which are not present in `RandomState`:

- `ranf`
- `sample`
- `random`

`random`, in p

[2019-03-14 15:55] eric-wieser commented on #13120
Yes, such a function is very easy to write - take a look at #13107 for how those functions are implemented.

I've deliberately avoiding exposing `valnd` publicly yet, since in my opinion the polynomial API needs refining into an approach with a less repetitive API surface.

[2019-03-14 16:00] eric-wieser commented on #13121
In some sense I'd consider the status quo a feature, since _"There should be one-- and preferably only one --obvious way to do it."_.

We're stuck with the old aliases because removing them would break existing code, but i'd prefer not to add new ones.

[2019-03-14 16:03] clbarnes commented on #13121
I agree with that, it's just a pain that so much code is using the `random` alias, in particular. I'm happy for this to be closed if the simplicity is a greater concern than compatibility.

[2019-03-14 16:25] eric-wieser commented on #13121
Would your particular problem be solved by us providing a `get_random_state` method returning the global instance use by the module-level functions?

[2019-03-14 17:18] clbarnes commented on #13121
Yes, I think so - the issue is allowing library functions to use their own `RandomState` instance if given a seed, and the global one if not. If we could use the actual global `RandomState` instance instead of the free-floating aliases to its methods, then obviously the same interface is guaranteed (it just means refactoring legacy code to not use the `random_sample` aliases).

[2019-03-14 17:28] RyanGutenkunst opened #13122 "f2py hangs if called in imported file"
This appears to be a complex issue, perhaps because I'm using f2py is a non-standard way. The backstory is that my software (SloppyCell) dynamically generates certain C functions that we link into python using f2py. To accomplish this, the .c and .pyf files are written to disk, then f2py is called using numpy.f2py.f2py2e.run_compile(), after munging sys.argv to make it match an f2py call. This rec

[2019-03-14 18:05] mseth10 opened #13123 "Slicing with negative step does not output 0th index element"
When slicing with negative step, there is no way to include the 0-th index element.
end = 0 returns elements till index 1. end = -1 instead of returning elements till index 0 returns an empty array.

### Reproducing code example:

[code]

Expected output:
[code]

### Numpy/Python version information:

1.14.3 3.6.5 |Anaconda, Inc.| (default, Apr 26 2018, 08:42:37)
[GCC 4.2.1 Compatible Clang 4.0.1

[2019-03-14 18:43] clbarnes commented on #13123
Your examples are consistent with python's slicing of lists. Breaking with that would be a bad idea for numpy.

Your second example is the correct behaviour - your expected output would be wrong. You start from element 2 (3rd, because of 0-base indexing) and go to element -1 (4th, because of negative indexing). But you want a negative step. There's no way to get from the 3rd to the 4th element by

[2019-03-14 19:08] mseth10 commented on #13123
Thanks for your response. I understand how numpy supports this edge case. Closing the issue.

[2019-03-14 19:08] #13123 closed

[2019-03-14 19:18] anirudh2290 commented on #13123
Thanks @clbarnes ! That was very quick and helpful.

[2019-03-14 22:13] mlsmall commented on #12825
Update numpy with pip and it will work:

pip install --upgrade numpy

[2019-03-15 00:25] kobilinux commented on #12977
​
Hi
Thank you for sending me this mail.
Help each other to share difficult problem solving with each other
Let's do it. Have a nice day today.
The world is yours. : D
-----Original Message-----
From: "mario"<notifications@github.com>
To: "numpy/numpy"<numpy@noreply.github.com>;
Cc: "kobilinux"<javabook@naver.com>; "Comment"<comment@noreply.github.com>;
Sent: 2019-03-14 (목) 06:21:15 (GMT+09:00)
Su

[2019-03-15 05:25] eric-wieser opened #13129 "DOC: Merge together DISTUTILS.rst.txt#template-files" and distutils.rst#conversion-of-src-files"
A follow-up to #11689.

These two sections describe the same distutils feature, but in different ways. It would be good to unify them.

[2019-03-15 05:59] mattip commented on #13129
The two sections are rendered [here](http://www.numpy.org/devdocs/reference/distutils_guide.html#template-files) and [here](http://www.numpy.org/devdocs/reference/distutils.html#other-files)

[2019-03-15 06:08] mattip commented on #12977
Closing. Hopefully these problems have been solved on the Anaconda side, and some of the suggestions here seem suboptimal. The best solution seems to be
[code]

[2019-03-15 06:08] #12977 closed

[2019-03-15 07:55] eric-wieser commented on #13110
@ewmoore: The only reason this is a problem is an incorrect optimization that avoids calling `conjugate` on non-complex arrays (which would make an unnecessary copy). If the optimization is reframed as avoiding calling conjugate on `floating` or `integer` arrays, then this problem would go away.

[2019-03-15 08:27] seberg commented on #13110
I think conjugate on object used to be broken, but it is not anymore, so we should fix this!

[2019-03-15 13:56] ewmoore commented on #13110
@eric-wieser, sorry for the noise then.  I didn't look, and assumed what the bug was.

[2019-03-15 14:17] seberg commented on #13110
Hmmm, of course fixing it could in principle break arrays with object types that do not support `.conjugate()`, although `decimal.Decimal` and the built-in numerical types all do (at least by now) I believe.

[2019-03-15 16:19] gasparka opened #13133 "isinistance(np.float32, float) is false"
I am trying to test if an array contains floats, but ran info following behavior:
[code]

Is this expected?
Workaround is to use ```np.floating``` instead of ```float```, but IMHO this is not intuitive.

### Numpy/Python version information:

1.16.2 3.7.2 (default, Jan 10 2019, 23:51:51)
[GCC 8.2.1 20181127]

[2019-03-15 16:20] eric-wieser commented on #13133
I'd actually like to make the first two cases fail too...

[2019-03-15 16:29] gasparka commented on #13133
+1 for consistency.
 I had this snipped in a production code - worked fine with ```float64``` and then surprisingly failed with ```float32```.

Is there a better way to test for data-type? My application is quite common:
[code]

[2019-03-15 21:08] tylerjereddy commented on #8780
There's a [comment suggesting the correct behavior](https://github.com/numpy/numpy/pull/11851#issuecomment-429646796) in the linked PR I've now closed, and the title of this issue is now apparently the behavior we don't want to allow.

If there's consensus on that, someone is free to make a new PR with the error handling / behavior enforcement when trying to do this kind of assignment.

[2019-03-15 22:00] esansraja opened #13135 "Trying to use Numpy package as zip instead of installing NUMPy"
### Reproducing code example:

Hi All,
 We had to use 'numpy' in one of my program  and run the script on cloud server (IBM), where we can't install stuff.
IBM is supporting only the standard python libraries and for  non standard packages, advised  us to zip the required packages as zip file and copy it along with the script in the server location. This technique has worked for other packages but

[2019-03-15 22:13] rgommers commented on #13135
that could work, if you have a working install on the same type of OS/hardware. Since you are missing a key binary, you either didn't have it working on the system you copied from, or didn't make a complete copy.

[2019-03-15 22:13] #13135 closed

[2019-03-16 04:06] Kai-Striega commented on #13102
To expand @subhrm's answer a little, the error you encountered occurs due to an [Integer Overflow](https://en.wikipedia.org/wiki/Integer_overflow). This does not occur for python integers, but, may occur in Numpy due to how they treat [integers](https://stackoverflow.com/a/38156630).

Python's int size is flexible, meaning they may grow to accommodate any sized int. OTOH, NumPy's ints are of a fix

[2019-03-16 14:52] franciscogarate opened #13138 "random.gamma incorrect results"
In addition to parameterization (see: https://github.com/numpy/numpy/issues/3928), ``numpy.random.gamma`` has an incorrect result, not aligned with ``scipy.stats.gamma``. Please check example below:
Numpy version: 1.15.2
Scipy version: 1.1.0

### Code example:

[code]
<pre>
2800.0 1058.3005244258363
2800.0 1058.3005244258363
2800.0 1058.3005244258363
2800.0 1058.3005244258363
percentile:
---------

[2019-03-16 15:11] hacousin opened #13139 "Problem with import numpy"
### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:

I tried to run" import numpy as np" but it shows me an error message. I uninstalled and reinstalled 2 times but the problem is still present. I installed anaconda via the site : "https://www.anaconda.com/distribution/" and I launched the launcher for the installed one.The message is :

ImportError:

I

[2019-03-16 15:15] charris commented on #13139
Duplicate, see #13017, #12977.

[2019-03-16 15:15] #13139 closed

[2019-03-16 15:18] hacousin commented on #13139
Ok ty

[2019-03-16 17:14] #12050 closed

[2019-03-16 17:24] mattip commented on #13133
[code]

[2019-03-16 17:27] eric-wieser commented on #13133
`issubclass(a.dtype.type, np.floating)` is probably a better call

[2019-03-16 17:34] mattip commented on #13135
You also need to copy the support `*.so` files from `site-packages/numpy/.libs` to somewhere outside the `zip` since the runtime loader does not support loading an `*.so` from a zip file. Perhaps ask whoever gave you the advice to use this technique what they recommend for binary `*.so`s needed by python modules

[2019-03-16 17:40] mattip commented on #13102
@Kai-Striega great answer. Since this comes up so often, perhaps you could add it to the [`quickstart`](http://www.numpy.org/devdocs/user/quickstart.html) or [`data types`](http://www.numpy.org/devdocs/user/basics.types.html) pages?

[2019-03-16 18:09] gasparka commented on #13133
Thanks.
Ran a quick grep over Numy/Scipy codebase to see if 'my-style' was widely used - only found a few harmless usages.

Issue solved.

[2019-03-16 18:09] #13133 closed

[2019-03-17 00:19] rgommers commented on #13135
Ah, I missed the part about actually *running* from a zipfile. Rather than special-casing `*.so`, just unpack the whole zip file. I thought the zipping was just to get numpy onto the machine. Always just unzipping everything is more robust.

Better to just tell them that the advice is wrong. You don't want users to have to even check whether a package has `.so`'s.

[2019-03-17 01:32] Kai-Striega commented on #13102
@mattip I'd be happy to. I'll be busy over the next few days but I'll have
time next week.

On Sun., 17 Mar. 2019, 01:41 Matti Picus, <notifications@github.com> wrote:

[2019-03-17 08:01] Kiraeraser commented on #13138
i want to solve this issue

[2019-03-17 08:59] leondavi opened #13148 "Segmentation fault when saving large arrays as csv"
Segmentation fault is caused when trying to save a large number of columns/rows

### Reproducing code example:

In order to reproduce the issue download the following zip file:
https://drive.google.com/file/d/1jlSg2Mkevkz9pA3iVGt-Hs-6fOhTJ8MO/view?usp=sharing
Clone the following project: https://github.com/leondavi/erlangGraphPlay
then create a subfolder called data and extract the trace files int

[2019-03-17 13:22] charris commented on #13148
Could you run the backtrace further until it shows numpy code?

[2019-03-17 14:21] leondavi commented on #13148
Hey Charris, thanks for your response.
Longer backtrace:
[code]

[2019-03-17 23:07] dbarbier commented on #13122
@RyanGutenkunst not sure if this is a Numpy bug; I could reproduce it with Python 2.7 but Python 3.7 works just fine, both with Numpy 1.16.2.

Hang occurs in numpy.distutils.ccompiler.CCompiler_spawn, more precisely in subprocess.check_output.

If there is no other solution, a workaround is to edit numpy.distutils.ccompiler to disable parallel compilations in this block:
[code]

[2019-03-17 23:24] emmmarosewalker commented on #12977
this worked for me, thanks

[2019-03-18 01:02] SteveDoyle2 commented on #12881
Have/can you try this on the latest version of numpy (1.16.2).  That version is no longer maintained.

[2019-03-18 02:51] brandondube opened #13150 "(comparatively) long dispatch times with __array_function__ or __array_ufunc__"
Numpy functions called on cupy arrays inflate runtime by (about) a factor of four.  I have a notebook benchmarking this on a windows 10 machine here,

https://gist.github.com/brandondube/eff40d7b372f596ebe629f4fa33da31c

The system has an i7-8700K and GTX 1080ti with 32GB of ram and 11GB of VRAM (though I think the latter two are irrelevant here).  The benchmark is very simple, comparing exp and s

[2019-03-18 05:31] Koushikphy commented on #11908
I usually do this for gfortran

[2019-03-18 07:01] eric-wieser commented on #13150
Only `__array_ufunc__` is relevant here

[2019-03-18 07:03] mattip commented on #13150
You want to use CuPy 6.0 not 5.3, as 6.0 supports the post-NumPy-1.16 `__array_function__` protocol. It would be interesting to see a comparison.

With that, I tried to organize the data you gave a little differently, where `np` is NumPy, `cp` is CuPy, and `anp` is `autograd.numpy`

function\array | np | cp
------|--------|-------
`np.exp` | 814 ns ± 15.7 ns | 89.1 µs ± 1.33 µs
`cp.exp` | | 12.9 µ

[2019-03-18 07:43] ZisIsNotZis opened #13151 "`not_equal` cannot compare string and specify out"
The function `np.not_equal` will raise an error if comparing string arrays and specifying `out=` with bool array.

Usually directly doing `a != b` would be fine, but it would be nice if can specify out because sometimes people want to output to a slice of some bigger bool array, while doing `mask[x:y] = a != b` evolves a explicit copying.

### Reproducing code example:

    import numpy as np

[2019-03-18 07:44] seanlaguna opened #13152 "import numpy fails with pypy3 and numpy 1.15 or 1.16: undefined symbol: PyGILState_Check"
I installed pypy3 from the Gentoo Project:Prefix (https://wiki.gentoo.org/wiki/Project:Prefix) repositories with `emerge pypy3`. It is up-to-date with the latest pypy3 (7.1.0-alpha0 is the version given). I'm on an older Red Hat machine so this is why I use Project:Prefix. I don't think this is relevant to the problem but who knows. I installed numpy inside a virtualenv using pip. I do have other

[2019-03-18 08:19] mattip commented on #13152
Issues with support for PyPy should be raised on their [issue tracker](https://bitbucket.org/pypy/pypy/issues) first. It seems PyPy does not implement `PyGILState_Check`, which they should do.

[2019-03-18 08:56] seanlaguna commented on #13152
No problem, I'll report to their issue tracker. I was just following the directions in the error message by reporting here. Can you let me know if there's a way to compile numpy without the need for this function? It looks like it only occurs in one place inside an `#ifdef` block, and I know other people have successfully run numpy with pypy3.

[2019-03-18 09:12] mattip commented on #13152
I am not sure. On ubuntu 18.04 I can download the [latest nightly python3.6 build](http://buildbot.pypy.org/nightly/py3.6) and run
[code]
which runs the complete numpy test suite. There are failures, but not the one you report.

[2019-03-18 09:26] mattip commented on #13152
perhaps because the calls to `assert(NPY_CHECK_GIL_HELD())` where `NPY_CHECK_GIL_HELD` is defined as `PyGILState_Check` are inside asserts, and the normal compilation of NumPy eliminates the asserts by defining `NDEBUG`

[2019-03-18 10:28] belltailjp opened #13153 ""File size unexpectedly exceeded ZIP64 limit" error when trying to save a dict with huge array"
Hi!
I found that `np.savez` mistakenly deals with saving large npz when the data is a dict (specifically, mistakenly set the `force_zip64` flag), which results in the "File size unexpectedly exceeded ZIP64 limit" error.

### Reproducing code example:

[code]

### Error message:

When I run the above code in REPL,

[code]

If the array I try to save doesn't exceed 2GB, it doesn't fail.
[code]

Also

[2019-03-18 10:41] robguinness opened #13154 "Unable to use numpy with python3-dbg interpreter"
I am attempting to build a debuggable version of my Python application that uses Numpy and Cython. I have followed the steps outlined here: http://docs.cython.org/en/latest/src/userguide/debugging.html

However, when building my application's extensions, I get the following error:

[code]

I have installed the debug repository of Python3 using:

[code]
Numpy (1.16.2) was installed via pip3:

[code

[2019-03-18 10:46] belltailjp commented on #13153
I checked https://github.com/numpy/numpy/issues/10776.
The same phenomenon seems to be also happening with np.array-nized list of np.array.

[code]

[2019-03-18 11:31] belltailjp commented on #10776
Hi. I have reported #13153 and noticed that this issue is due to the same root cause.

The problem of current numpy is that `_savez` doesn't correctly get the actual size of the data in case it is either a dict or a list (of np arrays), so I think modifying this part so that it can properly identify the correct size would solve the issue, while keeping the current conditional force_zip64 behavior.

[2019-03-18 11:52] mattip commented on #10776
I think #12428 would be a better choice, although it means we forego the ability to read some `npz` archives on python2.

[2019-03-18 13:21] seberg commented on #13148
I ran the script through valgrind, thinking it might help, because it seems like it might be something more strange, I did not check the result yet, but pasting it below:

<details>

[code]

[2019-03-18 14:40] jakirkham commented on #13100
@eric-wieser, I'm afraid I'm not understanding [your comment above]( https://github.com/numpy/numpy/issues/13100#issuecomment-470412475 ). Can you please help clarify it for me? Here's what I'm seeing. How would this example change to isolate the difference between these two?

[code]

[2019-03-18 15:18] PrimozGodec opened #13155 "Bus error: 10 when multiplying two matrices"
When performing the multiplication of two matrices the program quits with the error `Bus error: 10`. No other error messages are presented. Can large matrices size be the cause for an issue?

### Reproducing code example:

The error occurs when performing the multiplication of two matrices.
    out = w_col @ x_col

`w_col` is the matrix of shape `(64, 27)` and with type `float32`.
`x_col` is the m

[2019-03-18 15:26] eric-wieser commented on #13100
The point I'm trying to make above is that a design flaw in `ufunc.__call__` is forcing us to call `asanyarray` which dooms dask. My proposed alternative does not call this, so would work out of the box.

[2019-03-18 15:38] jakirkham commented on #13100
Thanks for clarifying. Agree that calling `asanyarray` is not good for compatibility with other array-like libraries.

Though what I'm trying to understand is whether `np.fix` has behavior that deviates from the typical `ufunc` such that it would be tricky to implement as a `ufunc`. Right now I'm not seeing that, but I may be missing something.

[2019-03-18 15:44] eric-wieser commented on #13100
No, there is nothing special about fix that makes it hard to make a ufunc.

[2019-03-18 15:49] jakirkham commented on #13100
Thanks for the clarification. Given that it is tricky to get the Python implementation right and having a `ufunc` for `fix` would address the issue, would a PR to convert `fix` to a `ufunc` be accepted?

[2019-03-18 15:57] charris commented on #13155
How did you install numpy? What hardware?

[2019-03-18 16:00] PrimozGodec commented on #13155
Numpy is installed with `pip` in a virtual environment.

Hardware:
MacBook Pro (13-inch, 201), 3,1 GHz Intel Core i5, RAM: 8 GB 2133 MHz LPDDR3

[2019-03-18 16:04] matthew-brett commented on #13155
I get no crash from numpy 1.15.4 macoS 10.14.3, Homebrew Python 3.7 and

[ins] In [2]: import numpy as np
[ins] In [3]: w_col = np.ones((64, 27), dtype=np.float32)
[ins] In [4]: x_col = np.ones((27, 12996), dtype=np.float32)
[ins] In [5]: out = w_col @ x_col

Does this crash for you?

[2019-03-18 16:09] seberg commented on #13155
It is a bit silly stuff in there as well, but I think it should give some idea also on mac, @PrimozGodec can you run this code: https://gist.github.com/seberg/ce4563f3cb00e33997e4f80675b80953

[2019-03-18 16:21] smithsp commented on #9009
Would this enhancement allow
[code]
to not fail?

[2019-03-18 17:10] jakirkham commented on #11438
It looks like PR ( https://github.com/numpy/numpy/pull/11503 ) updated the error handling for this case. Should this issue be closed or should the behavior of `np.isposinf` be changed to match what @mattip describes?

[2019-03-18 17:25] dbarbier commented on #13154
@robguinness  `python3-numpy-dbg` already provides numpy package; since the one you installed with pip3 seems to be broken, just remove it and see if you can `import numpy`.

[2019-03-18 17:37] mingwandroid commented on #12667
Hi guys, I only stumbled upon this thread by mistake, please try to remember to CC someone from Anaconda when discussing AD stuff.

@rgommers

We released exactly 1 build of Python which essentially (in retrospect!) contained a prototype of [our latest AddDllDirectory patch](https://github.com/AnacondaRecipes/python-feedstock/blob/master-2.7/recipe/2.7.16/0016-Add-CondaEcosystemModifyDllSearchPath

[2019-03-18 17:42] zooba commented on #12667
@mingwandroid Since you've dropped in here, please look at https://bugs.python.org/issue36085 as well (I don't know your bpo username to add you directly)

[2019-03-18 17:51] aashuli commented on #13129
@mattip Can I start working on this!

[2019-03-18 18:05] dbarbier commented on #12652
I suggest to close this ticket, everything works as documented.  Maybe `isrealobj` could be removed, it is defined as `not iscomplexobj`.

[2019-03-18 19:03] PrimozGodec commented on #13155
@matthew-brett It does not crash? It seems that there must be some weird combination of Numpy commands that cause a program to crash. I am still trying to prepare a minimal example. In the worst case, I will prepare steps to reproduce the issue with the full application.

[2019-03-18 19:04] PrimozGodec commented on #13155
@seberg This is the output:

Probing Multiarray
------------------
OpenBLAS:
    num threads: 2
    version info: DYNAMIC_ARCH NO_AFFINITY Haswell MAX_THREADS=64

Probing Linalg
--------------
OpenBLAS:
    num threads: 2
    version info: DYNAMIC_ARCH NO_AFFINITY Haswell MAX_THREADS=64

[2019-03-18 19:10] seberg commented on #13155
@PrimozGodec not sure if this is plausible here, but we sometimes had funny interplay with other packages (such as gui packages). So if you application imports such things before numpy, maybe try importing numpy first or import all the same modules when trying to reproduce it with a simple matrix multiplication. Another thing could be threading maybe?

[2019-03-18 19:56] mattip commented on #13129
@aashuli go for it. Reference this issue in the PR so a link shows up here letting other people know it is underway.

[2019-03-18 21:55] will133 opened #13156 "Encoding an empty unicode array would produce an array of the wrong dtype"
Calling numpy.char.encode on empty unicode array would create a float64 array instead of an array of S dtype.

### Reproducing code example:

[code]
I would expect an empty S1 array.

### Error message:
The dtype returned seems wrong.

### Numpy/Python version information:

[code]
This is run on a conda environment (I just did a "conda create -n test_numpy python=3.7 numpy").  The problem seems to

[2019-03-18 22:11] rgommers commented on #12652
I don't think that is warranted.

True. A doc clarification would be nice though; `isrealobj` assumes array input without really stating that in the docstring.

[2019-03-18 22:16] jeffrey-cochran commented on #8804
Never thought I would need this until I did hahaha. Is there a workaround for array exponents?

[2019-03-18 22:28] rgommers commented on #12667
Yes, much appreciated! We did get ~2 bug reports per day for a week or two.

Well, arguably it wasn't a NumPy bug, and it certainly hasn't been fixed for SciPy which uses the exact same mechanism (see comment https://github.com/numpy/numpy/issues/12667#issuecomment-465706501 above).

[2019-03-19 00:28] brandondube commented on #13150
The factor of four is a factor of eight -- looks like I flubbed some basic division late at night.  I didn't realize __array_ufunc__ and __array_function__ were coming in cupy 6.0, which has been in various stages of prerelease for quite some time now.  Tomorrow night I'll see if I can get the latest 6.0 beta compiled and if this is improved -- my laptop has an AMD card, so I can't play with cupy

[2019-03-19 06:25] jacquesqiao commented on #10841
I also find the same problem.
[code]
does not work for me. Use random.randint() has no problem.

[2019-03-19 06:58] mingwandroid commented on #12667
I was careless in my description. Clearly it was my bug.

Still there are some of us at anaconda who feel the default on this new code should be switched so it is used by default, myself included.

[2019-03-19 07:27] mattip commented on #12667
@mingwandroid could you participate in https://bugs.python.org/issue36085 ? This seems like it is a general windows-python issue and not one specific to Anaconda. If a solution can be agreed upon for python 3.8, and if it is properly documented along with "what needs to change and why", it would provide a nice reference for filing change requests for packages. Then the solution could become widely

[2019-03-19 07:38] rgommers commented on #12667
+1 for only making the change to default in python 3.8 only also in Anaconda. Otherwise we're back to at least "all existing wheels on PyPI are broken. Unfortunately it's easy and common for numpy to be pulled in with pip into a conda env.

[2019-03-19 07:40] liuzc188 commented on #11871
pip install -U numpy升级numpy 就可以了

[2019-03-19 07:57] belltailjp commented on #10776
I agree, that would be the simplest and the best.
I just felt like it's a bit too long to wait until np+py2 EOL (almost) indefinitely for this kind of a bug, but as you mention it'll ready in 1.17, that's OK for me too (of course I want this fix right now, though:) ).

[2019-03-19 07:57] #9489 closed

[2019-03-19 08:36] fjld61 commented on #12652
I have no problem with closing the ticket.

My qualms were that on the tin can is written "Tuna" while in the fine print one can read "not Beef".

The doc string clarifies the situation of complex numbers with zero imaginary parts (also in the examples), so why not clarify the situation for argument that are nor real nor complex ?

One could also implement (((without loss of efficiency))) isrealob

[2019-03-19 09:05] PrimozGodec commented on #13155
Hmm. There is PyQt imported in several places in the app. Possibly PqQt can be a reason.

[2019-03-19 09:09] mingwandroid commented on #12667
No, we are not. Anaconda will not (deliberately) do anything that breaks PIP *and Python in general, because this bug could effect even a simple script, basically any code that adds an entry os.environ['PATH'] then tries to import a module from that entry). I fixed this bug 2 days after @mattip reported it to me. Unfortunately this meant the latest python build contained the bug for maybe 4 days.

[2019-03-19 10:12] mingwandroid commented on #12667
@mattip

That would be great. I would definitely prefer not to have to maintain patches such as this (or any patches for anything, generally speaking).

I'm not sure how much time I have to contribute to the issue on BPO but I will try. I am more than happy for people to discuss the 'Anaconda solution' and will answer any questions about it. Clearly for it to be acceptable for upstream Python all

[2019-03-19 10:20] PrimozGodec commented on #13155
The steps to reproduce the issue:

1. Clone this repository git@github.com:biolab/orange3-imageanalytics.git
2. `cd orange3-imageanalytics`
3. Check out this PR: https://github.com/biolab/orange3-imageanalytics/pull/124
4. Install the package: `pip install -e .`
5. (Issue appear with the latest Numpy version too, but in my case it is more likely with older version so:) `pip uninstall numpy`
`pip i

[2019-03-19 10:25] seberg commented on #13155
There were such issues with PyQt and some older anaconda versions, but I am not sure it should happen with pip installed numpy (the wheels). If you think it might be related to that, can you run Matthews example in a script that imports all the PyQt stuff before numpy. Just because such a long reproducer is annoying.

[2019-03-19 10:39] mingwandroid commented on #12667
@zooba. this option is not open to us unfortunately. We need to use a mixture of compilers to compile DLLs loaded by Python. The compilers generate DLLs with the same name that are incompatible. We cannot easily go for a DLL renaming scheme either as we'd have to adjust the build system for every package we build that creates DLLs. Please think about this, you have suggested this as a possibility

[2019-03-19 11:28] PrimozGodec commented on #13155
As @seberg pointed out, there is a problem with threading (QThread by Qt). The task, where the error appears, runs in a thread such that app does not freeze while computing. Threading cannot be avoided.

[2019-03-19 11:40] matthew-brett commented on #13155
We used to have a threading conflict between OpenBLAS and Qt : https://github.com/numpy/numpy/issues/11551 .  I believe we fixed this with our later builds, using later OpenBLAS.  Have you tried latest Numpy?

[2019-03-19 15:35] PrimozGodec commented on #13155
@matthew-brett it seems that those two issues are connected and I can confirm that the issue is solved. On my computer, the latest version works fine. On the other computer, there were some issues with reinstalling packages.
Thanks, everybody for your help. I am closing this issue.

[2019-03-19 15:35] #13155 closed

[2019-03-19 17:50] roelverh commented on #13102
Thanks for all your insightful answers! The fact remains though that very wrong answers can result from accidentally providing integer input.
It would be better to get an error message on integer overflow rather than the wrong answer.

[2019-03-19 18:38] Emesgee commented on #11871
This did the trick :)
pip install --upgrade numpy

[2019-03-19 23:49] QuLogic opened #13159 "np.random.randint no longer supports non-native byteorder"
This used to work in NumPy 1.15:

### Reproducing code example:

[code]
[code]
vs.
[code]

### Error message:

[code]

### Numpy/Python version information:

Python 3.6.7; NumPy 1.15.4 vs 1.16.2

[2019-03-19 23:58] QuLogic commented on #13159
Probably from #11324; cc @eric-wieser.

[2019-03-20 00:19] brandondube commented on #13150
Cupy 6 makes np and cp have equal execution time -- the fix is already implemented!

https://gist.github.com/brandondube/880cf989c2dd33f4b5a2f88e89b6c31f

[2019-03-20 00:19] #13150 closed

[2019-03-20 01:49] Dan-Patterson opened #13160 "numpy.lib.recfunctions missing references in documentation"
`__all__` in numpy.lib.recfunctions is missing the inclusion of structured_to_unstructured and unstructured_to_structured.  They are useful additions and should be added to the documentation so they can be imported

[2019-03-20 02:16] Dan-Patterson commented on #13160
my error ignore

[2019-03-20 02:16] #13160 closed

[2019-03-20 10:57] pawan431995 commented on #12977
hello
i am getting same error while accessing tensorflow  as bellow.

**ModuleNotFoundError                       Traceback (most recent call last)
ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'**

Solloution :- Update Numpy with latest version

setp to update numpy as follow

setp1 open cmd
setp2 write pip install numpy==**leatest version** and press Enter
example pip install

[2019-03-20 12:41] mattip commented on #13013
While #13119 made a step in the right direction, the documentation content is still duplicated. Reopening.

[2019-03-20 14:09] mattip opened #13164 "ENH: tracking issue for merging randomgen into numpy"
Merge [bashtage/randomgen](https://github.com/bashtage/randomgen) into numpy, as part of [NEP 19](https://www.numpy.org/neps/nep-0019-rng-policy.html).

- [x] get the cythonize to work properly. Currently we call `python -mcython infile outfile` with no ability to add extra command line args
- [x] get the code to compile and import
- [x] get the tests to run and pass
- [x] replace mtrand with rand

[2019-03-20 14:09] mattip commented on #13164
xref #13163

[2019-03-20 15:50] adeak opened #13165 "ndarray.flat causes reference count error with invalid inputs"
Passing invalid inputs to `ndarray.flat` will raise an error, but after the interpreter finishes there's a reference count error (python attempts to deallocate the integer 7):
[code]
The issue is there in master.

~This is probably related to (or a duplicate of) https://github.com/numpy/numpy/issues/7982. The reason why I'm not sure this is a duplicate is because the other issue tries assigning to

[2019-03-20 17:37] mhvk commented on #13165
Confirmed.  Though no time right now to look into it. On the relation to #7982: Would be good to see if the fix given in https://github.com/numpy/numpy/issues/7982#issuecomment-439114876 solves it - I am doubtful...

[2019-03-20 17:50] Andre3582 commented on #11871
in anaconda prompt:
`pip uninstall numpy `

then:
`pip install numpy `

worked for me!

[2019-03-20 18:27] RyanGutenkunst commented on #13122
@dbarbier Thank you for your helpful response! For now, this workaround should be sufficient. This will contribute to our motivation to shift to Python 3.x. :-)

[2019-03-20 18:27] #13122 closed

[2019-03-20 18:41] adeak commented on #13165
Thanks, @mhvk. I tried using the patch you linked but it didn't change anything in the above behaviour.

[2019-03-20 19:01] mhvk commented on #13165
@adeak - thanks for checking. So it is an independent bug, then.  I fear `.flat` is not the most looked-after part of the code...

[2019-03-20 19:22] rabernat opened #13166 "vectorized histogram with axis keyword"
I frequently wish to calculate a histogram along each dimension of an array axis. For example, if dimension 0 is time, I might want to look at how the pdf of my data is evolving in time. This would be much easier if histogram (and its multidimensional variants) accepted an `axis` keyword argument. Currently histogram just flattens all its data.

### Reproducing code example:

[code]

For performan

[2019-03-20 19:59] stephengeospy opened #13167 "SparkSubmit Error for Numpy- ImportError: cannot import name 'multiarray'"
### Reproducing code example:
[code]
### Error message:
Traceback (most recent call last):
  File "/mnt1/yarn/usercache/root/appcache/application_1551299460868_0107/container_1551299460868_0107_01_000001/dependencies.zip/numpy/core/__init__.py", line 16, in <module>
**ImportError: cannot import name 'multiarray'**

During handling of the above exception, another exception occurred:

Traceback (mos

[2019-03-20 19:59] adeak commented on #13165
OK, so the linked patch won't work for two reasons: it handles tuple input, and it's for subscripted _assignment_, whereas I have subscription ([`iter_subscript`](https://github.com/numpy/numpy/blob/master/numpy/core/src/multiarray/iterators.c#L532)). I _think_ what's going on with `None` or string-typed input to `flat` (which is how I first found the issue), is that after a series of skipped `if`

[2019-03-21 09:16] mreineck commented on #7150
This issue (and probably several others) can most likely be closed now that pocketfft has been introduced. What is the proper procedure here; should they be kept open until 1.17 is released?

[2019-03-21 09:17] seberg commented on #13165
@adeak if you are happy to iterate fix it up a bit with reviewer help, then I think we would love if you open a PR in any case. Also adding a test case would be good, and I think you are very much on the right track, so I suspect you will find the right fix :).

[2019-03-21 09:25] seberg commented on #7150
Normally we would just close it, since 1.16 is a LTS if there is some anticipation we should fix it for 1.16, maybe not. But here, I guess it would be a "backportable" fix (only that we cannot just backport it).

I will just tag it with the funny "Close?" tag, and if anyone stumbles on this: This is 1.16. only and may as well be closed at least as soon as 1.16 is approaching end of life.

[2019-03-21 09:39] adeak commented on #13165
@seberg thanks, I'd love that :) It will take a while for me to wrap my head around the details of the C API, but if some hand-holding in review is not an issue, I'll have at it.

[2019-03-21 13:23] jor- commented on #11438
There was a discussion in #11503 whether the functionality should be extended. We decided not to extend it to complex numbers. Nevertheless the error handling was updated. (I just forgot to close this issue.)

[2019-03-21 13:23] #11438 closed

[2019-03-21 13:30] MarcVincent9 opened #13171 "Float-to-integer conversion makes great values negative"
There seems to be an error with float-to-integer conversion for values close to numpy.intXX's upper bound.

Beyond a certain value, which varies with the type of int, a positive float converted to integer becomes negative.

This happens with different float/int types. It doesn't happen with Python's native int() function.

### Reproducing code example:

[code]

### Numpy/Python version information

[2019-03-21 14:33] tuxzz opened #13172 "Random access a huge numpy.memmap array is incredible slow on Linux."
### Seems like a problem with large mmap memory page size
Should we add an interface to tell system how the memmapped array would be used?
This problem doesn't exist on Windows 10.

### Reproducing code example:

#### Version 1(~100x slow on Linux, fast enough on Windows):
[code]

#### Version 2(fast enough on Linux):
[code]

### Numpy/Python version information:
1.16.2 3.7.2 (default, Dec 30 2018

[2019-03-21 15:02] dbacc opened #13173 "invalid value encountered in matmul (due to fixed OpenBLAS issue)"
Some multiplications with matrix objects generate strange warnings. With older python/numpy versions this does not happen.
The same multiplication with array object seems to work.
### Reproducing code example:

[product.txt](https://github.com/numpy/numpy/files/2992627/product.txt)
[code]

### Error message:
invalid value encountered in matmul

### Numpy/Python version information:

1.16.2 3.7.2 |

[2019-03-21 15:07] eric-wieser commented on #13171
This is because `np.float64(2**63 - 512) == np.float64(2**63)`, floats lose precision when storing large integers.

[2019-03-21 15:45] #10839 closed

[2019-03-21 17:15] rgommers commented on #7150
It's been open for 3 years without any more reports or follow-up. So no, no need to fix in 1.16.x I'd say. Let's just close; if someone comes along with a 1.16.x patch we may consider it, but not much point following up ourselves now.

[2019-03-21 17:15] #7150 closed

[2019-03-21 23:08] MarcVincent9 commented on #13171
OK, but why does the conversion to np.int64 make it negative ? The real problem here is that we have ```python np.int64(np.float64(2**63)) < 0```.

[2019-03-21 23:18] durack1 commented on #11411
Hi folks, I've been routinely using calls like `b = a[0, ...]` or `b = a[0,]` etc, however it seems like this call now triggers this warning - how do I update myself to ensure that I work as numpy updates? I tried `b = a[(0,)]` but this doesn't seem to solve my problem?

[2019-03-22 00:10] eric-wieser commented on #11411
@durack1: What is `type(a)`?

[2019-03-22 00:11] eric-wieser commented on #13171
@MarcVincent: The largest value that can fit in an `int64` is `2**63 - 1`. `2**63` will not fit.

[2019-03-22 00:15] durack1 commented on #11411
@eric-wieser here you go:
[code]
And this is the `cdms2` library: https://anaconda.org/conda-forge/cdms2/

[2019-03-22 00:21] durack1 commented on #11411
@eric-wieser and following your `warnings.simplefilter('error') recommendation [above](https://github.com/numpy/numpy/issues/11411#issuecomment-445507078) here's the output:
[code]

[2019-03-22 00:56] eric-wieser commented on #11411
The warning is due to incorrect use within the `cdms2` package itself. You should file a bug report against that package.

[2019-03-22 01:01] eric-wieser commented on #11411
Already fixed upstream in this completely unintelligible PR: CDAT/cdms#296

[2019-03-22 03:43] durack1 commented on #11411
@eric-wieser thanks for this, can you point out the issue resolution in the PR CDAT/cdms#296 - I assume this is in `avariable.py`?

[2019-03-22 04:32] eric-wieser commented on #11411
tvariabke.py

[2019-03-22 04:36] durack1 commented on #11411
@eric-wieser ok got you and https://github.com/CDAT/cdms/pull/296/files#diff-c02b6d92e7f86eadf6ebfab79653266aR398 - correct?

[2019-03-22 09:01] seberg commented on #13173
There may be a deprecation warning on the matrix class itself, but there should not be one about an invalid value (cannot reproduce with 1.16.2 on arch linux).
@dbacc can you provide the full working example, giving both the warning and no warning (please put `import warnings; warnings.simplefilter("always")` as the first line).

Also which operating system are you using?

[2019-03-22 09:09] seberg commented on #13172
Numpy's memmap is a pretty shallow wrapper around pythons mmap. Which is I guess why Antoine Pitrou (and others) seem to be looking at adding madvise support to the python mmap object:

https://github.com/python/cpython/pull/6172/files

The easiest would be probably for us to add it to numpy as soon as python supports it, which also means we have to worry less about the different OSs. As a side no

[2019-03-22 15:20] hlbkin opened #13178 "Save big matrix blob in Java and load as numpy in Python"
Hi team!

Do you how this could be achieved:

1) Saving big blob via Java (big feature matrix for 1 day/hour at a time) to some database

2) Load as numpy array in Python

[2019-03-22 16:04] nicholas-castro commented on #13114
Hi, I'm working on this for the warnings that are generated for functions in the polynomial submodule. This is my first time working with Sphinx, so I have a rather basic question -- which docstring should I edit? Take, for example, the following error:

`/usr/lib/python3.7/site-packages/numpy/polynomial/chebyshev.py:docstring of numpy.polynomial.chebyshev.chebdiv:29: WARNING: py:obj reference tar

[2019-03-22 19:53] mhvk commented on #13172
I asked over there about the status; it seems abandoned, but very easy to move forward.

[2019-03-22 21:14] mhvk opened #13179 "Ufuncs for complex numbers"
This is a tracker for a number of requests for making working with complex numbers a bit easier/faster
- [ ] Get just the normalized number `z/|z|` (the [sgn](http://en.wikipedia.org/wiki/Sign_function) function; maybe extend to `copysign`?) (see #3621)
- [ ] Get the power of a complex number `z * z.conj()` (instead of the slow `np.abs(z)**2`). `square` would be logical but is already defined to j

[2019-03-22 21:15] mhvk commented on #3621
I'm closing this in favour of #13179 (mostly since the title no longer reflects the discussion, and because I think the request makes more sense as part of a larger effort to make working with complex numbers a little easier).

[2019-03-22 21:15] #3621 closed

[2019-03-22 21:19] mhvk commented on #2944
Implemented in #12388, so closing.

[2019-03-22 21:19] #2944 closed

[2019-03-22 21:39] mhvk commented on #11557
It does seem that now that we're python3 only, we should just adjust our scalar `__round__` method to match the behaviour of python's `round`. I'm going ahead and remove the "needs decision" label - of course, someone still needs to have the time to actually implement this...

Also, am on purpose keeping it separate from discussion of ufuncs (`around`, `ceil`, `floor`,...)

[2019-03-22 21:42] mhvk commented on #9068
Found this while looking at old issues: can we avoid breaking backward compatibility by adding new `f->i` loops so that at least one can select integer output? (i.e., the opposite of the `dtype=float` suggestion above).

[2019-03-22 21:45] mhvk commented on #11457
Rereading the discussion I agree with @rgommers that, essentially, there is nothing more to do, so I'm closing this issue.

[2019-03-22 21:45] #11457 closed

[2019-03-22 22:37] bashtage commented on #13138
I don't think you understand the parameterization here:

[code]

[2019-03-22 22:41] bashtage commented on #13138
In my opinion the scipy parameterization is not standard and is ultimately driven by their desire for a consistent API for distribtions.  The numpy parameterization is, for example, the first parameterization listed in Wiki.

[2019-03-22 22:53] charris commented on #9068
Perhaps it would be better to add new functions, `iceil`, `ifloor`, etc. That floats eventually develop integer sized gaps could be a problem, as already pointed out. I think that dealing with that could be tricky if we want to do a bit better in the integer domain.

[2019-03-22 23:11] mhvk commented on #9068
@charris - yes, perhaps that is best. It could then extent to `iround`, `ifix`, etc., too

[2019-03-23 01:23] eric-wieser commented on #13138
It might be worth documenting in the scipy version what the equivalent numpy parametrization is

[2019-03-23 03:50] Kai-Striega commented on #13173
@seberg I've come across the same issue using Ubuntu 18.10.

[code]

running while filtering for warnings:

[code]

[2019-03-23 04:37] charris commented on #13173
We see occasional `matmul` related test failures involving `complex64`, as well as sporadic wheel build problems of accuracy with that data type that are not currently understood, but may be multiplication related. If your results are repeatable that would be good to know. Are you running  64 or 32 versions? I also assume that the Conda version uses the Intel compiler and MKL, can you verify that

[2019-03-23 06:12] Kai-Striega commented on #13173
@charris I've rebuild NumPy and the error still occurs, (I guess that makes it repoducible?). I've built  NumPy from source - so I can't speak of the conda version. Building with MKL does *not* cause any warnings. Here is some more info form my system:

[code]

[2019-03-23 09:20] rutujar opened #13180 "numpy error"
after installing numpy in ubuntu 16.04 i am not able to access it.
ImportError: cannot import name 'multiarray'

[2019-03-23 10:24] matthew-brett commented on #11557
Isn't this going to introduce some problems with back-compatibility?

[2019-03-23 14:19] mhvk commented on #11557
@matthew-brett - I'm not sure what is worse: `round(1.)` giving a different ttype then `round(np.float64(1.))` or changing the outcome of the latter (where that of the first has changed already by going to python3). Especially since `int` behave much more like float than vice versa.

Of course, really we should have done this for python3 when it came out...

p.s.  Just in case: the behaviour of `n

[2019-03-23 14:30] charris commented on #13180
How did you install numpy.

[2019-03-23 14:33] charris commented on #13173
What does `np.__config__.show()` give?

[2019-03-23 14:35] charris commented on #13173
What flags did you compile with?

[2019-03-23 14:36] charris commented on #13173
This is `matrix` specific, is that correct?

[2019-03-23 14:58] bashtage commented on #12933
The default value for low is 0.  The one parameter configuration sets high.

If a 0 positional parameter version was possible, it would have to sample on [0,iinfo(dtype).max], not [iinfo(dtype).min, iinfo(dtype).max].

[2019-03-23 15:09] bashtage commented on #13159
I think your example is proof that it silently ignored the byte order, not that it "worked".  The current implementation is more honest in stating that nonnative byte order is not supported.

For example,

[code]

It is worked, then the final 2 values would be identical.

[2019-03-23 16:24] seberg commented on #13178
Numpy provides easy ways to read simple binary data or many other formats (e.g. through scipy). It is certainly not hard to do, but I am sorry, this is simply not the right place to ask such questions.

[2019-03-23 16:24] #13178 closed

[2019-03-23 16:50] dbacc commented on #13173
I originally thought it was `matrix` specific, because the error disappeared after recasting to `ndarray`. At the moment I cannot reproduce the same behavior with this snippet, the warning appears for both, `matrix` and `ndarray`.

[code]
and without warnings.
[code]
my numpy/conda related information

[code]
I'm also on arch linux, where I cannot reproduce the issue. So maybe related to openblas?

[2019-03-23 17:31] seberg commented on #13173
Yes, an openblas issue is very much plausible and probably the most likely reason. Recently, there was a similar one where the thread calculation too the squareroot of a negative value by accident (thus setting the flag), see: https://github.com/xianyi/OpenBLAS/issues/1924

Can you check your openblas version. Frankly, I am not quite sure which openblas version this was fixed in. But it seems plau

[2019-03-23 17:54] seberg commented on #13173
OK, I just checked. Ubuntu 18.10 is on OpenBLAS 0.3.3, so it should be affected by the issue I linked above (which is fixed in https://github.com/xianyi/OpenBLAS/pull/1929). Thus compiling numpy manually will give you a newer version which makes expose this issue in OpenBLAS.

Since it is already fixed upstream, I am not sure if we should worry about it much. I suppose we could try to silence the

[2019-03-23 18:34] charris commented on #13173
Which reminds me that we should try running with OpenBLAS 3.5, which has this fix and maybe some others. @tylerjereddy Were you going to figure out how to build the OpenBLAS libraries? Someone should undertake the job so that we aren't completely dependent on @matthew-brett .

[2019-03-23 18:35] eric-wieser commented on #13159
@bashtage is right, the order was ignored
[code]

However, this seems pretty par-for-the-course for numpy:
[code]

I think a patch that explicitly discards the byteorder (via `newbyteorder('=')`) before doing the dictionary lookup would be fine.

[2019-03-23 18:51] matthew-brett commented on #13173
Tyler - happy to help, if you want to give it a shot.

[2019-03-23 19:46] ahaldane commented on #12059
Reviewing this as part of my 10 random issues, as requested [prpp report](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

I'm going to close this issue: We are not going to dramatically change how numpy prints arrays now, for the reasons I mentioned above.

[2019-03-23 19:46] #12059 closed

[2019-03-23 19:59] ahaldane commented on #8732
Reviewing this as part of my 10 random issues, as requested in a [3/20/19 request](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

This compilation issue is now over 2 years old. @matham,  is it still an issue?

[2019-03-23 20:13] ahaldane commented on #7185
Reviewing this as part of my 10 random issues, as requested in a [3/20/19 request](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

I am leaning towards closing this old issue. It will be less relevant once we drop py3 support since headers with the "L" in the int will no longer be produced.

I also suspect this performance issue only turns up if you are saving a large

[2019-03-23 20:16] ahaldane commented on #10148
Reviewing this as part of my 10 random issues, as requested in a [3/20/19 request](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

I'm going to close this as a duplicate issue. See #12525 for the main discussion.

[2019-03-23 20:16] #10148 closed

[2019-03-23 20:22] ahaldane commented on #6272
Reviewing this as part of my 10 random issues, as requested in a [3/20/19 request](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

I am 95% sure this is done and just forgotten to be closed, because in 2019 I have seen these overlap checks in the assignment code, including in code involving assignment to slices of an array.

I'm going to go ahead and close this, please

[2019-03-23 20:26] matthew-brett commented on #6272
Is this really safe to close?   Has anyone checked the list above?

[2019-03-23 20:33] ahaldane commented on #10179
Reviewing this as part of my 10 random issues, as requested in a [3/20/19 request](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

This is an object array bug. It can be filed/fixed together with other object-array fixup plans, like #5353 #5933  #6070. Perhaps can be included in #6320.

[2019-03-23 20:45] ahaldane commented on #7389
Reviewing this as part of my 10 random issues, as requested in a [3/20/19 request](https://mail.python.org/pipermail/numpy-discussion/2019-March/079250.html).

I ran the example code above, and this issue appears to be fixed. The three values are now numpy scalars.
Closing.

[2019-03-23 20:45] #7389 closed

[2019-03-23 21:12] mattip commented on #6272
I think the only unresolved case is when an array has overlap due to striding tricks. PR #12609 tries to make arrays with 0 strides read-only, in response to issue #2705.

[2019-03-23 21:21] matthew-brett commented on #6272
But specifically - has someone gone through that list above and checked whether they are resolved or not?   It seems to me that this issue should stay open until someone has done that.

[2019-03-23 21:26] ahaldane commented on #6272
I'll go through it now...

[2019-03-23 21:40] seberg commented on #6272
Indexing assignments do use it, advanced indexing does not. I doubt a lot of the other functions I listed above never got treatment.

[2019-03-23 22:03] ahaldane commented on #6272
These seem OK:
 * `copyto` is OK since it goes through `PyArray_AssignArray`, which has an overlap check.
 * `_ureduce` code (eg, median/percentile) looks OK since it is pure python and delegates to ufuncs
 * `around` is ok because it delegates to ufuncs

Problematic:
 * `np.take` There is no overlap detection. Demonstration: `np.take(x, [1,2,3], out=x[2:5], mode='wrap')  -> `array([1., 1., 1.])`.

[2019-03-24 02:24] Kai-Striega commented on #13102
@mattip does  NumPy usually add warnings or errors for integer overflow? This could be useful in avoiding similar issues later.

[2019-03-24 04:46] rutujar commented on #13180
sudo apt install python3-numpy

[2019-03-24 04:57] vincenzooo opened #13183 "np.any() gives inconsistent result for 'is None'"
I would expect [None] and [None,...] both to return True, as in code below, or at least return same result.
Also if an element in the array is a string, comparison fails with an error.

### Reproducing code example:

[code]

### Numpy/Python version information:

1.15.4 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

[2019-03-24 04:59] matham commented on #8732
I guess it can be closed for now since I'm not sure if it's still an issue. If someone encounters the issue again they can just reopen.

[2019-03-24 04:59] #8732 closed

[2019-03-24 05:14] eric-wieser commented on #13183
I think you're confused by meaning of a bunch of things here.

`np.any(x) is None` does not mean "any of the items in x are None". It means "check if all the values are falsy, and the last value in x is `None`.

Just like `np.any(x) == 1` is very different from `np.any(x == 1)`.

It's also worth realizing that you're constructing an object array containing lists:
[code]

[2019-03-24 05:14] #13183 closed

[2019-03-24 05:17] eric-wieser commented on #12897
Definitely a duplicate of #4352

[2019-03-24 05:17] #12897 closed

[2019-03-24 05:48] mattip commented on #13102
NumPy does not warn on integer overflow. There are requests for this enhancement. However detecting overflow in the general case would add checks to the ufunc internal loops, and might affect performance. It certainly would be a breaking change with current behaviour and so would need to have some kind of opt-in mechanism

[2019-03-24 05:50] mattip commented on #13180
what hardware are you using?

[2019-03-24 06:04] #13013 closed

[2019-03-24 06:13] Kai-Striega commented on #13102
Okay. That's what I thought. My personal preference would be to avoid
having further in lieu of performance.

On Sun., 24 Mar. 2019, 13:49 Matti Picus, <notifications@github.com> wrote:

[2019-03-24 06:55] vincenzooo commented on #13183
Thanks for the quick reply
and sorry, it was my intention to use any in the correct way, but I made a typo in my last editing, sorry, I appreciate you taking the time to explain.
Still, it seems inconsistent to me, let me try to point out what I mean:

[code]

The intent of the list was to test each element separately, because I was looking for a function "True if at least one element of a variabl

[2019-03-24 06:56] rutujar commented on #13180
laptop specification or what?

[2019-03-24 07:29] mattip commented on #13180
`uname -m`, which should give something like `x86_64`

[2019-03-24 07:30] mattip commented on #13180
and what is the complete traceback of the error? Maybe there is more than one numpy on the machine

[2019-03-24 07:35] mattip commented on #13164
The first three tasks are completed.

[2019-03-24 07:53] QuLogic commented on #13159
@bashtage you are correct that byteorder is ignored, but this check is not correct. That is not the behaviour that's desired, nor is it consistent with other creation functions. Specifying byteorder does not change _values_, it changes _storage_. It's clearer to compare the result of `.tobytes`:
[code]
vs
[code]

[2019-03-24 08:18] vanitaa commented on #13013
I m trying to create the documentation with `make html` but i m getting the error during the build

[code]

how can I buld it on my system?

[2019-03-24 08:33] mattip commented on #13013
Did you run `git submodule init && git submodule update`?

[2019-03-24 08:34] bmakos commented on #13013
@vanitaa I think you did not issue the ‘git submodule init’ and ‘git submodule update’ commands. The start of this thread has a link to building the docs.

[2019-03-24 10:38] seberg commented on #12686
(moving from Matti's PR) @ahaldane since the structured field stuff is no in 1.16, that sounds like this issue may get much more relevant?

[2019-03-24 12:20] dbacc commented on #13173
I'm not using conda's standard numpy installation.

'''
numpy                     1.16.2          py37_blas_openblash1522bff_0  [blas_openblas]  conda-forge
'''

[2019-03-24 12:49] vanitaa commented on #13013
thanks, @mattip @bmakos my previous issue has been resolved. But now I m getting this error
[code]
though matplotlib is installed

[2019-03-24 12:50] eric-wieser commented on #13183
Numpy is unable to overload the `is` operator, so `arr is None` has no special meaning

[2019-03-24 12:57] mattip commented on #13013
It seems you are using a system python3.7 since sphinx is loading from `/usr/local/lib/python3.7/site-packages/sphinx`. How did you get sphinx installed into it? You should install matplotlib and scipy via the same mechanism, and verify that python3.7 -c "import matplotlib" works.

Using `sudo pipXX install` is not recommended practice, you should use a virtualenv or `pip3.7 install --user ...` in

[2019-03-24 12:58] rutujar commented on #13180
import numpy as np
  File "/usr/lib/python3/dist-packages/numpy/__init__.py", line 180, in <module>
    from . import add_newdocs
  File "/usr/lib/python3/dist-packages/numpy/add_newdocs.py", line 13, in <module>
    from numpy.lib import add_newdoc
  File "/usr/lib/python3/dist-packages/numpy/lib/__init__.py", line 8, in <module>
    from .type_check import *
  File "/usr/lib/python3/dist-package

[2019-03-24 12:59] mattip commented on #13013
Maybe you could use your experience to suggest improvements to the [doc building guide](http://www.numpy.org/devdocs/docs/howto_build_docs.html) which you should be following.

[2019-03-24 13:09] vneogi199 commented on #13180
Uninstall numpy using:
`sudo apt remove python3-numpy`

Then install it using pip:
`pip3 install numpy`

[2019-03-24 13:13] mattip commented on #13180
@vneogi199 that will result in a different version of numpy, perhaps @rutujar wants to use the os-provided version.

Please show the output of all four of these commands
1. `ls /usr/lib/python3/dist-packages/numpy/core/*.so`
2. `uname -m`
3.  `apt list python3-numpy`
4. `ldd /usr/lib/python3/dist-packages/numpy/core/multiarray*.so`

[2019-03-24 13:25] rutujar commented on #13180
@mattip
1. ls /usr/lib/python3/dist-packages/numpy/core/*.so

/usr/lib/python3/dist-packages/numpy/core/_dummy.cpython-35m-x86_64-linux-gnu.so
/usr/lib/python3/dist-packages/numpy/core/multiarray.cpython-35m-x86_64-linux-gnu.so
/usr/lib/python3/dist-packages/numpy/core/multiarray_tests.cpython-35m-x86_64-linux-gnu.so
/usr/lib/python3/dist-packages/numpy/core/operand_flag_tests.cpython-35m-x86_64-l

[2019-03-24 13:37] mattip commented on #13180
Everything seems OK, that is exactly what my 16.04 gives me. Are you using the system python3 (`usr/bin/python3`)?
What does
`python3 -c "import sys; print(sys.version); import numpy; print(numpy.__version__)"`
show? Mine reports
[code]

[2019-03-24 13:43] rutujar commented on #13180
i think somewhere the permissions is denied.it is happening for every package in python 3.
when i try installing it again.
$ pip3 install numpy
Collecting numpy
  Using cached https://files.pythonhosted.org/packages/35/d5/4f8410ac303e690144f0a0603c4b8fd3b986feb2749c435f7cdbb288f17e/numpy-1.16.2-cp36-cp36m-manylinux1_x86_64.whl
Installing collected packages: numpy
Could not install packages due to

[2019-03-24 13:46] vneogi199 commented on #13180
Since you are writing to the system to the system path, you have to use:
`sudo pip3 install numpy`
Or you can write to user path using:
`pip3 install numpy --user`

[2019-03-24 13:54] mattip commented on #13180
you reported that you did `sudo apt install python3-numpy` before. You should either use `sudo apt install python3-*` or `pip install numpy`, but not mix them.

[2019-03-24 14:08] rutujar commented on #13180
i uninstalled and installed it again.
error resolved for numpy.
it worked for pip3 install numpy --user
 thanks @vneogi199, @mattip

[2019-03-24 14:27] #13180 closed

[2019-03-24 15:25] jicksy commented on #12385
Hi,
I would like to work on this ticket.

[2019-03-24 15:56] ahaldane commented on #12686
This appears to be that longstanding bug in subarray assignment, which has existed forever.

It's come up in other issues that subarray assignment (and other operations) are quite broken except in the simplest cases. The subarray code needs a good rework.

See #9313, #10442,  #11946

[2019-03-24 17:01] mattip commented on #12385
@jicksy let us know if you need help getting started: what you tried and where you get stuck.

[2019-03-24 17:41] rgommers commented on #12385
To make this ticket actionable it needs some decisions. Here is the easiest part, the functions that definitely need to be documented (i.e. review/improve docstring, and add to reference guide):

        'deprecate': 'numpy.lib.utils.deprecate',
        'deprecate_with_doc': 'numpy.lib.utils.<lambda>',
        'get_include': 'numpy.lib.utils.get_include',
        'show_config': 'numpy.__config__.s

[2019-03-24 21:09] smellslikekeenspirit commented on #10106
Hi, can I work on the documentation for the unticked functions? Or have they been done already?

[2019-03-24 21:20] smellslikekeenspirit commented on #12385
Hi, I'd like to work on this!

[2019-03-24 21:25] mattip commented on #10106
@smellslikekeenspirit you can check by help(), if it returns None then the documentation is missing. If you find they are **not** missing, please let us know so we can mark them.

[2019-03-25 00:35] rgommers commented on #12385
Some more proposed decisions:

Deprecate in `numpy` namespace because is available in `np.testing` or `np.lib`:
[code]

Document and add to reference guide:
[code]

Deprecate completely (trivial alias with one keyword):
[code]

Deprecate because it was never meant to be public:
[code]

[2019-03-25 00:35] rgommers commented on #12385
@smellslikekeenspirit please go for it! I suggest to comment here what part you are working on, because there seem to be multiple people interested.

[2019-03-25 00:50] tylerjereddy commented on #13173
Ok, I've made a note about this. I can build OpenBLAS locally & I've been playing with the static GCC runtime linkage described by Carl recently. Anyway, I think we're just talking about a version bump through the MacPython chain at the moment.

[2019-03-25 09:23] #11126 closed

[2019-03-25 09:23] #11216 closed

[2019-03-25 11:32] carlkl commented on #6981
This issue should be closed IMHO due to the fact that PYPI numpy is not build by mingwpy and https://github.com/numpy/numpy/pull/6978 is merged. @rgommers, any comments?

[2019-03-25 11:40] carlkl commented on #4909
@juliantaylor, this issue is outdated as PYPI numpy is build by MSVC with OpenBLAS and should be closed IMHO.

[2019-03-25 12:54] jyox007 commented on #13129
Hello @mattip I am an outreachy applicant . can i take this ticket.

[2019-03-25 15:26] a-deeb commented on #13172
Hi, I would like to help out, I just made a pull request and added the file but I'm not sure if its in the correct directory

[2019-03-25 19:00] zadeck opened #13185 "documentation bug for amin and many similar functions."
### Reproducing code example:

array([1, 3])

1

The documentation states that

Returns: | amin : ndarray or scalar Minimum of a. If axis is None, the result is a scalar value. If axis is given, the result is an array of dimension a.ndim - 1.
-- | --

However it seems that the documentation should really say that if keepdims=True, the result array will have the same number of dimensions as the inp

[2019-03-25 19:13] vrindaaa commented on #13013
While trying to create the documentation using make html I'm getting the following error
mkdir -p build/html build/doctrees
LANG=C sphinx-build -b html -WT --keep-going -d build/doctrees   source build/html
Sphinx v1.6.7
Usage: sphinx-build [options] sourcedir outdir [filenames...]

Filename arguments:
  without -a and without filenames, write new and changed files.
  with -a, write all files.
  w

[2019-03-25 19:21] mattip commented on #13013
Sphinx 1.6.7 is really old. We require sphinx 1.8.3 or later. Your choices are:
- set up a virtualenv `sudo apt install virtualenv; virtualenv -p python3 /path/to/some/directory; source /path/to/some/directory/bin/activate`. Then you can freely `pip install` anything you need into the virtualenv, set up multiple virtualenvs, and easily start over when that virtualenv gets messed up (including inst

[2019-03-26 00:09] abalkin opened #13187 "float32.round does not round"
The round() method seems to truncate instead of rounding when applied to 32-bit floats:

[code]

### Reproducing code example:

[code]

### Numpy/Python version information:

[code]

[2019-03-26 03:14] Dan-Patterson commented on #13187
different... but I can't think of a use-case for it
[code]

[2019-03-26 04:14] 1313e commented on #11826
Simply execute `export OMP_NUM_THREADS=1` before running your Python script and you solved the problem.
I had the same problem about a year ago, where adding more processes would result in slower code execution due to more OpenMP threads being requested on a single core.

However, I would like to see a way to manually control the number of threads that NumPy's linalg module uses, as that would sti

[2019-03-26 04:35] ksunden commented on #13187
[code]

I cannot reproduce, tried recompiling numpy with clang (though did not go so far as to recompile python itself)

[2019-03-26 06:31] rgommers commented on #6981
It doesn't look like it is fixed, so this is still a `numpy.distutils` bug (`numpy.distutils.misc_util.mingw32()` must reliably detect whether a 32-bit MinGW compiler is installed). gh-6978 just fixed an issue that was caused by `misc_util.mingw32()` being broken, but didn't fix `misc_util.mingw32()` itself.

It's not high prio though, given that we're not building with MinGW at the moment. But it

[2019-03-26 06:35] rgommers commented on #4909
yes this isn't really relevant anymore I think, let's close.

[2019-03-26 06:35] #4909 closed

[2019-03-26 08:12] FabianIsensee commented on #11826
Hi everyone,
please excuse my very late reply and thank you very much for your responses! I will look into @anton-malakhov 's repository, hopefully it does what I need.
@1313e , @seberg I am aware of the `OMP_NUM_THREADS` 'fix', but what I really need is a solution along the lines of 'numpy.set_omp_threads(1)'. I am providing an open source python package (batchgenerators) that uses multiprocessin

[2019-03-26 10:41] oceandatalab opened #13189 "Platform-dependent behavior of either numpy.random.normal or numpy.abs"
It seems the behavior of either ``numpy.random.normal`` or ``numpy.abs`` is not consistent across platforms (at least on Linux and macOS). We use the output of ``numpy.abs`` as the ``scale`` parameter passed to ``numpy.random.normal``: a ValueError is raised when the array passed to ``numpy.abs`` contains a NaN value on some systems while the statement is executed without error on others.

Besides

[2019-03-26 11:03] ojaswi12 commented on #13129
Is this issue still open? I'd like to work on this.

[2019-03-26 11:26] seberg commented on #13189
Just to note for whoever looks at it next. This is related to `np.signbit` (on my arch I get the error as well), which seems to be a bit ill defined for NaN. I am not sure if this check was not even changed recently and one reason for the signbit may even have been NaN?

[2019-03-26 11:30] mattip commented on #13129
@ojaswi12 go for it. Reference this issue in the PR so a link shows up here letting other people know it is underway.

[2019-03-26 11:34] jyox007 commented on #13129
Hello,@mattip I am an outreachy applicant. can I take this ticket?
Is this issue still open?

[2019-03-26 11:39] Koushikphy opened #13190 "f2py compile with the -qopenmp ifort flag even in the serial mode"
I have a Fortran 90 code, with OpenMP implemented for some parts. Now to compile the Fortran code using f2py with OpenMP support I have to pass the f90 compiler flags. Now the code should compile with OpenMP support only if I provide the OpenMP relevant flag, unless it must be compiled as a normal serial code. This works as expected for gfortran but for ifort it doesn't. Lets explain this,

if I r

[2019-03-26 11:56] bmakos commented on #13187
[code]

Same, can't reproduce.

[2019-03-26 12:10] mattip commented on #13129
We don't really "assign" issues, usually the first (and if there is more than one, best) PR is the one accepted. It is a bit unusual to have so many people interested in a single issue.

We suggested a number of issues Outreachy applicants try. Both @aashuli and @ojaswi12 have expressed an interest, it would be a shame to invest work to have it discarded since someone else submitted first.

[2019-03-26 13:19] rgommers commented on #13190
`-qopenmp` is hardcoded at https://github.com/numpy/numpy/blob/master/numpy/distutils/fcompiler/intel.py#L63. If you just need a solution for yourself, I suggest editing that file. If you need a portable proper solution, let's discuss.

[2019-03-26 14:00] grlee77 opened #13192 "better support for in-place modification in apply_along_axis"
In #13149 it was observed that the call to `apply_along_axis` within `np.pad` assumes in-place modification of the array. In this case, `apply_along_axis` itself will still allocate a new output array, which is inefficient. It would be nice to have some sort of `inplace` argument for `apply_along_axis` , to indicate when no output array needs to be created.

I will create a PR with a minimal imple

[2019-03-26 15:52] cagostino opened #13194 "ENH: Add keyword option to histogram in order to return bin centers"
Not sure if this is already implemented in some other function but I often find myself needing to use the outputs of histogram and I often see quick little fixes on Github, stackexchange, etc. for getting the bincenters from the np.histogram/plt.hist outputs.
I think it would be useful to have an option to include the bincenters as an output so that one can easily utilize that info and plot with p

[2019-03-26 16:03] eric-wieser commented on #13194
That plot looks pretty bad to me - you need to set the bin widths too.

Can't we just leave the user to do this? `(b[1:] - b[:-1])/2` is not hard to write, and it sounds like the real problem here is using `.bar` instead of `.hist`

[2019-03-26 16:08] cagostino commented on #13194
Since it is not hard to write, wouldn't it be fairly simple to then just include it as another option? Makes it easier for everyone (especially those who may not find it so straightforward) in the end to do that.
The point of the post was not the plot, just one example for how it can be useful.

[2019-03-26 16:25] abalkin commented on #13187
It looks like I had an unrelated module loaded that changed the FP rounding mode.  Sorry for the noise.

It is odd that only numpy round was affected and not the builtin, but there are other places where numpy assumes more about the CPU than python does, so I am closing this issue.

[2019-03-26 16:25] #13187 closed

[2019-03-26 19:29] kykosic opened #13195 "Inconsistent testing `np.nan` in set"
There are inconsistent behaviors when using np.nan in set membership tests. For all types of nan, it is true that `np.nan != np.nan`. However, only with the `np.float` type of nan does `np.nan in {np.nan}` set membership evaluate to `True`.

### Reproducing code example

[code]
Output:
[code]
### Numpy/Python version information:
[code]

[2019-03-26 19:32] vrindaaa commented on #13013
I tried to run `make html` in the numpy/numpy/doc directory but I'm getting the following error
make: *** No rule to make target 'html'.  Stop.
What am I doing wrong?

[2019-03-26 19:49] rgommers commented on #13013
you're in the wrong directory, use `doc/` not `numpy/doc/`. to verify you're in the right place, there's a file `Makefile` there

[2019-03-26 22:37] n0Armin commented on #11871
I have faced the same issue.
I have solved the problem by uninstalling Theano, tensorflow, and keras; then installed them in this order:
1. theano
2. tensorflow
3. keras

[2019-03-26 23:09] seberg commented on #13195
This is not a property of numpy, but instead a property of python. NaN does not have the necessary property that `NaN != NaN` although `hash(NaN) == hash(NaN)` **can** be `True`. There is not just one `NaN` singleton, `np.nan` is just one `NaN` instance (it is an instance of python float and not `np.float64` which is what you see here in part), since `float(np.nan) is np.nan`.

This is an issue th

[2019-03-26 23:09] #13195 closed

[2019-03-26 23:11] seberg commented on #13195
Sorry, the important thing of course is that `np.nan is np.nan` although `np.nan != np.nan`. Hash may play a minor role, but it is mostly that NaN (just like all floats) is hashable although it fails the equality property.

[2019-03-26 23:13] anton-malakhov commented on #11826
there is no API for you unfortunately, the tools were designed as command-line helpers for users. loky might be a better shot if you need an API. We discussed with sklearn folks that when loky will implement functionality from smp module, it can be rebased on top of loky. Overall, there is a need for an industry-wide KB, parallelism orchestration library, similar to what Apache Arrow does for memo

[2019-03-26 23:37] 1313e commented on #11826
@FabianIsensee I know that feeling, as I am in the same situation.
The way I fixed that is that I check if `OMP_NUM_THREADS` was set to 1 whenever my package is imported and it uses more than a single MPI process, and if not, it raises a warning telling you that you might want to set it to 1.
Of course, it is not a perfect solution, as the user will have to set it to 1 first and then re-execute th

[2019-03-27 03:24] mimakaev commented on #11826
We will probably use this code as a solution for now. It is hard to test this because you never know how are people/distributions compiling numpy. But this code I believe should work at least for MKL.

[code]

There is also a nearly-complete solution somewhere in the link below, but we didn't use it in the end because it seemed complicated.
https://github.com/tomMoral/loky/pull/135/files#diff-e49a

[2019-03-27 04:38] eric-wieser opened #13197 "np.datetime64(big, 'W') overflows"
Creating an issue for this so we can track it

N days ought to be less than N weeks, but that falls apart when near the upper bound of the ranges:

[code]

[2019-03-27 07:04] tomMoral commented on #11826
I am writing a dedicated package joblib/threadpoolctl with the solution we wrote in loky (tommoral/loky#135). It currently handles `mkl`, `openmp` and `openblas` with both a context API and a functional one. I did not finish packaging it to pypi and it is still in heavy development but if some of you want to test it from master and give me some feedback, it would be awesome.

[2019-03-27 11:15] paugier commented on #11826
@tomMoral `threadpoolctl` would be great to solve my original issue without Numpy modification! Thank you for this great work! We'll use it in [fluidimage](https://bitbucket.org/fluiddyn/fluidimage) when it's ready (we should actually also use joblib/loky for executors of topologies but it's another story).

I tried `threadpoolctl` and it seems to work nicely with the setup I used to try it (Debia

[2019-03-27 13:30] #9293 closed

[2019-03-27 15:42] kykosic commented on #13195
Very enlightening, thank you for the detailed response!

[2019-03-27 19:34] Gabriel-p opened #13198 "[Feature request] Add nanptp function"
There is a [ptp](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ptp.html) function but it will fail when there are `nan` values in the array.

[2019-03-27 21:16] 0x0L opened #13199 "var, std memory consumption"
Hello,

It looks like numpy is allocating a whole new array to compute the second moment as seen in [_methods.py](https://github.com/numpy/numpy/blob/e6147b9bf580361f2f74ac72003f81e957587528/numpy/core/_methods.py#L117).

This could be easily improved by adding a low level function to compute the sum of squares (or any power for fast nth moment computation) along a dimension and expanding the squa

[2019-03-27 21:48] jdswinbank opened #13200 "`numpy.genfromtxt` doesn't properly close input in the event of an error"
If an error is thrown when processing input, `np.genfromtxt` doesn't cleanly close the file it has opened.

For example, in the below, a `UnicodeDecodeError` is thrown while attempting to interpret `£` as ASCII. That error is expected, but it results in a `ResourceWarning` about the file not being properly closed.

Replace ``ascii`` with ``utf-8``, and the `ResourceWarning` vanishes.

### Reproduc

[2019-03-28 01:02] ahaldane commented on #13199
I think it's actually much easier than that: You just need to turn that line into an in-place operation. `np.asanyarray` doesn't make a copy, rather it is the subtraction operation that creates a new array.

So I think just replace `x = asanyarray(arr - arrmean)` by
[code]
and that will avoid an allocation. Can you try that and see if it helps sklearn?

[2019-03-28 01:15] eric-wieser commented on #13199
`arr -= arrmean` will not work if `arr.dtype` is integral

[2019-03-28 01:15] charris commented on #13199
@ahaldane I suspect it was done that way for a reason. Note that `arr` and `arrmean` may be of different types, or so it looks to me on a quick scan.

[2019-03-28 01:17] charris commented on #13199
Note that it wasn't easy getting the function to work correctly for all the corner cases.

[2019-03-28 02:35] eric-wieser commented on #13200
Sounds like a with statement is needed

[2019-03-28 06:22] Kai-Striega opened #13201 "Expose `copy` argument is asarray et al."
Currently `asarray` et al. ensure passed values are arrays with the given properties e.g. `ascontiguousarray` ensures an array with row-major (c like) storage, returning a copy of the array if it is not. A simple use case could be ensuring an array is column-major before being passed to a fortran function e.g. in [SciPy](https://github.com/scipy/scipy/blob/12fe2866a9d489d2e4eabd279d1abb930a0c96b6/

[2019-03-28 06:24] Kai-Striega commented on #13102
@mattip can we close this issue?

[2019-03-28 06:49] #13102 closed

[2019-03-28 06:51] eric-wieser commented on #13201
Adding to `asarray` is a bad idea, because `asarray(x)` is just a shorthand for `array(x, copy=False)`. We don't want to introduce another way to spell this.

Adding to `asfortranarray` might be a good idea, but again `array(x, order='F')` is an existing way to spell that.

[2019-03-28 07:10] Kai-Striega commented on #13201
@eric-wieser sorry the title is supposed to be `asanyarray`.

I know that most of them are aliases for ``array(...)``, the main benefit I see to having the more explicit names is readability. e.g. I find ``np.asfortranaray(A)`` much easier to read than ``np.array(A, order='F')``.

Just to be clear the functions I am proposing to change are:

- ``asanyarray``
- ``ascontiguousarray``
- ``asfortranar

[2019-03-28 07:26] 0x0L commented on #13199
@ahaldane we don't want to modify the original array. Or am I missing something ?

[2019-03-28 10:31] ojaswi12 commented on #13129
For merging the two documents, do i have to concatenate one after the other, or do you want me to read both and create a new description for the both

[2019-03-28 10:52] mattip commented on #13129
@ojaswi12 merge the descriptions. It requires thinking about the content and the best way to unify the two descriptions, and also thinking about which one should be the primary source, the other should have a link rather than content. I think we do not want to delete either file at this stage.

[2019-03-28 12:33] josegarciaclm95 opened #13204 "np.concatenate cast int to str when concatenating arrays of pairs"
When using `np.concatenate` to concatenate arrays containing pairs `(integer, string)`, the `integer` value is cast to `string`.

### Reproducing code example:
[code]

### Numpy/Python version information:

1.15.4 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

[2019-03-28 12:37] seberg commented on #13204
note that if you wish to have a structured dtype, you have to give the dtype manually. Numpy will only automatically coerce to a single dtype:
[code]

Output:
[code]

[2019-03-28 13:01] josegarciaclm95 commented on #13204
Hi @seberg. I understand that I have to set something like this
`dt = np.dtype([('cited_by', np.int), ('kw', np.unicode_)])`
to my array, since I want to have a pair with an int and a string value, but I cannot add it to the `concatenate` function.
How should I use it?

Thanks in advance.

[2019-03-28 13:04] seberg commented on #13204
The concatenate function is to concatenate arrays, if you provide lists, numpy will have to convert them to arrays first. So it implicitely calls `np.asarray` on them. So you will either need to:

 * coerce to array yourself
 * Simply work with list until you do one final `np.array` call.

anyway, it is not an issue with the concetenate function. If anything we could force explicitly using `np.asa

[2019-03-28 13:04] #13204 closed

[2019-03-28 14:53] ahaldane commented on #13199
@0x0L Ah, looking closer I see that you're right, we can't do an inplace there since it will modify the input array. The line you highlighted can't be inplace. In that case, which unnecessary memory allocation are you thinking of? For float64, everything appears to be inplace, including the sum of squares.

For complex types, admittedly I think we're creating an array with the `np.conjugate` call.

[2019-03-28 15:00] ahaldane commented on #13199
Hmm, actually now maybe I see. What you mean is that we should have a loop (a ufunc) to do the entire operation `(arr - arrmean)**2` without any temporary array, right?

That's definitely doable as a ufunc. I want to think if it is possible without having to make a new ufunc.

[2019-03-28 15:08] 0x0L commented on #13199
We can use linalg.norm but it seems like an overkill

[2019-03-28 17:16] vrindaaa commented on #12632
Heyy, can I work on this issue?

[2019-03-28 20:54] pujaji commented on #12632
Heyy Outreachy mentors,
Can I also work on this Issue? I can see Vrindaa comment.

[2019-03-28 21:29] pujaji commented on #5460
@mattip @rgommers
Can I take up this issue and work?
May I know the obvious place to add about these?
Thanks!

[2019-03-28 21:41] mattip commented on #5460
System configuration documentation belongs in `doc/source/reference/c-api.config.rst`. Some of the others might fit into a new section `Compiler Directives` in that file. Try to see where the `NPY_SIG*` constants are used, perhaps you can come up with the correct section for them that way.

[2019-03-29 05:45] eric-wieser opened #13210 ""PublishTestResults"phase of azure does not run if tests fail"
It would be nice to take advantage of azure's ability to show failures by test. Unfortunately, we don't publish the xml file if the tests fail.

[2019-03-29 06:31] yliapis commented on #13198
Hi Gabriel, I will take a go at this over the weekend

[2019-03-29 07:09] rgommers commented on #13198
Having this linked somewhere would be nice, but I think it's too niche to include in numpy. we only want `nan*` versions of the most commonly used functions, and `ptp` is not one of those.

[2019-03-29 07:35] cod3monk opened #13212 "Int to float type conversion of numpy.array when result is in uint64 range"
When a `numpy.array` of integers (i.e., `int64`) is operated on (e.g., with an addition or multiplication) and the resulting integer is beyond the range of `int64` but still within `uint64`, the resulting type becomes `float64`. When the range of `uint64` is exceeded it becomes–as expected–a python integer object.

I would expect the `float64` results to actually be `uint64`.

### Reproducing code

[2019-03-29 07:46] yliapis commented on #13198
From looking at the existing `nan*` functions, it looks like most of the base functions have nan analogs. I agree that ptp is not the most commonly used function, but I use it quite a bit on signal processing problems, and it does feel like it is missing given the other functions in `nanfunctions.py`. I've finished implementing a basic version, I'll get it up on my account once it is cleaned up an

[2019-03-29 08:20] rgommers commented on #13212
[code]
Notice the difference between those two.  Basically first 2**64 is converted to a numpy array and *then* the casting occurs:
[code]
So this is simply a consequence of the casting rules:
[code]

[2019-03-29 08:20] #13212 closed

[2019-03-29 08:39] hameerabbasi commented on #12332
I have run into issues with Windows because of a discrepancy between Windows and other platforms, so I'm +1 on making this transition.

[2019-03-29 10:01] rnhmjoj opened #13213 "rfn.rename_fields fails if arrays constains objects"
### Reproducing code example:
[code]

### Error message:

[code]

### Numpy/Python version information:

Numpy: 1.16.1
Python: 3.7.2

[2019-03-29 10:16] Chelwin commented on #12385
Hello!  @rgommers I am starting with the first few functions that you mentioned. It is my very first time contributing to a complex project or even to documentation at this scale, so I am having a hard time locating the right document.
#10106 mentions that the new documentation should be added to numpy/add_newdocs.py but I couldn't find this directory.
What I found was numpy/core/_add_newdocs.py A

[2019-03-29 10:33] mattip commented on #12385
This is different than #10106. Many of these already have docstrings, but they do not appear in the rendered documents. For instance, [`compare_chararrays'](https://github.com/numpy/numpy/blob/master/numpy/core/_add_newdocs.py#L1072) has a docstring, but [searching for it in the docs](http://www.numpy.org/devdocs/search.html?q=compare_chararrays&check_keywords=yes&area=default) comes up empty. One

[2019-03-29 10:48] rgommers commented on #12385
I'd think `compare_chararrays` goes right under `chararray` in http://www.numpy.org/devdocs/reference/routines.char.html#convenience-class. To get it there, add it to the listing in `/doc/source/reference/routines.char.rst`.

[2019-03-29 10:53] Chelwin commented on #12385
Ok, understood. I'll keep both of you posted here

[2019-03-29 11:31] Chelwin commented on #12385
@rgommers  I did as you said. I have a couple more questions:
1. As I understand it, listing ```compare_chararrays``` should automatically reference it to the Sphinx document. Is that what Sphinx does?
For background: I couldn't check the results locally after I made the addition on my repo, so I used the inspect-element feature on the [devdocs](http://www.numpy.org/devdocs/reference/routines.char

[2019-03-29 12:06] rgommers commented on #12385
Yes, Sphinx translates `rst` documentation file into html (or pdf) content, and the Sphinx `autosummary` extension basically takes care of seeing that function name in the routine listing, extracting the docstring of that named function, then rendering it as html including the appropriate links.

Indeed

This first PR will be quite straightforward so it's probably first time right. However if you'

[2019-03-29 15:05] PDiracDelta opened #13215 "Documentation mistake numpy.floor_divide"
The [floor_divide docs](https://docs.scipy.org/doc/numpy/reference/generated/numpy.floor_divide.html) claim that

However, the mathematical expression is equal to a, not equal to b.

### Reproducing code example:

[code]

### Numpy/Python version information:

Numpy docs V1.16.1

[2019-03-29 17:39] ahaldane commented on #13199
That seems really good. The only stubmbling block might be getting all the edge cases `np.var` currently accounts for (involving different dtypes and non-arrays) to work, but if we can get an implementation using that strategy to pass unit tests, it seems like a great improvement!

[2019-03-29 18:06] helloworldexpert commented on #12738
Hi Majokux,

It's been a while since you opened this issue, so I hope you solved the problem already. If not, did you ensure that you are using the latest versions of numpy and scipy? I ran the code with the given .npz file without issue. Both .eigh calculations converged to the same eigenvalues and eigenvectors.

Good luck!

[2019-03-29 18:27] dbarbier commented on #13199
This approach is numerically unstable, see https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance.
There is also an interesting paper linked from https://github.com/dask/dask/pull/2301#issuecomment-309810317.  But a ufunc as described just above is surely simpler.

[2019-03-29 18:47] ahaldane commented on #13199
I did think about the ufunc.

While it is technically possible (we can write any code, after all), numpy isn't really set up well for making one-off complicated ufuncs like that. Really it is designed around a set of single-operation core loops/ufuncs for multiplication, addition etc, and using buffers to carry out more complex combinations of these operations. This limitation is a big motivation

[2019-03-29 18:47] sirgogo commented on #5976
I realize its been a while, but this issue is still open. Is there a work around for this? This would be very useful!

[2019-03-29 21:07] mhvk commented on #13199
If we go the `gufunc` route, we'd ideally optimize and use a 1-pass algorithm, e.g., as commented in a related issue (https://github.com/numpy/numpy/issues/9631#issuecomment-455712604), that of https://dl.acm.org/citation.cfm?id=3223036 (I quite enjoyed that paper).

The gufunc itself is not that hard to write, though it needs familiarizing oneself with the whole ufunc machinery; one could start f

[2019-03-30 00:25] #13210 closed

[2019-03-30 12:53] seberg commented on #13213
The nice fix would be fixing `view` which is being used here. The local fix is probably to just use `np.ndarray` instead of view.

[2019-03-30 14:29] 0x0L commented on #13199
Quick try at https://github.com/0x0L/numpy/commit/fd697e1e86d3e7708be62bc69c5eaf7b753daef9

[code]

Not surprisingly, it's slower than the previous implementation for large vectors

[2019-03-30 14:40] mbengtanyi commented on #13215
Hello, I'm new to open source and would like to work on this if no one is.

[2019-03-30 14:54] mhvk commented on #9631
Following up on this: a quick [gufunc implementation](https://github.com/numpy/numpy/compare/master...0x0L:moments) by @0x0L of the algorithm referenced by @sk1p [above](https://github.com/numpy/numpy/issues/9631#issuecomment-455712604) correctly gives a variance of zero for the example on top.

[2019-03-30 15:03] seberg commented on #13215
Please just go ahead, in case you are thinking about Outreachy. Especially also in that case, please look into building the documentation locally as well.

For some general notes about our workflow have a short look at: http://www.numpy.org/devdocs/dev/gitwash/development_workflow.html.

For instructions on building the documentation, see:
http://www.numpy.org/devdocs/docs/index.html?highlight=doc

[2019-03-30 15:03] SahanaJavgal commented on #13215
Hi Im Interested in solving the issue

[2019-03-30 15:11] mbengtanyi commented on #13215
On it. Thanks @seberg

[2019-03-30 15:15] charris commented on #13199
Note that Welford computes both the mean and variance in a single pass, so if you return both -- which is often wanted -- that might make up for the extra time in computing just the variance.

[2019-03-30 15:20] mhvk commented on #13199
@0x0L - that's cool!  It fixes #9631, and is substantially faster (factor 10!) for the small example array you gave.  For a large array, it is indeed a factor 3 slower, though:
[code]
Note that I think in part it is because the implementation is just a bit too complicated for vectorization: if I somewhat randomly remove the division, the addition to mu, or the addition of S, the time decreases to

[2019-03-30 15:33] mhvk commented on #13199
p.s. For those without a subscription, the paper is also available directly from the author, at https://dbs.ifi.uni-heidelberg.de/files/Team/eschubert/publications/SSDBM18-covariance-authorcopy.pdf. Note that it briefly mentions that numpy makes an unnecessary copy...

[2019-03-30 15:54] mhvk commented on #13199
OK, got it down to being faster always, by using the Young and Cramer method referred to in the article (will PR to @0x0L branch shortly):
[code]

[2019-03-30 16:10] yliapis commented on #13198
If we decide to move forward with this one, I just opened a PR with the function implementation and corresponding tests.
#13220

[2019-03-30 16:11] 0x0L commented on #13199
@mhvk Wow, that's great! For very large arrays the gain is ~ x4 for n = 5e8 on my system.

[2019-03-30 16:13] robsanpam opened #13221 "Shouldn't the result be ordered the same way as the input array?"
https://github.com/numpy/numpy/blob/685b9ace06f1dc50e2698099d7a2b6a241379318/numpy/core/fromnumeric.py#L2231

[2019-03-30 17:32] matthew-brett commented on #13221
For those who need more background, this is from `np.all`, operating on axis=0 (across rows):

[code]

This is in the correct order.  Is it possible you thought `axis=0` meant operating across columns (along rows)?

[2019-03-30 17:33] kritisingh1 commented on #12385
@rgommers I am starting on removing the deprecated parts as suggested by @seberg as I see Chelwin has started on adding listing . As you wrote in one of the comments above, these four functions , `ndfromtxt`, `mafromtxt`, `int_asbuffer`, `safe_eval`, need to be deprecated. Could you give me some pointers on what content exactly needs to be removed, apart from their listing in `doc/source/user/basi

[2019-03-30 17:35] #13221 closed

[2019-03-30 17:37] seberg commented on #13199
4x is pretty impressive, but I wonder how close we could get with streamlined two pass algorithm. I did not read the article, but it does say:

desire to use exponentially weighted moving averages) or when it
is expensive to visit twice (e.g., because it is too large to keep in
memory, or residing in a distributed storage) then incremental algo-
rithms such as ours are beneficial.

[2019-03-30 17:57] robsanpam commented on #13221
Thanks for your answer. I think I should be confusing something, but np.all() is the logical and right? How is it that the first row [True, False] returns a True?

[2019-03-30 17:59] eric-wieser commented on #13221
It doesn't, that is what `np.all(a, axis=1)` would mean

[2019-03-30 18:00] mhvk commented on #13199
@seberg - the algorithm generally wins for any case in which memory access dominates, so for large arrays. For other cases, the gains likely arise just from minimizing overheads.

Overall, my sense is that `.var()` is an operation that is done sufficiently frequently that optimization is worth it; in `C`, the `ndarray` method could even do the required ravel for `axis=None` before handing off to a

[2019-03-30 18:07] seberg commented on #13199
@mhvk yes of course it is faster, but it does have some not necessarily super low precision loss as well, no? At least that was my understanding. I am completely good with moving it to C, although it might lose some maintenance simplicity I guess, that is probably worth it here. Returning both mean and var from the (or an internal gufunc) is good to.

[2019-03-30 18:15] robsanpam commented on #13221
If I want to perform an AND reduction per row:
[code]
I am expecting an output like:
`array([False, True, False])`

However the result is:
`array([False, False])`

Shouldn't the result be an array of length 3 since I am reducing three rows?

[2019-03-30 18:23] mhvk commented on #13199
@seberg - for the precision, I guess there are both pluses and minuses - though sadly the faster version I made no longer fixes #9631:
[code]

[2019-03-30 18:24] eric-wieser commented on #13221
It shouldn't, that is what np.all(a, axis=1) would mean.

You are passing the wrong value for the `axis` arg

[2019-03-30 18:28] matthew-brett commented on #13221
@robsanpam  - it's a common error - and one I've made multiple times - but no - axis=0 means the first axis of the array.  When you say an array is shape (m, n), you mean it has m rows and n columns.   So the first axis is length m, and runs across the rows (and therefore along the columns).

[2019-03-30 18:34] seberg commented on #13199
Well, I don't know, I had only a glance at the table, and while it was not bad compared to many others, that method was worse than the two pass. I just think possible precision loss is probably the only/largest hindrance to switching to a faster/different approach.

[2019-03-30 18:36] robsanpam commented on #13221
Everything is clear now, thank you so much!

[2019-03-30 18:52] charris commented on #13199
If we want to go for high precision, the two pass Neely seems the best bet. Note that it also computes both mean and variance.  The AVX versions of cotton-cramers are very fast, I suspect that Neely could also be modified for AVX.

[2019-03-30 19:37] Plantain opened #13223 "MemoryError with fancy indexing / np.take"
fancy indexing seems to throw MemoryErrors in circumstances where I do not expect it should.
For reference I have 16GB of RAM (+ swap), and the process uses ~170MB with t & z populated.

I am using 'real' data which is monotonically increasing - the intent is to find the indexes where a value (10) would fit into array t, then find the values at those indexes in another array z.
But the same occurs

[2019-03-30 20:07] eric-wieser commented on #13223
Try it with smaller arrays, and you'll see that `z[indicies,:,:]` is not the shape you want.

[2019-03-30 21:17] RuchikaChugh commented on #13215
hey! I am an Outreachy Applicant. I am interested in solving this issue.

[2019-03-30 21:18] mattip commented on #13215
@RuchikaChugh, @SahanaJavgal please choose another issue.

[2019-03-30 21:25] RuchikaChugh commented on #5046
Can you tell which python, numpy version and which OS you are using while running this command.

[2019-03-30 21:33] RuchikaChugh commented on #5645
Hey! I am an Outreachy applicant and this will be my initial contribution. Can i help in resolving this issue

[2019-03-31 00:10] mhvk commented on #13199
Indeed, Table 2 in the paper has results for an AVX version for 2-pass Neely; overall, seems to be about 1.6 times slower than the single-pass for their 1e8 sample array. Neely has the best guarantees for accuracy even for bad data (small standard deviation around a high mean), but as you note, the case is pretty unlikely.

Of course, a gufunc would reduce memory and give a substantial speed-up no

[2019-03-31 01:07] eric-wieser opened #13225 "Indicate attempted allocation size when constructing an array gives a MemoryError"
I've seen multiple questions now of the form "why does this give a MemoryError" when the reason is the user ended up allocating a bigger array than expected.

It would be helpful to include the shape and dtype in the error message.

[2019-03-31 01:09] eric-wieser commented on #13223
I opened #13225 about producing a better error message here.

[2019-03-31 02:19] 0x0L commented on #13199
I tried

[code]

It seems to solve #9631 (at least the example @mhvk gave)

On my machine for n = 5e8, I get
* current implem: 2.6s
* mhvk version 0.66s
* two-pass Neely 1s

[2019-03-31 03:04] SahanaJavgal commented on #10627
Hello, I am new to Open Source and I am Applying for Outreachy. I would like to work on this Issue. Could you please assign it to me @pitrou

[2019-03-31 03:19] SahanaJavgal commented on #10803
Hello, Im new to Open Source and I am Applying for Outreachy. I would like to work on this Issue. Could you please assign it to me

[2019-03-31 03:28] SahanaJavgal commented on #10146
Hello, Im new to Open Source and I am Applying for Outreachy. I would like to work on this Issue. Could you please assign it to me

[2019-03-31 03:29] SahanaJavgal commented on #9258
Hello, Im new to Open Source and I am Applying for Outreachy. I would like to work on this Issue. Could you please assign it to me

[2019-03-31 03:29] SahanaJavgal commented on #9476
Hello, Im new to Open Source and I am Applying for Outreachy. I would like to work on this Issue. Could you please assign it to me

[2019-03-31 04:11] hanjohn commented on #10146
done, sorry about dropping this

I don't think I have permissions to assign this issue but feel free to open up a PR and I can close mine

[2019-03-31 04:41] eric-wieser commented on #10803
This strikes me as a bug in uniform

[2019-03-31 06:53] mattip commented on #10627
@SahanaJavgal better than "assign" ing an issue to you is to issue a pull request, put in the comment the text `fixes #10627`. Then a cross-ling to the opened pull request will appear here and others will know you are working on it.

[2019-03-31 06:56] mattip commented on #9258
@SahanaJavgal work on this has already begun in #9312. No need to duplicate effort

[2019-03-31 06:57] mattip commented on #12385
xref #9312 which began documenting `show_config`

[2019-03-31 07:39] mattip commented on #12452
closing,  #13216 added the suggested output line

[2019-03-31 07:39] #12452 closed

[2019-03-31 10:16] seberg commented on #13199
Those are nice timings, aligns pretty well with the paper, I guess.

I find it hard to say what the 2 digits of precision mean in practice. Although, Neely solves some otherwise problematic cases as well I guess. I can be waived, but my preference would be to either stick with two-pass, or go for two-pass Neely.

It is a bit funny, if we implement Neely, the mean calculated/used by the variance fu

[2019-03-31 10:22] SahanaJavgal commented on #10627
Okay thanks

[2019-03-31 11:34] seberg commented on #13173
I will just close this issue. If it crops up for you/more people, please comment so we can reopen and discuss if something needs to be done. It is not a numpy issue and our wheels do not have the problem. While it *may* be possible to patch it over in numpy, I am not sure it is trivial and certainly not pretty.

[2019-03-31 11:34] #13173 closed

[2019-03-31 11:52] seberg commented on #6479
Seems this was at least partially fixed by: 6c25ca1ddfd8d02375544ba9be03b654a62997ba, it now raises an error for the first (`np.equal`) version. Not quite sure that all things around it are fixed, but closing since the initial problem seems gone.

[2019-03-31 11:52] #6479 closed

[2019-03-31 11:55] Saluev opened #13229 "Optimization for complex matmul (2x speedup)"
I've been doing some benchmarks on complex matrix multiplication in NumPy and noticed that some quite simple optimizations haven't been implemented. Is there a design-related reason for that or I can try to contribute it?

### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:

1.13.1 3.6.1 (default, Apr  4 2017, 09:40:51)
[GCC 4.2.1 Compatible Apple LLVM

[2019-03-31 11:57] seberg commented on #6455
Seems 1.16 (with python 3.7) will segfault, probably due to not catching the maximum recursion depth specifically. Test to easier copy paste for the future:
[code]

[2019-03-31 11:59] mattip commented on #13229
Does this replicate on a more recent numpy? `matmul` was rewritten as a gufunc.

[2019-03-31 12:00] kritisingh1 opened #13230 "Change required Sphinx version to build docs"
As of now, the guide to build the numpy docs [here](https://www.numpy.org/devdocs/docs/howto_build_docs.html) mentions the minimum Sphinx version required to be 1.0.1, however it throws an error which is due to 1.0.1 being an outdated version.
### Reproducing code example:
Run `make html` in `numpy/doc` directory
### Error message:
`sphinx-build: error: unrecognized arguments: --keep-going`

Hence

[2019-03-31 12:01] mattip commented on #6455
connected to #13003?

[2019-03-31 12:05] seberg commented on #6410
Running `setupy.py clean` has been disabled and gives a nice error (and I guess it would be pretty unused now anyway).

[2019-03-31 12:05] #6410 closed

[2019-03-31 12:09] seberg commented on #6399
This would probably require a hack in the ufunc inner loop (should be in `loops.c.src`):

 1. Check if the stride of the second argument is 0.
 2. If it is 0, run a special loop.

Since I guess it does not hurt performance for the normal case, it might be worth it.

[2019-03-31 12:10] seberg commented on #6398
This seems to have been implemented (at least in 1.16, probably earlier).

[2019-03-31 12:10] #6398 closed

[2019-03-31 12:16] Saluev commented on #13229
Oh. I upgraded to numpy 1.16.2 via pip and now it just hangs :(
[code]

[2019-03-31 12:17] Saluev commented on #13229
But anyway, I guess rewriting code to lower level wouldn't help. This is an algorithmic kind of optimization, saving 25% of floating point multiplications.

[2019-03-31 12:33] Saluev commented on #13229
I did a hack on recent numpy to do this despite the bug.
[code]
The difference is smaller, but it is still there. It would be interesting to do this benchmark again when the bug is fixed.

[2019-03-31 12:37] seberg commented on #6455
I do not think so, since `Decimal.dtype` is not defined. Although the fix may look similar, in the sense of using pythons recursion safe-guard macros.

[2019-03-31 12:40] seberg commented on #6327
As noted above, the docs have been clarified in that respect.

[2019-03-31 12:40] #6327 closed

[2019-03-31 12:41] seberg commented on #6334
Seems like those documentation websites have been fixed long ago.

[2019-03-31 12:41] #6334 closed

[2019-03-31 12:51] Saluev opened #13232 "Can't multiply real parts of two complex matrices"
When I generate two complex matrices of particular size and try to multiply their real parts, numpy gets stuck.

### Reproducing code example:

[code]

### Numpy/Python version information:

1.16.2 3.6.1 (default, Apr  4 2017, 09:40:51)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]

[2019-03-31 13:04] seberg commented on #13229
Hmmm, the multiplication goes the `DOUBLE_matmul_inner_noblas` route here, although I am still a bit surprised it is so massively slower, but I suppose I cannot get much worse with iteration order/cache misses (note that copy+BLAS call is fast). OTOH, a factor of 10 faster for blas is not odd, and with all the bad memory order it could be substantially more I suppose. I suppose the `einsum` versio

[2019-03-31 13:25] 2sn opened #13233 "enhancement: axes keyword for cross"
It would be great to have an "axes" keyword in `np.cross` for consistent API to `np.tensordot`.

### Reproducing code example:

[code]
Currently, rather ugly `axisa`, `axisb`, `axisc`, or just `axis` have to be provided.  I assume it could be added to overwrite the existing keywords for backward compatibility.   I propose that the new `axes` keyword may be an iterable (or tuple) of length two or t

[2019-03-31 13:36] seberg commented on #7182
Seems long ago fixed in 05dd27e2ec481dfa923d4cd2f149c3da82f0a9e8.

[2019-03-31 13:36] #7182 closed

[2019-03-31 13:41] seberg commented on #7130
Sounds like this must have been issues with using a very old numpy version, or some very temporary issue (with the feature missing in older versions), so I will close. The original poster had solved the issue by upgrading in any case and it is very old.

[2019-03-31 13:41] #7130 closed

[2019-03-31 13:42] seberg commented on #7169
These issues have been fixed. Multiplying a string by python floats always raises nowadays.

[2019-03-31 13:42] #7169 closed

[2019-03-31 13:48] seberg commented on #7072
One heck of a strange bug, but I cannot reproduce it in 1.16 and it is pretty old so I will close it.

[2019-03-31 13:48] #7072 closed

[2019-03-31 13:52] seberg commented on #7124
Cannot reproduce it on 1.16, so those checks seem to have been fixed in `np.dot` (out kwarg can be a subclass of ndarray), it is still strange in the sense of returning a memmap, but that is a deficiency of memmap (which I am very sure has an open issue somewhere).

[2019-03-31 13:52] #7124 closed

[2019-03-31 13:55] seberg commented on #7069
Actually, I will close this, as it is tracked in gh-11521 (just like many there, they would be pretty simple things to do for first contributions).

[2019-03-31 13:55] #7069 closed

[2019-03-31 14:04] charris commented on #13199
Yes, one generally doesn't need high precision in the variance :)

any of the algorithms we evaluated is precise enough unless our
input data as in the example above has a very high dynamic range,
causing a loss of precision already when computing the sum.

Where I recall problems is the computation of the mean where the accumulation failed because of insufficient precision, roundoff error was sim

[2019-03-31 14:18] yesass commented on #4363
HI! I am an Outreachy applicant and I guess, this is the only unassigned issue :) Can I solve it?

[2019-03-31 14:56] RuchikaChugh commented on #13232
I would like to work on this issue.

[2019-03-31 15:09] mattip commented on #4363
@yesass yes, and please xref your pull request by putting `#4363` in the comments so others will know you have started working on this.

[2019-03-31 15:31] mattip commented on #13232
This is a limitation of `matmul` [giving up](https://github.com/numpy/numpy/blob/v1.16.2/numpy/core/src/umath/matmul.c.src#L366) and not using BLAS when doing matrix-matix matmul if any of the input or output are not contiguous. We should be copying the input to temporary buffers, since [`gemm`](http://www.netlib.org/lapack/explore-html/db/dc9/group__single__blas__level3_gafe51bacb54592ff5de056aca

[2019-03-31 16:30] mhvk commented on #13232
Indeed, just takes very long as 2^46 operations are done... Though for me the difference between adding `.real` and just doing `A @ B` is not that large (30s vs 11s)-- are we sure this is the same issue?

[2019-03-31 16:48] mhvk commented on #13199
In principle, after a single pass, you know whether the result is reasonably accurate, so one could even do a second pass as follow-up. But I'm quite OK with just going for a better two-pass; it still has the advantage of avoiding the intermediate array of differences.

[2019-03-31 17:00] ahaldane commented on #13199
Very interesting work all!

It's been alluded to above, but I wouldn't be opposed to putting a few sum/mean/var alternatives algorithms somewhere like in `numpy.lib`, with different tradeoffs in speed and accuracy. They seem like such useful fundamental operations that the cost/benefit of maintenance seems good. I personally have written my own module doing kahan variants of certain operations in

[2019-03-31 18:25] SahanaJavgal commented on #10627
#13235 fixes the above issue #10627

[2019-03-31 19:30] rabernat commented on #13194
I agree that this would be useful in some cases.

However,  `(b[1:] + b[:-1])/2` (arithmetic mean) is not always a good approximation of the bin centers. What about logarithmically spaced bins? In that case, a better choice would be `np.sqrt(bins[1:] * bins[:-1])` (geometric mean).

[2019-03-31 20:48] jakirkham commented on #13100
Thoughts on the question above?

[2019-03-31 20:49] jakirkham commented on #9836
cc @jni (as we were discussing this previously)

[2019-03-31 21:08] rgommers commented on #12385
@kritisingh1 your doc changes so far look fine. Deprecating functionality is a bit more involved than editing docs, you need to:

- issue a `DeprecationWarning` when the function is called
- ensure that that warning is silenced when running the tests for that function
- edit the function docstring to note that it is deprecated (can possibly be done with `np.deprecate` or `np.deprecate_with_doc`, o

[2019-04-01 02:53] rkern commented on #10803
No, just sloppy documentation. Given floating point arithmetic, it is actually pretty hard to come up with an algorithm that guarantees the `[closed, open)` condition for arbitrary ranges (and is simple and efficient). What we currently have in the docstring is the _intention_ of the code. The appropriate thing to do is document the caveat, [like the stdlib `random` module does](https://docs.pytho

[2019-04-01 11:31] bmakos commented on #13225
I will give this a try sometimes this week. If someone else is already working on it let me know.

[2019-04-01 11:33] FranzForstmayr opened #13236 "np.floor_divide drops imaginary part silently"
### Reproducing code example:
[code]
Is there a special reason for this behavior? I would expect to floor_divide the imaginary and complex part.

### Error message:

No error or warning is thrown, not even that imaginary part is getting lost.

### Numpy/Python version information:
1.16.1
3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]

[2019-04-01 13:24] kaivu1999 commented on #13236
You can't have a floor function for complex numbers.
[Floor of Complex Numbers](https://math.stackexchange.com/a/2095680/618191)
Also, we don't divide the imaginary part and complex part separately. We get one complex number on dividing 2 complex numbers. ([Dividing complex numbers](http://mathworld.wolfram.com/ComplexDivision.html))
We can still follow the convention Floor ( Complex Number ) = Fl

[2019-04-01 14:04] RuthAtem commented on #13236
Numpy can't take floor of complex numbers, so instead of giving an error, it simply drops the imaginary part.So I think Numpy is working well

[2019-04-01 14:25] FranzForstmayr commented on #13236
Ok, I thought it would be worth to throw at least a warning, that the imaginary part is dropped, similar to other functions.

[2019-04-01 14:39] seberg commented on #13236
Normal python throws an error, seems like we should probably follow suit, unless someone can think of a use case?

[2019-04-01 14:52] kaivu1999 commented on #13236
Yeah I think we should throw a TypeError.
Can I work on it ?

[2019-04-01 14:58] FranzForstmayr commented on #13236
Personally i would even prefer a (2+2j)//2 = (1+1j), even it's not perfectly mathematically correct.

[2019-04-01 14:59] 0x0L commented on #13199
Neely looks like a balanced default choice. Although it makes sense to have other variants in case the user care (in my ML work I would definitely go for speed) especially since it looks like it would be fairly simple to manage.

Some progress toward this at 0x0L@1cf3c77d469bfab3527afd7c695768b100b1ad79
Also started adding complex versions

[2019-04-01 15:05] seberg commented on #13236
Not sure what is best, remainder is simply not implemented for complex (throws an error). And if we go to error, maybe we should deprecate first.

Of course you can work on it, it will require to dive a bit into the how ufuncs work and are generated, so it may not be quite trivial, also there may still be some discussion necessary of where we want to go. That does not need to stop you though.

[2019-04-01 15:08] mhvk commented on #13236
"In the face of ambiguity, refuse the temptation to guess." suggests that it should be a `TypeError`.

@kaivu1999 - to address this, likely best would be to remove the complex types from even being generated in the `floor_divide` ufunc (note that `divmod`, `remainder`, and `modf` are already OK). Look in `core/src/umath/loops.c.src`, in stuff following line 2321 (likely just remove lines 2480--250

[2019-04-01 15:11] seberg commented on #13236
@mhvk yeah, you also have to adjust `numpy/core/code_generators/generate_umath.py`, but if we want to deprecate first, you will have to create a custom type resolver probably (touches additionally `numpy/core/src/umath/ufunc_type_resolution.c`).

[2019-04-01 15:13] mhvk commented on #13236
@seberg - it seems the present behaviour should really just be considered a bug, and that for consistency with `remainder` and `divmod`, we should start raising an error.

 Whether we might want different behaviour would seem a separate discussion.

[2019-04-01 15:16] sk1p commented on #13199
:+1:  It would also be great if the "building blocks" for the streaming/incremental and parallel/distributed use cases, as mentioned in the paper above, were exposed.

[2019-04-01 17:48] jordannickerson commented on #12972
I'm suffering a similar problem when trying to use IDLE. I can import numpy from the anaconda prompt, but not from IDLE. Can you clarify how to change the path appropriately?

[2019-04-01 17:56] 0x0L commented on #13199
While trying to reimplement `_var` and pass `runtests.py`, the biggest difficulty seems to be when `axis` is a tuple.

[2019-04-01 18:12] mhvk commented on #13199
A yes,  in `gufunc`s, the `axis` argument can only be a single integer - given that I implemented that, I should have remembered! The hope is to eventually have this be the same as for reductions, but we're not there yet... This means quite a bit of reshaping before and after (and having to take care with `out`...)

[2019-04-01 18:17] 0x0L commented on #13199
textbook one-pass and neely would be fine but Youngs-Cramer has `i` as state

[2019-04-01 18:52] fgvanzee commented on #7372
As of [BLIS](https://github.com/flame/blis/) [0.5.2](https://github.com/flame/blis/blob/master/docs/ReleaseNotes.md#changes-in-052), we have a [Performance](https://github.com/flame/blis/blob/master/docs/Performance.md) document that showcases single-threaded and multithreaded performance of BLIS and other implementations of BLAS for a representative set of datatypes and level-3 operations on a va

[2019-04-01 22:15] RuthAtem commented on #13230
I would like to work on this project

[2019-04-01 22:54] ArtificialQualia opened #13237 "Memory leak with ndarray as function arg in Cython"
When using an ndarray as an arg to a `cdef` function, and that `ndarray` is not used in the function, that object is never properly garbage collected and causes a memory leak.

If the `ndarray` is used in the function, it is collected properly.

### Reproducing code example:

memleak.pyx
[code]

setup.py:
[code]

to run:
[code]

### Numpy/Python version information:

`1.16.2 3.7.1 (default, Dec 10

[2019-04-01 23:09] atmosmattbrewer opened #13238 "Importing the multiarray numpy extension module failed"
I am getting the 'Importing the multiarray numpy extension module failed' error message when I create a new python environment and install the python package SatPy. I have uninstalled and reinstalled numpy multiple times and created new environements as well as clone working environments. I am not sure if this issue is caused by SatPy or numpy but when I install SatPy everything breaks.

The full

[2019-04-02 04:53] dvincentwest opened #13240 "sum along axis gives different answer for C v F ordered array"
when doing a sum along an axis, I get different answers for C versus Fortran ordered arrays.

In the example below I have a large 2D array where all values are zero except for the first row.  Slicing the first row and summing gives the same answer for both arrays.  However, summing along the second axis and taking the first element of the result gives a different answer for the F ordered array whi

[2019-04-02 05:03] #13165 closed

[2019-04-02 05:06] #13230 closed

[2019-04-02 05:16] yesass commented on #4363
@mattip  Hi! Can you check it out? https://github.com/numpy/numpy/pull/13241

[2019-04-02 05:18] kaivu1999 commented on #13236
Yeah I am on it.
I have changed the code such, and now it shows:
`>>> a // 2
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: ufunc 'floor_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''
`
Shall I generate the pull request ?

[2019-04-02 05:36] yesass commented on #13215
@mattip Hi! If nobody opened a PR, can I work on this issue?

[2019-04-02 05:37] eric-wieser commented on #4363
Lifting [a comment from #10504](https://github.com/numpy/numpy/pull/10504#issuecomment-362846574):

[2019-04-02 06:20] yesass commented on #4363
@eric-wieser Hello!
So as I understood, the doc should be this way:
[code]

Also, there should be Deprecation Warning raised like:
[code]

[2019-04-02 06:27] mattip commented on #13215
It seems the others gave up, so go ahead. Please xref the issue by adding `#13215` in the comments after you create the pull request, i.e. `Fixes #13215`

[2019-04-02 06:31] mattip commented on #13236
@kaivu1999 a pull request would be a good start. Please be sure to put `Fixes #13236` in the first comment, which will cross reference the issue and the PR.

[2019-04-02 06:36] rgommers commented on #7372
Very interesting, thanks @fgvanzee.

I had to look up Epyc - seems that that is a brand name based on the Zen (possibly updated to Zen+ at some point?) architecture. Perhaps better to rename to Zen? For our user base Ryzen/Threadripper are the more interesting brands, they may recognize Zen but probably not Epyc.

[2019-04-02 06:50] eric-wieser commented on #4363
I think we should compromise on allowing `filled(...)` to take a broadcasting value, and writing tests for it (it's easy to get right), but deprecating using an non-scalar fill value for `fill_value` (because getting that right is hard).

[2019-04-02 07:08] mattip commented on #4363
The  deprecation warning should have a comment before it: `# 2019-04-02, 1.17.0, gh-4363`

[2019-04-02 08:37] mbengtanyi commented on #13215
I am working on it. Having a bit of problems building sphinx though.

On Tue, Apr 2, 2019 at 7:27 AM Matti Picus <notifications@github.com> wrote:

[2019-04-02 08:40] seberg commented on #13240
This is expected due to limited numerical precision causing different round-off errors when you do the sum in a different order (which numpy does to optimize speed).

Note that there is one extra caveat here, in that the numerical precision is actually improved over the naive implementation for the "fast" sum (C-order in your case).

[2019-04-02 09:04] yesass commented on #4363
Ok, I will edit the docstring and add deprecation warning. I have several questions:
Is it necessary to add examples in docstrings?
And should I write a test? If yes, could you tell a specific file that contains tests in this method (to see the examples).

[2019-04-02 09:21] mattip commented on #4363
It is nice but not required to add examples in the docstrings. Some of them already have examples. If you do modify docstrings, make sure to run `python runtests.py --refguide-check` in addition to `python runtests.py` to make sure they pass tests.

You should always add tests for changed behaviour. Deprecation tests go into `/numpy/ma/tests/test_deprecations.py`, regulare masked array tests go in

[2019-04-02 10:20] aditipansari commented on #13215
Hello, I am interested in solving this issue. I am an Outreachy applicant.

[2019-04-02 10:32] mattip commented on #13215
@aditipansari please choose another issue.

[2019-04-02 10:41] jeffhammond commented on #7372
Epyc is the name of the AMD server line.  It is the successor to the AMD Opteron products of the past.

There is, unfortunately, no unique way for BLIS to label its architectural targets, because the code depends on the vector ISA (e.g. AVX2), the CPU core microarchitecture (e.g. Ice Lake) and the SOC/platform integration (e.g. Intel Xeon Platinum processor).  BLIS uses microarchitecture code name