[2019-06-12 05:24] mattip commented on #13758
I don't think we can change the [`np.ma.nomask`](https://github.com/numpy/numpy/blob/v1.16.4/numpy/ma/core.py#L89) value to a sentinal rather than `np.bool_(0)`. Adding documentation to both the [constant](http://www.numpy.org/devdocs/reference/maskedarray.baseclass.html#numpy.ma.nomask) and creating a [masked array](http://www.numpy.org/devdocs/reference/maskedarray.generic.html#constructing-mask

[2019-06-12 05:45] paragkr007 commented on #8958
Actually Spark <= 2.1.0 is not compatible with Python 3.6+.
This can be one of the reasons for the "numpy core error".
Thanks :)

[2019-06-12 07:05] kzhui125 commented on #13750
python368 + tensorflow 1.12.0 works now

[2019-06-12 07:05] #13750 closed

[2019-06-12 08:49] pilkibun commented on #13759
Fair enough. Thanks.

[2019-06-12 08:49] #13759 closed

[2019-06-12 09:36] taldcroft commented on #13758
Thanks for the explanations!  For me the root issue is really the `MaskedArray` behavior of the `mask` attribute not having the `data` shape by default and instead being a scalar `False`.  But that ship has very long ago sailed..

[2019-06-12 10:59] effigies commented on #12096
Possibly a duplicate of #9799, with a potential fix in #10151.

[2019-06-12 11:39] yellowhat commented on #12734
Sorry for the late reply.
Seems that with:
[code]
This bug has been fixed.

Thank you

[2019-06-12 11:39] #12734 closed

[2019-06-12 12:34] mattip opened #13764 "BUILD: clean up handling of dll loading on Windows"
In ~#13109~ #13019 we forced preloading of support DLLs on windows. As per the discussion that starts with [this comment](https://github.com/numpy/numpy/pull/13019#issuecomment-467694625). We should move the code to a `numpy/_distributor_init.py` file in [MacPython/numpy-wheels](https://github.com/MacPython/numpy-wheels)  and wrap it in a try-except in case `__file__` does not exist.

This issue s

[2019-06-12 12:39] abhinavsagar commented on #13764
Could I work on this ?

[2019-06-12 13:01] rgommers commented on #13764
@abhinavsagar this is not the best issue to work on for a new contributor, and @mattip is on it already

[2019-06-12 13:26] mhvk commented on #13758
Agreed that that was a design mistake.

Since all tests that we have are of the form `self.mask is nomask`, I think that we're stuck with `nomask` being a singleton, but I think that in principle we could break the link to `np.bool_(False)`. If we then redefine `nomask` to be a singleton that just returns itself on slicing, and transforms into a full mask on setting, we could (perhaps) have our ca

[2019-06-12 13:30] taldcroft commented on #13758
The sliceable singleton seems like a pretty clever idea if you can make it work!

[2019-06-12 14:01] abhinavsagar commented on #13764
Got it.

[2019-06-12 14:07] mhvk commented on #7449
Removing the milestone - I think issues should have them only if release-critical...

[2019-06-12 14:48] #11205 closed

[2019-06-12 14:49] seberg commented on #8958
@paragkr007 thanks for the note. I guess we can close this then. It is a very old issue lingering for a long time now. If someone runs into this or a similar issue again, it is probably better to open a new one in any case. If this is still valid, please reopen/post a new issue.

[2019-06-12 14:49] #8958 closed

[2019-06-12 16:33] #13751 closed

[2019-06-12 17:56] degrootc opened #13765 "view does not work on indexed structured arrays"
When attempting to create a view of a indexed structured array, in order to create a a standard ndarray, the view method does not appropriately resize the output array.  It appears to instead preserve the size of the full structured array.

I have two examples in the code:
1) Uses the prescribed methodology from https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.view.html
2) Uses c

[2019-06-12 18:11] jcrist commented on #13756
This is a dask issue (responded there), this should be closed here.

[2019-06-12 18:25] rkern commented on #13164
A couple more things:

- [There is now a better algorithm](https://gist.github.com/rkern/9502a19c5926a139ce7deb5bca76c312), thanks to @imneme, for deriving starting states from seeds than [the ones we have currently](https://github.com/numpy/numpy/blob/master/numpy/random/entropy.pyx). I'd like to see us use it consistently. It ensures that each bit in the provided seed data has a chance of affect

[2019-06-12 19:34] seberg commented on #13765
I think this is a duplicate of the discussion in gh-13299, in that you expect the copy removes the unnecessary padding (and thus view to work). Although the truth is pretty complex with respect to `view` itself, since sometimes we may not want to remove all padding.

View has to work with the raw `itemsize` really probably, since otherwise it would need to absorb the dtype shape somehow? I could t

[2019-06-12 19:48] degrootc commented on #13765
I agree that this is similar.  However, if you remove the copy you still get unexpected behavior.  The view will return the full contents of the structured array if copy is removed.  The behavior is unexpected since the array index occurs first in precedence.

I will also add that this seems to be a recent change to the behavior of numpy.  I need to track down the exact version when this changed b

[2019-06-12 19:51] seberg commented on #13765
@degrootc no need to track it down, the `view` semantics of indexing were relatively recently changed to do exactly this. This fixes some other issues with assignment. The `copy` discussion is mostly around the fact that the need for a logic which removes the padding is increased by that behaviour change. And the logic place to do remove it would probably be within `copy`.

[2019-06-12 19:52] jdavies-st commented on #12283
This is still a bug in `1.16.4`.

`np.nanmean` still returns an error for a fully-masked float array.
[code]
Meanwhile, `np.mean` works fine:
[code]

[2019-06-12 19:57] #13756 closed

[2019-06-12 20:12] #11114 closed

[2019-06-12 20:17] rkern commented on #13164
Oops, a slightly old version of that got copy-pasted. I also tried `Philox` and `ThreeFry` successfully as well, but I was _really_ unconcerned about them.

This is how I envisioned `SeedSequence` to be used, to make it explicit:

The `BitGenerator` constructors can all take an explicit `ISeedSequence` instance (which could be `SeedSequence` or anything that implements that interface) or any one o

[2019-06-12 21:06] clbarnes opened #13768 "Feature request: canonical implementation of slice argument handling"
A number of libraries try to replicate numpy's handling of array slices to one extent or another, but it's long and fidgety (and not quick) when you take into account slices, integers, ellipses, new axes, and tuples thereof. I would love to see a function like this:

[code]

This function would:

- Realise implied ellipses
- Replace `None`s in `slice` objects with `0`, `array_shape[axis]` and `1`

[2019-06-12 22:07] bduvenhage opened #13769 "The _masked flag for random integers in an interval seems to be reversed."
The _masked=True flag at https://github.com/numpy/numpy/blob/6420e7f528a6c42422966544e453bdb2805ff620/numpy/random/generator.pyx#L442
seems from the comments to be meant to be selecting Lemire's method as the default.

Should it not rather be `_masked=False` because setting the flag to False would in fact select Lemire's method.

See the randomgen comment at https://github.com/numpy/numpy/blob/642

[2019-06-12 23:10] rkern commented on #13769
I believe that's correct: we should be using `_masked = False` there.

[2019-06-13 00:01] seberg commented on #13768
We have a C-side list of prepared indexes, which does things like determining how many numbers of slices an ellipsis is. Or whether or not the result is going to be a copy or a view. It will not fill in some the slice information though. That is `prepare_index` in `mapping.c`.

If anyone has such a thing already written in python, it would probably be @shoyer. However, I guess you are looking for

[2019-06-13 00:41] clbarnes commented on #13768
Concrete use case: we have a rust library for reading and writing array data to disk in a particular blocked storage format. We are writing a python wrapper around that library. The rust end gives us a function which takes an offset from (0, 0, ...) and a shape (or a stop index, it doesn't matter which), and returns a numpy array (or something which can be coerced into it): this seems like a prett

[2019-06-13 01:32] shoyer commented on #13768
We don't have anything *exactly* like this in xarray, but I agree that it sounds like a nice utility to package with NumPy. Certainly I've encountered many cases where this would have been handy.

Maybe we could put something like this in `np.lib.index_tricks`? I wouldn't expose it in the top-level `numpy` namespace, though.

You will also need to return `axes_to_expand` as well. Actually,  you mi

[2019-06-13 01:37] shoyer commented on #13768
Another trick we found helpful is ensuring that the backend only needs to deal with positive step sizes. This requires doing another "slice" operation afterwards in NumPy:
https://github.com/pydata/xarray/blob/7e4bf8623891c4e564bbaede706e1d69c614b74b/xarray/core/indexing.py#L793

So perhaps the interface should return another tuple that can be used with NumPy style indexing to create an array with

[2019-06-13 01:39] seberg commented on #13768
I have just created this gist: https://gist.github.com/seberg/b0b213523a83e42fa8ffede9cb61fea9

which does the first pass of helping here, basically the path that numpy also does internall first (it probably should get some testing).

[2019-06-13 01:41] clbarnes commented on #13768
Yes, my heart leapt when I saw that package, so it would seem to be the right place for it.

That's been my strategy too. As a first pass, the backend reads unstrided data (because striding support isn't all that common in the low-level libraries I've seen) and then numpy does the striding (positive or negative) and squeezing.

[2019-06-13 04:28] bduvenhage commented on #13769
Can I do a pull request for the code and reference update?

@lemire Are you happy with the reference as proposed?

[2019-06-13 04:31] Kai-Striega commented on #13727
Just some thoughts:

[code]

The complication is that IEEE-754 defines ``-0,+0`` as equal so, technically, NumPy follows the standard behaviour for both NaN and zeros.

:+1:

This is very similar to how the ``equal_nan`` argument in [isclose](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.isclose.html) works.

https://github.com/numpy/numpy/blob/685b9ace06f1dc50e2698099d7a2b6a24

[2019-06-13 04:53] eric-wieser commented on #12096
What was the resulting data, now that that patch is merged?

[2019-06-13 04:59] eric-wieser commented on #13768
Ideally this would become part of the `oindex` / `vindex` stuff

[2019-06-13 07:13] effigies commented on #12096
So what seems to be happening is that whatever `float64` is coming in is failing [this check](https://github.com/nipy/nibabel/blob/c8a6684e15ad8620fec1b841bdcea5bc7e25556b/nibabel/minc1.py#L176-L177):

[code]

So the code that actually raises the error in this case is assuming that we have an integer-typed array.

[2019-06-13 07:41] mattip commented on #13164
In addition to changing `seed` and `jumped`, we need to decide about:
- which BitGenerators to include in the upcoming numpy release. The general feeling in the last community meeting is to got for a minimum rather than a maximum. That means include two: legacy MT19937 and the `Generator` default.
- which BitGenerator should be the `Generator` default. In spite of the performance problems, it was

[2019-06-13 08:12] mattip commented on #13769
@bduvenhage nice catch. We don't really assign PRs, they are always welcome. The changes can be in two different PRs since the issues are not related.

[2019-06-13 10:55] bashtage commented on #8768
@matthew-brett Have you tried this anytime recently?  I've been trying this on some extensions that need uint128 and have had good success.  Do you think that a ClangClCompiler would be worth trying?

[2019-06-13 11:33] bduvenhage commented on #13769
@mattip Please see https://github.com/bduvenhage/numpy/commit/20ea07ead2a9370ba88b4cfd5bb916f67310f05c

The change causes some of the random tests to fail because the stream of bounded integers are different for Lemire's methods than for masked rejection sampling.

How do you want to handle this?

[2019-06-13 12:33] mattip commented on #13769
Please make it into a PR against this repo so we can see the CI failures and get others to comment on it, i.e. @bashtage

[2019-06-13 12:55] bashtage commented on #13769
IIRC we had decided to use the new method in Generator since this has generally better performance.

[2019-06-13 14:51] seberg commented on #13768
Yes, with oindex/vindex, we would probably pass around a "prepared index" object, and this could make much of this available fairly easily. In fact, I think, such an object already exists in my oindex branch, although right now it does not expose anything to the outside.

[2019-06-13 15:12] kritisingh1 opened #13775 "DOC: Missing macros in C structs documentation"
While working on improving the documentation [here](https://www.numpy.org/devdocs/reference/c-api.types-and-structures.html) , I came across a few macros which were mentioned in the page but were not documented. So far I got the following : -
- NPY_QUICKSORT
- NPY_HEAPSORT
- NPY_MERGESORT
- NPY_MAXARGS
- PyUFunc_One
- PyUFunc_Zero
- PyUFunc_None
- PyUFunc_AllOnes
- PyIntpArrType_Type
- PyUIntpArrT

[2019-06-13 15:34] dieterkh opened #13776 "Fatal Error <Python.h> not found in ndarrayobject.h"
I imported matplotlibcpp.h into my C++ code and this uses `#include <numpy/arrayobject.h>` which has a reference to <Python.h>. Currently on my mac the proper reference is <Python/Python.h> hence the code fails to run on my current system. I don't know if there's a fix to this error yet.

### Reproducing code example:
It's an issue coming with running numpy in C++, further details on this are show

[2019-06-13 15:41] charris commented on #13776
Sounds like you need to add a flag to the compiler command line showing which paths to search for the include files. This doesn't sound like a numpy issue, so closing.

[2019-06-13 16:48] #13776 closed

[2019-06-13 17:18] rlabbe opened #13778 "DOC: string operations section doesn't specify module"
The section https://docs.scipy.org/doc/numpy/reference/routines.html has a link to "string operations". The header of the routines page states that you import with "import numpy as np". Subsections that require imports list the module in the name of the link. For example "Linear algebra (numpy.linalg)". "String operations" has no such specification.

When you go to the page link (https://docs.scip

[2019-06-13 17:19] seberg commented on #13775
These are part of the `NPY_SORTKIND` enum, and should probably link to that. (Mergesort and Stablesort are identical right now, and it is likely `MERGESORT` would be better replaced by `STABLESORT`).

Similar to `NPY_MAXDIMS`, this is the maximum number of array arguments typically used. An example would be for the iterator which can only iterate this many (32) arrays at once.

While not an Enum,

[2019-06-13 19:45] seberg commented on #13164
As much as I like the SeedSequence idea, I am a bit unsure whether we need to expose it. I understand the argument that it hides `spawn` from the Generator or BitGenerator at the moment. But in the long term, there seems little usage for `SeedSequence` directly? Except maybe that if we carry around a SeedSequence object implicitly that could mean carrying around a largish array if someone uses a l

[2019-06-13 19:55] clbarnes commented on #13768
A prepared index object sounds like just the thing!

I updated [my gist](https://gist.github.com/clbarnes/b6a3d15b20bdff1f11a2043138a564f9) and it seems to pass a (small) test suite. The `out_shape` member of the `Roi` namedtuple should handle both squeezes and newaxes, although I suspect there are some edge cases with C/F ordering to deal with.

[2019-06-13 20:37] rkern commented on #13164
To me, the costs entailed by exposing it are not much. Since the `BitGenerator`s *do* provide stream compatibility guarantees, the bulk of the _usual_ indefinite maintenance cost is already priced in; we have to maintain the algorithm indefinitely. It's just a matter of the precise public API, which can be managed with deprecations, if we need to.

Since exposing `SeedSequence` as part of the docu

[2019-06-13 20:42] #13769 closed

[2019-06-14 00:31] mhvk commented on #12662
After a long discussion at https://mail.python.org/pipermail/numpy-discussion/2019-June/079633.html, the conclusion would seem to be that the benefits of cleaning up `nanfunctions` are not worth the complications of dealing with deprecations. For large arrays and/or speed, I guess the best bet is to use `Bottleneck`, or just write the one-liners outside of `nanfunctions`.

[2019-06-14 02:54] nedclimaterisk opened #13779 "year, month, day convenience properties on datetime64"
It would be really nice if numpy's datetime64's had convenience properties for `year`, `month`, `day` (of month), `hour`, `minute`, `second`, each of which would return an integer value. `dayofweek` and `dayofyear` etc would also be nice.

Pandas' DatetimeIndex does this, and it's really useful, but it's not great to have to convert data just to use that.

[2019-06-14 06:55] eric-wieser commented on #12662
In that thread, you say:

Are you sure about that? My feeling is that most `__array_ufunc__` implementations will attempt to pass on the keyword argument and things will just work. If they don't work, then implementing `__array_function__` to provide an implementation would always be an option.

Perhaps worth trying for 1.18, just to get some feedback on whether downstream projects break.

[2019-06-14 10:08] Landau11th opened #13782 "Memory Error when running numpy.fft"
Encountered an memory error when using numpy.fft. I am using Windows.
The code below cannot stably reproduce the error, sometimes the machine just crash.
In general, one can observe the memory occupied by Python keeps increasing when running the code, until memory error.

Apologies if this is not the right place to ask such questions.
### Reproducing code example:

[code]

### Error message:

Memo

[2019-06-14 10:40] yichen8 opened #13783 "Why did't np.sum() give a RuntimeWarning when overflow encountered in long_scalars"
### Reproducing code example:

[code]

[2019-06-14 11:17] kr4in commented on #13747
@mhvk Ahh okay - yeah that wouldn't be a good idea. Also cheers for sharing how you found that out - will use that command in the future to double check this.

@bbbbbbbbba Agreed, the original order is usually unimportant. I guess it might just be my style so probably a personal grievance!

Thanks guys for clearing this up - seems like it wouldn't be worth changing it and there are a few ways roun

[2019-06-14 11:17] #13747 closed

[2019-06-14 14:42] mattip opened #13784 "TEST: make sure third parties can define Py_LIMITED_API"
We should have a test something like the detail in [this comment](https://github.com/numpy/numpy/pull/13725#issuecomment-501648950) to make sure downstream consumers of the NumPy C-API can use Py_LIMITED_API. The test should make sure we do not add a CPython API to the headers that breaks Py_LIMITED_API.

[2019-06-14 14:45] mhvk commented on #12662
@eric-wieser - that's a good point. I'll re-open this issue temporarily and will try replacing @tylerjereddy's PR with one that just does that. Of course, for `Matrix`, there is no `__array_ufunc__`, but its `__array_wrap__` or `__array_finalize__` may well just do the right for tests to pass.

[2019-06-14 14:55] mhvk commented on #13747
@kr4in - no worries - thanks for reporting/suggesting.

[2019-06-14 15:07] #13728 closed

[2019-06-14 15:11] seberg commented on #13783
This is because numpy does not have overlfow warnings for integer array operations, only for scalar operations (we have many issues open on it, it is a recurring problem). Implementing these is a performance hit, so we would need to change our infrastructure a bit to do it. It could be a nice larger sized project for someone, but it may not be simple.

In case someone tries to reproduce this:

1.

[2019-06-14 15:20] seberg commented on #13782
@oleksandr-pavlyk this sounds like it is probably related to intels FFT? @Landau11th it might already be solved, but removing `mkl` from your conda environment might be a quick fix if you need an acute get things running fast.

If you need help, you may want to look at issues labeled with "29 - Intel/Anaconda"

[2019-06-14 15:45] yichen8 commented on #13783
Yes, it could be a large project.

Performance more important than accuracy?  Giving a warning message should be necessary.

Thank you.

[2019-06-14 18:32] #5645 closed

[2019-06-14 21:44] mhvk commented on #12662
OK, [tried](https://github.com/numpy/numpy/compare/master...mhvk:nanfunctions-using-where?expand=1). Still fails one of the `matrix` tests, where one sums over the second axis (since `__array_finalize__` cannot know which axis was summed over and thus expands the first).

In principle, not difficult to solve within `matrix`, but not sure we really want to touch that at all, yet even less intereste

[2019-06-15 02:11] #12662 closed

[2019-06-15 13:00] rgommers commented on #13674
Email sent, now waiting for a response.

[2019-06-15 18:37] mattip commented on #13783
Closing as a duplicate of #8987

[2019-06-15 18:37] #13783 closed

[2019-06-15 20:19] NewUserHa opened #13790 "cant install on python 3.8b1 on windows"
pip install numpy

[code]

[2019-06-15 20:26] mattip commented on #13790
Did you use cython 0.29.10 which should fix that?

[2019-06-16 17:31] #13674 closed

[2019-06-17 03:34] YXXX opened #13796 "Output of savetxt does not indicate float precision"
i want to cast float64 array to float16 array, and then save the float16 array,but I find the result is still float64.

[code]

![image](https://user-images.githubusercontent.com/17949369/59576838-acad4500-90f3-11e9-836c-940c9eb49ecf.png)
but he result.txt is still float64 array
![image](https://user-images.githubusercontent.com/17949369/59576861-cd759a80-90f3-11e9-8c85-eaab57b1c32e.png)

[2019-06-17 03:58] eric-wieser commented on #13796
Those values are not "float16" or "float32" or "float64" - they're just a real number represented in exponential notation, stored as text. If you want the file to store the precision itself, you should probably use `np.save` to produce a binary file that can be restored exactly with `np.load`, rather than using `savetxt` which discards information about what type of float is saved.

[2019-06-17 05:33] #13782 closed

[2019-06-17 06:22] YXXX commented on #13796
okay，thank u very much

[2019-06-17 06:23] Shekharrajak commented on #13778
Hello,

I want to work on this issue. I am not clear about the first point :

I didn't understand the above line.

About second point :

As far as I know to use `add` we need to import `numpy.core.defchararray ` module :

[code]

and importing `defchararray` module we can use all it's the methods :

[code]

So in this link: https://docs.scipy.org/doc/numpy/reference/routines.char.html, it should w

[2019-06-17 06:33] #13796 closed

[2019-06-17 13:25] matthew-brett commented on #8768
Hi - sorry - no - I haven't compiled with Clang on Windows recently - but yes - it would be very good to have a CI matrix entry for Clang on Windows.

[2019-06-17 14:11] Shekharrajak commented on #13542
I want to work on this. So the final decision is to remvoe the point "Do not use C++ style // one line comments, they aren't portable. Note: this will change with the proposed transition to C++." from the C_STYLE_GUIDE https://github.com/numpy/numpy/blob/v1.16.3/doc/C_STYLE_GUIDE.rst.txt#c-dialect ?

[2019-06-17 14:24] sclel016 opened #13797 "Hermitian Transpose Syntax"
Hi,

For people doing signal processing, a concise way to express the Hermitian Transpose would lead to more readable code. Currently, the syntax for a Hermitian transpose of an array is

`A.conj().T`

The syntax used in the matrix class `.H` should be ported to numpy.array. A similar comment could be made for the matrix inverse and `.I`.

ref: [StackExchange](https://stackoverflow.com/questions/2

[2019-06-17 14:52] WarrenWeckesser commented on #13542
@Shekharrajak, the style guide was recently updated: https://github.com/numpy/numpy/pull/13744

[2019-06-17 14:59] mhvk commented on #13797
Like the idea for `.H` in principle, but fear we're a little stuck in `.T` already not quite doing what one would want: it transposes *all* axes rather than just swapping the last two, which means that for stacks of matrices, it is generally not what you want (see #9530).  A suggestion there was `.MT` (for matrix-transpose`).

I'm less sure about the inverse - mostly as a property suggests a cheap

[2019-06-17 15:22] sclel016 commented on #13797
Fair comment about `.I`, I hadn't thought of the failure mode. I was under the impression that for a multidimensional transpose, it's proper notation to specify which two dimensions are being transposed. Maybe a syntax similar to `A.T(1,3)`  might be helpful with a default `A.T` swapping the last two?

[2019-06-17 15:28] mhvk commented on #13797
@sclel016 - the problem is that `A.T` is already defined and always swaps the order of *all* axes - I'd love for it to be just the last two, but that would break other people's code, so we cannot do that. Hence, the idea for a new property. But if we have a new name for that, we probably should name the hermitian transpose in a similar way.

[2019-06-17 15:30] Shekharrajak commented on #13542
@WarrenWeckesser Thanks for letting me know. So this issue should be closed now ?

[2019-06-17 15:35] mattip commented on #13542
Yes, thanks. Closing

[2019-06-17 15:35] #13542 closed

[2019-06-17 15:40] sclel016 commented on #13797
In order to avoid breaking existing code, what are your thoughts on `A.MT` as suggested for transpose and `A.HT` for Hermitian transpose.

[2019-06-17 15:47] mhvk commented on #5095
Closing since one can now override `np.where` with `__array_function__`. Hopefully, eventually `where` becomes a proper ufunc.

[2019-06-17 15:47] #5095 closed

[2019-06-17 15:57] mhvk commented on #13797
That seems quite neat.

Normally, new features are proposed on the mailing list. Do you want to send a message to ask people what they think? See https://mail.python.org/mailman/listinfo/numpy-discussion

[2019-06-17 17:36] sclel016 commented on #13797
I can do that. Thanks!

[2019-06-17 18:48] OmerJog commented on #3258
Whats the status of this? Any plans to fix it?

[2019-06-17 18:50] seberg commented on #3258
Nothing specific right now unfortunately @OmerJog if you have some time to look into things, that is always appreciated!

[2019-06-17 20:59] hmaarrfk commented on #5312
my 2cents: An aligned allocator would help when interface with hardware devices and kernel level calls. These interfaces might benefit from aligning the buffers to pages.

[2019-06-17 21:02] linedot commented on #13622
Experiencing the same issue on CentOS 7.6 on Huawei Taishan 2280 ARM64 servers.
[Reduced example](https://godbolt.org/z/aE8jHX) not failing to compile on native GCC versions 8.2.0, 8.3.0 and 9.1.0
Any advice on further debugging?

[2019-06-17 23:15] davidmascharka commented on #7370
I wanted to poke this again to see whether discussions have progressed, especially regarding type hinting shape information, which would be particularly useful in a lot of my applications. Is there a status tracker or is this not a high enough priority to have any resources dedicated toward it?

[2019-06-18 05:23] Shekharrajak opened #13800 "development version setup"
### Reproducing code example:

I run the test using

[code]
but it after completion I got this `FAILED (KNOWNFAIL=7, SKIP=15, errors=1, failures=1)

So is the test failing and need to fix them?

### Error message:

[code]
### Numpy/Python version information:

Building from source using Python 3.7

1.11.0.dev0+106bfd6 3.7.1 (default, Dec 14 2018, 19:28:38)
[GCC 7.3.0]

[2019-06-18 05:51] mattip commented on #13800
NumPy 1.11 was released over three years ago. The latest release is 1.16.4.

[2019-06-18 06:54] Shekharrajak commented on #13800
Yeah! Sorry I was using old branch. I have update my branch with latest version available in numpy repo.

Actually I was trying to use the cloned version to check my changes, but I got this error :

[code]

I am following this article: https://www.numpy.org/devdocs/dev/development_environment.html

[2019-06-18 06:56] Shekharrajak commented on #13800
The same error when I run

[code]

[2019-06-18 07:04] mattip commented on #13800
`git clean -xfd`

[2019-06-18 07:15] mattip commented on #13717
@mihaibujanca could you describe this use case? NumPy is meant to be used as a python module, not as a C shared-object

[2019-06-18 07:17] mattip commented on #13712
I removed the `regression` tag and added the `Close?` tag. I could be convinced otherwise, but this seems like a pandas issue with `__array_wrap__`.

[2019-06-18 07:21] #13702 closed

[2019-06-18 07:54] Shekharrajak commented on #13800
Thanks @mattip ! Now I am able to run the tests and my local changes using this command inside the cloned folder :

[code]

where test_do_not_commit.py file contains :

[code]

[2019-06-18 08:07] Shekharrajak commented on #13800
When I am trying to get the docs using  `make html`, I am getting this version check error :

[code]
`0eeb158ead` is the commit that is installed in my system using conda and `17e7ba7aa9`
 is the commit that is present in my cloned folder. So isn't it should use `17e7ba7aa9` directly for building the HTML doc ?

[2019-06-18 08:10] ashwinvis commented on #7370
In `transonic`, a project to generalize numpy accelerators, we have a type-hint syntax as an alternative for [Pythran annotations which uses comments](https://pythran.readthedocs.io/en/latest/index.html#basic-usage). It does not work well with mypy right now, but I wonder if it is useful. See an example: https://transonic.readthedocs.io/en/latest/examples/type_hints.html

[2019-06-18 08:30] Shekharrajak commented on #13800
Now I have removed the numpy installed version (conda installed version) from the environment and installed the cloned version using : `python setup.py build_ext -i`. I am able to see the latest commit inside the cloned folder :

[code]
but when I run make html inside the doc folder I get the error :

[code]
Also in this error message we should not print these lines :

[code]
since GIVER is nothin

[2019-06-18 09:13] mattip commented on #13800
The documents are built out of numpy docstrings, so you must have numpy installed.

Some of the documentation is tied to a specific numpy commit, so there is a check that the numpy installed and docstrings used for documentation is the one used to build the documentation. You can override the check by copy-pasting the command. PR for clarification welcome.

[2019-06-18 10:04] Shekharrajak commented on #13800
Thanks @mattip , for letting me know this point. Is there any way to generate the HTML for docs (from the cloned folder), so that I can verify that my documentation related changes will reflect correctly in HTML file?

[2019-06-18 11:52] CakeWithSteak opened #13801 "assert_allclose reports NaN as max relative difference if arrays have zeros at the same positions"
If two different arrays share a zero at the same position the max relative difference will be reported as NaN by ```assert_allclose```. This is because in ```assert_array_compare``` the error is simply calculated as ```max_rel_error = (error / abs(y)).max()``` which can result in 0/0 = NaN.
This hides the actual biggest relative difference and makes it more difficult to solve the problem in your c

[2019-06-18 13:37] mihaibujanca commented on #13717
@mattip We are using a benchmarking framework to evaluate computer vision algorithms. The framework loads a shared library (the algorithm) and feeds it with inputs and registers its outputs.
In this particular case, the algorithm has most of the code written in C++ but also a Python module it makes calls to.

[2019-06-18 13:45] Mahdidrm commented on #9547
hi
i have same problem, but after reinstalling it was not solve... Could you please guide me?

[2019-06-18 14:36] seberg commented on #13800
you need to "install" numpy, one trick that may work for you if you do not want to think about it is running `python runtest.py --shell` and then making the docs from that shell (which sets up PYTHONPATH to point to the runtest build version within that shell).

[2019-06-18 14:47] clbarnes commented on #13768
A slightly more rounded implementation is here:

https://github.com/clbarnes/h5py_like/blob/master/h5py_like/shape_utils.py#L91

It passes some direct sanity checks https://github.com/clbarnes/h5py_like/blob/master/tests/test_shape_utils.py , but more importantly, a package which uses it to re-implement h5py's indexing API passes tests which check it against numpy: https://github.com/clbarnes/h5py

[2019-06-18 15:56] seberg commented on #13768
Maybe two small comments, not very important, but just in case you want to be as close to numpy as possible. If you want I can take a closer look, but I don't have a real feeling for what the code is used for.

1. To coerce indices, numpy basically uses `operator.index` (`__index__`) with the exception of rejecting python (and numpy) booleans, because those have advanced indexing meaning like arra

[2019-06-18 16:34] mattip commented on #9547
@Mahdidrm you should open a new issue and follow the instructions there:
- what version of numpy and python, where id you get them?
- post the entire traceback

[2019-06-18 16:39] atvaccaro commented on #9229
The [docs for this function](https://docs.scipy.org/doc/numpy/reference/generated/numpy.testing.assert_array_equal.html) indicate that it _should not_ be throwing an exception (emphasis mine).

[2019-06-18 16:39] mattip commented on #13717
What I don't understand is how your framework uses the functions in the shared object via `dlopen` when it is designed to be opened via python import calls.

[2019-06-18 16:44] walteryoung commented on #13717
When you try to import numpy under the Python/C API, the import call will fail.

`numpy/core/_multiarray_umath.so` depends on `libpythonx.x.so`, but does not explicitly list it. When you use `ldd` to view the dependencies, you won't see it listed.

If you are importing numpy from CLI python, you will have no problem, but if you are trying to import numpy via the Python/C API, the call will fail wi

[2019-06-18 17:02] clbarnes commented on #13768
Thanks for taking a look!

There are a few different libraries wrapping self-describing hierarchically-arranged array datasets like HDF5, some of which use HDF5's terminology as an analogy for their organisation. I've been involved in a couple and found myself duplicating a lot of code, so I wrote `h5py_like`, which contains a bunch of ABCs which expose an `h5py`-like interface. Subclasses define

[2019-06-18 17:09] seberg commented on #13768
Sorry, nvm. about that comment, I thought you have float logic, so `(bls.len-1) // (abs(bls.stride) + 1` seemed safer, but floats are exact here up to absurdly large values, so it does not matter...

[2019-06-18 23:12] seberg commented on #7874
I will assume that randomgen fixes this, or makes a nice start. If not, please just open a new issue.

[2019-06-18 23:16] seberg commented on #7787
With the new `__array_function__` protocol and all the work going into that direction, I think this is now an issue that pint has to deal with, and not an issue with numpy. Please reopen if there is something numpy may have to do here.

[2019-06-18 23:16] #7787 closed

[2019-06-18 23:18] seberg commented on #7770
Thanks for the (old) report. The value based casting is a recuring problem, and I am pretty sure we have tracking issues about these things with more discussion on them, so I will close this.

[2019-06-18 23:18] #7770 closed

[2019-06-18 23:36] anntzer commented on #7874
I haven't really followed the randomgen discussion, but assuming that the relevant code is in generator.pyx, the implementation is still
[code]
which is still O(log n) per sample, not O(1).
So unless I'm mistaken, this should be reopened.

[2019-06-19 06:15] Shekharrajak commented on #13800
Thanks @seberg for comment. I tried this (inside the doc folder of numpy):

[code]

Also this

[code]

It looks like I am doing something wrong. Please let me know some example how to use `--shell` here.

I think we should have a script that runs all this for developer. I will try to create a sample.

[2019-06-19 07:12] mattip commented on #13800
I think this use case is better served by working through the [how to build documentation](www.numpy.org/devdocs/docs/howto_build_docs.html) page and expanding whatever is missing there as well as making it more discoverable. Why didn't `make dist` work for you?

[2019-06-19 07:26] mattip commented on #13717
Strange. Can you use [PyImport_Import](https://docs.python.org/3/extending/embedding.html?highlight=pyimport_import#pure-embedding) or any `PyImport*` API from C/C++ without loading the python shared object? This issue seems to say it is possible, but I don't understand how.

[2019-06-19 07:50] Shekharrajak commented on #13800
With `make dist` I am getting this error:

[code]

As per this [comment](https://github.com/rtfd/readthedocs.org/issues/4057#issuecomment-386371190), sphinx.util.compat.Directive is deprecated and removed in latest version of Sphinix.

[2019-06-19 07:56] mattip commented on #13800
hmm. Our CI and deploy builds pin sphinx to 1.8.5 via `pip install sphinx==1.8.5`. Could you open a separate issue for this? We should either fix for a modern sphinx or document the need to downgrade.

[2019-06-19 08:44] Shekharrajak commented on #13800
Yeah! I upgraded sphinx to v1.8.5. But still I got the same error. Now I have done one commit on my branch and trying `make html` which is also returning the same error `cannot import name 'Directive' from 'sphinx.util.compat' (/home/shekharrajak/anaconda3/lib/python3.7/site-packages/sphinx/util/compat.py))`.

[2019-06-19 08:47] Mahdidrm opened #13804 "No module named 'mvpa2'"
Hello
I am using of Python 3.7 and version of numpy is 1.16.2 ; I want to sparse coding for dictionary learning;
unfortunately when i run my code i have this error:
  from mvpa2.suite import SimpleSOMMapper
ModuleNotFoundError: No module named 'mvpa2'

I searched a lot in internet, reinstalled numpy but it does't work;
please help me; Thanks

[2019-06-19 08:50] HudsonHuang commented on #12744
As conda install is so slow for me, I tried  `pip install -U scikit-image`  and it's also work for me.

[2019-06-19 09:49] mattip commented on #13804
What is `mvpa2` ? It is not part of numpy. A quick search turns up [this](http://www.pymvpa.org/installation.html), are you following the instructions there or some other tutorial?

[2019-06-19 09:53] Mahdidrm commented on #13804
@mattip  I am so sorry that was my mistake;
my meaning is mvpa2; I have searched a lot for solving this but the given ways does not work;

[2019-06-19 09:58] Shekharrajak opened #13805 "cannot import name 'Directive' from 'sphinx.util.compat'"
### Reproducing code example:

If we have Sphinx version > 1.6.7, then we will get error metioned in [this comment,](https://github.com/numpy/numpy/issues/13800#issuecomment-503449132) while running `make html` or `make dist`
### Error message:

### Numpy/Python version information:

[code]

[2019-06-19 10:07] mattip commented on #13804
You have opened an issue in numpy, perhaps you meant to open it on [their issue tracker](https://github.com/PyMVPA/PyMVPA/issues) instead. There is not a lot we can do here, closing.

[2019-06-19 10:07] #13804 closed

[2019-06-19 10:31] Shekharrajak commented on #13805
I updated the submodule and I am not getting this error now.

[2019-06-19 10:31] #13805 closed

[2019-06-19 11:33] Shekharrajak commented on #13800
After understanding makefile and conf.py file. I installed the numpy from the source (even though if we don't install numpy then one of the dependency (matplotlib) of Sphinx will install numpy :sweat_smile: ).

I am able to generate the docs in doc/build folder. Thanks @mattip , @seberg  for help.

[2019-06-19 11:33] #13800 closed

[2019-06-19 12:04] mattip commented on #13800
It seems the documentation on setting your environment up tripped you up, missing `git clean -xfd`, `git submodule update` and `make html`. Could you suggest ways we could make that more clear?

[2019-06-19 12:26] estan commented on #5888
We recently ran into this with pycuda + numpy as well. We had

[code]

in our `requirements.txt`, but that will not work since pycuda has `numpy>=1.6` in its `setup_requires`, which means it will be built and linked against the latest version of numpy currently on PyPI (1.16.4) (installed to a temp folder by pip during package building), and the numpy 1.14.0 we're pinning is not forward compatible

[2019-06-19 13:36] mattip commented on #5888
If I recall correctly, SciPy pins its build system to the oldest numpy it wishes to support, but tests against later numpy versions.

[2019-06-19 17:21] estan commented on #5888
@mattip Alright, that sounds reasonable. I'll see what the @inducer says regarding pycuda.

[2019-06-19 17:57] walteryoung commented on #13717
No, that did not work either.
I got the same error message regardless of whether I used the Python/C API code `PyImport_Import` or just executed the Python code `import numpy`.

[2019-06-19 18:35] pilkibun opened #13806 "np.putmask doesn't dispatch to other.putmask override, but works with NEP18"
With most numpy non-ufuncs functions I've encountered so far, if an arbitrary
object is given to it, and it has a name-and-signature-compatible method of the same name, that method will be called instead of numpy's own implementation.
So for example, implementing a suitable `round` method on any `MyObject` and
then calling `np.round(MyObject)` will dispatch to MyObject.round() to do the work.

Thi

[2019-06-19 18:41] jorisvandenbossche commented on #13806
@pilkibun ndarray has no `putmask` method to dispatch to, only a `put` method (there are both `np.put` and `np.putmask`, which are different, I suppose that `np.put` will dispatch to `ndarray.put()`)

[2019-06-19 18:44] pilkibun commented on #13806
I see. so NEP18 really is the only way to override it?

[2019-06-19 19:44] allefeld commented on #13727
Alright, I don't know when I'll get around to it, but I will prepare a code change and present it on the mailing list for discussion & decision.

[2019-06-19 21:24] texasaggie97 opened #13807 "numpy >= 1.16 with pypy and ctypes errors"
### Reproducing code example:
You can see an example of this failure on [Travis CI](https://travis-ci.org/ni/nimi-python/jobs/547906996#L1381)
[code]
where value is a numpy array with dtype='float64'

This works when restricting nimpy to '<1.16' on pypy and the latest numpy works with this on CPython.

While the examples I have put in this issue refer to pypy 2.7.13-7.1.1, this also applies to pyp

[2019-06-19 21:49] mattip commented on #13807
ctypes support improved after the release of PyPy 7.1.1. Numpy tests with a [nightly build](https://github.com/numpy/numpy/blob/master/tools/pypy-test.sh#L32).

[2019-06-19 23:17] seberg commented on #13806
@pilkibun yes, I suppose one could say that is exactly why we have NEP18 after all.

[2019-06-20 01:48] pilkibun commented on #13806
That's important to know. Thanks.

[2019-06-20 01:48] #13806 closed

[2019-06-20 01:53] eric-wieser commented on #13807
Can you print out dtype.char here?

[2019-06-20 03:18] 07Agarg commented on #12744
pip install -U scikit-image
This worked for me.

[2019-06-20 08:40] cdeil commented on #8786
We would also like to have a more precise sum, for a likelihood that's the sum of ~ a billion numbers.

@nschloe - Very nice comparison in `accupy`, thanks!

So your conclusion is that the precision of kahan sum isn't much better, so not worth exposing in Numpy?

(kahan is actually already [here](https://github.com/numpy/numpy/blob/bc66801a9e578efb73c73473ee7a99748c3214f1/numpy/random/common.pyx#L

[2019-06-20 09:05] Shekharrajak commented on #13800
I thought we can build the docs just having the source code, but there is some dependency which require numpy (like matplotlib in sphinx). Also I messed with my working branch which was not updated so when I updated the submodule, it fetched the old commits of `sphinxext`.

Some error message like `make html` suggest to use `make dist` or using GITVER but I think inside it uses `html` only and thr

[2019-06-20 09:42] jdemeyer commented on #13790
Cython is run by the maintainer when packaging numpy, not when installing numpy. So the proper fix is making a new numpy release generated by the latest Cython.

There is some discussion happening at https://bugs.python.org/issue37221 and https://bugs.python.org/issue37250 which may lead to a fix in CPython such that older Cython-generated code will continue working with Python 3.8. I'm in favor o

[2019-06-20 09:49] NewUserHa commented on #13790
it is 0.29.10

[2019-06-20 09:49] pijyoi opened #13808 "ndarray.ctypes creates a reference cycle"
Reading attribute "ctypes.data" from an ndarray causes a leak.
version <= 1.14.5 doesn't leak
version >= 1.16.2 leaks
latest 1.16.4 leaks

### Reproducing code example:

[code]

### Error message:

  File "/mnt/d/code/python/test_numpy_leak.py", line 17, in <module>
    assert before==after
AssertionError

### Numpy/Python version information:

1.16.4 3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.

[2019-06-20 10:29] bashtage commented on #8768
Master doesn't build right now due to differences in how intrinsics are included in MSVC and Clang.

1.16.x passes all tests with clang-cl, although I didn't bother building OpenBlas.

[2019-06-20 15:43] eric-wieser commented on #13808
What happens if you call gc.collect() before getting the refcount for a second time?

[2019-06-20 15:46] eric-wieser commented on #13807
Thanks, I wanted to confirm the failure was not long double

[2019-06-20 15:48] eric-wieser commented on #13807
@matti: this looks like a hashing/ dict lookup problem, not a ctypes problem

[2019-06-20 16:03] jabl opened #13809 "C Fortran ABI issues with character arguments"
Hello,

this is a heads-up based on a quick perusal of the numpy LAPACK calling code.

The R developers recent discovered fishy behavior in some functionality depending on LAPACK. It turned out to be due to them not passing the string length argument to LAPACK procedures expecting `CHARACTER(len=1)` arguments. Based on a quick look the numpy LAPACK interface commits the same sin.  For more informa

[2019-06-20 16:28] jakobjakobson13 opened #13810 "ENH: Support comma decimal separator in loadtxt"
### Reproducing code example:
Given that you have data in the following file `test_data.csv`:
[code]
`np.loadtxt` can't load the data directly as it does not support a comma as a decimal separator
[code]
### Error message:
[code]

### Background for this feature request
Many European countries use a comma as a decimal separator (see [https://en.wikipedia.org/wiki/Decimal_separator](https://en.wiki

[2019-06-20 17:06] seberg commented on #8786
@cdeil python uses Shewchuk summation, my guess is you can just look at their code or google a C implementation at the very least. Adapting it into short cython code is probably less work then trying to dig very long.

Now that we support the axis argument for gufuncs, it could actually be a nice little exercise to implement a gufunc for stable summation. Not sure it will be ideal performance wise

[2019-06-20 18:05] mihaic opened #13811 "Docs missing at docs.scipy.org for NumPy >1.16.1 <1.17.0"
There is no documentation at docs.scipy.org for the latest three NumPy versions (1.16.2, 1.16.3, and 1.16.4):

The most recent docs available are for 1.16.1:
https://docs.scipy.org/doc/numpy/

Try accessing 1.16.4 directly:
https://docs.scipy.org/doc/numpy-1.16.4/reference/

See the list of available versions:
https://docs.scipy.org/doc/

[2019-06-20 18:25] mattip commented on #13807
Can reproduce on latest PyPY with 1.16.4, but not with HEAD. The problem is that `np.dtype(ctypes.c_int)` produces `dtype('O')` on 1.16.4, `dtype('int32') on HEAD. Something was fixed and not backported, but I don't remember what.

[2019-06-20 18:28] eric-wieser commented on #13807
`np.ctypeslib.as_ctypes_type(ctypes.c_int)` is a simpler test. Can you run that on both head and 1.16.4?

[2019-06-20 18:35] rgommers commented on #13790
This is happening a lot recently. I think the improvements to the packaging system make build-time requirements work in an acceptable fashion over the last year finally, so it may be time to consider shipping an sdist without generated sources. There are downsides too, but it's a discussion that would make sense to have.

[2019-06-20 18:43] mattip commented on #13807
If we wish to fix this we should backport e67f8c7f to 1.16. It was part of PR #12594 to add PyPY3 to our CI, but 1.16.4 is the LTS python2 branch.

[2019-06-20 20:31] seberg commented on #13808
Unfortunately, that does not help. I tracked down a little and found https://github.com/numpy/numpy/blob/d94acc7f73795ecbec71b672fd7c5f07e0ce9f09/numpy/core/_internal.py#L272 to be central to it. Specifically the last call to cast may be important.

I poked at circular references on the `arr.base` but reviving an older branch implementing `tp_traverse` did not seem to help (yet). So, not sure yet

[2019-06-20 20:59] eric-wieser commented on #13808
`.data` is a red herring.

There is a circular reference here:
[code]

I think the problem is that `arr.ctypes.data` needs to construct `_data` every time, rather than holding onto the reference

[2019-06-20 21:07] seberg commented on #13808
Yeah, that fixes it. I am just a bit surprised right now that the reference cycle cannot be broken...

[2019-06-20 21:09] eric-wieser commented on #13808
The cycle isn't leaked at this point, it's still referenced by `globals()['data']`. The test here is not a good one

[2019-06-20 21:18] seberg commented on #13808
Ack, maybe I was just being stupid anyway, adding the collects at the wrong spot, oh man... Anyway, I think we can close this. The cycle can be broken and it is definitely cleaned up on master.

[2019-06-20 21:18] seberg commented on #13808
Ah well, at least that circular reference stuff is rebased on master again. Eventually that might end up being useful ;).

[2019-06-20 21:38] nschloe commented on #8786
Not my conclusion but a known property of Kahan. It's just [not robust when it comes to ill-conditioned sums](https://en.wikipedia.org/wiki/Kahan_summation_algorithm#Accuracy). The best thing would be have fsum indeed, but there are faster solutions too which work in k-fold machine precision. (See [accupy](https://github.com/nschloe/accupy).)

[2019-06-21 00:01] rgommers commented on #13811
that's because I usually do it, and I didn't get pinged and failed to be proactive. note that there's no interesting delta between 1.16.1 and 1.16.4

I'll see if I can fix this soon.

[2019-06-21 02:08] jakirkham opened #13814 "Estimated timeline for 1.17.0 release"
There are a lot of great improvements in 1.17.0 that many of us are eager to use. 😄 Would be curious to get a (rough) idea as to when 1.17.0 is estimated to be released.

[2019-06-21 02:19] charris commented on #13814
The RC will happen when the new random module is ready, likely within a week. The release will be about a month later.

[2019-06-21 04:18] Shekharrajak commented on #11911
I want to work on this issue. Can you please elaborate a bit about what is expected ?

[2019-06-21 06:18] ivirshup commented on #13733
Just noticed this myself. I get that this is a reasonable trade off for promotion, but it's inconsistent with: `np.can_cast(np.int32, np.float32, casting="safe") is False`.

[2019-06-21 07:58] eric-wieser commented on #13808
Reopening since actually there shouldn't be a cycle here, `array.ctypes` returns a temporary.

At worst this is an unnecessary cycle though, not a leak - so not worth milestoning.

[2019-06-21 15:37] mhvk commented on #13810
@jakobjakobson13 - would definitely be good to have. Ideally, we just use python features to support the locale settings. Does `float("1,3")` would in python itself (assuming your locale is set correctly)?

[2019-06-21 23:09] anuppari opened #13817 "Element assignment does not work for mixed datatypes"
When setting one variable of dtype int with another variable of dtype float, the assignment doesn't happen. No error is raised. I would expect an automatic conversion if possible, and an error thrown if not.

### Reproducing code example:

[code]
prints:
[code]

### Error message:
No error message. If this is expected to be an error, than an error should be displayed.

### Numpy/Python version inf

[2019-06-21 23:28] rgommers commented on #13811
actually, it will be a while. swamped until scipy. there's no hurry here, no content is missing. also, we have dev docs that are built on every PR merge.

if anyone else with access to the doc server wants to do it, please go for it.

[2019-06-22 01:11] mhvk commented on #13817
It does actually assign (try initializing `b` with 0s and you'll see), and it does it by blindly converting to integer.

One could indeed argue it should fail or warn, but that ship has sailed long ago...

p.s. If this answers your question, please just close the issue. And of course do feel welcome to ask other things - the next time it may well be a bug.

[2019-06-22 01:56] MauiJerry commented on #13238
same (base) error, different install on a Raspberry Pi3B+, using latest 2019-04008 Raspian Stretch on which I installed Python3.7.3 and ### MatPlotLib.:

numpy was installed as part of MatPlotLib, pip3 shows it as v1.16.4

Python 3.7.3 (default, Jun 20 2019, 17:01:49)
[GCC 6.3.0 20170516] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call l

[2019-06-22 02:00] MauiJerry commented on #13238
same/similar error install on a Raspberry Pi3B+, using latest 2019-04008 Raspian Stretch on which I installed Python3.7.3 and ### MatPlotLib.:

numpy was installed as part of MatPlotLib, pip3 shows it as v1.16.4

Python 3.7.3 (default, Jun 20 2019, 17:01:49)
[GCC 6.3.0 20170516] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  Fi

[2019-06-22 09:38] jakobjakobson13 commented on #13810
Wel, if you want to use the python included `locale`module, you can do this
[code]

However, as you can see the numeric locale is not set on my python system, even though it is set in the bash:
[code]

So at least at my PC (Ubuntu 18.04, German) Python does not read the LC_NUMERIC from the bash and therefore there it seems that there is no automatic way to adapt the parsing process to the local nu

[2019-06-22 13:38] jakobjakobson13 commented on #13810
But on seconds thoughts I would strongyly advise against a data parsing function that's routine is dependent on local language settings. Most people are unaware of those settings and in the end I as a German could not follow an English tutorial as my loadtxt function would throw an error even though the the code is the same.

So in the end another parameter like `decimal` is needed.

[2019-06-22 14:13] pijyoi commented on #13808
Although technically there isn't a leak, however the following code will balloon in memory usage with numpy 1.16, unless gc.collect() is called explicitly. With numpy 1.15, memory usage stays constant.

[code]

[2019-06-22 14:23] mhvk commented on #13810
I agree that we cannot and should not change the default for loading numbers ignoring the locale. But I'd much rather have an option `use_locale=True` or `locale=...` than a `decimal='[.,]'` - we might as well cover every language in one go! It also avoids having to write our own parsing code.

This may in fact work better with the implementation: internally, it uses conversion functions, which ca

[2019-06-22 15:10] eric-wieser commented on #13808
Presumably the garbage collector will kick in by itself eventually?

The behavior change is likely due to the fact that `arr.ctypes.data` now holds a reference to `arr`, which is a bug fix

[2019-06-22 15:32] jakobjakobson13 commented on #13810
One possible parsing code is the following:
[code]

Using the locale.atof function would result in:
[code]

I don't know what's easier to implement in the function itself, I guess I leave that up to you guys.

[2019-06-22 15:51] pijyoi commented on #13808
In my real application that creates 50 MB arrays every second, resident memory grew to 20 GB after running for a couple of hours. (And still growing)

So while the automatic gc does kick in, it didn't seem to be able to stop the memory usage from growing slowly.

My workaround was to not use ndarray.ctypes.data.

[2019-06-22 16:19] mhvk commented on #13810
Thanks for trying that out!  One can even remove the UFT8 part by passing in `encoding='UTF-8'`.

Anyway, as for implementation, I think even just having your locale example in the docstring would be a nice improvement; would you have time do make a PR for that?

For an actual implementation, looking at the code in `numpy/lib/npyio.py`, I think a good starting point would be to ensure [`_getconv`]

[2019-06-22 23:51] amethyst79 opened #13822 "Numpy 1.16.4 fails to import Python3.7 OSX10.6.8"
Installed Python3.7 (latest which will work) on OSX10.6.8 from installer package ok.
Installed numpy using pip:
python3 -m pip install  numpy
"Successfully installed numpy-1.16.4"
Ran Python program, got error below. Checked path:
echo $PATH
/Library/Frameworks/Python.framework/Versions/3.7/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/bin
 Same result just typing 'import numpy' from t

[2019-06-23 03:32] rkern commented on #13635
I think you just have to be Pierre L'Ecuyer. ;-) [page 15](https://www.iro.umontreal.ca/~lecuyer/myftp/papers/parallel-rng-imacs.pdf)

[2019-06-23 08:06] imneme commented on #13635
Yes, when he explains the basics it's considered okay!

[2019-06-23 10:44] skirsch commented on #8653
I had the same problem with the multiarray import error, and this totally fixed it for me.  I have no clue why people would down vote this.

[2019-06-23 13:52] lemire commented on #13635
@rkern @imneme Simplicity is a feature, both in software and in mathematics.  That some are unimpressed by simple work should not be taken as contradictory evidence.

[2019-06-23 19:09] StanczakDominik commented on #13797
That indeed sounds like a pretty neat idea :)

[2019-06-23 22:02] eric-wieser commented on #13797
[Mailing list post](http://numpy-discussion.10968.n7.nabble.com/Syntax-Improvement-for-Array-Transpose-td47200.html)

[2019-06-24 07:06] DanielT opened #13824 "QNX does not support __thread which causes an unknown symbol error"
I just built numpy 1.16.4 for Python 2.7 on an aarch64 "embedded" board running QNX.

Unfortunately it didn't work by default, giving me the following error when trying to import numpy:
unknown symbol:  referenced from _multiarray_umath.so
(so basically unknown symbol: (blank))

After some digging it turned out to be caused by the two definitions using NPY_TLS in the singnal handling code in multi

[2019-06-24 08:04] redditur commented on #13732
The performance issue is a bit of a red-herring in my opinion. We all want things to be performant; I'm not sure tying users hands with coding magic is the sensible approach though. As @aldanor points out you actually lose performance in tight loops because of these checks.

+1 for explicit matmat, vecmat and matvec functions. At the very least it would make code more transparent.

[2019-06-24 08:56] Shekharrajak commented on #13800
To run `make HTML` smoothly for my changes and commit. I need to run :

[code]

I think first 2 commands can be automated in `make html` . What do you think ? @mattip

[2019-06-24 09:10] mattip commented on #13824
PR welcome, preferably from someone who can test that it works on QNX + aarch64 (since our CI will test that it works for "normal" cases").

[2019-06-24 09:15] mattip commented on #13800
No, this should not be in the Makefile. We could improve the error message when numpy cannot be imported at all, but this is a documentation Makefile not one for numpy itself.

It seems you are missing a `cd` somewhere in your sequence, are you sure that works as written?

Perhaps you could make a PR against the [build the documentation](http://www.numpy.org/devdocs/docs/howto_build_docs.html) pag

[2019-06-24 09:20] Shekharrajak commented on #13800
Yeah! I am aware of it. I updated the above comment.

I think the this command sequence should be written :

[code]
in the [build the documentation](http://www.numpy.org/devdocs/docs/howto_build_docs.html). WDYT?

[2019-06-24 11:25] mattip commented on #13800
I am not a big fan of `python setup.py build_ext --inplace`, since it creates artifacts mixed in with the code. I prefer `python -mpip install --target /tmp/siteroot; cd doc; PYTHONPATH=/tmp/siteroot make html`.

[2019-06-24 12:59] mhvk commented on #13732
It does seem there is some consensus on a path forward:
1. Add benchmark tests
2. Make PR removing the special-casing of vector-matrix operations for the BLAS calls.
3. Introduce explicit matmat, vecmat, matvec functions.

[2019-06-24 13:53] bashtage commented on #8768
See #13816

[2019-06-24 17:01] seberg commented on #13817
Hmm, putting a warning on such unsafe casts could be a thing in the future. I would not be surprised if we already have an issue about it somewhere. But yes, otherwise it is expected/intentional behaviour.

[2019-06-24 17:52] goerz opened #13826 "vectorize does not play well with pydoc and Sphinx"
The `numpy.vectorize` documentation states "The docstring is taken from the input function to `vectorize` unless it is specified". However, `vectorize` is implemented in numpy as a class (with a `__call__` method to make the result function-like), and sets `__doc__` as an *instance* attribute. The same probably applies to other `ufunc`-based features in numpy. Unfortunately, none of Python's docum

[2019-06-24 18:43] jamesmkrieger commented on #13153
I am using Python 3.7.2 with numpy 1.16.4 and I still have this issue.

[2019-06-24 21:59] meyer89 opened #13827 "take operator on memmap is >100x slower than fancy indexing"
Working on improvements for scikit-learn, I stumbled upon a odd behavior that the take operator on a numpy.memmap can take >100x longer than normal fancy indexing.

### Reproducing code example:

Just use "pip install scikit-learn" for the example dataset with shape (70000, 784).

[code]

I do not see any difference between slice1 and slice2, even the flags are identical. However, the second opera

[2019-06-24 22:14] imneme commented on #13635
@lemire: There's a humor piece I like that I think has a lot of truth to it called [_How To Criticize Computer Scientists_](https://www.cs.purdue.edu/homes/dec/essay.criticize.html). The underlying idea behind the piece is that theorists favor sophistication and experimentalists favor simplicity. So if your audience is one of experimentalists, they'll be delighted by simplicity, but if your audien

[2019-06-24 23:34] bsavitzky opened #13828 "Unexpected behavior from matmul"
I've run into some unexpected behavior when using `numpy.matmul`.  For shape (2,2) array `ar1` and shape (2,N) array `ar2`, the function's behavior appears to change unexpectedly with the dimension N.

### Reproducing code example:

[code]

In the code above, ans1 gives the expected result of

[code]

Similarly, I get the expected result when slicing ar2 with ar2[:,:i] for any `i < 8`.  However, a

[2019-06-24 23:54] seberg commented on #13828
@bsavitzky could you provide the exact operating system as well as the method of installation (i.e. Anaconda). If you are on linux/mac, maybe also run something like (very hacky and prints too much but... ) https://gist.github.com/seberg/ce4563f3cb00e33997e4f80675b80953

[2019-06-24 23:58] seberg commented on #13827
In most cases (I can give the details, but...) indexing outperforms take nowadays, due to optimizing the memory order of the operation. Note that the output memory order is different in this case probably. I am surprised the speed difference is this large, but since this is a hard-disk backed file, I suppose cache line misses (i.e. wrong non-optimal order) kicks in heavily.

You would probably see

[2019-06-25 00:00] bsavitzky commented on #13828
Thanks for the quick reply.  I'm running linux 18.04.2 LTS.  The output of the script you sent is:

Probing Multiarray
------------------
OpenBLAS:
    num threads: 32
    version info: OpenBLAS 0.3.6 DYNAMIC_ARCH NO_AFFINITY SkylakeX MAX_THREADS=128

Probing Linalg
--------------
OpenBLAS:
    num threads: 32
    version info: OpenBLAS 0.3.6 DYNAMIC_ARCH NO_AFFINITY SkylakeX MAX_THREADS=128

LDD

[2019-06-25 00:00] seberg commented on #13827
For the sklearn case you have here, it is a bit tricky/annoying. Because if you had an array shaped `70000x2` take is probably noticeably a bit faster (no matter the memory order).

[2019-06-25 00:03] seberg commented on #13828
@bsavitzky just to be sure: This is the numpy that comes with the Ubuntu system, or not? Also, because it is becoming more common: You are not running on a virtual machine or any such things?

This is likely related to OpenBLAS, and virtual machines did cause problems before in this regard.

[2019-06-25 00:04] bsavitzky commented on #13828
I'm running an Anaconda installation.

Additionally, I just ran the same minimal example shown above on a mac (also an anaconda installation) with no problem, so it does it appear that this is likely an OS specific bug.

[2019-06-25 00:05] seberg commented on #13828
Hmm, we specifically ask building with OpenBLAS v0.3.7 and you seem to have 0.3.6 (unless there was a reporting issue there).  Of the top of my head, I am not sure if that was a bug related to matrix multiplication though.@charris, maybe you remember without looking it up?

[2019-06-25 00:09] seberg commented on #13828
Yeah, I think it should be that OpenBLAS issue @bsavitzky. Just to be sure, run the script again with:
[code]

Which will disable the (broken) SkylakeX kernel. Upgrading openblas (if you can) should then fix the issue.

[2019-06-25 00:15] bsavitzky commented on #13828
Running the script with the options above gives:

Probing Multiarray
------------------
OpenBLAS:
    num threads: 32
    version info: OpenBLAS 0.3.6 DYNAMIC_ARCH NO_AFFINITY SkylakeX MAX_THREADS=128

Probing Linalg
--------------
OpenBLAS:
    num threads: 32
    version info: OpenBLAS 0.3.6 DYNAMIC_ARCH NO_AFFINITY SkylakeX MAX_THREADS=128

LDD information:
----------------
running: ldd /home/b

[2019-06-25 00:21] seberg commented on #13828
@bsavitzky thanks, I meant your test:
[code]

The output should not have printed "SkylakeX" anymore with that environmnet variable set. (or use `export OPENBLAS_CORETYPE=Haswell` to make the change persistent for the terminal history.

[2019-06-25 00:27] bsavitzky commented on #13828
Ah, I see - that code works correctly!  Output:

[code]

With respect to upgrading openBLAS - my anaconda installation is up to date, and it seems anaconda is only supporting up to openBLAS 0.3.6 (https://anaconda.org/anaconda/openblas), so perhaps others will also have this issue?

[2019-06-25 00:29] seberg commented on #13828
@bsavitzky probably. Maybe you can check if Anaconda already has an issue about this? Our release notes specifically ask to use a newer openblas version, and I think this was one of the issues why. The other option would be for them to disable the skylakex kernels maybe.

[2019-06-25 00:59] charris commented on #13828
@seberg It was svd, but the problem was apparently due to dgemm on SkylakeX. The last OpenBLAS release was 3.6, but we made our last release using the OpenBLAS development branch because 3.6 didn't cure the problems. There may also be a compiler problem, there are some reports that using gcc 9.1 fixes some things.

[2019-06-25 00:59] bsavitzky commented on #13828
Ok, I've just done a more thorough update of my anaconda installation (`conda install anaconda` plus cleaning and updating), and all appears to be well now on my machine.  The numpy linking script now outputs:

Probing Multiarray
------------------
MKL:
    max threads: 16
    version info: Intel(R) Math Kernel Library Version 2019.0.4 Product Build 20190411 for Intel(R) 64 architecture applicatio

[2019-06-25 01:52] seberg commented on #13828
@bsavitzky whatever you did switched over to the MKL version, so also avoids those bad OpenBLAS skylake kernels.

@charris, hmmm seems a high dimensional problem. Maybe this is just the simpler reproducer for that dgemm problem, but should we ping anaconda in any case?

[2019-06-25 02:40] charris commented on #13828
I'm surprised they don't know about it, but if they are distributing OpenBLAS they should be pinged. The NumPy issue is #13401 which should have some links to several OpenBLAS issues. #13478 is another.

[2019-06-25 05:35] kidwithakeybord commented on #12744
Ya same,
pip install -U scikit-image
This worked for me.

[2019-06-25 09:57] #13778 closed

[2019-06-25 11:16] aldanor commented on #13732
Hi folks, I'm back with some benchmark results - I'm yet to read through them myself though (there's also strict cnr mode tests which are not directly related to this thread but may be interesting nevertheless).

https://gist.github.com/aldanor/5bb9f1ff3577a4c6d35c267db75e47bd

[2019-06-25 11:54] meyer89 commented on #13827
I can confirm that the order of the Input matrix matters a lot.

* F_CONTIGUOUS (default for this dataset and problematic)
  * take: 490 msec per loop
  * take with axis=-1: 601 msec per loop
  * fancy: 425 usec per loop
* C_CONTIGUOUS (no problem here):
  * take: 250 usec per loop
  * fancy: 202 usec per loop

The output is C_CONTIGUOUS in *both* cases, so no difference here.

Based on the docume

[2019-06-25 11:58] jakirkham opened #13831 "Supporting duck array coercion"
Opening this issue after some discussion with @shoyer, @pentschev, and @mrocklin in issue ( https://github.com/dask/dask/issues/4883 ). AIUI [this was discussed in NEP 22]( http://www.numpy.org/neps/nep-0022-ndarray-duck-typing-overview.html#principle-3-focus-on-protocols ) (so I'm mainly parroting other people's ideas here to renew discussion and correct my own misunderstanding ;).

It would be u

[2019-06-25 14:52] shoyer commented on #13831
The proposed implementation would look something like the following:
[code]
Example usage:
[code]

Here I've used `np.duckarray` and `__duckarray__` as placeholders, but we can probably do better for these names.  See the [Terminology](http://www.numpy.org/neps/nep-0022-ndarray-duck-typing-overview.html#terminology) from NEP 22:

Some other name ideas: `np.array_compatible()`, `np.array_api()`....

[2019-06-25 16:52] seberg commented on #13827
Well, as I posted on the other case. There are still some paths were take is quite a bit faster. Plus take has "clip", etc. modes. So yes, it could be a thing, but I am not sure it is quite as straight forward as it may appear.

[2019-06-25 17:34] rgommers commented on #13800
@mattip that's a lot harder to remember and more to type, without having any real advantage. fine if you prefer it, but inplace build is the standard so please don't modify docs for this.

[2019-06-25 18:56] bsavitzky commented on #13828
I'm not certain what standard protocol is here, but as this problem is now solved on my machine and is linked to a separate anaconda issue, it seems like this can now be closed, yes?  Thanks again for the help, @seberg

[2019-06-25 18:56] #13828 closed

[2019-06-25 19:16] borispf opened #13834 "np.testing.assert_array_less "Mismatch:" wrong with scalar first argument"
When the first argument to `np.testing.assert_array_less` is a scalar, the mismatch percentage reported is 100% * &lt;number of mismatched items&gt;, which can be arbitrarily large.

The error seems to be in `numpy.testing._private.utils.assert_array_compare` on [this line](https://github.com/numpy/numpy/blob/a1cd310ea6192945b7f4e452ad5794b291da77a5/numpy/testing/_private/utils.py#L807):

[code]

[2019-06-25 22:25] rgommers commented on #13797
For reference, `.H` was discussed and rejected several times in the past. gh-8882 has rationale. I propose to close this issue.

[2019-06-25 22:32] seberg commented on #13797
Sounds fair, if there is something remotely close to a consensus on the mailing list (and I doubt it is possible for `.H`) we can reopen. My guess is the only thing that could in principle fly is `.mT`, but having both `.mT` and `.T` seems strange as well. If someone proposes a serious `.H` I am all ears, but first implement that conjugate dtype (and do not recoil in horror) ;).

[2019-06-26 01:56] mhvk commented on #13797
I'm sorry, but reopening until the mailing list discussion actually ends. I feel quite strongly this is a feature worth having, and do not recall any consensus.

[2019-06-26 01:57] mhvk commented on #13797
p.s. The fact that is has been asked for so repeatedly should perhaps be seen for what it is: something people really wish numpy had.

[2019-06-26 01:58] rgommers commented on #13797
I agree, no need to close just yet.

It does feel more like we're re-hashing old discussions without addressing or even acknowledging previous ones.....

[2019-06-26 02:03] mhvk commented on #13797
A consequence partially of some discussions not leading to a conclusion and those conclusions that are reached not being written down. But on the upside of course also of the people involved changing and thus bringing in different priorities and ideas.

[2019-06-26 02:06] mhvk commented on #13797
p.p.s. I'll stop now, but I think we perhaps fail to acknowledge how much the `Matrix` class was in fact used - we're deprecating it saying all it brings is better done with regular arrays but do not provide even minimal infrastructure. E.g., how is it possible that numpy does not have a `matrix_transpose` function? (I write this wondering even why I didn't put a PR in myself...) I guess cecause o

[2019-06-26 02:24] eric-wieser commented on #13797
I hid an undocumented one at `np.linalg.transpose` that uses the same broadcasting rules as the other linalg functions. You're welcome ;)

[2019-06-26 02:34] eric-wieser opened #13835 "A replacement for `np.matrix`"
As touched upon in in #13797

`matrix` was a collection of behaviors, some good and some bad:
* `.I` and `.H` attributes. These were handy.
* `*` means `matmul` - not inherently bad, but perhaps surprising, and certainly less necessary in the presence of `@`. I think there might still be some value in allowing "multiply (`*`)" on matrix objects to mean what `@` does on array objects - it allows th

[2019-06-26 02:35] eric-wieser commented on #13797
@mhvk: Elaborated on that thought in #13835

[2019-06-26 02:44] rgommers commented on #13835
Thanks @eric-wieser, this feels like a good idea potentially. Not sure if it should live in numpy itself or not, but there's clearly an audience for this. This could be a duck array or subclass that plays nicely with the rest of numpy and the ecosystem.

[2019-06-26 02:54] seberg commented on #13797
I am not quite convinced that we cannot change `.T` (at least in the sense of deprecation) myself, but it seemed like enough pushback that it needs  bigger write up. I am fairly convinced that `.H` being a view is a fairly complex thing.

One thing I have to agree with Marten: We had said the same about other things (most noisily/annoying the integer deprecation for example), and while it was very

[2019-06-26 02:56] ZisIsNotZis opened #13836 "`log2` way slower than `log` or `log10`"
### Reproducing code example:

[code]

### Output:

[code]

### Numpy/Python version information:

1.16.4 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0]

### Comparison

With my straight forward implementation of `log2`

[code]

[code]

The result shows

[code]

So I feel something must be wrong inside `np.log2` that make it slower than a naive single-threaded implementation?

[2019-06-26 02:57] eric-wieser commented on #13835
I think to build this effectively, some progress on #13768 would need to be made.

[2019-06-26 02:59] charris commented on #13797
I don't recall being in opposition, and I also think the current transpose is not what we want. Now there is the problem of consistency, transpose can be a view and we probably don't want the Hermitian conjugate to be a view, but having a shorthand way to do it would be useful. I think it could even be done as a generalized ufunc.

[2019-06-26 03:05] charris commented on #13835
I think there was some old discussions related to this, mainly involving having distinguished row and column vectors instead of (n, 1) (1, n) matrices.

[2019-06-26 03:12] ZisIsNotZis commented on #13836
Wait I just did a full C benchmark, the results are

[code]

Looks like the performance of `log` and `log10` is consistent between `numpy` and my implementation, but the performance of `np.log2` is indeed slower than expected

[2019-06-26 03:21] ZisIsNotZis commented on #13836
Related SO: [Why are log2 and log1p so much faster than log and log10?](https://stackoverflow.com/questions/33809789/why-are-log2-and-log1p-so-much-faster-than-log-and-log10)

[2019-06-26 03:43] seberg commented on #13836
The difference is probably that at least `log` has explicit AVX vectorization, and your loops the compiler probably manages to do that. I find it plausible that @r-devulap already has improvements in the pipeline. Although, we may not do it in some cases if the improvements are small.

[2019-06-26 04:09] r-devulap commented on #13836
float32 `log` in NumPy 1.17x uses AVX2/AVX512 intrinsic (see PR https://github.com/numpy/numpy/pull/13134). Although, the algorithm easily extends to `log2 `and `log10` and its my to-do list.

[2019-06-26 05:11] ZisIsNotZis commented on #13836
So it might take a long time before fast `log2` will be implemented in numpy?

Anyway, a quick fix would be

[code]

[2019-06-26 09:12] Shekharrajak commented on #13800
Yeah, I am also trying to understand this command`python -mpip install --target /tmp/siteroot; cd doc; PYTHONPATH=/tmp/siteroot make html`, since I am not able to run it without error.

[2019-06-26 13:01] mhvk commented on #13835
@eric-wieser - I think if I were to do a matrix class, I would do them using a sub-array for the matrix itself, i.e., the `shape` would just reflect the stack, not the matrix itself. At least, I once got started on a vector class, and quickly got stuck with keeping track of that last dimension with the vector, and then realizing I could not do things like transform to spherical and still keep the

[2019-06-26 14:12] mhvk commented on #13797
I thought of the "complex conjugate" dtype a little more: I think it is not difficult to implement in itself, and it might help speed up/save memory on (some) complex-valued calculations of very large arrays (but should be probably be treated as the hack it is, i.e., invisible from the user to the extent possible). But one thing that would be agreed on beforehand is what to do with `cc.imag`. I do

[2019-06-26 15:09] bashtage commented on #13835
-1 on this since there is no equivalent of .* in MATLAB. (I had a brief thought of making @ be element-by-elemet for `matrix` , but that would also be quite bad).  Seems the best bet would be to have `@` follow the rule of Linear Algebra, if possible.

[2019-06-26 17:09] #13764 closed

[2019-06-26 17:27] #13400 closed

[2019-06-26 17:27] charris commented on #13400
Closing as it seems to be fixed. I expect it will come up again if it persists.

[2019-06-26 17:35] seberg commented on #13797
I do think the complex conjugate dtype is not very difficult as such. I am more scared that hiding it well may end up ugle and other smaller traps crop up. And yes `cc.imag` would somewhat require another negative real to do?

[2019-06-26 17:39] charris commented on #12332
Hmm, be nice to settle this, but pushing off to 1.18 just because it doesn't look like a blocker for 1.17.

[2019-06-26 17:54] seberg commented on #13836
@ZisIsNotZis that is not a viable "quick fix" within numpy (and probably a bad idea also, since not all arrays can be accelerated with AVX). Having it on Raghuveer's todo list is probably the best way to have it fairly quickly, which likely means it is in 1.18.
If the quick C tests made faster code, I guess the compiler was capable of optimizing things a bit. So it might be that just just creating

[2019-06-26 18:00] seberg commented on #12332
I still somewhat feel we may want to try it with a major version. Although for libraries it doesn't matter, it would only matter for scripts running on windows machines and even then probably only if they eat a lot of memory or so...
The `intp` solution is likely the much less tricky one (the other seems like it requires touching all functions to make sure they prefer 64bit ints). That still gives

[2019-06-26 18:02] hameerabbasi commented on #12332
I can count at least 4 times I've run into bugs for libaries on Windows because... `dtype=int` did the wrong thing on Windows. 🙁

[2019-06-26 18:12] seberg commented on #12332
@hameerabbasi what I meant is: For libraries we could just switch over to higher always higher precisions without anybody noticing (and if anything, fixing bugs). I think it is only end users who such a change can possibly break existing (albeit brittle) code.

[2019-06-26 18:29] #10776 closed

[2019-06-26 18:51] mhvk commented on #13797
That would indeed solve the "no-copy-for-a-property" fear. But that would seem to increase the likelihood of ugly traps further down for very little benefit. It might then be better to just error on `.imag`.

Anyway, my sense is that it does not help in terms of the perceived problem with `.H` doing a copy rather than returning a view, so while I still think it is a really neat idea, we might as w

[2019-06-26 19:49] rkern commented on #13635
The default `BitGenerator` is `PCG64`. Thank you all for your thoughtful contributions. And stamina!

[2019-06-26 19:49] #13635 closed

[2019-06-26 19:51] rkern commented on #13685
I believe we've settled all of these questions.

[2019-06-26 19:51] #13685 closed

[2019-06-26 21:02] shoyer opened #13841 "ndarray==other calls other.__eq__ when other.__array_ufunc__ raises an exception"
Consider the following example from https://github.com/pandas-dev/pandas/pull/23293:
[code]

[code]

As far as I can tell, it is impossible for `other` to silence this deprecation warning if it raises an error.

[2019-06-26 23:23] econtal opened #13842 "SystemError when masking a structured array of size 1<<31"
Applying a boolean mask on a structured array of size `1<<31 = 2147483648` (or slightly larger) fails with:

[code]

It does not matter the content of the boolean mask, or the number or inner dtype of fields in the structured dtype.

It seems this affect any size from`(1<<31)` to `(1<<32)-2`, but masking works for `(1<<32)-1` and above.

### Reproducing code example:

Example with size `1<<31`, on

[2019-06-27 00:01] seberg commented on #13842
Hmmm, can reproduce on 1.16.2, but not on current master.

[2019-06-27 00:08] rgommers opened #13844 "high-level documentation for __array_function__ missing"
This was noted in the tracking issue (gh-12028) but didn't have its own issue. I wanted to refer to these docs today and found them missing.

Documentation is needed in two places:
- [ ] https://www.numpy.org/devdocs/reference/arrays.classes.html#special-attributes-and-methods
- [ ] https://www.numpy.org/devdocs/user/basics.subclassing.html

A bigger-picture issue is that the subclassing doc nor o

[2019-06-27 00:09] rgommers commented on #12028
An issue for documentation was missing, so I opened gh-13844. I think docs are a lot more important than the `arange` open issue.

[2019-06-27 00:09] imneme commented on #13635
Very much inspired by this thread, I have some news to report…

### Background

By many measures `pcg64` is pretty good; for example, under the usual measures of statistical quality, it gets a clean bill of health. It's been tested in various ways; most recently I've run it all the way out to half a petabyte with PractRand. It works well in normal use cases.

BUT, the pathologies that came up in t

[2019-06-27 00:19] lemire commented on #13635
@imneme  Does it get around the need to a full 64-bit multiplier? (Which is super fast on x64 but a tad slower on some weaker architectures.)

[2019-06-27 00:32] seberg commented on #13842
Well, the error should be fixed by this:
[code]
that code path was cleaned up in master, so that this fix would only be applicable to the maintenance branch. Want to create a PR? Should be possible to create a test, although maybe not vital (also some compilers probably would catch this).

[2019-06-27 01:15] econtal commented on #13842
Thanks for your quick support and finding the cause.

It seems both `seqlen` and `i` needs to be casted. Otherwise `i` may overflow in the `for` loop. Indeed, master uses:
[code]
I'll propose a PR for this tiny change.

[2019-06-27 02:26] imneme commented on #13635
@lemire: 128-bit × 64-bit multiply, which internally will be done with two multiply instructions on x86 (a 64-bit × 64-bit → 128-bit result on the low-order bits, and 64-bit × 64-bit on the high order bits. Both multiplies can take place in parallel, and then the two results need to be added.)

It's still potentially better than 128-bit × 128-bit.  Although how much better depends on how well inst

[2019-06-27 02:28] tylerjereddy commented on #13828
The problem of assuming that the latest stable release of OpenBLAS works with the latest stable release of NumPy and / or SciPy shows up a lot. Hopefully, with the continued improvements in testing upstream that assumption will become less dubious over time.

[2019-06-27 03:23] mattip commented on #13707
Matplotlib has a PR to move to towncrier matplotlib/matplotlib#14589.

[2019-06-27 05:03] seberg commented on #13707
IIRC there was a lot of support for that as well on the mailing list. Lets bring it up tomorrow and unless Chuck feels differently, probably go for it for 1.18.

[2019-06-27 05:14] ZisIsNotZis opened #13846 "`np.sort` of `memmap` is still `memmap`"
I know this is not a big problem. Just mentioning here.

`sort` of a `memmap` (which uses different memory and is not a mmap anymore) is of type `memmap`.

I "kind of" remember one time that I got a readonly `memmap` with some non-inplace operaton, but this might not be true since I can't remember it clearly.

### Reproducing code example:

[code]

### Output:

[code]

[2019-06-27 07:37] hiremath579 opened #13848 "ImportError: DLL load failed: Access is denied."
Installed Python from downloading from "https://www.python.org/downloads/"
Using Windows 10 Pro (1803) OS

3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]

I have only one copy of installed python and its path is added to environment variable.

I tried uninstalling python and installing with elevated privileges (Admin), every time its same error.

Below are the error d

[2019-06-27 11:57] rth commented on #13080
It would be nice if someone could report it upstream to CPython. The only relevant issue I found is https://bugs.python.org/issue5309 which says that parallel compilation of extensions should have been fixed in Python 3.5.

Also, what's the long term vision of `numpy.distutils`? Are relevant changes expected to get merged into stdlib distutils at some point or have the code bases diverged to the p

[2019-06-27 16:20] rgommers commented on #13080
@rth no that won't happen, for one because it's a lot of work and also because of reasons like CPython not caring about Fortran and we not being able to live with the slow CPython release cycles.

The plan is to remove `distutils` from the stdlib and merge it into `setuptools`. Then we need to adjust `numpy.distutils` for that.

[2019-06-27 16:30] tamasgal opened #13853 "Memory leak in recarrays reappeared in 1.16.3"
The memory leak on `recarray` which was fixed in 1.15.3 (https://github.com/numpy/numpy/issues/12198) reappeared in 1.16.3+

### Reproducing code example:

[code]

### Error message:

The number (peak memory usage in MB) is increasing in every iteration...

### Numpy/Python version information:

[code]
Python 3.7.3

[2019-06-27 17:03] charris commented on #13853
There are no fixes in `mapping.c` between 1.16.1 and current 1.16.x, so it must be a different problem.

[2019-06-27 17:28] charris commented on #13853
I can verify that the problem was introduced in 1.16.3. Seems to be #13084.

[2019-06-27 17:31] charris commented on #13853
@mattip ping.

[2019-06-27 18:58] stefansjs commented on #5345
Ouch, I just found this out by trying to put a dtype into a type that wants to be hashable. Thanks for the clear writeup! I understand why equality is violates the python API, but couldn't hash be fixed?

I'm imagining
- if you compare equivalent to a builtin type, return the hash for that type instead of yourself.
- if you are some kind of object/array type hash your string description, plus some

[2019-06-27 21:38] cjblocker commented on #13797
To summarize the mailing list discussion, both [the more recent one](http://numpy-discussion.10968.n7.nabble.com/Syntax-Improvement-for-Array-Transpose-td47200.html) and [the one from several years ago](http://numpy-discussion.10968.n7.nabble.com/add-H-attribute-td34474.html), there is a general consensus for a `.H` that can be implemented without a copy.

As was originally described [here on the

[2019-06-27 22:39] tamasgal commented on #13853
I just ran `git bisect start HEAD 0eeb158ead494e130a25239ac8473a06451b1072` (second is v1.16.2) with the following script:

[code]

which calls `memory_leak_test.py`:

[code]

It took an hour on my 16 core Xeon and this is the bisect log:

[code]

Which yields 7f5d26515540c17d9bda59d2a58397cbf8a99756 as the first bad commit.

[2019-06-27 23:01] seberg commented on #13853
Thanks @tamasgal, I opened a PR to fix it already.

[2019-06-27 23:28] JamesXNelson commented on #13430
subscribing to issue.

I'm hitting this when trying to load numpy through jpy.  I'm fairly newbish in the python scene; would this be exacerbated by loading numpy twice through different mechanisms?

[2019-06-28 00:16] sclel016 commented on #13797
That's really great to hear Cameron, I'm glad you're willing to take this on! Can I make a suggestion of adding optional arguments to specify which two dimensions should be hermitian transposed? Also, what would be the expected behavior of `.H` when using an array of real numbers?

[2019-06-28 00:40] Xanlarel commented on #13822
Same issue here

[2019-06-28 00:46] seberg commented on #9600
Just in case anyone is insterested in it. I got the test running with the pytest-leaks, tracking down all the small refcount issues might be a pretty annoying project though.

[2019-06-28 05:00] rkern opened #13857 "Do not force 128-bit emulation for PCG64"
I noticed that we are [forcing 128-bit arithmetic emulation](https://github.com/numpy/numpy/blob/master/numpy/random/setup.py#L61) even when it could be supported. I assume this was a temporary measure, but `pcg64.h` appears to not be written correctly without emulation for some reason. @bashtage @mattip Can you clarify?

[2019-06-28 06:09] rkern commented on #13635
A quick-and-dirty implementation in our framework suggests a mild performance improvement, at least on 64-bit Linux:

[code]

I think it's outputting from the pre-iterated state that gives it the bump, at least in this context. I left that out at first and got essentially the same performance as `PCG64` 1.0. The real win would be under 128-bit emulation, I suspect, but I didn't get around to writi

[2019-06-28 06:33] bashtage commented on #13857
I'm pretty sure I didn't make that change, so don't know why it was added.  I was also suspicious of the performance drop. All of the previous tables have been made using randomgen code since the code was essentially identical  This table was made using numpy master to include SFC.

[2019-06-28 07:49] imneme commented on #13635
It's your choice to make!

I have no problem with your shipping the 1.0 version of PCG64. Plenty of other folks have used that variant.

I do think the DXSM variant has the advantage of avoiding the edge-case-usage issues that came up in this thread (after all, that's pretty much why it exists), but on the other hand, it has the disadvantage that it's late to the party. It might even seem quite re

[2019-06-28 10:18] homocomputeris commented on #13731
I've also been confused by this behaviour of `hstack` and `vstack`.
If a vector's length matches the number of columns in an array, then they can be `vstack`ed. But they cannot be `hstack`ed it the length matches the number of rows.

[2019-06-28 13:22] #13857 closed

[2019-06-28 14:05] anuppari commented on #13817
Looks like similar requests for warnings are in issues #8733 and #12449, so I'll close this one.

[2019-06-28 14:05] #13817 closed

[2019-06-28 15:50] cjblocker commented on #13797
Adding arguments is hard, since `A.H(0,1)` would be parsed as `C = A.H; C(0,1)`, so if `.H` were a property, then `C` would be an array and `A.H(0,1)` would be calling `C`. `.H` could be a method instead of a property, but there was resistance on the mailing list from `.H` acting differently than `.T` outside of conjugation. That is also one of the reasons `.H` should return a view instead of a co

[2019-06-28 15:51] #13853 closed

[2019-06-28 16:14] andimarafioti commented on #13051
Hey, I had this same problem on windows 10 with Python 3.6. Solved it by upgrading to numpy 1.16.4 (had 1.13 something).

[2019-06-28 16:30] rkern commented on #13635
I meant more about using the name `PCG64` for the 1.0 variant when you are going to be using that name to refer to the 2.0 variant.

[2019-06-28 19:27] charris opened #13862 "Update mailmap for 1.17"
Could the following people respond to this issue with the name that should be used in listing contributors to the 1.17.0 release.

- [ ] @aashuli
- [x] @bduvenhage
- [x] @euronion
- [x] @jeremiedbb
- [x] @jeremycl01
- [x] @kai-striega
- [x] @kikocorreoso
- [x] @kirienko
- [ ] @parul
- [x] @shekharrajak
- [x] @sorenrasmussenai
- [x] @spacescientist

EDIT: Also include a valid email if you don't cur

[2019-06-28 19:39] sorenrasmussenai commented on #13862
Soren Rasmussen (or Søren Rasmussen, if special characters are allowed)

[2019-06-28 20:04] charris commented on #13862
@sorenrasmussenai  Do you have an email?

[2019-06-28 20:06] sorenrasmussenai commented on #13862
soren.rasmussen@alexandra.dk

[2019-06-28 20:31] bduvenhage commented on #13862
Bernardt Duvenhage

[2019-06-28 21:00] jeremiedbb commented on #13862
Jérémie du Boisberranger

[2019-06-28 21:29] charris commented on #13862
@jeremiedbb Do you have a contact email?

[2019-06-28 21:30] jeremiedbb commented on #13862
jeremie.du-boisberranger@inria.fr

[2019-06-28 22:10] lemire commented on #13635
@rkern If it is just a naming issue, then PCG64DXSM and PCG64 sets them apart nicely, no?

[2019-06-28 22:29] rkern commented on #13635
For numpy, certainly. I am just wondering if @imneme would prefer that we not name our 1.0 implementation `PCG64` when she is going to be promoting the 2.0 variant under that name in the C++ version. I am sensitive to the fact that being loose with the names means that some people might test numpy's `PCG64` and compare that to the claims that will be made on pcg-random.org about the 2.0 version. C

[2019-06-28 22:55] imneme commented on #13635
In Section 6.3 of the PCG paper, it says:

And the C and C++ libraries are structured that way.  The libraries provide

* a low-level interface that lets you pick a specific family member via the name of its permutation, the bit sizes it operates at, and the characteristics of the underlying LCG
* a high level interface that provides convenient aliases like `pcg64` that connect to a pre-chosen low

[2019-06-29 00:22] Kai-Striega commented on #13862
Kai Striega
kaistriega@gmail.com

[2019-06-29 05:10] Nick-Wilde opened #13865 "Original error was: /home/wangyl/.local/lib/python2.7/site-packages/numpy-1.16.3-py2.7-linux-x86_64.egg/numpy/core/_multiarray_umath.so: undefined symbol: PyUnicodeUCS2_FromObject"
Hi, everyone, I'm confused...
When Trinity running...

[code]

[2019-06-29 05:42] Kai-Striega commented on #13842
@seberg can we close this?

[2019-06-29 06:23] eric-wieser commented on #13842
Sure

[2019-06-29 06:23] #13842 closed

[2019-06-29 06:37] Nick-Wilde commented on #13865
reinstall numpy.

[2019-06-29 06:37] #13865 closed

[2019-06-29 08:53] Shekharrajak commented on #13862
Name : Shekhar Prasad Rajak (@Shekharrajak)
MailID: shekharrajak@live.com

[2019-06-29 09:34] kirienko commented on #13862
Yury Kirienko

пт, 28 июн. 2019 г. в 21:28, Charles Harris <notifications@github.com>:

[2019-06-29 09:44] eladwass opened #13866 "Chebfit coefficient order"
Hi
I'm using chebyshev polynomials to compress data. when plotting the return coefficients I receive a mirrored plot of what I expect.
I was wandering if the return coefficient from chebfit is from C_n to 0 (like in Matlab) and not 0 to C_n as documented.
also it is weird to me that C_0 does not represent the DC value of my 1D signal.

### Reproducing code example:
x_axis = np.linspace(-1, 1, len(

[2019-06-29 12:35] charris commented on #13866
Should be c_0 ... c_n, unless something else is messing with things. What happens if you use the recommended `Chebyshev.fit` class method of the Chebyshev class? Note that that will use scaled and shifted polynomials for numerical stability but will still evaluate correctly as it tracks that. `from numpy.polynomial import Chebyshev as T`

[2019-06-29 13:59] Kai-Striega commented on #5046
@charris [pr-5577](https://github.com/numpy/numpy/pull/5577) fixed this. I think this issue should be closed.

[2019-06-29 14:11] charris commented on #5046
Closing. I note that #6073 is still open.

[2019-06-29 14:11] #5046 closed

[2019-06-29 15:26] Kai-Striega commented on #5046
I think that should be closed too. The last comment (https://github.com/numpy/numpy/pull/6073#issuecomment-248061826) is nearly three years old:

so I think we won't see further changes any time soon.

[2019-06-29 16:44] peterbell10 opened #13868 "SEGFAULT in array fancy indexing"
### Reproducing code example:

The following code segfaults when run with `-X dev`

[code]

### Error message:

[code]

And examining the contents of `arr`, it appears to be a use after free:
[code]
(Note `-2604246222170760229 == 0xdbdbdbdbdbdbdbdb`)

### Numpy/Python version information:

1.16.4 3.7.3 (default, Apr  3 2019, 19:16:38)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]

[2019-06-29 17:26] seberg commented on #13868
I can reproduce on 1.16.x but not on master, I faintly remember a use after free or so bug in the array assignment code, seems like we should look it up and backport maybe.

[2019-06-29 18:20] jakobjakobson13 commented on #13810
I'll try to look into it as soon as you @eric-wieser , @juliantaylor and @mhvk will come to a decision.

[2019-06-29 18:20] charris commented on #13868
Probably #13715, which is already tagged for backport.

[2019-06-29 18:46] eladwass commented on #13866
Hi

Unfortunately got same result with Chebyshev class. what the shifted/scaled polynomial means?

Anyhow this is the graphs I expect to see (large around 0 and decay over time):
![US20040093364A1-20040513-D00002](https://user-images.githubusercontent.com/15740376/60388109-7e494580-9ab5-11e9-864f-86bf980b1a5c.png)
and this is what I receive (exactly the opposite...ignore block size):
![Capture](ht

[2019-06-29 19:03] charris commented on #13866
My guess is pilot error, but without the data and sample points it isn't possible to discover what the problem is. Note that you have 512 coefficients while the patent uses blocks of what looks like 16 data points.

As an aside, the patent seems trivial. How in the world did that get a pass?

[2019-06-29 19:07] jeremycl01 commented on #13862
Jeremy Lay
jlay80@gmail.com

[2019-06-29 19:34] charris commented on #13866
Also note that the "Chebyshev transform" as shown in the patent seems to assume that the data points used to evaluate the polynomials are at the Chebyshev points, so you cannot just use the sample number. In fact, it looks to be a DCT. Googles... yep "Chebyshev transform" is another name for the DCT, see https://en.wikipedia.org/wiki/Discrete_Chebyshev_transform.

[2019-06-29 21:39] rgommers commented on #13831
`np.array_compatible` could work, although I'm not sure I like it better than `duckarray`. `np.array_api` I don't like, gives the wrong idea imho.

Since after a long time we haven't come up with a better name, perhaps we should just bless the "duck-array" name......

[2019-06-29 22:22] anuppari commented on #10056
In the documentation, the following note probably adds to the confusion significantly:

From my understanding of matmul broadcasting, and the following note, there are multiple errors and typos in that example.

I think this is what it should be:

[code]

Where I:
1. Removed the double `a =` in the first line
2. switched the order of the 3 and 4 in the definition of shape of `c`
3. fixed the comme

[2019-06-30 00:18] shoyer commented on #13635
The default generator is implemented is implemented as `np.random.default_gen()` in https://github.com/numpy/numpy/pull/13840. (@rkern for future  reference, it's probably good to explicitly call out PRs -- they are easy to miss in GitHub if you only provide a back-link, since there are no notifications for that.)

One minor nit: what about calling this `np.random.default_generator()` instead? `ge

[2019-06-30 00:50] charris commented on #13635
I had the same thought, but then, `np.random.default_generator()` is a hair on the long side, so I played with `default_rng`.

[2019-06-30 00:52] shoyer commented on #13635
👍 I like `default_rng` better than `default_gen`, too. I would be happy with either of these, though I would still lean towards `default_generator`.

[2019-06-30 00:58] seberg commented on #13831
I like the compatible word, maybe we can think of variations along that line as well `as_compatible_array` (somewhat implies that all compatible objects are arrays). The `as` is maybe annoying (partially because all `as` functions have no spaces). "duck" seems nice in libraries, but I think a bit strange for random people seeing it. So I think I dislike "duck" if and only if we want downstream use

[2019-06-30 01:14] charris commented on #13831
Maybe `quack_array` :)

[2019-06-30 02:20] rkern commented on #13635
:+1: for `default_rng()`.

[2019-06-30 03:36] rgommers opened #13872 "use __array_function__ on functions outside numpy"
I think this is a bug, but not 100% sure. The `ndarray.__array_function__` implementation seems special, it's not recognized when applying `array_function_dispatch` to a function outside of NumPy (which NEP 18 suggests is possible).

To try, I add the following lines to PyTorch at the end of `torch.__init__.py`:
[code]

Then, I run the following (on 1.16.4 with the envvar enabled; need to rebuild

[2019-06-30 06:04] shoyer commented on #13872
I think this is working as expected, though there is indeed  something surprising going on here.

By using `array_function_dispatch`, you define a *new* function `torch.sum()` that checks for overrides using `__array_function__` -- there is no relationship with `numpy.sum`.

How then could dask and sparse know how to handle `torch.sum`? It's because dask's `__array_function__` method (and presumab

[2019-06-30 08:04] JamesXNelson commented on #13430
ah.  disregard my report; my error was due to trying to reload jpy, which triggers manual double-inclusion of python modules (or some other terrible JNI voodoo) that causes the issue.

[2019-06-30 11:56] charris commented on #13430
Thanks for the followup.

[2019-06-30 14:13] eladwass commented on #13866
charris!
THANK YOU VERY MUCH!!!!!
I used : scipy.fftpack.dct(sample,norm = 'ortho') and worked amazing!
ha ha I can't believe that  the patent is simply performing DCT-type2!

thanks again!

[2019-06-30 14:13] #13866 closed

[2019-06-30 14:50] mobiusklein commented on #13430
To be clear, the original issue still stands due to an as yet un-understood interaction between Cython's fused types and NumPy 1.16 on Python 2.7 and Linux, and had nothing to do with jpy, so I don't think this issue should be closed.

That said, I got no response from Cython's developers on this issue when I opened it with them, and I don't see any place in the internals of Cython's fused functio

[2019-06-30 17:40] rgommers commented on #13872
that implementation would make `dask.fft` work with both `numpy.fft` and `scipy.fft` if SciPy decided to use `__array_function__` for that module (just an example, not very likely at this point). Also it would allow multiple compatible top-level namespaces to implement the same mechanism and interoperate. So there is something to say for the approach Dask and Sparse take right now. On the one hand

[2019-06-30 18:06] cool-RR opened #13875 "`AttributeError` when taking sine of huge number"
[code]

### Error message:

[code]

### Numpy/Python version information:

[code]

[2019-06-30 18:26] eric-wieser commented on #13875
Fixed in #12700 to produce a better error message, now gives:
[code]

[2019-06-30 18:28] #13875 closed

[2019-06-30 19:11] shoyer commented on #13872
I don't think it particularly matters in most cases. As long as the design is consistent, there's not much overhead in adding another special method.

That said, we did go to a lot of trouble in NumPy to optimize this (e.g., all the dispatching logic written in C) and it seems needless to duplicate that. Particularly for SciPy, which is so closely tied to NumPy anyways. So I would lean towards enc

[2019-06-30 19:14] cool-RR commented on #13875
Maybe I'm missing something, but the "fixed" version still seems like a completely opaque error message.

Someone runs `np.sin(7)` and it works, and suddenly for a big number it doesn't work. Shouldn't the error message be something like `Input is too large to calculate sin, use float`?

[2019-06-30 19:17] shoyer commented on #13872
Yes, this is something I was thinking about in general, but we hadn't really thought about what it would look like in practice. It was tricky enough to figure things out for internal use in NumPy, so we didn't  expose `array_function_dispatch` as a public API yet.

That said, we're not going to change its internal location for 1.17, so if we do make it public in 1.18 (e.g., as `np.array_function_d

[2019-06-30 19:22] seberg commented on #13875
Until we get rid of automatic coercion to an object array this is probably about as good as it will get. We could maybe make the error message spell out a bit more things, but we cannot just put in "input is too large" or so, at the point where the error message happens that would just be guessing. Although maybe you can suggest a wording which makes things easier.

[2019-06-30 19:26] #13775 closed

[2019-06-30 19:31] #13868 closed

[2019-06-30 19:33] cool-RR commented on #13875
Can't the error catching logic check whether this is an int which is above a certain threshold, and then use the "int is too large" message?

[2019-06-30 19:35] eric-wieser commented on #13875
No, because `np.sin(np.array(1, dtype=object))` has the same problem

[2019-06-30 19:41] chadrik commented on #7370
In case it's useful to this issue, I'll mention that I've made a tool for converting docstrings to type comments:  https://pypi.org/project/doc484/

I use this with pre-commit in several projects to keep docstrings in sync with type comments.

You'll still need to convert the types in your docstrings to be PEP484 compliant.

[2019-06-30 19:54] rgommers commented on #13872
Given that any library interested in using it is going to want to support at least a few NumPy versions, they'd need to vendor it anyway until NumPy 1.20 or so. So saying `np.core.overrides` is private is perfectly fine. Would be useful to change the name to `_overrides` by the way, although at this point we've got so many mostly-private-but-not-underscored submodules that it doesn't really matter

[2019-07-01 03:13] seberg commented on #13846
I remember having a year old patch that tries to change this a bit. Maybe worth a shot. The idea is really just to not do anything in `__array_finalize__` and `__array_wrap__`. Now that 1.17 is branched off, might be a good time (since I suppose it might affect downstream, even if it should not).

[2019-07-01 05:18] shoyer opened #13877 "Defining overrides for aliased NumPy functions in NumPy"
There are handful of NumPy functions that are implemented as aliases of other NumPy function. These include at least `min`, `max`, `round` (non-ufuncs) and `abs` (an alias of the `np.absolute` ufunc):
https://github.com/numpy/numpy/blob/b4105bf03f16e0bd38c6a74ba32de5b0a69ed190/numpy/core/__init__.py#L92-L93

Because `np.min` is defined as `amin`, that's also how you have to override the function w

[2019-07-01 05:21] rgommers commented on #13877
That's forcing API pollution though ....

For `abs` we could switch around the names and make `absolute` the alias.

[2019-07-01 05:41] eric-wieser commented on #13877
It doesn't sound to me like we need to do anything for abs/absolute -
they're two names for the same ufunc, so neither are affected by the
__array_function__ mechanism. Even the dask __array_ufunc__ can pick its
favorite spelling, and because they're aliases will automatically work for
both.

On Sun, Jun 30, 2019, 22:21 Ralf Gommers <notifications@github.com> wrote:

[2019-07-01 09:26] jakobjakobson13 opened #13878 "ENH: Allow loadtxt to ignore a single column"
In the loadtxt routine you have to explicitly specify all the columns you want to read in as soon as you want to discard one column. However, I normally use the first row and first column for labels. So my data looks similar to the following example:
[code]

To import the data to numy the only way that worked for me was the following command:
[code]

Unfortunately this becomes very unhandy for lon

[2019-07-01 09:30] wdecoster opened #13879 "Silent integer overflow when using weights in histogram"
I use the `weights` argument in matplotlib.pyplot.hist() to create a weighted histogram. As far as I know, this passes on the calculations to numpy, so therefore I directly open the issue here. I noticed that the result of the `weights` argument depends on the dtype of the array. If I use an `int64` array things are as expected (see plot and code snippet below). However, if I use a `uint16` then t

[2019-07-01 09:38] wdecoster commented on #13879
This seems to be expected behavior, but at least to me surprising nonetheless. I get a similar result when just doing a sum of two arrays:

[code]

I guess I'll have to upcast my array.

[2019-07-01 11:34] dhirensr commented on #12980
@eric-wieser : could you mention what changes needs to be made? I mean do we mention in np.multiply.order that we could use either
    np.tensordot(a, b, axes=((), ()))
    np.multiply.outer(a, b)
and also mention that np.outer is used for compatibility with oldcode so one can use np.multiply.outer?

[2019-07-01 11:55] adeak commented on #13797
@eric-wieser is `linalg.transpose` undocumented because it's trivial to implement, because you fear it can cause confusion _vis-à-vis_ `numpy.transpose`, or some other reason? It would seem useful still, especially if referenced in an issue ;)

[2019-07-01 12:40] pentschev commented on #13831
To extend a bit on the topic, there's one other case that isn't covered with `np.duckarray`, which is the creation of new arrays with a type based on an existing type, similar to what functions such as `np.empty_like` do. Currently we can do things like this:

[code]

On the other hand, if we have an `array_like`  that we would like to create a CuPy array from via NumPy's API, that's not possible.

[2019-07-01 15:54] shoyer commented on #13831
Maybe np.copy_like? We would want to define carefully which properties
(e.g., including dtype or not) are copied from the other array.

On Mon, Jul 1, 2019 at 5:40 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-07-01 16:08] pentschev commented on #13831
`np.copy_like` sounds good too. I agree, we most likely should have ways to control things such as `dtype`.

Sorry for the beginner's question, but should something like `np.copy_like` be an amendment to NEP-22, should it be discussed in the mailing list, or what would be the most appropriate approach to that?

[2019-07-01 16:13] shoyer commented on #13877
I agree that it would make sense to reverse the aliases for `min`/`max`/`round`. Certainly these names are much more commonly used.

I agree that we can probably leave `absolute` as is.

[2019-07-01 16:23] shoyer commented on #13831
We don't really have strict rules about this, but I would lean towards putting `np.copy_like` and `np.duckarray` (or whatever we call it) together into a new NEP on coercing/creating duck arrays, one that is prescriptive like NEP 18 rather than "Informational" like NEP 22. It doesn't need to be long, most of the motivation is already clear from referencing NEP 18/22.

One note about `np.copy_like(

[2019-07-01 16:29] pentschev commented on #13831
Great, thanks for the info, and I agree with your dispatching proposal. I will work on an NEP for the implementation of both `np.duckarray` and `np.copy_like` and submit a draft PR this week for that.

[2019-07-01 16:33] shoyer commented on #13831
Awesome, thank you Peter!

On Mon, Jul 1, 2019 at 9:29 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-07-01 16:44] pentschev commented on #13831
My pleasure, and thanks a lot for the ideas and support with this work!

[2019-07-01 17:41] rgommers commented on #13831
The `array_like` and `copy_like` functions would be a little odd to have in the main namespace I think, since we can't have a default implementation (at least not one that would do the right think for cupy/dask/sparse/etc), right? They're only useful when overridden. Or am I missing a way to create arbitrary non-numpy array objects here?

[2019-07-01 17:47] shoyer commented on #13831
It's true, these would only really be useful if you want to support duck typing. But certainly `np.duckarray` and `np.copy_like` would work even if the arguments are only NumPy arrays -- they would just be equivalent to `np.array`/`np.copy`.

[2019-07-01 17:57] rgommers commented on #13831
All array implementations have a `copy` method right? Using that instead of `copy_like` should work, so why add a new function?

`array_like` I can see the need for, but we may want to discuss where to put it.

`np.duckarray` does make sense to me.

+1

[2019-07-01 18:24] pentschev commented on #13831
That's actually the case which I would like to have addressed with something like `np.copy_like`. I haven't tested, but probably `np.copy` already dispatches correctly if the array is non-NumPy.

Just to be clear, are you referring also to a function `np.array_like`? I intentionally avoided such a name because I thought it could be confusing to all existing references to `array_like`-arrays. Howev

[2019-07-01 18:38] rgommers commented on #13831
It should, it's decorated to support `__array_function__`.

Yes. And yes agree it can be confusing.

Yes that name implies a data copy.

I thought that that was `np.duckarray`.

[2019-07-01 18:40] jakirkham commented on #13831
I think [Peter's example above]( https://github.com/numpy/numpy/issues/13831#issuecomment-507247702 ) might help clarify this. Copied below and subbed in `np.copy_like` for simplicity.

[code]

[2019-07-01 18:50] pentschev commented on #13831
Actually, `np.duckarray` will basically do nothing and just return the array itself (if overriden), else return `np.asarray` (leading to a NumPy array). We can't get a CuPy array from a Python list with it, for example. We still need a function that can be dispatched to CuPy (or any other `like=` array) for an `array_like`.

Thanks @jakirkham for the updated example.

[2019-07-01 19:05] rgommers commented on #13831
So that will dispatch to CuPy via `a.__array_function__` and fail if that attribute doesn't exist (e.g. `a=<scipy.sparse matrix>` wouldn't work)? It feels like we need a new namespace or new interoperability utilities package for those kind of things. Either that or leave it to a more full-featured future dispatching mechanism where one could simple do:
[code]
Introducing new functions in the main

[2019-07-01 19:29] pentschev commented on #13831
I wouldn't say it has to fail necessarily. We could default to NumPy and raise a warning (or don't raise it at all), for example.

Certainly it would be nice to have a full-featured dispatching mechanism, but I imagine this wasn't done before due to its complexity and backwards compatibility issues? I wasn't around when discussions happened, so just guessing.

I certainly see your point, but I als

[2019-07-01 19:37] pentschev commented on #13831
Actually, in this sense, also `np.duckarray` wouldn't belong in the same namespace.

[2019-07-01 20:55] rgommers commented on #13831
I think that one is more defensible (analogous to `asarray` and it would basically check "does this meet our definition of a ndarray-like duck type"), but yes. If we also want to expose `array_function_dispatch`, and we have things `np.lib.mixins.NDArrayOperatorsMixin` and plan on writing more mixins, a sensible new submodule for all things interoperability related could make sense.

I think there

[2019-07-01 21:11] pentschev commented on #13831
No real objections from me, I think it's better to have functionality somewhere rather than nowhere. :)

But if we want to leverage `__array_function__` more broadly, do we have other alternatives now to implementing things like `np.duckarray` and `np.copy_like` (or whatever else we would decide to call it)? I'm open to all alternatives, but right now I don't see any, of course, rather than going

[2019-07-01 21:27] rgommers commented on #13831
I think you indeed need a set of utility features like that, to go from covering some fraction of use cases to >80% of use cases. I don't think there's a way around that. I just don't like cluttering up the main namespace, so propose to find a better place for those.

I mean, we're just plugging a few obvious holes here right? We're never going to cover all of the "more complex cases". Say you wan

[2019-07-01 21:34] jakirkham commented on #13831
The dispatch approach with uarray is certainly interesting. Though I'm still concerned about how we handle meta-arrays (like Dask, xarray, etc.). Please see [this comment]( https://github.com/scipy/scipy/issues/10204#issuecomment-496539536 ) for details. It's unclear this has been addressed (though please correct me if I've missed something). I'd be interested in working with others at SciPy to tr

[2019-07-01 21:40] rgommers commented on #13831
I think the changes of the last week resolve that, but not sure - let's leave that for another thread.

I'll be there, would be great to meet you in person.

[2019-07-01 21:47] shoyer commented on #13831
Maybe `np.coerce_like()` or `np.cast_like()` would be a better names than `copy_like`, so that it's clear that copies are not necessarily required. The desired functionality is indeed pretty similar to the `.cast()` method, except we want to convert array types as well as dtypes, and it should be a function rather than a protocol so it can be implemented by either argument.

[2019-07-01 23:15] peterbell10 commented on #13831
`uarray` has support for multiple backends so something like this should work
[code]
This could be done by having the meta-array call `ua.skip_backend` inside of its implementation, or if the meta-array's backend returns `NotImplemented` on type mismatch.

cc: @hameerabbasi

[2019-07-02 01:48] aaronpearlman opened #13888 "np.convolve running on max threads with numpy >= 1.14.6"
I am finding that running numpy.convolve with versions >= 1.14.6 automatically launches the job on all available CPUs/threads. Is this bug? This is not the behavior for numpy <= 1.14.5.

### Reproducing code example:

[code]

### Numpy/Python version information:

('1.14.6', '2.7.12 (default, Nov 12 2018, 14:36:49) \n[GCC 5.4.0 20160609]')

[2019-07-02 02:07] mattip opened #13889 "DOC, ENH: add new recfunctions to `__all__`"
PR #11526 added a number of new functions to `lib.recfunctions` but these are not automatically documented since they were not added to `__all__`.

Whoever fixes this should make sure the PR includes any needed fixes to the docstrings by running `runtests.py --refguide-check`

[2019-07-02 02:47] mattip commented on #13888
Kind of a duplicate of #11826.

`convolve` calls `correlate` which uses `dot` underneath to do the heavy lifting for large arrays. By default this will use a thread for each CPU. You may be interested in the [joblib/threadpoolctl](https://github.com/joblib/threadpoolctl) package which allows you to control this.

[2019-07-02 04:48] hameerabbasi commented on #13831
I’ll expand on this: As a general rule, for `dask.array`, anything with `da` would be written without a skip_backend. Anything with NumPy would need a skip_backend.

Or for `da` you can always skip dispatch and call your own implementation directly and have `skip_backend(dask.array)` everywhere.

[2019-07-02 04:58] hameerabbasi commented on #13831
As for dispatching functions that don’t have an array attached, like `ones`, `cast`, you would just set a backend and be done. Same for `np.errstate` and `np.dtype`. There’s an example covering `np.ufunc` in `unumpy`.

[2019-07-02 05:01] hameerabbasi commented on #13831
As for the original issue, `uarray` provides the `__ua_convert__` Protocol, which does exactly this. An alternative would be for backends to override `asarray` directly.

[2019-07-02 06:03] pentschev commented on #13831
Thanks for the heads up on `uarray`, @rgommers, @peterbell10, @hameerabbasi.

But as I see, you _must_ set the proper backend before launching computation, is that correct? One of the advantages of `__array_function__` is libraries can be entirely agnostic of other libraries, such as Dask doesn't need to know of the existence of CuPy, for example.

[2019-07-02 06:49] hameerabbasi commented on #13831
@pentschev This was the case until recently, when we added the ability to “register” a backend, but we recommend only NumPy (or a reference implementation) does this. Then users using Dask would need just a single set_backend.

[2019-07-02 07:07] pentschev commented on #13831
Got it, I guess this is what @rgommers mentioned in https://github.com/numpy/numpy/issues/13831#issuecomment-507432311, pointing to the backends in https://github.com/Quansight-Labs/uarray/tree/master/unumpy.

Sorry for so many questions, but what if some hypothetical application relies on various backends, for example, both NumPy and Sparse, where depending on the user input, maybe everything wil

[2019-07-02 07:10] hameerabbasi commented on #13831
So, for this case, you would ideally register NumPy, use a context manager for Sparse, and return `NotImplemented` from sparse when appropriate, which would make something fall-back to NumPy.

[2019-07-02 12:58] ogauthe opened #13891 "Feature request: fromstring to read complex array"
Hello,

[np.fromstring](https://docs.scipy.org/doc/numpy/reference/generated/numpy.fromstring.html) is not able to process complex data type. This would be useful to read from text input file. At least the documentation should mention that complex is not accepted as dtype.

### Reproducing code example:
[code]

### Error message:
[code]

In case someone else is interested, my workaround was
[code]

[2019-07-02 16:14] omeryounus commented on #2434
having hard time installing pandas in python2.7.16 using pip install -R requirements.txt

https://files.pythonhosted.org/packages/b2/4c/b6f966ac91c5670ba4ef0b0b5613b5379e3c7abdfad4e7b89a87d73bae13/pandas-0.24.2.tar.gz (11.8MB)
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-Wzn

[2019-07-02 18:28] mattip commented on #2434
Please share your `requirements.txt`

[2019-07-02 18:33] TomAugspurger opened #13894 "np.i0(pandas.Series) raises on 1.17.0rc1"
With the 1.17.0 release candidate, `np.i0(pandas.Series)` fails. I haven't had time to debug whether this is a bug in pandas or NumPy. It's possible https://github.com/numpy/numpy/pull/11233 is related.

### Reproducing code example:

[code]

### Error message:

that raises with

[code]

### Numpy/Python version information:

[code]

and pandas version 0.24.2.

with NumPy 1.16, that returns

[code

[2019-07-02 18:37] omeryounus commented on #2434
Requirement file contains:

flask==1.0.2
flask-jwt==0.3.2
flask-script==2.0.6
flask-scrypt==0.1.3.6
PyJWT<1.5.0
blinker==1.4
phonenumbers==8.9.12
flanker==0.9.0
bugsnag==3.4.3
pickledb==0.7.2
requests==2.19.1
python-dateutil==2.8.0
gunicorn==19.9.0
gevent==1.3.6
webargs==4.0.0
ply==3.10
bson==0.5.7
celery==4.2.1
redis==3.2.1
hiredis
numpy==1.16.4

Finally manage it to work keeping the numpy inside

[2019-07-02 18:53] mattip commented on #2434
Not connected to this issue which concerns using `install_requires` inside `setup.py`. Please open a new issue. Do you really need to install pandas from source? Why not `pip install pandas==0.24.2` ?

[2019-07-02 19:00] omeryounus commented on #2434
Yes I will open this issue in pandas library. However, the post that I mentioned earlier thats related to numPy since you can not install pandas directly numPy is properly installed on Python2.7 under docker env.
Why not pip install pandas==0.24.2 ? Because when I run it under docker it says.

Exception: Cython-generated file 'pandas/msgpack.c' not found.
Cython is required to compile pandas from

[2019-07-02 19:11] #13740 closed

[2019-07-03 01:33] mattip opened #13898 "BUG: shift with a negative number should fail"
xref gh-13739

A negative shift is undefined in C. Python raises a ValueError, numpy returns the undefined values. We should at least warn, and probably raise an Error.

[code]

[2019-07-03 02:41] mattip commented on #1626
I think this is about the separation of umath and multiarray. Since they are now combined,I will close this. Please reopen with a better description if I misunderstood.

[2019-07-03 02:41] #1626 closed

[2019-07-03 02:42] mattip commented on #1570
Closing, we no longer put anything into 'Libs'. Please reopen if I misunderstood.

[2019-07-03 02:42] #1570 closed

[2019-07-03 04:14] eric-wieser opened #13900 "Quickstart guide recommends np.set_printoptions(threshold=np.nan), which fails"
We should update [this guide](https://github.com/eric-wieser/numpy/blob/master/doc/source/user/quickstart.rst#printing-arrays) to use `sys.maxsize`.

@mattip, I'm correct in assuming you prefer that to np.inf?

[2019-07-03 15:33] mattip commented on #13900
yes, and it should be mentioned as the preferred `max` value in the [docstring](https://github.com/eric-wieser/numpy/blob/master/numpy/core/arrayprint.py#L106) as well

[2019-07-03 15:42] mattip commented on #1495
Still crashing on python3 + numpy 1.17, (replace StringIO with BytesIO)

[2019-07-03 16:35] #12982 closed

[2019-07-03 17:19] stestagg opened #13902 "Segfault passing b'\xff' into np.dtype (array underflow)"
### Reproduction

[code]

### Error message:

Segfault
[code]

### Analysis

If the object passed into :

https://github.com/numpy/numpy/blob/13de4d8f2b803b5775861c825a1ef29b2433f2c5/numpy/core/src/multiarray/descriptor.c#L1366

is a bytes object, then this branch is followed:

https://github.com/numpy/numpy/blob/13de4d8f2b803b5775861c825a1ef29b2433f2c5/numpy/core/src/multiarray/descriptor.c#L1467

[2019-07-03 17:53] seberg commented on #13902
Thanks, nice tracking down! Do you want to work on a PR to fix this?

[2019-07-03 18:03] mgbukov opened #13903 "np.einsum() gives wrong result"
`numpy.einsum()` seems to give a wrong result in a calculation where the final output should be a hermitian matrix.

An alternative, somewhat lower-level, calculation produces the correct result.

My suspicion is that there is a numerical instability going on somewhere.

### Reproducing code example:

The following data files are needed to run the code below:
[einsum_bug_vec.txt](https://github.co

[2019-07-03 18:30] mgbukov commented on #13903
not sure if it helps any further, but it looks like the following nested call of `np.einsum` does the job
[code]
but applying `einsum()` in the reverse order does not:
[code]

[2019-07-03 20:18] seberg commented on #13903
I think these are just numerical errors due to the iteration/operation order, if you check at the relative error:
[code]
it is very much within numerical precision for every single element in A and `A_einsum`. Happy to be convinced otherwise, or convinced that einsum can do something better here though.

[2019-07-03 20:39] stestagg commented on #13902
Thanks for the response.
I'll give it a go, the fix seems quite simple, any gotcha's you're aware of?

[2019-07-03 20:43] seberg commented on #13902
Cool, thanks, can't think of any right away, just that we need tests and that it would be cool if you can try to format your commits the way numpy usually does it.

[2019-07-03 21:46] SamKG opened #13906 "ctypes data address guaranteed to remain static?"
Is the memory address given by np.ndarray.ctypes.data guaranteed to remain the same? In other words, is it guaranteed to be safe to reference this memory address and read from the array?

[2019-07-04 00:39] eric-wieser commented on #13906
It's only guaranteed if you keep the array object alive. Using `.ctypes.data_as(ctypes.c_void_p)` will ensure that happens (at least, in newer versions of numpy)

[2019-07-04 06:34] RamsonN opened #13910 "Original error was: No module named 'numpy.core._multiarray_umath' - AWS Lambda Deployment Error"
Hi team,

I have installed numpy version through Anaconda for Python version of 3.6.

I installed numpy using pip method not conda method.

I am using Windows system.

I was running the code successfully in my local system by connecting using AWS and reading an object from S3 bucket of AWS.

However when I try to deploy the code in AWS Lambda service by zipping all the required packages for the co

[2019-07-04 10:37] bashtage opened #13911 "NumPY 1.17.0rc1 is available to Python 2.7"
I'm not sure if this is a PyPI limitation where availability depends on the most recent release, but 1.17.0rc1 is being made available to Python 2.7.

This is from an Azure run of statsmodels:

[code]

[2019-07-04 11:21] martmists opened #13912 "How to index an ndarray's dimension in C"
How would one get a view of a PyArrayObject* similar to the following python code?

[code]

I'm having trouble finding any reference to do this in C in both the documentation and the source code, could you give an example of how one would do this?

[2019-07-04 11:42] charris commented on #13911
That's interesting. Sounds like a PyPI problem, but maybe there is something more we need to configure.

[2019-07-04 14:57] DerDakon commented on #12638
Here is the updated report for 1.16.1. All tests with python2 pass.
_______________________________________________________________________________________________________________ TestF77ReturnCharacter.test_all[t0] ________________________________________________________________________________________________________________

self = <numpy.f2py.tests.test_return_character.TestF77ReturnCharacter

[2019-07-04 15:41] mattip commented on #13911
What command is azure running to cause this? It seems something like `pip install -r requirements.txt` ? When I do that in a clean virutalenv, I get numpy1.16.4

[code]

[2019-07-04 15:43] bashtage commented on #13911
Same, but requirements has

[code]

[2019-07-04 15:50] mattip commented on #13911
Can you somehow figure out what versions of python/pip/??? are involved? Without a reproducible isolated environment this is going to be hard to track down

[2019-07-04 15:56] mattip commented on #13912
This is not really an issue or feature request, it would be better to ask on StackOverflow or on the mailing list. When you ask there, please help us help you:
- what do you have so far?
- have you tried cython?
- what is missing or unclear from the  [api documentation](http://www.numpy.org/devdocs/reference/c-api.array.html)

[2019-07-04 16:03] bashtage commented on #13911
Python is 2.7.  pip is latest since line above is ` python -m pip install --upgrade pip`. Platform is Linux64

[2019-07-04 16:09] martmists commented on #13912
My email to the mailing list got rejected, what stackoverflow would be recommended?

[2019-07-04 18:03] mattip commented on #13912
numpy-discussion@python.org ? `numpy` and `python-c-api` might be good tags

[2019-07-04 18:47] eric-wieser opened #13915 "Crosslink between newbyteorder and byteswap"
It would be good to include an example somewhere showing that `arr.newbyteorder().byteswap()` produces an array with the same values but different representation in memory.

Related to gh-10372

[2019-07-04 19:23] martmists commented on #13912
Yup, that's the one.

A post has been created [here](https://stackoverflow.com/questions/56891546/iterating-over-ndarray-columns-in-c-c) for anyone having the same issue.

[2019-07-05 07:01] timcera opened #13917 "np.array returns 1970-01-01 instead of 'NaT'"
### Reproducing code example:
On my ARM Chromebook, running Debian 9.9 under Crouton I have a problem where the answer should be 'NaT', but I am getting '1970-01-01T00:00:00.000000000'.

[code]
Will print:

    array(['1970-01-01T00:00:00.000000001', '1970-01-01T00:00:00.000000002',
           '1970-01-01T00:00:00.000000000', '1970-01-01T00:00:00.000000000'],
          dtype='datetime64[ns]')

###

[2019-07-05 07:15] degasus opened #13918 "SWIG: numpy.i uses by default the DIM_TYPE int32"
Numpy gladly ships an interface file for SWIG, however, by default it only generates wrappers for 32 bit integers as the dimension type, which overflows after 2**31 elements:
https://github.com/numpy/numpy/blob/master/tools/swig/numpy.i#L3138

Even worse, the documentation suggests to use the 32 bit addressing: https://github.com/numpy/numpy/blob/master/tools/swig/README#L49

In my opinion, size_t

[2019-07-05 10:24] TimDumol commented on #13911
Here's a Dockerfile to replicate:

[code]

This is the output when building:

[code]

[2019-07-05 13:59] charris commented on #13917
Hmm, I don't see that here. Where did you get NumPy?

[2019-07-05 14:04] charris commented on #13917
I suppose there could be a logic problem with the NaT/NaN values on ARM.
[code]

[2019-07-05 14:05] charris commented on #13918
Maybe we could have two swig files.

[2019-07-05 14:53] rgommers commented on #13911
On Fri, Jul 5, 2019 at 3:24 AM Tim Joseph Dumol <notifications@github.com>
wrote:

There's no --pre in this, that should pick up numpy 1.16.x

Although weirdly gensim says in its setup.py that 1.16.1 is the latest
py2-compatible release:

#
# 1.11.3 is the oldest version of numpy that we support, for historical
reasons.
# 1.16.1 is the last numpy version to support Py2.
#
# Similarly, 4.6.4 is the

[2019-07-05 15:01] TimDumol commented on #13911
That's unreleased code, on gensim 3.7.3 (latest released), it's always:

[code]

Interestingly, installing gensim 3.7.3 seems to work, whereas installing gensim 2.1.0 doesn't, even though both have upper-bound-less numpy requirement strings.

[2019-07-05 15:29] seberg commented on #13917
I think we had that before, maybe never fixed, that on `np.nan` being cast to int is not well defined. On many platforms it happens to give `MIN_INT` so that it works out, but not on all.

[2019-07-05 15:53] rgommers commented on #13911
Hmm, that definitely points to a `pip` or `setuptools` bug.

Would be good to get some clarity on this before the final 1.17.0 release (but I'm not volunteering, no time in the next week, sorry).

`easy_install` is the common culprit. could be something as easy as differing `setuptools` versions, that would be an easy workaround.

[2019-07-05 16:06] gabrielecalvo opened #13919 "DOC: mention that nan in an interp input is invalid"
Possibly related to: https://github.com/numpy/numpy/issues/11439
When running np.interp with xp conatining NaN at the end the results seems to be "stuck" on NaN.

This is the correct behaviour that I'd expect:
[code]

But if I add another np.nan in the second arguments:
[code]

### Numpy/Python version information (tried both):
1.16.2 3.6.8 |Anaconda, Inc.| (default, Feb 21 2019, 18:30:04) [MSC v.

[2019-07-05 17:33] eric-wieser commented on #13919
I think this might be fixed in 1.17

[2019-07-05 17:53] seberg commented on #13919
I just checked, it is not. My best guess is that the binary search fails with `np.nan` in the keys.

[2019-07-05 18:12] seberg commented on #13906
Sounds like the question is answered, closing. Thanks Eric.

[2019-07-05 18:12] #13906 closed

[2019-07-05 18:27] #13894 closed

[2019-07-05 19:03] seberg commented on #13917
Ah, xref-8780

[2019-07-05 23:38] mattip commented on #5851
Closing, very small alpha values now give `nan` rather than an error, both in legacy and in the new random `Generator` code. Please reopen if I misunderstood.

[2019-07-05 23:38] #5851 closed

[2019-07-06 04:51] timcera commented on #13917
pip install numpy

[2019-07-06 04:57] timcera commented on #13917
Maybe related, however the same code above on a x86_64 machine...

    array(['1970-01-01T00:00:00.000000001', '1970-01-01T00:00:00.000000002',
                                     'NaT',                           'NaT'],
          dtype='datetime64[ns]')

[2019-07-06 17:18] seberg commented on #13917
Yes, sorry I xref'ed the wrong one, the correct duplicate is: gh-8325

[2019-07-06 20:47] shoyer opened #13924 "Contributing/pull request guidelines should clarify what's required for new features"
With some frequency, we get new contributors making pull requests to NumPy for feature enhancements / API changes.

It would be great to have something to point them to that to clarify:
1. If at all possible, NumPy prefers *not* to add new APIs, but rather to leave these to more specialized packages.
2. New features (certainly new functions) generally need to be discussed on the mailing list first

[2019-07-06 21:12] shoyer commented on #13872
I'm not sure I follow -- what domain check are you referring to?

I was contemplating new optional non-NumPy arguments, or especially cases where optional arguments have different semantics in NumPy vs another library. The later is probably not very common, but is not inconceivable.

@rgommers by the way, I saw your recent PyData Amsterdam talk on Youtube! Very nice, but one minor correction: you

[2019-07-06 21:47] rgommers commented on #13872
IIRC the one that ensures that `torch.sum(some_numpy_ndarray)` prevents dispatching to `np.sum` when `torch.sum` is decorated with `array_function_dispatch`. But I could be wrong - won't have time before SciPy to dig into this again. If this doesn't make sense, then never mind for now.

Thanks! Yes, I see you're right. It's a bit artificial though. `np.linspace(0, 10)` is the normal form and that

[2019-07-07 10:04] kritisingh1 commented on #12385
These functions look like internal helper functions, and in my opinion, do not need to be documented/ exposed to public. This issue is a couple PRs far from being closed so a general agreement would be a great help.
`'_add_newdoc_ufunc':` 'numpy.core._multiarray_umath._add_newdoc_ufunc',
'add_docstring': 'numpy.core._multiarray_umath.add_docstring',
'add_newdoc': 'numpy.core.function_base.add_newd

[2019-07-07 12:41] larsrinn opened #13927 "Can't install using Python 3.8.0b1 in Docker image (python:3.8.0b1)"
I'm trying to test 3.8 compatibility of some projects building upon docker images. While doing this, I realized installing numpy inside these containers fails. No idea what this really means, but I thought it should be reported.

### Reproducing code example:

#### Dockerfile

[code]

When trying to build this docker container (`docker build .` from within the folder of the `Dockerfile`), I get an

[2019-07-07 13:57] charris commented on #13927
You need NumPy cythonized with cython 0.29.11, try the 1.17.0rc1 instead. We don't really try to support new Python versions until the rc stage because it is a moving target and sometimes reverses direction.

[2019-07-07 14:55] mattip commented on #12385
agreed, no need to document them

[2019-07-07 15:03] 0x6f736f646f commented on #13927
try running
 `RUN apt-get update && apt-get upgrade`
before insalling

[2019-07-07 16:07] mhvk opened #13929 "False positives for warning about writing to broadcast array in cython code"
In astropy, we're [getting loads of `DeprecationWarning`](https://github.com/astropy/astropy/issues/8935) about possibly writing to a broadcast array from cythonized code. They all seem false positives, and may rather reflect something in `Cython` which I do not understand. But it can be reproduced with this trivial code below. For our particular case, I think this could be solved if one ensured t

[2019-07-07 16:30] charris commented on #13929
What cython version?

[2019-07-07 16:54] mhvk commented on #13929
For the astropy tests, `0.29.10`, for my tests, ` 0.29.2`.

I checked, and the code above still gives the deprecation warning for `0.29.12` (newest with `pip`)

[2019-07-07 17:35] charris commented on #13929
Hmm, hard to track, but it looks like cython is setting the buffer to writable.

[2019-07-07 17:42] charris commented on #13929
Or maybe just checking for writable.

`  __pyx_t_6 = __Pyx_PyObject_to_MemoryviewSlice_dc_nn___pyx_t_9broadcast_DTYPE_t(__pyx_t_2, PyBUF_WRITABLE); if (unlikely(!__pyx_t_6.memview)) __PYX_ERR(2, 22, __pyx_L1_error)
`

[2019-07-07 17:43] charris commented on #13929
So maybe a Cython bug, but probably not one we can track down for 1.17.0.

[2019-07-07 18:55] charris commented on #13929
Cython is requesting a writable buffer, and in this case I think NumPy should provide same. However, I wonder if cython handles read only arrays correctly?

[2019-07-07 19:06] charris commented on #13929
This fixes the example program
[code]

[2019-07-07 19:09] mhvk commented on #13929
Indeed, when I explicitly set `t.flags.writeable = False`, I get
[code]
so, you're right, cython expects its memoryview to be writeable.

Apparently, one should be able to avoid that in more recent `cython` (0.28) by explicitly declaring them `const` (https://github.com/cython/cython/pull/1869/files).

And this I can make to work, but only if I explicitly set my array as non-writeable (see below).

[2019-07-07 19:09] charris commented on #13929
More
[code]

[2019-07-07 19:17] charris commented on #13929
Making a copy also fixes the problem as claimed.
[code]

[2019-07-07 19:32] mhvk commented on #13929
@charris - your approach is simpler, but sort-of beats the point: I'm getting a warning that I may be writing, which is indeed dangerous, so I should not be just make the array `writeable`!

I think the problem occurs because `cython` checks whether the array is writeable even if that property is explicitly not needed. But of course it is not unreasonable to check! And since we emit the warning ba

[2019-07-07 19:52] mhvk commented on #13929
Actually, a simpler "solution" may be to add to the warning text that explicitly setting `WRITEABLE` to `False` can also be useful, if the subsequent code is simply checking whether an array is writeable, but not necessarily doing anything.

[2019-07-07 21:29] charris commented on #13929
@mhvk Looking at your fix, I wonder if a better route might be to just skip the deprecation warning and go straight to making the array non-writeable.

CC: @mattip @eric-wieser

[2019-07-07 21:51] seberg commented on #13929
Hmm, we could remove the warning from the flags, but then the deprecation warning is not too helpful, but I agree. If cython checks the flags upon conversion (and it must), then the whole deprecation may be tricky.  If you add the `const` in cython, cython in principle would not have to check the flags though? Is there any chance we can make that work (and maybe delay the deprecation for one relea

[2019-07-07 22:19] charris commented on #13929
@seberg The problem seems to be that we are using a flag that cython doesn't recognize. Cython still has to check the flags for other things (I think), so my sense is that we should skip the deprecation step. That will make the fix easier. Sometimes a clean cut is the least painful operation.

[2019-07-07 22:36] seberg commented on #13929
The actual problem here is our own code I think: https://github.com/numpy/numpy/blob/48efcc75f094329caf61c753827e76a3c19deff8/numpy/core/src/multiarray/buffer.c#L775-L783

If we change that "dubious" behaviour, the warning can be silenced using the `const` attribute in cython (which seems more or less correct).
The second thing is whether `t` in this example should not have a warning, since its sh

[2019-07-07 22:45] seberg commented on #13929
Ah, the buffer protocol cannot indicate readonly specifically (just request writeable). So I suppose we could simply return a readonly buffer right away when the user does not ask for writable specifically. That jumps the deprecation a little, but is likely fine. The only thing I find a bit annoying about it, is that without the deprecation, it might be a bit hard to see why an array is readonly,

[2019-07-07 22:52] seberg commented on #13929
So yeah, jumping the deprecation might be the best way and we can do that specific to the buffer protocol:

<details> <summary> Patch to jump deprecation for the buffer protocol: </summary>

[code]

</details>

I am not sure if that diff will force you to use the `const` specifiers, or if cython is doesn't request writeable unless it knows it will be written to or so.

[2019-07-07 23:07] eric-wieser commented on #13929
It's possible we should just rollback the warning on accessing the writeable attribute, it doesn't provide a huge amount of value, and sounds like with cython it comes with a high cost.

@seberg: IMO forcing cython to use const for read-only arrays would be a really good idea, if there's a way to make that happen

[2019-07-08 01:30] seberg commented on #13929
My patch works for me anyway (in the sense that either `const` or setting `arr.flags.writeable = False` is sufficient).  (although it segfaulted with `const` in cython cell magic, but I blame a cython/inline issue)

Cython does indeed force the `const` in this case (which also means it asks for writeable in all other cases). So: From the point of view of cython typed memoryviews (with new enough c

[2019-07-08 01:32] dcolascione opened #13934 "Why shouldn't all_null iterators be legal?"
Right now, numpy forbids the creation of an NpyIter with all-output operands. IMHO, it should just permit the creation of such an iterator as long as the iterator shape is specified. This kind of all-output iterator can occur as a special case in general code.

### Reproducing code example:

`np.nditer([None], itershape=(5,))`

### Error message:

ValueError: At least one iterator operand must be

[2019-07-08 03:15] eric-wieser commented on #13934
As a workaround, can you pass `np.empty((5,), dtype=[])` as a dummy operand?

[2019-07-08 05:32] eric-wieser commented on #13753
xref #9300?

[2019-07-08 06:07] eric-wieser commented on #13924
Also absent from our docs: the fact that tests need to be written to go with new features

[2019-07-08 13:52] mhvk commented on #13929
Thanks for looking into this! I like the possibility of just using `const` in cython.

[2019-07-08 14:54] larsoner opened #13938 "DOC: Generator not direct replacement for RandomState, missing randn"
[The 1.17 docs](https://www.numpy.org/devdocs/reference/random/index.html) say:

Based on this, I tried (effectively, in my code base) to replace the second line here with the third, but it does not work:
[code]
The same thing happens with the `default_rng` method.

Is it an oversight that `randn` is not included? If not (i.e., if it's intentional), then it should probably not say in the docs that

[2019-07-08 15:00] larsoner opened #13939 "BUG: Generator.randint returns None"
Moving on from #13938 and continuing to translate `RandomState` to `Generator` code, I hit another problem:
[code]
The RuntimeWarning is fine (though maybe it should be a PendingDeprecationWarning or DeprecationWarning?) but the `None` return is weird and not backward compatible.

[2019-07-08 15:56] charris commented on #13939
I don't think there *is* a `randint`. The `None` is because nothing happens except the warning. The new module is not intended to be backwards compatible, that's why it is new :)

[2019-07-08 15:59] charris commented on #13939
@bashtage Is it worth keeping randint around?

[2019-07-08 16:10] bashtage commented on #13939
I think randint is supposed to be gone. This said, the code in `Generator` is clearly wrong.

https://github.com/numpy/numpy/blob/master/numpy/random/generator.pyx#L511

It calls `integers` and then doesn't return the value.

@mattip  do you recall if `randint` was supposed to be removed completely to was to be left to help porting?

[2019-07-08 16:18] charris commented on #13939
We should also discuss #13938 here, as it is the same sort of problem. I think the question is whether we want the new module to be a drop in replacement. The downside of that is that we want folks to use the new functions instead of the old in some cases. Let's bring in @rkern to the discussion.

[2019-07-08 16:19] mattip commented on #13938
`randn` is a [convenience function](http://www.numpy.org/devdocs/reference/random/generated/numpy.random.mtrand.RandomState.randn.html), and will remain in the legacy module, but you should use [`standard_normal`](http://www.numpy.org/devdocs/reference/random/generated/numpy.random.Generator.standard_normal.html#numpy.random.Generator.standard_normal) going forward. I guess we could add a dummy fu

[2019-07-08 16:23] mattip commented on #13939
That is a bug, it should IMO return the value, or raise an error. I think the intention was to return the value.

[2019-07-08 16:24] larsoner commented on #13938
To me the "direct replacement" phrasing implies identical public API / functionality. I wouldn't call it a "direct replacement" in the docs if it's not intended to just drop in with no changes required to code.

This does seem like a good time to drop all of these convenience functions. So my vote would be not to call it a "direct replacement" in the docs, but rather just a "replacement with clean

[2019-07-08 16:25] bashtage commented on #13939
I would vote, in order:

1. Leave but raise with a message about the new function, remove in 1.18
2. Remove all together
3. Leave with explicit depreciation message that these will be removed very
soon (1.18) and return a value from the replacement function.

3 seems much worse than 1 or 2 though.

On Mon, Jul 8, 2019, 17:18 Charles Harris <notifications@github.com> wrote:

[2019-07-08 16:26] bashtage commented on #13939
This function also has no test coverage which is another suggestion that it
shouldn't return a value.

On Mon, Jul 8, 2019, 17:24 Kevin Sheppard <kevin.k.sheppard@gmail.com>
wrote:

[2019-07-08 16:35] katastrofa999 opened #13940 "Documentation for numpy.var and numpy.std is misleading"
Documentation in https://docs.scipy.org/doc/numpy/reference/generated/numpy.var.html#numpy.var contains this statement

It is not clear which mean is calculated using `N - ddof` instead of `N`, and the first part of the second sentence suggests (to me, at least) that it's the inner mean - which is not the case (and rightly so).

Suggested (IMHO clearer) rewording:

The same problem is present in t

[2019-07-08 16:35] eric-wieser commented on #13938
Perhaps we should just list the removed methods and their replacements. I'm thinking a table with the headings "convenience function", "underlying RandomState method", "new method" or similar.

[2019-07-08 16:44] mattip commented on #13940
I am not familiar with "inner mean" and "outer mean". The suggested text should indicate some definition for the terms, either a link or a mathematical formula, and should define `t` in terms of `x`

[2019-07-08 16:46] katastrofa999 commented on #13940
"Outer" means in this context the one less nested. Maybe another word is better?

t = abs(x - x.mean())**2

(NB, the `abs` is redundant here).

[2019-07-08 16:52] matthew-brett commented on #13940
I have also not heard the term 'inner' and 'outer' mean - I think that would be confusing.

[2019-07-08 16:54] katastrofa999 commented on #13940
How about:

The first mean is normally calculated as t.sum() / N, where N = len(x) and t = (x - x.mean())**2. If, however, ddof is specified, the divisor N - ddof is used instead.

(And get rid of the abs).

[2019-07-08 17:51] seberg commented on #13934
That seems a bit smarter then necessary on first sight? (i.e. why not a broadcasted array, with a reasonable default dtype).

In any case, I agree that if at least one dtype is passed in as well (so that dtypes can be inferred), there is no reason why it should not be valid. PRs welcome, the main difficulty is probably that some maintenance may be required to achieve it without making the code mor

[2019-07-08 18:00] seberg commented on #13929
I wonder if the we should add that `const` information into the warning. (Or maybe add it to the warning when the warning is issued from inside the buffer protocol). The only thing my code changes is that if you do not ask for a writeable buffer, we switch to a readonly buffer directly. Which is a change in behaviour, but maybe not bad enough to worry about it.

I can create a PR soon (although a

[2019-07-08 18:12] OlehOnyshchak opened #13941 "numpy.nper() with pmt=0 gives unexpected "divide by zero" warning"
### Reproducing code example:

[code]

### Error message:

numpy\lib\financial.py:308: RuntimeWarning: divide by zero encountered in long_scalars
  A = -(fv + pv)/(pmt+0)

### Numpy/Python version information:

1.16.4 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

[2019-07-08 20:43] rkern commented on #13939
With `rand`/`randn`/etc., it's easier to just leave them off, because there's a good way to write code that consumes either a `Generator` or `RandomState`; the current preferred methods are available on `RandomState` already. But there is no `RandomState.integers()` method, so you can't write libraries, like `scipy.stats`, that support both 1.16 and 1.17. That's not a great position to put downstr

[2019-07-08 20:52] seberg commented on #13939
Adding `RandomState.integers` seems the easiest solution to me (not `np.random.integers` of course). DeprecationWarnings that cannot be silenced easily are not really much of a solution for most libraries, so that it would not help them much for compatible code to have `randint` with warnings.

[2019-07-08 21:35] larsoner commented on #13939
I just ported over a bunch of code and I just ended up doing
[code]
It's an easy enough one-liner. I think if it's documented in the same place that says what the differences are (and the docs no longer claim to be a direct or drop-in replacement) then it's easy enough from a user perspective.

[2019-07-08 21:37] larsoner commented on #13939
I'm not sure how this helps end users much, so I don't see too much value. It does not seem to help write code that works with <= 1.16 RandomState and >= 1.17 Generator.

[2019-07-08 22:10] jbrockmendel opened #13942 "STY: avoid `import *` pattern"
Moving away from it would be a PITA since it is used a bunch, but this pattern makes it difficult for newcomers to see where things are defined.

[2019-07-08 22:31] seberg commented on #13939
@larsoner ah yes, sorry, you are right. Even if we backport it, it does not help much. I suppose your solution (or two code paths for the two objects) is the only way to get around it.

[2019-07-09 00:31] analoguenative commented on #9587
Has there been any resolution to this?  I am also using numpy version 1.12.1, about which I don't have a choice for now due to workplace restrictions.  I obtain the same behavior as in the example given.  If np.gradient is not available due to the ValueError, is there a next-best option?

[2019-07-09 00:36] rkern commented on #13939
Ah, duh. Yes.

[2019-07-09 02:16] eric-wieser commented on #9587
Works fine on 1.14.2:
[code]

[2019-07-09 02:19] eric-wieser commented on #9587
Works fine on 1.14:
[code]

[2019-07-09 02:19] #9587 closed

[2019-07-09 02:30] eric-wieser commented on #9587
Note that I use `cumsum` there since gradient expects an array of values, not an array of diffs, and taking a gradient where all the "x" values are 1 gives nan

[2019-07-09 02:34] eric-wieser commented on #13942
The new practice from @shoyer of overriding `__module__ = "numpy"` makes finding things even harder.

I find that with a mildly smart editor that is aware of function definitions, the problem you describe doesn't affect me much.

I'm not sure the effects of such a change are a net positive effect on maintainability, let alone if they're worth the transition cost.

[2019-07-09 02:37] rgommers commented on #13942
There's two things here:
1. `import *` by end users - if this is in our docs anywhere, we should fix it
2. `import *` internally in NumPy; this isn't really an issue. Even `??` in IPython will tell you exactly where things are defined. And locating things defined in C is way harder anyway.

[2019-07-09 03:39] eric-wieser commented on #13934
@seberg, is your comment aimed at my workaround or the original premise?

[2019-07-09 05:28] seberg commented on #13934
The too smart part at your workaround ;). Unless you are aiming for an empty dtype on the allocated arrays anyway.

[2019-07-09 05:29] mattip commented on #12385
@kritisingh1 could you comment on whether we can close #13214, and add a checklist here of what if anything remains to be done?

[2019-07-09 06:14] eric-wieser commented on #12385
`add_newdoc` is used extensively by scipy: https://github.com/scipy/scipy/search?q=add_newdoc&unscoped_q=add_newdoc

I think we should consider it public API.

[2019-07-09 06:20] kritisingh1 commented on #12385
Yes we can close #13214
As for the checklist, the following functions need to be documented /deprecated : -
- Tester
- FastCopyAndTranspose
- get_array_wrap
- int_asbuffer
- maximum_sctype
- recfromtxt
- recfromcsv
- safe_eval
- set_string_function
And in a separate PR, we can discuss about what to do with show_config since that function triggered a lot of discussion on how do we want to go about

[2019-07-09 11:48] bashtage commented on #13938
I think this phrase is just a left-over from when it was a drop-in.  The API has been since cleaned up and so this should be rephrased to something like a `near drop-in replacement [changes]_` with `.. [changes] The API has been simplified and redundant and convenience functions have been removed. See the [list of changes]_ `

[2019-07-09 12:31] leeyspaul commented on #13915
Hello! Happy to take this up. @eric-wieser

[2019-07-09 14:01] sameshl commented on #13900
@mattip Can you help me figure out why the tests on my PR are failing, I have just updated the documentation and docstrings.

[2019-07-09 14:11] anntzer commented on #8576
Looks like this was closed by #12915, thanks all :)

[2019-07-09 14:11] #8576 closed

[2019-07-09 14:16] seberg commented on #8858
I will close this, since in mater now, they are not relevant anymore.

[2019-07-09 14:16] #8858 closed

[2019-07-09 15:33] seberg opened #13951 "Remove UFUNC_CHECK_STATUS and UFUNC_CHECK_ERROR"
Code search suggests that  UFUNC_CHECK_STATUS and UFUNC_CHECK_ERROR are only found within ancient versions numpy. They are even documented to be internal (or deprecated). I think we should go for simply removing them. If someone really uses them, let them copy the macros into their own code.

[2019-07-09 16:12] sameshl commented on #13900
@mattip Can you review my PR https://github.com/numpy/numpy/pull/13948

[2019-07-09 16:17] rgommers commented on #12385
Good catch, thanks. I just remembered SciPy had its own, but we use the NumPy one as well. So yes, public it is ....

It would be nice to improve the `add_newdoc` docstring a little if we're adding it to the refguide.

[2019-07-09 16:29] dlong11 commented on #13051
I am seeing this null pointer reference on Windows 10 with version 1.16.3 and 1.16.4. (python 3.6 64-bit)

Simple example
[code]

Exception thrown at 0x00007FFAE7C1DC19 (_multiarray_umath.cp36-win_amd64.pyd) in test.exe: 0xC0000005: Access violation writing location 0x000000000000000A. occurred

[2019-07-09 16:31] eric-wieser commented on #12385
Done in gh-13946

[2019-07-09 16:38] RoyLarson opened #13953 "IRR calculates same irr if the cash flow signs are flipped"
I am using numpy 1.16.2 installed through Conda, and I found that if I take the negative of the cash flows I end up with the same value
[code]
The first and second print statements print
0.20541421256305714
The third prints
True

[2019-07-09 16:39] eric-wieser commented on #13051
@dlong11: your problem is a different one, reimporting numpy multiple times in different embedded interpreters is not supported. You'll likely find other issues about that.

[2019-07-09 18:41] RoyLarson commented on #13953
Found out this is correct and my understanding what is happening in the math was incorrect

[2019-07-09 18:41] #13953 closed

[2019-07-09 19:06] #13900 closed

[2019-07-09 20:44] euronion commented on #13862
Johannes Hampp
johannes.hampp@zeu.uni-giessen.de

[2019-07-10 07:10] RichardEdye commented on #13051
But that's indeed the problem that I also have. The newer Numpy versions don't give the error message anymore, but they run only once and crash on the second run. I must then close the application and open it again. Seems Numpy does not do a clean exit or does not release some allocated resource.

Where can I find information about it? Shall I open a second issue?

[2019-07-10 07:54] david-cortes opened #13954 "Cannot apply numpy functions to large integers"
**Steps to reproduce:**
* Assign a large integer above the limit for C `long` to a Python variable.
* Try to perform some scalar operation from numpy functions on that, e.g.
[code]

**Expected behavior:** should cast it to the required type and output an answer.

**Actual behavior:** does not cast it, throws instead
[code]

Code works fine if it's converted to Python float beforehand:
[code]

[2019-07-10 08:05] TheBB opened #13955 "Some functions do not accept scalar Decimal input"
There are some functions that fail when passed `Decimal` objects as scalar inputs. I'm not particularly interested in using Decimal arrays, for obvious reasons, but the lack of scalar support limits our ability (see https://github.com/Turbo87/utm/issues/40) to use numpy as a 'better' math module in a certain sense. I'm not sure if you would consider this a bug or not. Certainly we can work around

[2019-07-10 08:52] refraction-ray opened #13956 "ENH: use OpenBLAS64 bit interfaces"
### Reproducing code example:

See [this gist](https://gist.github.com/refraction-ray/f114249a6014508c12e088dfbbc8bba4) for reproducing codes and system version information.

Basically, I used intelpython3, whose python and numpy are shipped with intel parallel studio xe 2019.3. Numpy version is 1.16.1.

For symmetric matrix with dimension larger or equal than 32767, `np.linalg.eigh()` returns wro

[2019-07-10 11:31] oulenz commented on #8708
Correct me if I'm missing something, but while what you say is true in case you want the behaviour of `keepdim = True`, what if you want the behaviour of `keepdim = False`? Having to expand and reduce the dimensions just to recover `min` and `max` from `argmin` and `argmax` is still quite cumbersome.

It seems to me it should be possible to modify `take_along_axis` to do this automatically if `ai`

[2019-07-10 13:54] Henry9099 opened #13957 "No module named _multiarray_umath"
### Reproducing code example:

import numpy

### Error message:
Traceback (most recent call last):
  File "H:\Python\BBGData\v2\test.py", line 34, in <module>
    import numpy
  File "C:\Users\henry.thomas\AppData\Local\Continuum\anaconda3\Lib\site-packages\numpy\__init__.py", line 142, in <module>
    from . import core
  File "C:\Users\henry.thomas\AppData\Local\Continuum\anaconda3\Lib\site-pack

[2019-07-10 14:18] mattip commented on #13957
If you installed from anaconda, you should stick with conda as your package manager and not pip. `conda install numpy` or `conda update numpy` from an anaconda command prompt

[2019-07-10 14:21] Henry9099 commented on #13957
It running correctly in Anaconda....i'm trying to then run in my text editor (sublime) and that's when I get the issue. Also won't run in IDLE

[2019-07-10 14:38] refraction-ray commented on #13956
Also tested on pip installed numpy(1.16.3) with python(3.6.5) on Ubuntu 18.04 server. Similar issue happened.

[code]

For symmetric matrix `m` with dimension no less than 32767, `np.linalg.eigh(m)` fails with the error
[code]
When one try the line `np.linalg.eigh(m)` for the second time, python exit with `Segmentation fault (core dumped)` error.
Though `np.linalg.eigvalsh(m)` behaves correctly.

[2019-07-10 14:39] mattip commented on #13955
`np.sin` will defer to the `Decimal.sin` method in this case, which does not exist. How do you propose the calculation be handled?

[2019-07-10 15:03] Henry9099 commented on #13957
Not sure how to fix this...but I just installed spyder from Anaconda Navigator which will work fine. Thanks for your help @mattip

[2019-07-10 15:26] mhvk opened #13958 "Regression: Change in behaviour for `np.array()` on class that defines __array__"
An issue has been raised for numpy 1.17rc in astropy (https://github.com/astropy/astropy/issues/8976), which after a bit of digging boils down to the change below in bahaviour for classes that define `__array__` as well as a `__len__` and `__getitem__`. I must admit I think the behaviour in both cases is strange, as it doesn't simply use `__array__` but rather seems to iterate, but the behaviour i

[2019-07-10 15:36] seberg commented on #13955
This is an issue that comes up (for good reason) once in a while and certainly a duplicate. It is unlikely that we change something about this at this time. Because in my opinion the solution here is to make it easy to create a `Decimal` dtype (which just uses the python objects, but knows how to call certain functions on Decimals).

OTOH, I am not even sure decimals know how to do `sin`, so you s

[2019-07-10 16:19] sameshl commented on #13954
@mattip I would love to take this up. But I was having trouble finding where function log10 is implemented. Can you please help me out on how I should solve this issue.

Thanks!

[2019-07-10 16:40] seberg commented on #13958
Hmm, we new switch between using the array interface (for filling the array) and using the iteration only for discovery of dimension, that must be the issue, we will have to see how much we have to revert for compatibility in this regard.

[2019-07-10 16:44] seberg commented on #13954
@sameshl it automatically calls the `log10` attribute. (the new versions have a bit better error). The issue here is more that there would have to be a decision about trying to do this. And I have to admit: Unless we first type the array as a `python integer` (instead of any python `object`), I may need some convincing that this is a good idea to discover the python int and cast it silently.

[2019-07-10 17:02] pahirschberg opened #13960 "Removing rows with nan"
I'm trying to learn phython/ML by doing...
Am using numpy and starting by reading in a csv file using genfromtxt.  File has data like following:

8665530 | 1/1/1920 0:00 | NaN | 0.233 | NaN | NaN
8665530 | 1/1/1920 1:00 | NaN | -0.024 | NaN | NaN
.
.
.
8665530 | 1/31/2019 1:00 | 0.556 | 0.677 | 0.778  | 1

Next, I convert datetime group to datetime64.  This all seems to work.  Output is:

(numpy.d

[2019-07-10 17:27] mhvk commented on #13958
My expectation would have been that `__array__()` is called before anything else (if it is present), and that any checks on length are done on whatever it returns. But that expectation is broken both in the old and the new versions...

But perhaps if we break things, we might as well try to make it more logical?

[2019-07-10 17:31] sameshl commented on #13954
So, if I understand you correctly: you want to go ahead with the idea of discovering and typecasting to int only when the user has explicitly typed array as python integer?

If this, then how do you suggest we handle this issue?

[2019-07-10 18:32] seberg commented on #13954
@sameshl yes, and that is currently not possible and something we want to spend a lot of effort on in the near future. But basically, that depends on other very large changes.

[2019-07-10 18:46] mattip commented on #13958
The [documentation for `__array__`](http://www.numpy.org/devdocs/reference/arrays.classes.html#numpy.class.__array__) is a bit silent on this, it only says

So the interaction with non-`ufunc` things like `concatenate` might need to be addressed in documentation

[2019-07-10 20:19] mhvk commented on #13958
The documentation for `np.array` itself does mention `__array__` as well:
[code]
This suggests `__array__` would be tried first, before looking at whether the class is iterable. And that is also what happens for a straight `np.array(rec1)`, just not if the classes are inside a `list` - which admittedly is a trickier situation.

[2019-07-10 20:22] mhvk commented on #13958
Just for reference, just passing in arrays directly is still consistent between versions:
[code]
But neither 1.16 nor 1.17 reproduces the second example.

[2019-07-10 21:04] colinsnyder commented on #13889
Hello,

I am a new contributor and would like to help on this issue.

To clarify, I am simply adding the four new functions mentioned in #11526 to __all__ , then checking for fixes to the docstrings? Thanks.

[2019-07-10 23:39] colinsnyder commented on #13889
#13964

I believe that this PR fixes both __all__ and the docstrings.

Thank you.

[2019-07-11 00:48] sameshl commented on #13954
@seberg I see. This would be a very large change indeed.
I guess we then could close this issue?

[2019-07-11 01:56] dlong11 commented on #13051
@eric-wieser Thanks for the info.  That stinks.  ☹️  Is this something that "NumPy" cares about?  Looking for volunteers?   Being able tp restart the interpreter is pretty important when embedding python.

[2019-07-11 02:10] eric-wieser commented on #13051
Historically, numpy doesn't care enough about it to spend any time worrying about it, but patches welcome.

Personally, I'm not at all sure what fixing it would entail - at a guess, we'd need to ensure we drop every PyObject reference at shutdown, which includes ones stored in function-static variables?

This might be easier to fix now that master tracks python 3.5 and onward than it was when I la

[2019-07-11 07:42] ritzvik opened #13965 "Feature Request: Support indices raising and lowering in N-dimensional numpy arrays"
Indices raising and lowering are a very crucial part of differential geometry and particularly important in relativistic physics.

See https://en.wikipedia.org/wiki/Raising_and_lowering_indices

Example :
  - A 4D tensor can have index configuration `ulll`, and can be changed to `lulu` with the help of a metric tensor, here `u` denotes upper index and `l` denotes lower index.

### Reproducing code

[2019-07-11 07:55] eric-wieser commented on #13965
If I understand that function, the implementation is:
[code]

You might find it's better to make an `ndarray` subclass that keeps track of the lower/upper-ness of the axes

[2019-07-11 08:03] ritzvik commented on #13965
Yes `moveaxis` is required, and it also requires `tensorproduct` and `tensorcontraction` which is provided `einsum` in `np`, I guess. I couldn't understand the `@ metric` thing. Sorry for the trouble!

See https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/symbolic/tensor.py#L29-L63 . And because of change to any arbitrary configuration, it may require a series of `tensorproduct`s

[2019-07-11 08:08] eric-wieser commented on #13965
`@` here is matrix multiplication, which I believe subsumes contraction and product for the cases that matter here - assuming that a metric tensor is always 2D, which your links seem to suggest is so.

I'm not sure this is a good fit for numpy - on the one hand, we don't really have a true concept of tensors - but on the other, we do provide `einsum` and `tensordot`...

[2019-07-11 08:48] ritzvik commented on #13965
`@` or `matmul` is not suitable for this as sum over any arbitrary index may be required. I saw that `tensordot` does the work of both `tensorproduct` and `contraction` combined, but still we need to permute the indices after doing `tensordot` using `moveaxis` that too a number of times to take into account the multiple number of raising and lowering that could be done in one change. I was saying

[2019-07-11 12:09] david-cortes commented on #13954
Another funny issue which is probably caused by the same mechanism:
[code]
[code]

[2019-07-11 13:45] AlexJohnson1995 opened #13966 "Cov function"
Where can I find the definition of cov function? I could not find it among the files. Could you please tell at which file is it defined?

[2019-07-11 14:23] seberg commented on #13954
Yes, it is the same issue. We have older issues for it, I am not completely against being smarter here, but my tendency is to not really touch it by trying to make it work for `object`. Lets discuss a bit, but may close soon if the discussion does not continue.

[2019-07-11 14:23] mattip commented on #13966
From the 1.17 beta release
[code]
or on python2

[code]
If the function is defined in C (part of a c-extension) finding the code is a little more involved

Closing, please reopen if needed

[2019-07-11 14:23] #13966 closed

[2019-07-11 14:24] seberg commented on #13960
There are functions such as `np.isnan` and `np.isfinite`, although I think you probably should be using pandas tools, which has things along dropNA I believe.

[2019-07-11 14:24] #13960 closed

[2019-07-11 14:50] seberg commented on #13956
@mattip do you have a simple setup where you can test it with BLIS or maybe MKL to see if this is numpy or openblas? Otherwise, I guess I will try to remember to test it on our new machine.

[2019-07-11 17:56] UchihaSR commented on #13824
i would like to take this issue

[2019-07-11 18:07] mattip commented on #13824
@UchihaSR work is progressing on #13854, if you can test the code there with a QNX system that would be helpful

[2019-07-12 06:49] BharathVittal opened #13969 "ufunc 'bitwise_or' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''"
[code]
​

[2019-07-12 14:22] mattip commented on #13969
Are you sure you wanted to do a [bit-wise `or`](https://stackoverflow.com/questions/3845018/boolean-operators-vs-bitwise-operators) and not a logical one: `df2[df2>400] or df2[df2>400]

[2019-07-12 14:58] seberg commented on #10089
@jamesredwards a bit randomly saw this issue. Do you know if this is still an issue for you? Otherwise, I may close it soon, because we really need a bit more information to track it down and for all I know it may already be fixed.

[2019-07-12 15:02] seberg commented on #13112
The deprecation is ongoing and in 1.17 now, so I think I will close tihs issue.

[2019-07-12 15:02] #13112 closed

[2019-07-12 15:37] gussmith23 commented on #13154
For what it's worth: I had this exact issue, and this fix worked for me. Thanks all!

[2019-07-12 15:59] mattip commented on #13154
Thanks @gussmith23 for the confirmation that the fix works. Closing.

[2019-07-12 15:59] #13154 closed

[2019-07-12 20:16] rgommers commented on #13844
@danielballan is planning to work on this at the sprint tomorrow (thank you!). If anyone else has updates or relevant docs, please comment in the next 20 hours or so.

Two other write-ups that may be useful:
- Adoption of `__array_function/ufunc__` protocol by PyTorch design proposal/discussion: https://github.com/pytorch/pytorch/issues/22402
- http://blog.christianperone.com/2019/07/numpy-dispatc

[2019-07-12 22:50] danielballan commented on #13844
Thanks for the references, @rgommers.

[2019-07-13 03:15] 408881465 commented on #9047
I have the same problem  on Raspberry Pi 3B.

It looks like there may be a missing dependency somewhere. Try installing libatlas3-base to get that file.
sudo apt-get install libatlas3-base

[2019-07-13 12:42] dmitriz commented on #12939
I have just ran into this issue on Mac OSX 10.8.5 and installing `numpy 1.15` still seems to work, which is a more recent version than the `1.14` recommended above:

[code]

- I had to `sudo` the uninstall to avoid permission errors.
- For the install I could use the `--user` option instead.

Then it worked without errors:

[code]

[2019-07-13 12:44] dmitriz commented on #12947
The more recent `numpy 1.15` seems to work as well: https://github.com/numpy/numpy/issues/12939#issuecomment-511119279

[2019-07-13 16:43] david-cortes opened #13973 "Value of zero in array with dtype C char evaluates to 'True'"
**Steps to reproduce:**
* Create an array of booleans represented as integers or some other type with something that can be evaluated to Python `False`.
* Convert said array to C `char`.
* Interpret any of those values as boolean.

**Expected behavior:** values corresponding to zero should be taken as `False`.

**Actual behavior:** all values are taken as `True`.

Example
[code]

[2019-07-13 17:04] mattip opened #13974 "DEP: finish deprecating redonly result from numpy.broadcast_arrays"
PR gh-12609 started a deprecation cycle to return read-only results from `numpy.broadcast_arrays`. In issue gh-13929 there was discussion of finishing the deprecation cycle immediately in the 1.17.0 release. This would require undoing all of gh-12609 and simply using the existing `readonly` kwarg when calling `_broadcast_to`

This idea should  hit the mailing list

[2019-07-13 19:40] zjpoh commented on #13919
We get the above behavior because the binary search algorithm gets a guess index as input based on the previously found index. The previously found value is NaN, causing all the boolean conditions in the binary search algorithm to return false.

We can solve this with a couple different ways.
1. We can make sure that the guess index does not get updated when the found value is NaN so that the gues

[2019-07-13 19:55] eric-wieser commented on #13919
Worth noting that interp requires it's input to be sorted, which implies it cannot contain nan

[2019-07-13 23:00] rgommers commented on #13580
@seberg and I just discussed this: the expected speedup from moving `asarray` to C is almost 2x, and `asarray` can be a performance bottleneck on real-world code bases because it's called so often. It may also give a nice speedup on test suites.

[2019-07-14 01:19] Des-Nerger opened #13981 "couldn't install 1.16.4 using 'sudo -H pip3 install numpy'"
Edit (mattip): `sudo -H pip3 install numpy` fails

Sorry, right now I have no specifics about what of the errors in the log are aborting my installation, so I'll just post the log. Hope someone will help to make this issue clearer.
[numpy_install.log](https://github.com/numpy/numpy/files/3389366/numpy_install.log)

[2019-07-14 02:03] histed opened #13983 "np.savez() and np.savez_compressed() don't support allow_pickle=False"
numpy.save() has an allow_pickle() option
numpy.savez() and savez_compressed() do not.

See allow_pickle=True in _savez()
https://github.com/numpy/numpy/blob/aa1955f0a9d79c94aa067b1cbb147fb8523c819f/numpy/lib/npyio.py#L707

Feature request.

[2019-07-14 03:24] charris commented on #13981
Hmm, my guess is a permissions problem, maybe originating in distutils. The log doesn't have much information about the error.

[2019-07-14 03:38] #13526 closed

[2019-07-14 05:16] mattip commented on #13981
Is there a reason you are using `sudo -H pip3 install numpy` and not `pip install --user numpy`? If this succeeds, it will mess up your system package manager (apt or yum) and is considered bad practice.

[2019-07-14 10:49] Kai-Striega opened #13986 "Spelling error in npy_tempita "delimeters" kwarg"
The ``Template`` object's kwarg ``delimeters`` -> ``delimiters`` in the init function and several other places.

For example see line 108:
https://github.com/numpy/numpy/blob/e55bcb2f2c40852be7d9f0e6e262c332dd2b277d/tools/npy_tempita/__init__.py#L106-L109

The full list of occurences:
[code]

[2019-07-14 11:24] carloacerbi opened #13987 "error in documentation numpy.matmul"
the line

in https://docs.scipy.org/doc/numpy/reference/generated/numpy.matmul.html

should be replaced with

regards

[2019-07-14 12:49] yarki commented on #8710
Folks, below is the workaround I'm currently using. Please reply if you see a better way to preserve original dimensions. Thanks.

[code]

[2019-07-14 12:54] charris commented on #13986
Hmm, this is a vendored file. I *think* it would be OK to change a keyword, NumPy doesn't seem to use it and `tools` is pretty much a private set of files.

[2019-07-14 14:20] mattip commented on #13986
We use it in the vendored `tools/cythonize.py` which is called in `./setup.py` for the `numpy.random` cython files. I wonder if we could just use the non-vendored version of cythonize these days

[2019-07-14 14:44] charris commented on #13986
Don't know. Tempita is vendored because it needed fixes, some of which I sent upstream. I don't think Cython guarantees that it will be present, it is an internal Cython tool.

The question I had was if the misspelled keyword was used, it isn't, so we could change it if we want to, The [original](https://github.com/gjhiggins/tempita) is inactive. But unless we want to also provide documentation, i

[2019-07-14 15:34] Des-Nerger commented on #13981
Ok, now I know what it was.
From the log:
[code]
So I tried to just run `x86_64-linux-gnu-gcc-ar`:
[code]
Apparently, I didn't have symlink for x86_64-linux-gnu-gcc-ar.
My distro is Debian-based and the current update-alternatives config for gcc was:
[code]
so I just added `--slave /usr/bin/x86_64-linux-gnu-gcc-ar x86_64-linux-gnu-gcc-ar /usr/bin/x86_64-linux-gnu-gcc-ar-8` to it. After that, numpy

[2019-07-14 15:37] charris commented on #13981
@Des-Nerger Thanks for the followup.

[2019-07-14 15:37] #13981 closed

[2019-07-14 16:05] Teque5 commented on #10866
This same behavior is observed with the `lzma` module.

[2019-07-14 18:09] charris commented on #13902
Closed by #13907.

[2019-07-14 18:09] #13902 closed

[2019-07-14 18:58] seberg commented on #13987
@carloacerbi do you want to make a PR with the change?

[2019-07-14 20:16] RosterIn commented on #2449
What is the status of this?

[2019-07-14 20:46] Nanonumpy commented on #5663
It looks like this issue has been handled and should be closed.   Is there something more that needs to be done?

[2019-07-14 20:51] mattip commented on #5663
Closing

[2019-07-14 20:51] #5663 closed

[2019-07-14 21:06] carloacerbi commented on #13987
I am new to this. With pleasure. What should I do?

[2019-07-14 21:19] eric-wieser commented on #2449
gh-13739 is the most recent proposed fix

[2019-07-14 21:25] #13957 closed

[2019-07-14 21:25] #13954 closed

[2019-07-14 21:29] mattip commented on #13911
@bashtage could you update setuptools (or report the version in play when this fails)?

[2019-07-14 21:32] #13844 closed

[2019-07-14 21:38] mattip commented on #13822
This is the OSX10.6.8 from 2011? It is going to be difficult for us to replicate the problem enough to fix it.

`ImportError: dynamic module does not define module export function` implies something changed with the runtime loader, perhaps we are not targetting this version any more?

[2019-07-14 21:46] robieta opened #14000 "Calling np.array or np.asarray on a tensorflow Tensor returns a Tensor rather than an ndarray"
### Reproducing code example:

[gist](https://colab.sandbox.google.com/gist/robieta/977b634f642d910c503c841e2b5d300e/tf_tensor_asarray.ipynb#scrollTo=wM1-z7lMFbQc)

[code]

### Error message:

Either no error or `ValueError: setting an array element with a sequence.`. (Full details and stack trace in the linked gist.) Converting a tensorflow Tensor to a numpy array does not make sense, so any atte

[2019-07-14 21:52] seberg commented on #14000
@robieta I do not have tensorflow installed right now. Did you have a place to just try it out online? And if not, what does `x.__array__()` give you, or is `x.__array_interface__` defined?

[2019-07-14 22:00] robieta commented on #14000
[Google colab](https://colab.research.google.com) comes with TensorFlow installed and also allows `! pip <stuff>`, so you should be able to adjust your environment as needed. It's free but requires a google account. Will that work for you?

[2019-07-14 22:14] rkern commented on #14000
It's not returning a `Tensor`. It's returning a rank-0 `ndarray` of `dtype=object`, like it usually does when given an object that numpy doesn't know about (i.e. not an int, float, str, or sequence of same). The `__str__()` that you are `print()`ing hides this.

[code]

[2019-07-14 22:19] seberg commented on #14000
I think the only problem is that we give the wrong error, because we assume the only reasonable reason for an error in that place is that there is a sequence.

The fact that it cannot work, is that Tensorflow does not even attempt to making it work.

[2019-07-14 22:25] amueller commented on #14000
Ah, I was misinterpretting what ``np.array`` does here because I was fooled by the ``__repr__``.
@robieta that means making ``__array__`` raise an error is probably the right solution.
@seberg does it seem reasonable to define ``__array__`` and have it raise an error if we want to avoid the singleton object array thing, which will basically never make sense?

[2019-07-14 22:25] seberg commented on #14000
@robieta quite frankly, on my debian, it does not ust pip3 install... In any case, I think the only thing to do here is to chain the exceptions to be a tiny bit clearer, because I expect that Tensors act a bit like being a sequence (on the C-side).

[code]

[2019-07-14 22:56] tylerjereddy opened #14003 "MAINT, TST: bump OpenBLAS for exotic archs"
Mostly a reminder to myself to rebuild and generate new link for OpenBLAS binaries on gcc compile farm ppc64le and ARMv8 architectures -- as noted in #14002, currently using `0.3.5` instead of `0.3.7.dev` on those platforms vs. more conventional platforms in our CI.

[2019-07-14 22:58] robieta commented on #14000
Sounds good. Thanks everyone for your help.

[2019-07-14 22:58] #14000 closed

[2019-07-14 23:11] seberg commented on #14000
I created pr gh-14004, which might clarify the error a bit (there is an example for my patch as well)

[2019-07-15 01:59] Kai-Striega commented on #13986
I've done a quick survey. "npy_tempita" doesn't appear in any other public Github, Bitbucket or  Google search. If it is used, I suspect the chance of anyone Googling it is pretty low.

Should deprecate ``delimeters`` in favor of ``delimiters``? That will give anyone with private repos a chance to adjust their code if needed.

[2019-07-15 02:18] refraction-ray commented on #13956
I have identified the issue, it turns out to be an old issue related with 32bit int interface of lapack. See https://github.com/numpy/numpy/issues/5906#issue-79209375. If I am understanding right, this issue is still here in numpy lapack-lite interface implementation. (The 4 bit int input parameter `lwork` strongly limited the possible range of the length of work space and thus the matrix dimensio

[2019-07-15 02:56] charris commented on #13986
I'm not worried about other users, I meant folks who google for user documentation. However, now that I check (https://pyrocore.readthedocs.io/en/latest/tempita.html), the documentation uses `delimiters` :) So does the original code (https://bitbucket.org/ianb/tempita/src/default/tempita/__init__.py). Looks like someone "fixed" that. So let's unfix the fix.

[2019-07-15 03:09] charris commented on #13956
Yep. I was discussing this yesterday. I think we should open an issue so we could optionally use libraries compiled with 64 bit integers. They aren't common yet, so it should be a keyword and there needs to some way of checking what the libraries use, but the time is coming, if not already past, when 32 bits will no longer serve.

@eric-wieser Is it possible to compile the current fallback library

[2019-07-15 06:09] addy1997 opened #14006 "np.matrix doesn't return a matrix wit full brackets"
### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:

[2019-07-15 06:10] addy1997 commented on #14006
this is the main issue when trying to multiply two matrices.

[2019-07-15 06:41] rkern commented on #14006
Did you mean `np.matrix([1, 2, 3])` instead?

[2019-07-15 06:57] addy1997 commented on #14006
Yes

On Mon, Jul 15, 2019, 12:12 PM Robert Kern <notifications@github.com> wrote:

[2019-07-15 07:45] eric-wieser commented on #13986
This was actually reported (and fixed) upstream in https://bitbucket.org/ianb/tempita/issues/7/misspelling-of-delimiters-in.

Perhaps we should re-vendor tempita from the latest version.

[2019-07-15 08:35] Flyfoxs opened #14007 "float32 should include the scope of int32"
### If DF both have np.int32 and np.float32, when convert it to numpy, it should get numpy with float32, since which already include int32. Don't understand why it get float64. It will cost more memory.

[code]

### Error message:

### It's incorrect if the return is float64, since float32 is enough

[2019-07-15 09:02] matthew-brett commented on #14007
I believe the point is, that float32 cannot represent every int32 exactly - see http://matthew-brett.github.io/teaching/floating_point.html#floating-point-and-integers .

[code]

Hence, to represent all numbers in the int32 range *exactly*, you need a bigger float type.

[2019-07-15 09:15] #14007 closed

[2019-07-15 09:21] matthew-brett commented on #13956
I believe Julia already uses 64 bit BLAS via OpenBLAS - e.g. https://github.com/JuliaLang/julia/issues/4923

Previous discussion on Numpy lapack_lite: https://github.com/numpy/numpy/issues/5906

[2019-07-15 09:28] NanaVan opened #14008 "BUG: np.mod() and fractional part of np.modf() give the output 1"
When I used the np.mod() and np.modf() to get the fractional part of a numpy array, I got an incorrect output 1.
### Reproducing code example:

[code]
The result showed the 175th term of the numpy array has a fractional part of 1.

Though I could overcome this problem for my case by dropping the 1e6 by manual.
[code]
It implied the precision may play a key role for the similar situations.

[2019-07-15 09:54] pv commented on #14008
The number returned is not 1:
[code]

[2019-07-15 09:54] #14008 closed

[2019-07-15 10:45] bashtage commented on #13911
If I add an update to setuptools in addition to pip then it works correctly.

[2019-07-15 11:35] kritisingh1 commented on #13987
Hi @carloacerbi thanks for reporting this. If you are interested in fixing this issue, [this](https://www.numpy.org/devdocs/dev/index.html) might me helpful to you.

[2019-07-15 12:35] KreativeKrise opened #14012 "Unittest: RuntimeError: implement_array_function method already has a docstring"
My application uses the python package gensim, which requires numpy. I want to run some unit tests, but always get `RuntimeError: implement_array_function method already has a docstring`. It was tested on Windows 10 and Docker with python 3.7.4. The problem seems to exist since numpy 1.16.0. If I use numpy 1.15.4 it works without problems.

### Reproducing code example:

[code]

### Error message:

[2019-07-15 13:20] mattip commented on #14006
@addy1997 can you give a more complete example of what exactly you are running, what the result is, what you expect, what version of python and numpy you are using, and what OS platform you are on?

[2019-07-15 13:34] mattip commented on #13911
Closing. Please reopen if the issue is still not settled.

[2019-07-15 13:34] #13911 closed

[2019-07-15 13:45] #13951 closed

[2019-07-15 14:10] sameshl commented on #13987
Hi @carloacerbi , you could probably look into `numpy/core/code_generators/ufunc_docstrings.py` to solve this issue.
@kritisingh1 correct me if I am wrong.

[2019-07-15 14:52] wiltonwu commented on #8099
+1 also running into this issue

I would use `np.vectorize` but it seems to be significantly slower (around 50%) compared to `np.frompyfunc` for my use case.

[2019-07-15 15:23] Msegade opened #14014 "np.char.split returns an array of lists, not a 2d array"
The returned array of the function np.char.split gives an array of list, which has to be further processed to produce a normal 2d numpy array

### Example

[code]

### Solution

To ease the processing of the arrays, it will be better to have the function return

[code]

[2019-07-15 15:39] pranavmondhe opened #14015 "ImportError: DLL load failed: The specified module could not be found."
Hi Folks,
I am using Python 3.7.3 on Windows10 using Pycharm 2019.1.3 Community Edition for testing some application.
I have installed numpy version = 1.15.4.

Below is the error while running my application- I have no idea how to solve this please help!!!

*****************************************************************************************************
C:\S3\PLC_EmbeddedEnv\AutoTestEnv37\Scri

[2019-07-15 15:45] eric-wieser commented on #14014
What would you have the following produce?
[code]

[2019-07-15 16:07] Msegade commented on #14014
Ok, I see the issue. Maybe a function argument that generates the 2d array if the resulting lists have the same length, and otherwise raises an exception?

`np.char.split(a, homogeneous_array=True)`

[2019-07-15 16:20] mattip commented on #14015
It is hard to tell what the core problem is. Here are a few suggestions of directions you can try:
Where did you get your python and numpy? Are other users of this app able to use it?

If you open a dos console cmd.exe and run the following line, does it succeed? What does it print?
[code]

[2019-07-15 16:39] addy1997 commented on #14006
sure

On Mon, Jul 15, 2019, 6:50 PM Matti Picus <notifications@github.com> wrote:

[2019-07-15 16:40] nschloe commented on #5922
Another hint: If you use `numpy.add.at`, a 8 times faster alternative is `numpy.bincount` with its optional `weight` argument:
[code]

![out](https://user-images.githubusercontent.com/181628/210387811-57b067f5-aaa3-4c6a-add7-265d1ecb1bdc.png)

[2019-07-15 16:59] pranavmondhe commented on #14015
@mattip
Thanks for your reply.
I have installed python from python.org and numpy from pip inside a virtual environment.

I ran your command. I got the same error which is listed above. Please see its output:--

C:\Users\INUpm>C:\S3\PLC_EmbeddedEnv\AutoTestEnv37\Scripts\python.exe -c "import sys; print(sys.version); import numpy; print(numpy.__version__)"
3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:2

[2019-07-15 17:49] wasdfghjklr opened #14016 "When I import packages from a folder，I got the following problem."
### Reproducing code example:

[code]

### Error message:
In [6]:from models.graphicalLasso import GraphicalLasso as GL
ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'

ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'

ImportError: numpy.core._multiarray_umath failed to import

ImportError: numpy.core.umath failed to import

Kernel died, restarting

### Numpy

[2019-07-15 18:13] cdusold opened #14017 "Boolean based binary operations do not broadcast when used in reduce."
When reducing boolean arrays, broadcasting does not work, even though it works for individual operations

### Reproducing code example:

[code]

### Error message:

[code]

### Numpy/Python version information:

1.16.2 3.6.6 |Anaconda, Inc.| (default, Oct  9 2018, 12:34:16)
[GCC 7.3.0]

I also checked the latest miniconda docker container out and ran it with python 2 on 1.16.4 and it was still a p

[2019-07-15 18:33] 2sn opened #14018 "recarray adding multi-dimensional fields"
Trying to add a non-scalar field to a record array fails; the error messages seem to indicate to me that something internal goes wrong by double-adding extra dimensions.

### Reproducing code example:

[code]

### Error message:

the first `rfn` line gives

[code]

This is the bug.

### Alternative attempts:

[code]
gives
[code]
as should be expected.

### Numpy/Python version information:

1.16.4

[2019-07-15 20:15] kayasmith106 commented on #13911
Step #1:   Downloading https://files.pythonhosted.org/packages/81/39/f1457091d0a45a84a2bd7815e2cf6bd45d4fe240728e9ed567cbb17c8abe/scipy-1.2.1-cp27-cp27mu-manylinux1_x86_64.whl (24.8MB)
Step #1: Collecting reverse-geocoder==1.5.1 (from -r requirements.txt (line 80))
Step #1:   Downloading https://files.pythonhosted.org/packages/0b/0f/b7d5d4b36553731f11983e19e1813a1059ad0732c5162c01b3220c927d31/reve

[2019-07-15 20:21] kayasmith106 commented on #13911
I am still having an issue when deploy go a Google App Engine Flex Environment.

  Downloading https://files.pythonhosted.org/packages/0c/35/0e2dbd6ff005d021ab89bcb35baeeff19bf7a3f30f75f98820f1d2876b39/gensim-2.1.0.tar.gz (15.1MB)
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/t

[2019-07-15 20:22] mattip commented on #14015
There should be a file in `C:\S3\PLC_EmbeddedEnv\AutoTestEnv37\lib\site-packages\numpy\.libs\*.dll`. The `_multiarray_umath.pyd` module in the pip package (the one that is failing to load) depends on this. Perhaps there is a problem with your `PATH` variable that is causing the `PATH` mangling we do when loading NumPy to fail. You could try any of these (assuming the directory is the one I note):

[2019-07-15 20:23] bashtage commented on #13911
Have you upgraded pip and setuptools?

[2019-07-15 20:24] kayasmith106 commented on #13911
@bashtage I don't believe you are able to upgrade setuptools or pip in Google App Engine Flex environment. I could be wrong though.

[2019-07-15 20:25] bashtage commented on #13911
Can you pin numpy<=1.16?

[2019-07-15 20:37] kayasmith106 commented on #13911
I actually have the following in my requirements.txt:
numpy==1.16.1

This is actually installed previous to reverse-geocoder  which has the following requirement:
And reverse geocoder only has the following requirement:
install_requires=['numpy>=1.11.0', 'scipy>=0.17.1',]

So I am unsure why it even tries to pickup numpy-1.17.0rc1 in the first place.

Sorry if this issue is too specific, just seei