[2020-05-16 16:09] WarrenWeckesser commented on #16261
+1 for consistency.

If we adopt sentence case as the preferred style, eventually that convention should be used consistently throughout the NumPy documentation, including in the section headings of the [NumPy docstring standard](https://numpy.org/devdocs/docs/howto_document.html#docstring-standard). Currently it has the section headings "Other Parameters" and "See Also" (which actually gets rende

[2020-05-16 16:57] WarrenWeckesser commented on #16256
Fixed in https://github.com/numpy/numpy/pull/16258

[2020-05-16 16:57] #16256 closed

[2020-05-16 17:28] lucianopaz commented on #16230
@VikrantReddy, that's what this PR did, it discarded the samples that were equal to zero or one, and resampled them. Unfortunately, that leads to a huge bias because there are many more values equal to one due to rounding errors than values equal to zero.

[2020-05-16 18:36] justbennet commented on #15692
I agree, but I think the reverse needs to be explained.  It's conventional when printing the values of a one dimensional array from the `python` prompt to display it as a row, even though it is usually better thought of as a column?  That is explain why

[code]
doesn't look like the column representation in the figure?

That is also how one-dimensional arrays work computationally, and how people w

[2020-05-16 18:42] eric-wieser commented on #15692
This description doesn't generalize. The _last_ axis is always horizontal, and all others are vertical.

[2020-05-16 18:46] eric-wieser commented on #15692
Your intuition is informed by the behavior of `dot`, but it's a special case and not a widely applicable mental model. For broadcast operations like `+`, `-`, `minimum`, etc, 1d arrays should be thought of as rows.

[2020-05-16 19:44] anuppari opened #16264 "Add subok option to array concatenation functions"
### Reproducing code example:
[code]

These produce arrays of type `np.ndarray` rather than `Example`. It would be nice if there's a way to concatenate subclasses of `ndarray` and transparently maintain the class of the elements.

Functions like `numpy.stack`, `numpy.hstack`, `numpy.vstack`, `numpy.concatenate` could include a `subok` option to enable this. Unless there's already a way to do this?

[2020-05-16 19:50] eric-wieser commented on #16264
Currently this is solved by `__array_function__`

[2020-05-16 21:22] justbennet commented on #15692
Then that definitely suggests that more and better explanation of axes and the dimensionality of arrays is needed.

Perhaps, also, then, the convention of showing columnar representation of one-dimensional arrays should be abandoned as misleading, at least here?

At some point in the past, I actually thought that my example did _not_ work that way, and I had to explicitly extend the array to get a

[2020-05-16 21:27] justbennet commented on #15692
I propose that the section on Installing NumPy, per se, be removed and replaced with a link to the installation section of SciPy.  I don't think anything brief will cover the wide variety of installations and what the user might need to do to get a missing NumPy installed.

That the current section gives a `conda` command first seems to presume that one has installed Anaconda, in which case NumPy

[2020-05-16 23:22] charris commented on #14142
Well, this needs fixing, but it won't be ready for the 1.19.x branch. Putting `backport candidate` on it as a reminder for 1.19.

[2020-05-17 03:35] bgmoshe opened #16268 "Numpy choice without replace vs shuffle"
In some code base I was working on,  the user wants to draw X patients out of a list L, without replacemnt.
In order to make it simple, the programmer iterated over np.random.permutation(L).
BUT, sometimes the X patients are very small group (lets say 100 out of 100k), so I replaced it with np.random.choice with replace=False.
I noticed that it was slower. Even if size=10 and the array was huge.
#

[2020-05-17 03:56] anuppari commented on #16264
@eric-wieser Can you provide an example, or a link, on how to achieve such functionality with `__array_function__`?

[2020-05-17 04:47] seberg commented on #16268
We are not planning on changing the implementation of choice (its not fast). But please do use the new API, which *is* fast:
[code]
Maybe the docs could mention this huge performance difference more clearly, although the new API is generally faster...

[2020-05-17 05:47] rgommers commented on #16262
Thanks for the suggestion @bjnath. Consistent style would be quite useful. I'm not familiar with the Google style guide (or other style guides for that matter), it looks good though from a quick browse.

@mkg33 maybe you have an opinion here? Is this largely consistent with the SciPy style choices you made?

[2020-05-17 11:14] kensuke1984 opened #16270 "Fortran subroutine returning complex values by f2py got problems."
Using numpy.f2py, I compiled a Fortran code written in below,
and tried to use it via python numpy, however, the program stops with some error messages.

It worked with  ```complex``` instead of  ```complex(kind(0d0))```.

### Reproducing code example:

Fortran subroutine (hoge.f90):
[code]

Compile using numpy:

[code]

Python part:
[code]

### Error message:
 Returning
double free or corruption

[2020-05-17 11:47] bgmoshe commented on #16268
@seberg Cool, I guess I never saw it :).
Now I see this though:
![image](https://user-images.githubusercontent.com/33910305/82143510-29d5c280-984d-11ea-843e-2aa5019a8d93.png)

So is there a reason to use shuffle at all? It seems like it is not comparable to choice on entire array w/o replacement

[2020-05-17 12:06] n8v8R opened #16271 "wheel build fails due to pep517_build_failure"
**Environment**

* pip version: 20.1
* Python version: 3.7.7
* OS: OpenWrt 19.07.2 (kernel 4.14.180)

* setuptools version: 46.4.0
* wheel version: 0.34.2
* Cython version: 0.29.17
* gcc version 7.4.0
* CPU type: ARM Cortex-A9  (arch armv7l | Little Endian)

**Description**
wheel build failing

**Expected behavior**
wheel build succeeding

**How to Reproduce**
`pip -vvv install -U numpy` aborts wi

[2020-05-17 12:06] bgmoshe commented on #16268
@seberg BTW, why the weird name default_rng was chosen?
It is a confusing name (can also be misleading, when I saw it first I thought it was for range only [since rng is used many times as abbriviation to range])

[2020-05-17 12:10] rgommers commented on #16271
@n8v8R can you show us the full output please? You're just starting from where the build has already failed and showing us the `pip` handling of that.

[2020-05-17 12:22] n8v8R commented on #16271
sure, here it is [pip output.txt](https://github.com/numpy/numpy/files/4640217/pip.output.txt)

[2020-05-17 12:43] mattip commented on #16271
The actual error seems to be

Do other projects build on this platform? Perhaps related to gh-16013, where they got NumPy to build on openwrt but also faced compiler misconfiguration issues.

[2020-05-17 12:55] bje- opened #16272 "fill() much slower than creating a new zeroed array"
### Reproducing code example:

I am a bit surprised at the performance gap. I can always re-create the zeroed array, but the code is perhaps a bit less clear. Why the difference?

[code]

### Numpy/Python version information:

1.18.4 3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]

[2020-05-17 13:01] n8v8R commented on #16271
I do not use the device (router) to compile because of its hardware specifications are just not suitable.

The issue is rather a causality tail from wanting to utilise https://pypi.org/project/flent/

* flent functionally depends on matplotlib
* matplotlib functionally depends on numpy
____
**Not sure**, the issue might be caused by the OpenWrt compiling toolchain https://openwrt.org/docs/guide-de

[2020-05-17 13:38] n8v8R commented on #16271
gave it a go with particular PEP517 option -> `pip -vvv install --use-pep517 -U numpy` but the outcome is the same. [pip output.txt](https://github.com/numpy/numpy/files/4640329/pip.output.txt)

There is something in the output:

  error: Command "gcc [...]" failed with exit status 1

makes me wondering why *distutils* are being invoked at all, thought it would obsolete?

[2020-05-17 14:25] mattip commented on #16271
The line

is still the error failing your build. You need to fix that.

According to [this thread](https://github.com/openwrt/packages/issues/6226), adding `-fPIC` to your `LDFLAGS` may help, but that was a simple 5 minute search for that error and openwrt, YMMV.

We use distutils as a backend build system with specializations for the scientific python stack, it is far from obsolete.

[2020-05-17 15:10] n8v8R commented on #16271
Thank you for the feedback and the pointer. I am not much into compiling and having to look into compiler flags and figuring out where/how to deploy is just too cumbersome. Instead will forego the installation of *numpy*.

[2020-05-17 15:10] #16271 closed

[2020-05-17 15:36] seberg commented on #16272
This is because of kernel/operating system features. Filling with 0 actually writes zeros to it, but creating an array of zeros, does nothing until you actually use that array. Check also the `calloc` command in C.

If you think we should note that somewhere in the docs (and do not yet), a PR is very welcome!

[2020-05-17 15:36] #16272 closed

[2020-05-17 15:39] seberg commented on #16268
RNG is Random Number Generator. I think we don't typically drop vowels in NumPy, but I can see it being used for range elsewhere.
Not sure about shuffle vs. choice speed, although it seems not like a huge difference. Could be that the fast path of shuffle could be made slightly faster.

[2020-05-17 15:55] bnavigator opened #16277 "No positional arguments for f2py callback"
I am trying to override SLICOT's calls to LAPACK XERBLA in order to raise a Slycot specific exception: https://github.com/python-control/Slycot/pull/127

Unfortunately I am having issues with passing required positional arguments to the callback function.

The SLICOT routines call `XERBLA(SRNAME, INFO)`, which should call the user provided Python function `raise_xerbla(srname, info)`. But that fun

[2020-05-17 17:40] rossbar commented on #16268
@bgmoshe note that the differences in the `timeit` results between shuffle and choice provided above are not significant (take a closer look at the std. dev.). Also, it very likely depends on the size of x. On my system:

[code]

[2020-05-17 18:20] bjnath opened #16279 "Where are the 1.19 docs?"
I'm planning a PR that reorganizes https://numpy.org/doc so all doc links appear together, in the same big print -- rather than having the newest version off to the side in small print.

https://numpy.org/devdocs/ is now at 1.20, so I'd include a 1.19 link in the column of doc releases. But there's no https://numpy.org/doc/1.19 the way there is for 1.18.

Where can I link to for the 1.19 docs?

[2020-05-17 18:25] bgmoshe commented on #16268
@rossbar You got a point about stdev.
Interesting.I tired what you wrote and shuffle is fater now, but still in stdev.
 Just interesting to know when I should use shuffle instead.
Because, in general, you would want shuffle to have the same speed as choice on the whole array, o.w you would slice the shuffle when it is not effiecient.

[2020-05-17 18:34] charris commented on #16279
They aren't ready yet.

[2020-05-17 18:35] rossbar commented on #16279
I think @charris  is in the process of preparing the 1.19 release as we speak! The docs are uploaded to the [numpy/doc](https://github.com/numpy/doc) repo, following the instructions [here](https://github.com/numpy/numpy/blob/master/doc/HOWTO_RELEASE.rst.txt#build-and-archive-documentation).

[2020-05-17 18:53] #16082 closed

[2020-05-17 19:04] rossbar commented on #16268
Generally I would not expect the performance to differ significantly between the two except perhaps for small arrays, where tasks like creating new arrays can be a significant chunk of the total runtime. A quick [perfplot](https://github.com/nschloe/perfplot/) bears this out:

![perfplot](https://user-images.githubusercontent.com/1268991/82157457-6649f400-9836-11ea-8aee-05e119587f96.png)

If it we

[2020-05-17 19:04] #16268 closed

[2020-05-17 19:54] bje- commented on #16272
That was my suspicion and I suppose I should have dug into the source to check. Thanks.

[2020-05-17 20:10] seberg commented on #16272
If you are up for it, I am pretty sure a PR adding a Note to the `zeros` and `empty` docs would be accepted.

[2020-05-17 21:55] dojafrat commented on #16180
Yeah for sure. Just to make sure we are 100% on the same page before I get going. My plan is to:
1) Enforce only scalar values are passed
2) Add an error message for non-scalar values
3) Update documentation

Lmk if that sounds and I will get right to it

[2020-05-17 22:21] seberg commented on #16180
Sorry, while I personally agree with full being only used for scalars, I suspect that may be a bit of a harder sell, and would require a deprecation period at the very least. I was first thinking of just doing the optimization here.

[2020-05-18 02:02] kieranricardo opened #16281 "`cumsum` could directly calculate result in `out` array"
When specifying an output array with the `out` argument numpy `cumsum` creates an intermediate array to hold the result and then copies this data over to the `out` array.  This causes a spike in peak memory that could be avoided by directly storing and calculating the result with in `out` array.

### Reproducing code example:

[code]

### Numpy/Python version information:

1.18.1 3.6.9 |Anaconda,

[2020-05-18 03:01] rossbar opened #16282 "DOC: Incorrect listing of `order` parameter in tobytes"
The docstring for `tobytes` ([link to source](https://github.com/numpy/numpy/blob/e66453568b685dee47d6e6e634b3a47edffcaeed/numpy/core/_add_newdocs.py#L3935-L3969)) lists the options for the order parameter as 'C', 'F', and None but does not include 'A' or 'K' (as in e.g. the copy docstring). 'Any' is also mentioned as a (seemingly) valid input for the `order` argument in the first part of the docs

[2020-05-18 03:09] huonw commented on #16281
Notably, it seems like this actually caused by the dtype of the `out` array differing to the input array. In this reproducing example, this is implicit with `data.dtype == np.int64` and `out.dtype == np.float64`, but is visible with an explicit form like:

[code]

If they have the same dtype (`out = np.zeros(len(data), dtype=data.dtype)`), the output looks like `(1249, 13469)`.

Also, this seems t

[2020-05-18 04:06] ewmoore commented on #16281
This is how numpy works.  Look at the results of calling `np.add.types`.  These are the types that `np.add` knows how to sum.  The only loops that exist are for adding two matching types into the same type.  Other loops could be defined, but where would you limit the combinatorial explosion that results?

[2020-05-18 08:17] rgommers commented on #16180
I don't think so. `fill_value` is clearly documented as scalar, allowing anything else is accidental and can be removed without any deprecation. A clear error message here would be nice. +1 for @dojafrat's plan.

[2020-05-18 08:29] eric-wieser commented on #16180
I suspect that people are relying on this behavior, so I'd be -1 on deprecating it. It wouldn't surprise me at all if someone doing image manipulation does something like:
[code]

[2020-05-18 10:34] takluyver opened #16287 "Default dtype for integers across the int64 upper limit is float (due to `uint64, int66 -> float64`)"
When `np.array()` or `.asarray()` is used to go from a list of integers, without specifying a dtype explicitly, it can pick default dtypes including int64 & uint64. But there's a strange corner case where it defaults to float64 and loses precision, even though all the values could be uint64. Specfically, this occurs when some but not all values can be int64:

[code]

It doesn't depend on the order

[2020-05-18 10:54] matthew-brett commented on #16244
In that case I would have thought standardizing to the IPython shell would be a big win, possibly keeping in mind they may be using Jupyter.

[2020-05-18 12:28] eric-wieser commented on #16287
I can confirm we already have an open issue for this, will try to find it later.

[2020-05-18 13:45] seberg commented on #16287
Thanks for the note. There appears to be a recent issue with exactly this report gh-16030

I guess its a combination of two things:

1. We promote `uint64 + int64 -> float64` (e.g. gh-11801 is related, probably more, also gh-5745)
2. We try different dtypes when given an integer with `np.array` when the value does not fit the actual system default. (usually `int64 -> uint64 -> object`) (I feel I/w

[2020-05-18 13:48] Louagyd commented on #15563
you can simply just try `matplotlib==3.0.3`

[2020-05-18 13:54] takluyver commented on #16287
Thanks, I agree that gh-16030 looks like the same thing. Could it be a recent regression?

Is there a specific bit of code that determines the dtype for some Python objects? I'd be interested to see if I can understand it, but I don't know where to start looking. :slightly_smiling_face:

[2020-05-18 13:58] seberg commented on #16287
Its here: https://github.com/numpy/numpy/blob/2d1e8f38e973f88aeb29dc51caa0f57ab86efc67/numpy/core/src/multiarray/common.c#L39 but no, AFAIK this never changed at least since 1.7 (before that is just before my time), so there should be no regression here. I am hoping to practically rewrite that chunk of NumPy.

It does two things:
1. Find the correct dtype for each element, that is what I linked to

[2020-05-18 13:59] mkg33 commented on #16262
@rgommers I read the most important parts of the Google style guide and it's 100% consistent with the changes I'd proposed (especially when it comes to the consistent US spelling and abbreviations plus punctuation). I think we should vote on adopting the conventions listed in the guide. They're pretty universal and offer a concrete point of reference for the contributors.

[2020-05-18 14:21] takluyver commented on #16287
Ah, that makes sense. So it's guessing a dtype for each element, preferring int64 (longlong) over uint64 (ulonglong), and then promoting them together. Switching the preference around would just shift the problem to when you mix positive & negative integers, which would clearly be worse.

I see there's a special case for when all items in the sequence are the same type and either float, bool, or c

[2020-05-18 14:23] seberg commented on #16287
Yeah, changing code there would only lead to inconsistencies...

[2020-05-18 14:34] takluyver commented on #16287
I guess one approach would be to have an internal type for non-negative int64, which could be promoted to either int64 or uint64 as needed. But that sounds like a pretty involved change.

[2020-05-18 14:50] seberg commented on #16287
I did that in my new branch first, but while I now still have the "internal type", do not use it in the context of `np.array` currently (I need something like a python-integer-dtype for the value based casting of scalars).

This is an actual use-case where it would help a bit, but honestly, I think it is probably a bit too smart? And it still means that `np.array` coercion gives different results

[2020-05-18 15:32] abhilash42 commented on #16282
Hi, I am interested to work on this.

[2020-05-18 15:40] rossbar commented on #16282
Please feel free to do so!

[2020-05-18 15:44] abhilash42 commented on #16282
Thanks! Had a doubt. There is no 'Any' valid input for order argument, actually it meant was if no order is given: choose C as default order, unless F_CONTIGUOUS flag is set. When I try, `x.tobytes('Any')`, get an error of `Please pass in 'C', 'F', 'A', or 'K' instead`. I think the statement needs clarification, right?

[2020-05-18 15:52] abhilash42 commented on #16282
Got clarity: I think 'Any' is nothing but 'A' order.

[2020-05-18 15:55] rossbar commented on #16282
Correct - this is the crux of what needs clarification

[2020-05-18 16:18] rgommers commented on #16262
We discussed this on the docs meeting, everyone was positive - let's do this! Notes from the meeting:

- Uniform documentation style guide (Google):
    - Here's the guide: https://developers.google.com/style
    - Maja says this would have really helped her in last years' GSoD project for SciPy.
    - Ross notes that we should make sure to inform people that this does not refer to the docstrings

[2020-05-18 16:22] #16252 closed

[2020-05-18 16:31] #16196 closed

[2020-05-18 16:42] embray opened #16290 "GCC assembly bug in AVX-512 instructions on Cygwin"
I encountered this issue at build time while testing #16246 on a Haswell-based CPU supporting AVX2.

This is due to a confirmed bug in GCC that is fixed since GCC 8.4: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65782

One suggested workaround on [Stack Overflow](https://stackoverflow.com/a/53999574/982257) was to pass a number of `-ffixed-<reg>` flags to prevent GCC from producing code using the

[2020-05-18 20:52] sethrj commented on #6639
Wow, you'd hope that if the compiler is going to implement a nonstandard function, they'd at least implement it correctly? ...

[2020-05-18 22:08] dstuck opened #16294 "Numpy failing to install with python3.5"
The new release of numpy fails to install when using python3.5. It seems clear the problem is the use of f string formatting in the setup.py file that is only supported in python 3.6 and higher.

### Reproducing code example:

[code]

### Error message:

      File "/tmp/pip-build-gg798dty/numpy/setup.py", line 182
        raise ValueError(f'Submodule {p} missing')

[2020-05-18 22:11] charris commented on #16294
NumPy 1.19.x doesn't support Python 3.5, only 3.6-3.8

[2020-05-18 22:11] #16294 closed

[2020-05-18 22:14] dstuck commented on #16294
Ok, then this metadata should probably be updated: https://github.com/numpy/numpy/blob/0ea1a6e4f7904b79d26239804c1712a389f46a6b/setup.py#L448

[2020-05-18 22:31] charris commented on #16294
Fixed in #16295. Thanks for the heads up.

[2020-05-18 23:36] DWesl commented on #14787
This is still an issue on older GCC (<8.4), see #16290.

[2020-05-19 02:34] huonw commented on #16281
Ok, so for the example above, the input `data` argument is being cast to `np.uint64` to match the output dtype (thus allocating the 8MB) before the addition?

[2020-05-19 07:08] #16189 closed

[2020-05-19 08:21] Rich133 commented on #16235
Ok thanks guys. Tried everything I could think of but was not able to solve it. Reinstalled Anaconda and still did not work. Resorted to using standard python and now having no issues.

[2020-05-19 08:21] #16235 closed

[2020-05-19 09:43] eric-wieser opened #16299 "BUG: numpy.core.overrides.verify_matching_signatures ignores keyword-only arguments"
### Reproducing code example:

[code]

A correct implementation could look like:
[code]
which gives:
[code]
Unfortunately, this implementation seems to slow down the import time by 5%.

[2020-05-19 14:31] mattip commented on #13510
This is important for supporting non-refcount GC strategies like in PyPy, where it is not clear when if at all `fp` will be freed after calling `del fp`.

[2020-05-19 15:02] kbantoec commented on #14015
Download this wheel file and add it in your `C:\Users\<username>` folder: https://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy.

Execute `pip install <wheel file> --user` for instance from your command line.  In my case, the wheel file was `numpy-1.18.4+mkl-cp38-cp38-win_amd64.whl`.

Make sure all other dependencies are up to date. You can for instance execute `pip install <package> --upgrade` if a p

[2020-05-19 15:34] limburgher opened #16302 "ARM-only test failure on 1.19.0 rc1"
Build succeeds on Fedora Rawhide but fails on ARM due to test issue.

### Reproducing code example:

N/A

### Error message:

See attached log

### Numpy/Python version information:

Numpy 1.19.0 rc1, python 3.8.3

[2020-05-19 15:34] limburgher commented on #16302
[build.log](https://github.com/numpy/numpy/files/4651491/build.log)

[2020-05-19 15:46] seberg commented on #16302
@limburgher do you know if the test is simply incorrect here and the CPU supports NEON-VFPv4/ASIMD but the test thinks it should not?

This test runs for:
[code]
I am thinking we may change what to expect based on the actual CPU?

[2020-05-19 15:50] limburgher commented on #16302
That's possible, the cpu in question here is armv7hl, and the aarch64 build succeeded:

https://koji.fedoraproject.org/koji/taskinfo?taskID=44694407

[2020-05-19 15:57] seberg commented on #16302
@seiko2plus wrote these tests. Sayed, maybe you know immediately how/if it needs adjustment?

[2020-05-19 16:59] melissawm commented on #16277
Hello, I can take a look at what's happening. However, as a note, I went to the Slycot issue and couldn't reproduce your exact problem because I get an `AttributeError: module 'slycot' has no attribute 'sb10fd'`.

Can you provide a minimal working example? Thanks!

[2020-05-19 18:01] seiko2plus commented on #16302
@seberg, According to the attached log, NumPy detects `ASIMD` while `/proc/cpuinfo` missing this feature. @limburgher, please could you verify the CPU Arch? Is that 32-bit kernel running on Arm8(AArch32 states)?

[2020-05-19 18:52] sharkcz commented on #16302
The Fedora armv7 builders are armv7 virtual machines (on KVM) running on aarch64 hw. The distro armv7 ABI is defined with `-march=armv7-a -mfpu=vfpv3-d16 -mfloat-abi=hard ` (https://src.fedoraproject.org/rpms/redhat-rpm-config/blob/master/f/buildflags.md)

[2020-05-19 18:59] hrw commented on #16302
The thing is that most of armv7 distributions do builds without NEON enabled because there were some cpus which lacked it.

[2020-05-19 19:06] seberg commented on #16302
Is there some trivial way to adjust the test to capture that?

[2020-05-19 19:20] bdice commented on #6854
It appears that #7464 has been abandoned. Matching the type of `weights` seems reasonable to me and I would like to see this feature. @jaimefrio Do you think your PR could be re-opened? Could I help with it?

[2020-05-19 19:30] bnavigator commented on #16277
Hi,

sure! As you may have seen, we went another route without the callback. However it's maybe worth fixing if this is a bug in f2py.

The attribute error means, you didn't import the development version of Slycot with the xerbla_raises function and the sb10fd wrapper present, but likely an installed Slycot 0.3.5.

Here is a minimal example without involving Slycot at all:
https://github.com/bnav

[2020-05-19 19:46] ealaz opened #16303 "new windows terminal"
I got the message:
Importing the numpy c-extensions failed.
- Try uninstalling and reinstalling numpy.
- If you have already done that, then:
  1. Check that you expected to use Python3.7 from "C:\Users\lazarus\anaconda3\python.exe",
     and that you have no directories in your PATH or PYTHONPATH that can
     interfere with the Python and numpy version "1.18.1" you're trying to use.
  2. If (1)

[2020-05-19 19:51] nullr0ute commented on #16302
@seberg you shouldn't really be doing runtime detection of features for compile time functionality. Maybe if a set of CFLAGs is passed in trust what the flags are specifiying and turn off run time detection.

[2020-05-19 20:08] seiko2plus commented on #16302
@limburgher, please could you try this patch #16304?

@sharkcz,

thank you!.

@hrw,

The current NumPy CPU detection code is mainly designed to pave the way for #13516, and by default, the baseline features for Arm7 don't contain any SIMD features only through dispatched features.

@nullr0ute,

On Linux/Arm, we check the ELF auxiliary vector, and on other platforms we failback to the compiler defi

[2020-05-19 20:14] rossbar commented on #16303
Please check [this article](https://numpy.org/devdocs/user/troubleshooting-importerror.html) in the documentation to see if any of the advice there helps resolve this issue for you.

[2020-05-19 20:22] rossbar commented on #6854
Here's a link to relevant discussion on the mailing list: https://mail.python.org/pipermail/numpy-discussion/2016-March/ (search for "bincount" to get the relevant thread, about halfway down the page).

The consensus at the time seemed to be for type-promotion behavior consistent with sum FWIW.

[2020-05-19 23:49] anirudh2290 commented on #12530
just revisiting this, can we do something like : https://github.com/sphinx-doc/sphinx/pull/4807 where we just use path if os.path.relpath doesn't work, or does it have certain implications with absolute paths being used for certain compilers as @mattip mentions here : https://github.com/numpy/numpy/issues/16107#issuecomment-621760722 .

[2020-05-20 00:03] WillAyd commented on #9808
AFAICT this behavior can be traced to here:

https://github.com/numpy/numpy/blob/29f0b532988640cf2441b5eeaf57f87296ea111f/numpy/core/src/multiarray/nditer_pywrap.c#L2001

I've noticed if hard-coding

[code]

You get the expected result above. Obviously that's not a real solution...tried to leverage the `innerloopsizeptr` and `innerstrides` but they appear to segfault on access from the `!has_exter

[2020-05-20 03:00] SrivastavaAnubhav opened #16307 "numpy.choose broken for multidimensional arrays"
The docs for numpy.choose say that
```np.choose(a,c) == np.array([c[a[I]][I] for I in ndi.ndindex(a.shape)])```
The following example shows that this is not the case.

### Reproducing code example:
[code]

I expected that `np.choose` would choose the rows of the output matrix, but I am new to numpy and might be misinterpreting the docs. Either way, the behavior of the two are **not** equivalent as

[2020-05-20 04:20] mattip commented on #12530
I revived the older PR in a new gh-16308. I think the fix should remain straight-forward to smoke out possible problems; if we hit a snag we can always do the `try: execpt:` route but I would like to understand first why/where `abspath` is the wrong thing to do.

[2020-05-20 06:08] Qiyu8 commented on #16302
@seiko2plus  should we using `/proc/cpuinfo` to detect CPU feature in order to enhance the robustness?

[2020-05-20 07:44] eric-wieser opened #16309 "np.ma.core.doc_note does not work correctly for indented docstrings"
Given:
[code]
`np.ma.core.doc_note` gives:
[code]
which has bad indents.

This isn't public API, but it's possible we're being caught out by this internally somewhere.

[2020-05-20 09:06] i-shenl opened #16310 "Linking numpy 1.18.x and MKL 2019/2020 succeeds during build but fails during runtime"
I'm trying to install numpy 1.18.x (1.1.8.1 and 1.18.4)  from source on python 3.8.2 on Windows with linkage to MKL 2019 but get the error below when running "import numpy" after running the python interpretor despite following the instructions in it to try to rectify it. I've looked through the issues tracker here and tried the suggestions in them but to no avail. Building numpy against MKL does

[2020-05-20 10:20] #12530 closed

[2020-05-20 10:41] mattip commented on #16310
Python 3.8 introduced a new way of telling windows where to look for support DLLs. They decided `PATH` was not the right way to do it, and introduced a new [`os.add_dll_directory`](https://docs.python.org/3/library/os.html#os.add_dll_directory) function. Please try calling this with the path to your added DLLs. Note that the wheels you download from PyPI or ananconda activation should do this for

[2020-05-20 14:08] seberg commented on #9808
That looks right, if `op_axes` is used, this could be modified. Maybe we should just do that with a big release notes warning? The current method is pretty useless after all, and if you use `np.stride_tricks` or similar on the (assumed 0D) output array to get the old one back, then it would not actually break if we change this here...

[2020-05-20 14:32] eric-wieser commented on #9808
I think changing this is fine. I think I remember trying to fix this in the past, and not doing so because it was _hard_, not because it might break compatibility.

[2020-05-20 14:35] vigna opened #16313 "The PCG implementation provided by Numpy has significant, dangerous self-correlation"
The PCG generator used by Numpy has a significant amount self-correlation. That is, for each sequence generated from a seed there is a large number of correlated, nonoverlapping sequences starting from other seeds. By "correlated" I mean that interleaving two such sequences and testing the result you obtain failures that did not appear in each sequence individually.

The probability that two gener

[2020-05-20 15:18] #15869 closed

[2020-05-20 15:40] mattip commented on #16313
@imneme, @bashtage, @rkern would be the authorities here, but I think we have gone over this and it is why we preferred  the `SeedSequence.spawn` interface over the `jumped` one. For instance there was [this discussion](https://github.com/numpy/numpy/issues/13685#issuecomment-499367531) when we were discussing the API. Please check the advice here https://numpy.org/devdocs/reference/random/paralle

[2020-05-20 15:47] rkern commented on #16313
@mattip This has nothing to do with jumping.

[2020-05-20 15:48] bashtage commented on #16313
I think in practice it is difficult to make wholesale changes, although improved documentation is always a good idea.

I would probably recommend [`AESCounter`](https://bashtage.github.io/randomgen/devel/bit_generators/aesctr.html) for anyone with AES-NI or [`SPECK128`](https://bashtage.github.io/randomgen/devel/bit_generators/speck128.html) for anyone without in highly parallel settings.

[2020-05-20 16:22] rkern commented on #16313
Can you quantify this? I can replicate the failures using the same increment, but we seed the increment as well as the state, and I have not yet observed a failure with two different random increments. If the increments also have to be carefully constructed, then that would affect the practical birthday collision frequency.

https://gist.github.com/rkern/f46552e030e59b5f1ebbd3b3ec045759

[code]

[2020-05-20 16:45] SrivastavaAnubhav commented on #16307
@eric-wieser Is the current implementation of numpy.choose correct in the above example then?

[2020-05-20 16:51] eric-wieser commented on #16307
I think it's probably correct behavior - it would be easier to decode if you picked arrays which were not size 2 in every direction!

[2020-05-20 17:34] charris opened #16317 "PyEval_CallObjectWithKeywords is deprecated in Python 3.9."
See https://travis-ci.org/github/numpy/numpy/jobs/689304268.
[code]

### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:

[2020-05-20 17:54] charris commented on #16317
Also
[code]

[2020-05-20 18:21] rossbar commented on #12476
This was discussed during the triage meeting - the consensus seemed to be that raising a UserWarning here would be reasonable (and updating the docs is uncontroversial).

[2020-05-20 18:30] mattip commented on #573
In a recent community call we talked about this and decided not to support this use case. If Python ends up accepting a change to make dict.values() a sequence, we would automatically support it, but we do not want to do that change on our own.

[2020-05-20 18:30] #573 closed

[2020-05-20 18:47] mattip commented on #15947
Closing. We strongly recommend not using Accelerate.

[2020-05-20 18:47] #15947 closed

[2020-05-20 18:49] mattip commented on #14818
Closing. Please reopen if needed.

[2020-05-20 18:49] #14818 closed

[2020-05-20 18:50] seberg commented on #8547
I think this is the best approach since there is no safe converesion, and you could use `float(...)` otherwise. Yes, its a bit strange, but I think raising an error is worse...

(We discussed this briefly on the triage meeting)

[2020-05-20 18:50] #8547 closed

[2020-05-20 18:55] mattip commented on #7652
We also have `NPY_BLAS_ORDER=""` and `NPY_LAPACK_ORDER=""` which should ensure no blas is used.

[2020-05-20 18:57] mattip commented on #5533
Since we now support 64-bit OpenBLAS I will close this. Please reopen if needed.

[2020-05-20 18:57] #5533 closed

[2020-05-20 18:58] hameerabbasi commented on #10399
Scalars behave like zero-dimensional NumPy arrays at the moment, and we have to maintain this duality. We discussed this in the community call and agreed that it should be closed.

[2020-05-20 18:58] #10399 closed

[2020-05-20 19:05] seberg commented on #5700
We do this now for the scalars and the python `round` command, althought  not for the `round` function. Closing anyway, since I think the current consensus is that this was OK. Feel free to open a new issue to bring it up again though.

[2020-05-20 19:05] #5700 closed

[2020-05-20 19:23] vigna commented on #16313
OK, I'll try again.

There are no multiple streams in an LCG with a power-of-2 modulus. Many believed it in the early days, and there are even long old papers claiming to do interesting stuff with those "streams", but it is has been known for decades that the orbits you obtain by changing the constants are _all the same modulo an additive constant and possibly a sign change_. The farthest I can tr

[2020-05-20 19:26] SrivastavaAnubhav commented on #16307
I'm not sure what you mean by probably. The following example has arrays of shape [2,3]. I feel like it should take the first row from the first matrix, and the second row from the second, but it gives an error (it expects 3 indices).

[code]

[2020-05-20 19:31] imneme commented on #16313
Sabastiano's critiques of PCG are addressed in [this blog post](https://www.pcg-random.org/posts/on-vignas-pcg-critique.html) from 2018.

The short version is that if you're allowed to contrive specific seeds, you can show “bad looking” behavior out of pretty much any PRNG. Notwithstanding his claim that PCG is somehow unique, actually PCG is pretty conventional — PCG's streams are no worse than,

[2020-05-20 19:34] vigna commented on #16313
That is entirely false. To prove me wrong, show two correlated nonoverlapping sequences from MRG32k3a or xoshiro256++.

[2020-05-20 19:36] imneme commented on #16313
I never said non-overlapping.  Show me a currently available test for xoshiro256++. that two seeds avoid overlap.

[2020-05-20 19:37] imneme commented on #16313
In contrast, I do have a test for PCG that shows that the “correlations” you showed are essentially a form of overlap.

[2020-05-20 19:41] mitar commented on #10399
I understand. It is just sad that it explodes in random places in Python.

[2020-05-20 19:45] vigna commented on #16313
😂

[2020-05-20 19:48] seberg commented on #10399
It is, its true that in the long term maybe we should try to remove that duality... but its tricky :(.

[2020-05-20 19:50] mitar commented on #10399
Yes, backwards compatibility is a problem. Maybe numpy should start suggesting to use `ndarray.equals` or something and deprecate use of `==` for equality. And then in the future `==` is changed to be closer to Python expectations?

[2020-05-20 19:54] seberg commented on #10399
I disagree with making `==` not behave like it does for arrays (it could stop converting the other object to an array, but that is a tougher sell). But, right now we conflate 0-D arrays and scalars. And we should somehow fix that conflation. Maybe by just asking you to use `.item()` and making scalars not really be a thing or maybe by using 0-D arrays more and making scalars more like scalars... I

[2020-05-20 19:56] seberg commented on #16317
Its trivial to fix (I already did it) unfortunately I have a weird ctypes issue with my python3.9 so couldn't really try locally, will open a PR anyway I think.

[2020-05-20 19:59] mitar commented on #10399
Yes, but problem is that things like type checking explode for you because of this: https://github.com/Stewori/pytypes/issues/27

So comparing for equality really should return just true or false. Not an exception.

[2020-05-20 20:09] seberg commented on #10399
I don't really would prefer not to discuss this here for long. I get that there are issues, but its also super inconvenient to write things like `arr[np.equal(arr, 0)] = 1` by comparison. So IMHO if this is a big problem, we should rather try to find a solution for typing projects rather than create think whether NumPy is "impure" and how to fix it. (for all I know the fact that NumPy allows raisi

[2020-05-20 20:30] vigna commented on #16313
I can't fight FUD like "essentially" and "a form", but I modified http://prng.di.unimi.it/intpcgnumpy.c so that initially it iterates each PRNG 10 billion times, and exits with an error message if the generated sequence traverses the initial state of the other PRNG. This guarantees that the first 160GB of data into Practrand come from non-overlapping sequences:

    ./intpcgnumpy 0x596d84dfefec2fc

[2020-05-20 20:33] mattip commented on #16313
Please respect the [code of conduct](https://numpy.org/devdocs/dev/conduct/code_of_conduct.html). Try to keep your comments in tone with the directives to be "empathetic, welcoming, friendly, and patient" and "be careful in the words that we choose. We are careful and respectful in our communication".

[2020-05-20 20:54] anirudh2290 opened #16319 "BUG: `take` casting logic with an `out=` argument"
From the related PR: #4246

array([-128, -127, -126], dtype=int8)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: Cannot cast array data from dtype('int32') to dtype('int16') according to the rule 'safe'
This PR makes an explicit casting check, then either sets NPY_ARRAY_FORCECAST
or explicitly raises the error.

The tests added check the logic for conversion b

[2020-05-20 21:21] rossbar commented on #5649
The deprecation of `numpy.dual` was introduced in #16156 - hopefully that resolves any remaining issues. Closing for now - please feel free to re-open or create a new issue if additional discussion on the topic is needed.

[2020-05-20 21:21] #5649 closed

[2020-05-20 21:41] #16317 closed

[2020-05-20 21:44] jakirkham commented on #7652
Ok let's go ahead and close then.

[2020-05-20 21:44] #7652 closed

[2020-05-20 21:44] jakirkham commented on #7652
Thanks all for the work here! :)

[2020-05-20 21:56] rossbar commented on #13358
It's been a few months since this was reported - given the deprecation of dual in #16156 and the improvements in #14197, is this still an issue?

[2020-05-20 22:02] rossbar commented on #15946
Quick update: the changes originally in #15966 are now handled by #15759. Perhaps it's worth testing that this issue is resolved in 82398b3.

[2020-05-20 22:13] seberg commented on #16281
I am not sure what the exact reasons are. I suspect that this is a solvable thing, at least within some boundaries. The iterator is buffered, so it normally is capable of casting only a small chunk of the input array. However, this is not used here, because it probably interferes with how the rest of the code is implemented.
So, allowing buffering may be very hard to do here, or may not be so hard

[2020-05-20 23:10] i-shenl commented on #16310
Thanks. That did the trick. Didn't realize that they changed it in 3.8. This can be closed now.

[2020-05-20 23:10] #16310 closed

[2020-05-21 00:43] horta commented on #13358
I'm fine with closing it.

[2020-05-21 00:53] #13358 closed

[2020-05-21 03:49] tbm opened #16324 "Possible typo "homogenous""
The documentation uses the word "homogenous" a few times.

I think the correct spelling is "homogen**e**ous".  I was wondering if "homogenous" might be a scientific term.  I found:

* Homogenous is an older scientific term that describes similar tissues or organs. It has been replaced by homologous
* According to The Oxford Guide to English Usage, the word homogenous is a frequent error for homoge

[2020-05-21 07:39] hexchain opened #16325 "ENH: Expose `bit_count` ufunc equivalent to the scalar methods"
Modern CPUs have a builtin [popcount](https://en.wikichip.org/wiki/population_count) instruction that counts the number of 1 bit in an unsigned integer. It would be great if numpy has a routine that exposes this operation.

Both GCC and MSVC have builtin functions for this instruction.

Possible usage:
[code]

[2020-05-21 09:31] #13458 closed

[2020-05-21 11:36] eric-wieser commented on #13983
I don't think we can do this without breaking compatibility. What happens if someone is saving an array today like:
[code]

For this reason, I'll remove the good-first-issue label.

[2020-05-21 15:00] seberg commented on #16325
I would probably argue for calling it `countbits` or so to stay close with `unpackbits` and `packbits` (although that means `countnonzero` is similar).
The only discussion may be around whether or not it adds new API, I think a PR adding a ufunc for this has very good chances to be accepted (but should go through the mailing list since its new API).

[2020-05-21 15:11] eric-wieser commented on #16325
Of course, while we're playing this game we may also want to expose some other intrinsics from https://gcc.gnu.org/onlinedocs/gcc/Other-Builtins.html:

* `int __builtin_ffs (int x)`
  Returns one plus the index of the least significant 1-bit of `x`, or if `x` is zero, returns zero.

* `int __builtin_clz (unsigned int x)`
  Returns the number of leading 0-bits in `x`, starting at the most significa

[2020-05-21 15:13] hexchain commented on #16325
Yes, `countbits` sounds like a better name.

I would like to put up a PR but I'm still trying to get familiar with numpy codebase. Besides, there are some other questions:

- `__builtin_popcount(x)` only works with unsigned integer. What should `np.countbits` return if some signed integers are given? Should it treat them as unsigned implicitly (like in C) or should it error out?
- Should we implem

[2020-05-21 15:15] seberg commented on #16325
Yeah, I guess those other intrinsics are the exact reason why we likely would not want to include it unless `countbits` is somehow much more widely applicable than the others...

At least unless we add a new namespace somewhere. Or maybe this is a good reason for creating a package containing additional ufuncs...

[2020-05-21 15:15] eric-wieser commented on #16325
If it's a ufunc, you'd just declare that the ufunc only accepts the signed integer types

If we're going to add the function, it needs to behave on all platforms. Perhaps we should detect whether the builtin is supported at compile-time.

Also, you should add a loop that works on regular python integers which are larger than `long long`.

[2020-05-21 15:17] eric-wieser commented on #16325
For what it's worth, I found myself needing `countbits` recently in pygae/clifford, but since I was using numba anyway it didn't really matter.

I was thinking this too. It would be a nice excuse to force ourselves to make a new namespace.
An argument for not having an additional package is it might be harder to hook into the compiler-config testing that numpy does in setup.py.

[2020-05-21 16:06] WillAyd commented on #9808
Cool I'll give it a look over the next few days and see if I can push a PR

[2020-05-21 17:31] rossbar commented on #16324
It is very likely that "homogeneous" is always the intended word, and that instances of "homogenous" are just misspellings. A PR to fix this would be welcome.

[2020-05-21 18:37] rossbar opened #16330 "DOC: Provide general description of `__array__` in special methods docs"
The description of `__array__` in the [special methods and attributes](https://numpy.org/devdocs/reference/arrays.classes.html#special-attributes-and-methods) documentation contains a blurb about how `__array__` behaves in a special case re: the `out=` kwarg of a ufunc. However, a general description of `__array__` is not provided.

The documentation here could be improved by providing a more gene

[2020-05-21 19:13] zooba commented on #16255
Some versions of Anaconda have patched Python itself to make this call, I don't know exactly which ones.

Python 3.8 has a few alternative ways to deal with it, but if you can use an absolute path, that's going to be best.

[2020-05-21 19:26] zooba opened #16331 "Make ctypes completely optional on Windows"
There are a couple of places where `ctypes` is presumed to be available, which means `numpy` cannot be imported on systems/distributions that do not include it.

These are [`_dtype_ctypes.py`](https://github.com/numpy/numpy/blob/master/numpy/core/_dtype_ctypes.py), and the [`_distributor_init.py`](https://github.com/numpy/numpy/blob/bfb156741a92f77c13c50d82fc5a1f4d6177a9f5/tools/openblas_support.p

[2020-05-21 19:29] anirudh2290 commented on #4791
please see the xref'd pr for a reference implementation.

[2020-05-21 19:53] eric-wieser commented on #16331
It's imported by the c extension modules.

[2020-05-21 19:55] eric-wieser commented on #16331
The use in distributor_init is windows only, right? Is that ever missing ctypes anyway?

[2020-05-21 20:02] zooba commented on #16331
It is if you care enough about security to disable it :)

Okay, thanks for the pointer. But it looks like it is only used when you have passed in ctypes values? Which means if you're not using ctypes, you'll never hit those code paths?

[2020-05-21 20:09] eric-wieser commented on #16331
Correct. It's possible the module isn't even imported in that case.

[2020-05-21 20:23] seberg commented on #16331
@zooba just cruious, but I am a bit wondering about the security part. If you disable ctypes for security, it seems to me that allowing full NumPy API access would be an issue. Of it is much less convenient convenient then using ctypes directly, but probably not much more than a small layer of obfuscation? (The main issue is the `__array_interface__`, since it allows passing data by pointer.)

[2020-05-21 20:45] kevmo commented on #16324
@tbm, you are correct.  @rossbar - was looking for something to contribute, here you go.  Thanks for all your excellent work on this library! https://github.com/numpy/numpy/pull/16333

[2020-05-21 21:04] hexchain commented on #16325
I happen to be in need of such a thing when working on a project. I've done some search and found other people trying to achieve the same thing, and there is even [a CPython enhancement request](https://bugs.python.org/issue29882). So I guess it would be worth adding, and because we have C-level loops, it can work on an array of numbers more efficiently than the [proposed](https://github.com/pytho

[2020-05-21 21:07] zooba commented on #16331
Unfortunately not, it's imported as part of `numpy/core/__init__.py` --> https://github.com/numpy/numpy/blob/master/numpy/core/__init__.py#L100

Yeah, you're probably right. I'll deal with that one when our pentesters discover it ;) Thanks for the heads-up though.

[2020-05-21 21:54] abalkin opened #16335 "warn_on_write flag is treated inconsistently by buffer and array protocols"
### Reproducing code example:

[code]
Similar warning is generated when accessing `__array_struct__`.

### Numpy/Python version information:

[code]

[2020-05-21 23:01] jbrockmendel commented on #16195
@seberg im not getting anywhere with this locally; can i trade you tasks and implement something in pandas you're looking forward to?

[2020-05-21 23:27] vrakesh commented on #16302
#16321 is related to this

[2020-05-22 00:04] cmatt23 commented on #5744
I've been running trade studies on how different models interact with each other. Each dimension in my results array is linked to a particular input parameter (whether that is a single value or a range of values). Since I am using multiprocessing pools to run the simulations in parallel, my problem with the 32 dimension limit arises when I return the data from the pool and reshape it to match the

[2020-05-22 00:06] seberg commented on #5744
To be clear, the "64 to start with" is exactly the thing that makes this harder to just decide on for me at least... 64 is the absolute plausible limit at this time, I would personally prefer much less, e.g. 40 or 48 since both should be plenty in a `2**N` scenario.

[2020-05-22 01:22] seiko2plus commented on #16302
@Qiyu8, detect feature through auxiliary vector is more robust and it works fine for almost all kernels but maybe parsing `/proc/cpuinfo` could be the last choice when parsing `auxv` fails.

@vrakesh,

No, the issue here is 32-bit kernel (armhf) that work on ARMv8 doesn't report if `ASIMD` (a32 instructions) is available or not, so to work around it we assume that ASIMD is supported if we detect a

[2020-05-22 02:34] seberg opened #16339 "BUG: Refcounting issues in current master"
I ran a valgrind-leaks (with python3.7 debug) on current master, which should thus also apply to 1.19 (deleted the spurious ones):

* ```numpy/core/tests/test_scalarbuffer.py::TestScalarPEP3118::test_str_ucs4[ascii]: leaked references: [3, 3], memory blocks: [4, 4]```
* (Real known leak in an error path, I don't care. Tidying that code up would be worth more than fixing the leak) ```numpy/core/tes

[2020-05-22 05:33] #14154 closed

[2020-05-22 05:51] eric-wieser commented on #5744
Have you considered using xarray, which lets you name your dimensions, meaning you do not need to insert padding dimensions of length 1?

[2020-05-22 08:14] h-vetinari commented on #16339
Would it make sense to run something more expensive CI jobs like valgrind (or asv perf checks) in a nightly CI?

[2020-05-22 09:17] jaydev947 opened #16340 "cannot import numpy when running script from command prompt"
i have a python script written in spyder and when i run it in IDE it works fine but when the script is run in command prompt it gives me the below error

the script i try to run is as follows in windows command prompt
`python final.py`

inside the final.py script i have import numpy

### Error message:
`C:\Users\jay dev>python D:\final_year_project\ml\final.py D:\\final_year_project\\ml\\final.csv

[2020-05-22 09:25] #16324 closed

[2020-05-22 09:29] mattip commented on #16340
You should [activate your conda environment](https://numpy.org/devdocs/user/troubleshooting-importerror.html#using-python-from-conda-anaconda) before using it from the command line.

[2020-05-22 10:21] jaydev947 commented on #16340
thanks for the quick reply , i am using the base environment , am i doing it wrong the base environment seems to be activated by default. Can you please elaborate you solution because i dont have detailed knowledge about this

[2020-05-22 11:21] mattip commented on #16340
Perhaps your questions would be better answered on an anaconda forum or stack overflow. When you do ask there, you should provide more information about exactly what works and what doesn't: what is the "anaconda prompt" vs. the "command prompt", and if you executed `conda activate <myenv>` what was the result.

We provide the page I linked to as a service for people who are having (these very frus

[2020-05-22 13:12] wrzadkow opened #16345 "Uninformative error message when trying to install using python<3.6"
Because `setup.py` (lines [182](https://github.com/numpy/numpy/blob/master/setup.py#L182), [191](https://github.com/numpy/numpy/blob/master/setup.py#L191)) uses f-strings introduced in python 3.6, anyone using lower version of python would get a syntax error message. The [code checking if version>=3.6](https://github.com/numpy/numpy/blob/master/setup.py#L29) and producing an informative error mess

[2020-05-22 13:21] eric-wieser commented on #16345
We should just remove the f-strings in this file I think

[2020-05-22 13:46] seberg commented on #16339
I dunno, asv is currently hosted on a machine by Pauli. I guess it could make sense but I am not too motivated on doing it and bugs are actually pretty rare. I guess like 1-3 per release and usually trivial (i.e. it seems fine if we fix it up later and the original author is not involved).
I guess with larger changes, this would flush out bugs much more likely, but its fairly easy to run locally.

[2020-05-22 14:27] brpdt opened #16347 "Unnecessary copying of read-only arrays negates benefit of BLAS saxpy"
BLAS saxpy provides a substantial improvement over the native numpy equivalent but any improvement is lost when _input_ x is marked read-only:

### Reproduction

[code]

However when x is read-only saxpy is no faster than numpy as f2py makes a copy of x:

[code]

### Root cause

The copy is made as this test of layout order fails for read-only arrays: https://github.com/numpy/numpy/blob/master/num

[2020-05-22 14:37] eric-wieser commented on #16347
Seems very reasonable, patch welcome.

Would it be possible to get your network buffer using `readinto`, so that you can use `np.frombuffer(bytearray)` instead?

[2020-05-22 15:10] seberg commented on #16339
I doubt the first one is a serious leak. I was unable to reproduce it running that single file. I will just blame the buffer caching machinery being hit in that particular run in that particular test. (Although I am not yet clear why it should trigger, since pytest-leaks runs the test multiple times).

[2020-05-22 15:43] #16345 closed

[2020-05-22 17:11] garryyan2 commented on #12972
Thank you, srt19170, your answer was just posted 9 days ago. It solves my problem. I thought this kind of issue should have been solved long time ago. I am totally new here. Thank you all.

[2020-05-22 17:43] rossbar commented on #12972
@srt19170 , @garryyan2 - a section on PyDev has recently been added to [the troubleshooting docs](https://numpy.org/devdocs/user/troubleshooting-importerror.html). Would you mind taking a look at [the added section](https://numpy.org/devdocs/user/troubleshooting-importerror.html#using-eclipse-pydev-with-anaconda-conda-python-or-environments) and commenting on whether it would've helped you solve t

[2020-05-22 17:53] seberg commented on #16339
Surprisingly, it seems valgrind found an actual dimension leak somewhere, and I need to narrow it down...

[2020-05-22 18:19] seberg commented on #16339
Found it, har... breaking the ABI (in a tiny way, if thats necessary?) to enable tracemalloc on the dimensions might be good... then I would have found this earlier. But I guess not high preiority. (I rarely ran the full valgrind _with full leakchecking_ since that took 24 hours now – with enabling test-level leak precision though, checking less often is much faster).

[2020-05-22 19:00] seberg commented on #16339
Found using valgrind, this may or may not be a real issue:
[code]

It has to do with buffers and that on scalars... which is notorious since we store them in a dictionary as integers. But as far as I can see, that test should be freeing the scalar and thus the bufferinfo...

[2020-05-22 19:09] garryyan2 commented on #12972
@rossbar, [the added section](https://numpy.org/devdocs/user/troubleshooting-importerror.html#using-eclipse-pydev-with-anaconda-conda-python-or-environments) doesn't help. What srt19170 suggested is a work-around. There seems to be a bug to pass the environment variable PATH to PyDev/Eclipse.

[2020-05-22 19:12] seberg commented on #16339
There is one more in a pickle test that was confusing me, not that I guess it will happen. But parameterized test, if run only once will leak the buffer-info of course, since the array is attached to the parameterize and thus never cleared in that test run...

[2020-05-22 19:32] srt19170 commented on #12972
@rossbar -- the reference in that section to check environment variables would be helpful.  I think it would be improved if (1) you document what directories PATH and PYTHONPATH should contain, and (2) mention that you might have to look up in your IDE documentation how to set an environment variable.  As @garryyan2 suggests, this problem is a bug in PyDev/Eclipse/Anaconda rather than a problem wi

[2020-05-22 21:35] jbrockmendel opened #16352 "ENH: overflow-safe astype for datetime64/timedelta64 unit conversion"
[code]

Is there a compelling reason numpy doesnt do this?

[2020-05-22 21:40] seberg commented on #16352
No, we should raise it. It is a bit clumsy to raise errors from within the casting machinery currently, I think that is pretty much the only reason...

[2020-05-22 22:06] jbrockmendel commented on #16352
No idea how to be helpful on that front, but here are links to the relevant pandas code that may be upstream-able:

https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/conversion.pyx#L155
https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/np_datetime.pyx#L95
https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/src/datetime/np_datetime.c#L250

[2020-05-22 22:48] rossbar commented on #12972
Thanks, all, for the feedback!

#16306 attempts to improve code that users can run to try to better introspect their environment. Unfortunately, it's not possible to say what the PATH or PYTHONPATH *should* contain because this depends on each individual setup. Perhaps there's some way to improve the text while still keeping it general.

This is a great point, and generally we just try to refer to

[2020-05-22 22:51] seberg commented on #16195
I will try to remember to look into it, it shouldn't be hard, but NumPy can take a bit getting the hang off... May ping you for review or so.

[2020-05-23 00:29] charris commented on #16302
Can anyone report back on trying @seiko2plus patch #16304?

[2020-05-23 00:30] charris commented on #16302
If not, I'll put it in 1.19.0rc2 for testing.

[2020-05-23 08:31] KelSolaar opened #16353 "Inconsistent behaviour of division of 0d ndarray compared to 1+d ndarray with respect to dtype"
Hi,

This one gave me some headaches and was hard to pin-point but here it is: Dividing a `ndarray` with a single scalar element and a `dtype` different from `np.float64`, e.g. `np.float16` produces a different `dtype` than dividing a `ndarray` with a sequence of that single scalar.

The single-scalar based array does not preserve its `dtype` while the sequence-based one does. I'm assuming it is b

[2020-05-23 08:36] eric-wieser commented on #16353
I think what you're actually seeing here is that the non-0d array type always wins

[2020-05-23 08:37] KelSolaar commented on #16353
Hi @eric-wieser,

This explains the *Bonus Code* but what about the `dtype` change in the main repro-code example?

[2020-05-23 10:03] eric-wieser commented on #16353
It's the  same thing, except in the first line example both objects are 0d, so the result is found as the best type to contain both 100 (inferred as `np.int_`) and `np.float16`.

In the second one, the array just wins, so the type of the `100` is ignored.

We're not super happy with this behavior, but it's tricky to change.

[2020-05-23 10:34] kalety commented on #14772
Work!

[2020-05-23 11:09] abhilash42 commented on #16330
@rossbar Can I take this up?? I would need to learn about __array__ function first...

[2020-05-23 12:40] roryyorke opened #16354 "np.polymul return type is np.float64 or np.complex128 when given an all-zero argument"
`np.polymul` returns an object with type `np.float64` when one argument is all zero, and both arguments have type `np.int64` or  `np.float32`.  Something similar happens with all zero `np.complex64` giving result type `np.complex128`.

This *doesn't* happen with non-zero arguments; there the result is as expected.

This bug isn't present in `np.convolve`.

### Reproducing code example:
[code]

###

[2020-05-23 13:16] artob commented on #14283
A concrete case of that being `pip install pycuda`, which fails like so:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-LYaxup/pycuda/setup.py", line 251, in <module>
        main()
      ...
      File "/usr/lib/python2.7/dist-packages/setuptools/sandbox.py", line 44, in _execfile
        code = compile(script, filename, 'exec')

[2020-05-23 13:35] #16202 closed

[2020-05-23 13:44] #16339 closed

[2020-05-23 14:18] pv opened #16357 "f2py passes wrong arguments with *args and extra arguments"
If a callback function of the form `f(..., *args)` with a variable-argument part in the signature is given to f2py as a callback with extra arguments, it gets called with wrong arguments.

### Reproducing code example:

[code]

### Error message:
[code]

### Numpy/Python version information:
1.18.4 3.8.2 (default, Feb 28 2020, 00:00:00)

[2020-05-23 14:36] rgommers commented on #14283
That's a `pip` bug, and a very serious one it looks like. I can reproduce that with pip 20.1.1. `pip-2.7 install numpy` correctly installs `1.16.6`, so the metadata for numpy on PyPI is correct. `pip-2.7 install pycuda` does try to install latest numpy instead of `1.16.6`.

Likely that's already reported, I have no time to look into it the coming days. @artob if you look if there's a Pip issue for

[2020-05-23 17:44] tirthasheshpatel opened #16359 "BUG: Inconsistent behaviour of masked arrays for equivalent operations"
When a ``np.array`` (say ``a``) is added with ``np.ma.masked_array`` (say ``ma``) using ``a += ma`` operator, it gives a ``np.array`` output while ``a = a + ma`` gives a ``np.ma.maked_array`` output.

### Reproducing code example:
[code]

[code]

### Error message:

### Numpy/Python version information:

[code]

[2020-05-23 17:46] rossbar commented on #16330
Sure, no need to ask for permission - generally you can just check to see if there are any PRs open addressing a given issue: if not, then go for it!

[2020-05-23 18:07] rossbar commented on #16354
This happens because `polymul` converts the input arrays to `poly1d` instances under-the-hood. The `poly1d` constructor has a special catch for all-zero coefficient arrays:

https://github.com/numpy/numpy/blob/ba5205c1b8a7bebdf37535c701ffcd8bd79362bb/numpy/lib/polynomial.py#L1170-L1172

All that said, it's not clear what should be done about it. It would be straightforward to make `np.array([0])`

[2020-05-23 19:02] eric-wieser commented on #16354
I'd say this one is a clear bug that we should just fix.

[2020-05-23 19:56] mattip opened #16360 "__init__.pxd mixes up python dtype.type and c-level PyArray_Descr->type"
In the exported fields of `numpy.dtype`, the `__init__.pxd` file currently has
[code]

`cdef char type` is misleading: the python `dtype.type` is actually the scalar type object that in the `PyArray_Descr` struct is called `typeobj`, and the `PyArray_Descr->type` is called `dtype.char` from python:

python | C
-------|------
type | typeobj
char | type

Now that gh-16266 added tests for `__init__.p

[2020-05-23 21:44] Excalibur-Proto opened #16361 "Python 3 is Incompatible with Numpy."
When running python 3.3 with Numpy 1.18, error is returned: "numpy module is not found."

It seems in general the latest version of numpy isn't compatible with Python 3.3 (I have checked the system environment variables to ensure that numpy is in them from the control panel.)

[2020-05-23 21:55] charris commented on #16361
1.8 supports Python >= 3.5, we haven't supported 3.3 for a long time. That may not be the problem here, how did you try to install numpy, and why such an old version of Python?

[2020-05-23 22:06] KelSolaar commented on #16353
Thanks Eric, makes sense, is it something worth documenting?

Maybe in the [dtypes](https://numpy.org/doc/stable/reference/arrays.dtypes.html) page? It shares some traits with this older issue I reported a few years ago: https://github.com/numpy/numpy/issues/11956

[2020-05-23 22:26] Excalibur-Proto commented on #16361
Hi! I upgraded to 3.8 and got the same issue. . .
I installed numpy with pip3 install numpy.

[2020-05-23 22:30] charris commented on #16361
Try `python3.8 -mpip install numpy`.  You never know what python version pip3 points to. For reference, what OS are you using?

[2020-05-23 22:32] charris commented on #16361
It is bad to overlay system Python (if any), things break, so be careful.

[2020-05-23 22:33] Excalibur-Proto commented on #16361
Thanks so much for your help! I'm using W10.

[2020-05-23 22:34] Excalibur-Proto commented on #16361
It says "-mpip is not recognized as an internal or external command."

[2020-05-23 22:42] charris commented on #16361
It needs to be the full string: `python3.8 -mpip install numpy`. You might find it easier on Windows to use  Anaconda or some other distribution.

[2020-05-23 22:43] mattip commented on #16361
This sounds wrong. You need to install a complete python environment for each version of python you work with. They should be self contained. Adding paths for python to any system-wide environment variables (PATH, PYTHONPATH, PYTHONHOME, ...) is usually problematic.

[2020-05-24 06:35] tirthasheshpatel commented on #16359
I expected a masked array as an output for ``a += ma`` but I guess the implementation always outputs the same object when operated in-place. Technically, there is no issue there as ``+=`` is in-place operator and so an ``np.ndarray`` remains ``np.ndarray``. Can this still be made a new feature though? I am not sure so feel free to close this :)

[2020-05-24 10:39] WeirdKeksButtonK commented on #15571
I have a related question, not sure if it is worth opening a new issue, so asking here.

I understand that the best way to work with randomness in the new style is adding the `rng` argument everywhere. Now, let's say I am developing a micro-library called `rndm` with the only goal to simplify usage of the new style `np.random` by having a global `rng` instance and adding a possibility to set its s

[2020-05-24 11:19] mattip commented on #15571
The subtle problems the new API solves are:
- Repeatability: when you create a new seeded `Generator(seed)` locally, you can be certain the random sequence you generate will be repeatable in the local context, independent of global sate. This is not guaranteed by your scheme since changing the order or number of times you call `f` and `g` or addng a function `h` which also uses `rndm` would change

[2020-05-24 21:23] person142 opened #16366 "`np.maximum_sctype` propagates arbitrary strings"
The docstring of `np.maximum_sctype` says

and says that the argument should be a

Usually this works as expected:

[code]

But if you pass it a random string it just returns that string:

[code]

whereas I would have expected it to raise an exception.

### Reproducing code example:
[code]

### Error message:
None, but I would have expected the above examples to raise an exception.

### Numpy/Pyth

[2020-05-24 22:15] mattip commented on #15946
Closing

[2020-05-24 22:15] #15946 closed

[2020-05-25 07:14] #14918 closed

[2020-05-25 09:12] Qiyu8 commented on #16366
maybe return self action is doing on purpose.
[code]

[2020-05-25 09:23] eric-wieser commented on #16366
I think this is a naive attempt at support for custom dtypes.

[2020-05-25 16:50] seberg commented on #16195
@jbrockmendel I started here: https://github.com/numpy/numpy/compare/master...seberg:divmod-timedelta?expand=1 mainly needs test, and I did not look into remainder yet, but if you are curious you can see what I did... It should really not be far from what you had, except maybe that I modified the template to address NaT results correctly.

[2020-05-25 19:02] jbrockmendel commented on #16195
thanks, ill take a look.  if you want to build off of pandas tests, the relevant ones would be in pandas/tests/arithmetic/test_timedelta64.py and pandas/tests/scalar/timedelta/test_arithmetic.py

[2020-05-25 19:55] melissawm commented on #16244
Thanks for the detailed feedback, @bjnath . I think many points raised are great, I'll just comment on a few:

- For the SVD definition, I avoided linking to a private blog or particular web page because we can't be sure it will be online forever, and we also can't be sure it won't be modified in the future, which could bring maintainability issues. Wikipedia is a much safer bet in that regard. I'

[2020-05-25 20:23] rossbar opened #16372 "DOC: Improper configuration for LaTeX documentation"
The `conf.py` in `doc/source` lists has the following configuration building latex documents:

https://github.com/numpy/numpy/blob/3f11db40d80b6ff122f41185b0b93637bdff0e39/doc/source/conf.py#L158-L166

However, `user/index` was removed in 22356fc0 as part of the NEP 44 restructuring, which means this configuration is no longer valid and attempting to build the latex docs (as is done for the docume

[2020-05-25 20:40] msarafzadeh commented on #15563
this happened ever since I upgraded to pycharm 2020.1
the bug only occurs in debug mode

[2020-05-25 20:47] melissawm commented on #16372
I'm not sure what's the best way forward here, since the old "User Guide" would now be equivalent to everything under "For users"  on the main docs page. Maybe adding a `index.rst` that contains just the links to those sections?

[2020-05-25 20:53] rossbar commented on #16372
Yeah I wasn't sure either - I have a proposal in #16373 that tries to achieve the best of both worlds, i.e. leave the html docs relatively untouched (by reintroducing index as an orphan), but adds back the necessary component for the latex build.

If that solution sounds okay, please take a look at the toctree in #16373 to see if the listings there should be updated.

[2020-05-25 21:14] msarafzadeh commented on #14012
is there a ticket to jetbrains?

[2020-05-25 21:32] blakete commented on #14012
I have not found the bug on any Pycharm channel but after updating it has resolved my issues. If that does not work, try invalidating / clearing Pycharm caches.

[2020-05-25 21:46] msarafzadeh commented on #14012
which version 2020.1 ?

[2020-05-25 21:59] mattip commented on #16372
It would be nice if we could hide the unwanted links with an [`.. only` directive](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-only). But it doesn't work, there are a few "won't fix" issues like [this one](https://github.com/sphinx-doc/sphinx/issues/1717) about this.

[2020-05-25 22:06] rossbar commented on #16372
Thanks for the info @mattip , I'll give `.. only` a try.

[2020-05-25 22:37] rossbar commented on #16372
AFAICT after trying reading about `.. only` and `.. ifconfig` these directives are helpful for control which content *within* files is presented, but not whether the file itself is included for different configurations. We could include a `.. only` directive in `user/index.rst`, but that wouldn't suppress the generation of the html file itself, it would just make the page itself blank.

[2020-05-25 23:23] Baschdl opened #16374 "np.where returns tuple instead of array"
Contradictory to the documentation, `np.where` returns a tupel with the new array instead of only the array.

### Reproducing code example:
[code]

### Numpy/Python version information:

1.17.2 3.7.4 and also 1.18.4 3.7.7

[2020-05-25 23:35] rossbar commented on #16374
The top of the docstring for `np.where` includes this note:

[code]

So the "Returns" section of the docstring only applies to the use case where three arguments are specified, thus an ndarray output should not necessarily be expected.

IMO the documentation is clear in this regard, though PRs to improve the documentation are welcome.

[2020-05-26 00:51] bergkvist commented on #5745
Might be a bit of a radical suggestion, but what about dropping support for uint64 alltogether? Who needs whole numbers between `2**63` and `2**64` anyways?

This would mean that accumulative type inflation of integers would converge to int64 instead of float64. Information would not be lost silently (nor would there be need for an error)

[2020-05-26 05:36] ivirshup opened #16377 "array_equal(a, b, equal_nan=True) throws errors for array with non-numeric values"
Using the newly added (#16128) `np.array_equal` keyword argument `equal_nan` fails when the values of the passed array aren't accepted by `np.isnan`. This occurs for values like strings.

### Reproducing code example:

[code]

### Error message:

[code]

### Numpy/Python version information:

This occurs on both master and `1.19.0rc1`

[code]

[2020-05-26 06:12] sub-h commented on #15424
The python -mpip install numpy command worked for me
Thanks a lot!

[2020-05-26 11:34] MilanCugur opened #16379 "np.cov"
### Reproducing code example:

[code]

### Error message:

If there are nan columns in matrix MATRIX numpy fill all RAM on mu pc. Afterwards its going to be killed by os.

### Numpy/Python version information:

[2020-05-26 11:38] eric-wieser commented on #16379
Can you show `type(MATRIX)`, `MATRIX.dtype`, and `MATRIX.shape` so we can attempt to debug this?

[2020-05-26 12:55] pv opened #16380 "Array-valued np.polynomial.Polynomial doesn't work"
The `np.polynomial.Polynomial` does not seem to handle array-valued polynomials, although this is advertised at some places in its documentation.

E.g. `help(np.polynomial.Polynomial.fit)` [says](https://numpy.org/devdocs/reference/generated/numpy.polynomial.polynomial.Polynomial.fit.html#numpy.polynomial.polynomial.Polynomial.fit):

"yarray_like, shape (M,) or (M, K): y-coordinates of the sample

[2020-05-26 14:28] urimerhav commented on #2111
This issue seems to be open for 8 years, but I just want to chime in with a +1 for making the default behavior for `numpy.unique` to be correct rather than fast. This broke my code and I'm sure others have/will suffer from it. We can have an optional "fast=False" and document nan behavior for fast and nans. I'd be surprised if np.unique is very often the performance bottleneck in time-critical app

[2020-05-26 14:32] tatar28 opened #16381 "I think this already exists? Using the wikipedia example:"
I think this already exists? Using the wikipedia example:

[code]

_Originally posted by @eric-wieser in https://github.com/numpy/numpy/issues/10736#issuecomment-372551345_

[2020-05-26 14:33] tatar28 commented on #16381
I think this already exists? Using the wikipedia example:

[2020-05-26 14:33] tatar28 commented on #16381
I think this already exists? Using the wikipedia example:

[2020-05-26 14:33] tatar28 commented on #16381
I do not understand the conversion of documents or various system projects. Problems with language and language help in an easy way that I understand and can access.

[2020-05-26 14:34] eric-wieser commented on #16381
@tatar28, what exactly are you trying to do here?

[2020-05-26 14:36] tatar28 opened #16382 "I think this already exists? Using the wikipedia example:"
I think this already exists? Using the wikipedia example:

_Originally posted by @tatar28 in https://github.com/numpy/numpy/issues/16381#issuecomment-634063574_

[2020-05-26 14:37] #16382 closed

[2020-05-26 14:43] #16381 closed

[2020-05-26 15:33] wrzadkow commented on #16380
Interestingly `_fit()` instead of `fit()` works here:

[code]

This suggest there might be a simple solution for the bug raised by @pv, as the necessary functionality seems to be implemented, with the problem being only in `fit()` always [returning](https://github.com/numpy/numpy/blob/a603d6382736bed4d787dcc6d8f9dac09db6ce21/numpy/polynomial/_polybase.py#L886) a single instance of Polynomial: `ret

[2020-05-26 15:39] saulshanabrook opened #16384 "No signature for arange"
Some NumPy C functions do not have signatures available. I have not audited the full API but I know this is true at least for `arange`.

It [sounds like](https://stackoverflow.com/a/25847066/907060) you can add signatures for functions defined in C by adding a `__text_signature__` attribute. Or you can add a `__signature__` attribute to return a [`Signature` instance](https://docs.python.org/3/lib

[2020-05-26 15:45] eric-wieser commented on #16384
Duplicate of #8734 I think

[2020-05-26 15:48] saulshanabrook commented on #8734
It seems like you can also add a [`__signature__` property](https://docs.python.org/3/library/inspect.html#inspect.unwrap) on the function to actually provide the Signature instance?

This might give a bit more flexibility than the `__text_signature__`.

[2020-05-26 15:49] saulshanabrook commented on #16384
Thanks, I missed that.

[2020-05-26 15:49] #16384 closed

[2020-05-26 16:11] charris commented on #16380
Duplicate of #4554.

[2020-05-26 16:12] eric-wieser commented on #8734
I don't believe it's possible to attach extra properties to C extension methods, although I remember seeing a PEP about it.

[2020-05-26 18:31] zooba commented on #16331
I posted a PR with the changes I made in my fork. There's more than can be done to tidy up these bits of code, but I went with the minimal change.

[2020-05-26 19:01] rossbar commented on #16377
Thanks for reporting - in this case, the error occurs because `isnan` doesn't support arrays with unicode dtype, though it could in principle. The more general solution would be to add support for strings to `isnan`.

[2020-05-26 19:28] anirudh2290 commented on #16377
not sure what isnan would mean for strings, as in when it will return True ? In the related PR, @ivirshup seems to be handling object dtypes mostly, for string it looks like it ignores the equal_nan flag.

[2020-05-26 19:35] bjnath opened #16388 "Increase font size of user documentation"
Our user docs would be more readable -- hence effective -- if the type were larger.

If you were to guess at a glance which of these had a clearer author, wouldn't you guess the second?
<br>
![image](https://user-images.githubusercontent.com/6691888/82939397-51214380-9f61-11ea-8198-155c03ff9a44.png)

<br>

![image](https://user-images.githubusercontent.com/6691888/82939615-9b0a2980-9f61-11ea-8e69-

[2020-05-26 19:37] rossbar commented on #16377
I'm not sure either, it would have to be discussed. Based on the following:

[code]

maybe `np.isnan(['nan']) == np.array([ True])` would be sensible?

Agreed, though it should be noted that in the motivating example, the dtype of the arrays being compared is unicode:

[code]

[2020-05-26 19:46] seberg commented on #16377
Well, we define `isnan` for numerical types right now only, but just like integers, the only valid definition would be that `isnan` is always `False`.

That would be a decision I would be OK with making. Of course you would be creating an array of bools for no reason in this case, but maybe that is not so bad...  We had hesitate for a long time to add e.g. integer and bool loops to `np.isnan`, but

[2020-05-26 20:00] anirudh2290 commented on #16377
is this done through __array_ufunc__ implementation for the class.

+1 , I think it makes sense to just keep erroring unless it has a isnan method implemented.

So, if i understand correctly the best path forward is to add support for isnan for string dtype and continue with existing behavior for object dtypes and probably not change array_equal (or maybe improve error message?).

[2020-05-26 20:08] seberg commented on #16377
Yes, lets ignore `object` here for now, its trickier.

String I think we can just propose, may need a bit of discussion (or maybe digging up the old discussion when we added bools and ints). We have no string ufuncs (this is mainly because you have to set the output string length correctly, which made, also me, always think that its tricky). The other point is that string promotion is still broken

[2020-05-26 21:00] anirudh2290 commented on #16377
okay thanks @seberg for the guidance ! So @ivirshup if you are interested in proposing something for string support for isnan that would be great here. Maybe some of the discussion topics that @seberg mentioned may be : https://github.com/numpy/numpy/pull/12988 and the xref'd issues.

Given the current discussion, I think we should close the current PR #16378 .

[2020-05-26 21:02] rossbar opened #16390 "Docstring example for np.records.core.fromstring doesn't render properly"
The docstring for `np.core.records.fromstring` contains the following snippet:

[code]

Some characters from the example are dropped in the [rendered docstring](https://numpy.org/devdocs/reference/generated/numpy.core.records.fromstring.html), i.e. `a = b'\x01\x02\x03abc` becomes `a = b'abc'`.

### Numpy/Python version information:

1.20.0.dev0+e4894ae 3.8.3 (default, May 17 2020, 18:15:42)
[GCC 1

[2020-05-26 21:03] rgommers commented on #16388
I agree. We should be moving the docs over to the new Sphinx theme (https://github.com/scipy/scipy-sphinx-theme-v2) which already has larger font I believe.

[2020-05-26 21:03] rossbar commented on #16390
Also reported here: sphinx-doc/sphinx#7735

[2020-05-26 21:18] #16331 closed

[2020-05-26 21:27] #15030 closed

[2020-05-26 22:02] weiji14 opened #16391 "Numpy timedelta64 NaT not converted to uint64 NaN"
Not sure if this is expected behaviour, but converting a timedelta64 Not a Time (NaT) object to an uint64 type doesn't give NaN. Instead, it produces a large number.

### Reproducing code example:

[code]

Current:
[code]

Expected:
[code]

### Error message:

### Numpy/Python version information:

1.18.2 3.8.2 | packaged by conda-forge | (default, Apr 24 2020, 08:20:52)
[GCC 7.3.0]

[2020-05-26 23:15] WarrenWeckesser commented on #16390
This should be fixed by making the docstring a raw string: https://github.com/numpy/numpy/pull/16393

[2020-05-26 23:31] rossbar opened #16394 "DOC,BLD: Switch to `xelatex` engine for latex docs?"
When building the latex/pdf version of the documentation, sphinx is currently configured to use `pdflatex` (the default) to build the pdfs of the user/reference manuals. There are several places in the documentation where the use of unicode characters causes `inputenc` warnings when building the pdf. In some cases these can be resolved by ensuring that extra latex packages are installed (e.g. `tex

[2020-05-26 23:40] seberg commented on #16394
Could be a good idea, isn't the `textcomp` package good enough to use all of those unicode characters, though? In general I like `xelatex`, etc. though, and it gives some nice freedoms around fonts as well...

[2020-05-27 00:22] rossbar commented on #16380
@wrzadkow you're definitely on the right track - the problem isn't with the fitting (as you point out, `_fit` works as-advertised), it's in the construction of polynomial instances in the `fit` classmethod that fails to handle the output from `_fit` correctly. It should be straightforward to fix in `ABCPolyBase`.

[2020-05-27 00:24] anirudh2290 commented on #15630
just reading through this issue, i think that given the lexicographic comparison in numpy, this behavior actually makes sense. if we are deprecating lexicographic comparison though, clip, max and min should also follow. I am assuming that this was the consensus reached here, but I wasn't very sure from the comments and the linked PRs.

[2020-05-27 00:34] #16390 closed

[2020-05-27 00:47] charris commented on #16380
@pv It would be helpful if you discussed exactly what you want to do. It is possible when not using the classes to store the coefficients in columns and eval all of them. For instance, I once used 3 dimensional arrays to store calibration polynomials for pixel arrays that could be applied to correct images with a single call. That may be preferable to a list of Polynomial instances.

[2020-05-27 02:33] ivirshup commented on #16377
Thanks for all the discussion and input. I'm not sure I completely agree with the conclusion you've drawn though.

This is because the use case I was hoping to use this functionality for will often have object arrays, for variable length strings. This comes from reading variable length strings out of `hdf5` or `zarr` arrays when using pandas dataframes. If the `isnan` approach is taken, and object

[2020-05-27 11:35] vigna commented on #16313
Well, it's trivial: decide the length of the stream, iterate, and check that the two streams do not cross the initial state. It's the same code I used to show the correlated PCG streams in the program http://prng.di.unimi.it/intpcgnumpy.c do not overlap.

[2020-05-27 12:16] #16302 closed

[2020-05-27 12:32] vigna commented on #16313
IMHO, the self-correlation within PCG is much worse. There is no result for the additive generator underlying a SplitMix instance analogous to Durst's dramatic 1989 results about LCGs.

But the very mild problems of SplitMix are known, and [JEP 356](https://openjdk.java.net/jeps/356) will provide a new class of splittable generators, LXM, trying to address those problems. It would be time to move

[2020-05-27 13:55] OldTyke opened #16401 "Numpy array error - storing data"
After working out a value, the value stored in the numpy array differs from the original.

### Reproducing code example:

import numpy as np

num = 54133488902259149863

TESTNUMS = 256

y = num.bit_length ()
y = y // 8

testArray = np.zeros((TESTNUMS, 2))

for x in range(2, TESTNUMS):
    xMod1 = x
    for count in range(1, y):
        xMod1 = ( xMod1 << 8)
        xMod1 = xMod1 | x

    if x == 6

[2020-05-27 14:07] #16372 closed

[2020-05-27 14:16] mattip commented on #16391
There is no such creature as an `int nan`, `float64` has the same behaviour.
[code]

We could perhaps warn here.

[2020-05-27 15:46] seberg commented on #16377
Well, the object case is just tricky.  The string case is pretty simple, the question is how to address it. I dislike the idea to just special case strings in multiple places in the code. If `isnan` worked for strings, it would be simple and e.g. adding a fast-path would seem OK. So that is why that would be me preferred approach if we can agree to implement `isnan`.

Object to me shows the exact

[2020-05-27 16:02] rkern commented on #16313
Thank you all for your input. For the moment, I am not interested in binary judgments like "PCG is good/bad". Please use your own forums for such discussions. What is on-topic here is what numpy will do, and that final judgment belongs to the numpy developers. We do appreciate the expertise that you all bring to this discussion, but I want to focus it on the underlying facts rather than the final

[2020-05-27 16:26] vigna commented on #16313
OK, this is embarrassing: it was half a _billion_, not half a _million_. A single letter can make a big difference. I apologize for the slip.

But, as I said early, this is the probability of hitting *exactly* the same starting state, not the probability of a significant overlap of correlated subsequences. Personally I prefer to use PRNGs without correlated subsequences, since there are plenty of

[2020-05-27 16:57] rossbar commented on #16380
IMO it makes sense for the `fit` method of the convenience classes to return instances of the corresponding class. At least that is consistent with the behavior of the other class methods (which return instances rather than coefficient arrays) and also consistent with the classmethod docstring, which says a series instance is returned.

Agreed, this functionality is still present, and if users wan

[2020-05-27 18:49] thomasrockhu opened #16405 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-27 18:54] rgommers commented on #16405
@tylerjereddy is the `codecov` use in `tools/travis-test.sh` still useful, or is it a left-over? The data in https://codecov.io/gh/numpy/numpy/tree/master/numpy doesn't have any Python code, so I assume no one is looking at this or we'd have noticed.

[2020-05-27 18:56] thomasrockhu commented on #16405
@rgommers if that's true, I'd be happy to help to see how we can make it useful for you. Codecov is free and will always be free for open-source.

[2020-05-27 18:59] rgommers commented on #16405
Thanks @thomasrockhu. The reason we aren't looking anymore is that your bot was so noisy and persistent that we had to block it from posting any comments. If we try the new app integration and that's nicer, we know how to fix uploading the Python coverage results.

[2020-05-27 19:01] thomasrockhu commented on #16405
@rgommers I totally understand. If the bot is being too noisy, you can always mute it by creating a `codecov.yml` file in the root with
[code]
Let me know if that is what you're looking for, or if that's not what you had meant.

[2020-05-27 19:04] anirudh2290 commented on #16377
I think we can add support for isnan for strings, but to the original question of whether we want to support isfinite and isinf, I am not too sure. I think we can start with isnan for now, isfinite and isinf are more likely to be used with isclose, which i dont think is going to be needed here. Though it is a bit inconsistent to support string only for isnan and not isfinite and isinf.

[2020-05-27 19:04] rgommers commented on #16405
yeah we tried, that didn't stop it in the past :)

[2020-05-27 19:05] rgommers commented on #16405
The GitHub app integration replaces the bot I hope?

[2020-05-27 19:06] thomasrockhu commented on #16405
Yes, the app integration replaces the bot. As for the yaml issue, I'm sorry to hear it didn't work in the past. I'm happy to help you fix that if it isn't working as expected.

[2020-05-27 19:15] seberg commented on #16405
I was noticing this lately, and that would be great to get codecov up and running again in a more accessible/discoverable way. Its running, but I guess we probably don't check it as much as would be useful juts because its a bit hidden...

Lets discuss it in the meeting briefly, but I really would like to set this up ASAP even if it requires some iteration to get the noise level to where we want i

[2020-05-27 19:33] dkogan opened #16406 "numpy.intersect1d() should be clear about the consequences of assume_unique=Tru"
Hi. This is a minor documentation request. When you give numpy.intersect1d() non-unique data, but set assume_unique=True, then you get out-of-bounds indices. It would be nice if the docstring clearly indicated that this would happen. It woudl be very helpful if you THINK you're giving it unique data, but aren't. Reproducing snippet:

[code]

I get

[code]

in the output, which is clearly wrong sin

[2020-05-27 19:40] sharthZ23 opened #16407 "numpy.ravel tries to allocate memory instead of creating a view"
`numpy.ravel()` tries to allocate memory instead of creating a view.
I want to create two special _flatten_ views of my large `int32 array` (10^6 - 10^8):
- Repeat every element `array.size` times
- Repeat whole array `array.size` times

For this, I tried to create 2D views with `as_strided`. But when I use `view.ravel()` with it throws `MemoryError`.
As I understand, `as_strided`  provides memory

[2020-05-27 19:49] seberg commented on #16407
Ravel has the (possibly strange) guarantee of returning a contiguous memory block. That is even documented. OTOH `.reshape(-1)` will always try to return a view correctly, with the downside of ravelling either in `C` or `F` order (unlike `ravel()` `order="K"` is not supported right now).

[2020-05-27 19:49] imneme commented on #16313
@rkern, you asked:

Thanks for finding and linking back to the discussion thread from last year. Yes, as Sebastiano notes in his response,

XSL-RR is at the weaker end of things.  In contrast, both the original RXS-M output function from the PCG paper, and the new DXSM output function do more in the way of scrambling, and so don't show these kinds of issues.  DXSM (added to the PCG source in [this

[2020-05-27 19:53] tylerjereddy commented on #16405
@rgommers I think it may still be useful--it is basically copied from the work @pv did to incorporate compiled language coverage into codecov reports in SciPy CI.

I suspect if the app "just works" (or, with a bit of iteration), then the same `gcov` results funneled to codecov will integrate with Python coverage the same way they did before.

[2020-05-27 19:54] tylerjereddy commented on #16405
I can't make the meeting, but +1 for reactivation of the service (in NumPy & SciPy) now that we have a responsive contact. We saw that having a responsive contact has also been quite productive for swiftly resolving Azure CI matters as well.

[2020-05-27 19:58] sharthZ23 commented on #16407
Got the same error with it:
[code]

[2020-05-27 20:03] melissawm commented on #16394
I like `xelatex` personally, but it can be much slower than `pdflatex`. Could that impact the docs build time significantly or is that irrelevant here?

[2020-05-27 20:06] eric-wieser commented on #16407
There is no way to ravel an array with a dimension with 0 stride (like the ones you create here).

[2020-05-27 20:07] sbroberg commented on #15594
@rgommers Can you clarify?  What is the "old install issue"?  I'm having the exact same error, when trying to import numpy cross-compiled using the python crossenv module onto aarch64-linux-android (Android 10, API 28).

I've tried statically linking libm when building numpy, but it only statically links /_multiarray_umath.cpython, not /_multiarray_test.cpython.  libm.so is present in my path, and

[2020-05-27 20:10] eric-wieser commented on #16407
Perhaps we could add to the error message if we detect zero strides?

[2020-05-27 20:17] sharthZ23 commented on #16407
Oh, so there is no way to create array with repeated elements without allocating memory?

[2020-05-27 20:19] rgommers commented on #16405
I installed the GitHub App, @seberg and/or @tylerjereddy please go ahead and play/tweak/fix:)

[2020-05-27 20:27] thomasrockhu commented on #16405
Standing at the ready for any questions and feedback!

[2020-05-27 21:19] #15898 closed

[2020-05-27 21:22] eric-wieser commented on #16407
The repetition can only be across a complete axis. Partial repetitions within an axis can't be handled with striding.

Are you sure you need to make your data 1d?

[2020-05-27 21:36] mattip commented on #16401
Please reformat the code snippet to turn it into valid python: use the `...` in the upper right-hand corner of your description comment to get a pull-down menu, and hit edit, then use the `<>` code format on the tool bar. More info [here](https://guides.github.com/features/mastering-markdown/). You can use the "Preview" tab to make sure it looks OK.

Once that works, try to reformulate what you ex

[2020-05-27 21:48] charris commented on #16394
@rossbar I assume this is the issue you discussed in the community meeting. Keep me informed, I'd like to get 1.19.0rc2 out this weekend.

[2020-05-27 21:53] rossbar commented on #16394
@charris - correct, I will make sure everything is updated/labelled appropriately before Friday

[2020-05-27 22:02] sharthZ23 commented on #16407
I need it because I pass them to cython function from another lib as `int[::1]` arguments. That's why I can't use `numpy.flat` (because of `TypeError: a bytes-like object is required, not "numpy.flatiter"`).

It looks like the easiest solution is to rewrite the function using two-dimensional arrays.

[2020-05-27 22:11] rossbar commented on #16394
Great point - I did some quick profiling to get an idea of the build times. The results of `time make -C build/latex` on my system

with `pdflatex`:
[code]

with `xelatex`:
[code]
So `xelatex` is definitely slower, but the total build time still isn't so bad, especially since I don't think building the latex docs from source is very common for most users. Note that in each case, the `latex->pdf` s

[2020-05-27 22:14] seberg commented on #16407
@sharthZ23 an `int[::1]` requires contiguous memory, which by definition is exactly what `ravel` gives you. You would have to modify that cython function.

[2020-05-27 22:37] melissawm commented on #16394
Oh, then if it's irrelevant I'd say we go for it. `xelatex` is available in every major `LaTeX` distribution on whatever OS, and it does make everything easier with respect to unicode and font issues.

[2020-05-28 06:45] huonw opened #16410 "empty, zeros, ones, full allocate product of non-zero size elements, even if final array is zero-sized"
Functions like `np.zeros`, `np.empty`, `np.ones` and `np.full` can be used to allocate large arrays easily. However, they always allocate memory, even if the array contains no data because one of the shape elements is 0. They, in particular, seem to allocate memory ignoring the 0s in the shape (`np.product([x for x in shape if x != 0])`).

If any of the shape elements in zero, there's no possibili

[2020-05-28 06:49] Samson-Valentin commented on #11253
Hi, thank you for the solution. I was just wondering how can I do this fix (I'm working on Jupyter). I don't understand how to access to the Python library to make the change.

[2020-05-28 06:59] eric-wieser commented on #16410
I think @mattip and I both have (had?) open PRs about this.

[2020-05-28 07:05] mattip commented on #16410
Right, gh-15780 was rejected since it hit undefined behaviour in the C spec, and gh-15788 is still marked "Draft"

[2020-05-28 08:24] huonw commented on #16410
Nice!

I noticed that this applies to (fancy) indexing along a non-zero sized axis too, e.g.:

[code]
[code]

Can this be considered as part of this issue/those PRs, or should I open a separate one?

[2020-05-28 09:18] rgommers commented on #15594
@sbroberg we have a ton of such install issues without steps to reproduce them nor a build log. There's basically nothing we can say except "something went wrong here".

If you open a new issue, please try and make it reproducible. Also, cross-compiling is generally problematic, `distutils` doesn't really support it. I also have no idea what `crossenv` is.

My recommendation would to avoid cross-c

[2020-05-28 09:24] mattip commented on #15594
You can test drive them at https://anaconda.org/scipy-wheels-nightly/numpy/

[2020-05-28 12:35] #16394 closed

[2020-05-28 13:18] charris commented on #14169
Is this still a problem?

[2020-05-28 14:31] mirkhosro commented on #13666
Hello. This issue seems to be still there in version '1.18.4' of numpy.
Same code as above reproduces the error
[code]

[2020-05-28 14:40] seberg commented on #13666
@mirkhosro the error message tries to explain what is going on here. That for object arrays, in most cases these ufuncs will not work (unless the objects happen to have the correct method).

Improvements to the message are welcome! But I am not sure I have an idea to be honest.

[2020-05-28 14:57] mirkhosro commented on #13666
the error message may be helpful for numpy developers but is still cryptic for numpy users who have no idea what `ufunc` is or which `loop` it's referring to.
You're right, it's probably not easy to come up with a better message. I just wanted to inform you that from a user point-of-view it's still not very useful, and took me Googling around to find out what was going on.

[2020-05-28 15:03] eric-wieser commented on #13666
Perhaps simply
[code]

[2020-05-28 15:33] seberg commented on #16410
Yes, there is no difference with fancy indexing, since in the end it also allocates a normal array.
So it is a duplicate of gh-15753 and those PRs address it.
I fine with either proposal (just because at some point this was likely intentionally, does not mean it was good), but to be honest I very enthusiastic about trying to figure out whether or not its a good idea. (I suppose right now I fail to

[2020-05-28 15:42] seberg commented on #16407
I am going to close this, but please do continue the discussion @sharthZ23 (and if you think we can improve some message docs, that would be very welcome!), but it seems to me that there is nothing as such we can address/change here.

[2020-05-28 15:42] #16407 closed

[2020-05-28 16:15] bmcfee opened #16415 "einsum optimize overrides order"
I'm not sure if this is intended / expected behavior, but changing the `optimize=` parameter in `einsum` results in different memory layouts, even when the `order=` parameter is given.

This to me seems to contradict the documentation for the order parameter.

I didn't see anything else in the documentation to suggest this behavior, and none of the open issues on einsum seem to cover this (though

[2020-05-28 16:59] danvip10 opened #16416 "Can't import module created by f2py "ImportError: DLL load failed""
I'm trying to use f2py to use some fortran code. I am trying to reproduce the example in the documentation of [f2py](https://numpy.org/doc/stable/f2py/getting-started.html)

System: Windows 10
Python: Python 3.7.7 [MSC v.1916 64 bit (AMD64)]
numpy: 1.18.1
I installed mingw64 and also the Visual C++ Redistributable after seeing some answers in SO suggesting that. However nothing has worked.

I have

[2020-05-28 17:12] rossbar commented on #16406
Thanks for reporting @dkogan ! On the one hand, it could be argued that the documentation is already pretty clear here: the name `assume_unique` itself is already pretty descriptive, and the parameter description makes it clear it is an optimization feature. IMO the current documentation is sufficient to dissuade users from explicitly setting `assume_unique=True` with non-unique inputs. On the oth

[2020-05-28 17:33] rossbar commented on #16379
I'm going to go ahead and close this due to lack of information to go on.

@MilanCugur if you are still having issues, feel free to re-open/open a new issue with additional information on OS, version numbers, how numpy was installed, etc.

[2020-05-28 17:33] #16379 closed

[2020-05-28 17:38] pv commented on #16380
@charris: I was hoping to see numpy.polynomial.Polynomial to support array-valued polynomials, i.e. `f(x) = c[0] + c[1]*x + c[2]*x**2 + ...` where the coefficients `c` are arrays of the same shape. (Similarly as the "new" scipy spline/piecewise polynomial classes.)

Here, I was not so much after `Polynomial.fit`, but instead having the array-valued support in the base class itself. I'm not sure if

[2020-05-28 17:44] dkogan commented on #16406
That extra bit of text would have saved me at least one hour of debugging time yesterday. I'll submit a pr in a bit.

[2020-05-28 18:00] charris commented on #16380
@pv If I understand correctly, that is already supported by the functions in `numpy/polynomial/polynomial`. For instance
[code]

[2020-05-28 18:17] pv commented on #16380
Yes. The class-based interface however does not support that, and I filed this issue I had expected it would.

[2020-05-28 18:23] charris commented on #16380
@pv Ah. I think we could probably do that. The `domain` and `window` would need to be fixed for all the polynomials, and some other things would need to be adjusted.

[2020-05-28 19:13] WarrenWeckesser commented on #14169
@charris, yes, for the legacy random interface, it still is: https://github.com/numpy/numpy/blob/ba4e4b6558050e0ef0fa3a312a46d65a5f021c16/numpy/random/mtrand.pyx#L979

The recommended way to avoid the problem is to do what @seberg suggested in a comment last year: use the new API that was introduced in 1.17.  It doesn't have this problem:

[code]

In theory, we could fix the old code by making a c

[2020-05-28 19:17] eric-wieser commented on #16380
One thing to watch out for here - do we want to rule out an API for the classes where an `NxM` array of coefficients represents `(x,y) -> sum_mn {c_ij x^i y^j}`?

[2020-05-28 19:24] charris commented on #16380
@eric-wieser Mixing the two types, `tensor={True, False}` gets complicated, but could be done. Dealing with derivatives and integrals also gets tricky. I'm open to ideas of what such an interface would look like

[2020-05-28 19:54] charris commented on #16380
And now I'm wondering if polyval2d handles arrays of two variable polynomials...

[2020-05-28 20:59] seberg commented on #16415
The optimized path can go into BLAS which is much faster and probably simply ignores the order.  Not sure how easy it is to fix, unless we simply skip the optimization.
Its not unlikely that the fast path creates the output array and passes it into `np.dot` basically, in which case it may be actually be fairly straight forward to fix.

@dgasmith just a gentle ping in case you want to/have time to

[2020-05-28 21:00] rossbar opened #16419 "Problem compiling numpy with GCC 10.1"
When attempting to build numpy locally I had received the following error:

[code]

`bisect`ing identified 1809a0fde as the source of the issue. Note that this error only occurred for me with gcc 10.1. No problems were encountered with gcc 9.3.

### Reproducing code example:

[code]

### Error message:

<details>
  <summary>Full build log</summary>
<pre>
Running from numpy source directory.
Cython

[2020-05-28 21:11] seberg commented on #16419
I guess those definitions are probably not strictly OK to be there (now that you note it, clang static analysis is also giving me some warnings about it). They probably need to be moved to the specific header files until we make them public?

[2020-05-28 22:26] charris commented on #16419
I see that too, gcc 10.1.1. Upgraded my OS last night, there are always problems after...

[2020-05-29 06:27] bashtage commented on #9365
Yes. You should be able to stick the RDRAND bit generator from `randomgen` into a NumPy Generator, if one wanted to. It is very slow.

[2020-05-29 06:45] kimnamu commented on #9547
I had the same problem. I reinstall 1.17.4 version. Then the problem was solved.
[code]

[2020-05-29 08:07] FlorentijnD opened #16424 "Numpy wheel for ARMv7 processor"
@Feature request/question

**System information**
- Hardware : Freescale i.MX6 Quad/DualLite
- Processor: ARMv7 Processor rev 10 (v71)
- OS Platform and Distribution: Yocto built Linux distribution (kernel 4.9.4+)
- Installed python version: 3.6.5 (can be altered to 3.7/3.8)
- Installed pip3 version: 9.0.3 (can be altered too)

I'm trying to find a numpy wheel which I can install using pip3 on the

[2020-05-29 10:41] bashtage opened #16425 "Clang produces warnings about casts of large integers to doubles change values"
I recently build with clang-cl and it found two issues that look like they may be not 100% right:

I don't know anything about the first. It looks a bit worrying to me since it seems to be referring to INTP size. But maybe it just needs an explicit cast.

The second is in random distributions. It probably needs an explicit cast since double cannot come close to representing the exact value on 64-b

[2020-05-29 10:45] bjnath commented on #16388
No need to keep this open then. Thanks!

[2020-05-29 10:45] #16388 closed

[2020-05-29 11:10] eric-wieser commented on #16425
In context:

https://github.com/numpy/numpy/blob/5a4140d722117afc89869d5772ddd7a67448cfbc/numpy/core/src/multiarray/ctors.c#L3135-L3160

[2020-05-29 11:13] eric-wieser commented on #16425
Note that `PyArray_Arange` is not actually used anywhere within numpy, and is just part of the C API - so it would be tricky to attempt to trigger an actual bug.

[2020-05-29 11:16] bjnath commented on #16244
Thanks for your comments @melissawm. There are some points still unaddressed. Some need wider discussion (starred items) and some I'm unable to answer without your help.

<b>3,6* </b>-- Should tutorials restrict users to one platform (eg IPython)? This will (perhaps) resolve 3 (what kind of prompts to print) and 6 (we'll give specific instructions based on the specific platform).

<b>5*</b> -- Ded

[2020-05-29 11:24] eric-wieser opened #16426 "np.arange sometimes gives an empty array instead of MemoryError"
Possibly related to #16425

### Reproducing code example:

[code]

### Numpy/Python version information:

1.20.0.dev0+c4a1aef 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:37:50) [MSC v.1916 64 bit (AMD64)]'

[2020-05-29 11:50] Command2017 commented on #14647
Hey Hey
I just created a little package called numpyprint, which prints numpy arrays nicely in a table. It porvides some options to change the output. I just started with the package and so far it works fine for me.

https://pypi.org/project/numpyprint/0.1.1/#description

Of course it is not perfect for everything but i think for a short overview it will work ;-)

What do you think about it ?

[2020-05-29 11:55] eric-wieser commented on #14647
@Command2017, your PyPI release links to https://github.com/pypa/sampleproject, which looks questionable!

[2020-05-29 12:26] dgasmith commented on #16415
The optimized output is a view to a `...tm` array as it is the cheapest way to align the GEMMs not the `...mt` requested ordering which is why the output is neither C or F ordering with optimization on.

It doesn't look like we handle the GEMM cases well with regard to out ordering well. This should be a fairly easy add for C/F/A ordering, it has been a bit but I think `K` ordering for several ten

[2020-05-29 12:31] rgommers commented on #16262
@bjnath I think we should also add the reference to the Google style guide to https://numpy.org/devdocs/docs/howto_document.html#overview, that will help contributors get this right. Would you mind doing that?

[2020-05-29 12:33] Command2017 commented on #14647
@eric-wieser

Hey thanks for your replay. I copy and pasted a template and overlooked that url. I just fixed it.
https://pypi.org/project/numpyprint

[2020-05-29 12:40] rgommers commented on #14817
This was done in gh-16069, closing. Thanks all.

[2020-05-29 12:40] #14817 closed

[2020-05-29 12:47] rgommers commented on #14038
Latest versions:
- https://numpy.org/devdocs/user/basics.indexing.html
- https://numpy.org/devdocs/reference/arrays.indexing.html

[2020-05-29 13:09] melissawm commented on #15760
Quick comment: I've been working on this and have the feeling it might be best done as a notebook because it will add all those dependencies (Zarr, Pytables, etc) to the NumPy build which I don't think is a good idea. However, I really think we should have a static version that doesn't run through the CI as part of our documentation (noting that we don't have any how-tos yet and this should at lea

[2020-05-29 13:29] rgommers commented on #15760
Agreed, thanks Melissa. We can just exclude the page from CI.

[2020-05-29 13:29] seberg commented on #16415
K means keep order, but OTOH, the main reason for it is to order as fast as possible given the input. Maybe for K we can just document briefly in some notes.

[2020-05-29 14:28] simsong commented on #9365
Speed is really a relative term. We have a cluster with 20 machines, each with 96 cores.  With 8 cores per die, there are 12 8-core processors. There is only 1 random number generator per die. So we have 12*20=240 true random number generators. According to [Intel's documentation](https://software.intel.com/content/www/us/en/develop/articles/intel-digital-random-number-generator-drng-software-impl

[2020-05-29 14:56] bashtage commented on #9365
The only documentation is here as far as I know.

https://bashtage.github.io/randomgen/extending.html#new-bit-generators

[2020-05-29 15:04] #16262 closed

[2020-05-29 15:34] simsong commented on #9365
Thanks for the suggestion to use AESCounter(). In fact, Intel implemented the RDRAND instruction with a AES in counter mode internally for 511 out of 512 draws on the entropy source.  (The entropy pool is from thermal noise, which is then hashed and used for AES in counter mode.) The problem with AESCounter() is that it seeds from `/dev/urandom`, which is not a high-quality random number source wh

[2020-05-29 15:42] bashtage commented on #9365
You can combine the two if you have bad or undertain entropy:

[code]

Happy to take a look.

[2020-05-29 16:14] sidhant007 opened #16429 "ENH: savetxt should write bytes without the b-prefixed notation in Python3"
Currently in Python3 when `savetxt` is called on bytes array, it writes b-prefixed bytes to the file object. This leaks out python's internal representation of bytes (i.e b-prefixed) to a generic data exchange format (Ex. CSV) and the result is not round tripping, i.e I am unable to recover the bytes array (or its equivalent string representation in arbitrary encoding) using `loadtxt`

Similar iss

[2020-05-29 16:26] eric-wieser commented on #16429
Well, strictly you asked for this behavior because in python 3, `"%s" % b'test'` gives `"b'test'"`

So I'd argue this is working as intended.

However, it's clearly not the behavior you wanted. What exactly is the behavior you want though? What should this do:
[code]

[2020-05-29 16:53] HPLegion opened #16431 "Small error in docstring for np.clip"
Hi everyone :)

I found a small inaccuracy in the docs for np.clip. There it says

https://github.com/numpy/numpy/blob/master/numpy/core/fromnumeric.py#L2039-L2051

but the function actually seems to behave like `np.minimum(a_max, np.maximum(a, a_min))`

To be fair: This is only relevant if the user mixes up the order of the inputs.

[code]

[2020-05-29 17:02] WarrenWeckesser commented on #16426
The calculation of the  length of the result goes through an intermediate floating point calculation, and when the spacing (i.e. `np.spacing(value)`) is more than one, precision is lost and the length (in most cases) is wrong.  Even in a case where the expected memory error occurs, you can see that the amount that it tried to allocate is incorrect.  Here, the length should be 2**62+1 =  4611686018

[2020-05-29 17:02] eric-wieser commented on #16431
Duplicate of #15693

[2020-05-29 17:03] eric-wieser commented on #16431
The lines you link to do not say what you claim they do :)

[2020-05-29 17:03] #16431 closed

[2020-05-29 17:12] WarrenWeckesser commented on #16426
Or perhaps it would be simpler to just reject any attempt to create a result with length greater than `2**52`.

[2020-05-29 17:28] alanhdu opened #16432 "[Feature Request] Make numpy scalar types JSON serializable"
Apologies if this feature request already exists -- I feel like it probably does, but I wasn't able to find it anywhere.

Most numpy scalars are not JSON serializable. For example:
[code]
fails with `TypeError: Object of type float32 is not JSON serializable`.

This is especially irritating when you build Python dict/lists that retrieve items from numpy arrays -- in the `repr`, these numpy scalars

[2020-05-29 17:41] seberg commented on #16432
Float64 is serializable because it inherits it from the python float (it is a subclass), so you will get a normal python float when deserializing.
I am not sure if we can implement this easily, maybe there is a good way, in which case on it seems acceptable to me.  One side note: You can use `scalar.item()` to get a "python-type", which in most cases is serializable. (it will be just a python floa

[2020-05-29 17:54] pv commented on #16380
The tensor product basis adds some more complications, are less often needed than 1-d, and AFAIK only limited operations on them are implemented in the current codebase. So I'm not sure it's useful to stuff that in the existing Polynomial/etc. classes. Extending the current Polynomial class to array-valued is probably not so hard, but stuffing the n-dim there too sounds like quite a bit more work,

[2020-05-29 18:05] bjnath commented on #13940
The `Notes` section explains why `abs` is not redundant:

`Notes` also explains explains the intended use of `ddof`  (`delta degrees of freedom`):

`ddof` would not be useful for an inner mean, because N will already have been reduced by the outliers that you removed.

[2020-05-29 18:10] charris commented on #16380
@pv Agree, my thoughts would be to just do the `tensor=False` case. The difference between the two cases is that one uses `*` and the other does outer (tensor) products. For classes, one could add Polynomial2D, etc. There is also the possibility of a more fundamental base class with just the basic operations, but those can always be done later and I suspect go beyond what should be in NumPy.

[2020-05-29 18:31] rkern commented on #16432
We can't do anything to make our objects automatically JSON-encodable, I don't think. The `json` module explicitly requires you to specify the [`JSONEncoder`](https://docs.python.org/3/library/json.html#json.JSONEncoder) if you don't just want the defaults. It's possible that we could provide one for people to use, but there are different tradeoffs that probably belong to the users to determine. F

[2020-05-29 18:33] seberg commented on #13940
True, lets just reopen for now? `outer` seems better, but maybe the best is just just expand the whole docstring a bit, the "outer" mean also uses `x` and misses the `x - x.mean()` part, I am wondering if splitting it up using `deviation = x - x.mean()`. Or just spelling out the whole formula *including* ddof, and then mentioning that with `ddof=0` the outer sum/N becomes a simple mean?

Anyway, I

[2020-05-29 18:35] rkern commented on #13940
I like splitting it up (for clarity, if not concision), and I like including `ddof`.

[2020-05-29 18:36] seberg commented on #16432
Yeah, there seem to be encoders out there, e.g. https://pypi.org/project/django-numpy-json-encoder/ but likely more that support NumPy. So I guess this is something best left untouched.  I guess at best we could start moving some such project under the NumPy organization umbrella, although I honestly doubt we would gain anything...

[2020-05-29 18:41] rkern commented on #16432
It's worth documenting in whichever parts of the documentation where we talk about serialization. Linking to projects as small as these is subject to linkrot, but that would at least give people a Google target. Giving a quick example of using `JSONEncoder` to convert `np.integer` scalars to `int`, `np.floating` scalars to `float`, `np.complexfloating` scalars to `complex` would be useful.

[2020-05-29 19:16] tacaswell commented on #16419
I am seeing this with

[code]

[2020-05-29 19:54] seberg commented on #16419
The error is a missing `extern` on the declaration, gh-16435 should fix it, Ross tested it for me.

[2020-05-29 20:08] sbroberg commented on #15594
@rgommers

Thanks for the prompt reply.  I can have a very reproducible case for you within a week

Believe me, nothing would please me more than to not have to do build this stuff myself.  FYI, [crossenv](https://pypi.org/project/crossenv/) is a python module that facilitates cross-compiling other python modules.

You'll have to forgive me, because python is not my domain, and I've been tasked wi

[2020-05-29 20:12] sbroberg commented on #15594
@mattip: Thanks for the tip.  I tried doing this on my bare metal environment (running directly in the Android device via adb shell, with a cross-compiled python3.5), but I got this:

`./pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple numpy
Looking in indexes: https://pypi.anaconda.org/scipy-wheels-nightly/simple
ERROR: Could not find a version that satisfies the requirement n

[2020-05-29 20:12] rgommers commented on #15594
Here's a self-contained ARM64 installer: https://github.com/conda-forge/miniforge#miniforge3

[2020-05-29 20:18] charris commented on #15594
That's the problem. The test wheels only support 3.6+. If you have a choice, a later version of Python would be good, we may drop 3.6 for numpy 1.20.

[2020-05-29 20:19] rgommers commented on #15594
Yeah that doesn't sound like fun. I see there are no conda-forge `aarch64` packages. There's unofficial wheels at https://pypi.org/project/opencv-python-aarch64/ though. Worth a try I'd say. You should be able to install those wheels into Miniforge. And Miniforge/conda-forge does have packages for NumPy, SciPy, Pandas, etc. So you may be able to do this without having to build anything.

If those

[2020-05-29 20:38] charris commented on #15594
There are no aarch64 opencv wheels on PyPI that support recent Python. The one that is up there is three years old and only supports Python 3.4.

[2020-05-29 20:50] WillAyd commented on #9808
Any pointers on how to introspect the size of the operands at this point during iteration? I think the stride information is accessible through the `**dtypes` struct member of `NewNpyArrayIterObject_tag`

[2020-05-29 21:30] #16419 closed

[2020-05-29 22:08] eric-wieser commented on #9808
This sounds like the issue that stumped me. I think my conclusion was that tracking that state was the caller's problem, but I don't remember too well.

[2020-05-29 23:14] dustiestgolf commented on #13457
Hi, I think that the default behaviour of the function `sinc` should be the one which does the least under the hood and I believe that the current implementation is misleading. This issue currently remains open elsewhere ([11004](https://github.com/numpy/numpy/issues/11004)).

NEP 23 is a good guide for deprecation policy but it is not yet complete. For example In the discussion about NEP 23 ([her

[2020-05-29 23:29] seberg commented on #13457
I agree that it is bit of a trap and I personally agree with the email that there are some cases where after careful consideration we should be open to some changes.
But *changing* behaviour from one default to the other in this way is potentially extremely disruptive and the potential of silently wrong results in old code resurrected after years, with almost no chance of noticing the change is re

[2020-05-30 01:13] Dan-Patterson opened #16440 "Package updates on anaconda"
I was told before that it isn't your problem, however, I put in a package request on the Anaconda Issues site at...

[package request: update numpy #11806](https://github.com/ContinuumIO/anaconda-issues/issues/11806)

Given the current circumstances, this may be understandable, but just thought I would give you an FYI that packages are still at 1.18.1.

[2020-05-30 01:56] anirudh2290 commented on #9331
@rossbar added this feature here : https://github.com/numpy/numpy/pull/16128

[2020-05-30 02:37] rossbar commented on #9331
Thanks for the xref @anirudh2290, just a quick clarification - the feature added in #16128 affected `np.array_equal`, not `np.testing.assert_array_equal`. The reference is useful though as there was some related discussion in #9229, which was closed by #16128.

[2020-05-30 03:26] anirudh2290 commented on #9331
ohh right! thanks for the clarification.

[2020-05-30 05:20] dustiestgolf commented on #13457
I agree that this would be much more disruptive. As much as I would like to keep the name `sinc` for the function as I would like it to be implemented, you are correct. The potential fallout of the change is too great and much too quiet. The different implementations across scipy is unnerving to me but I would be loathe to push other packages toward normalized sinc as the default.

You make a comp

[2020-05-30 06:43] FranzAtGithub opened #16443 "__str__-method seems to use __repr__-method of dtype instead of __str__"
Hello,

I am teaching the basics of numerical linear algebra using NumPy to implement some examples. In this context I would like to use the `decimal.Decimal` class inside of an `ndarray` to showcase the relevance of the number of precision bits for the outcome of an algorithm.

However I find the the screen output of such an array is rather hard to read. It seems as if NumPy displays the contents

[2020-05-30 06:49] HPLegion commented on #16431
Oh dear :eyes:  missing duplicate issues and that it is fixed in the lines I quote... :1st_place_medal:
Cheers for closing :)

[2020-05-30 07:45] eric-wieser commented on #16443
Note that this behavior is consistent with the behavior of `str([Decimal('1.2')])` when not using `numpy`, so it's unlikely we will change this.

However, you can certainly configure this to behave how you want:
[code]
or if you want it to be set globally
[code]

[2020-05-30 09:34] rgommers commented on #13457
The docs for `sinc` have `pi`, but the normalization could be spelled out more clearly. I'll send a PR.

Please no new functions for something that's trivial to do as `sinc(x / np.pi)`.

[2020-05-30 09:43] rgommers commented on #13457
Also, NumPy, SciPy and Matlab do the same thing. SymPy and Mathematica, which have a fairly different (and smaller) audience, make the opposite choice. So there's no reason to worry about consistency here - just documenting things clearly to minimize mistaken assumptions by users.

[2020-05-30 09:51] rgommers commented on #16440
Thanks for asking @Dan-Patterson. I think this isn't unexpected, although I wish bugfix release updates in `defaults` would be a little faster. Anaconda does a lot of testing and provides stability guarantees for its `defaults` channel. Hence it should be expected to be ~3 months behind. Often new NumPy minor releases come out much sooner than that because of NumPy's central place in the ecosystem

[2020-05-30 09:54] rgommers commented on #16440
https://numpy.org/install recommendations look reasonable, I don't think it makes sense to add this info there. So not sure there's much we can do. Hence I'll close this issue. Please feel free to continue the conversation though @Dan-Patterson

[2020-05-30 09:54] #16440 closed

[2020-05-30 12:06] rgommers commented on #15594
Ah, missed that. Then contributing on the conda-forge feedstock would be my recommendation.

[2020-05-30 12:42] sidhant007 commented on #16429
Hi @eric-wieser

You are correct, I should have been more clear in explaining the desired behaviour I wanted.

I agree that `x` needs to be converted with a specific encoding and that `fmt` works as expected according to how python 3 defines the `__str__` method on bytes.

I wanted to be able to provide an encoding to the `np.savetxt` and then it uses that encoding to decode the bytes. So we don't

[2020-05-30 13:31] bjourne commented on #7543
`np.random.multinomial` is still faster:

[code]

Additionally, the calls return different values even if you initialize the generator with the same seed:
[code]

[2020-05-30 13:50] rgommers commented on #16424
I don't know, I'm not aware of any. For ARMv7 binaries I think you could use, e.g., Debian or Berryconda, or build from source.

We're adding `aarch64` wheels, but ARMv7 won't happen anymore. There's no CI support for it, nor `manylinux` support I believe.

[2020-05-30 13:58] bjnath commented on #13940
I apologize; I misread

We might avoid "inner mean" and "outer mean" because the terms already have significance: [inner](https://www.dummies.com/education/science/biology/other-means-besides-the-arithmetic-mean-to-measure-central-tendency/), [outer](https://www.tandfonline.com/keyword/Outer+Mean).

Two other reviewers also took "inner mean" and "outer mean" to be things in their own right and not

[2020-05-30 15:08] FranzAtGithub commented on #16443
Thank you very much.
In fact I was not aware of the fact that this is the same behavior for normal lists as well.

[2020-05-30 15:08] #16443 closed

[2020-05-30 16:36] bjnath commented on #13940
Here is a proposed wording:

![image](https://user-images.githubusercontent.com/6691888/83334017-aca94500-a271-11ea-8680-8b0f11873f6a.png)

I'm new to NumPy so some notation may need straightening out.

I can then file a PR that includes standard deviation as well.

[2020-05-30 16:51] rgommers opened #16448 "Sphinx build caching is broken"
Doing:
- `make html`
- changing a single docstring in the inplace build you're using
- `make html`

will result in:
[code]
If you commit that change to the one docstring, delete `numpy/version.py` and do another inplace build to regenerate the version number, then `make html` will do a full rebuild.

I'm pretty sure this used to work and either us or Sphinx broke caching here. I had a look through

[2020-05-30 19:06] rossbar commented on #13940
Just to make sure the conversation is focused on the correct version of the docstring: the wording for the Notes in `var` was recently updated (see #16278) following similar changes to `std` (see discussion in #16267).

[2020-05-30 20:22] pearu commented on #14938
Here is a list of topics where f2py requires improvements:
- Fortran 90 derived types: this is the only Fortran feature that support is missing in f2py. It has been (too) long in my todo list and the features have been asked by many since the beginning of f2py. In the past, one attempt was made by Jeffrey Hagelberg to implement the derived support but it was never completed. Unfortunately, the cor

[2020-05-30 21:10] mhvk commented on #16380
Comment from the sidelines: right now all the attributes of a polynomial are stored as `ndarray`, but when evaluating using a polynomial instance, it effectively has shape `()` for broadcasting purposes.

I don't think you'd ever want to have anything explicitly broadcast against the dimension that numbers the coefficients (which is the current `coef.shape`), so if one makes `coef`, `window`, and

[2020-05-31 00:55] simsong commented on #9365
Thanks! That works really well. Will follow-up off-list.

[2020-05-31 05:34] davidjgall commented on #7683
I think the message is triggered when no fortran compiler is found. The python executable is actually found, despite the screwed up path/executable that gets reported. The concatenated path/filename seems to be a bit of Windows (DOS) code that's losing the backslashes in the process of generating the text that becomes the error message, but the message itself is actually only triggered by a "failu

[2020-05-31 07:25] LiranAvda-TAU opened #16451 "problem with site-packages/numpy/core/overrides.py: numpy.core._multiarray_umath not found"
Hello, I've been using numpy in my code and everything was good, now I'm trying to deploy the app to an A2HOSTING server and I get this error when trying to import numpy (from down upward):

[ E 2020-05-31 02:36:36.1358 14684/T33 age/Cor/App/Implementation.cpp:221 ]: Could not spawn process for application /home/wormcool/wormcoolkit: The application process exited prematurely.
App 19124 output:

[2020-05-31 08:18] mattip commented on #16416
I see traces of `x86_64-w64-mingw32` (32-bit gcc) even though you are using a 64-bit Python: `MSC v.1916 64 bit (AMD64)`. Maybe somehow you have set your PATH to include 32-bit components from mingw? [This stackoverflow](https://superuser.com/questions/358434/how-to-check-if-a-binary-is-32-or-64-bit-on-windows) suggests you can use `dumpbin` on the `fib1.PYD` file (which is a renamed `DLL`) to det

[2020-05-31 08:36] AI-XiaoBai commented on #16149
Hi,You should add the DLL directory of numpy to the environment variable,For example, my path is **_C:\programdata\anaconda3\library\bin_** ，you add yours into environment path, and rebot your computer,it will work.good luck

[2020-05-31 10:10] eric-wieser opened #16453 "Division of `int` does not match division of `np.int64`"
### Reproducing code example:

[code]

The cause here is that numpy computes `float(x) / float(y)`, but python does something cleverer.

I don't know if we want to fix this, but if we don't we certainly need to document it.

[2020-05-31 10:15] mattip commented on #14169
Closing as a "won't fix" and removing the milestone. Please undo if I am mistaken.

[2020-05-31 10:15] #14169 closed

[2020-05-31 10:36] mattip commented on #16451
How did you deploy the app? Did you follow [this guide](https://www.a2hosting.com/kb/developer-corner/python/using-virtualenv-and-pip) to create a virtualenv and pip-install numpy?

[2020-05-31 11:33] eric-wieser commented on #16429
Is casting your array to `np.str_` before printing it an acceptable solution here, either via `x.astype(np.str_)`, or `np.char.decode(x, encoding='utf8')`?

[2020-05-31 11:35] eric-wieser commented on #15817
Closed in #15836

[2020-05-31 11:35] #15817 closed

[2020-05-31 11:39] LiranAvda-TAU commented on #16451
Yes, I followed this guide, every other thing works and the app itself runs if I delete the numpy import and the relevant code

Yes, I followed this guide. Every other installation and import works just fine and I pretty much done with the deployment part (if I take out the numpy related part of code)

[2020-05-31 12:34] Harvey13 opened #16455 "Numpy throws columns during slicing"
Hello
I'm using numpy on Google Colab and I have this strange behaviour :

[code]
gives me the following response :

[code]
**Why 486 ?**

_import sys, numpy; print(numpy.__version__, sys.version)
1.18.4 3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]_

[2020-05-31 12:38] eric-wieser commented on #16455
Because there are only 490 columns, so numpy interprets `4:494` as `4:490`

[2020-05-31 12:38] #16455 closed

[2020-05-31 15:51] ewmoore commented on #16453
There is a decent looking description of the algorithm used in the CPython source

https://github.com/python/cpython/blob/master/Objects/longobject.c#L3730

[2020-05-31 15:59] eric-wieser commented on #16453
Indeed, it was that source that made me suspicious of our implementation

[2020-05-31 15:59] seberg commented on #16453
I guess step 3 would be the relevant part there? For Python its a bit more complicated due to the arbitrary precision nature. I wonder if, otherwise, we would have a nice place to document this... I guess it could go into the notes of divide.
Otherwise, I think it would also be OK to add a specific integer true-divide loop without relying on casting to double.

[2020-05-31 16:28] alanhdu commented on #16432
FWIW, I think the semantics should be "np.float32 gets cast to a Python float, and np.int* gets cast to a Python int". If someone really cares about round-trip accuracy, then I'd be surprised that they're using JSON instead of some other serialization format.

That said, after digging around I also don't see a good way to implement this by default, so it's probably a moot point.

[2020-06-01 00:33] r-devulap opened #16459 "DOC: SIMD information in ufunc documentation"
Would it be useful to the community if the ufunc documentation listed the SIMD information for each ufunc (a simple list of architecture and the SIMD variant comes to mind). If this is something of interest, I can help populate a table that can be integrated to with the docs.

### Reproducing code example:

[code]

### Error message:

### Numpy/Python version information:

[2020-06-01 04:30] cvav-git commented on #16126
Checked the issue and I'm about to start working on it; is somebody else working on that at the moment? I understand that we work without assigning issues, so I thought I'd check with you first.

I've been using the `fft` and `ifft` functions and am also interested in the normalization you're discussing; to do so up to now, I was using `norm=None` and then dividing/multiplying the returned vector

[2020-06-01 05:22] sidhant007 commented on #16429
Hi @eric-wieser

The approach you mentioned of casting the array will not be feasible for structured arrays, since it will cause the memory footprint to double (casting the entire ndarray, before calling the `.savetxt` method)

One way to fix is this issue is the way I proposed above, i.e to have some sort of encoding parameter either explicitly (like `bytes_encoding`) or we can try to incorporate

[2020-06-01 05:57] leofang commented on #16126
Hi @cvav-git I am not aware of anyone working on this. `norm=inverse` sounds fine to me (previously I was thinking `norm=full`, but yours seems more informative), but perhaps you should discuss the work plan with @anirudh2290 @charris?

cc: @mattvend who was working on the CuPy counterpart.

[2020-06-01 06:13] mattip commented on #16459
I think that would be helpful. My wishlist for such a thing would be:
- autogenerated as part of `numpy/core/code_generators/generate_umath.py`, maybe a new `make_doc(funcdict, filename)` function that works like `make_code`? It could output an rst document that would be `.. include::` ed in an appropriate place. I think it would be too much to add it to the docstring for the ufunc.
- extra points

[2020-06-01 06:16] DmitryOlenchikov commented on #16003
&gt; Четверг, 14 мая 2020, 15:59 +03:00 от Sebastian Berg :
&gt;
&gt;
&gt; @DmitryOlenchikov any chance you are running  Py_Initialize multiple times? That cannot work probably, because of global variables in C/the shared objects and the shared objects cannot be unloaded.
&gt; —
&gt; You are receiving this because you were mentioned.
&gt; Reply to this email directly,  view it on GitHub , or  unsu

[2020-06-01 06:26] mattip commented on #14816
Doesn't this violate the NEP 19 decision to not enhance `numpy.random` anymore, or is that a typo and the intention is to enhance `np.random.Generator.normal ?

[2020-06-01 11:03] Baschdl commented on #16374
I personally find it a bit confusing currently because I would assume that the method even as a shorthand for another method returns the same type as `np.where(condition, x, y)`. Even more confusing is that `np.where(condition, x, y)` returns values (x or y) where `np.asarray(condition).nonzero()` returns the matching indices.

I agree with you that all the needed information is in the current not

[2020-06-01 12:19] chinminghuang commented on #14816
Sorry i missed this message. My PR is not a real broadcast version, but an intermediate version. If @CloseChoice would like to work on this, please be my guest. :)

[2020-06-01 12:39] colinww commented on #5745
I realize I am probably a corner case, but this bug makes interfacing to C++ code via Cython a bit precarious. I use a lot of `std::size_t` variables to define array dimensions, indicies, etc. In general I think the interface that numpy exposes makes a lot of sense, so this is a departure.

Now, everytime I want to use values pulled from C++ headers (which convert `std::size_t` -> `np.uint64`, on

[2020-06-01 13:38] danvip10 commented on #16416
Hi @mattip, although I wasn't able to use `dumpbin` as suggested in the answer, I followed the current chosen answer (opening the file in the text editor) and determined the `PYD` file is 64 bits. I also checked again and I can't find any path that points to the 32-bit version.
Is there anyway to verify the other potential cause you mentioned?

[2020-06-01 13:41] seberg commented on #5745
@colinww isn't that there the behaviour of cython and not numpy? I am a bit surprised cython uses numpy casting rules here, although maybe they wanted to stay intentionally close.

[2020-06-01 14:06] mattip commented on #16416
You can try using [depends.exe](http://dependencywalker.com/) to see what other dlls `fib1.pyd` depends on. Trivially, it might be libgfortran*.dll, which [may not be on your PATH](https://sourceforge.net/p/mingw-w64/discussion/723798/thread/aec09525/).

[2020-06-01 14:48] VictorRodriguez commented on #9365
Thanks a lot for all, it works pretty well

[2020-06-01 15:22] cortwave opened #16466 "BUG: mgrid result sensitive to data type"
Using `np.mgrid' depends on slice dtype

### Reproducing code example:
[code]

### Numpy/Python version information:

1.18.4 3.6.7 (default, Mar 27 2020, 15:56:09)
[GCC 6.5.0 20181026]

[2020-06-01 15:37] seberg commented on #16466
Using tuple syntax is much simpler here:
[code]
In any case, you are right. `mgrid` seems a bit funny, and could use some cleanup and refactor also. In particular, I think it should just call `np.arange` (or `np.linspace` for the complex step case) and then reshape/create a dense grid if necessary.

Maybe the float32 bug is so obvious, that we can simply make it work (by going through arange unfor

[2020-06-01 16:11] colinww commented on #5745
@seberg sorry for not being clear. In cython, this is done "correctly" in that the intermediate generated cpp code (from the pyx source) does not do any sort of implicit casting. That same code, in pure Python, has this behavior we're discussing.

The reason I mention it's jarring is that the numpy interface generally gives the sense that is is underpinned by C. For example there are structured ar

[2020-06-01 17:24] rossbar commented on #16374
Of course - please feel free to propose anything that would be an improvement in your opinion!

[2020-06-01 17:37] eric-wieser commented on #16374
It's unfortunate that `where` was built this way. The simplest mental model is _"never use `where(arr)`, always use `nonzero(arr)`"_. If you follow that rule, no one reading your codebase has to work out what these docs mean in the first place!

[2020-06-01 17:38] eric-wieser commented on #16374
Unfortunately, we likely can't actually deprecate it and force people to make this switch, because there will be way too many use cases in the wild.

[2020-06-01 17:44] rossbar commented on #16380
There's a lot of really interesting discussion here re: what an expansion of the class-based API could look like for supporting coefficient arrays. In it's current form, the documentation is definitely out-of-sync with the `fit` class method, so maybe it's best to correct the docstring for now rather than update what the `fit` method returns, as that seems to be a subset of a larger discussion.

A

[2020-06-01 17:47] sharthZ23 commented on #16407
Sorry for the delay, I was trying to come up with something other than modifying the source code.
I realized that essentially the view I need is the original `numpy.ndarray` with the redefined `__getitem__` method. Since I need 1d-view, I just need map 1d-index to multiple indices based on `array.shape`.
Proof of concept
[code]
With such view you can iterate your `numpy.ndarray` like 1d-array (in

[2020-06-01 17:53] fostiropoulos opened #16469 "Add alias of np.concatenate as np.concat"
It is much easier to write and more intuitive since it is also followed by other popular frameworks such as tensorflow.

### Reproducing code example:

[code]

[2020-06-01 17:58] seberg commented on #16407
This is not something that NumPy supports, I am not sure there are any serious projects out there which do support such views (e.g. I do not think even the buffer-protocol supports it, and it supports pointer arrays).

In the end: Sure you can create an object such as that easily. The tricky part will be that aside from functions you write, it will be difficult to get good interoperability. Everyt

[2020-06-01 18:04] eric-wieser commented on #16469
This would need to hit the mailing list

[2020-06-01 18:05] cvav-git commented on #16126
Thanks for your quick reply @leofang!

Hi @anirudh2290 @charris my current plan is to modify the `_unitary(norm)` flag to be `True` if `norm=ortho` and `False` if `norm=None` or `norm=inverse` (name still under discussion); this seems to make the smallest modifications to the current code, then I'll have to add an additional `if` clause in the various transform functions to distinguish between `no

[2020-06-01 18:06] eric-wieser commented on #16407
I doubt this will do anything useful if your goal here is to pass it to cython. `ndarray.flat` already has such a getitem method.

Your only options are:
* Change the cython function, either to accept `.flat` or Nd arrays
* Accept the cost of the copy.

[2020-06-01 18:20] fostiropoulos commented on #16469
I just sent it to the mailing list.

[2020-06-01 18:25] ddk1246 opened #16470 "bug from np.poly1d"
### Reproducing code example:

[code]

### Error message:
As mentioned above using the math library does not yield the same results as the numpy library, the error occurs in numpy

### Numpy/Python version information:
python 3.7.4
numpy 1.19

[2020-06-01 18:42] wrzadkow commented on #16380
For me this looks like a very reasonable short-term solution. As the author of PR #16403, I'd be glad to update the docstring instead if this approach is agreed upon.

[2020-06-01 21:07] adeak opened #16473 "Possible bug in fromfile with non-seekable file causing reference count error"
Apologies in advance for an inexact issue. I saw someone mention surprising behaviour in chat. They have fixed their original problem by updating python versions and going from 32-bit to 64-bit python, but I believe the original problem signals a bug in numpy.

The user saw this behaviour on 32-bit Python 3.7.1 (numpy version unknown) on Windows:
[code]

That refcount error raised a red flag. The

[2020-06-01 21:12] seberg commented on #16473
We had a couple of fixes in this area a while ago. Its possible its fixed in master. I think the only way to easily reproduce the ref-counting error is by just changing the code to always error.

The decref there is correct right now, but I think the calling function had an issue thinking that it would not decref on error (but a function that steals a reference should always steal a reference, alt

[2020-06-01 21:12] eric-wieser commented on #16473
Based on the comment only, it seems the intent of this function is to either:

* `DECREF` dtype
* Store it somewhere without `INCREF`ing it

It's possible there is a bug somewhere, but it looks to me like it would be in the caller.

[2020-06-01 21:14] adeak commented on #16473
Thank you both! @seberg good point about consistency of references, I didn't think of that. I'll close this then and try to look figure out what may have happened on the calling side. And only return when I have something reproducible :)

[2020-06-01 21:15] #16473 closed

[2020-06-01 21:18] eric-wieser commented on #16469
Nabble archive of the mailing list post is [here](http://numpy-discussion.10968.n7.nabble.com/Feature-Request-Add-alias-of-np-concatenate-as-np-concat-td48196.html)

[2020-06-01 21:21] seberg commented on #16473
Just to make sure you don't do double work, make sure to look at the history to see recent changes in the caller here...

[2020-06-01 21:43] adeak commented on #16473
Thanks @seberg, I was going to do that. The reason I didn't look at recent changes was that the code where I suspected the bug hasn't been touched in 8-10 years. If the issue is in the caller it's a whole different kettle of fish.

[2020-06-01 22:27] eric-wieser opened #16475 "np.piecewise has the opposite way of resolving ties to np.select"
`select` is documented specifically to give the first condition priority if multiple are true.
`piecewise` does not document what happens, but does the opposite:
[code]

We should either:

* Document the fact that piecewise does things in reverse order
* Swap the order of piecewise, and document the new order
* Emit a deprecationwarning and eventually a `ValueError` if multiple conditions are ever

[2020-06-01 22:35] eric-wieser commented on #16180
I think that we rely on `np.full` working for arrays internally in `np.select`, with calls like:
[code]

[2020-06-01 22:54] seberg commented on #16473
I thought I remembered something: 454c5b5e9a76809a4ab60bda30aa048ec37ee11e likely includes the fix for this.

[2020-06-01 22:58] cvav-git commented on #16126
I've pushed my code changes and opened a pull request regarding this issue; I've cc'd you on the request description; let me know how to proceed, thanks!

@leofang @anirudh2290 @charris @mattvend

[2020-06-01 23:14] jakevdp opened #16477 "diagflat() has inconsistent behavior for scalar inputs"
Demonstration of the issue:
[code]
The issue comes from the function's use of `__array_wrap__`: https://github.com/numpy/numpy/blob/b7c27bd2a3817f59c84b004b87bba5db57d9a9b0/numpy/lib/twodim_base.py#L326-L329

It is not defined for python scalars, but for numpy scalars converts array output to a single scalar value:
[code]
I'm not certain what the correct fix would be here, but it seems potentially

[2020-06-01 23:17] eric-wieser commented on #16477
To me it looks like `np.generic.__array_wrap__` is implemented badly.

[2020-06-01 23:21] jakevdp commented on #16477
Note this will affect any library that expects ``__array_wrap__`` to be called with something that is the same shape as the original array. For example:
[code]

[2020-06-02 00:27] simsong commented on #9365
In testing today, we found that RDRAND's speed on our servers was on-par with AESCounter. Both blew away /dev/urandom (which is, presumably, single-threaded).

[2020-06-02 01:01] Chizzyhub opened #16478 "Module not found error"
I have an issue trying to run all numpy related codes on my gitbash but it runs perfectly fine on my Jupyter notebook. I have only one version of python installed on my system. i tried uninstalling and installing pandas and numpy after i got a **"missing dependencies error"** but now I'm getting another error.

[code]

My numpy version is 1.18.1 and my python version 3.7 on Anaconda in windows 7 6

[2020-06-02 01:56] mdigilov opened #16479 "Error on running a Simulation sample from xlwings website"
Hello - please help. I downloaded a simulation sample from xlwings and was trying to see how it works.

Anaconda 2020.02
Python 3.7.6
Numpy 1.18.1
xlWings 0.17.1

Excel 2013

I receive this error message:
---------------------------
Error
---------------------------
C:\ProgramData\Anaconda3\lib\site-packages\numpy\__init__.py:140: UserWarning: mkl-service package failed to import, therefore Intel(

[2020-06-02 02:05] mdigilov commented on #16479
i tried uninstalling and installing numpy and error message still persisted

[2020-06-02 04:24] mattip commented on #16479
Please read [this page](https://numpy.org/devdocs/user/troubleshooting-importerror.html) carefully, especially the part about [activating](https://numpy.org/devdocs/user/troubleshooting-importerror.html#using-python-from-conda-anaconda) your conda environment.

[2020-06-02 04:28] mattip commented on #16478
Please read [this page](https://numpy.org/devdocs/user/troubleshooting-importerror.html) carefully. Since you only reported part of the error message it is difficult to help you. Typically when using Anaconda users forget to  [activate](https://numpy.org/devdocs/user/troubleshooting-importerror.html#using-python-from-conda-anaconda) their conda environment, perhaps this is tripping you up as well.

[2020-06-02 05:40] czgdp1807 commented on #16426
Hi, A small doubt, out of curiosity, if lengths are integer quantities then why floating point is used for intermediate calculations?

[2020-06-02 05:52] kevinsingapore opened #16480 "pip3 installing numpy doesn't work on centos7"
OS: centos7-aarch64

[2020-06-02 06:55] mattip commented on #16480
Closing. We will be providing a wheel once 1.19 is released. If you wish to reopen, please provide more information: what you tried, what happened, what you expected, why you think it failed where others have succeeded.

[2020-06-02 06:55] #16480 closed

[2020-06-02 07:16] cvav-git commented on #14176
Hi all! I just checked the above minimal code example and the error raised is correctly a `ValueError`; I believe this issue is successfully resolved so you can go ahead and mark it as closed. I'm using `numpy 1.18.4`.

[2020-06-02 07:25] danbeibei opened #16481 "f2py undefined symbol with PGI fortran compiler and MPI calls"
I am trying to wrap fortran code with f2py. The fortran code includes some MPI calls and is compiled with the PGI compiler.
When importing the wrapped module in python I get this error: `undefined symbol: mpi_comm_rank_`

### Reproducing code example:

[code]
### Compilation
`CC=gcc f2py --verbose --f90exec=mpif90 --fcompiler=pg -c helloworld.f90 -m helloworld`

### Partial output
[code]
The "link

[2020-06-02 08:29] bashtage commented on #7543
Depends on size of `P`.

[code]

Since multinomial isn't always faster, it isn't worth changing for very small performance gains in some cases.

The values are different since choice doesn't use multinomial under the hood.

[2020-06-02 08:49] FlorentijnD commented on #16424
Do you mean installing the zip on PyPi as "building from source"? (https://files.pythonhosted.org/packages/2d/f3/795e50e3ea2dc7bc9d1a2eeea9997d5dce63b801e08dfc37c2efce341977/numpy-1.18.4.zip) If so, I'm encountering an issue: `No matching distribution found for setuptools` `Could not find a version that satisfies the requirement setuptools (from versions: none)` though I have setuptools (47.1.1) i

[2020-06-02 09:05] rgommers commented on #16424
Indeed. Either with pip, or downloading it and doing `python setup.py install`.

Looks like you're using `pip`, which tries to do an isolated install. For that it needs to reinstall all dependencies in a tmpdir, and it fails to find setuptools - maybe because something was wrong in your network, or because of some metadata issue for armv7. Either way, I suggest avoiding pip.

[2020-06-02 09:58] FlorentijnD commented on #16424
Installing from source seems to have worked fine. Thank you for your help!

[2020-06-02 09:58] #16424 closed

[2020-06-02 09:59] adeak commented on #16473
@seberg thank you for looking into this! I can confirm that https://github.com/numpy/numpy/commit/454c5b5e9a76809a4ab60bda30aa048ec37ee11e fixed this specific refcount issue. Sorry for the false alarm!

[2020-06-02 10:29] bashtage commented on #15571
I wouldn't do it this way. Probably something like

[code]

[2020-06-02 12:25] Chizzyhub commented on #16478
Thanks for the help but I reported all the error messages I got. If there's specific error message you'd like to see please let me know

[2020-06-02 12:47] #14176 closed

[2020-06-02 12:49] charris commented on #14176
Thanks for the heads up.

[2020-06-02 13:19] dustiestgolf commented on #13457
That sounds good to me! Thanks for considering it and for the explanation about the different choices between numpy and sympy.

[2020-06-02 13:35] danvip10 commented on #16416
I have going through those threads and looking at my installation. It seems that indeed i don't have `libgfortran*.dll`. However, I tried several installations of mingw and could not find such a file anywhere. Any idea where I could get that?

[2020-06-02 14:11] sharthZ23 commented on #16407
Will be performance issues here if will just change `int[::1]` to `numpy.flatiter`?
Inside the function, I just need to get elements by index `array[i]`.

[2020-06-02 14:56] seberg commented on #16478
Well, the image did not show up due to a formatting error and you did not copy the whole message... In either case the advice Matti linked is still the best we can offer at this time.

[2020-06-02 15:01] eric-wieser commented on #16407
Without seeing the content of your function there's no way I can answer that.

[2020-06-02 15:03] Chizzyhub commented on #16478
Well the entire message is in the image.
And the image is showing up well on my mobile device. Let me resend the image again

[2020-06-02 15:04] Chizzyhub commented on #16478
![83468441-ab943580-a474-11ea-8706-33a4749bed00](https://user-images.githubusercontent.com/61868329/83536100-b5f11680-a4ea-11ea-9bfc-ace44cfd4ef4.jpeg)

[2020-06-02 15:10] seberg commented on #16478
@Chizzyhub it was not showing up, I edited the message just before.

[2020-06-02 15:13] Chizzyhub commented on #16478
I'm sorry, do you mean the image is not still showing up.
Should I send it in a different format. Cos I uploaded it in .jpeg format

[2020-06-02 15:28] seberg commented on #16478
The images show up (now), you should rather spend time making sure you know everything about activating conda environments that you may need to know.

[2020-06-02 15:34] Chizzyhub commented on #16478
Everything in the suggestion works fine that's why I opened this issue. I can't seem to figure out the problem and I urgently need it to work as time is not on my side.

[2020-06-02 15:37] mattip commented on #16416
I use `choco install mingw` which puts it in `c:\programdata\cholatey\lib\mingw\tools\install\mingw64\bin`. That directory is added to the path by the installer, so it should JustWork™

[2020-06-02 15:37] mattip commented on #16416
For me it is named `libgfortran-4.dll`

[2020-06-02 15:38] seberg commented on #16478
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#determining-your-current-environment ?

[2020-06-02 15:46] xnox commented on #15237
`-std=c99` flag has unintended consequences on modern Ubuntu development release. It forces the precision to reduced on s390x and result in misscompilation to the point of loosing more than 10^-6 floating point precission.

Ubuntu in groovy defaults to at C18 standard. It would be nice for numpy configuration to test which standard the compiler defaults, and raise it to C99 if it is below C99. But

[2020-06-02 15:49] Chizzyhub commented on #16478
I've checked that out
All the right modules are installed

[2020-06-02 15:53] seberg commented on #16478
The page I linked was the "Determining your current environment", which shows you if you activated it within that shell. I am not sure what it has to do with installed modules.

[2020-06-02 15:55] mattip commented on #16478
The warning at the top of your image is a hint that you have not properly activated your conda environment. You need to do `conda activate xxxx` before you run any python commands.

[2020-06-02 15:57] Chizzyhub commented on #16478
I did see that though.
So to activate conda in git bash, how would I go about it?
Conda activate myenv(what would take the position of myenv?)

[2020-06-02 16:02] mattip commented on #16478
Click on the page @seberg linked to. It says

[code]

[code]

[2020-06-02 16:10] charris commented on #15237
Out of curiosity, why does it do that? Is poor precision part of the c99 standard?

[2020-06-02 16:12] Chizzyhub commented on #16478
Mine shows (base)

[2020-06-02 16:13] xnox commented on #15237
I was pointed at a wikipage explaining how the exponent and floating point number of digits for precision is different on S/390 because it predates C language. Thus on s390x, higher standard version is required when all of that was aligned. Or like quad precision is adequate everywhere. Let me find that again.

[2020-06-02 16:14] seberg commented on #16478
And another thing, what is it with the MINGW64 console? Anaconda is fully compiled using msvc, if this mingw64 console changes include paths, things will break.

[2020-06-02 16:16] xnox commented on #15237
https://en.wikipedia.org/wiki/IBM_hexadecimal_floating_point

Maybe in addition to c99 flag we should be specifying to use the IEEE precision? or maybe just that?

With or without, s390x precision issue, for Ubuntu, I don't wish any code to use c99 anymore, because there are too much undefined behavior and bugs in c99.

[2020-06-02 16:21] charris commented on #15237
@xnox Sounds like c99 is abused to flag backwards compatibility with an outdated compiler :) Well, it is what it is.

[2020-06-02 16:25] danvip10 commented on #16416
I just installed using chocolatey and the same thing continues to happen.. I tried looking for any `libgfortran-*.dll` files in the installation folder but there are none. The closest thing there is is two files named `libgfortran.a` and `libgfortran.spec`. Any clues?

[2020-06-02 16:48] WeirdKeksButtonK commented on #15571
I'm not sure that this approach actually works. The function `standard_normal` is a bound method of the first `_gen` instance and will not be affected by the `seed(...)` call. So you have to reset all the functions as well.

Actually, there is a similar problem with the snippet I suggested above: it is _very_ easy to misuse the global instance by importing it directly like `from rndm import rng`,

[2020-06-02 16:53] Chizzyhub commented on #16478
That terminal in the image is the git bash terminal.

[2020-06-02 16:55] bashtage commented on #15571
You are right.  This fixes it

[code]

[2020-06-02 17:40] xnox commented on #15237
I'm so 2008, and this stuff is so last century late =)))))))))))))))

[2020-06-02 19:04] jakirkham opened #16483 "Release 1.18.5"
Am curious if it would be possible to do another patch release of 1.18.

[2020-06-02 19:13] charris commented on #16483
I'm planning to do that. You want pickle5 for Python 3.5?

[2020-06-02 19:29] jakirkham commented on #16483
Thanks Charles! Yeah that's the idea.

[2020-06-02 21:53] anirudh2290 opened #16484 "gufunc behavior on incorrect out shape"
From the discussion here : https://github.com/numpy/numpy/pull/15162#discussion_r434122175

The following example doesnt seem to raise an error when out shape is incorrect or broadcast the inputs to the output, but silently populates the out with result + garbage values.

[code]

Result:
[code]

[2020-06-02 22:04] seberg commented on #16484
Hehe, was thinking about this for a while….Also ping @mhvk just in case.

The `NPY_ITER_NO_BROADCAST` flag, oddly enough seems almost always used in a way where you could simply take that operand fully out for shape discovery (e.g. as an output op). But, it would be an incompatible break if we would just use it to address that issue.

So I am considering adding a new `NPY_ITER_OUTPUT_OPERAND`. Or

[2020-06-02 22:46] yanxon commented on #12847
Hi @SRITANU

Do you find the solution to this problem? I'm facing the same issue.

Thanks

[2020-06-02 23:09] mhvk commented on #16484
Bit confused about all the flags, I must admit. But a gufunc `moments` with signature `()->(k)` could perhaps calculate moments up to `k` in the output. Of course, incredibly far-fetched, but my sense would be not to explicitly exclude it (nor code explicitly to allow it!).

[2020-06-02 23:10] mhvk commented on #16484
A bit more directly relevant to the issue here, where the output has an inconsistent outer shape, is that there is precedent from the regular ufuncs:
[code]
This suggests also for gufuncs, the outer shape should be determined from all inputs and outputs. Obviously, will cause needless calculations, but so be it...

[2020-06-02 23:19] seberg commented on #16484
Oh, I somehow did not expect that to actually work. I suppose in that case we can simply allow the output to cause broadcasting in the inputs (and thus adjust the shape). Basically simply retaining the current behaviour.

so, just do nothing here, except for making the sure the (g)ufunc gets called multiple times (it will a bit of a slow way to get the result in many cases, but that is the callers

[2020-06-02 23:25] seberg commented on #16484
Ah, its very simple:
[code]
is probably all there is to it. Then we get correct broadcasting of inputs to outputs, and any thoughts of deprecating this can just be deferred for future selves if it ever comes up.

[2020-06-02 23:52] danvip10 commented on #16416
Also, using depends.exe you mentioned, and opening the generate pyd file, i get the following error:
[code]

[2020-06-03 00:38] seberg commented on #16477
I think our scalars have to pass through the array unharmed. Simply using `PyArray_Return` in the array-wrap seems right to me (I am not even sure we really *need* array wrap). For pandas I agree the error is probably best, but our scalars are a bit indistinguishable from arrays, and `diagflat` does call `ravel()` which means that it does support 0-D inputs.

[2020-06-03 01:40] simsong commented on #9365
@bashtage  — I sent you a copy of the paper off list and didn't get a response; did I send it to the correct address?

[2020-06-03 03:50] sbroberg opened #16487 ""import numpy" failing with "cannot locate symbol" error for wheels built on Ubuntu, deployed on aarch64 Android"
My apologies in advance if this is not relevant here, as I'm essentially opening the same issue on [the crossenv project](https://github.com/kentcdodds/cross-env), but I thought this team might have more insight into what I'm doing wrong.

tl;dr, my cross-compiled python3.8 works fine on android for pure python stuff but fails to import my cross-compiled modules like numpy with foreign file backen

[2020-06-03 06:01] mattip commented on #16416
That is normal, even for well-behaved DLLs.

Dunno, I just followed the recipe and it worked. After you install chocolatey (with admin permissions), you may need to open a new DOS window (as a regular user) so the PATH changes percolate through. Maybe a chocolatey forum might be able to help more.

[2020-06-03 09:00] Llewyllen opened #16488 "Numpy square does not acccept unsigned integer dtype"
Exception when squaring a signed integer array

### Reproducing code example:

a = np.zeros(shape=(100,), dtype=np.int8)
b = np.square(a, dtype=np.uint32)

### Error message:

TypeError: No loop matching the specified signature and casting was found for ufunc square

### Numpy/Python version information:

Python 3.5, Numpy 1.17.5+mkl
Python 3.7, Numpy 1.18.2+mkl

[2020-06-03 09:50] eric-wieser opened #16489 "operator.concat does not concatenate ndarrays"
I doubt we can really do anything about this, but may as well have an issue filed in case anyone wants to try and fix it upstream:
[code]
Here, [`operator.concat`](https://docs.python.org/3/library/operator.html#operator.concat) is just performing addition.

[2020-06-03 10:03] eric-wieser commented on #16489
Actually, it seems like the fix here is to implement `sq_concat`.

[2020-06-03 10:04] eric-wieser commented on #16469
Worth noting that the `operator.concat` is in the standard library, so there's definitely precedent for the shorter name.

[2020-06-03 11:03] bjnath commented on #13940
Unless I'm mistaken, the commits referenced by @rossbar  suggest this issue has already been dealt with.

[2020-06-03 11:03] #13940 closed

[2020-06-03 11:47] matthew-brett commented on #16313
Please forgive my lack of understanding - but could I ask someone for a summary conclusion at this stage?   Are there realisitic circumstances is which the default PCG is unsafe?  What are the arguments for switching the default?

[2020-06-03 13:34] seberg commented on #16489
Hmmm, `sq_concat` and `nb_add` are both exposed as `+`? But I guess as log as python makes sure `nb_add` gets the plus operator, it probably works.
Interesting that this would only be possible for C-defined types...

[2020-06-03 13:39] seberg commented on #16488
As it says, the problem is the combination of signature *and* casting. In your case it is the casting. You cannot safely cast the int8 array to a uint32 array. If you use `casting="unsafe"` this will execute just fine (but if a contains negative numbers it will break). You may want to just cast before-hand, then you can also use the in-place operator: `a **= 2` or `np.square(a, 2).

I hope this cl

[2020-06-03 13:39] #16488 closed

[2020-06-03 13:44] eric-wieser commented on #16489
Indeed, only C-defined types have the power to implement `operator.add` and `operator.concat` as independent operations. Since we have that power, it might make sense to exploit it, if it doesn't break our existing tests.

[2020-06-03 13:56] crusaderky opened #16490 "Can't pickle UFuncTypeError"
numpy 1.18.4-py38h8854b6b_0 (conda-forge)
Linux x64

[code]
Output:
[code]

[2020-06-03 13:58] Luffy-Hll opened #16491 "np.logical_and() issue"
[code]
I want to normalize an array by list as shown above, but I find some errors of feed back values.
for example: 0.494 got normalize value of 8.4, the detail is as below. There's two **True** here by np.logical_and(), it makes no sense.
so I add trace back to check out what happend and why feed back 7.1,
[code]
my samples values have about 10000 lines.
I want to upload my samples values but al

[2020-06-03 14:07] eric-wieser commented on #16490
The error seems to come from:

https://github.com/python/cpython/blob/df773f8c5454acebe08c31e7308597fa5a8bf5df/Modules/_pickle.c#L3581-L3650

I can't help feeling there's a bug in the error message formatting here by python itself.

[2020-06-03 14:10] eric-wieser commented on #16490
Ah, I see the problem now. It's `@_display_as_base` causing the issue, and the simplest repro is:
[code]

[2020-06-03 14:14] eric-wieser commented on #16491
Are you looking for `np.interp`?

[2020-06-03 14:15] seberg commented on #16490
Hmmm, do we have to set the qualname as well to make printing nice?

[2020-06-03 14:17] eric-wieser commented on #16490
If we want to keep digging, we could attach a metaclass to override pickling...

[2020-06-03 14:22] eric-wieser commented on #16488
I suspect the confusion here is that `np.square` contains no `signed, signed -> unsigned` loops, and so the only candidates are `int8, int8 -> int8` and `uint32, uint32 -> uint32`.

Perhaps we should add some mixed-sign loops here?

[2020-06-03 14:22] gieseanw opened #16492 "SWIG: pyfragments.swg dereferences a nullptr for overloaded functions"
When SWIG (post SWIG-1.3.23) encounters overloaded functions, it generates a wrapper function for each one. Then, it creates a single entry point function for Python to call. This entry point function attempts to find the right overload. It does this by performing test casts of the arguments until it finds an overload that works, which it then calls. This bug happens during those test casts, becau

[2020-06-03 14:22] seberg commented on #16490
I would prefer if we can avoid it if it has no big issues (not sure if we can set a pickler externally, but I guess that is also type based). Printing seems fine without qualname, since it seems to rely on `__name__`. I suppose there may be subtleties where the qualname shines through?

[2020-06-03 14:25] Luffy-Hll commented on #16491
No, actually I use map_coordinates. Firstly I normalize two np array and then map_coordinates(map,[array1,array2]).
But here is something wrong with feedback value of np.logical_and().

[2020-06-03 14:27] eric-wieser commented on #16490
It sounds like we want to drop both of these lines then:

https://github.com/numpy/numpy/blob/master/numpy/core/_exceptions.py#L29-L30

[2020-06-03 14:32] seberg commented on #16488
Yes, except that until a larger scale refactor happens (as possibly part of https://github.com/numpy/numpy/pull/15271 currently), this is actually not how it works... Since in most cases it sets the input rather than the output dtype if you pass only one dtype.  This currently translates to `signature=(uint32, None, None)`, instead of `signature=(None, None, uint32)` as you might expect.

 There i

[2020-06-03 14:33] seberg commented on #16490
I tried, and it pickles if I just drop the qualname, so maybe its fine?

[2020-06-03 14:36] eric-wieser commented on #16491
So just to be clear, the repro is:
[code]
which gives `8.4`.

We can immediately dismiss `logical_and` as the problem with:
[code]

So the conclusion is that the problem must lie somewhere else, presumably with your algorithm

[2020-06-03 14:37] eric-wieser commented on #16491
Is this the output you want?
[code]

[2020-06-03 14:42] eric-wieser commented on #16490
The module setting is currently a no-op anyway, but in all the cases when it isn't it would also break pickling.

[2020-06-03 15:17] Luffy-Hll commented on #16491
I mean for 10000 values, only Dozens return wrong value, others are OK. And when I pull out these numbers separately and calculate, it works fine.

[2020-06-03 15:19] eric-wieser commented on #16491
Didn't I just show above that I can reproduce the issue with a single value?

[2020-06-03 15:32] scign commented on #14772
Can someone explain why installing this additional package works?

[2020-06-03 15:45] bashtage commented on #16313
The easy path is to add some documentation about high (ultra-high?) -dimensional applications and the probability of correlated sequences.

A harder path would be to replace the output function which would break the stream. I'm not sure how strong a promise `default_rng` makes.  The docs don't seem to warn that this may change so it would probably need a deprecation cycle to change. This would req

[2020-06-03 15:52] eric-wieser commented on #16491
I'm going to close this, because I can produce exactly the same (apparently unwanted) output without using numpy at all:
[code]

[2020-06-03 15:52] #16491 closed

[2020-06-03 16:17] seberg opened #16493 "DISCUSSION: Should `default_rng()` have a `seed` argument and what is our policy?"
We may have discussed this before, but it came up on the other issue.

@bashtage should we try to change the documentation of `default_rng()` to state clearly that we do not have guarantees about which bit generator is behind `default_rng`? I wonder if there is a point in `default_rng()` if we cannot fix it up without a warning.
Putting a warning on it would seem extremely annoying, even if you on

[2020-06-03 16:19] seberg commented on #16313
I opened gh-16493 about the `default_rng()` modification, I do not think it is related to this issue, not even sure we have to discuss it, we probably already had set down the rules long ago and I just don't remember.

---

I do not claim to understand this discussion fully, but it seems there are two things to figure out:

1. Being certain that we have enough headway, I have to trust Robert on th

[2020-06-03 16:22] rkern commented on #16313
The easiest thing to do right now would be to add a `PCG64DXSM` `BitGenerator`, the variant of PCG64 with the "cheap multiplier" and stronger `DXSM` output function. I think everyone agrees that that's a step up from the XSL-RR output function we have now in our `PCG64` implementation, performing better statistically without damage to runtime performance. It's a straightforward upgrade in the nich

[2020-06-03 16:26] rkern commented on #16493
Definitely not. This is integral to supporting the pattern developed in `sklearn`'s `check_random_state()`. It's value is not to preserve the bitstream for a given seed across versions of numpy (something we explicitly disclaim in NEP 19), but to make building libraries easier and safer.

[2020-06-03 16:29] bashtage commented on #16313
As part of adding the new BG it would be good to update the notes to PCG64 to start serving as a guide and to provide a rationale for preferring the newer variant.

[2020-06-03 16:29] seberg commented on #16493
Right did not think about that. So I suppose we should probably just document clearly that `default_rng` can change occasionally? And maybe again document it (maybe before and after) a change with a version history of what the default was in the `Notes` section?

[2020-06-03 16:35] rkern commented on #16313
That's probably a little too glib. It depends on how many streams, how much data you pull from each stream, and what your risk tolerance for a birthday collision is. I haven't gotten around to crunching that math into a comprehensible paragraph yet to make easy-to-follow recommendations yet, which is why I haven't revisited this Github issue in a while. I don't think it's a hair-on-fire issue that

[2020-06-03 16:54] mattip commented on #14772
NumPy uses OpenBLAS to do its heavy linalg work, that means NumPy calls out into a shared object provided by a third party package. The official NumPy wheels on PyPI incorporate that other package into the wheel and ship the whole thing together. The wheels provided by the https://www.piwheels.org people do not: they depend on you installing the OpenBLAS package separately. So if you get NumPy fro

[2020-06-03 17:03] auo355 opened #16494 "python3.6 and python3.5 cannot access numpy in ubuntu20"
I installed ubuntu 20 and it came with the default Python3.7
 I installed python 3.5 and python 3.6 so that i can work with a project on self driving vehicle from coursera.

When i run python3.6, i get the error:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/numpy/core/__init__.py", line 17, in <module>
    from . import multiarray
  File "/usr/lib/python3/dist-package

[2020-06-03 17:05] charris commented on #16494
You need to install NumPy for each Python version. Did you do that?

[2020-06-03 17:06] matthew-brett commented on #16313
My preference would be to upgrade the default as quickly as reasonably possible - just to reduce confusion.   I mean, not wait for a deprection cycle.

[2020-06-03 17:29] auo355 commented on #16494
I did but still got the same error for python3.6

for python3.5, when i entered the command   $ python3.5 -m pip install numpy --user
I got the error /usr/local/bin/python3.5: No module named pip

[2020-06-03 17:45] auo355 commented on #16494
/usr/lib/python36.zip
/usr/lib/python3.6
/usr/lib/python3.6/lib-dynload
/home/augustine/.local/lib/python3.6/site-packages
/usr/local/lib/python3.6/dist-packages
/usr/lib/python3/dist-packages

[2020-06-03 18:12] mamsteroonie opened #16495 "Can't import python script into Power BI because of numpy error"
- how you installed Python - installed from this link https://www.python.org/ftp/python/3.8.3/python-3.8.3-amd64.exe

- how you installed numpy - opened a notebook and wrote:

      import numpy
      numpy.__version__

    received the version back that I have installed ('1.18.1')
- your operating system
      Windows 10 Enterprise
- whether or not you have multiple versions of Python installed

[2020-06-03 18:51] imneme commented on #16313
Probably the best [blast from the past](https://github.com/numpy/numpy/issues/13635#issuecomment-497405097) post about it is this one. I think it's certainly worth a read.  You can scroll back up in the thread from there to see us talking about these issues.  It was about PCG 32.

[2020-06-03 23:12] rossbar commented on #16470
There is a lot to decode in your example - any chance you can pare down to a more minimal reproducing example? That would reduce the burden for others to understand what's going on here.

[2020-06-04 00:44] imneme commented on #16313
I had in my head what I wanted to say, but I find looking at the posts from a year ago, I've said it all already, both here and elsewhere ([my blog](https://www.pcg-random.org/posts/critiquing-pcg-streams.html) (2017), [reddit](https://www.reddit.com/r/programming/comments/8jbkgy/the_wrapup_on_pcg_generators/), [my blog again](https://www.pcg-random.org/posts/on-vignas-pcg-critique.html) (2018), a

[2020-06-04 01:14] ewmoore commented on #16470
What is happening here is that multiplication between a python float and a `np.poly1d`  results in a `np.poly1d`. If you instead have a `np.float64` scalar you get an `np.array`.   Since the `pt` variable is then an array and not a `np.poly1d`  further multiplications produce element-wise multiplication and not polynomial multiplication.  This happens AFAICT because `np.poly1d` defines `__array__`

[2020-06-04 01:22] ewmoore commented on #16470
I don't know that there is really a bug here.  This defect is by no means new and likely can't be corrected without breaking existing code.  Related seem to be quite old #2651, #1429 and I guess the nearly new #15779.

[2020-06-04 01:27] Luffy-Hll commented on #16491
sorry to bother, you are right.
it's algorithm issue.

[2020-06-04 03:48] mattip commented on #16494
Calling `python3.6 pip install --user numpy` should have put it in `/home/augustine/.local/lib/python3.6/site-packages`. Is there a numpy directory there?

[2020-06-04 04:06] rkern commented on #16313
I'd like to separate out the criticism/defense of PCG64's streams (via the LCG increment) from the present discussion. While there's a certain duality involved due to the mathematics of the LCG, it's not the core issue that was originally brought up here. Also, there's more detail here to be considered than was present in Sebastiano's [original critique](http://pcg.di.unimi.it/pcg.php), [your resp

[2020-06-04 04:18] imneme commented on #16313
Streams are still somewhat relevant because the issue only shows up if we have the generators on the same stream.

But under what circumstances would they have the same lower 58 bits and be on the same stream?  Is there a use case where this would happen?

The one somewhat realistic case I know of is the one we talked about last year (when we talked about `jumped`), and I talked about in [this pos

[2020-06-04 04:36] rkern commented on #16313
Unfortunately, that's not the case for XSL-RR. Let's consider two `PCG64` XSL-RR instances. We entropy-seed the increments arbitrarily and entropy-seed one of the states. We can construct `2**70` bad states for the other `PCG64` instance that fail PractRand in the same way as the same-lower-58-bits-state same-increment failure. It's just more complicated to do than in the same-increment case. Inst

[2020-06-04 05:12] #16484 closed

[2020-06-04 05:23] #11911 closed

[2020-06-04 05:33] imneme commented on #16313
@rkern, good point. I'll admit, I haven't tested that scenario to see how it fares.

[2020-06-04 07:18] vigna commented on #16313
As I have already remarked, this is false. I know of no example of a pair of correlated, non-overlapping sequences, say, from xoshiro256++ as you can find easily within PCG.

PRNGs which quickly mix their entire state do not have this problem. If you can provide a program generating two non-overlapping sequences from xoshiro256++ that are correlated, like the examples I posted here, please do so.

[2020-06-04 07:24] vigna commented on #16313
The program quoted above _chooses the streams_. It is obviously easy to write it.

But that has nothing to do with PCG's problems. The program I provided let _user_ choose the streams, and then shows correlation.

I invite, again, @inmeme to provide a program for SplitMix in which the user can select two different streams arbitrarily, an arbitrary initial state of the first generator, and _then_ t

[2020-06-04 07:45] imneme commented on #16313
It seems like we're talking past each other here.  I'm didn't say I could come up with correlated, non-overlapping sequences for any PRNG, I said I could come up with pathological seedings in general, as shown with the various correlation programs I'd written previously, and others such as the [bad repeats demonstration program for Xoshiro**](https://gist.github.com/imneme/b706137e8da12d71f4dc3766

[2020-06-04 08:08] vigna commented on #16313
Please try to keep the discussion at a technical level. "Pathological" has no mathematical meaning.

The technically correct way to check for self-correlation is finding two seeds yielding two non-overlapping sequences (non-overlapping for the duration of the test—they will unavoidably overlap if you go far enough), interleave them and pass it to a battery of tests.

If you consider two sequences

[2020-06-04 08:14] imneme commented on #16313
Can you point to the literature for this definition of correlation so I can make sure I stay “technically correct” about that, too?

[2020-06-04 08:22] imneme commented on #16313
Sebastiano, you keep wanting me to answer a challenge set on your terms. What you're pointing out relates to intrinsic properties of LCGs, where there is self-similarity. You won't find the same issue on a chaotic PRNG or an LFSR-based one.

But for other PRNGs there will be other weak spots.

LFSRs have zeroland, bad states, hamming-weight issues, linearity, and as we learned with your attempts w

[2020-06-04 08:22] vigna commented on #16313
If the sequences overlap, as I wrote, the test will _always_ fail. You do not need literature to understand that a test that _always fail_ is not a test.

Once again, since you claim to have found correlation similar to PCG (in which the sequences are not overlapping, as the test shows) in other generators, can you provide a pair of correlated, non-overlapping sequences, say, from xoshiro256++ or

[2020-06-04 08:42] vigna commented on #16313
Note that 64-bit "cheap multipliers" have provable defects. This is known from a long time:

W. Hörmann and G. Derflinger, A portable random number generator well suited for the
rejection method, ACM Trans. Math. Softw. 19 (1993), no. 4, 489–495.

In general, multipliers smaller than the square root of the modulus have inherent limits to their spectral score f₂.

The limit can be easily overcome b

[2020-06-04 08:51] vigna commented on #16313
Wow, it took a while to get there!

I totally agree—that's why you have to scramble them. Note that LFSRs and F₂-linear generators are different things; related, but different.

"Strange problems with repeats" is, as usual, a non-technical term that I cannot comment upon.

Please do not generalize. SFC64, for example, is a chaotic generator and it has no such issues. Its state contains a 64-bit co

[2020-06-04 08:58] imneme commented on #16313
It seems odd to not be able to comment because I didn't use the right jargon — run [this program](https://gist.github.com/imneme/b706137e8da12d71f4dc376611750849) and then feel free to enlighten me with the best way to describe the issue in the proper jargon and then provide whatever commentary seems appropriate.  I would have imagined that you and David Blackman would have discussed the issue whe

[2020-06-04 09:31] JUSTNIUB opened #16497 "DOC: Add an example of np.transpose(4d_array) to the docs"
Content from @eric-wieser:

[2020-06-04 09:38] mreineck opened #16498 "Erratic performance of array transposition operations"
I'm running simple timings of `numpy.ndarray` transposition on an otherwise idle machine and get extreme variations (almost two orders of magnitude) in the required CPU time.
I'm using numpy 1.17.4 with ipython 7.14.0 and Python 3.8.3

### Reproducing code example:

[code]
When I continue this procedure, the timings stay around the 251ms mark and don't go back to the single-digit numbers (which ar

[2020-06-04 10:09] eric-wieser commented on #16497
The docs for `np.transpose` could probably do with an extra example of `some_4d_array.T.shape`

[2020-06-04 10:10] eric-wieser commented on #16498
Note that `transpose` is basically free, so the actual performance variation you're seeing is in `ascontiguousarray`

[2020-06-04 10:12] eric-wieser commented on #16498
On windows with the same numpy version I get no issue:
[code]
So it looks like you're hitting a memory manager issue. Perhaps one array spanned multiple pages, while the other did not? You could  look at `hex(a.ctypes.data)` to try and work that out.

[2020-06-04 10:22] mreineck commented on #16498
OK, I get
[code]
for the first array, and
[code]
for the second one. I'm pretty sure that both span multiple memory pages, even if huge pages are active, because the array is almost 30MB.
I think it's quite surprising that the second array ends up at a completely different corner of address space, but on the other hand that shouldn't make any difference.,,

[2020-06-04 10:34] JUSTNIUB commented on #16497
thank u very much

[2020-06-04 10:36] eric-wieser commented on #16497
Let's leave this open as a documentation task.

[2020-06-04 10:54] JUSTNIUB commented on #16497
could you give me a link of the document please?I don't know how to find it. thank you

[2020-06-04 11:06] lkjell opened #16499 "BUG: numpy.pad pad constant is cast to input array dtype"
When a constant pad is performed the constant value is cast to the dtype of the input array. This is problematic for dtype int and constant value is float.

### Reproducing code example:

[code]

### Error message:
The expected final array should have the constant value not converted to int.

### Numpy/Python version information:

import sys, numpy; print(numpy.__version__, sys.version)

1.18.1 3.

[2020-06-04 11:07] danvip10 commented on #16416
I see. I installed with admin permissions and opened a new DOS windows afterwards, but still the libgfortran dll wasn't there. Could you tell in which folder yours was located?
I am trying to download just that dll separately, but it seems more dll's might be missing..

[2020-06-04 11:14] mattip commented on #16497
The docstring for transpose in [`numpy/core/_add_newdocs.py`](https://github.com/numpy/numpy/blob/v1.19.0rc2/numpy/core/_add_newdocs.py#L3998) is [rendered](https://numpy.org/devdocs/reference/generated/numpy.ndarray.transpose.html) via sphinx. Please read [the developer docs](https://numpy.org/devdocs/dev/index.html) to get started with a PR. In order to test your changes, you should first build

[2020-06-04 11:24] JUSTNIUB commented on #16497
thank you. I will learn it.

[2020-06-04 11:32] mattip commented on #16416
I reported that [above](https://github.com/numpy/numpy/issues/16416#issuecomment-637631618)

[2020-06-04 11:45] mreineck commented on #16498
It could also be a bad interaction between the starting addresses of `a` and the temporary output array. The first stride of `a` is nasty (this is deliberate, because I originally planned to analyze whether `ascontiguousarray` does something clever when presented with "difficult" strides), and it might be that unlucky placement of the output array leads to even more cache thrashing.

 Do you happe

[2020-06-04 13:15] auo355 commented on #16494
No. There is no numpy directory there

[2020-06-04 13:49] rkern commented on #16313
Discussion of PRNGs not in `numpy` is off-topic. Please use your own forums to continue that discussion. Thank you.

[2020-06-04 14:01] seberg commented on #16493
Let me close this I guess.  @rkern unless the resolution of that discussion is high up on the todo list, should we add a milestoned issue for the 1.20 release to update either PCG64 or at least `default_rng()` if that was the take-away. Should we already backport a documentation update for 1.19 to note that this will happen?

[2020-06-04 14:01] #16493 closed

[2020-06-04 16:15] moorepants commented on #15003
I hit this again here:

https://github.com/matthias-k/cyipopt/pull/65

Note that a new solution was applied. It seems that conda now needs the base environment to be activated. I'm not sure why, but it did fix the issue. Add this before any calls to conda:

[code]

[2020-06-04 16:34] matthew-brett commented on #16313
@rkern - that seems a bit strict as a criterion.   If there's a deficiency in the Numpy implentation that is not shared by other implementations, that seems reasonable to discuss.

[2020-06-04 16:48] rossbar commented on #16470
I'm going to go ahead and close this as the underlying cause has been reported more clearly in other issues. Thanks @ewmoore for the detailed explanation.

[2020-06-04 16:48] #16470 closed

[2020-06-04 17:39] rkern commented on #16313
I can confirm that the exchange I'm referring to is not helping me make the decisions that are in front of us in this issue. Until we make progress on that, I need the conversation to stay focused.

[2020-06-04 18:46] anirudh2290 commented on #15959
So to summarize, we should consider the current behavior

[code]
as a bug and fix it.

For inf, to be aligned with python, if there is an inf in any component then both components have to exactly match otherwise its false. It doesnt look like it honors absolute in python, so we shouldnt support it either.

[code]

For rel_tol, also it seems to not consider rel_tol

For equal_nan, it seems fine to

[2020-06-04 19:03] #15139 closed

[2020-06-04 19:04] seberg commented on #16499
I do think it was by design that the result array always has the same datatype as the input array. That said, this may be less obvious here, so I would be up for discussion. Or we could switch the casting to "same kind" logic here (which generally would also be good for assignments).

If we say this is identical to assignments (which is what it does internally anyway), then there is nothing to do

[2020-06-04 19:32] seberg commented on #16498
I can reproduce the wide fluctuations. And I can disable hugepages and it makes no difference. Further, I cannot see actual alignment changes.

I would be very interested if you can figure this out, because my guess is, that it is the same effect that tends to mess up half of my benchmarking attempts with wide unrelated fluctuations...

[2020-06-04 19:42] charris commented on #16498
I don't see this, it ranges 22-29 ms on my hardware. Fedora 32, NumPy 1.20.0.dev0+470c783, Intel i5.

[2020-06-04 19:42] seberg commented on #16498
@mreineck sorry about your actual question: NumPy unfortunately has *no* blocking iteration. Thus it will try to find the best iteration order, which is probably not a very good guess in general. I think this hsould give you an idea:
[code]
(it seems those should be iterated in C-order.)

[2020-06-04 20:11] charris commented on #16498
Upgraded kernel to 5.4.15, now runs consistently around 24 ms right after reboot. Could be memory gets crowded after the machine is up most of the day.

[2020-06-04 20:11] rgommers commented on #15959
I assume you forgot to replace some number with `inf` here? The issue is about inf/nan, and I don't see anything wrong here with the given code snippet.

[2020-06-04 20:16] seberg commented on #16498
@charris, I do not remember nearly as many irregular timings before I switchted to me newest computer, so I am tempted to think that it might have something to do with very up-to-date hardware. (I see about a factor of 10x difference on Debian with a 5.6 kernel and i7-8650U CPU – I disabled turboboost)

On the notion of a blocked iterator. I used to think this is hard, and should be something some

[2020-06-04 20:17] rgommers commented on #15959
To repeat what I've said a few times before: that's great if it's possible, but not a good enough reason to break backwards compatibility in case NumPy and Python both made reasonable but different choices (didn't check in detail if that's the case here). That's especially true if Python came way later with its implementation.

[2020-06-04 20:31] charris commented on #16498
@seberg This is with your self compiled NumPy? What are your CFLAGS?

[2020-06-04 20:32] mreineck commented on #16498
FWIW, I'm seeing this on a 5-year-old laptop with a Core i5-5300U CPU. Software is pretty up-to-dat, though (Debian testing).

I know that writing an all-round efficient and general transposition code is a really hard problem. Based on my spare time (don't have too much at the moment unfortunately) I'll try to come up with something that performs OK in most cases; if I want to improve my FFTs, the

[2020-06-04 20:34] charris commented on #16498
My CFLAGS are
[code]

[2020-06-04 20:34] mhvk commented on #16498
I do see the difference, but intriguingly can get back to "fast" behaviour by doing `del a` before redefining `a`.
[code]

[2020-06-04 20:36] mhvk commented on #16498
p.s. It is not `ipython` specific:
[code]

[2020-06-04 20:38] charris commented on #16498
I once implemented it as a sort just for the improved memory access :) I don't recall if it worked.

[2020-06-04 20:39] mhvk commented on #16498
p.s. On transposition, I recall there being a nice paper by the people who later implemented it for FFTW. Probably just one of the references at https://en.wikipedia.org/wiki/In-place_matrix_transposition

[2020-06-04 20:45] charris commented on #16498
@mhvk Interesting. I once implemented bit reversal for FFT's using swaps and cycles.

[2020-06-04 20:49] seberg commented on #16498
@charris it was with the default flags of `runtests.py` (but I think the same with the debian shipped NumPy 1.18.1). I have turboboost currently disabled, and used cpu-pinning, madvise was both always on, or `madvise` (and setting it off in NumPy). I do not think any of these settings matter.

I can reproduce the `del` behaviour Marten notes.

This case is extreme, but I am sure I have seen other

[2020-06-04 20:55] charris commented on #16498
I get the opposite behavior, times go from 23 to 30 ms. But this does suggest that memory management may be playing a role. I'm running Python 3.8 in case that matters.

[2020-06-04 21:09] seberg commented on #15959
Oh, I had forgotten after all this discussion that the original issue post already mentioned `cmath` and this behaviour. We need to decide what we think is best, and then open a `bpo` and maybe document the differences.  I personally think the python behaviour with partial complex `inf` may just be an oversight (although python is in slightly different situations about giving warnings)?

[2020-06-04 21:13] seberg commented on #16498
I suppose it is possible that it has to do with the compiler/GCC version as well (I am on 9.x, Chuck is on 10.x)? I did check alignments, and in both cases it seemed like 16 byte alignments.

[2020-06-04 21:18] anirudh2290 commented on #15959
:smile: sorry, my bad.

yes for inf it looks like it will be a breaking change, though i find the following behavior inconsistent in numpy:

[code]

[2020-06-04 21:33] lkjell commented on #16499
Casting by default to input array dtype is bad implementation. When I pad with a value I explicitly want it to pad with that value.

However, I believe a fix to this is to have a dtype parameter in numpy.pad to determine the returned dtype, and default to cast to same dtype. With the dtype parameter the user can easily assign the returned dtype to be the input array's dtype explicitly.

A very eas

[2020-06-04 21:35] imneme commented on #16313
I think it is helpful to understand the broader context. Sebastiano has a bit of a thing about PCG and has been railing against it for years. I think these days some people might look at us both and roll their eyes and say “your both as bad as each other” because I've also critiqued his PRNGs, but actually I only did so after he went around making claims that I was trying to hide something by neve