[2021-05-05 17:08] r-devulap commented on #18916
I will add a patch to fix this behavior.

[2021-05-05 17:15] #16313 closed

[2021-05-05 17:20] #18892 closed

[2021-05-05 17:40] charris commented on #12550
@h-vetinari Are you still working on this?

[2021-05-05 18:14] seberg commented on #17495
Removing the milestone.  I don't think the changes are troubling right now, but we do probably want the "always warning" behaviour at some point.

[2021-05-05 18:23] mattip commented on #13956
Please remind us to ship 64-bit OpenBLAS in the wheels after the 1.21 release, so there will be time to test it before 1.22.

[2021-05-05 18:26] mattip commented on #9290
Closing This has been around so long I hope people have cleaned up their code to not need it any more. If that is not the case, please submit a PR to use `array_equal` for `bool`s.

[2021-05-05 18:26] #9290 closed

[2021-05-05 18:28] seberg commented on #17075
@pentschev do you think there is any usage we have to reconsider here, or must clarify.  There is a slippery slope to being de-facto not experimental api anymore unless we revisit this soon enough.  (Ideally by accepting the NEP as final.)

[2021-05-05 18:29] rgommers commented on #18881
That I agree with, very much undesirable. My expectation would be to apply casting rules to all inputs; if they're all integer then just use integer division (i.e. `linspace(0, 3, num=6)` --> `array([0, 0, 1, 1, 2, 2])`. But yeah, that's also not great.

Yes, that seems like the best option indeed.

[2021-05-05 18:33] seberg commented on #14142
@tacaswell sorry that this got dragged so long, is this still a major issue or was the warning enough to tape it over a bit or do we have to keep prioritizing it? (By now it seems unlikely we can prioritize for 1.21 though :()

[2021-05-05 18:36] mattip commented on #14142
Also: is this really a regression?

[2021-05-05 19:08] seberg commented on #18316
Closing this, since it is pretty much the same as gh-17495 and I think there was probably more info there.  As said there, I hope that we can fix this by e.g. always warning here, but at this point, it is probably OK not to milestone it specifically.

[2021-05-05 19:08] #18316 closed

[2021-05-05 19:13] legoffant opened #18917 "DOC error when git clone with a ssh key"
## Documentation

The error show in development setup a wrong configuration of git clone when using over ssh
[development setup page](https://numpy.org/devdocs/dev/gitwash/development_setup.html)

go to the head "Optional: set up SSH keys to avoid passwords"

the instruction said to in https to do:
[code]
replace by
[code]
the user should fork is own repo and then use ssh
so the command should be:

[2021-05-05 20:07] legoffant commented on #18917
Hi i've done the change. It was my first PR on Github, i've not checked all contribution guideline first but my think was to do something to learn the process of contributing on open source project as numpy

[2021-05-05 20:24] h-vetinari commented on #12550
Hey @charris, thanks for checking in; fundamentally yes, I still want to fix it, but since I read somewhere that 1.21 branches in May, that's not gonna happen until then. #18683 is my first foray into the entrails of numpy, and that's a pretty large initial hurdle to overcome (and work/life hasn't been kind recently).

[2021-05-05 20:44] florisje commented on #13106
I think this is no longer an issue.

[code]

Can we close this?

[2021-05-05 20:45] #13106 closed

[2021-05-05 23:02] #18916 closed

[2021-05-05 23:37] seiko2plus commented on #18901
The build fails due to GCC bug fixed in https://github.com/gcc-mirror/gcc/commit/9cdd568036ada33c6cd7649c6f55e4359f1ca5a5 (GCC 5.5.0), it has been reported before by #18297 and it should get fixed by #18903.

In that case, you have two options:
- Disable AVX512 during the build time by specifying certain features that need to be dispatched in runtime
  e.g. `build --cpu-dispatch="sse41 avx2 fma3"`

[2021-05-06 04:14] mattip commented on #18901
It would be nice to capture these answers in the documentation

[2021-05-06 04:25] mattip opened #18926 "DOC: Improve SIMD documentation"
## Documentation

Continuation of #18901

The [SIMD](https://numpy.org/devdocs/reference/simd/simd-optimizations.html) documentation could use and overhaul.

- It should be broken up into a number of documents. Each should be one of (based on the [Diataxis framework](https://diataxis.fr/))
  - a reference document (with all the detail about how dispatch works),
  - a howto page (on how to use the

[2021-05-06 04:26] mattip commented on #18926
This is a big project and will need to be done in coordinated stages

[2021-05-06 06:02] samfux84 commented on #18901
@mattip Thank you very much for your detailed and helpful answer.

Thank you for pointing to this. The GCC 6.3.0 (Dec. 2016) that I use was released before GCC 5.5.0 (Oct 2017), therefore it still contains the bug. Will #18903 be included in the next numpy release?

This is good to know. I just wanted to avoid avx512 because not all node in our HPC cluster support it. If numpy (with avx512 support

[2021-05-06 06:36] mattip commented on #18901
I think you meant to thank @seiko2plus.

[2021-05-06 06:54] mocquin commented on #18902
What is the underlying reason to trigger the __array_function__ only on arrays ? There are lots of functions in numpy that can be used with only scalars, but hence can't be overloaded

[2021-05-06 09:46] moboh commented on #5687
Python 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32

On 3. May 2021, at 16:46, Charles Harris ***@***.******@***.***>> wrote:

What platform?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/numpy/numpy/issues/5687#issuecomment-831307958>, or unsubscribe<https://github.com/notificati

[2021-05-06 11:26] mhvk commented on #18902
See https://numpy.org/neps/nep-0018-array-function-protocol.html

It is a conscious choice not to override arguments like `axis` or `keepdims`, as it is assumed the intent is that the functions continues to work the same, but just on a different array type. But probably most fruitful to discuss specific other examples where an override of a given argument would be good - maybe like your example he

[2021-05-06 13:08] pentschev commented on #17075
So far I haven't really encountered anything we need to clarify or reconsider. Examples of real usage of NEP-35 can be found in Dask, particularly https://github.com/dask/dask/pull/6738 which introduces support for NEP-35 and several functions that were impossible to implement before that, as well as percentile support (https://github.com/dask/dask/pull/7162), lstsq/cholesky (https://github.com/da

[2021-05-06 15:06] seberg commented on #17075
I guess the main volatility may have been around whether to relax the `like=` to allow non-array-likes. But, that is the one thing we can also just do without much concern I think.

[2021-05-06 18:27] mocquin commented on #18902
Agreed on arguments like `axis` and `keepdims`. Another example is the random functions like `numpy.random.normal` but I am not sure it fails for the same reason :

[code]

[2021-05-06 19:16] jon-middleton commented on #15726
I have another complaint. Consider the following example:
[code]
Then NumPy throws a ValueError:
[code]
So `np.fromfunction` doesn't seem to like conditionals in the function it takes as a parameter. Why is that? And is there a workaround?

[2021-05-06 19:21] eric-wieser commented on #15726
You should be using `np.maximum(x+y, 0)` there

[2021-05-06 19:49] seiko2plus commented on #18901
@samfux84,

yes, sure

In that case, it would better to remove `--cpu-dispatch=none` and only keeps `--cpu-baseline="avx2 fma3"` as long as you guarantee of having `AVX2 and FMA3` among all CPUs. In most cases, there's no need to modify the default settings of `--cpu-dispatch` unless you really want to reduce the binary size or you dealing with certain compiler bugs.

[2021-05-06 21:26] charris commented on #18859
I plan to release 1.20.3 this weekend (May 8-9).

[2021-05-06 21:26] #18859 closed

[2021-05-06 21:34] charris commented on #18555
Going to push this off to 1.22.0 for tracking. It seems the problem is not directly connected to NumPy.

[2021-05-06 21:41] charris commented on #18547
@mmckerns What is the current status with dill? I'm going to kick this off to Numpy 1.22.0 for tracking. If there is a fix we can backport to the upcoming 1.21.x branch.

[2021-05-06 21:44] charris commented on #18740
Going to push this off to 1.22.0 for tracking. If there is a fix, we can backport to 1.21.x.

[2021-05-06 21:48] charris commented on #18607
Pushing this off to 1.22.0 for tracking. There seems to be some discussion about the modifications that led to this slowdown.

[2021-05-06 22:06] ctilly opened #18928 "Numpy ImportError: cannot import name 'sliding_window_view' from 'numpy.lib.stride_tricks'"
The sliding_window_view routine seems to be missing from numpy.lib.stride_tricks

numpy.__version__ = 1.19.4

OS = Windows 10

### Simply adding it as a library produces the error.
e.g. from numpy.lib.stride_tricks import sliding_window_view

In the below example I was trying to use the pandas-ta library, which is how I discovered this bug.

### Error message:
ImportError: cannot import name 'slid

[2021-05-06 22:11] afkowalski opened #18929 "histogram2d bug (or wrong documentation)"
I wasn't sure if this is a bug or a documentation issue.  It is not stated that to use pcolormesh after invoking histogram2d, you have to transpose the returned histogram!  I see that H.T is in one of the examples, but it's certainly not stated that you MUST do this.  The x and y mapping to row and column in python is a headache, and it would be helpful if this issue was explicitly stated in the d

[2021-05-06 22:18] eric-wieser commented on #18929
histogramdd does not do this transposition, for what it's worth.

[2021-05-06 22:24] BvB93 commented on #18928
That would make sense, as `stride_tricks` was added in numpy 1.20, while you're still using 1.19.

[2021-05-06 22:36] #18928 closed

[2021-05-06 23:17] ctilly commented on #18928
Indeed!  My bad.  Thanks for the quick reply.

[2021-05-07 00:23] #18917 closed

[2021-05-07 01:22] charris opened #18932 "New CI failures."
CI has started failing somewhat randomly with
[code]

[2021-05-07 01:47] charris commented on #18932
The test always passes on my machine, perhaps it is hardware related?

[2021-05-07 02:13] #18814 closed

[2021-05-07 02:24] r-devulap commented on #18932
The randomness is a bit worrisome. It might be the case that different standard C libraries vary in how they report underflows, but that doesn't explain randomness.

[2021-05-07 03:42] mattip commented on #18932
One failing machine is reporting `NumPy CPU features:  SSE SSE2 SSE3* SSSE3* SSE41* POPCNT* SSE42* AVX* F16C* FMA3* AVX2* AVX512F* AVX512CD* AVX512_KNL? AVX512_KNM? AVX512_SKX* AVX512_CLX? AVX512_CNL? AVX512_ICL?`

[2021-05-07 03:45] mattip commented on #18932
Where a passing machine is reporting `NumPy relaxed strides checking option: False
NumPy CPU features:  SSE SSE2 SSE3 SSSE3* SSE41* POPCNT* SSE42* AVX* F16C* FMA3* AVX2* AVX512F? AVX512CD? AVX512_KNL? AVX512_KNM? AVX512_SKX? AVX512_CLX? AVX512_CNL? AVX512_ICL?`

[2021-05-07 03:53] mattip commented on #18932
so there is at least one case where it fails when AVX512F (and `AVX512CD`,  `AVX512_SKX`) **are** supported ('*') and passes when `AVX512F` (and `AVX512CD`,  `AVX512_SKX`) **are not** supported ('?'). @seiko2plus ideas?

[2021-05-07 03:58] r-devulap commented on #18932
@mattip do you know if they use the same compilers?

[2021-05-07 05:14] mattip commented on #18932
[here](https://github.com/numpy/numpy/actions/runs/818672755) are a bunch of CI runs with some failures, some successes. It seems the failure is correlated very well with AVX512F
run | state |has avx512f |compiler
--|--|--|--
basic (3.8) | success | AVX512F?  | GCC 9.3.0
basic (3.9) | failure | AVX512F* | GCC 9.3.0
debug | failure | AVX512F* | GCC 9.3.0
debug | failure | AVX512F* | GCC 9.3.0
blas6

[2021-05-07 08:35] seiko2plus commented on #18932
just a simple nit, I'm not sure why CI didn't catch it during the pr build but maybe there's was no single worker with AVX512 support at that time.

[2021-05-07 10:33] hroncok commented on #18914
We see that in Fedora as well.

https://koschei.fedoraproject.org/build/10273521

openblas was updated from 0.3.14 to 0.3.15

[2021-05-07 14:13] #18932 closed

[2021-05-07 16:17] BvB93 commented on #7370
Hi all,

Some time ago, back in https://github.com/numpy/numpy/pull/17719, dtype support was introduced for `np.ndarray` (including a placeholder sloth for shapes). As a followup, earlier today a new PR was submitted (https://github.com/numpy/numpy/pull/18935) adding a runtime-subscriptable alias for `np.ndarray[Any, np.dtype[~Scalar]]`, the latter providing a convenient (and compact) alias for an

[2021-05-07 17:30] #18838 closed

[2021-05-07 18:04] Daybreak2019 opened #18937 "Potential unsigned integer overflow risk in FormatScientific of dragon4.c"
### Reproducing code example:
**Snippet **:

[code]

### Error message:
When we run our analysis tool on NumPy, a potential int-overflow problem was reported,  see details below:
**File**:  numpy/core/src/multiarray/dragon4.c
**Function**:  FormatScientific
**Details** in [description](https://github.com/Daybreak2019/IssueReport/blob/master/Numpy/case-5648/5648.png)

### NumPy/Python version infor

[2021-05-07 18:13] rkern opened #18938 "PCG64DXSM performance on 64-bit Windows is poor"
Surfaced on #18936

I derived the hand-"optimized" code for this case from the PCG64 code, just removing the parts that used the upper 64-bits that are missing in the cheap multiplier. I need to dive into the generated assembly to see what's going on. Issue opened for collaboration in case anyone has more assembly-adept eyeballs.

Here is the generated assembly of the 128-bit math using clang: htt

[2021-05-07 18:30] Daybreak2019 opened #18939 "Potential buffer overflow in PyArray_NewFromDescr_int of ctors.c"
### Reproducing code example:
**Snippet**:
PyArray_NewFromDescr_int(...., **int nd**,......)
{
    ...............
    if (descr->subarray) {
        PyObject *ret;
        npy_intp **newdims**[2*NPY_MAXDIMS];
        npy_intp *newstrides = NULL;
        **memcpy**(newdims, dims, nd*sizeof(npy_intp));
        if (strides) {
            newstrides = newdims + NPY_MAXDIMS;
            **memcpy**(new

[2021-05-07 19:40] melissawm commented on #18265
Looks like this has been fixed - I'll close but feel free to reopen if that's not right.

[2021-05-07 19:53] melissawm commented on #18699
Sorry I missed this ping - sounds good, go for it!

[2021-05-07 19:57] melissawm commented on #16244
I believe we have addressed most of this already - please feel free to reopen if you feel otherwise.

[2021-05-07 19:57] #16244 closed

[2021-05-07 20:37] eric-wieser commented on #18939
I think this is probably safe at the call sites, but adding an assert to `PyArray_NewFromDescr_int` would probably be a good idea just to verify that

[2021-05-08 00:41] BvB93 opened #18942 "Allow module-names to be excluded in the typing tests"
The type comments in the typing [`reveal`](https://github.com/numpy/numpy/tree/main/numpy/typing/tests/data/reveal) tests are currently rather verbose, the main contributor
being the fact that all type names are currently prepended with their respective module,
as this is how mypy reports them.

Ideally we can strip the module names from the reported types, allowing us to cut down on the verbosity

[2021-05-08 04:46] rajpratyush commented on #18926
@mattip Could you tell me how to get started

[2021-05-08 11:27] ajz34 commented on #18512
I found this issue after raised a question at [stackoverflow](https://stackoverflow.com/questions/67431966/how-to-avoid-huge-overhead-of-single-threaded-numpys-transpose) :joy:
I encountered transpose problems for those two cases, and possibly difficult to use shallow copy to bypass the time-costly transpose+copy:
- symmetrize large tensor (`A + A.swapaxes(-1,-2)`) or make a new tensor (`2 * t - s

[2021-05-08 11:36] ajz34 commented on #18512
I found this issue after raised a question at [stackoverflow](https://stackoverflow.com/questions/67431966/how-to-avoid-huge-overhead-of-single-threaded-numpys-transpose) :joy:
I encountered transpose problems for those two cases, and possibly difficult to use shallow copy to bypass the time-costly transpose+copy:
- symmetrize large tensor (`A + A.swapaxes(-1,-2)`) or make a new tensor (`2 * t - s

[2021-05-08 13:02] rgommers commented on #18914
I can reproduce this with OpenBLAS `0.3.15` from conda-forge; the test passes with `0.3.12` and `0.3.13`. I'll report upstream. gh-18943 xfail's the test for now.

[2021-05-08 13:13] rgommers commented on #18914
The failure can be reduced to:
[code]

[2021-05-08 13:46] pranjal-joshi commented on #5528
Still getting the same error while using **`np.polyfit`**
`** On entry to DLASCLS parameter number  4 had an illegal value`

Any updates about fixing this issue? Or even muting this could help for my application!

[2021-05-08 14:20] rgommers commented on #18134
Thanks for the report @maciej-jedynak. I agree this is not a good situation, `savez` should raise the same exception as `save`.

TODO here:
- ensure there's a test for `save` that checks `NotImplementedError` is raised. Can be put in `numpy/ma/tests/test_core.py`.
- implement the same test for `savez` (which should at first fail) next to it.
- then figure out what `savez` uses from the input array

[2021-05-08 14:23] rgommers commented on #18025
This will be an environment issue, you are picking up a numpy source repo or an incorrectly built numpy.

There's nothing wrong here, but if you need more help for this kind of install issue, please supply the full details of how you installed numpy and python.

[2021-05-08 14:23] #18025 closed

[2021-05-08 14:31] rgommers commented on #17770
This is on purpose. Arrays can be really large, and this would make the output completely unreadable.

I don't think there's anything to do here. The user should rerun the test, and drop into a debugger for example.

[2021-05-08 14:31] rgommers commented on #17491
Agreed, closing. Thanks for the report @nicolas-harraudeau-sonarsource

[2021-05-08 14:31] #17491 closed

[2021-05-08 14:33] rgommers commented on #17469
No follow-up for >6 months and this is not actionable, so I'll close the issue. The question about possible changes in `random.normal` were answered.

[2021-05-08 14:33] #17469 closed

[2021-05-08 14:36] rgommers commented on #17162
Not a numpy issue, closing.

[2021-05-08 14:36] #17162 closed

[2021-05-08 14:37] rgommers commented on #17136
I think this is a good idea. It's worth a try; when someone has a patch, try seeing what breaks in the test suite of NumPy itself and a few downstream projects like SciPy and Pandas.

[2021-05-08 14:57] rgommers commented on #14088
This is no longer needed. `pyproject.toml` is simply _the_ standard way of doing things now, and it has worked fine for a while. Closing.

[2021-05-08 14:57] #14088 closed

[2021-05-08 15:00] rgommers commented on #13643
CI has had many improvements since this issue is opened. We don't use TravisCI much anymore; better caching is always welcome; Bazel is not something we want.

Closing, thanks all.

[2021-05-08 15:11] rgommers commented on #12071
This is still the case, it should be replaced with non-deprecated functionality from https://docs.python.org/3/library/tempfile.html

[2021-05-08 15:24] rgommers commented on #10438
This is still the case, and indeed looks like a bug. If `weights` also has a mask, and has masked elements that are unmasked in `x`, then that should either raise an exception or the output element should be calculated using the union of the two masks. I think the latter is probably better.

[2021-05-08 15:27] rgommers commented on #10173
It's time to close this, we have broad consensus that we don't want too add simple helper functions like this. Thanks everyone.

[2021-05-08 15:27] #10173 closed

[2021-05-08 15:43] rgommers commented on #9439
It would be nice to confirm this is still fixed, and add a unit test that compares saving to a tempfile to a stored reference. There are other `.npz` reference files in `numpy/lib/tests/data/` already.

[2021-05-08 15:44] rgommers commented on #9417
We can close this I think, we have a new website and new notebook tutorials.

[2021-05-08 15:44] #9417 closed

[2021-05-08 15:48] rgommers commented on #8595
There's https://github.com/quansight/pnumpy now that does this. Thanks for the question. Closing.

[2021-05-08 15:48] #8595 closed

[2021-05-08 15:56] rgommers commented on #7379
There's ReLAPACK in OpenBLAS now. That's the right place, so let's close this. Thanks everyone.

[2021-05-08 15:56] #7379 closed

[2021-05-08 15:57] rgommers commented on #7376
Closing in favor of https://github.com/numpy/numpy.org/issues/431

[2021-05-08 15:57] #7376 closed

[2021-05-08 16:03] rgommers commented on #7661
Closing as a duplicate of gh-5407.

[2021-05-08 16:03] #7661 closed

[2021-05-08 16:04] rgommers commented on #5143
Is in SciPy now: https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.khatri_rao.html

Closing, thanks all.

[2021-05-08 16:04] #5143 closed

[2021-05-08 16:09] rgommers commented on #4242
All examples in `numpy/lib/recfunctions.py` now start with:
[code]
So this is fixed, closing.

[2021-05-08 16:09] #4242 closed

[2021-05-08 16:10] rgommers commented on #3797
`LDFLAGS` has been honored by default since numpy 1.18.0, so closing this.

Thanks all.

[2021-05-08 16:10] #3797 closed

[2021-05-08 16:14] #1859 closed

[2021-05-08 16:15] rgommers commented on #1998
Duplicate of gh-2417, closing.

[2021-05-08 16:15] #1998 closed

[2021-05-08 16:27] themaddoctor opened #18945 "cannot build on older processors"
Cannot build on my processor. Have a nice day.
[code]

### Reproducing code example:

[code]

### Error message:

### NumPy/Python version information:

[2021-05-08 16:47] charris commented on #18945
What processor? What compiler? What OS?

[2021-05-08 16:51] themaddoctor commented on #18945
i7
gcc 7.3
linux (generic)

[2021-05-08 16:56] themaddoctor commented on #18945
[code]

[2021-05-08 16:57] jacekt opened #18946 "np.ma.masked_where(copy=False) fails to modify array in place when there were no masked elements in the array initially"
`ma.masked_where` documentation says that:
[code]

But it fails to modify the array's mask when the original mask is empty:

### Reproducing code example:

[code]

It works properly when there are some masked elements in the array already:

[code]

### Error message:

None.

### NumPy/Python version information:

1.20.2 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)]

[2021-05-08 17:27] charris commented on #18945
Hmm, I run an i5-4670K which is very similar, except that it has AVX2 that seems to be missing from yours. @seiko2plus Thoughts?

[2021-05-08 17:47] rkern commented on #18945
I wonder if the age of `gcc` is more the culprit here, as in #14787

[2021-05-08 18:01] mwlon opened #18947 "Inconsistent broadcasting behavior"
### Reproducing code example:

[code]

### Unexpected result:
`pairwise_diff0` has the correct shape of `[5, 5, 3]`, but `pairwise_diff1` has a nonsensical shape of `[1, 5, 3]`!
[code]

### NumPy/Python version information:

[code]

[2021-05-08 18:14] rkern commented on #18947
[code]

You have a typo in the second argument. You are missing a comma after the `None`.

[2021-05-08 18:14] #18947 closed

[2021-05-08 18:15] seberg commented on #18947
Thanks robert, I was getting really confused how that could possibly be a bug :).

[2021-05-08 19:22] seiko2plus commented on #18945
@themaddoctor, I'm not sure what kinda a setup you have but according to your build error, you have a mismatched combination of old assembler and modern compiler. In other words, your compiler supports AVX512 but your assembler is not. probably you're running gcc7.3 on outdated Linux distribution(old version of GNU Binutils).

It is not clear to me your intention behind building NumPy from the sou

[2021-05-08 19:32] themaddoctor commented on #18945
Thanks. I'll try option 3.

[2021-05-08 20:09] #7474 closed

[2021-05-08 23:06] lschwetlick commented on #17136
The relevant functions to adjust, unless I missed any, are
- isclose
- allclose
- array_equal
- array_equiv

A quick check didn't show any major problems or tests failing in numpy if I raise an error when just one of the inputs to any of those functions is bool array. I'll write some tests and  make a PR tomorrow.

[2021-05-08 23:22] ijoseph commented on #17136
Sounds good! Thanks for taking this on.

A few points:
* Hm, I think we'd probably want to check for general type mismatch rather than specifically `bool`.  (e.g. this also `np.allclose([1], [1.0])`  should probably warn). We can probably use the `dtype` attribute for this.
* I think we'd also want to patch the corresponding `testing.assert_*` methods:
     * [`testing.assert_allclose`](https://gi

[2021-05-08 23:30] BvB93 commented on #17136
Instead of deprecating anything, why not just add the `casting` parameter? (see the `astype` docs for an [example](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.astype.html#numpy.ndarray.astype) in the `astype` docs)
This would allow users full control over the desired degree of allowed dtype mismatch, since I imagine this can vary wildly on an application by application basis.

[2021-05-08 23:36] ijoseph commented on #17136
That's a good idea @BvB93 . Although if we defaulted to `'unsafe'`, we'd want to have some warning at least I think? The goal being preventing silent casting by default.  Or we could default it to `'same_kind'` or `'safe'`.

[2021-05-08 23:47] BvB93 commented on #17136
I'm not sure if there would actually be any difference between `"unsafe"` and `"same_kind"` in this case, as there is no way of explicitly passing a dtype to aforementioned comparison functions?

In any case, the line below is where the magic currently happens. Currently all ufunc calls performed herein use the default casting (`"same_kind"`), so if we're adding a `casting` parameter I'd suggest s

[2021-05-09 00:00] ijoseph commented on #17136
That seems good. I think `'same_kind'` suffices to throw an error:

[code]

Confusingly, though, there is no error thrown from `isclose`,
[code]

even though your link suggests that it already _does_ use `'same_kind'` if I understand correctly?

https://github.com/numpy/numpy/blob/e3583316cab5e71f2b361c32a3eee748905f40c5/numpy/core/numeric.py#L2339

Maybe this is catching it?
https://github.com/nu

[2021-05-09 05:34] charris opened #18949 "GCC 11.1.1 with `-O3` causes a lot of RuntimeWarning: invalid value . . .` errors"
This is on Fedora 34 with gcc version 11.0.1. There are also a lot of zero divide warnings. They don't depend on the python version, nor even the NumPy version. Nor do they appear in python itself. There are some 60 of them in main.

[code]
It may be library/compiler related.  None of these show up in the CI tests.

NumPy CPU features: SSE SSE2 SSE3 SSSE3 SSE41 POPCNT SSE42 AVX F16C FMA3 AVX2 AVX5

[2021-05-09 05:47] charris commented on #18945
This also happens with `cpu-dispatch` disabled.
[code]

[2021-05-09 06:14] charris commented on #18949
This also happens with cpu-dispatch disabled.

python3.8 setup.py build --cpu-baseline="native" --cpu-dispatch="none"  install --user

[2021-05-09 06:32] charris commented on #18949
I'll bet it is branch prediction gone wrong in the complex division loop.

[2021-05-09 09:32] lschwetlick commented on #17136
I am a little bit confused here:

Here it happily casts `int` to `float`
[code]

But when asked whether it can

[code]

Am I missing something?

[2021-05-09 10:07] lschwetlick commented on #17136
If I set the default to safe there are quite a few (50) tests that fail in numpy alone. I think its quite common for people to use compare and intentionally cast ints and floats. So perhaps if we want to introduce the casting keyword it makes sense to set the default to unsafe at first and give a warning and eventually move to the default being safe?

[2021-05-09 10:23] rgommers commented on #17136
I think you reversed the order there? From `float64` to `int64` clearly loses precision so is unsafe:
[code]
So the safe cast for your `less_equal` example should work I think. We need `equiv` casting to make it fail:
[code]

Probably that default and a gradual increasing of strictness makes sense. However, can you look at the failures and see if those 50 tests contain instances of things that are

[2021-05-09 10:31] rgommers commented on #17136
You were checking whether you can _downcast_ int to bool, but that's never what is tried - the question is whether the _upcast_ is safe. So `True` -> `1` is "safe" in the sense that it doesn't lose precision.

Also note that `same_kind` is a bad name, its description says _"'same_kind' means only safe casts or casts within a kind,"_. And if you check `safe` you see that upcasting (bool to int, int

[2021-05-09 10:41] lschwetlick commented on #17136
Oh, I see now! Thanks for clearing that up.

And I think the reason that it's not catching it in `isclose` is that the `less_equal` function in there gets passed the difference and not the absolute values. So the casting for happens in the "minus" function there.

[2021-05-09 10:42] BvB93 commented on #17136
Had to do a bit more digging, but it seems that `isclose` automatically converts the input to at least a float (_i.e._ complex is also possible depending on the input). Annoyingly enough `result_type` doesn't seem to support a `casting` parameter, so this I'll likely make things a bit more complicated.

https://github.com/numpy/numpy/blob/e3583316cab5e71f2b361c32a3eee748905f40c5/numpy/core/numeric

[2021-05-09 10:49] lschwetlick commented on #17136
I'll check it out

[2021-05-09 11:14] rgommers commented on #13114
Current status is 301 warnings.

<details>

[code]

</details>

With versions:
[code]

Especially the ones that don't involve C API objects should be easy to clean up.

[2021-05-09 12:56] jacekt opened #18951 "Assigment to np.ma.masked_array ignores mask in index"
Assignments like a[a>=3] = 5 dont handle masked elements in condition/index properly:

### Reproducing code example:

[code]

3 is masked, so it shouldn't be overwritten.

This works as a workaround:

[code]

### Error message:

None.

### NumPy/Python version information:

1.20.2 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)]
numpy-1.20.2-cp38-cp38-win_amd64.whl

[2021-05-09 13:27] charris commented on #18949
Using `-O2` instead of `-O3` fixes the problem.

[2021-05-09 13:27] kubekmonika commented on #17140
I will work on this issue today.

[2021-05-09 13:39] lauradmartens commented on #10438
@mecopur and I will be working on this bug

[2021-05-09 13:44] yashasvimisra2798 commented on #12717
Upon looking at the current documentation, it looks like this issue is not relevant anymore. Correct me if I am wrong.

[2021-05-09 13:49] alize-papp commented on #12071
@lyzlisa and I are working on this issue (WiMLDS Berlin hackathon)

[2021-05-09 13:56] rgommers commented on #12717
@yashasvimisra2798 yes, you are right. The documentation example now matches the actual behavior. The masked element is `-1` not `--` anymore. I'll close it. Thanks for looking into this!

[2021-05-09 13:56] #12717 closed

[2021-05-09 14:02] katleszek commented on #14299
I would like to take this one

[2021-05-09 14:09] seem-ish commented on #15292
I am working on this

[2021-05-09 14:09] IrinaMaria commented on #16751
Hello all, just to mention me and @paxcodes will look into this issue as part of the WiMLDS sprint.

[2021-05-09 14:12] Mukulikaa commented on #12652
The doc mentions that `isrealobj` will return False only if the argument is of type complex. So does it really require further clarification about other datatypes?

[2021-05-09 14:19] EvaJau commented on #16697
Hello, I will work on that issue.

[2021-05-09 14:20] rgommers commented on #12652
I think the issue is that `isrealobj` is only meant for arrays with numerical values in them. However, it happily accepts anything:
[code]
Semantically that does not make too much sense, so it deserves an explicit explanation/warning I think.

[2021-05-09 14:20] melissawm commented on #12652
I think a note stating explicitly that isrealobj assumes array input, and that other objects may cause the return value to be True would be nice.

[2021-05-09 14:22] lbogula opened #18952 "Copyright “The SciPy community”"
## Documentation

1. the copyright refers to the "SciPy" community and should be changed to "NumPy".

2. Should the start date be changed according to the numpy.org webpage? On numpy.org the copyright starts 2019, on the numpy documentation pages it starts 2008

[2021-05-09 14:25] marysia commented on #18929
I'm working on this.

[2021-05-09 14:28] rgommers commented on #18952
Ah, this is about https://numpy.org/doc/stable/. Changing only the end date seems good, so:
[code]
should be
[code]

[2021-05-09 14:28] rgommers commented on #18952
NumPy is older than 2008, but I think we only had html docs from then on, or some such reason for the 2008 start date:)

[2021-05-09 14:28] Mukulikaa commented on #12652
Great, @yashasvimisra2798 and I will work on it.

[2021-05-09 14:28] alinanesen commented on #14804
@ImenRajhi and me are looking into it now.

[2021-05-09 15:05] marysia commented on #18929
The example code for `NonUniformImage` in the documentation throws an error at the `ax.images.append(im)` line:

[code]

[2021-05-09 15:36] misalraj commented on #18952
hey, @lbogula how did you get that which file need to change?

[2021-05-09 15:39] #16697 closed

[2021-05-09 15:49] rossbar commented on #18929
Interesting... I'm having trouble reproducing this - how were you invoking the doctests?

[2021-05-09 15:49] lima-tango commented on #18952
Hi @misalraj, since the copyright is written on all pages, we assumed it would be in a configuration file. Therefore, we searched for "SciPy community" in `doc/source/config.py`.

[2021-05-09 15:55] marysia commented on #18929
We didn't invoke the doctests - we wanted to run the code example from the documentation, so copy-pasted the code (with the latest version of numpy and matplotlib).

[2021-05-09 15:57] hollycorbett commented on #15658
I can pick up this one

[2021-05-09 16:18] lyzlisa commented on #16261
@alize-papp and I are working on this issue (WiMLDS Berlin sprint)

[2021-05-09 16:26] #18952 closed

[2021-05-09 16:55] misalraj commented on #16261
I have already updated

[2021-05-09 17:04] mattip commented on #18929
Closed by #18959

[2021-05-09 17:04] #18929 closed

[2021-05-09 17:24] rgommers commented on #16261
Note that the issue is a little broader than the one example given, it's about consistency of all titles. @misalraj are you interested to go through the docs and check other pages?

[2021-05-09 17:25] rgommers commented on #16261
Or @lyzlisa and @alize-papp did you start on this? gh-18962 only fixes one page.

[2021-05-09 17:26] misalraj commented on #16261
I will look into this. @rgommers
Thanks for pointing out.

[2021-05-09 17:35] rgommers commented on #16261
Reopening, there is more to do here for other page titles.

[2021-05-09 18:54] eric-wieser commented on #18939
Yes you're right, `PyArray_Zeros` is an API function, and does not perform any checking of `nd` before deferring to `PyArray_NewFromDescr_int`:

https://github.com/numpy/numpy/blob/623bc1fae1d47df24e7f1e29321d0c0ba2771ce0/numpy/core/src/multiarray/ctors.c#L2819-L2828

[2021-05-09 19:24] rgommers opened #18969 "Script to generate contributor list for release note should pick up co-authors"
Example commit: https://github.com/numpy/numpy/pull/18956/commits/eb231979b90cfe7f434bd598aefe4196df74b32e

It looks like the script does not pick up co-authors. The PRs at today's sprint mostly came from pairs of contributors, so we should ensure we fix this before the next release.

[2021-05-09 21:56] seberg commented on #18939
It might be a bit hard to abuse, but the check for `nd` should indeed be moved up here to be on the safe side.

[2021-05-09 21:57] isuruf commented on #17807
@mattip, @charris, I guess we can publish wheels for the next release right?

[2021-05-09 22:12] seberg commented on #18937
I honestly doubt this is wrong.  I.e. the `numFrcationDigits` check is sufficient here.  If someone has a nice idea to make it clear in the code fine, otherwise, we could add an assert if it helps such analyzers.

[2021-05-09 22:51] ReallyNiceGuy opened #18971 "PyArrayNeighborhoodIterObject is left in wrong state after PyArray_ITER_GOTO1D on the underlying iterator"
PyArray_ITER_GOTO1D doesn't update coordinates in non contiguous mode, which is used by PyArrayNeighborhoodIterObject to calculate it's own position on PyArrayNeighborhoodIter_Reset, leaving the PyArrayNeighborhoodIterObject pointing to the last position before the call to PyArray_ITER_GOTO1D.

Note that at creation of a new PyArrayNeighborhoodIterObject, if forces a non contiguous mode on the und

[2021-05-09 22:56] h-vetinari commented on #15179
I tried exploratively removing the skip for that test (which hasn't changed in the conda-forge recipe since then) in https://github.com/conda-forge/numpy-feedstock/pull/227, and the failure is still there.

[code]

[2021-05-10 03:57] #18969 closed

[2021-05-10 04:26] #12652 closed

[2021-05-10 04:27] mattip commented on #18926
@rajpratyush I think the steps would be:
- Read the current documentation, and think about how to split that single page into a group of pages:
  - For people trying to use the command line options to control what features are used. What will they need as a minimum to understand what is happening under the hood?
  - For people wanting to use the SIMD infrastructure to write new loops
  - For peopl

[2021-05-10 04:31] seberg commented on #18971
Yeah, I agree, it seems like a bug and it the reset should work, if you want are up to it, a PR is welcome to fix it.

That said, I don't want to be pessimistic about it, but this API is very old and the only usage I am aware of is `scipy/signal/correlate_nd.c.src` and I don't really recall anyone ever using it specifically (although I am sure occasionally it is used).  There is no plan to make it

[2021-05-10 05:25] #18946 closed

[2021-05-10 05:28] rgommers commented on #18946
Thanks for the report @jacekt. Fixed now.

[2021-05-10 07:08] pentschev commented on #17075
Apologies for the late reply. I agree we could adjust later, but so far even that I'm not sure would be necessary. Therefore, I'm +1 on just accepting NEP-35 as is at this time, and we can revisit that later if a real use case shows up in the future.

[2021-05-10 08:58] rgommers opened #18977 "Dependabot is opening PRs on forks"
Example: https://github.com/rgommers/numpy/pull/7. This is ridiculous spam - how do we make that stop?

[2021-05-10 09:15] GBR-613 opened #18978 "Inconsistent behavior of linalg.slogdet()"
There are two almost equal arrays generated by the same pipeline in different systems. (All differences between respective items are about 1e-16 and apparently caused by differences in hardware.)
I would expect result of linalg.slogdet() for them very similar, respectively.
However the result for one is about -49.04, and the result for another is -inf.
The npy files are attached.

### Reproducing

[2021-05-10 09:16] mattip commented on #18977
Do you have dependabot "turned on" for your personal repos? FWIW, I am not seeing dependabot on my fork.

[2021-05-10 09:17] GBR-613 commented on #18978
[npy.zip](https://github.com/numpy/numpy/files/6450965/npy.zip)
Since Github does not allow npy attachments, they are added to the attached zip.

[2021-05-10 09:30] rgommers commented on #18977
No I don't. Something just changed with the dependabot config on the GitHub side.

Your fork is way behind, it doesn't even have a `main` branch and https://github.com/mattip/numpy/tree/master/.github doesn't have a `dependabot.yml`. I bet that if you update your fork, you'll get PRs as well.

It's probably something in that `.yml` file that we need to toggle.

[2021-05-10 09:45] mattip commented on #18977
there is an open issue about it dependabot/dependabot-core#2804

[2021-05-10 10:14] rgommers commented on #18977
Thanks for finding that. No action for months, and no way to disable:(

It must have come in with gh-18868.

[2021-05-10 10:23] rgommers commented on #18977
Wow, apparently they haven't fixed this for a very long time: https://github.com/dependabot/dependabot-core/issues/2198. The only workaround is "delete your fork", which I am definitely not doing. I'd rather nuke dependabot.

[2021-05-10 11:22] trallard commented on #18977
I can confirm this happening in my forks too. For now - I have removed the notifications from my notification centre and added an alias to close the PR and delete the branch 🤷🏽

[2021-05-10 11:24] trallard commented on #18904
I have tracked this to the Vim extension - folks in the Gitpod community forum and issue tracker have reported similar issues so just for completeness the options might be to
- Uninstall / disable the extensions causing grief
- Uninstall the vim extension (I suppose most vim users will prefer the former)

Would suggest closing this issue then

[2021-05-10 11:26] trallard commented on #18913
Sent  #18980 to add some user's troubleshooting points and should be able to finish/add the maintainer troubleshooting docs this week.

[2021-05-10 12:01] mattip commented on #18977
So I guess one work-around might be to delete the main branch, and leave the default branch on my fork as master

[2021-05-10 12:34] melissawm commented on #18977
Can you link to any docs on how to do that? I'd like to get rid of it too

[2021-05-10 13:49] taldcroft opened #18981 "Object-type masked array special-cases elements that are ndarray"
The `MaskedArray` class has unexpected special-casing of `ndarray` objects within an object array. I expect an object array to be a generic container of whatever is in each cell, and if that element is masked then accessing it should always return `np.ma.masked`. Instead `MaskedArray` appears to turn the `ndarray` into a fully-masked `MaskedArray`.

### Reproducing code example:

[code]

Expected:

[2021-05-10 14:49] charris commented on #18978
The `slogdet` is very small, so my suspicion is that the matrices are almost singular, hence subject to roundoff error. What are the singular values?

[2021-05-10 15:16] rgommers commented on #18977
Maybe push a commit that nukes the `dependabot.yml` file in your fork of main, and we can see if you still get spammed in a week?

[2021-05-10 15:45] rgommers commented on #18904
Thanks @trallard!

It seems like after I uninstalled the Vim extension I still had issues, but maybe the damage was done by then. I'll wipe everything out thoroughly and will start from scratch.

[2021-05-10 15:45] #18904 closed

[2021-05-10 16:28] #18938 closed

[2021-05-10 19:06] Daybreak2019 commented on #18937
Yes, we can not assert it as a real bug without using Fuzzing tools to expose it, and the complexity of this function also confuse us when we tried to manually figure out the condition.
So we say it is a potential problem here:

     if (trim_mode != TrimMode_None && numFractionDigits > 0) {
        --pCurOut;
        while (*pCurOut == '0') {
            --pCurOut;
            ++bufferSize;

[2021-05-10 21:34] seberg commented on #18937
I understand whats weird/potentially wrong.  I don't thin kits wrong, because I think htis can only be entered if the buffer includes `something.<at least one digit>` at the very top of your pasted code (if entering the first `if`). Then at the end of the first if, at worst the buffer will still contain `something.` which is definitely larger than 0.

[2021-05-10 21:49] BvB93 commented on #18565
Hi all, with the release of numpy 1.20.3 earlier today the fix for this issue is now live.
If there are no further objections then I'll close this issue.

[2021-05-10 23:17] asmeurer opened #18986 ""invalid value encountered in left_shift" for broadcasted int16 array"
### Reproducing code example:

For some reason, `np.left_shift(np.array([0], dtype=np.int16), np.array([[31, 31, 31], [31, 31, 31], [31, 31, 31]], dtype=np.int16))` gives a floating point warning, but similar function calls do not.

[code]

### Error message:

### NumPy/Python version information:

[code]

[2021-05-11 04:31] zachl123 opened #18988 "AWS Lambda (SAM) Fails to Build Since the 1.20.3 release"
If we add 'numpy==1.20.2' requirements.txt, it resolves the following issue

2021-05-10 20:35:16,558 | Final missing wheels: {numpy==1.20.3(wheel)}
2021-05-10 20:35:19,015 | PythonPipBuilder:ResolveDependencies failed
Traceback (most recent call last):
  File "/usr/local/Cellar/aws-sam-cli/1.21.1/libexec/lib/python3.8/site-packages/aws_lambda_builders/workflows/python_pip/actions.py", line 39, in

[2021-05-11 04:39] ijoseph commented on #17136
Oh I see, first `result_type` [uses this `promote_types` logic](https://numpy.org/doc/stable/reference/generated/numpy.promote_types.html#numpy.promote_types) to find the simplest compatible type between `1.` (`float`) and `y`, then promotes `y` to that type.

Then, here:
https://github.com/numpy/numpy/blob/e3583316cab5e71f2b361c32a3eee748905f40c5/numpy/core/numeric.py#L2339
it looks like `np.ndar

[2021-05-11 04:41] ijoseph commented on #17136
I guess the rabbit hole of `x`'s casting promotion that I went down isn't really that relevant because we'd only need to change `y`… can be ignored.

[2021-05-11 05:27] mattip commented on #18988
Something is weird with the wheel naming. [The files](https://pypi.org/project/numpy/1.20.3/#files) for manylinux have names with the glibc-based name like the `manylinux_2_12_x86_64` in
[code]

I wonder where that came from? The comparable 1.20.2 wheel is
[code]

[2021-05-11 09:07] GBR-613 commented on #18978
@charris not sure I got your point.  If determinant of one of the matrices is -49 and these matrices are similar, then they are hardly singular.
I would say they are almost symmetric. But why it may be a subject to roundoff error?
You can easily convert npy file into human-readable format:
[code]

[2021-05-11 10:19] bmerry commented on #18669
Some further benchmarking in https://github.com/xianyi/OpenBLAS/issues/3197 suggests that whether the memset helps or hurts is indeed complicated and system-dependent. So far the slowdowns are generally much less significant than the speedups, but we've still only sampled a tiny part of the multi-dimensional problem space. If you feel that this is a risky change for dubious reward I would have no

[2021-05-11 13:04] NHades opened #18991 "Error importing scipy.optimize with new Release: numpy‑1.20.3"
### Reproducing code example:

[code]

### Error message:
Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
     from scipy.optimize import minimize
  File "C:\Python38-32\lib\site-packages\scipy\optimize\__init__.py", line 421, in <module>
      from ._shgo import shgo
  File "C:\Python38-32\lib\site-packages\scipy\optimize\_shgo.py", line 9, in <module>
     from scipy

[2021-05-11 13:14] rgommers commented on #18991
Thanks for the report @NHades. Can you say how exactly you installed python, numpy and scipy? Can you give the output of `pip list` if with pip?

Also, if you again downgrade numpy to 1.20.2, does this import error go away?

[2021-05-11 13:42] bashtage commented on #18978
Which BLAS are you using?  On MKL I see

[code]

[2021-05-11 13:45] mattip commented on #18991
That is very similar to cython/cython#4152  which is caused by using a cython from HEAD that is not yet released so the version number is wrong.

[2021-05-11 13:45] charris commented on #18988
I did notice that `main` and `v1.20.x` are using different submodule versions.

[2021-05-11 14:15] charris commented on #18988
Rechecking more carefully, the only difference between 1.20.2 and 1.20.3 is the BUILD_COMMIT, the submodules are the same.

[2021-05-11 14:19] rgommers commented on #18991
Cc @charris, does this ring any bells?

We should have used an already-released Cython ion the numpy-wheels repo I believe.

[2021-05-11 14:35] charris commented on #18988
No, Travis didn't work either. Hmm, maybe the docker files?

[2021-05-11 14:37] charris commented on #18988
The Windows and Mac files are good.

[2021-05-11 15:33] charris commented on #18988
So maybe a pip upgrade is needed.
[code]

[2021-05-11 17:34] abaelhe commented on #16487
link with C Math library:

export LDFLAGS='-lm'
python3.7m setup.py  install

[2021-05-11 17:39] NHades commented on #18991
@charris,
   I only use PIP.

[2021-05-11 17:49] charris commented on #18991
@NHades Where did numpy 1.20.2+mkl come from?

[2021-05-11 18:40] NHades commented on #18991
@charris,

I tried the regular "pip install --upgrade numpy" for stock numpy and I don't see the error.
so it is in the 1.20.3+mkl release by  Christoph Gohlke.
sorry for false bug.

[2021-05-11 19:43] rgommers commented on #18991
No worries, thanks @NHades. Closing this issue then.

Cc @cgohlke

[2021-05-11 19:43] #18991 closed

[2021-05-11 19:46] h-vetinari commented on #15179
Tried this in https://github.com/conda-forge/numpy-feedstock/pull/227 with the following diff (see https://github.com/conda-forge/numpy-feedstock/pull/227/commits/e6e9ff9058252fdca44a3dd65876ba4a9ddccc82):
[code]

and indeed, the tests pass.

@r-devulap @rgommers, what's the takeaway from this? Should the glibc-dependent part of the test be spun off into a separate test (with a certain skip-condit

[2021-05-11 19:58] rgommers commented on #18988
Having both seems like an abuse of the platform tag, and wheel filenames are getting a bit ridiculous. If this was on purpose upstream, it'd be nice to reconsider.

[2021-05-11 20:53] r-devulap commented on #15179
@h-vetinari I think so. But I am wondering what would the skip condition be though?

[2021-05-11 21:15] mayeut commented on #18988
The platform tags `manylinux_2_12_x86_64.manylinux2010_x86_64`  comes from the auditwheel upgrade in the manylinux images.
auditwheel now follows [PEP600](https://www.python.org/dev/peps/pep-0600/) which states that the platform for such a wheel is `manylinux_2_12_x86_64`.
For backward compatibility with older tools, it should also be aliased `manylinux2010_x86_64`.

And indeed, pip 19.0 works wit

[2021-05-11 21:43] charris commented on #18988
@mayeut Looks like the relevant AWS problem is up at line 153:
[code]

[2021-05-11 21:58] rgommers commented on #18988
I don't think that's the case (yet), this is the first problem that's reported, and it seems like it can be fixed on the AWS side - and we can always pull the wheels or put out a 1.20.4 if needed.

Well, you changed tags for manylinux1/2010/2014 very recently for no good reason. The old naming scheme worked and was much more human-readable than the new duplicate-tag names. When introducing PEP 600

[2021-05-11 23:06] mayeut commented on #18988
@charris, in fact the problematic line is L346:

[code]

[2021-05-12 01:23] hawkinsp opened #18992 "Overflow warnings from np.testing.assert_array_equal for subnormal inputs"
### Reproducing code example:

[code]

It's surprising for `assert_array_equal` to issue any kind of warning.

I suspect the `errstate` guard here: https://github.com/numpy/numpy/blob/74a65e1cef00e3e9805dbc88252a023975b70079/numpy/testing/_private/utils.py#L813
should be suppressing `over` and possibly `under` as well.

### NumPy/Python version information:

[code]

[2021-05-12 02:04] Daybreak2019 opened #18993 "Insecure string comparison (incomplete comparison) in _convert_from_str of descriptor.c"
### Reproducing code example:
**Snippet**:

        /* Check for a deprecated Numeric-style typecode */
        /* `Uint` has deliberately weird uppercasing */
        char *dep_tps[] = {"Bytes", "Datetime64", "Str", "Uint"};
        int ndep_tps = sizeof(dep_tps) / sizeof(dep_tps[0]);
        for (int i = 0; i < ndep_tps; ++i) {
            char *dep_tp = dep_tps[i];
            if (strncmp(type,

[2021-05-12 03:54] zsong opened #18994 "There should be a default serializer for the type of float32 defined."
### Reproducing code example:

There should be a default serializer for the type of **float32** defined. Flask/jsonify() can serilize the type of float64 but not float32.

The following code throws error: TypeError: Object of type float32 is not JSON serializable
[code]

This one works:
[code]

### Error message:
TypeError: Object of type float32 is not JSON serializable

### NumPy/Python version

[2021-05-12 04:30] rkern commented on #18994
Please see the discussions on #12481 and #16432.

Closing this issue as this is essentially a duplicate request.

[2021-05-12 04:30] #18994 closed

[2021-05-12 04:34] mattip commented on #18988
@mayeut what is the motivation to use both aliases?

[2021-05-12 09:41] SV-97 opened #18997 "Silent overflow error in `numpy.random.default_rng.negative_binomial`"
There still seem to be overflow/underflow problems for `negative_binomial` even in the "new" rng-API (see also [issue 1494](https://github.com/numpy/numpy/issues/1494)).

I'd expect the behaviour to be similar to `poisson`:

[code]
but there are no errors.

In particular the "tipover"-point after which it overflows depends on p. For `p=0.5`  it's at `9223372037481356287` (so `default_rng(1).negati

[2021-05-12 10:35] #10438 closed

[2021-05-12 14:06] dschwoerer commented on #18435
I also found `np.fromstring("nan")` to be confusing. I would expect to get `np.nan` - but I get instead:

[code]

Is there a way to prevent the binary mode (I do not want `frombuffer`) but to interpret the text as ascii?

Similar `"False"` of `dtype=bool` is interpreted as `[True, True, True, True, True]` instead of `False`.

At least `nan` is handled correctly if it is not the beginning of the st

[2021-05-12 15:39] BvB93 commented on #16546
Removed 10 functions annotated in https://github.com/numpy/numpy/pull/18944:
* `get_include`
* `deprecate`
* `deprecate_with_doc`
* `byte_bounds`
* `who`
* `info`
* `source`
* `lookfor`
* `safe_eval`

Removed 1 class annotated in https://github.com/numpy/numpy/pull/18545:
* `Arrayterator`

Removed 12 objects annotated in https://github.com/numpy/numpy/pull/18944:
* `ravel_multi_index`
* `unravel_i

[2021-05-12 15:47] yerfdogyrag commented on #17856
As a note: I had the same issue on numpy-1.20.2 with a host that has 80 cores and VM ulimit of 10G (it's a shared login host).  Basically, the first thing 'import numpy' would try and do is start 80 threads which blows out the VM and I'd get a segfault.

I did a pip install of 1.21.0.dev0+1518 and I'm no longer seeing the issue, but it appears to be because something is now limiting the number of

[2021-05-12 15:53] #18565 closed

[2021-05-12 16:42] #12071 closed

[2021-05-12 16:59] langou commented on #18914
Hi,

(1) we changed the behavior of LAPACK for a few functionality to have a direct return with a negative INFO when the input matrix has at least one NaN in it. For example, in your code, for DGESDD, because the input matrix has a NaN, LAPACK is now directly returning with INFO=-4. (INFO=-4 because A is the fourth parameter in the interface of DGESDD.) Negative INFO means that the input is not va

[2021-05-12 17:43] Mukulikaa commented on #7992
It seems to me that a Fortran compiler will be necessary only if someone wants to run the `numpy.f2py` tests. In that case, will it make sense to rephrase the sentence as

And in [Choosing the fortran compiler](https://numpy.org/devdocs/user/building.html#choosing-the-fortran-compiler) we add

[2021-05-12 20:33] MarsBarLee commented on #18419
Hi all, this is a link to the [interactive prototype](https://design.penpot.app/#/view/41890b30-934c-11eb-825c-a56ecc9e3fc1/e1ce3fc0-934c-11eb-bc52-e39ba1f3ae20?token=P8-a3msKJ73tEDHtfpC3Sg&index=0).
![insta](https://user-images.githubusercontent.com/46167686/118040543-a5bef980-b33f-11eb-9afb-1b19185fe4aa.gif)
This prototype exists as a low-cost, quick and iterative overview of how several pages c

[2021-05-12 21:50] seberg commented on #18997
IIRC, there is probably a `NaN` or `inf` created somewhere in the algorithm, and casting that to integer creates the weird value.  In any case, I suppose it should be an error or at least a warning.

Making floating point error checking work here (so that `np.seterr` works), probably also works to at least give an "invalid value" warning.

[2021-05-12 21:52] seberg commented on #18993
I doubt it matters (its not like this is relevant for security or anything). But adding the `+1` would be good, also to avoid the slightly wrong things being copied.

[2021-05-12 21:53] seberg commented on #18992
The proposal to ignore everything here seems right to me on first sight. Just if you got time, do you want to look into a PR?

[2021-05-12 22:01] seberg commented on #18949
Maybe ping @seiko2plus and @ganesh-k13 jus tin case the division loop has some obvioius problem (i.e. doing the operation or error setting with too many values)?  Although, did we touch the `true_divide` loops recently?

Otherwise, I guess it is possibly a gcc 11 bug...

[2021-05-12 22:36] charris commented on #18949
I think it is this code for complex division when dividing by (real) complex:
[code]
When `in2i == 0`,  speculative execution of the first part of the `if` sets the fpu status register. I'm going to try `NPY_UNLIKELY` to see it that fixes it.

[2021-05-12 23:12] seberg commented on #18949
I guess `NPY_UNLIKELY` there is just as well, since it rearranges the loop code to put that (very unlikely) branch to the end of the loop and makes it tighter.  If it helps that sounds good.

Does anyone know the general way to avoid branch prediction messing with floating point error flags correctly?  Are these technicall compiler bugs or CPU bugs?

[2021-05-13 00:25] charris commented on #18949
Unfortunately, `NPY_UNLIKELY` doesn't make any difference.

[2021-05-13 00:44] rossbar commented on #7992
The proposed wording seems to be almost there; if you're up to it I'd say go ahead and open a PR with the suggested wording so it can be reviewed and we can get this fixed!

[2021-05-13 04:01] mattip commented on #18949
Is this related to #11036 where we added `npy_get_floatstatus_barrier` and `npy_clear_floatstatus_barrier` to prevent compilers rearranging the order of operations?

[2021-05-13 04:05] Daybreak2019 opened #19000 "Potential buffer-overflow from string operations in function array_from_pyobj of fortranobject.c"
### Reproducing code example:
**Snippet**:

[code]

### Error message:
**File**: numpy/f2py/src/fortranobject.c
**Function**: array_from_pyobj (line 724 : 733)
**Optional call-path**: External -> fortran_setattr -> array_from_pyobj
**Details** in [description](https://github.com/Daybreak2019/IssueReport/blob/master/Numpy/case-10031/10031.png)

When we run our analysis tool on NumPy, a few Inapprop

[2021-05-13 05:59] Mukulikaa commented on #7992
Sure then, I'll make the PR!

[2021-05-13 07:13] bashtage commented on #18997
I'm not surprised.  There has not been systematic testing to determine the breakdown point of many of the algorithms.  Many that aren't simple transformations of normals or uniforms probably will have incorrect distributions for parameters near these points as well.

[2021-05-13 07:15] bashtage commented on #18997
I don't agree with this.  Both 0 and 1 are in the support of `p`.

[2021-05-13 08:54] mayeut commented on #18988
@mattip,

There was feedback to get the PEP600 platform tag in the repaired wheel because:
- Some people found that the PEP600 platform tag conveys more meaning than the old one
- PEP600 is the only active manylinux spec

Replacing the old platform tag by the new one would just have break the whole ecosystem so, to answer the 2 points raised above, risk assessment was done on using both the PEP600

[2021-05-13 09:15] rgommers commented on #18988
Thanks for the explanation @mayeut. Can you link to that discussion?

[2021-05-13 09:18] rgommers commented on #18988
Also a note on the macOS similarity: that's not actually the same. We are compiling against an SDK there, so those `macosx_10_6...`, `macosx_10_6...` indicate differences in builds. That we had to add `10_9` to indicate compatibility with two SDKs is unfortunate, but that doesn't make them aliases. Wheels compiled against `10_9` will crash when you run them on <10.9.

[2021-05-13 09:51] mayeut commented on #18988
Unfortunately, as is the case with this thread, most discussions happen in other places than the auditwheel repo and I forgot (my bad) to link the relevant discussion in the PR in auditwheel...
We were not planning on changing the behavior at first (this I can find a discussion for: https://github.com/joerick/cibuildwheel/pull/595#issuecomment-780151594) but had my mind changed elsewhere, proposed

[2021-05-13 09:58] rgommers commented on #18988
Okay, thanks @mayeut. I don't think this was a good decision, but also I don't see a reason to ask for a temporary revert - that would just include the workload on `auditwheel`.

If more problems show up here, we'll anyway have to do a numpy 1.20.4, and then we can pin to `auditwheel < 4.0`

[2021-05-13 10:24] mattip commented on #18988
I opened an issue in multibuild to figure out how to pin the docker image there to a specific version.

[2021-05-13 14:06] charris commented on #18949
I suspect so, but was hoping to avoid that, especially as it would be awkward to do that for the ufunc loop. Hopefully the compiler will get fixed, it is supposed to handle such things. I suppose it could also be hardware related, I have old hardware.

[2021-05-13 16:02] MathAmp opened #19004 "Inconsistent behavior on ufunc "np.ceil""
np.ceil (and also np.floor) is not working properly when "where" argument is given.

### Reproducing code example:

[code]

### Error message:

No error message.
mask_1 != mask_3 and especially mask_3 shows strange behavior.

The same error was found for np.floor function.

### NumPy/Python version information:

numpy version : 1.20.3
sys version : 3.9.0 (tags/v3.9.0:9cf6752, Oct  5 2020, 15:23:07

[2021-05-13 17:02] h-vetinari commented on #17140
While wanting to migrate a library to the new way of the random generators, I wanted to find out since which numpy version the `default_rng` is supported (since I'll have to bump the ancient requirements) - would be super cool if someone could add this information, seeing that this issue concerns that particular docstring already.

[2021-05-13 17:24] h-vetinari commented on #17140
Found it with some spelunking: #13840, which first appeared in 1.17.0

[2021-05-13 17:43] #18971 closed

[2021-05-13 17:50] rgommers commented on #17744
gh-18965 improves the documentation in the glossary of "array scalar".

@jasmincl, @TheCheshireCat6 and @mattip, you discussed some other changes related to this issue, right? Could one of you summarize those?

[2021-05-13 18:35] rkern commented on #17140
https://numpy.org/doc/stable/reference/random/

The main entrypoint to the documentation of `numpy.random` mentions 1.17 several times.

[2021-05-13 18:39] h-vetinari commented on #17140
I saw that afterwards as well, but to me the first place to look is still https://numpy.org/doc/stable/reference/random/generator.html#numpy.random.default_rng - would it hurt to add a _New in version 1.17.0_ there?

[2021-05-13 19:21] melissawm commented on #3425
Here's what I've managed to get so far:

1. Wrapping the following:
[code]
I get:
[code]

2. I tried using a subroutine, with the following signature file:
[code]
Running `$ f2py -c strings.f90 strings.pyf` compiles fine, but

[code]

(note the incorrect intent for `a`)

3. Changing `strings.pyf` to use `character(len=slen(str)), intent(out) :: a` runs fine and works.

So the problem seems to be w

[2021-05-13 20:14] seberg commented on #12930
Just stumbled on this. Did you ever resolved it?

It feels like there should be some simple fix, but I don't know what it is and this is unfortunately pretty niche :(.  Valgrind still works fine for me (modulo those longdouble issues). I have occasionally set GCC to compile longdouble as 64bit floats, although that comes with its own set of issues when calling functions from glibc (so it might shi

[2021-05-13 20:14] #12930 closed

[2021-05-13 20:28] seberg opened #19006 "BUG: The "default floatingpoint error setting" logic can misfire, especially with threads"
The lines at https://github.com/numpy/numpy/blob/018fb37987e02fdba377b008e5ca3d68e4611cb2/numpy/core/src/umath/extobj.c#L40-L46

are wrong.  Before getting that error, the previous error may already have been default (or may not have been set at all).  In that case, a "num-defaults" is decremented.  This logic really needs to check the previous state more than the current, I think.

This can be tr

[2021-05-13 20:29] seberg commented on #19006
If we ever had warnings surface even though the errorstate should have been different, I will blame this issue, but I can't actually remember any concrete report.

[2021-05-13 22:20] seberg opened #19010 "ENH: Micro-optimize `np.empty(3)` and similar calls"
If someone is searching for a small project, `np.empty(3)` and similar calls that use a single scalar instead of a sequence have a ridiculous amount of overhead, if you compare:
[code]
The reason is that we assume that the input is a sequence, and try to get its length (with the error that involves!) *twice*, when we might as well have a fast-path for exact python integers at least, or at least no

[2021-05-14 03:13] r-devulap commented on #15179
I should be able to use `os.confstr('CS_GNU_LIBC_VERSION')` to check the GLIBC version, but I am not sure what the minimum version should be. Any idea?

[2021-05-14 07:43] hameerabbasi opened #19013 "DLPack support for NumPy"
## Feature
### Motivation
Currently, any library which needs to exchange data with NumPy needs to have it as a dependency. This issue will allow moving away from that approach to a more Pythonic standards-based approach leveraging the [DLPack Library](https://github.com/dmlc/dlpack), as described in the [Array API standard](https://data-apis.org). This is also mentioned in and a prerequisite for [

[2021-05-14 07:45] mattip commented on #15179
FWIW, we are still shipping wheels to be used with glibc2.12, at least until we drop manylinux2010. Glibc version for the different wheels we build (the [latest release](https://pypi.org/project/numpy/#files) adds the aliases to the file names to make this clear):
wheel | glibc
---|---
manylinux2010 | glibc 2.12
manylinux2014 | glibc 2.17

[here](https://github.com/mayeut/pep600_compliance) is a n

[2021-05-14 08:59] mattip commented on #19013
For other commenters: the discussion at data-apis/consortium-feedback#1 is quite lengthy but does include answers to many questions like object lifetime management. It is helpful to understand the context. Many of my concerns were addressed there.

A side issue is the struct itself: the header mentions "[The data] pointer is always aligned to 256 bytes as in CUDA". If this is a hard requirement, N

[2021-05-14 10:17] mattip commented on #17744
As long as we have 0-d arrays, we should have a clear explaination of what they are along the lines of

[2021-05-14 13:10] BvB93 commented on #16955
Closing this issue for now.

If there is enough interest then it can be reopened.
Realistically, I don't see this being implemented anytime soon (if ever), especially since we'd first need aforementioned higher-kinded typevars.

[2021-05-14 13:10] #16955 closed

[2021-05-14 16:22] charris opened #19015 "REL: Names needed."
The NumPy 1.21.x branch is coming up. Could the folks pinged below reply with their preferred name and mailing address so that they can be properly credited in the changelog.

- [ ] @DWesl
- [ ] @EvaJau
- [ ] @Illviljan
- [x] @Mukulikaa
- [x] @Neil
- [ ] @Patrick
- [ ] @Scian
- [x] @alize-papp
- [x] @daaawx
- [x] @drhpc
- [ ] @h6197627
- [ ] @jbCodeHub
- [x] @lbogula
- [ ] @legoffant
- [x] @mdubra

[2021-05-14 16:45] Mukulikaa commented on #19015
Preferred name - Mukulika
Email - ***@***.***

Thanks!

On Fri, 14 May, 2021, 9:52 pm Charles Harris, ***@***.***>
wrote:

[2021-05-14 17:00] Greedquest commented on #14770
Why is this required? Doesn't running from the anaconda prompt add these variables to the path for the lifetime of the process?

[2021-05-14 17:42] BvB93 commented on #16546
Moving this to the 1.22 release, as things are very unlikely to get wrapped up before 1.21.

[2021-05-14 17:49] neil commented on #19015
Sorry, you’ve got the wrong neil there

[2021-05-14 17:53] drhpc commented on #19015
Am 14. Mai 2021 18:22:39 MESZ schrieb Charles Harris ***@***.***>:

Dr. Thomas Orgis ***@***.***>
--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-05-14 18:01] pmav99 commented on #19015
pmav99: Panos Mavrogiorgos pmav99@gmail.com

[2021-05-14 18:24] mecopur commented on #19015
mecopur: 	Meltem Eren Copur
			***@***.***

[2021-05-14 18:29] alize-papp commented on #19015
Alizé Papp 68250865+alize-papp@users.noreply.github.com

[2021-05-14 18:39] daaawx commented on #19015
Dario Mory
***@***.***

On Fri, May 14, 2021 at 6:22 PM Charles Harris ***@***.***>
wrote:

[2021-05-14 20:40] rgommers commented on #19015
@charris could you please manually add @lkopf (`Laura Kopf 60775505+lkopf@users.noreply.github.com`). Her co-authorship got lost, see https://github.com/numpy/numpy/pull/18959#issuecomment-836277809.

[2021-05-14 22:18] seberg commented on #19013
I have tried to look through the discussion.  I still don't understand why the "consumed exactly once" is important (the PyCapsule is reference counted and can clean up on delete, so the memory management seems fine? – although maybe that is tricky without reference counts).  But maybe there is something about streams or so that I just don't see right now.

Would NumPy be able to just use the `off

[2021-05-14 23:22] charris commented on #19015
@rgommers Laura Kopf already shows up in the trial changelog:
[code]

[2021-05-14 23:27] charris commented on #19015
@neil Sorry about that, github lowercased the capitalized Neil, I should have caught it.

[2021-05-14 23:31] zolboo1024 commented on #19015
Hello!

Thanks for reaching out!
zolboo1024- Zolboo E ***@***.***)

Best,
Zolboo
Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Charles Harris ***@***.***>
Sent: Friday, May 14, 2021 12:22 PM
To: numpy/numpy
Cc: Erdenebaatar, Zolboo; Mention
Subject: [numpy/numpy] REL: Names needed. (#19015)

Caution:This email originated from outside of the College. Do not click

[2021-05-15 00:07] ax3l opened #19017 "Numpy 1.20.0+: GCC 6.4.0 issue on PPC64le"
### Reproducing code example:

Installing numpy from source on PPC64le (Power9) on Summit at OLCF fails with compiler errors.
The 1.19 release line is not affected.

Works:
- [x] `python3 -m pip install numpy==1.19.0`
- [x] `python3 -m pip install numpy==1.19.5`

Fails:
- [x] `python3 -m pip install numpy` (latest: `1.20.0`)
- [x] `python3 -m pip install numpy` (latest: `1.20.3`)

### Error messag

[2021-05-15 00:10] charris commented on #19017
@seiko2plus Thoughts?

[2021-05-15 00:10] ax3l commented on #19017
It looks like this has been introduced in #16782, this CC-ing @seiko2plus @mattip @eric-wieser

[2021-05-15 03:31] seberg commented on #18870
This is now bothering me for real, just because I reached the point where I need to figure it out.

I still agree that some weirdness can be expected, but note that using `np.ones` was unlucky. The example should be:
[code]
or maybe more to the point:
[code]
We cast before the operation, so things blow up. But `equal` would be weird anyway, since the first operation is `d,d->?` but after that its

[2021-05-15 03:52] yetanothercheer commented on #19015
yetanothercheer
yetanothercheer@protonmail.com

Thanks! 🥳

[2021-05-15 05:28] #18937 closed

[2021-05-15 08:32] rgommers commented on #19013
Exactly, it's not that important. It came from before we improved the Python API; the old way of doing it in other libraries was:
[code]
At that point you had a (non-useful) PyCapsule object floating around in the users code, and then doing `x3 = from_dlpack(capsule)` somewhere else in the code would of course lead to problem. Using `__dlpack__` avoids this by design.

[2021-05-15 10:44] hameerabbasi commented on #19013
I think we can make this a keyword-only argument without breaking compat with the existing protocol, and default it to `None`. Perhaps it can be in a future version, but that may need to be discussed separately.

I believe not, in that case the allocation still isn't "aligned" unfortunately.

For other commenters, this is due to the by-element strides of DLPack instead of the by-bytes.

[2021-05-15 10:56] hameerabbasi commented on #19013
This is, indeed, a sticking point. I do not know how to resolve this. Perhaps this restriction could be clarified or removed if the rationale didn't apply to CPU data pointers.

[2021-05-15 11:20] rgommers commented on #19013
Why would we want this? Semantics of a program using DLPack should not rely on view vs. copy (avoid in-place ops). The protocol tries to return a view for performance reasons, but it may not always be possible for all libraries - and then it will return a view. Having an explicit `copy=` keyword seems like a mistake to me.

[2021-05-15 11:25] hameerabbasi commented on #19013
Usually, performance. Maybe one may want the flexibility of a different path when a view isn't possible, e.g., perform operation in the existing library rather than moving it to a new one using DLPack.

Or, conversely, one may want to specify a copy because in-place ops are needed for an algorithm/function (I guess one can always do `x = x.copy()` or similar, but that's an extra LOC).

[2021-05-15 11:36] rgommers commented on #19013
Performance is already optimal, it default to zero copy.

Exactly. That's about zero characters extra, so if you want to do something numpy-specific, use that. There are libraries that don't even have the concepts of view, and the buffer protocol and `__array_interface__` also don't have it. Adding a copy keyword doesn't make sense to me.

[2021-05-15 12:18] rgommers commented on #18914
Thanks for the detailed reply @langou!

The default behavior in NumPy functions is to propagate NaN's. That's the case here as well:

[code]

For many functions that's desired behavior for end users. For linear algebra functions typically it's not. However, checking all input for nan's is expensive, so `numpy.linalg` functions don't do it. In contrast, `scipy.linalg` functions have a `check_finite

[2021-05-15 14:07] langou commented on #18914
[code]

I see, when numpy propagates, numpy propagates! :)

That makes sense though. In particular for an operation such as SVD.

Side comment: It is interesting to see the various levels of NaN propagation. It depends on the operation. "NaN propagation" could also mean "we are not converting existing NaNs to a non-NaN values". For example, if we do AXPY: y = alpha * x + y with alpha scalar, x and

[2021-05-15 14:15] langou commented on #18914
Thanks. This is good to know who does what. I think Matlab is also checking for NaNs and Infs in the inputs before processing operations. So Matlab is same as scipy then. LAPACK as the LAPACKE interface. With the LAPACKE interface, users can have LAPACKE check for NaNs and do direct returns as well.

This is a fair comment.

[2021-05-15 15:55] seberg commented on #19013
But that is not a stated requirement anywhere, I found yet?  And apparently NumPy cannot always export zero copy (which is fine, but then we need an additional `np.export_dlpack(...)` or `np.ensure_dlpack_exportable` function to do the copy if necessary)?

If the user wants to copy the data, they may have to do so *twice*, because they don't know whether the original array-like was copied already.

[2021-05-15 16:03] lbogula commented on #19015
Lbogula 81459927+lbogula@users.noreply.github.com

[2021-05-15 17:44] rgommers commented on #19013
Hmm, I'll have a look at where the most obvious place is to mention this. DLPack works just like the buffer protocol, except:
- it has a deleter mechanism rather than refcounting, because a design goal was to make it work with pure C libraries as well
- it has device support

I don't think that is true. And I reviewed the implementations in other libraries like CuPy, MXNet, PyTorch and JAX a while

[2021-05-15 18:03] rgommers commented on #19013
I hadn't noticed the comment (https://github.com/dmlc/dlpack/blob/main/include/dlpack/dlpack.h#L130) before. It talks about CUDA and OpenCL, and the only mention in the issue tracker is https://github.com/dmlc/dlpack/issues/1#issuecomment-282878582, which talks about vector types like `float4` for accelerators. It's not clear that the comment was meant to apply to CPU.

PEP 3118 also briefly menti

[2021-05-15 18:10] rgommers commented on #19013
Oh wait, this explains it (from issue description of https://github.com/data-apis/consortium-feedback/issues/1):

[code]
That should solve the issue?

[2021-05-15 18:17] rgommers commented on #19013
I think that's more of a problem than a feature in the buffer protocol actually, and it reflects that it was written mostly from a "NumPy needs/design" point of view. Most libraries simply do not have a read-only array/tensor data structure, so if you create an array in such a library with `from_dlpack`, what are you supposed to do with a `readonly = 1` flag?

[2021-05-15 18:32] rgommers commented on #19013
The last point is good - I think `__dlpack__` should just raise an exception for non-native endianness. That byte-swapping is still a prominent chapter in the [NumPy fundamentals section of the user guide](https://numpy.org/devdocs/user/basics.html) makes very little sense, we should just hide that in some obscure corner.

[2021-05-15 18:52] rgommers commented on #19013
DLPack is, by design, zero-copy. It's highly unusual for it to _have_ to make a copy on the producer side, the Vaex virtual column is the only example I could think of. And if we add `copy=False` for such corner cases, then that seems like design for the <1% case which makes the whole thing more complex for little benefit. Next will be the `do_a_device_transfer=False`, `readonly=False`, etc. Other

[2021-05-15 19:44] seberg commented on #19013
Well, those were my main initial questions!   What is the definite answer?

This seems just wrong. The buffer protocol has a deleter mechanism, and doesn't even use reference counting itself.  Python puts the result into `memoryview` and a lower level helper objects to *add* custom reference counting on top of that.

It is likely possible to extend the buffer protocol with a new "device" field (al

[2021-05-15 19:59] Siglab-code commented on #16416
I had the exact problem recently and the solution is to download the required Microsoft Visual C++ 14.0. This page well explains what you need to do: https://www.scivision.dev/python-windows-visual-c-14-required/

[2021-05-15 20:23] seberg commented on #19013
Another argument that is completely fine for me, is if we say: Well, DLPack may grow those features/use-cases in the future, and we will be able to even add a "requests" API in the future without problem.
(It might be nice to map out map out how that could grow in the future, but I expect it isn't terribly hard, if we don't mind a `try:/except:` a specially).

At that point, the only thing would n

[2021-05-15 20:43] rgommers commented on #19013
That was 5 comments up, as one line, followed by lots of discussion about adding a `copy=` keyword. I missed that one line. Answer is yes, it solves it.

I dunno, this is what PEP 3118 says as a "rejected idea": _Having a "releaser" object whose release-buffer was called. This was deemed unacceptable because it caused the protocol to be asymmetric (you called release on something different than yo

[2021-05-15 22:20] lschwetlick commented on #17136
@rgommers I checked out all the tests that are failing now.

1. The great majority are ones where some function returns some number of dtype float and it's being tested against a known output that is an int out of convenience. The exceptions are, or at least the cases where I dont immediately understand the reason are
2. in [`numpy/core/tests/test_multiarray.py:8771`](https://github.com/numpy/nump

[2021-05-15 23:09] hameerabbasi commented on #19013
I believe there are some (admittedly rare) cases I see where NumPy must copy: The strides inside DLPack assume a unit of array elements, and those inside NumPy assume a unit of bytes, which is more flexible. One can find cases where zero-copy isn't possible, and one can see these if all elements of `arr.strides` aren't a multiple of `arr.dtype.itemsize`. Concrete examples I can find are:

1. Slici

[2021-05-16 00:37] leofang commented on #19013
On my cell, so please forgive me for leaving only a drive-by comment: please ignore the alignment stuff. If we are talking about host-device copies, it's an implementation detail (of CUDA, HIP, or any sane memory pool implementation sitting on top). CUDA/HIP's copy APIs do not care about alignments. DLPack does not. CUDA Array Interface does not. No one does.

Another thing is I seem to recall we

[2021-05-16 01:39] Ciozzz commented on #18879
Hi Tim,
According to [this discussion on scikit-learn](https://github.com/scikit-learn/scikit-learn/issues/12535), I think it better to change `autolink` to another value, like `any`, so `default_role` can become more useful.

[2021-05-16 06:24] seberg commented on #19013
Thanks for clearing that up Ralf and @leofang, sorry for missing the link to the comment where it was more clearly defined.   I am not concerned about NumPy providing `__dlpack__` then.  Forcing the user to copy on weird strides or dtypes seems totally fine.

@leofang: If a copy is *never* done, that is good.  My concern is mainly that it should be predictable. Although, *never* might even be nice

[2021-05-16 08:32] seberg commented on #19013
About the buffer protocol: You are right, I guess.  The buffer protocol has only the "release function". And that could be enough to allow deleting the original object, but it is not specified to be a valid. (By passing a new, different "owner" object out during buffer creation.  CPython's memoryviews would work with that happily, but NumPy doesn't.)

So yes, unlike DLPack, the buffer protocol doe

[2021-05-16 09:15] shashwatj07 opened #19020 "linalg.det for fractions"
## Feature

linalg.det should return fraction object when called by passing a matrix of fractions.

[2021-05-16 09:57] ilayn commented on #19020
See a relevant question https://stackoverflow.com/questions/29182051/why-doesnt-numpy-determinant-return-a-fraction-when-given-a-fraction-matrix

The reasoning still applies. I think you should check sympy instead for this.

[2021-05-16 12:12] cgcgcgcgcg commented on #18848
https://github.com/python-pillow/Pillow/issues/5320#issuecomment-841797596

[2021-05-16 13:42] #18721 closed

[2021-05-16 13:46] timhoffm commented on #18879
I agree that the default role needs changing (if only for the fact that "autolink" seems deprecated). At Matplotlib, we use `obj`, which is a bit more restrictive than `any`. Most things we link are other classes/functions. Also trying to catch `ref`, `doc` and `option` seemed a little too ambitious; but YMMV.

Note that when changing to `any` or `obj`, you'll get warnings for the current numpydoc

[2021-05-16 16:21] rgommers commented on #19013
This is the thing - if you propose changes on this issue tracker, you're talking to others who then have to spend time responding to your proposals. It's different from "thinking out loud" (which I interpret as "to clarify things for yourself"). For me the appropriate places to take notes or clarify things for myself are a piece of paper, a HackMD doc, my own fork, etc. - and then ask clarifying q

[2021-05-16 17:16] rkern commented on #19013
As annoying as it is to be on the receiving end of that, I have found that it has always been the case that the fault was mine, as the proposer. It's not your audience's fault that they weren't following all of your deliberations in real-time that would have shown how you worked out their problem cases. If it's not clearly laid out in the final proposal, it's a fair question. A ton of the PRNG des

[2021-05-16 18:42] rgommers commented on #19013
Thanks @rkern, that's all very fair. NEP 47, the array API docs and docs in the DLPack can all certainly be improved.

Definitely, please ask those questions. Ask to see a PR first so you can play with it. And point out which are the important doc gaps to fill. It's simply kind of hard if that's mostly skipped over and we jump straight to an API extension proposal.

[2021-05-16 20:02] rgommers commented on #17136
Nice analysis, thanks @lschwetlick! I agree with this conclusion - all those tests seem correct, and there's not much to gain by adding more strictness there that people need to then work around.

So I guess the next step is adding a `casting='unsafe'` keyword? Or leave things as they are?

[2021-05-16 20:21] rgommers commented on #18914
:) I see the next flood of corner case issues coming there:)

The upstream LAPACK issue can be closed I think. We just need to decide what to do with a case like this:

1. Document behavior may differ between LAPACK implementations and live with it.
2. Do the expensive check and always propagate nan's.
3. Do the expensive check and always raise a `LinalgError`.

I think it's best to go with (1); d

[2021-05-16 21:41] rkern commented on #19013
Agreed. There can be multiple reasons for the disconnect (the proposal isn't what you think it is, there's a disagreement about what the consequences of the proposal actually are, or there's a disagreement about whether the consequences are desirable). A counter-proposal is only appropriate once the disconnect is revealed, if not resolved.

AFAICT, there's nothing that prevents a prototype from be

[2021-05-16 21:56] h-vetinari commented on #15243
I tried undoing this skip in https://github.com/conda-forge/numpy-feedstock/pull/227 as part of routine test skip hygiene and found that it's still an issue. Sample CI run [here](https://travis-ci.com/github/conda-forge/numpy-feedstock/builds/225387025).

Could we reopen this issue to keep the previous context, or would you like a new one?

[2021-05-16 23:14] charris commented on #15243
Reopened.

[2021-05-16 23:20] seberg commented on #18425
NumPy master will now always raise the warning when turned into an error. Hopefully, this behaviour is preferential;  Of course it doesn't actually fix the problem itself...

[2021-05-17 06:05] cgcgcgcgcg commented on #18848
I decided to edit directly line 37 of /home/k/.kodi/addons/script.module.websocket/lib/websocket/_abnf.py and replace "import numpy" with:
numpy = None

After initial testing this seems to solves crashes on Arch Linux and Kodi 19.1 seems to work fine.

[2021-05-17 08:24] lschwetlick commented on #17136
I still like the casting keyword- it just makes it more explicit what is happening, and we can add a little note in the documentation. I doubt it will be much used though, so I don't know...

[2021-05-17 09:35] lschwetlick commented on #17136
On second thoughts, we could make the default "same_kind", but unfortunately that still has the problem that the order matters.

[2021-05-17 10:00] rgommers commented on #17136
Yeah that's true. Maybe just improving the docs is better.

A warning like that isn't ideal, because test suites like those of NumPy and SciPy are configured to turn any warning into an error in CI (that helps keep things maintainable in the long run). So a warning effectively has the same effect as changing the default for them: they have to change all the code.

[2021-05-17 10:07] zoj613 commented on #17140
Maybe not directly related here but I think its worth mentioning in the docs that the random c-api is only available from 1.19.0 onwards. I did not know this until I ran into compile errors because I assumed it has been around since 1.17.0

[2021-05-17 10:25] lschwetlick commented on #17136
So my PR #18950 now has the unsafe default and the casting information in the function docsting.... Is it still useful or should we discard it?

[2021-05-17 11:10] rgommers commented on #17136
I'm not 100% sure. I have a slight preference for just adding documentation, but am also fine with a keyword. Let's see what other reviewers have to say.

[2021-05-17 11:51] lschwetlick commented on #17136
I got some [feedback](https://github.com/numpy/numpy/pull/18950#pullrequestreview-660857738) from @BvB93  directly on the PR. Specifically, the suggestion is that we test for `can_cast` in both directions and then set it the default to `same_kind`.

[2021-05-17 12:58] mdubravski commented on #19015
Hi,

Michael Dubravski
mdubravski@gmail.com

Thanks,
Michael Dubravski

[2021-05-17 13:49] rkern commented on #17140
@h-vetinari @zoj613 Please go ahead and open new PRs for the additions that you would like to see.

[2021-05-17 15:46] ijoseph commented on #17136
hmm.... this seems a little nonstandard, right? In the codebase that caused me to raise the issue, a warning would have been helpful (as we don’t error out for warnings).

[2021-05-17 15:49] ijoseph commented on #17136
the core of the issue is that some scipy methods (the method mentioned in the initial issue comment) will raise an error due to different types. I’m not sure whether float vs int causes an issue, but definitely bool vs float does when interpolating over an x-vector.

[2021-05-17 17:51] tdunnigan commented on #15390
Were you ever able to resolve this issue?  Running into the same problems right now while trying to run a Kivy app in XCode.

[2021-05-17 18:24] dinesh-rajaveeran commented on #15390
@tdunnigan Yes, I finally made it work somehow.
Python 3.7.6
Numpy 1.18.1
Kivy 1.11
XCode 10.2

[2021-05-17 19:21] BvB93 commented on #16546
Removed 2 classes annotated in https://github.com/numpy/numpy/pull/19002:
* `broadcast`
* `DataSource`

[2021-05-18 05:51] benedictusalvian opened #19027 "Allow np.array() to accept string arguments and turn them into 1D, 2D, ...., nD arrays"
## Feature

Suggestion: Allow `np.array()` to accept string arguments and turn them into 1D, 2D, ...., nD arrays, just like `np.matrix()`.

`x = np.matrix("1 0; 0 0")` is able to take in the given string and turn it into the following matrix.
[code]
To turn the matrix into an array, we use `x = np.asarray(x)`.

`x = np.array("1 0; 0 0")` does not allow string inputs to be turned into an array.

I

[2021-05-18 07:03] mattip commented on #18591
Closing, fixed by a newer version of the theme. Please reopen if it still appears for you.

[2021-05-18 07:04] mattip opened #19028 "DOC: left navbar is repeated in the devdocs"
See for instance https://numpy.org/devdocs/dev/index.html

This does not happen in the stable docs. Did something change in the theme?

[2021-05-18 07:38] bashtage commented on #19027
For now you could use `np.matrix("1 0;0 0").A`.  I think this is too ambiguous to add to `array`.  It could be useful if there was a simple string parser function that works like `matrix` that would work well with a standard string format.

[2021-05-18 07:51] eric-wieser commented on #19027
I think having `np.array` accept this is a bad idea. Mixing constructors with string parsers just makes everything a mess, especially when it comes to arrays of strings.

An `np.parse_colon_string` function would avoid this concern; but even that just adds to the confusion of `np.genfromtxt` / `np.loadtxt` etc. Personally I think this feature has no place in NumPy.

[2021-05-18 10:52] zoj613 commented on #19010
How would you suggest somebody go about doing this, @seberg ? Is it mostly python level, C level code or both that needs cleaning?

[2021-05-18 12:19] guoqiangqi opened #19030 "How to build Linux Binaries for numpy+mkl？"
Thanks for building such great project,  I want to use numpy+mkl in Linux, but currently only windows binaries are available, can anyone tell me how to make numpy+mkl wheel by building from source?

[2021-05-18 13:24] bashtage commented on #19030
The easy way, if available to you, is to install NumPy using conda, which will default to a build that includes MKL.

[2021-05-18 14:44] rossbar commented on #19028
I'm not sure if it's a change in the theme or a change in how sphinx itself is handling files with multiple `toctree`s. It seems that originally (i.e. in the stable docs) the left sidebar is populated only by the [first toctree](https://github.com/numpy/numpy/blob/main/doc/source/dev/index.rst#contributing-to-numpy), whereas the sidebar in the devdocs is populated by [both toctrees](https://github

[2021-05-18 16:09] WarrenWeckesser commented on #18591
Should the new version have already taken effect at https://numpy.org/doc/stable/reference/index.html?  I still see the top bar covering the start of the documentation, but only when the ilnk uses an internal link.

For example,  if you search for `average`, the first link is [`https://numpy.org/doc/stable/reference/generated/numpy.average.html?highlight=average#numpy.average`](https://numpy.org/d

[2021-05-18 16:11] BvB93 opened #19032 "TST: The github actions tests keep getting cancelled"
As observed in https://github.com/numpy/numpy/pull/19029 and https://github.com/numpy/numpy/pull/19031 all the github actions workflows keep getting cancelled without a clear indication as to why.
All other CI's (azure, travis, _etc._) appear to be running fine.

Example: https://github.com/numpy/numpy/pull/19029/checks?check_run_id=2611780411

[2021-05-18 16:30] seberg commented on #19010
Sorry, I should have noted the "requirements" if I label it as a potential project.  This is in the C code in `conversion_utils.c` and requires knowing the Python C-API.  It is a narrowly defined (no need to know more of NumPy C-side), but probably would be a big refactor code cange in that small chunk.

The chunks are mainly:
https://github.com/numpy/numpy/blob/35158c723787c46014ff2bf8332e0aa639d

[2021-05-18 16:33] madphysicist commented on #18591
@mattip I'm still seeing the same behavior as @WarrenWeckesser describes. I don't think the issue has been fixed. Please reopen.

[2021-05-18 16:39] zoj613 commented on #19010
Thanks, its clearer to me know. I know a tiny bit of both Python & Numpy's C-API's, so i'll take a closer look later this week and see if i'm able to tackle it. It will be a nice learning experience even if I don't end up sending a PR.

[2021-05-18 17:20] charris commented on #19032
I've been seeing that for several days. More information here https://github.com/numpy/numpy/actions/runs/854011834/workflow. The problem seems to be in `.github/workflows/circleci.yml`. Not sure why it is suddenly a problem, maybe @larsoner has an idea.

[2021-05-18 17:32] nchepanov opened #19033 "Python 3.10 build fails: incompatible type for argument 1 of '_Py_HashDouble'"
Building latest numpy for Python 3.10 fails due to backwards incompatible change in the (private) Python CAPI: https://github.com/python/cpython/commit/a07da09ad5bd7d234ccd084a3a0933c290d1b592#diff-457f8bf30255da716d2a556ad1bef2dff5d77ed1511f3328da22c600bb477042R10

* GCC 7.3.1 (Red Hat 7.3.1)
* https://files.pythonhosted.org/packages/f3/1f/fe9459e39335e7d0e372b5e5dcd60f4381d3d1b42f0b9c8222102ff29

[2021-05-18 17:32] charris commented on #19032
I'm going to guess that `artifact-path` is broken.

[2021-05-18 17:44] charris commented on #19033
Note that 1.20.x doesn't support Python 3.10. Can you try the nightly build?
`pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple numpy`. It doesn't  officially support Python 3.10 either, but has some fixes.

[2021-05-18 17:51] nchepanov commented on #19033
oh! it's probably fixed via https://github.com/numpy/numpy/commit/ad2a73c18dcff95d844c382c94ab7f73b5571cf3
per https://github.com/numpy/numpy/issues/18907

[2021-05-18 18:24] seberg commented on #19033
Yes, this is fixed. A few project test NumPy indirectly against Python 3.10 (pandas, scipy) and they are fine right now AFAIK.  Thanks for the report!

[2021-05-18 18:24] #19033 closed

[2021-05-18 18:31] larsoner commented on #19032
If `artifact-path` is broken, it should still create the link and it will just 404 when you click on it.

I think this is a GitHub-wide thing, I experienced this all day today on this PR (where the artifact redirector is not installed):

https://github.com/pyvista/pyvistaqt/pull/109

Looking at [GitHub Status](https://www.githubstatus.com/) we see there is a problem:

[2021-05-18 18:45] charris opened #19034 "Suspicious uses of `PyLong_FromLong`"
See #19011.

Other suspicious uses of `PyLong_FromLong`:

https://github.com/numpy/numpy/blob/fb4ea911607a81ef6633b857122e34229075705e/numpy/core/src/multiarray/nditer_pywrap.c#L1530-L1531

https://github.com/numpy/numpy/blob/fb4ea911607a81ef6633b857122e34229075705e/numpy/core/src/multiarray/nditer_pywrap.c#L1559-L1560

[2021-05-18 20:25] BvB93 commented on #19032
Closing, the github statuses are all back to green and the tests seem to be properly running again.

[2021-05-18 20:25] #19032 closed

[2021-05-18 21:04] seberg commented on #19010
Great, some things that might be good commands to keep in mind as well when you dive into refactoring: `PySequence_Check` and all of the `PySequence_FAST` commands.

[2021-05-19 01:07] guoqiangqi commented on #19030
Thanks for your reply. Do you have any guides about building `numpy`+`mkl` from source since i have modified  some origin codes in `numpy` ?

[2021-05-19 01:46] Qiyu8 commented on #19030
I tried to build numpy+mkl wheel through this [guide](https://software.intel.com/content/www/us/en/develop/articles/build-numpy-with-mkl-and-icc.html), but the wheel didn't include mkl like [windows one](https://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy), @bashtage @mattip @charris Any thoughts?

[2021-05-19 03:53] Qiyu8 commented on #19030
After browsering [Windows wheel package (.whl) on Pypi](https://github.com/numpy/numpy/issues/5479), I think @carlkl and @cgohlke may provide solutions, Also [this archived repository](https://github.com/numpy/windows-wheel-builder) may help.

[2021-05-19 04:20] mattip commented on #18591
We have not rebuilt the stable docs with the new theme. I was refering to the [devdocs](https://numpy.org/devdocs/reference/generated/numpy.average.html?highlight=average#numpy.average) where the behaviour is better.

[2021-05-19 04:25] leofang commented on #19013
First, replying to myself:

- [Here](https://data-apis.org/array-api/latest/design_topics/data_interchange.html#design-topics-data-interchange--page-root) we said "Zero-copy semantics where possible, making a copy only if needed (e.g. when data is not contiguous in memory). Rationale: performance."
- [Here](https://data-apis.org/array-api/latest/design_topics/data_interchange.html#semantics) we sa

[2021-05-19 04:36] rkern commented on #19013
No, I saw that. But it's not essential for a prototype that can help work out some of the other details. I'm not saying you should maintain it forever (though it could be useful for working with current versions of numpy). It's noticeably easier to build and evaluate a small prototype package than it is to build and evaluate a branch of numpy, especially if what I want to test is how it relates to

[2021-05-19 06:21] Daybreak2019 opened #19038 "Missing return-value validation of the function PyArray_DescrNew"
### Reproducing code example:

#### The definition of PyArray_DescrNew
[code]

#### Call-site example for PyArray_DescrNew
[code]
### Error message:
At most call-sites for PyArray_DescrNew, there are no validations of its return,
but an invalid address may be returned.
[example](https://github.com/Daybreak2019/IssueReport/blob/master/Numpy/case-11471/11471.png)

### NumPy/Python version informatio

[2021-05-19 06:58] bashtage commented on #19030
You should post your build command(s) and build log to a gist. One possibility is that Windows supports including libraries while Linux defaults to assuming the libraries are already available.

[2021-05-19 07:40] bhavitvyamalik opened #19039 "numpy.testing.assert_equal does not test for dtype"
### Reproducing code example:

[code]
Here can't we have another check to see if they have same dtype or not?

### NumPy/Python version information:
1.19.1/ 3.6.8

[2021-05-19 11:05] studioj opened #19040 "mcAfee Endpoint security detected a threat numpy 1.20.3"
### Steps to reproduce:

pip install numpy==1.20.3

### Not reproducible on :
pip install numpy==1.20.2

### Error message:
![image](https://user-images.githubusercontent.com/22102283/118801799-b45a6300-b8a1-11eb-9fb0-6b194c07c338.png)

it states an issue with random\_common.cp37-win_amd64.pyd

[2021-05-19 11:22] bashtage commented on #19040
False positive?

![image](https://user-images.githubusercontent.com/5585221/118804621-d3a2c180-b89c-11eb-87ef-2eeee80ba736.png)

[2021-05-19 11:26] bashtage commented on #19040
FWIW 3.8 also gets a random flag from a different vendor:

![Uploading image.png…]()

[2021-05-19 11:31] studioj commented on #19040
most likely a random positive but i found no issues in the open/closed list related to this ...
people looking for the issue will at least have a landing place

[2021-05-19 11:32] mattip commented on #19040
Please check your pip indices. If you are downloading it from a reputable source (pypi.org) please report this to mcAfee as a false positive.

[2021-05-19 12:27] WarrenWeckesser commented on #18591
Ah, OK.

[2021-05-19 12:27] #18591 closed

[2021-05-19 14:15] kalofoli opened #19044 "Inexplicable behaviour after copy/rescale old/index assign to copy"
Within a function i perform these actions:
  * I pass a small matrix in the arguments,
  * I copy the matrix
  * perform a  computation which depends on the original matrix(array)
  * assign the result in the newly created copy
The expected behaviour is that the copy is updated with the assigned value.
The actual behaviour is that the referred indices of the copy are updated with wrong values.
###

[2021-05-19 14:21] kalofoli commented on #19044
My current workaround:
[code]
The workaround yields:
[code]

[2021-05-19 14:24] bashtage commented on #19044
Check A's `dtype`.

[2021-05-19 14:26] kalofoli commented on #19044
Oh, that's obvious.. It was int. I'll close this. :) Thanks!

[2021-05-19 14:26] #19044 closed

[2021-05-19 15:59] brpy commented on #16136
PR #19041 fixes this.

Closed!

[2021-05-19 15:59] #16136 closed

[2021-05-19 16:29] #19034 closed

[2021-05-19 18:19] seiko2plus opened #19045 "BUG: Unexpected result in uint8 division on x86"
The bug can occur in special cases e.g. when the divisor is scalar and equal to 9 or 13 and the dividend is array contains consecutive duplicate values of 233.

### Reproducing code example:

[code]

### NumPy/Python version information:
main, after #18075. related to #18178

[2021-05-19 20:51] #14876 closed

[2021-05-19 21:27] #18723 closed

[2021-05-19 21:27] #18199 closed

[2021-05-19 23:24] jtskowronek commented on #15183
This worked for me, so far...

[2021-05-19 23:31] seiko2plus commented on #19017
There is a group of VSX/intrinsics that aren't supported by old versions of GCC, #19047 should resolve this issue.

[2021-05-20 03:01] seberg commented on #2705
I am going to close this issue. There is no TODO here that I can see happening.  NumPy now has overlap detection, and if anyone wants in-place magic aside from `accumulate`, the solution would be to petition for a new feature.

But overall, I think the actual solution is to write a cython, or other function working with the buffers directly (and doing whatever sanity checks make sense).  It is sim

[2021-05-20 03:01] #2705 closed

[2021-05-20 04:54] benedictusalvian commented on #19027
That's a fair point. I brought up this feature suggestion partly because the class `numpy.matrix` may be removed in the feature and this workaround `np.matrix("1 0;0 0").A` might no longer work. And without this workaround, it will be difficult for users to input matrices through the command line without building a string parser of our own.

As of now, `numpy.matrix` accepts
[code]
And `numpy.arra

[2021-05-20 07:25] mattip commented on #19017
Is using such an outdated gcc common with ppc installations?

[2021-05-20 08:31] vmarkovtsev opened #19050 "nanmedian crashes on NaT-s in a certain case"
### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:

[code]

[2021-05-20 08:42] vmarkovtsev opened #19051 "nanmedian does not return the original timedelta64 dtype"
=### Reproducing code example:

[code]

### Error message:

[code]

If we change the order, the type becomes correct:

[code]

### NumPy/Python version information:

[code]

[2021-05-20 13:32] #19017 closed

[2021-05-20 17:30] #18005 closed

[2021-05-20 18:51] asmeurer commented on #18986
https://github.com/numpy/numpy/pull/19049 doesn't seem to have fixed this, so I guess it was a different issue.

[2021-05-20 18:53] goitmc opened #19053 "Numpy 1.20.3 detected as trojan"
Upgrading from 1.20.2 to 1.20.3 results in McAfee flagging and deleting _common.cp37-win_amd64.pyd
"The Trojan named Artemis!AA5930A5315E was detected and deleted."
### Reproducing code example:

[code]

### Error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "...\Continuum\anaconda3\lib\site-packages\numpy\__init__.py", line 156, in <module>
    from .

[2021-05-20 18:59] drjasonharrison opened #19054 "NumPy 1.18.5 release notes and tag"
## Documentation

I cannot find the release notes for NumPy 1.18.5, nor a tag for that release.

https://numpy.org/doc/stable/release/1.18.4-notes.html states that 1.18.4 was the last planned release before 1.19.

and PyPi has a release for 1.18.5: https://pypi.org/project/numpy/1.18.5/

Is there a tag, or release notes, that have been misplaced?

[2021-05-20 19:15] SV-97 commented on #18997
I'm no expert in probability theory and was merely citing my ressources (German wikipedia states p∈(0,1), my uni's ressources (0,1] - I just checked some more and English wikipedia states [0,1], wolfram alpha (0,1)). Just looking at the pmf I'd guess that allowing 0 would lead to the distribution not being normed since it'd be identically zero - but it's also very well possible that I'm missing so

[2021-05-20 19:17] mattip commented on #19053
Duplicate of #19040, and probable false positive.

[2021-05-20 19:17] #19053 closed

[2021-05-20 19:28] #19045 closed

[2021-05-20 19:46] charris commented on #19054
There was a 1.18.5 release, you can find it at https://github.com/numpy/numpy/releases/tag/v1.18.5. It is missing from the main branch, however. I'll fix that.

[2021-05-20 20:54] r-devulap commented on #18986
I confirmed that clang-10 also sets the invalid flag with this code. It is coming from a `cvttps2dq %xmm2,%xmm5` instruction within the `SHORT_left_shift_avx2` function. I have no idea why clang uses a floating point instruction for integers (the generated assembly is insanely long to understand), but the code comments indicate this isn't the first time this is happening, see: https://github.com/n

[2021-05-20 21:30] #19054 closed

[2021-05-20 21:49] bashtage commented on #18997
p=0 cleanly limits to infinity. However here we have integer values and so 0 and parameters close to 0 should be excluded since infinity cannot be represented (p<=0 is excluded, but the real exclusion range should depend on both p and n).  p=1 cleanly limits to 0 since there are always no failures before `n` successes.

[2021-05-20 23:55] PhilReinhold opened #19056 "Stubs for array_equal appear out of date."
Stubs for array_equal appear out of date.

### Reproducing code example:

[code]

Then running mypy on this gives `error: Unexpected keyword argument "equal_nan" for "array_equal"`

I see that #16128 introduced this argument but did not update the stubs. It appears it must be added in https://github.com/numpy/numpy/blob/5f3c3181b5d8db0e430e5f605cc45c4392f04934/numpy/core/numeric.pyi#L241

### Erro

[2021-05-21 03:08] charris commented on #19056
@BvB93 Ping.

[2021-05-21 05:39] aragilar commented on #14574
@carlkl I had an attempt at adding quad precision floats in https://github.com/aragilar/numpy/ (there's a number of branches as I kept needing to rebase the changes, I don't remember which was the latest one). The issue I ran into was the lack of a quad precision implementation that wasn't LGPL (or didn't depend on a LGPL library along the line - there are some very basic quad precision implementa

[2021-05-21 07:11] madphysicist commented on #18591
@mattip, @WarrenWeckesser Thanks. Any idea when the devdocs will become stable docs?

[2021-05-21 07:29] baist opened #19057 "Slow Random Initialization on AMD CPU."
The random and argsort operation in AMD cpu is so slow that a random initialization of 10000*10000 matrix needs 30m !!!
For comparison, the same initialization in  Intel CPU needs about 5s.

When using openblas for acceleration, the time cost is much lower, but still 3x than Intel CPU (about 17s). And the code often stucks in somewhere when performing random initialization or argsort.

CPU: 128  A

[2021-05-21 08:47] BvB93 commented on #19056
By the looks of it this should be a simple change to make. Would you be willing to create a PR?
[code]

[2021-05-21 09:58] bashtage commented on #19057
You are certainly having threading problems.  `export OPENBLAS_NUM_THREADS=8` or perhaps 16.

[2021-05-21 09:59] bashtage commented on #19057
As for random, use `np.random.default_rng(SEED)` to get a generator, then `gen.standard_normal((n,n))`. Takes 1 second to generate a 10k by 10k matrix on a Ryzen 39?0.

[2021-05-21 11:46] baist commented on #19057
Thanks for your suggestions. But more threads do not work. Probably, the issue is incurred by the system or other configurations, such as lapack or openblas. As an alternative solution, I'd like to re-implement the numpy code with pytorch, which performs normally.

[2021-05-21 11:49] bashtage commented on #19057
This is really strange.  Ran your code on my machine and saw timings of 2s and 5s for the two main tasks.

Have you tried using conda-provided Python and NumPy as a check that it isn't something to do with the particulars of a specific compiler?  From your logs it looks like you are compiling your own version.

[2021-05-21 13:22] mattip commented on #18591
Any idea when the devdocs will become stable docs?

[2021-05-21 13:56] baist commented on #19057
Yes, the initialization operation is completed instantly on other cpus (i.e., `AMD EYPC 7551P` or `Intel(R) Xeon(R) Silver 4114` ). In the beginning, I use the Python and Numpy installed by Conda, however, the time cost is nearly 30m for 10k*10k matrix. To solve this, I try to install OpenBLAS (also lapack) for acceleration and also compile Numpy, the matrix operations have indeed faster, but the

[2021-05-21 14:08] charris commented on #19057
The idea is to use fewer threads, maybe try 1. The timings you report are so bad I'd almost suspect swap memory is in play.

[2021-05-21 14:09] rkern commented on #19057
The `OPENBLAS_NUM_THREADS` stuff shouldn't be in play for the final two tests that are in question, as they only use `randn()` and `argsort()` and no linear algebra.

[2021-05-21 14:16] rkern commented on #19057
Here's the stripped-down version (using the preferred modern PRNG stuff that's significantly faster):

[code]

[2021-05-21 14:28] Zac-HD opened #19059 "Confusing ndarray repr: always shows dtype as if in native byteorder"
[code]

This isn't strictly speaking a *bug*, but using the byteorder-sensitive repr of the dtype instead would make it easier to tell when you have an endianness issue in e.g. [this StackOverflow question](https://stackoverflow.com/q/67634660).

[2021-05-21 16:22] BvB93 opened #19061 "Inconsistent `np.bincount` casting behavior for arrays vs array-likes"
`np.bincount` currently seems to use handle different casting rules for arrays (`"safe"`) vs array-likes (`"unsafe"`).

This gives rise to the odd situation where, for example, it is ok to pass a list of (numerical) strings,
but not an array with the very same content.

Examples
---------
[code]

[2021-05-21 19:46] seberg commented on #19061
I guess the current code attempts to cast to coerce to int64 directly.  Instead of effectively doing `np.asarray(arr).astype(dtype, copy=False, casting="safe")`.  In general, it is probably OK, to go via that array creation.

<details> <summary> Some thoughts, because this touches NEP 42!:   </summary>

It might be nice to be able to have casting safety available to array coercion more readily.  I

[2021-05-21 21:05] QuLogic commented on #18926
One thing that's not particularly clear in the documentation is whether this is for people writing code for use _in_ NumPy, or in _other projects_ using NumPy. It seems written for using _in_ NumPy, but then it's in the ToC at the same level as things that are for other projects.

[2021-05-21 21:18] rgommers commented on #18828
I think it looks equal or better for everything I checked. Reducing the `:nowrap:` doesn't seem needed.  E.g., compare:
- https://numpy.org/devdocs/reference/internals.code-explanations.html?highlight=code%20explanations#reduce, with
- https://19944-908607-gh.circle-artifacts.com/0/doc/build/html/reference/internals.code-explanations.html?highlight=internal%20code%20explanations#reduce

In `main`:

[2021-05-21 21:19] rgommers commented on #18828
Meant to post the above on the PR. Ah well.

[2021-05-21 22:01] BvB93 commented on #19061
Right, the odd thing is that doesn't seem to be happening here, as this would make aforementioned `U1` to `int64`
cast illegal, both for arrays and arbitrary array-likes. Instead, `np.bincount` seems to perform something more or less
like the example below whenever parsing its input.
[code]
I don't recall seeing a similar pattern anywhere else in the codebase before. Generally when a cast is perfo

[2021-05-22 04:54] seberg commented on #19061
So the actual reason is, that we have an `NPY_ARRAY_FORCECAST` flag for array creation. If that is not set and the input is already a single array (not a sequence of arrays), then "safe" casting is used.  (The force-cast flag, or lack thereof, only works when creating an array from another array).

So yes, without that flag (which `np.array` uses), you get exactly the code you wrote.  I would be s

[2021-05-22 11:10] BvB93 opened #19064 "Limitations of static typing 0D arrays"
During runtime numpy aggressively casts any passed 0D arrays into their corresponding generic instance. Until the introduction of shape typing (see [PEP 646](https://www.python.org/dev/peps/pep-0646/)) it is unfortunately not possible to make the necessary distinction between 0D and >0D arrays. While thus not strictly correct, all operations that can potentially perform a 0D-array -> scalar cast a

[2021-05-22 11:27] alicezanella opened #19065 "Error while installing from source"
Hello,
I have to install numpy from source because I'm working on a server.
After having built Python-3.9.0 I'm trying to install also numpy with this command:

`python3 setup.py build install --prefix=/home/zanella/softwares/numpy-main`

And this is what I get:

`Traceback (most recent call last):
  File "/home/zanella/softwares/numpy-main/setup.py", line 50, in <module>
    MAJOR, MINOR, MICRO =

[2021-05-22 13:19] charris commented on #19065
Where did you get NumPy?

[2021-05-22 14:07] BvB93 commented on #19050
Hi @vmarkovtsev, a fix for both this issue as well as https://github.com/numpy/numpy/issues/19051 is currently up at https://github.com/numpy/numpy/pull/19066.

[2021-05-22 14:11] alicezanella commented on #19065
The code here on github

[2021-05-22 14:13] #19056 closed

[2021-05-22 14:28] charris commented on #19065
Which code? There is the repo, and there are also several files in the tagged release.

[2021-05-22 14:29] charris commented on #19065
If you are in the repo, what does `git describe` show?

[2021-05-22 14:36] alicezanella commented on #19065
I checked, I used the wrong repo! Thank you

[2021-05-22 14:36] #19065 closed

[2021-05-22 14:46] vmarkovtsev commented on #19050
Many thanks! You rock 🎸

[2021-05-22 17:53] #19050 closed

[2021-05-22 17:53] #19051 closed

[2021-05-22 18:03] charris commented on #19065
You might want to look into downloading the correct numpy wheel as a file, then copying it to the server for installation.

[2021-05-22 18:30] BvB93 commented on #12901
Wouldn't it be possible to cast the `datetime64` array to `float64` when computing the mean,
and then cast it back to its original dtype afterwards?

[2021-05-22 18:40] charris commented on #12901
What I would like to do is use quad precision for time with a fixed base unit :)

[2021-05-22 19:10] cmichal2 opened #19067 "build-time popcnt test completes successfully when it should fail"
Building numpy 1.20 with gcc-9.2 or 10.2 on cpus that don't support the popcnt instruction produces code that fails at run time when numpy is imported. The issue appears to be that the test to see if popcnt functions, in cpu_popcnt.c, succeeds even when it should fail. The code that's there, when compiled with -S (with or without optimization) produces no popcnt instructions in its output. Probabl

[2021-05-22 19:23] fedorpashin commented on #12970
Solved this problem by installing **openblas** with conda.

[2021-05-22 20:19] #19015 closed

[2021-05-22 20:33] rgommers commented on #14960
I ran into this again when working on the scipy.linalg Meson build, so let me document how this works before I forget it again (example for `fblas`:

- Step 1: turn `fblas.pyf.src` file into `fblas.pyf` file, using `numpy.distutils.from_template.py`. _This step is not needed if you start from a `.pyf` file._
- Step 2: run `python -m numpy.f2py fblas.pyf --quiet`. This generates `_fblasmodule.c` an

[2021-05-22 22:22] david-cortes opened #19069 "np.int32 not a subdtype of np.int"
This throws `False` in the latest numpy versions:
[code]

[2021-05-22 22:31] rkern commented on #19069
We have warned that the behavior would change since at least `1.17.4`:

[code]

Use `np.integer` as the base dtype to detect numpy integer scalars.

[2021-05-22 22:41] david-cortes commented on #19069
The link in the warning BTW says to use `int`, which also returns `False`:
[code]

[2021-05-22 22:43] eric-wieser commented on #19069
In 1.20 onwards that emits a second warning about `np.int` also being deprecated.

[2021-05-22 23:12] rkern commented on #19069
What link?

[2021-05-22 23:17] rkern commented on #19069
Ah, got it. That's not from `issubdtype()` but just from accessing `np.int`, which has always (since _very_ early releases of `numpy`) been just an alias to the builtin `int`, not an actual `numpy` scalar type.

[code]

_That_ warning is telling you to use `int` instead of `np.int`, but it doesn't know anything about what you actually intend to use it for, just that the alias is going away eventua

[2021-05-22 23:20] david-cortes commented on #19069
Tried yet another NumPy version, I see it now has an informative warning:
[code]

[2021-05-22 23:20] #19069 closed

[2021-05-23 04:48] #18619 closed

[2021-05-23 10:32] rgommers commented on #14960
To make it more annoying: sometimes a `*-f2pywrappers.f` is generated, and sometimes it's not. This depends on whether the original `.f` source code is Fortran 77 (in which case no wrappers are needed), or Fortran 90/95 (then Fortran 77 wrappers are generated by default).

Having the number of generated output files depend on file contents rather than build flags or file extension is not a good th

[2021-05-23 10:37] rgommers commented on #14960
At least we should document the above. The closest is https://numpy.org/devdocs/f2py/usage.html#numpy.f2py.run_main, which says _"returns a dictionary containing information on generated modules and their dependencies on source files"_ with an example. I didn't get this on a first read of that whole "Using F2PY" page though.

@pearu if you have any idea on how to make output files predictable base

[2021-05-23 12:07] pearu commented on #14960
@rgommers one option to achieve predictability would be to always generate the `.f` and `.f90` files, even when these turn out to be empty.

Otherwise, FYI, the files are generated whenever the wrapped routines contain Fortran functions plus some other cases like wrapping F90 module routines.

[2021-05-23 13:09] seiko2plus commented on #19067
Thank you for your report. According to the build log, this bug can be triggered when option `native` is provided via build arg `--cpu-baseline` or through passing GCC flag `-march=native` via the environment variable `CFLAGS.`

[2021-05-23 18:57] rgommers commented on #14960
That sounds like a good idea. Not urgent, but if it's easy to do at some point during other f2py work, that would be nice.

[2021-05-23 19:10] #19067 closed

[2021-05-23 21:21] charris opened #19076 "Warning in refguide check"
In numpy.core `Warning: overflow encountered in short_scalars`. There isn't enough information in the output to pin it down further. Can we add an option to the refguide check to make its output more verbose and better formatted?

[2021-05-23 21:25] charris opened #19077 "LGTM alerts ."
I notice that there are still a fair number LGTM alerts, many of which look pretty simple. I wonder if they would be a good source of issues for the next NumPy sprint?

[2021-05-24 01:33] jbrockmendel opened #19078 "DOC: FutureWarning from string promotion"
xref https://github.com/numpy/numpy/pull/18999#issuecomment-846603116

In the future, `np.array([1, 2, "3"])` will raise, and we should use `np.array([1, 2, "3"], dtype=object)` instead.

This poses a problem if we don't know whether we have `data = [1, 2, 3]` vs `data = [1, 2, "3"]`.  In the former case we want to ndarray[int64], and in the latter we want ndarray[object].  A solution we could imp

[2021-05-24 02:04] seberg commented on #19078
Hmmm, I honestly thought that pandas wouldn't notice it much, but I guess that was only if the warning was raised and then ignored... and now that isn't the case anymore.  I have to think about it, maybe we can quickly add a special `dtype="allow_object"`, but then you would have to change the code depending on the numy version as well.

I have to think about it tomorrow a bit/in the next days.

[2021-05-24 02:40] charris commented on #19078
@jbrockmendel How is it that you don't know what type you want?

[2021-05-24 02:59] jbrockmendel commented on #19078
Because we're dealing with user input, e.g. `pd.Series([1, 2, 3])` is going to call `np.array([1, 2, 3])`

[2021-05-24 03:25] charris commented on #19078
@jbrockmendel Hmm, that is going to be tricky to handle, especially if we ever manage to stop automatic creation of object arrays. We would like to do that at some point. Do you also handle ragged arrays this way?

[2021-05-24 04:42] jbrockmendel commented on #19078
Pretty much anything that is passed to one of the pandas constructors, if it doesn't already have a .dtype (and no dtype kwarg is specified) will get passed to `np.array`.  If that comes back as object dtype then we'll do inference of our own (ive been trying to make that inference consistent between Series/DataFrame/Index).  There's really no special treatment (or even checking for) ragged inputs

[2021-05-24 04:48] charris opened #19079 "Azure-pipeline linter fails on new branch (maintenance/1.21.x)"
See https://tinyurl.com/yhhlxdsc , This happens on merge to the branch, the PRs work fine.

[2021-05-24 07:42] boegel commented on #18422
I'm seeing the same problem with numpy 1.20.3 using GCC 10.3, binutils 2.36.1, Python 3.9.5, OpenBLAS 0.3.15.

I can reproduce the issue with the `np.linalg.eigvals` test script provided by @millettmb: on Intel and AMD systems I'm getting the correct result (`[[-0.35561591...`), likewise on POWER9.
On an AWS Graviton2 instance (`c6gd.2xlarge`), I'm getting the wrong result (`[-0.14294258 ...`).

5

[2021-05-24 08:20] default-303 commented on #19077
hey, can i have this issue?
I'm quite new to this so I might need some guidance

[2021-05-24 08:25] ganesh-k13 commented on #19077
Posting for reference the LGTM alerts: https://lgtm.com/projects/g/numpy/numpy/alerts/?mode=list

I can take a look at the errors in arithmetic.h, which were added during our SIMD division change.

[2021-05-24 08:37] default-303 commented on #19077
@ganesh-k13 so i just need to fix the errors/warnings shown in the lgtm page ?

[2021-05-24 08:58] mattip commented on #19077
Welcome.

Please read the [developer's workflow guide](https://numpy.org/devdocs/dev/development_workflow.html), especially around [commit messages](https://numpy.org/devdocs/dev/development_workflow.html#writing-the-commit-message).

Some of those errors/warnings will be difficult to fix since LGTM's ideas may not agree with ours. Try to group the fixes in some logical way: for instance, all the

[2021-05-24 10:49] mattip commented on #19076
It is coming from https://github.com/numpy/numpy/blob/623bc1fae1d47df24e7f1e29321d0c0ba2771ce0/numpy/core/_ufunc_config.py#L93 when no error handler is set.

The default is to print directly to stderr. I am not sure how we can expose this since refguide_check.py works hard to buffer the stdout (but not stderr), we would either have to add stderr to refguide_check or have a mode like `pytest -s` to

[2021-05-24 10:56] martin-frbg commented on #18422
Graviton2 (NEOVERSEN1 target in OpenBLAS) is using the same GEMM kernels as most other supported ARMV8 cpus (originally written for ThunderX2T99 and provided by someone from Cavium in 2017/18). Unfortunately it is not covered by any of the current CI setups, I will need to look into getting AWS instances set up. The DLASCL errors suggest that NaNs are generated somewhere - as the input seems to be

[2021-05-24 11:10] default-303 commented on #19077
@mattip thanks.

I've removed all of the unused imports only to find out it breaks the code fsr(hoping you'll tell why), but reading the exceptions and restoring the removed imports solved the issue.
I've restored the following imports -
- [_get_ndarray_c_version](https://lgtm.com/projects/g/numpy/numpy/snapshot/6c44fd65d4e131877d6755842629906ebb18f20b/files/numpy/core/multiarray.py?sort=name&dir=

[2021-05-24 11:33] mattip commented on #18422
@seiko2plus any thoughts?

[2021-05-24 12:10] boegel commented on #18422
@martin-frbg I can put you in touch with somebody at AWS who may be able to provide some free credits for testing on Graviton2, send me an email if you're interested.

[2021-05-24 13:55] boegel opened #19084 "CPU feature detection is broken/incorrect when using Intel compilers 2021 update 2"
When compiling numpy 1.20.3 with Intel compilers 2021 update 2 (latest release to date) with `--cpu-baseline native` (because `-xHost` is used in `$CFLAGS`), the detection of CPU features isn't being done correctly.
I'm not seeing this problem when compiling with GCC 10.3.0 on the same system.

On an Intel Skylake X system (Xeon Gold 6140), the compiler crashes (only) when compiling the `cpu_avx51

[2021-05-24 14:26] Mukulikaa commented on #18886
Hey @rossbar, the merge didn't close the issue. Perhaps you can do it manually?

[2021-05-24 14:39] mattip commented on #18886
Thanks for the reminder

[2021-05-24 14:39] #18886 closed

[2021-05-24 14:46] martin-frbg commented on #18422
@boegel thx - I belatedly remembered that there is/was  Graviton2 access on Travis so if/while that is still avaiable I'll try to reproduce the issue there first. (I do notice that the regular LAPACK testsuite run does not look particularly bad there)

[2021-05-24 15:27] charris commented on #19076
@mattip Looks like the warning is intended? Perhaps it should be included in the example as intended output.

[2021-05-24 15:33] charris commented on #19076
Maybe something like
[code]

[2021-05-24 15:42] kingsyard commented on #14722
to keep it simple
1.     pip install numpy

if then also you get the error  try with some particular versions that your work may need.

like pip install numpy==0.9  like this check clearly which version of numpy you need.

if you couldnt install it then try

2.  pip install --user numpy

second one is where you are providing permission.(granting user permission).

if you have got any other quarie

[2021-05-24 15:43] kingsyard commented on #17726
to keep it simple

pip install numpy
if then also you get the error try with some particular versions that your work may need.

like pip install numpy==0.9 like this check clearly which version of numpy you need.

if you couldnt install it then try

pip install --user numpy
second one is where you are providing permission.(granting user permission).

if you have got any other quarie you can contac

[2021-05-24 15:44] kingsyard commented on #15448
to keep it simple

pip install numpy
if then also you get the error try with some particular versions that your work may need.

like pip install numpy==0.9 like this check clearly which version of numpy you need.

if you couldnt install it then try

pip install --user numpy
second one is where you are providing permission.(granting user permission).

if you have got any other quarie you can contac

[2021-05-24 15:45] kingsyard commented on #14848
to keep it simple

pip install numpy
if then also you get the error try with some particular versions that your work may need.

like pip install numpy==0.9 like this check clearly which version of numpy you need.

if you couldnt install it then try

pip install   --user numpy

second one is where you are providing permission.(granting user permission).

if you have got any other quarie you can con

[2021-05-24 15:46] kingsyard commented on #12960
to keep it simple

pip install numpy
if then also you get the error try with some particular versions that your work may need.

like pip install numpy==0.9 like this check clearly which version of numpy you need.

if you couldnt install it then try

pip install --user numpy
second one is where you are providing permission.(granting user permission).

if you have got any other quarie you can contac

[2021-05-24 15:47] kingsyard commented on #13252
to keep it simple

pip install numpy
if then also you get the error try with some particular versions that your work may need.

like pip install numpy==0.9 like this check clearly which version of numpy you need.

if you couldnt install it then try

pip install --user numpy
second one is where you are providing permission.(granting user permission).

if you have got any other quarie you can contac

[2021-05-24 17:07] mattip commented on #14848
@kingsyard this issue and the others you commented on are closed. Please do not abuse the open nature of github advertising your services. I deleted duplicate content from other issues here and reported this to github.com

[2021-05-24 17:17] kingsyard commented on #14848
sorry i understand .thank you

On Mon, May 24, 2021 at 10:38 PM Matti Picus ***@***.***>
wrote:

[2021-05-24 18:18] adeak opened #19085 "Cannot cast one-element object array of empty string to string dtype on 1.21.0rc1"
There's an admittedly edge case that changed behaviour, probably due to the type promotion changes:

[code]
On 1.20.3 this returns
[code]
whereas on the 1.21.0rc1 release candidate this is an error:
[code]

I note that casting scalar strings or non-empty arrays still works:
[code]

Is this new error expected?

[2021-05-24 22:54] seberg commented on #19085
I am not immediately sure why this is happening, but it must indeed be an error in the promotion changes (this is very recent). Astype should see the `U` and then infer the correct string size from the object array as if you did `dtype="U"` directly.

[2021-05-24 23:36] melissawm commented on #1866
Can anyone (@seberg?) either help me find the original ticket (now showing a 404) or figuring out what to document? Thanks!

[2021-05-24 23:41] melissawm commented on #4148
I don't see any errors on 1.22, and `np.cast` has a docstring, so my guess is that it's been resolved. Please reopen if this is not the case.

[2021-05-24 23:41] #4148 closed

[2021-05-25 00:42] to7m opened #19088 "Feature request: Generator.integers support for out="
It would be nice to have Generator.integers match the functionality of Generator.random by allowing usage of the `out` parameter.

Use case: Repeatedly generating large arrays of indices, without needing to allocate new memory each time.

[2021-05-25 00:51] seberg commented on #19078
So, I am right to assume that pandas either cannot or does not want to force users to be explicit about `dtype=object` in these cases?  Also, I guess it might be pretty darn inconvenient with object columns not all that odd when you tranpose a dataframe?

I would much prefer avoiding this warning context manager.  But going back to making `warnings.filterwarnings("error", FutureWarning)` "opt-in"

[2021-05-25 01:00] seberg commented on #1866
@melissawm the original ticket only has the same information as shown here AFAIK (I think the track is lost in time, at least I do not know who might still have the data).

There is a warning here now: https://numpy.org/doc/stable/user/basics.byteswapping.html (a bit down the page).  Maybe that is just enough?  Scalars are always stored as native-byteorder, so indexing, etc. can "swap" if the resu

[2021-05-25 01:25] jbrockmendel commented on #19078
I'm not aware of that possibility ever having been discussed.  I can imagine requiring it in the constructors, but there are also places like `Index.searchsorted` where we accept listlikes that don't have a dtype keyword.  I'm trying to narrow down the places where we call np.array on unknown inputs and its pretty daunting.

In that case we actually do determine the dtype before doing the transpos

[2021-05-25 02:18] LiuHao-THU commented on #14597
me too!!!

[2021-05-25 02:18] LiuHao-THU commented on #14597
any solution?

[2021-05-25 02:46] rkern commented on #14597
`np.zeros()` will use system calls to allocate 0-initialized memory. On some systems (my Linux installation, for one), this is optimized to return very quickly with only virtual memory allocated (`VIRT` in `top`). The resident set size (`RES` in `top`) still remains tiny. If you uses `np.ones()` or something else to actually fill that memory with something other than 0, or you start manipulating t

[2021-05-25 03:24] rkern commented on #18997
FWIW, I like to take a pragmatic approach for these domain endpoints. I rarely take any textbook's pronouncement of the open-/closed-ness of the domains as a given. Those are typically the most variable things between sources. Some sources like to exclude some endpoints because it would make the general formula (that otherwise applies cleanly to the interior) more complicated. And other sources wi

[2021-05-25 05:41] #5243 closed

[2021-05-25 05:45] #7317 closed

[2021-05-25 06:10] default-303 commented on #19077
@mattip do you want me to go ahead and do a pr man? or is there I should be doing first ?

[2021-05-25 06:20] mattip commented on #19076
Should we really be writing directly to c-level `stderr`? If this line wrote to `sys.stderr.fileno()` instead we would capture it
https://github.com/numpy/numpy/blob/f9a1f3199623d48a4aeaacdcbae6a1851e125cb4/numpy/core/src/umath/extobj.c#L85

There is also the same problem in `arraydescr_dealloc`

https://github.com/numpy/numpy/blob/f9a1f3199623d48a4aeaacdcbae6a1851e125cb4/numpy/core/src/multiarray

[2021-05-25 06:36] mattip commented on #19084
If I understand correctly:
1) At compile time, check if the compiler supports various intrinsics by checking success/failure of compilation, with no regard to the capabilities of the host CPU. This give us the largest set of intrinsics we can use in the code. If the tests fail due to an internal compiler error, that is a compiler bug and should be reported to the compiler vendor. We cannot really

[2021-05-25 06:39] mattip commented on #19077
A cleanup PR would be welcome. Please be sure it only changes the lines you intend to change: sometimes coding tools can "clean up" formatting which makes PRs harder to review.

[2021-05-25 08:21] laazy opened #19091 "memory leak in copy array slice"
numpy array will memory leak when copy array slice in another container.

### Reproducing code example:

[code]

### Error message:
No message

### NumPy/Python version information:
NumPy Version : 1.20.3. See this bug in 1.17.3 also.
Python: 3.7.3 and 3.9.1

[2021-05-25 09:08] mattip commented on #19091
Can you explain what you mean by memory leak? `b = a[-1]` where `a.shape == (3000, 40)` returns a [**view**](https://numpy.org/devdocs/glossary.html?highlight=glossary#term-view) into `a` and keeps a reference to `a`  as `b.base`. If you want a **copy**, you should do `b = a[-1].copy()`.

This is explained also in [indexing](https://numpy.org/devdocs/user/basics.indexing.html#other-indexing-option

[2021-05-25 09:35] laazy commented on #19091
My fault.

I didn't know that. Thanks.

[2021-05-25 09:35] #19091 closed

[2021-05-25 15:43] eric-wieser commented on #19013
I've only skimmed the conversation here, so apologies in advance if I'm repeating things

Are there technical reasons that we can't go through a PEP3118 `memoryview` as an intermediary?

[code]

That is, could a `pep3118_dlpack` library be written that provides _all_ object supporting PEP3118 with dlpack support, not just `np.ndarray`? Or is it impossible to write `pep3118_dlpack.to_dlpack` and `p

[2021-05-25 15:52] hameerabbasi commented on #19013
@eric-wieser I believe the answer is in https://github.com/numpy/numpy/issues/19013#issuecomment-843735344,

[2021-05-25 16:03] eric-wieser commented on #19013
My questions is more along the lines of "is it possible to 'smuggle' simple `memoryview`s through the dlpack interface and vice versa", and less about exactly what the conventions around the python API might look like - so I don't think that answers my question.

[2021-05-25 16:08] akukuq commented on #12961
Excuse me for resurrecting such an old thread. I encountered the same problem as the OP did: `np.angle(xr.DataArray) -> np.ndarray`

Is there any hope this could be fixed?

[2021-05-25 16:29] seberg commented on #19013
The feature set is a bit disjunct: the buffer-protocol supports much more, but doesn't support devices, but I don't think that is what you mean?

If there was a `dlpack.DLPackManagedTensor` library, then yeah... NumPy could effectively import that and use `DLPackManagedTensor.from_buffer()` and `memoryview(DLPAckManagedTensor)`  (I am assuming `DLPackManagedTensor` would implement the buffer proto

[2021-05-25 16:37] cosama commented on #7784
This thread is a bit old, but if anybody else is looking for this I think:

[code]

should work as well and is shorter than @jaimefrio's answer. Getting all the edge cases sorted out properly is a bit tricky (i.e. `b[0] <= a[0]` or `b[-1] >= a[-1]`), but I think this does it right.

[2021-05-25 17:45] jbrockmendel commented on #19078
The non-warning place this is breaking our tests is https://github.com/pandas-dev/pandas/pull/41652/checks?check_run_id=2666093126#step:7:1211 that raises inside np.rec.fromarrays

[2021-05-25 17:49] seberg commented on #19078
@jbrockmendel that one looks like gh-19085, I am looking at it now.  Sorry about that.

[2021-05-25 18:01] jbrockmendel commented on #19078
Thanks.  FWIW i think the relevant cases here involve non-empty strings

[2021-05-25 18:34] seberg commented on #19078
Yeah, the empty string problems should not be too difficult to fix (have to still figure out the right place to fix it though).

You are right:  In any case, the problem is the string promotion with numbers.  I still don't have an idea beyond hoping that a special flag to ingore promotion problems will work.  We would have to expose that as public API for pandas, I guess.  And users mixing strings

[2021-05-25 21:14] langou opened #19097 "Frobenius norm of matrix is overflowing"
https://github.com/numpy/numpy/blob/ecdba3a140126174a6a4d86fe0fbf2ce2ad680f9/numpy/linalg/linalg.py#L2522

I am trying the code below where I am computing Frobenius norms of 2x2 matrix and 2-norm of 4x1 vector.

[code]

The result that I get is
[code]
The result that one would expect is
[code]

So numpy.linalg.norm( matrix, Frobenius norm ) causes unnecessary overflow and underflow. (Typically (1e

[2021-05-25 22:58] jbrockmendel commented on #19078
It seems likely that pandas will have to implement some kind of shim for a while.  I've taken a shot at this https://github.com/pandas-dev/pandas/pull/41665, will see if I can get it passing the CI.

[2021-05-25 23:38] seberg commented on #19078
Thanks, you are running a bit ahead of me.  I still have a little hope I can reorganize it so we can get the warning but not force too much warning related acrobatics on downstream/pandas.

[2021-05-25 23:50] seiko2plus commented on #19084
@boegel,

My bad. Thanks to you, I just realized that ICC has a different behavior when it deals with native/host flags, GCC/CLANG only exposes intrinsics that belong to the enabled CPU features while ICC always defines all those intrinsics no matters they belong to the host/native CPU features or not and that's why all tests are passed on ICC which leads to break the validation mechanism.

I used

[2021-05-26 00:27] D-Pretzel commented on #14770
I also have this issue in VScode - I've added a couple other paths to my 'PATH' environment and it doesn't seem to work.

[2021-05-26 00:52] #19079 closed

[2021-05-26 02:27] seberg commented on #7453
This is fixed in NumPy 1.19 (or 1.20).  You have to provide `dtype=object` though, or you will get the ragged-array warning.  Of course it may not have been quite fixed as mentioned above, since the inferred shape is `(2,)` and not `(2, 2)` (we do _never_ rip apart an array!)

[code]

If that doesn't seem like the right fix, please open a new issue.

[2021-05-26 02:27] #7453 closed

[2021-05-26 02:35] seberg commented on #10301
Closing, keyword arguments will barely add any additional overhead in NumPy 1.21/main.

[2021-05-26 02:35] #10301 closed

[2021-05-26 02:41] seberg commented on #18425
I am considering trying gh-19101, which could actually provide a path forward here as well...  That would allow to opt-in to fall-back to object. OTOH, that isn't actually the current behaviour probably, so...

[2021-05-26 04:46] #18177 closed

[2021-05-26 04:47] shoyer commented on #19085
We hit this in Xarray's test suite as well.

[2021-05-26 04:51] mattip commented on #14770
Please open a new issue, this one is closed. You may have more success somewhere that specializes in VSCode, since this is most likely not a NumPy specific issue. For instance see
- [vscode python issue tracker](https://github.com/microsoft/vscode-python/issues)
- [stack overflow](https://stackoverflow.com/questions/40185437/no-module-named-numpy-visual-studio-code)
- [vs code guide](https://code.

[2021-05-26 04:54] default-303 commented on #19077
@charris I've raised a new PR for unused variables. Can anyone check and give a suitable review?

[2021-05-26 05:00] mattip commented on #19077
Usually review requires a few days. If after a week no-one has reviewed, feel free to ping (without names) in the PR with a "please review" comment.

[2021-05-26 05:25] mattip opened #19103 "gitpod build is failing after merging a PR"
I got a message that a [github actions job failed](https://github.com/numpy/numpy/actions/runs/877249695) after merging a PR. Rerunning the job did not clear the error. The error is in the gitpod docker build:
[code]

@trallard  thoughts?

[2021-05-26 05:42] default-303 commented on #19077
thanks, noted.

[2021-05-26 06:44] Mukulikaa opened #19104 "DOC: `howto_build_docs` needs rewrite"
As per the [documentation team meeting](https://hackmd.io/oB_boakvRqKR-_2jRV-Qjg) on 24th May, [Building the NumPy API and reference docs](https://numpy.org/devdocs/docs/howto_build_docs.html) needs to be updated with the following:

1. Include build guidelines for Windows users; recommend Gitpod and WSL app
2. Explanation for building NumPy before the docs
3. Remove/modify the submodules section

[2021-05-26 07:47] boegel commented on #19084
@seiko2plus Thanks a lot for the detailed feedback!

I've tested the changes in #19098, and I can confirm they fix the reported issue.
I also see this in the output, as expected:

[code]

I now see a handful of `linalg` tests failing due to `nan` issues, but that's not directly related to the problem reported here.

[2021-05-26 07:49] bashtage commented on #19078
It appeared in statmodels pre-release testing when using code like `np.array([True, False]) * 1.0`.  The array is a user-provided array, and the 1.0 was being used to make sure that the array was either float or complex.

[2021-05-26 10:57] mhvk commented on #10301
:fireworks:

[2021-05-26 11:16] thierry-FreeBSD commented on #18471
Same kind of error on FreeBSD: please see https://gist.github.com/thierry-FreeBSD/916b1315f3937244fd11853b4db35c55
And OpenBLAS is identified as:
`OpenBLAS get_config returned b'OpenBLAS 0.3.15 DYNAMIC_ARCH NO_AFFINITY USE_OPENMP Nehalem MAX_THREADS=64'`

[2021-05-26 12:51] pearu opened #19106 "Use Python 3 CAPI features to cleanup PRINTPYOBJERR"
While you're here, we could clean this up using Python 3 CAPI features to
[code]
but maybe cleaning up all the `PRINTPYOBJERR` calls is best left to another PR

_Originally posted by @eric-wieser in https://github.com/numpy/numpy/pull/18759#discussion_r639681353_

[2021-05-26 13:04] akukuq opened #19107 "`np.asarray` defaults to `order='K'`, not `'C'`, as docstring suggests"
## Documentation

Docstring for `np.asarray` states that the `order` keyword argument defaults to `'C'`. However, the default behavior corresponds to `'K'`.
This stems directly from the fact that the implementation of `np.asarray` simply passes its arguments to `np.array` whose docstring clearly states that the default `order='K'`.

https://numpy.org/doc/stable/reference/generated/numpy.asarray.ht

[2021-05-26 14:18] charris commented on #19103
I suspect
[code]

[2021-05-26 14:21] charris commented on #19103
In particular, the use of `--depth 1`.

[2021-05-26 14:52] charris commented on #19103
The version needs to be deep enough to reach the tagged commit `v1.22.0.dev0`. I had to fix the clone depth for wheel builds when we started using versioneer. The `--single-branch` option might be useful, although I think it may be the default. I suspect working incorrectly before.

[2021-05-26 14:54] charris commented on #19103
I would be interesting to see what `FULLVERSION` was before.

[2021-05-26 14:59] seberg commented on #19078
@bashtage but in that case if the array was strings, it would raise an error?  It may be that for some functions there is a warning and then later _also_ an error, though.

Otherwise, do you have a full example in case it is more of a problem?  Right now, I am trying to allow work-arounds for libraries like pandas only.

[2021-05-26 15:01] bashtage commented on #19078
It was just warning about a future error. It only errored on pytest because we were not allowing this warning.

[2021-05-26 16:43] BvB93 commented on #19107
For those interested in tackling the issue: see below for the relevant piece of code.
https://github.com/numpy/numpy/blob/86b9cedb9ac3330ed8c52cebb48f38bfd87298e0/numpy/core/_add_newdocs.py#L907-L927

[2021-05-26 17:15] seberg commented on #19078
I am exploring the possibility of explicitly allowing an "object fallback" if promotion fails here: gh-19101  But we would have to settle on the API at the very least.

[2021-05-26 18:31] himanshu007-creator commented on #19107
Hi i would like to work on this issue. Please assign me this issue

[2021-05-26 18:36] mattip commented on #19107
We don't assign issues. When you make a PR to solve this, refer back to here by cross-referencing this issue, something like `fixes #19107` or `closes #19107` or `xref #19107` to indicate you are working on it. See our [developer guide](https://numpy.org/devdocs/dev/development_workflow.html) for more info. You may want to try the [gitpod docker instances](https://numpy.org/devdocs/dev/development

[2021-05-26 19:46] charris commented on #19103
I tested with a local clone and depth=1 did not provide any tags. However
[code]
did work and was considerably smaller (10734 vs 179319 objects) than a full clone.

[2021-05-26 20:25] seiko2plus commented on #18422
First, the issue appears in (neoverse-n1) processors, while other processors such as (Cortex-A53) do not show any errors. It seems the errors occur if one of the following SIMD features is available (asimdhp asimdrdm asimddp).

Secondly, By testing `LAPACKE_dgeev` with args (LAPACK_ROW_MAJOR, 'N', 'N', ...) on `Cortex-A53` returned zero while `neoverse-n1` was returning the number of dimensions.

[2021-05-26 20:42] #19107 closed

[2021-05-26 20:54] seberg commented on #18529
@charris since you are already on GCC 11, could you try if:
[code]
doesn't fail to compile for you?

[2021-05-26 21:59] seberg commented on #19085
I brought it up briefly on the meeting today.  My preference is to not worry about `np.can_cast("O", "U", casting="unsafe")` (in theory, this is different from `np.can_cast("O", "U0", casting="unsafe")`, in practice, we are not there yet.

There may be another solution available, though:  I do have a "default" casting level stored (that could be checked *without* figuring out the actual string len

[2021-05-26 23:44] melissawm commented on #19104
Hi @Mukulikaa !

I think this should stay there, see #19036.

That is true for `make dist`, but `make latex` is necessary for PDF output. Not sure how often this is needed these days, but I think it should stay there.

[2021-05-27 00:04] pearsonkyle opened #19111 "Different standard deviation values for the same array when cast as different data types"
The code below produces three different outputs for the standard deviation of the same array. I expected these results to be the same or within the precision of their data type. Two out of the three statements below are similar (`int` and `float32`) but `float16` returns inf. Do you know what is going on?

### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version

[2021-05-27 00:11] rkern commented on #19111
Part of computing the standard deviation is computing the mean. Part of computing the mean is computing the sum. The sum of your data is out of range to be represented by `float16`.

[code]

You can request that `std()` use a different intermediate precision to do these calculations:

[code]

[2021-05-27 00:30] pearsonkyle commented on #19111
Thank you!  😊

[2021-05-27 00:30] #19111 closed

[2021-05-27 00:50] keflavich opened #19112 "f2py - arrays above some maximum size segfault when being read from/written to"
f2py appears to have a maximum array size, above which it segfaults.  This is apparently a regression, as I have older versions of f2py (though I can't pinpoint which) that do not reproduce this error.

I haven't bracketed the max size exactly, but (9,999,999) crashes, (1,999,999) doesn't.  I would guess that this is system-dependent and related to available memory, but I'm not sure.

[code]

[cod

[2021-05-27 01:35] charris commented on #18529
@seberg Yes, it fails for me also.

[2021-05-27 02:13] melissawm commented on #19112
Ok, here's what I found: I've tested this example but only reproduced the segfault with GCC 9.3.0. If I use GCC 10.2.0 I get a warning instead when compiling with f2py:

[code]

@keflavich can you confirm which gcc version you are using?

[2021-05-27 02:21] danielcrane opened #19113 "Error when casting ragged list to an array"
When casting a ragged list of `np.ndarray` to an array via `np.array(..., dtype=object)`, if the first dimension of each of the arrays in the list is the same size, a `ValueError` is raised.

When using `np.array(..., dtype=object)` on a ragged list of `np.ndarray` where the first dimension of each of the lists is not equal, the code works as expected and produces an `np.ndarray` of `.shape` `(n,)

[2021-05-27 04:07] seberg commented on #18529
:(, I guess that means we have to report it as a gcc bug if its not fixed in the 11.x branch.

[2021-05-27 04:23] seberg commented on #18529
Created a bug report here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100788 not sure what the GCC folks need with respect to minimal reproducer, but lets see.

[2021-05-27 05:27] Mukulikaa commented on #19104
Thank you @melissawm! I'll send in the PR soon.

[2021-05-27 05:52] seberg commented on #19113
Just to be sure: NumPy 1.18.x has the same behaviour (1.19 had larger changes).

<details> <summary> You are probably well aware that the reason is that the shape is discovered as `(2, 10)` instead of just `(2,)`, since that is as far as the shapes match up: </summary>

[code]
(The second part of the result is the shape – that function exposes the discovery privately, but skips filling the result)

[2021-05-27 05:58] mattip commented on #19085
What about putting a shim into `PyArray_CanCastArrayTo` before [this line](https://github.com/numpy/numpy/blob/main/numpy/core/src/multiarray/convert_datatype.c#L701) to explicitly handle this case, with a test and/or a deprecation warning?

[2021-05-27 06:03] seberg commented on #7428
Close it, as the last comment said:
[code]
raises and mismatches with 0-D arrays.  But that is tricky and most of the discussion is about things that are not relevant anymore.  We should just open a new issue when we run into it again.

[2021-05-27 06:03] #7428 closed

[2021-05-27 06:24] danielcrane commented on #19113
Indeed yes.

I think this case is a little different from the one I posted above, since in this case both of their sizes match exactly, and actually `np.array(x)` would work without an error in the case you posted.

In this example:

[code]

I think that the output of the final line could conceivably be returned as an object array of shape either `(2,10)` or `(2,)`, however I don't personally thin

[2021-05-27 06:29] mattip commented on #19113
I don't think we should touch this. There is no good answer. Users going down this path should pre-allocate their array according to their preferences, and assign as they wish, since no matter what NumPy does it will be wrong for some users. @danielcrane can you do something like:
[code]

See also [NEP 34](https://numpy.org/neps/nep-0034-infer-dtype-is-object.html) which probably does not go far e

[2021-05-27 06:32] danielcrane commented on #19113
@mattip Yes indeed, I'm aware that pre-allocating the array is a way around this, I just thought I'd raise it in case there's some way to make the behaviour more consistent for other users going forward, since it's rather counter-intuitive (to me) that this command will work in all cases **except** for if all elements have the same size in the first few dimensions.

[2021-05-27 06:37] danielcrane commented on #19113
To me personally it'd be better to go further down this route and in the case of ragged lists **require** users to pre-allocate their own array, since the current behaviour (where it works in most cases, but not all) feels like a bit of a trap.

I can easily imagine that there are people relying on `np.array(..., dtype=object)` with a ragged list that aren't aware of this particular idiosyncrasy t

[2021-05-27 08:05] boegel commented on #18422
@seiko2plus Thanks for the help on this!

For me, on AWS Graviton2, I was using the following software versions:
* GCC 10.3.0 + binutils 2.36.1
* Python 3.9.5
  configured with:
[code]
* OpenBLAS 0.3.15, built with:
[code]
   (so not using `DYNAMIC_ARCH`)
   `make tests` passed in full for this OpenBLAS build
* FlexiBLAS 3.0.4 using OpenLAS 0.3.15 as a backend
* numpy 1.20.3, which is linked to Op

[2021-05-27 09:52] #18828 closed

[2021-05-27 11:31] #19030 closed

[2021-05-27 12:22] helloITdepartment commented on #15692
Rather than opening a whole issue for it I figure I'll just post it here (though definitely let me know if this is something I should open an issue for)-
In the "How to create a basic array" section it says the following:

And then gives the example:

While most people who are familiar to programming probably get what's going on, it's technically not correct in that you don't specify the last numb

[2021-05-27 13:01] keflavich commented on #19112
[code]
from anaconda.  In the anaconda channels, there's nothing more recent than 8.2.0.

Do I need to specify a particular version of gcc when using/distributing this code, or is there a fortran workaround?  I don't know much about fortran, but I'll see if I can follow the warning's instructions.

[2021-05-27 13:09] keflavich commented on #19112
the code I'm trying to `f2py` is f77, which apparently doesn't support allocatable arrays?  Unfortunately, I've verified that the data sizes this code has to work on will generally greatly exceed the empirical upper limit.

[2021-05-27 14:19] melissawm commented on #19112
I'll try and investigate a bit, thanks for the info!

[2021-05-27 22:02] ogauthe commented on #19097
This point was recently discussed in scipy implementation (see https://github.com/scipy/scipy/pull/13975). scipy implements nrm2 and lange and as a consequence has a higher overflow ceiling. Calling `scipy.linalg.norm(np.array([1e200, 1e200,1e200, 1e200]), None)` gives the correct `2e+200`, while reshaping it as a matrix sends it to `numpy.linalg.norm` and returns `np.inf`.

[2021-05-28 01:02] melissawm commented on #19112
I don't know yet why this did not raise a warning or error in previous versions of f2py, but maybe the issue was gcc after all. In any case, you can use

[code]

([See more info here](https://gcc.gnu.org/onlinedocs/gfortran/Code-Gen-Options.html))

[2021-05-28 04:29] #18431 closed

[2021-05-28 07:10] kkshitish opened #19122 "OverflowError"
An overflow error, in general, is as its name suggests which means overflow itself defines an extra part, therefore in Python also this occurs when an obtained value or result is larger than the declared operation or data type in the program then this throws an overflow error indicating the value is exceeding the given

Reproducing code example:

[code]

Error message:

    out[i] = value % 2**int

[2021-05-28 07:52] bashtage commented on #19122
This is not a buffer overflow.  This is an intentional error telling you that you are trying to store a Python integer larger than what can be safely converted to a C long, which in your example clearly has 4 bytes of storage.

[2021-05-28 09:28] kk2527 opened #19123 "impot multiarray_math"
### Steps to reproduce:

### Error message:

[2021-05-28 09:28] #19123 closed

[2021-05-28 09:33] bashtage commented on #19122
What are you expecting to happen here?  This is not an error or a bug in NumPy.

[2021-05-28 09:36] #19122 closed

[2021-05-28 10:13] kkshitish commented on #19122
https://user-images.githubusercontent.com/74292871/119968399-0cdcdf00-bfcb-11eb-8697-71776c68d567.mp4

Please check this video and I hope u understand the issue now. Change the label of the report.

[2021-05-28 10:18] kkshitish commented on #19122
Hey @eric-wieser, Please check it now. You can see in this video. Because of Overflow vulnerability. It lead DOS attack and I looking for your response sir @eric-wieser @bashtage.

[2021-05-28 10:20] bashtage commented on #19122
This is not a DOS. This is an exception being raises where it should be raised.  If you are worried about it, you can use a try, except block.

[2021-05-28 10:29] kkshitish commented on #19122
Thank you very much Sir. You share your suggestion @bashtage.

[2021-05-28 10:50] kkshitish commented on #19122
<img width="960" alt="SAME RESPONSE WITH TRY AND EXCEPT " src="https://user-images.githubusercontent.com/74292871/119972736-32b8b280-bfd0-11eb-8d74-7a1e58e1a476.png">
I am sorry to say @bashtage. I get the same response with try and except.

[2021-05-28 10:52] kkshitish commented on #19122
I am looking for your response @bashtage

[2021-05-28 11:11] hughperman opened #19125 "cdouble does not take 2 arguments"
cdouble does not take 2 arguments as described in https://numpy.org/devdocs/reference/arrays.scalars.html#numpy.cdouble

Original use case was to use `cdouble(real_values_ndarray, imag_values_ndarray)`

This may be a documentation issue instead of a code issue, if this behavior was not intended to be used.

### Reproducing code example:

[code]

### Error message:

TypeError: function takes at mos

[2021-05-28 13:32] NickosKal opened #19126 "TypeError: can't pickle _thread.RLock objects"
### Reproducing code example:

[code]

And this is the error I am getting:
[code]
Any suggestions would be appreciated.
Thanks in advance!

[2021-05-28 13:48] bashtage commented on #19126
Can you produce a simpler example that reproduces the problem. Ideally it would be copy and paste runnable in a new IPython session.

[2021-05-28 14:06] keflavich commented on #19112
THANKS!  That appears to have fixed it.

... I can't claim to understand what this has done, but that's the usual case for compiler flags.

[2021-05-28 14:08] NickosKal commented on #19126
[code]

Here is the code where I am using it and I get that error I looked at the .py that the error comes from but still can't figure out what to change in order to fix it

[2021-05-28 14:17] melissawm commented on #19112
Closing as resolved - please reopen if you run into more problems.

[2021-05-28 14:17] #19112 closed

[2021-05-28 14:27] keflavich commented on #19112
Thanks. I already have more problems, but I don't know if they're directly related yet.  The code compiles & runs now (no segfault), but the numbers are wrong.  That could be totally unrelated.

[2021-05-28 14:40] NickosKal commented on #19126
I don't thinks so cause I get this error only when I am using it to save the parameter that I apply fit on as shown above if I try to save something that doesn't have to do with object detection model the function works fine.

[2021-05-28 14:55] BvB93 commented on #19126
What's currently contained within the `numpy_loss_history` array?
Based on what has shown thus far it seems to be an object array containing one or more unpicklable object,
but we need to know more before we can confirm this.

[2021-05-28 15:09] NickosKal commented on #19126
the `history` is trained with images and their annotations. So the `numpy_loss_history` contains the results of the fitting that I am doing. If it is helpfull I could upload all the .py file that I use. Sorry if I am not very helfull I am still trying to learn about object detection models and how they work.

[2021-05-28 15:11] bashtage commented on #19126
The `history` is the problem it sounds like it.  What is the dtype of `numpy_loss_history`?  `object`.  If it is `object`, then some of the things in it are not pickleable.  These are not NumPy objects, and so you will need to report it to the project who has the unpickleable object

[2021-05-28 15:13] bashtage commented on #19126
Also a plausible candidate: https://github.com/matterport/Mask_RCNN/issues/1126

[2021-05-28 15:14] bashtage commented on #19126
And the likely solution: https://stackoverflow.com/questions/47066635/checkpointing-keras-model-typeerror-cant-pickle-thread-lock-objects

[2021-05-28 15:33] bashtage opened #19127 "BUG: np.double accepts arbitrary keyword arguments"
### Reproducing code example:

[code]
[code]
returns
[code]
returns
[code]

### Error message:

No error, but too tolerant of keyword arguments

### NumPy/Python version information:

[code]

[2021-05-28 16:11] NickosKal commented on #19126
Yeah the `numpy_loss_history` has dtype object. Thanks for your time and your help I will read the solotution you posted :)

[2021-05-28 16:18] Mukulikaa commented on #19104
I was wondering if it would be worth it to write a dedicated doc for WSL setup like the one we have for GitPod.

[2021-05-28 17:06] melissawm commented on #5897
General agreement is that this might not be super useful, but creating some general documentation on how NumPy interacts with the GIL might be an option.

[2021-05-28 17:06] #5897 closed

[2021-05-28 17:09] melissawm opened #19129 "DOC: How does NumPy interact with the GIL?"
It would be nice to create a document with a general description of how NumPy treats the GIL.

See #5897 for context.

[2021-05-28 17:09] #19084 closed

[2021-05-28 17:14] BvB93 commented on #19127
Duplicate of https://github.com/numpy/numpy/issues/17532.

[2021-05-28 17:21] bashtage commented on #17532
Also has a default positional value of 0.0 it seems.

[2021-05-28 17:21] #19127 closed

[2021-05-28 18:47] iameskild commented on #18951
@ImenRajhi and I will attempt to work on this issue together :)

[2021-05-28 18:53] #19103 closed

[2021-05-28 20:37] BvB93 commented on #17532
The same holds true for all builtin scalar types as well as `generic` subclasses though,
so this seems more like a feature rather than a bug.

[2021-05-29 03:54] KinglittleQ opened #19133 "numpy.linalg.qr installed by pip return NAN in ARM"
numpy.linalg.qr installed by pip does not work in ARM64, but the conda version works well.

Install command:
`pip3 install numpy`

### Reproducing code example:

[code]

### Error message:

[code]

### NumPy/Python version information:

[code]

## OS
[code]

[2021-05-29 06:38] ruslaniv opened #19134 "Cvxpy installation fails due to NumPy not supporting Accelerate framework"
I have created a new project using pipenv and python 3.8.3.
I have successfully installed numpy 1.20.3 using `pipenv install numpy`
After that I run `pipenv install cvxpy` and installation process finished successfully:

[code]
But after that, when locking the Pipfile.lock, the process fails.
After that, no matter what package I try to install, it successfully installs the package *BUT* then it fa

[2021-05-29 06:39] ruslaniv commented on #19134
I also tried to create a new project using pip as package manager, venv as virtual environment and python 3.8.3 as interpreter.
I had the same type of error, stating that NumPy does not support Accelerate framework.

[code]

<details>
  <summary>Long error output continued</summary>

[code]
</details>

[2021-05-29 13:02] NickosKal commented on #19126
Hey @bashtage the error was solved by changing the np.save to model.save don't know if that way is the right one because the predictions are all wrong

[2021-05-29 14:50] #18490 closed

[2021-05-29 18:58] rgommers commented on #16751
All the functions that use `_convert2ma` are fixed now that gh-18964 is merged. What's left:
- There's a couple of other functions left that don't yet use `_convert2ma`: `clip`, `diff`, `indices`, `squeeze` but should do so.
- `ones_like` and `zeros_like` are in the same code block, but are actually not part of the `numpy.ma` namespace. They should be - so needs converting with `convert2ma`, addin

[2021-05-30 05:13] mattip commented on #19134
Do you see the same error if you create a virtual environment, install numpy and then, without anything else, try to use it ?
[code]

[2021-05-30 07:44] mattip commented on #19104
We could use a [tabbed interface](https://sphinx-tabs.readthedocs.io/en/latest/) with directions for
- linux/macOS/WSL,
- windows,
- gitpod.

Is there a difference between WSL and linux?

[2021-05-30 07:54] mattip commented on #19133
Is this perhaps a graviton2 instance? xref #18422

[2021-05-30 13:50] KinglittleQ commented on #19133
I think it is related to #18422. Thanks for your reply.

[2021-05-30 13:50] #19133 closed

[2021-05-30 15:22] Mukulikaa opened #19136 "DOC: Merging duplicate array broadcasting docs"
@melissawm pointed out that [Broadcasting](https://numpy.org/devdocs/user/basics.broadcasting.html) and [Array Broadcasting in Numpy](https://numpy.org/devdocs/user/theory.broadcasting.html) contain a lot of duplicate content. [Array Broadcasting in Numpy](https://numpy.org/devdocs/user/theory.broadcasting.html) is also an orphan doc(not in any TOC) and is referenced in only one other place (`Tuto

[2021-05-30 17:07] Mukulikaa commented on #19104
Not really. All the Linux commands work in it. I was thinking more along the lines of setting up WSL itself. Though on second thoughts, this [document](https://docs.microsoft.com/en-us/windows/wsl/install-win10) should be enough I guess.

Since instructions for Linux and Gitpod environments are already documented in detail, I think we could aim to include some suggestions for compiler options in t

[2021-05-30 23:51] iouvxz opened #19138 "Why can't numpy.cross produce correct answer for multi-dimensional arrays?"
[code]
output is

`[[   950  11010 -30370]] [[182   2  94]] [   950  11010 -30370]`
Why cant np.cross(v,u) produce correct answer, but np.cross(v,u[0]) can ? All results dtypes are numpy.int32

I'm using python 3.9.2 and numpy 1.20.1 .

[2021-05-31 13:31] kif opened #19141 "Did `numpy.version.short_version` disappear in version 1.21 RC ?"
I noticed the attribute `numpy.version.short_version` no more exists in the latest release candidate (1.21.0RC1) which has been pip-installed on linux-amd64 running python3.9 (binary wheel).

This is breaking some build scripts downstream. I just wonder if it was foreseen to remove this attribute ?

[2021-05-31 13:39] kif commented on #19141
If short_version has been forgotten, I can submit a PR if needed.

[2021-05-31 13:50] WarrenWeckesser commented on #19138
This came up in a question on stackoverflow: ["Why cant't numpy.cross produce correct answer for multi-dimesional array?"](https://stackoverflow.com/questions/67759990/why-cantt-numpy-cross-produce-correct-answer-for-multi-dimesional-array)

The answer to "why" comes down the difference in NumPy's scalar vs array casting rules, e.g.:
[code]

When one of the arguments to `cross` is 1D, the internal

[2021-05-31 13:52] pearu commented on #3425
My first reaction (without looking at code) is that f2py should be fixed by replacing `len(..)` call with `slen(..)` when `len` is used in the context of character `len` specification. Note that there are three kinds of length functions involved here: `slen` and `len` defined by f2py and to be used withing .pyf files, and `len` that is Fortran intrinsic. f2py `len` should be used in the context of

[2021-05-31 18:05] melissawm commented on #19136
Thanks, @Mukulikaa !

I agree that some of the content in the "Array broadcasting in NumPy" can be brought to the main "Broadcasting" page. But some of it definitely reads like a tutorial - might be worth thinking about reformatting that. But this could definitely be a second step once we decide on the basic plan.

One thing to be aware of is potential links to the orphan doc (such as the one foun

[2021-05-31 18:06] melissawm commented on #19104
I think that is definitely the right approach. We don't need to re-write everything, linking to existing docs is perfectly fine.

[2021-05-31 18:23] kkshitish opened #19143 "Limited Dimension Exceeded"
I'd expect this behaviour with '**'

### Reproducing code example:
[code]

[code]

### Error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "mtrand.pyx", line 1169, in numpy.random.mtrand.RandomState.rand
  File "mtrand.pyx", line 423, in numpy.random.mtrand.RandomState.random_sample
  File "_common.pyx", line 270, in numpy.random._common.double_fill
Valu

[2021-05-31 19:18] eric-wieser commented on #19143
If this is already behaving as you expect, what are you asking for?

[2021-05-31 19:34] Daybreak2019 commented on #19000
Anyone can help confirm this issue? thanks.

[2021-05-31 19:34] Daybreak2019 commented on #19038
Anyone can help confirm this issue? thanks.

[2021-05-31 19:39] eric-wieser commented on #19038
This looks valid to me, but probably only happens if memory is exhausted. A patch would be appreciated.

[2021-05-31 19:43] #19141 closed

[2021-05-31 19:47] eric-wieser commented on #19000
This report is almost certainly valid, but I suspect there are lower-hanging bugs in the f2py code. It's probably easier to assemble the strings on the heap using the Python C API than mess with keeping track of buffer lengths.

[2021-05-31 19:51] melissawm commented on #19000
Thanks @Daybreak2019 - string support in f2py is undergoing some changes, I'll include this in the things to check.

[2021-05-31 21:32] Ark-kun opened #19145 "Just importing numpy makes python process commit 3+GB of memory"
Related to https://github.com/vscode-restructuredtext/snooty-parser/issues/24 and https://github.com/networkx/networkx/issues/4857

![image](https://user-images.githubusercontent.com/1829149/120243452-77d12480-c21c-11eb-82ab-a8d7f160e4b9.png)

I expect `import numpy` to commit close to 0 memory.

### Reproducing code example:

[code]

### Error message:
[code]

### NumPy/Python version information

[2021-05-31 21:47] jbrockmendel opened #19146 "BUG/API: np.array([0, max_uint64]) has float64 dtype"
I expected to get uint64

[code]

There seems to be something special going on inference-wise around the int64 bound:

[code]

[2021-05-31 21:59] charris commented on #19145
How many cores do you have?

[2021-05-31 23:19] charris commented on #19146
This is the downside of value based type inference of Python scalars. The zero is converted as signed, umax as unsigned. Then int64 plus uint64 -> float.
[code]
It isn't a bug, but definitely a wart. The best option when mixing unsigned and signed is to specify the dtype.

[2021-05-31 23:59] jbrockmendel commented on #19146
can you point me to the relevant part of the code?

context: im trying to make pandas inference/constructors do fewer passes

[2021-06-01 01:01] charris commented on #19146
Heh, I saw it once upon a time . . . There is similar code in three files: convert.c, scalarapi.c, and abstractdtypes.c. The last is probably what you are looking for.
[code]
The topic of value based conversion has been discussed as part of the new dtype work, @seberg might have more to say.

[2021-06-01 02:30] kkshitish commented on #19143
I didn't expect this behavior. It is throwing error because of size_t as you told. It means size_t is not suitable for "**"

[2021-06-01 02:56] charris commented on #19145
I ask because OpenBLAS pre-allocates memory for each possible thread. The amount should be smaller in 1.20.x, you can  also limit the number of threads with the environmental variable `OMP_NUM_THREADS=8` or a more general app like threadpoolctl.

[2021-06-01 03:24] czgdp1807 commented on #11741
The issue still persists in the master branch. I would like to investigate it.

Following is the stacktrace,

[code]

[2021-06-01 03:44] rkern commented on #19143
`np.random.rand(n, m)` returns an array of shape `(n, m)`. Is that what you meant to type?

This means that no computer on the face of this earth is able to allocate the amount of memory that you are asking for. An array of shape `(3**55, 3**55)` is about `2**147` GiB.

[2021-06-01 04:47] LEELA-SRI opened #19147 "a tad bit inaccuracy"
## Documentation

i would like to have an elaborate explanation of axis. is it the direction it can move through,like through a row and a column?

[2021-06-01 05:24] yosoufe opened #19148 "[MaskedArray] mask.shape diverges from data.shape"
After the following calculation with MaskedArray, the shape of the mask diverges from the shape of the data. While the shape of `data` is correct.

### Reproducing code example:
[code]

### Error message:
No exception or error message is raised. but the last line `print(exp_term.data.shape == exp_term.mask.shape)`
prints `False`. In this calculation the shape of `exp_term.data` is the correct one.

[2021-06-01 05:30] matthew-brett commented on #19147
Are you lookiing at <https://numpy.org/doc/stable/user/quickstart.html#the-basics>?  If so, then the length 2 refers to the length of the first axis of the 2D array, where the second axis has length 3.

[2021-06-01 05:49] pmeier commented on #10161
We are discussing the addition of `isclose` to the array API specification in data-apis/array-api#170 (cc @rgommers). Part of that is about what definition of closeness the standard is going to use. Objectively the definition of `math.isclose` is superior to `np.isclose`. But since `numpy`'s voice has a big weight in the specification, we can't just go for the other definition without getting `num

[2021-06-01 06:30] shoyer commented on #10161
The failing tests are a good indication that would have at least some consequences for the broader ecosystem.

NumPy is not going to change in backwards incompatible ways to fully match the data API spec, so I'm not sure why that concern is relevant here.

[2021-06-01 06:50] mattip commented on #10161
Yes, you can. [NEP 47](https://numpy.org/neps/nep-0047-array-api-standard.html) is the path to do this, and can be extended with a paragraph about a new/better/different `isclose`.

[2021-06-01 07:46] a2448825647 opened #19149 "_multiarray_umath.cp39-win_amd64.pyd Crash"
Embedding Python in C++.  Crash process : Py_Initialize->"import numpy"->Py_Finalize->Py_Initialize->"import numpy".

### Reproducing code example:
[code]
input : 1  3  2  1  3

### Error message:

at 0x00007FF9753DB8E9 (_multiarray_umath.cp39-win_amd64.pyd) (located in PythonVM.exe): 0xC0000005: Access violation occurred while writing location 0x0000000000000008

### NumPy/Python version informat

[2021-06-01 07:51] eric-wieser commented on #11741
Implementing this would amount to moving the python implemention into C, where it can be placed into a gufunc inner loop. This is fairly involved, but it should be possible to largely follow the pattern used by existing functions like `lstsq`

[2021-06-01 08:08] ph4ntome opened #19150 "Reference instead of copy"
In python when you use
a = b[:]
it copies the values of b to list a
In numpy it creates a reference so updating b values will update a values. This is not in comply with standard python practice.

How to reproduce:
a = np.zeros(10)
a[0]=4
b = a[:]
a[0]=5
b
array([5., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

[2021-06-01 08:11] eric-wieser commented on #19149
Numpy doesn't support being imported from multiple interpreters in a single process (even sequentially as you show there) as among other reasons it caches too many objects in static variables that can't be cleared.

Even if we fixed that, the python CAPI makes it quite challenging to implement things correctly with per-interpreter module state. An example is that there is no easy way for an `tp_as

[2021-06-01 08:17] czgdp1807 commented on #11741
Hi @eric-wieser Thanks for the direction. I just started today with `numpy` and made some changes (at Python level) for allowing computation of results for matrices with higher than two dimensions. I will undo those changes and follow the pattern similar to `lstsq`. Could you please confirm if I should add `qr` in `numpy/linalg/umath_linalg.c.src` (see below for the location in the file I am refer

[2021-06-01 08:17] a2448825647 commented on #19149
Ok.....Thanks for your reply

[2021-06-01 08:28] rgommers commented on #10161
This was my feedback. Let me expand a little. Currently all other libraries follow NumPy in using the asymmetric definition. Only the stdlib is the outlier. So if we'd standardize anything right now, we'd choose the current definition in NumPy. The only reason not to do so is if NumPy would change its mind and change the definition currently in use in its main namespace.

This issue has been open

[2021-06-01 08:30] eric-wieser commented on #11741
Yes, that's the right approach I think.

[2021-06-01 10:06] bashtage commented on #19150
This is standard in NumPy and cannot be changed. Slices of arrays create views rather than copies. This is a performance choice, and if you need a copy than you must explicitly use `arr.copy()`

https://scipy-cookbook.readthedocs.io/items/ViewsVsCopies.html

[2021-06-01 10:07] bashtage commented on #19145
Or you can use MKL provided by conda or another packager, which does not have this issue.

[2021-06-01 10:53] pearu commented on #8062
FYI, I am working on implementing a symbolic engine that will allow evaluating the dimension specifications correctly as well as be used in other places where f2py needs to process Fortran expressions.

[2021-06-01 13:22] Aashutosh-kumar commented on #9391
Its till throws the same error

[2021-06-01 13:37] mattip commented on #9391
If you are not using NumPy version 1.13, please open a new issue. If you are, please upgrade.

[2021-06-01 13:59] mhvk commented on #10161
Does the API standard also include values for the defaults for `atol` and `rtol`? I ask since I think the `math.isclose` specification is superior not just in implementation but also in using `atol=0` by default: to me, it has never made much sense that `1e-10` and `1e-15` are considered close by default. If so, a perhaps more interesting question is how many tests fail if we change both the imple

[2021-06-01 14:14] pmeier commented on #10161
@mvhk Note that the API standard does not yet include `isclose`. [I've proposed](https://github.com/data-apis/array-api/issues/170#issue-867751158) the following

[2021-06-01 15:28] mhvk commented on #10161
Yes, I'd agree and by default follow `PEP485`, with its suggestion of not loosing more than half the number of bits of precision that a given float has. So, a question would be how many more tests would break if one followed that logic in numpy...

[2021-06-01 15:56] charris commented on #10161
IMHO, the symmetric version is superior and less surprising. If NumPy could make that change without badly breaking downstream   tests, I would support a transition. The default tolerances are loose enough that I suspect there would not be many failures and they could be fixed by adjusting the tolerances where needed.  NumPy has had several functions for checking tolerances over the years, each ma

[2021-06-01 20:49] finoptimal-dev commented on #17640
Is there a workaround for this?

[2021-06-01 21:03] BvB93 commented on #17640
Since the issue is caused by an overflow of `np.int32` (_i.e._ the default `int`-type on windows) you can use `np.int64` instead.

[2021-06-01 21:05] finoptimal-dev commented on #17640
Thanks, BvB93. Is there a way to map it globally? I have a codebase that works on linux with astype(int) all over it; now I have a Windows developer. Before I consider changing it everywhere it exists, I'm wondering if there's a solution that spares needing to take that route.

[2021-06-01 21:19] pedersor opened #19152 "linalg.cond docs misleading"
In the linalg.cond docs (https://numpy.org/doc/stable/reference/generated/numpy.linalg.cond.html)

The parameters p = -2 and 2 do not seem to give the desired functionality in the docs. Instead of returning the largest and smallest singular values, which the docs suggest, p = 2 returns (largest singular value / smallest singular value, i.e. 2-norm) and p = -2 returns (smallest singular value / lar

[2021-06-02 00:17] ChrisBarker-NOAA commented on #10161
On Tue, Jun 1, 2021 at 8:56 AM Charles Harris ***@***.***>
wrote:

As the author of PEP 485, thanks!

Seriously, there was a LOT of discussion about that PEP, so we had a chance
to get to an "optimum" decision.

Note that the relative tolerance of 1e-8 was not only about half the
precision of a float64, but also was large enough that there would be no
difference in the results for various methods

[2021-06-02 00:57] shoyer commented on #10161
For another a point of reference, I ran this change against Google's large internal codebase. About 1% of test _files_ that depend on NumPy had at least one failure, including 10 files for JAX, and 28 files for TensorFlow.

From my perspective, this would qualify as a "moderately disruptive" breaking change: way easier than something like Python 2 -> 3, but significantly more breakage (and with mo

[2021-06-02 01:33] nstarman opened #19153 "``flatiter`` when big-endian does not update index"
There is a difference in the operations of ``numpy.flatiter`` between little-endian versus big-endian machines. Specifically, the ``.index`` and ``.coords`` attributes update on the ``flatiter`` instances when little-endian, but not when big-endian.

CC: @pllim, @mhvk
See https://github.com/astropy/astropy/issues/11804 and https://github.com/astropy/astropy/pull/11806 for initial bug report and te

[2021-06-02 04:27] ChrisBarker-NOAA commented on #10161
On Tue, Jun 1, 2021 at 5:58 PM Stephan Hoyer ***@***.***>
wrote:

probably true, yes.

agreed. I've been known to do that for sure ;-) Though I do also find
myself having to update the tolerances with changes in the code that
"shouldn't" change anything, so having to update with a new numpy would not
shock me.

probably not -- though the mingling of relative and absolute tolerance is
something tha

[2021-06-02 06:45] pmeier commented on #10161
I'll run my checks again using these default `rtol`'s for floating point data types:

| `dtype`       | Mantissa bits | approximate [ULP] in base 10† | proposed default `rtol`‡ |
|---------------|---------------|----------------------------------|--------------------|
| [`np.half`]   | 10            | `4.88e-4`                        | `1e-3`             |
| [`np.single`] | 23            | `5.96e-

[2021-06-02 09:09] Ark-kun commented on #19145
I have 32 cores. AMD Ryzen 5950x. Finally managed to get it after so many months.

Interesting. The `multiprocessing` module makes this quadratic as it creates a new process per core.

[2021-06-02 10:28] pmeier commented on #10161
- [`numpy-6790873`](https://github.com/numpy/numpy/tree/6790873334b143117f4e8d1f515def8c7fdeb9fb): 1 failing test (no change)
- [`scipy-91cd88d`](https://github.com/scipy/scipy/tree/91cd88dad619db81be9d6ae0946d9e02a614bb07): ~100 failing tests.
- [`scikit-learn-6850c04`](https://github.com/scikit-learn/scikit-learn/tree/6850c04186b88e88e9c8cd6eb673721af806e3da): 6 failing tests

[2021-06-02 10:32] BvB93 commented on #10161
How would these proposed values work for `longdouble` (and `clongdouble` by extension)?
Its precision is highly platform-dependant and can, from the top of my head, be either 64, 80, 96 or 128 bit.

[2021-06-02 10:35] BvB93 commented on #17640
I think you might be out of luck here. As far as I'm aware there is no way of manually setting the default integer type to something different from what is specified by the platform in question.

[2021-06-02 10:41] pmeier commented on #10161
For my checks I went with the [quadruple-precision floating-point format](https://en.wikipedia.org/wiki/Quadruple-precision_floating-point_format), so 128 bits with a 112 bit mantissa.

For 64 bits, would there be any difference between `np.double`?

In practice we could fall back for `np.longdouble` and `np.clongdouble` to the same precision as `np.double` and `np.cdouble`, which still would be s

[2021-06-02 10:50] BvB93 commented on #10161
There wouldn't be, hence the issue with hard coding a default value that assumes `np.longdouble` to be a 128 bit float.

There is: [`np.finfo.nmant`](https://numpy.org/doc/stable/reference/generated/numpy.finfo.html) is what you're looking for here.

[2021-06-02 11:31] charris commented on #10161
Thinking about it more, the argument for the numpy version is that it checks closeness to a wanted value, whereas the python version has no preference between the  two values.  One can argue for both, isclose vs areclose :)  The first might be better for testing, the second for arbitrary pairs of numbers.

[2021-06-02 11:54] pmeier commented on #10161
@BvB93

In that case we could simply use that with the formula I gave in https://github.com/numpy/numpy/issues/10161#issuecomment-852783433 to calculate the default precision. Since the platform is fixed during a run, we only need to do this once and not for every call.

A user that is unhappy with this variable approach can of course simply fix the tolerances. In fact, IMO relying on the default

[2021-06-02 11:58] pmeier commented on #10161
@charris

@rgommers had the same argument in https://github.com/data-apis/array-api/issues/170#issuecomment-833755417 so I will replicate [my answer](https://github.com/data-apis/array-api/issues/170#issuecomment-834136213) here:

Trying to look at this without bias, the name "close" does not imply asymmetric behavior for me. It is in the same category as "equal" and not "greater then" or the like

[2021-06-02 13:15] pllim commented on #19153
FWIW, the test log is at https://github.com/astropy/astropy/pull/11806/checks?check_run_id=2722593731 . You can also see in https://github.com/astropy/astropy/blob/main/.github/workflows/ci_cron_weekly.yml how the s390x job is set up.

[2021-06-02 14:45] sg-s commented on #7452
@njsmith you said "here should be one obvious way to do it"

I present the following ways in which you can do things with numpy arrays:

| What I want | `foo(thing)` | `np.foo(thing)` | `thing.foo` | `thing.foo()` |
| ------------ | ---------- | --------  | ----------- | ---- |
| shape        | ❌ |  ✅      |  ✅   | ❌ |
| mean        |  ❌        |  ✅ | ❌  | ✅ |
| diff        |  ❌ | ✅  | ❌ | ❌|
| dt

[2021-06-02 15:10] seberg commented on #19146
Hmm, the last one should be the important one, yeah.  There are two things to note here:

1. The integer "ladder" is a bit distinct from value-based promotion/casting.  This is `long -> long long -> uint long -> object`
2. `np.array([1, np.uint64(3)])` does *not* really use value-based promotion.  It uses the "default" for the first integer.  (I had a first version once that was capable of using v

[2021-06-02 15:36] ChrisBarker-NOAA commented on #10161
On Wed, Jun 2, 2021 at 4:58 AM Philip Meier ***@***.***>
wrote:

See the PEP for the analysis, but if the relative tolerance is small (about
half or less teh available precision) it actually makes no difference
anyway :-)

There was a use-case for an asymmetric version, and it wasn't testing, it
was things like, say checking whether a a measured value was within some
tolerance of expected -- say,

[2021-06-02 15:46] ChrisBarker-NOAA commented on #10161
Even if we all agree that there's a "better" way to write isclose() and
assert_allclose(), they are not actually broken, and backward compatibility
is a big issue. Even if it's a smal percentage of uses that will change --
a new version of numpy that breaks even a few the tests (or worse, actual
code) of thousands of code bases is a real problem.

So how DO we transition numpy to newer, better met

[2021-06-02 16:21] mattip commented on #10161
I think this is exactly why we have a separate namespace for the [NEP 47](https://numpy.org/neps/nep-0047-array-api-standard.html) compatibility layer. Once we offer the alternatives there, we can slowly try to move those behaviors into the main NumPy namespace after an appropriate deprecation cycle.

[2021-06-02 17:00] shoyer commented on #10161
Well, we have Ralf's NEP 23: https://numpy.org/neps/nep-0023-backwards-compatibility.html

I think the case of `np.histogram` is probably the best precedent here.

If we were going to do this, the way to do it would be with new function name or namespace. This lets users migrate on their own time without needing to change code twice.

[2021-06-02 17:45] mhvk commented on #10161
It seems there are really two issues in the revival of this thread: what to pick for the API standard, and whether to adjust numpy's implementation. To me, the former seems fairly easy: pick the better stdlib implementation (to me, actually better mostly because of a default `atol=0`).

Changing numpy's implementation is much trickier - I might wish to ignore the breakage myself, but really that's

[2021-06-02 17:46] jbrockmendel commented on #19146
Do you mean you wouldn't do _any_ inference in `np.array` when passed a list and no dtype?  I must be misunderstanding.

Is a "best lossless" option on the table? (basically what clean_index_list described below aims for)

Poor wording on my part.  I was actually asking about the part of the code that iterates over a not-yet-ndarray sequence to infer a dtype as part of the constructor.  This would

[2021-06-02 18:50] ChrisBarker-NOAA commented on #10161
On Wed, Jun 2, 2021 at 10:45 AM Marten van Kerkwijk <
***@***.***> wrote:

But I think this is a real wart in numpy right now.

The asymmetric test is not that big a deal, but these are big deals, that
probably are causing hidden broken tests in folks' code right now:

* numpy.isclose (and allclose) and numpy.testing.assert_allclose have
different defaults -- that's a serious source of confusion,

[2021-06-02 20:22] seberg commented on #19146
Sorry, "value-based promotion" is not currently used for `np.array`, it just uses "plain" promotion!  The value-based part comes in mainly for `np.result_type` and operations, such as `float32_array + 4.` returning a float32 and not a float64!

Some thoughts below, but maybe we should chat about this a bit?  I think that pandas could leverage NumPy in principle, and that may well be worth the trou

[2021-06-03 00:31] HyukjinKwon opened #19154 "Broken bool supports in NumPy's percentile"
https://github.com/numpy/numpy/pull/16273#discussion_r641264085 broke the case of `percentile` with bools which causes to break pandas pandas' `quantile` too:

[code]

**Before**

[code]

**After**

[code]

### Reproducing code example:

[code]

### Error message:

**Before** (NumPy 1.19)

[code]

**After**

[code]

### NumPy/Python version information:

[code]

[2021-06-03 03:20] dumb-stuff opened #19155 "When there's numpy for Python 3.10.0b2"
## Feature

I want to use numpy but when I build it throw errors
# Logs of error
[code]
Please build wheel file for Python 3.10.0b2.

[2021-06-03 07:04] 2sn opened #19157 "f2py - allocatable arrays as function parameters"
## allocatable arrays as function parameters

Some subroutines may need to return variable size arrays based on the properties of the result, in my case a dimension that comes from another module (`jmz`, in my example).   But it seems the current wrapper mechanism in f2py is not really set up for this.

Or, it may very well be that I am missing something, and workaround suggestion would be very mu

[2021-06-03 07:20] beew opened #19158 "numpy linalg test fails, svd doesn't converge when linked to openblas"
numpy.test() failed on one test when linked to openblas

[code]
This is the error message
[code]

The outputs
[code]
OS Ubuntu 20.04
python-3.8.10
numpy 1.20.3

numpy was compiled against MKL from source

[code]

If dynamically linked to MKL, then all tests passed, but if linked to OpenBLas (via update-alternatives) then this one test failed.

[2021-06-03 07:29] 2sn commented on #18684
I have some f90 codes I wrap with `f2py` and in these using `character(len=n)` does not seem to cause issues.

[2021-06-03 08:02] eric-wieser commented on #17835
If we want to do anything here, it would probably be catching the `ValueError` and trying to diagnose the cause. I suspect the difference iin message between 1.19.4 and 1.14.6 is the version of the lapack library being used.

[2021-06-03 08:24] 2sn opened #19159 "f2py - missing c-type option"
## f2py documentation

in

https://numpy.org/devdocs/f2py/advanced.html

in list of support data types for the `.f2py_f2cmap` file, `long` is not mentioned.

Although obvious, maybe useful to add for completeness.

[2021-06-03 11:46] Dr-Irv opened #19160 "np.searchsorted documentation and typing missing that single values are allowed"
## Documentation

The documentation (and associated typing in the `pyi` files) for `np.searchsorted` is missing that you can pass a single argument. and get a single integer as the return type.

https://numpy.org/doc/stable/reference/generated/numpy.searchsorted.html

Example code that illustrates this:

[code]

Result of running this is:
[code]
If I uncomment the `reveal_type` lines, the types of

[2021-06-03 11:58] 2sn opened #19161 "f2py - f2cmap fails on common blocks in f90"
### Reproducing code example:

The code (`data.f90`)

[code]
fails compile with f2py, whereas without the common block,
[code]
 it just compiles fine.  (Sadly, I require common blocks since I cannot import data from external modules.)
I use a custom `.f2py_f2cmap` file
[code]
and I do get affirmative output
[code]

It applease some F77 module file is created, but my `use` statement may be ignored.

[2021-06-03 13:47] melissawm commented on #19161
Thanks for the report, @2sn - we'll try to look into it as soon as possible.

[2021-06-03 14:30] 2sn opened #19162 "f2py - interface for external modules and module data"
## f2py interface for external modules and module data

# Background
Recently code I used was changed from using common blocks and include files to f90 code where this information now resided in a module.  With the previous setup, I could just include the include file in a module that then was compiled with f2py.

First a naive question, in case there is a clever solution: is is possible to access

[2021-06-03 14:31] Vincent0706 opened #19163 "Could you show me the source code of numpy.arange?"
I want to see the source code of numpy.arange to known more about the arange. But I can't find that in the files. Could you show it for me?

[2021-06-03 14:36] 2sn commented on #19162
I should add I was somewhat optimistic seeing the file `numpy/f2py/use_rules.py` by Pearu Peterson, but it also states "Unfinished.".

[2021-06-03 14:51] rkern commented on #19163
It's implemented in C.

https://github.com/numpy/numpy/blob/main/numpy/core/src/multiarray/ctors.c#L2944-L3029

We prefer that questions like this be asked on the [numpy-discussion mailing list](https://www.scipy.org/scipylib/mailing-lists.html) and reserve the issue tracker be for bug reports and feature requests. I'm going to close this. If you have followup questions, the mailing list would be

[2021-06-03 14:51] #19163 closed

[2021-06-03 15:10] Vincent0706 commented on #19163
OK, thanks a lot!

[2021-06-03 16:18] charris commented on #17640
There has been some discussion about changing the default type. I believe the use of c_long is inherited from early python.

[2021-06-03 16:55] seberg commented on #17640
[I had a PR once](https://github.com/numpy/numpy/pull/16535) to make it `np.intp` at least, so that 64bit windows would at least use 64bits (making the rule "64bit on 64bit systems").

That was mainly for discussion, but I am more and more seeing a NumPy 2.0 in any case, and this might be important enough to fold in if it happens.  (Even if I would prefer to not do too many of such changes at once

[2021-06-03 17:38] MarsBarLee commented on #19136
@Mukulikaa If we do go forward with recycling the chosen diagrams, I can certainly convert them!

We can also expand on 'Add corresponding captions/explanations for each figure' to include 'alt-text' ([here are some examples of alt-text for graphs](http://diagramcenter.org/specific-guidelines-g.html#71)). Alt-text is one of the things we're looking at to make the NumPy docs and website more access